c520d9da20ad7f1d/flows.json
[{"id":"c520d9da20ad7f1d","type":"tab","label":"[ETL pipelines] Open Sanctions","disabled":false,"info":"### Description\n\nRebuilding Open Sanctions data retrieval for knowledge and wisdom. \n\nA specific use-case for Node-RED: repeatable data collection, organisation and storage. A kind of ETL pipeline using Node-RED.\n\n**This is work in progress.**\n\n### FAQs\n\n*Why Open Sanctions?*\n\nBecause their [codebase](https://github.com/opensanctions/opensanctions/tree/main) is open source and all their [dataset sources](https://github.com/opensanctions/opensanctions/tree/main/datasets) are well documented - both for the human and for the machine.\n\n*Why do this in the first place?*\n\nCouple interesting issues arise: \n\n- can Node-RED handle all the different data formats?\n- can Node-RED provide the same functionality as a Python data crawler?\n- how best to use the existing data - the yaml specifications?\n\nThere are no best practices (that I know of) for doing this in Node-RED, so lets see if it will blend!\n\n*Different data formats, what different formats?*\n\n- <a class='ahl-group-only' data-ids='6faae8a6a0d1e37a'>JSON</a>\n- <a class='ahl-group-only' data-ids='793df5246ed23927'>XML</a>\n- <a class='ahl-group-only' data-ids='d4eef68edc7d60ba'>Excel .xsl</a>\n- <a class='ahl-group-only' data-ids='873c249985349886'>Excel .xslx</a>\n- <a class='ahl-group-only' data-ids='7faba8c7cfc07bb5'>Zip with CSV + Json</a>\n- <a class='ahl-group-only' data-ids='164e6cd0e78e06db'>sparql queries</a>\n- <a class='ahl-group-only' data-ids='91f4c4ebd2cd7ac6'>Tar.gz</a>\n- <a class='ahl-group-only' data-ids='004e9d72a2266601'>bz2</a>\n- <a class='ahl-group-only' data-ids='70a1f0a8fae22171,e7bcc0f7a29d7747'>Json lines</a> - [definition](https://jsonlines.org/)\n\n*How to represent a large codebase?*\n\nAnother uncertainity that will arise is the representation of a large collection of data sources. How does one organise the flows, the subflows, modifications to existing nodes, etc.\n\n*Of course all of this already exists in Python form, why do it again?*\n\nNode-RED is a completely different paradigm to Python and perhaps there are advantages, as there are disadvantages in using Node-RED but what are they?\n\n### Extensions\n\nBecause some conversion operations take longer (especially if using a Raspberry Pis), I added node status updates to some packages. This makes it clear what a flow is currently doing. Packages changed are <a class='ahl-group-only' data-ids='96c48b4780af3ad0,504b4c62b93abf9e,63efce4568e79d69'>xlsx, zip and iconv</a>. (This was done using the [nodedev](https://flows.nodered.org/node/@gregoriusrippenstein/node-red-contrib-nodedev) package, so the code is also included in this flow.)","env":[]},{"id":"7faba8c7cfc07bb5","type":"group","z":"c520d9da20ad7f1d","name":"kp/rusi_reports","style":{"label":true},"nodes":["9f66185f5115641b","0231b43f62f94a44","69fc44f421efbf84","6da05d7a183bce78","d47aeb3680af0f53","5e963ebea0393011","011ba7a5692c127c","68e2e157cb47bad1","2c5c37db8114b8a3","5df417ba0090dcb9","9db4b0986e590493","f8d8b5c0dc13492c","82d3965c87073975","cbb617ce49e18f08","e7bcc0f7a29d7747"],"x":2243.8333740234375,"y":1546.4304453531895,"w":1015,"h":768,"info":"https://github.com/opensanctions/opensanctions/tree/main/datasets/kp/rusi_reports"},{"id":"96c48b4780af3ad0","type":"group","z":"c520d9da20ad7f1d","name":"Package: node-red-contrib-zip@1.1.0","style":{"label":true,"label-position":"ne","color":"#001f60"},"nodes":["d149e7b0d6896a42","840ee422b3911a45","34a0a72770728e88","4cdd183364d6a0c8","5ba84327e03d40d7","7c993a0711b4b5cd","38c7657badb392f3","fb1605501137edf8","ec3d72cdf3ee5a5b","46bf71a07205a8e8","212bf5c318fa4a45"],"x":6165,"y":875.125,"w":482,"h":611},{"id":"9ee326abe24350e4","type":"group","z":"c520d9da20ad7f1d","name":"helper - get data.url from yaml","style":{"label":true},"nodes":["165f1f324f09f0e6","9c702910e786d871","1886304455c0ccf6","8ff1a258b74e3d6d","bb981221defac279","fe8ae85d5fbf54d2","dbe0fecd2bdf58f9","771c88f02cad5861","a243c0aed7606378","b93d0d37d3cb9fae","21789cc897632ace","e21a392040bf765e","b79c606f47fe1ba1","1a65c87ad6459389"],"x":3657,"y":727.6666259765625,"w":867,"h":436},{"id":"504b4c62b93abf9e","type":"group","z":"c520d9da20ad7f1d","name":"Package: @martip/node-red-xlsx@1.0.2","style":{"label":true,"label-position":"ne","color":"#001f60"},"nodes":["9738c25c4c8a2ccc","9a4b806137978c27","93627224cfd9c5be","ca9fc0f220af699e","36066ff0fd0e007a","61bba0cea58cc6cd","43c9952725d7cb1e","14b423a6aed1f12d","af4deb47ba8a7d3c","4db490c7840ead0c"],"x":5553,"y":875.125,"w":490,"h":562},{"id":"873c249985349886","type":"group","z":"c520d9da20ad7f1d","name":"au/dfat_sanctions","style":{"label":true},"nodes":["459a154d1276149e","303df699fa9c748f","f53453dd80e49047","a26bc71c206fdcdf"],"x":373.8333740234375,"y":492.3194351196289,"w":768.5,"h":82,"info":"https://github.com/opensanctions/opensanctions/tree/main/datasets/au/dfat_sanctions"},{"id":"6faae8a6a0d1e37a","type":"group","z":"c520d9da20ad7f1d","name":"us/cia_world_factbook","style":{"label":true},"nodes":["d810c0832ccec92b","7708b4b6b15c6d81","9d81125a67357b5f","149d8336831825af","d41d5e63149f00ec"],"x":2243.8333740234375,"y":2364.333221435547,"w":991.5,"h":82,"info":"https://github.com/opensanctions/opensanctions/tree/main/datasets/us/cia_world_factbook"},{"id":"793df5246ed23927","type":"group","z":"c520d9da20ad7f1d","name":"ca/dfatd - see info","style":{"label":true},"nodes":["90f4f4465568045c","301b9ff82cc55c2b","1b4e8160dc4f87cd","13dbfda38a3c0b2c","13878e620cef349b"],"x":373.8333740234375,"y":1157.7777709960938,"w":991.5,"h":82,"info":"https://github.com/opensanctions/opensanctions/tree/main/datasets/ca/dfatd\n\ndateOfBirth [formats](https://github.com/opensanctions/opensanctions/blob/87ac0829ff94e9ca96e047ebdb8b89c3da58a1c5/datasets/ca/dfatd/crawler.py#L9) are d-m-Y but the actual data is:\n\n![img](https://cdn.openmindmap.org/content/1704394731230_Screen_Shot_2024-01-04_at_19.58.30.png)\n"},{"id":"d4eef68edc7d60ba","type":"group","z":"c520d9da20ad7f1d","name":"ae/local_terrorists","style":{"label":true},"nodes":["40f5eb9049a540c8","19baa3125007f7ca","25e8b1057c5238c6","fbadfaa5662ee35d","770ee633e5f69464","0bc0c11002ea805c","feb60680a815c558","c53bd42c839368cf"],"x":373.8333740234375,"y":252.16665649414062,"w":1140,"h":192.5,"info":"https://github.com/opensanctions/opensanctions/tree/main/datasets/ae/local_terrorists"},{"id":"d3d2a8c4d33acafe","type":"group","z":"c520d9da20ad7f1d","name":"_wikidata/oligarchs","style":{"label":true},"nodes":["bcef11a03c612b0a","89558d9bde6876a3","04355985be3ffa5d"],"x":2247.5,"y":255.70831298828125,"w":605.5,"h":82,"info":"https://github.com/opensanctions/opensanctions/tree/main/datasets/_wikidata/oligarchs"},{"id":"689d83262682926f","type":"group","z":"c520d9da20ad7f1d","name":"_wikidata/curated","style":{"label":true},"nodes":["ec1247aeae29614d","a304a7c400d4fddf","6199fe1efbaddc30"],"x":2247.5,"y":367.3541564941406,"w":605.5,"h":82,"info":"https://github.com/opensanctions/opensanctions/tree/main/datasets/_wikidata/curated"},{"id":"9d492e9c19ccfe69","type":"group","z":"c520d9da20ad7f1d","name":"helper - set context","style":{"label":true},"nodes":["9e806d3dc78cb378","fe2ff86fd6f6cb7f","bb8c94859fb0b992","7ad4119305615f67","02bbf0e717c9547e"],"x":3657,"y":196.333251953125,"w":468,"h":342.3333740234375,"info":"The msg.context becomes the yaml retrieved from open sanctions git repo."},{"id":"164e6cd0e78e06db","type":"group","z":"c520d9da20ad7f1d","name":"_wikidata/peps","style":{"label":true},"nodes":["3902d092742273fd","6db1fa64f26488ea","87b7e0487d90056b","f73502b924b4f099","2fccd7114fcb9018","ef440ae57f2cc25b","5e172878b785b378","77f01573142b6ecd","701b6532f4a0b112","a7967cc2a64ddbc3","5dd6452249862ea4","dae5c014d4bae461","013c48b3075180f9","d5541243d4c21af2","9b9cee2e756f9d55","a00884db2d6f675d","3e51e918514d2907","9c3c4abf3787188a","ac4e923c50f5d1a7"],"x":2247.5,"y":479,"w":969.5,"h":647,"info":"https://github.com/opensanctions/opensanctions/tree/main/datasets/_wikidata/peps"},{"id":"ab68f3aaef4569e1","type":"group","z":"c520d9da20ad7f1d","name":"be/fod_sanctions","style":{"label":true},"nodes":["e716d038089d5cc5","e3c8294c5486fc15","3583bcad33d9f3ba","5e7904ccd1e78eeb","fe7b7fe80e5ea060","cee38969d215cb9a","941e9ea1dc1c5b82"],"x":373.8333740234375,"y":621.9722137451172,"w":966,"h":152,"info":"https://github.com/opensanctions/opensanctions/tree/main/datasets/be/fod_sanctions"},{"id":"63efce4568e79d69","type":"group","z":"c520d9da20ad7f1d","name":"Package: node-red-contrib-iconv@0.0.3","style":{"label":true,"label-position":"ne","color":"#001f60"},"nodes":["3880ca01619bd07a","0935d526dc02842c","eac9dc676ecafd22","22a4cfc1473e1a86","07e83e51bef609b9","7d78279afd22dcc5","ccf3adb86595f213","94baaba7a4f5012d","5cd840195bd5477c"],"x":6706,"y":875.125,"w":622,"h":482},{"id":"627cb5fcdc981c7b","type":"group","z":"c520d9da20ad7f1d","name":"br/pep","style":{"label":true},"nodes":["6f27cc1c64dd46d7","40846c6803722622","1ef673d2ad20ce87","22ea66409ad5bfbd","7cbc3af89cf8327f","b31842341ce089bb","cdfec906a2e6d6eb","d8893b5ba42d4060","93bc5adb68fb418b","f934c57e80c0169c","239389f853cae378","b6ac42c3f42868a5"],"x":373.8333740234375,"y":821.6249923706055,"w":1097.5,"h":288.5,"info":"https://github.com/opensanctions/opensanctions/tree/main/datasets/br/pep"},{"id":"7f594fe716c8b41e","type":"group","z":"c520d9da20ad7f1d","name":"ch/seco_sanctions","style":{"label":true},"nodes":["d0c4fafd0e99f3c4","f20bafb815e8c547","9e938dd13124dbad"],"x":373.8333740234375,"y":1480.0833282470703,"w":522.5,"h":82,"info":"https://github.com/opensanctions/opensanctions/tree/main/datasets/ch/seco_sanctions"},{"id":"537ec8ef34a9f817","type":"group","z":"c520d9da20ad7f1d","name":"ch/finma","style":{"label":true},"nodes":["ae4a53b9c9a92ee6","0f3ecf142815e085","1c0327d0fe330fc5","8d2f2310791ce1c5","564355d9d994ed01","dd1128b5b2fee7d0"],"x":373.8333740234375,"y":1287.430549621582,"w":1144.5,"h":145,"info":"https://github.com/opensanctions/opensanctions/tree/main/datasets/ch/finma"},{"id":"73d5c22406dd9a58","type":"group","z":"c520d9da20ad7f1d","name":"co/join_dots","style":{"label":true},"nodes":["13283b2e1cac089f","683e1c14006f27be","1cec1cc021c2bb0b"],"x":373.8333740234375,"y":1609.7361068725586,"w":618.5,"h":82,"info":"https://github.com/opensanctions/opensanctions/tree/main/datasets/co/join_dots"},{"id":"0f1d81629f8a30bf","type":"group","z":"c520d9da20ad7f1d","name":"co/funcion_publica","style":{"label":true},"nodes":["b4d32a9c9a54bd9b","b17f8aa1d0b32674","79726b17a27e8bd7"],"x":373.8333740234375,"y":1739.3888854980469,"w":618.5,"h":82,"info":"https://github.com/opensanctions/opensanctions/tree/main/datasets/co/funcion_publica"},{"id":"c102c88e7c56f649","type":"group","z":"c520d9da20ad7f1d","name":"cu/inventario_legislatura","style":{"label":true},"nodes":["1e568cecb5232e09","414aa51f5065c431","2e20aba5af1ed23b","b72fb06ca905586b"],"x":373.8333740234375,"y":1869.0416641235352,"w":941.5,"h":82,"info":"https://github.com/opensanctions/opensanctions/tree/main/datasets/cu/inventario_legislatura"},{"id":"ce0a7b79d10ae64c","type":"group","z":"c520d9da20ad7f1d","name":"cy/companies - see info","style":{"label":true},"nodes":["52d3902c253e3cd9","c5e1234e951da169","db47b97bb81d1380","ceb3c3de96df298f","bac0b9388ec89d12","3b1d866522c92f57","988502820eeecc5e","a64cc856c648446f"],"x":373.8333740234375,"y":1998.6944427490234,"w":1600.5,"h":82,"info":"https://github.com/opensanctions/opensanctions/tree/main/datasets/cy/companies\n\nNOTE: format is incorrect (this [version](https://github.com/opensanctions/opensanctions/blob/a9d464c853dbe5f960e6310dda072d5994a583c5/datasets/cy/companies/cy_companies.yml)) - its HTML but should be ZIP+CSV"},{"id":"91f4c4ebd2cd7ac6","type":"group","z":"c520d9da20ad7f1d","name":"cz/business_register - see info","style":{"label":true},"nodes":["8bbd7f053c48ed0d","73448365796efa66","447bc43efc6ee0c8","402740a6ef4efee9","b3b21b1f859182a6","135ffdfc63373294","d36679ea0f1dca48"],"x":373.8333740234375,"y":2128.3472213745117,"w":1525,"h":384,"info":"https://github.com/opensanctions/opensanctions/tree/main/datasets/cz/business_register\n\nNOTE: original data url has changed."},{"id":"004e9d72a2266601","type":"group","z":"c520d9da20ad7f1d","name":"de/offeneregister","style":{"label":true},"nodes":["886009b2d1c31539","9db351c1124ac7ba","7f894724a4c75452","bc3fbd5c18074048","70a1f0a8fae22171","dbae00e6e96bbf62"],"x":373.8333740234375,"y":2560,"w":1375,"h":483,"info":"https://github.com/opensanctions/opensanctions/tree/main/datasets/de/offeneregister"},{"id":"70a1f0a8fae22171","type":"group","z":"c520d9da20ad7f1d","g":"004e9d72a2266601","name":"JSONL format","style":{"label":true},"nodes":["ec6c52ec09ce1e5a","2a6cf22ebf6931df","0ab6e9fc4f0cb9ca"],"x":1178.8333740234375,"y":2788,"w":361,"h":201,"info":"https://jsonlines.org/"},{"id":"e7bcc0f7a29d7747","type":"group","z":"c520d9da20ad7f1d","g":"7faba8c7cfc07bb5","name":"JSONL format","style":{"label":true},"nodes":["072a152092fbdb93","1cbfb9d4624bc469","8105ed7385b51ca4"],"x":2966.8333740234375,"y":1977.4304453531895,"w":252,"h":188},{"id":"d36679ea0f1dca48","type":"group","z":"c520d9da20ad7f1d","g":"91f4c4ebd2cd7ac6","name":"obtain original data - ~670MB","style":{"label":true},"nodes":["aab6aacddc1f9322","30e16e11952ac995","d1d555b4dc5a52c9","43367385aa8c226f","7506121323ac8d6e"],"x":444.8333740234375,"y":2154.3472213745117,"w":546,"h":199},{"id":"dbae00e6e96bbf62","type":"group","z":"c520d9da20ad7f1d","g":"004e9d72a2266601","name":"obtain original data - ~260MB","style":{"label":true},"nodes":["06cd5caac27d6051","46a8a012bf792fe4","71214b8d901e0380","ba3ed4bbc7ce24a5"],"x":460.8333740234375,"y":2586,"w":601,"h":175},{"id":"2adeafaea205b686","type":"group","z":"c520d9da20ad7f1d","name":"de/abgeordnetenwatch","style":{"label":true},"nodes":["4fc8b2927b4f4d43","97b4ce3e6e2bb332","4252ceddfeb11048","be85ec166afd4db1","7e1b2dfb754291de","3db3d32b93178fb7","545f7f08f3847611","47739bfe640d4e77","9734601bdefb03fc","52dfe72f8c8964e9"],"x":380,"y":3077.5,"w":1718.5,"h":214.75,"info":"https://github.com/opensanctions/opensanctions/tree/main/datasets/de/abgeordnetenwatch"},{"id":"771c88f02cad5861","type":"junction","z":"c520d9da20ad7f1d","g":"9ee326abe24350e4","x":3980.714290499687,"y":1122.2380406856537,"wires":[["9c702910e786d871"]]},{"id":"be85ec166afd4db1","type":"junction","z":"c520d9da20ad7f1d","g":"2adeafaea205b686","x":1323,"y":3189.5,"wires":[["3db3d32b93178fb7","545f7f08f3847611"]]},{"id":"ec1247aeae29614d","type":"inject","z":"c520d9da20ad7f1d","g":"689d83262682926f","name":"yml src url","props":[{"p":"url","v":"https://raw.githubusercontent.com/opensanctions/opensanctions/main/datasets/_wikidata/curated/wd_curated.yml","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":2353.5,"y":408.3541564941406,"wires":[["6199fe1efbaddc30"]]},{"id":"a304a7c400d4fddf","type":"debug","z":"c520d9da20ad7f1d","g":"689d83262682926f","name":"debug 138","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"","statusType":"counter","x":2737,"y":408.3541564941406,"wires":[]},{"id":"bcef11a03c612b0a","type":"inject","z":"c520d9da20ad7f1d","g":"d3d2a8c4d33acafe","name":"yml src url","props":[{"p":"url","v":"https://raw.githubusercontent.com/opensanctions/opensanctions/main/datasets/_wikidata/oligarchs/wd_oligarchs.yml","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":2353.5,"y":296.70831298828125,"wires":[["89558d9bde6876a3"]]},{"id":"3902d092742273fd","type":"http request","z":"c520d9da20ad7f1d","g":"164e6cd0e78e06db","name":"wikipedia sparql (get)","method":"GET","ret":"obj","paytoqs":"query","url":"https://query.wikidata.org/sparql","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[{"keyType":"Accept","keyValue":"","valueType":"other","valueValue":"application/sparql-results+json"}],"x":2827.5,"y":787.5,"wires":[["5dd6452249862ea4"]]},{"id":"6db1fa64f26488ea","type":"debug","z":"c520d9da20ad7f1d","g":"164e6cd0e78e06db","name":"debug 139","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"true","targetType":"full","statusVal":"","statusType":"counter","x":3015,"y":1085,"wires":[]},{"id":"9f66185f5115641b","type":"http request","z":"c520d9da20ad7f1d","g":"7faba8c7cfc07bb5","name":"get binary buffer","method":"GET","ret":"bin","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":2704.8333740234375,"y":1709.4304453531895,"wires":[["9db4b0986e590493"]]},{"id":"0231b43f62f94a44","type":"inject","z":"c520d9da20ad7f1d","g":"7faba8c7cfc07bb5","name":"yml src url","props":[{"p":"url","v":"https://raw.githubusercontent.com/opensanctions/opensanctions/main/datasets/kp/rusi_reports/kp_rusi_reports.yml","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":2349.8333740234375,"y":1587.4304453531895,"wires":[["f8d8b5c0dc13492c"]]},{"id":"69fc44f421efbf84","type":"debug","z":"c520d9da20ad7f1d","g":"7faba8c7cfc07bb5","name":"debug 141","active":false,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"","statusType":"counter","x":3088.8333740234375,"y":2273.4304453531895,"wires":[]},{"id":"6da05d7a183bce78","type":"split","z":"c520d9da20ad7f1d","g":"7faba8c7cfc07bb5","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":2734.8333740234375,"y":1815.4304453531895,"wires":[["d47aeb3680af0f53"]]},{"id":"d47aeb3680af0f53","type":"function","z":"c520d9da20ad7f1d","g":"7faba8c7cfc07bb5","name":"get buffer length","func":"msg.payload = {\n    ...msg.payload,\n    size: msg.payload.payload.length,\n    ext: msg.payload.filename.split('.').pop()\n}\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2704.8333740234375,"y":1868.4304453531895,"wires":[["5e963ebea0393011"]]},{"id":"5e963ebea0393011","type":"switch","z":"c520d9da20ad7f1d","g":"7faba8c7cfc07bb5","name":"buffer size > 0","property":"payload.size","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":2704.8333740234375,"y":1921.4304453531895,"wires":[["2c5c37db8114b8a3"]]},{"id":"011ba7a5692c127c","type":"csv","z":"c520d9da20ad7f1d","g":"7faba8c7cfc07bb5","name":"","sep":",","hdrin":true,"hdrout":"none","multi":"one","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":2908.3333740234375,"y":2273.4304453531895,"wires":[["69fc44f421efbf84"]]},{"id":"68e2e157cb47bad1","type":"switch","z":"c520d9da20ad7f1d","g":"7faba8c7cfc07bb5","name":"file ext is ...","property":"ext","propertyType":"msg","rules":[{"t":"eq","v":"json","vt":"str"},{"t":"eq","v":"csv","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":2714.8333740234375,"y":2027.4304453531895,"wires":[["1cbfb9d4624bc469"],["011ba7a5692c127c"]]},{"id":"2c5c37db8114b8a3","type":"change","z":"c520d9da20ad7f1d","g":"7faba8c7cfc07bb5","name":"","rules":[{"t":"set","p":"filename","pt":"msg","to":"payload.filename","tot":"msg"},{"t":"set","p":"ext","pt":"msg","to":"payload.ext","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"payload.payload","tot":"msg","dc":true}],"action":"","property":"","from":"","to":"","reg":false,"x":2704.8333740234375,"y":1974.4304453531895,"wires":[["68e2e157cb47bad1"]]},{"id":"072a152092fbdb93","type":"json","z":"c520d9da20ad7f1d","g":"e7bcc0f7a29d7747","name":"","property":"payload","action":"obj","pretty":false,"x":3042.8333740234375,"y":2124.4304453531895,"wires":[["5df417ba0090dcb9"]]},{"id":"5df417ba0090dcb9","type":"debug","z":"c520d9da20ad7f1d","g":"7faba8c7cfc07bb5","name":"debug 142","active":false,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"","statusType":"counter","x":3087.83349609375,"y":2212.430419921875,"wires":[]},{"id":"1cbfb9d4624bc469","type":"split","z":"c520d9da20ad7f1d","g":"e7bcc0f7a29d7747","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":3042.8333740234375,"y":2018.4304453531895,"wires":[["8105ed7385b51ca4"]]},{"id":"9db4b0986e590493","type":"zip","z":"c520d9da20ad7f1d","g":"7faba8c7cfc07bb5","name":"decompress - content is string","mode":"decompress","filename":"","compressionlevel":6,"outasstring":true,"x":2654.8333740234375,"y":1762.4304453531895,"wires":[["6da05d7a183bce78"]]},{"id":"f8d8b5c0dc13492c","type":"link call","z":"c520d9da20ad7f1d","g":"7faba8c7cfc07bb5","name":"","links":["165f1f324f09f0e6"],"linkType":"static","timeout":"30","x":2379.8333740234375,"y":1710.4304453531895,"wires":[["9f66185f5115641b"]]},{"id":"82d3965c87073975","type":"catch","z":"c520d9da20ad7f1d","g":"7faba8c7cfc07bb5","name":"","scope":"group","uncaught":false,"x":2931.8333740234375,"y":1611.4304453531895,"wires":[["cbb617ce49e18f08"]]},{"id":"cbb617ce49e18f08","type":"debug","z":"c520d9da20ad7f1d","g":"7faba8c7cfc07bb5","name":"debug 143","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":3142.8333740234375,"y":1611.4304453531895,"wires":[]},{"id":"8105ed7385b51ca4","type":"switch","z":"c520d9da20ad7f1d","g":"e7bcc0f7a29d7747","name":"ignore empty content","property":"payload","propertyType":"msg","rules":[{"t":"nempty"}],"checkall":"true","repair":false,"outputs":1,"x":3092.8333740234375,"y":2071.4304453531895,"wires":[["072a152092fbdb93"]]},{"id":"d149e7b0d6896a42","type":"PkgFile","z":"c520d9da20ad7f1d","g":"96c48b4780af3ad0","name":"LICENSE","filename":"LICENSE","format":"text","syntax":"plain","template":"                                 Apache License\n                           Version 2.0, January 2004\n                        http://www.apache.org/licenses/\n\n   TERMS AND CONDITIONS FOR USE, REPRODUCTION, AND DISTRIBUTION\n\n   1. Definitions.\n\n      \"License\" shall mean the terms and conditions for use, reproduction,\n      and distribution as defined by Sections 1 through 9 of this document.\n\n      \"Licensor\" shall mean the copyright owner or entity authorized by\n      the copyright owner that is granting the License.\n\n      \"Legal Entity\" shall mean the union of the acting entity and all\n      other entities that control, are controlled by, or are under common\n      control with that entity. For the purposes of this definition,\n      \"control\" means (i) the power, direct or indirect, to cause the\n      direction or management of such entity, whether by contract or\n      otherwise, or (ii) ownership of fifty percent (50%) or more of the\n      outstanding shares, or (iii) beneficial ownership of such entity.\n\n      \"You\" (or \"Your\") shall mean an individual or Legal Entity\n      exercising permissions granted by this License.\n\n      \"Source\" form shall mean the preferred form for making modifications,\n      including but not limited to software source code, documentation\n      source, and configuration files.\n\n      \"Object\" form shall mean any form resulting from mechanical\n      transformation or translation of a Source form, including but\n      not limited to compiled object code, generated documentation,\n      and conversions to other media types.\n\n      \"Work\" shall mean the work of authorship, whether in Source or\n      Object form, made available under the License, as indicated by a\n      copyright notice that is included in or attached to the work\n      (an example is provided in the Appendix below).\n\n      \"Derivative Works\" shall mean any work, whether in Source or Object\n      form, that is based on (or derived from) the Work and for which the\n      editorial revisions, annotations, elaborations, or other modifications\n      represent, as a whole, an original work of authorship. For the purposes\n      of this License, Derivative Works shall not include works that remain\n      separable from, or merely link (or bind by name) to the interfaces of,\n      the Work and Derivative Works thereof.\n\n      \"Contribution\" shall mean any work of authorship, including\n      the original version of the Work and any modifications or additions\n      to that Work or Derivative Works thereof, that is intentionally\n      submitted to Licensor for inclusion in the Work by the copyright owner\n      or by an individual or Legal Entity authorized to submit on behalf of\n      the copyright owner. For the purposes of this definition, \"submitted\"\n      means any form of electronic, verbal, or written communication sent\n      to the Licensor or its representatives, including but not limited to\n      communication on electronic mailing lists, source code control systems,\n      and issue tracking systems that are managed by, or on behalf of, the\n      Licensor for the purpose of discussing and improving the Work, but\n      excluding communication that is conspicuously marked or otherwise\n      designated in writing by the copyright owner as \"Not a Contribution.\"\n\n      \"Contributor\" shall mean Licensor and any individual or Legal Entity\n      on behalf of whom a Contribution has been received by Licensor and\n      subsequently incorporated within the Work.\n\n   2. Grant of Copyright License. Subject to the terms and conditions of\n      this License, each Contributor hereby grants to You a perpetual,\n      worldwide, non-exclusive, no-charge, royalty-free, irrevocable\n      copyright license to reproduce, prepare Derivative Works of,\n      publicly display, publicly perform, sublicense, and distribute the\n      Work and such Derivative Works in Source or Object form.\n\n   3. Grant of Patent License. Subject to the terms and conditions of\n      this License, each Contributor hereby grants to You a perpetual,\n      worldwide, non-exclusive, no-charge, royalty-free, irrevocable\n      (except as stated in this section) patent license to make, have made,\n      use, offer to sell, sell, import, and otherwise transfer the Work,\n      where such license applies only to those patent claims licensable\n      by such Contributor that are necessarily infringed by their\n      Contribution(s) alone or by combination of their Contribution(s)\n      with the Work to which such Contribution(s) was submitted. If You\n      institute patent litigation against any entity (including a\n      cross-claim or counterclaim in a lawsuit) alleging that the Work\n      or a Contribution incorporated within the Work constitutes direct\n      or contributory patent infringement, then any patent licenses\n      granted to You under this License for that Work shall terminate\n      as of the date such litigation is filed.\n\n   4. Redistribution. You may reproduce and distribute copies of the\n      Work or Derivative Works thereof in any medium, with or without\n      modifications, and in Source or Object form, provided that You\n      meet the following conditions:\n\n      (a) You must give any other recipients of the Work or\n          Derivative Works a copy of this License; and\n\n      (b) You must cause any modified files to carry prominent notices\n          stating that You changed the files; and\n\n      (c) You must retain, in the Source form of any Derivative Works\n          that You distribute, all copyright, patent, trademark, and\n          attribution notices from the Source form of the Work,\n          excluding those notices that do not pertain to any part of\n          the Derivative Works; and\n\n      (d) If the Work includes a \"NOTICE\" text file as part of its\n          distribution, then any Derivative Works that You distribute must\n          include a readable copy of the attribution notices contained\n          within such NOTICE file, excluding those notices that do not\n          pertain to any part of the Derivative Works, in at least one\n          of the following places: within a NOTICE text file distributed\n          as part of the Derivative Works; within the Source form or\n          documentation, if provided along with the Derivative Works; or,\n          within a display generated by the Derivative Works, if and\n          wherever such third-party notices normally appear. The contents\n          of the NOTICE file are for informational purposes only and\n          do not modify the License. You may add Your own attribution\n          notices within Derivative Works that You distribute, alongside\n          or as an addendum to the NOTICE text from the Work, provided\n          that such additional attribution notices cannot be construed\n          as modifying the License.\n\n      You may add Your own copyright statement to Your modifications and\n      may provide additional or different license terms and conditions\n      for use, reproduction, or distribution of Your modifications, or\n      for any such Derivative Works as a whole, provided Your use,\n      reproduction, and distribution of the Work otherwise complies with\n      the conditions stated in this License.\n\n   5. Submission of Contributions. Unless You explicitly state otherwise,\n      any Contribution intentionally submitted for inclusion in the Work\n      by You to the Licensor shall be under the terms and conditions of\n      this License, without any additional terms or conditions.\n      Notwithstanding the above, nothing herein shall supersede or modify\n      the terms of any separate license agreement you may have executed\n      with Licensor regarding such Contributions.\n\n   6. Trademarks. This License does not grant permission to use the trade\n      names, trademarks, service marks, or product names of the Licensor,\n      except as required for reasonable and customary use in describing the\n      origin of the Work and reproducing the content of the NOTICE file.\n\n   7. Disclaimer of Warranty. Unless required by applicable law or\n      agreed to in writing, Licensor provides the Work (and each\n      Contributor provides its Contributions) on an \"AS IS\" BASIS,\n      WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or\n      implied, including, without limitation, any warranties or conditions\n      of TITLE, NON-INFRINGEMENT, MERCHANTABILITY, or FITNESS FOR A\n      PARTICULAR PURPOSE. You are solely responsible for determining the\n      appropriateness of using or redistributing the Work and assume any\n      risks associated with Your exercise of permissions under this License.\n\n   8. Limitation of Liability. In no event and under no legal theory,\n      whether in tort (including negligence), contract, or otherwise,\n      unless required by applicable law (such as deliberate and grossly\n      negligent acts) or agreed to in writing, shall any Contributor be\n      liable to You for damages, including any direct, indirect, special,\n      incidental, or consequential damages of any character arising as a\n      result of this License or out of the use or inability to use the\n      Work (including but not limited to damages for loss of goodwill,\n      work stoppage, computer failure or malfunction, or any and all\n      other commercial damages or losses), even if such Contributor\n      has been advised of the possibility of such damages.\n\n   9. Accepting Warranty or Additional Liability. While redistributing\n      the Work or Derivative Works thereof, You may choose to offer,\n      and charge a fee for, acceptance of support, warranty, indemnity,\n      or other liability obligations and/or rights consistent with this\n      License. However, in accepting such obligations, You may act only\n      on Your own behalf and on Your sole responsibility, not on behalf\n      of any other Contributor, and only if You agree to indemnify,\n      defend, and hold each Contributor harmless for any liability\n      incurred by, or claims asserted against, such Contributor by reason\n      of your accepting any such warranty or additional liability.\n\n   END OF TERMS AND CONDITIONS\n\n   APPENDIX: How to apply the Apache License to your work.\n\n      To apply the Apache License to your work, attach the following\n      boilerplate notice, with the fields enclosed by brackets \"{}\"\n      replaced with your own identifying information. (Don't include\n      the brackets!)  The text should be enclosed in the appropriate\n      comment syntax for the file format. We also recommend that a\n      file or class name and description of purpose be included on the\n      same \"printed page\" as the copyright notice for easier\n      identification within third-party archives.\n\n   Copyright {yyyy} {name of copyright owner}\n\n   Licensed under the Apache License, Version 2.0 (the \"License\");\n   you may not use this file except in compliance with the License.\n   You may obtain a copy of the License at\n\n       http://www.apache.org/licenses/LICENSE-2.0\n\n   Unless required by applicable law or agreed to in writing, software\n   distributed under the License is distributed on an \"AS IS\" BASIS,\n   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.\n   See the License for the specific language governing permissions and\n   limitations under the License.\n","output":"str","x":6401,"y":966.125,"wires":[["840ee422b3911a45"]]},{"id":"840ee422b3911a45","type":"PkgFile","z":"c520d9da20ad7f1d","g":"96c48b4780af3ad0","name":"zip.html","filename":"red/zip.html","format":"html","syntax":"plain","template":"<!--\n  Copyright 2017 Guilherme Francescon\n\n  Licensed under the Apache License, Version 2.0 (the \"License\");\n  you may not use this file except in compliance with the License.\n  You may obtain a copy of the License at\n\n  http://www.apache.org/licenses/LICENSE-2.0\n\n  Unless required by applicable law or agreed to in writing, software\n  distributed under the License is distributed on an \"AS IS\" BASIS,\n  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.\n  See the License for the specific language governing permissions and\n  limitations under the License.\n-->\n\n<script type=\"text/x-red\" data-template-name=\"zip\">\n\t<div class=\"form-row\">\n\t\t<label for=\"node-input-mode\"><i class=\"fa fa-sliders\"></i> <span data-i18n=\"zip.label.mode\"></span></label>\n\t\t<select type=\"text\" id=\"node-input-mode\">\n\t\t\t<option value=\"compress\" data-i18n=\"zip.mode.compress\"></option>\n\t\t\t<option value=\"decompress\" data-i18n=\"zip.mode.decompress\"></option>\n\t\t</select>\n\t</div>\n    <div class=\"form-row\" id=\"node-form-row-zip-filename\" style=\"display: none\">\n        <label for=\"node-input-filename\"><i class=\"fa fa-file\"></i> <span data-i18n=\"zip.label.filename\"></span></label>\n        <input type=\"text\" id=\"node-input-filename\" data-i18n=\"[placeholder]zip.label.filename\">\n    </div>\n    <div class=\"form-row\" id=\"node-form-row-zip-compressionLevel\" style=\"display: none\">\n        <label for=\"node-input-compressionlevel\"><i class=\"fa fa-compress\"></i> <span data-i18n=\"zip.label.compressionlevel\"></span></label>\n        <select type=\"text\" id=\"node-input-compressionlevel\">\n            <option value=\"0\" data-i18n=\"zip.label.level.no\"></option>\n            <option value=\"1\" data-i18n=\"zip.label.level.fast\"></option>\n            <option value=\"2\">2</option>\n            <option value=\"3\">3</option>\n            <option value=\"4\">4</option>\n            <option value=\"5\">5</option>\n            <option value=\"6\" data-i18n=\"zip.label.level.default\"></option>\n            <option value=\"7\">7</option>\n            <option value=\"8\">8</option>\n            <option value=\"9\" data-i18n=\"zip.label.level.best\"></option>\n        </select>\n    </div>\n\t<div class=\"form-row\" id=\"node-form-row-zip-outasstring\" style=\"display: none\">\n\t\t<label>&nbsp;</label>\n\t\t<input type=\"checkbox\" id=\"node-input-outasstring\" style=\"display: inline-block; width: auto; vertical-align: top;\">\n\t\t<label for=\"node-input-outasstring\" style=\"width:70%;\"><span data-i18n=\"zip.label.outasstring\"></span></label>\n\t</div>\n    <div class=\"form-row\">\n        <label for=\"node-input-name\"><i class=\"fa fa-tag\"></i> <span data-i18n=\"zip.label.name\"></span></label>\n        <input type=\"text\" id=\"node-input-name\" data-i18n=\"[placeholder]zip.label.name\">\n    </div>\n</script>\n\n<script type=\"text/x-red\" data-help-name=\"zip\">\n    <p>Reads and creates ZIP files</p>\n\n    <h3>Inputs</h3>\n    <p><i>Compress</i> mode</p>\n\t<dl class=\"message-properties\">\n\t\t<dt>payload<span class=\"property-type\">string | Buffer</span></dt>\n\t\t<dd>\n            The content to be compressed\n\t\t</dd>\n\n\t\t<dt>filename<span class=\"property-type\">string</span></dt>\n\t\t<dd>\n            Used to specify the file name that represents the content specified on <code>payload</code>.\n            Used only if the field in the configuration of the node is left empty\n\t\t</dd>\n    </dl>\n\n    <p><i>Decompress</i> mode</p>\n\t<dl class=\"message-properties\">\n\t\t<dt>payload<span class=\"property-type\">Buffer</span></dt>\n\t\t<dd>\n            A Buffer containing the ZIP file content to be decompressed\n\t\t</dd>\n    </dl>\n\n    <h3>Outputs</h3>\n    <p><i>Compress</i> mode</p>\n\t<dl class=\"message-properties\">\n\t\t<dt>payload<span class=\"property-type\">Buffer</span></dt>\n\t\t<dd>\n            A Buffer with the ZIP file content\n\t\t</dd>\n    </dl>\n\n    <p><i>Decompress</i> mode</p>\n\t<dl class=\"message-properties\">\n        <span>\n            Array of objects, each representing a file in the ZIP file, \n            with the following properties:\n        </span>\n\t\t<dt>payload<span class=\"property-type\">Buffer | string</span></dt>\n\t\t<dd>\n            The content of the file. If <i>Output payload as String</i>\n            is set, the Buffer is converted to string\n        </dd>\n        \n\t\t<dt>filename<span class=\"property-type\">string</span></dt>\n\t\t<dd>\n            The name of the file\n\t\t</dd>\n    </dl>\n    \n\n    <h3>Details</h3>\n    <p>\n        Node to zip one or more files given their contents (<i>Compress</i> mode), or unzips a file, returning all files \n        inside it (<i>Decompress</i> mode).\n    </p>\n    <p>\n        When in <i>Compress</i> mode, the compression level can be set in the node's configuration, with 0 meaning no\n        compression at all, 1 meaning fastest method (but poor compression), and 9 meaning best compression (but poor performance)\n    </p>\n    <p>\n        Also in <i>Compress</i> mode, the node accepts an array of objects in <code>payload</code>, each with a <code>payload</code> and a \n        <code>filename</code> property, that represents each a file that will be in the resulting zip file\n    </p>\n\n\n</script>\n\n<script type=\"text/javascript\">\n    RED.nodes.registerType('zip',{\n        category: 'function',\n        color:\"#DEBD5C\",\n        defaults: {\n            name: {value: \"\"},\n            mode: {value: \"compress\"},\n            filename: {value: \"\"},\n            compressionlevel: {value: 6},\n            outasstring: {value: false}\n        },\n        inputs:1,\n        outputs:1,\n        icon: \"zip.png\",\n        label: function() {\n            return this.name||this._('zip.mode.' + this.mode).toLowerCase();\n        },\n        labelStyle: function() {\n            return this.name?\"node_label_italic\":\"\";\n        },\n        oneditprepare: function() {\n            var filenameRow = $('#node-form-row-zip-filename');\n            var compressionRow = $('#node-form-row-zip-compressionLevel');\n            var outasstringRow = $('#node-form-row-zip-outasstring');\n            var modeInput = $('#node-input-mode');\n\n            if (this.compressionlevel === undefined) {\n                this.compressionlevel = 6;\n                $('#node-input-compressionlevel').val(6);\n            }\n\n            function updateUi() {\n                switch(modeInput.val()) {\n                    case \"compress\":\n                        outasstringRow.hide();\n                        filenameRow.show();\n                        compressionRow.show();\n                        break;\n                    case \"decompress\":\n                        outasstringRow.show();\n                        filenameRow.hide();\n                        compressionRow.hide();\n                        break;\n                }\n            }\n\n            modeInput.change(updateUi);\n            updateUi();\n        }\n    });\n</script>\n","output":"str","x":6401,"y":1016.125,"wires":[["34a0a72770728e88"]]},{"id":"34a0a72770728e88","type":"PkgFile","z":"c520d9da20ad7f1d","g":"96c48b4780af3ad0","name":"zip.js","filename":"red/zip.js","format":"javascript","syntax":"plain","template":"//@ts-check\n/**\n * Copyright JS Foundation and other contributors, http://js.foundation\n *\n * Licensed under the Apache License, Version 2.0 (the \"License\");\n * you may not use this file except in compliance with the License.\n * You may obtain a copy of the License at\n *\n * http://www.apache.org/licenses/LICENSE-2.0\n *\n * Unless required by applicable law or agreed to in writing, software\n * distributed under the License is distributed on an \"AS IS\" BASIS,\n * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.\n * See the License for the specific language governing permissions and\n * limitations under the License.\n **/\n\nconst util = require('util');\n\nfunction nrInputShim(node, fn) {\n    node.on('input', function (msg, send, done) {\n        send = send || node.send;\n        done = done || (err => err && node.error(err, msg));\n        fn(msg, send, done, node);\n    });\n\n    node.on('close', function (done) {\n        node.status({})\n        done()\n    });\n}\n\nmodule.exports = function (RED) {\n    const JSZip = require(\"jszip\");\n\n    function ZipNode(config) {\n        RED.nodes.createNode(this, config);\n        const node = this;\n\n        node.status({})\n        \n        function onInput(msg, send, done, node) {\n            let zip, f;\n\n            if (config.mode === \"compress\") {\n                zip = new JSZip();\n\n                node.status({ fill: \"green\", shape: \"ring\", text: \"compressing\" });\n\n                let level = parseInt(config.compressionlevel);\n                if (isNaN(level)) level = 6; //default\n\n                if (Array.isArray(msg.payload)) {\n                    for (var i in msg.payload) {\n                        f = msg.payload[i];\n\n                        if (typeof f.filename !== 'string') {\n                            done(RED._('zip.error.filename-type-string'));\n                            return;\n                        }\n\n                        if (!(f.payload instanceof Buffer || typeof f.payload == 'string')) {\n                            done(RED._('zip.error.payload-type-buffer-string'));\n                            return;\n                        }\n\n                        zip.file(f.filename, f.payload);\n                    }\n                } else {\n                    if (!(msg.payload instanceof Buffer || typeof msg.payload == 'string')) {\n                        done(RED._('zip.error.payload-type-buffer-string'));\n                        return;\n                    }\n\n                    zip.file(config.filename || msg.filename || 'file', msg.payload);\n                }\n\n                zip.generateAsync({\n                    type: 'nodebuffer',\n                    compression: level ? 'DEFLATE' : 'STORE',\n                    compressionOptions: { level }\n                }).then(function (data) {\n                    //sends message\n\n                    node.status({});\n                    msg.payload = data;\n                    send(msg);\n                    done();\n\n                }).catch(function (err) {\n                    //catches errors\n\n                    node.status({});\n                    done(RED._('zip.error.parse', { err: err }));\n                })\n\n\n            } else if (config.mode === \"decompress\") {\n\n                if (!(msg.payload instanceof Buffer)) {\n                    done(RED._(\"zip.error.payload-type-buffer\"));\n                    return;\n                }\n\n                node.status({fill:\"green\",shape:\"ring\",text:\"decompressing\"});\n\n                zip = new JSZip();\n\n                zip.loadAsync(msg.payload).then(function () {\n                    //read files\n\n                    const promises = [];\n                    zip.forEach(function (path, zFile) {\n                        promises.push(zFile.async(config.outasstring ? 'string' : 'nodebuffer').then(function (content) {\n                            return {\n                                filename: path,\n                                payload: content\n                            };\n                        }));\n                    });\n\n                    return Promise.all(promises);\n                }).then(function (files) {\n                    //send the result\n\n                    node.status({});\n                    msg.payload = files;\n                    send(msg);\n                    done();\n                }).catch(function (err) {\n                    //catches errors\n                    node.status({});\n                    done(RED._('zip.error.parse', { err: err }));\n                });\n            }\n        };\n\n        nrInputShim(this, onInput);\n    }\n    RED.nodes.registerType(\"zip\", ZipNode);\n}\n","output":"str","x":6401,"y":1066.125,"wires":[["4cdd183364d6a0c8"]]},{"id":"4cdd183364d6a0c8","type":"PkgFile","z":"c520d9da20ad7f1d","g":"96c48b4780af3ad0","name":"package.json","filename":"package.json","format":"json","syntax":"mustache","template":"{\n  \"name\": \"node-red-contrib-zip\",\n  \"version\": \"{{ pversion }}\",\n  \"description\": \"Node-RED node to create and read ZIP files\",\n  \"scripts\": {\n    \"test\": \"echo \\\"Error: no test specified\\\" && exit 1\"\n  },\n  \"node-red\": {\n    \"nodes\": {\n      \"zip\": \"red/zip.js\"\n    }\n  },\n  \"repository\": {\n    \"type\": \"git\",\n    \"url\": \"git+https://github.com/gfcittolin/node-red-contrib-zip.git\"\n  },\n  \"keywords\": [\n    \"zip\",\n    \"node-red\",\n    \"unzip\"\n  ],\n  \"author\": \"Guilherme Francescon <gfcittolin@gmail.com>\",\n  \"license\": \"Apache-2.0\",\n  \"bugs\": {\n    \"url\": \"https://github.com/gfcittolin/node-red-contrib-zip/issues\"\n  },\n  \"homepage\": \"https://github.com/gfcittolin/node-red-contrib-zip#readme\",\n  \"dependencies\": {\n    \"jszip\": \"^3.5.0\"\n  }\n}\n","output":"str","x":6401,"y":1116.125,"wires":[["5ba84327e03d40d7"]]},{"id":"5ba84327e03d40d7","type":"PkgFile","z":"c520d9da20ad7f1d","g":"96c48b4780af3ad0","name":"zip.json","filename":"red/locales/en-US/zip.json","format":"json","syntax":"plain","template":"{\n    \"zip\": {\n        \"label\": {\n            \"name\": \"Name\",\n            \"mode\": \"Mode\",\n            \"filename\": \"File name\",\n            \"compressionlevel\": \"Compression\",\n            \"outasstring\": \"Output payload as String\",\n            \"level\": {\n                \"no\": \"0 (no compression)\",\n                \"fast\": \"1 (fast)\",\n                \"default\": \"6 (default)\",\n                \"best\": \"9 (best)\"\n            }\n        },\n        \"mode\": {\n            \"compress\": \"Compress\",\n            \"decompress\": \"Decompress\"\n        },\n        \"error\": {\n            \"payload-type-buffer\": \"Payload type must be a Buffer\",\n            \"payload-type-buffer-string\": \"Payload type must be a Buffer or a String\",\n            \"filename-type-string\": \"Filename type must be a String\",\n            \"parse\": \"Error parsing zip file: __err__\"\n        }\n    }\n}","output":"str","x":6401,"y":1166.125,"wires":[["7c993a0711b4b5cd"]]},{"id":"7c993a0711b4b5cd","type":"PkgFile","z":"c520d9da20ad7f1d","g":"96c48b4780af3ad0","name":"CHANGELOG.md","filename":"CHANGELOG.md","format":"markdown","syntax":"plain","template":"# Changelog\n\n## Version 1.1.0\n - Implements Node-RED 1.0 internal API\n - Adds compression level selection\n - Improves help text and documentation\n\n## Version 1.0.0\nFirst release","output":"str","x":6401,"y":1216.125,"wires":[["38c7657badb392f3"]]},{"id":"38c7657badb392f3","type":"PkgFile","z":"c520d9da20ad7f1d","g":"96c48b4780af3ad0","name":"README.md","filename":"README.md","format":"markdown","syntax":"plain","template":"# node-red-contrib-zip\n\nNode-RED node to create and read ZIP files. Based on [jszip](https://github.com/Stuk/jszip)\n\nA function that parses the `msg.payload` to convert a Buffer to/from a ZIP object. \nPlaces the result back into the payload.\n\nIf **Mode** is *Compress*, the output is always a Buffer with a ZIP content, and the input \npayload can be one of the following:\n\n\n* **Buffer/String:** The payload is compressed as a single file in the resulting ZIP. The **Filename** \nspecifies the name of this file, or can be specified with `msg.filename` if the configuration is left empty\n* **Array:** An array of objects containing `filename` as a String and `payload` as \na Buffer/String, each representing one file in the resultiing zip\n\nIf **Mode** is *Decompress*, the input payload is expected to be a Buffer, and the output is an Array with\nobjects containing `filename` as a String and `payload` as a Buffer\n\n\n## License\n\nCopyright 2017-2020 Guilherme Francescon Cittolin, [Apache 2.0 license](LICENSE).","output":"str","x":6401,"y":1266.125,"wires":[["fb1605501137edf8"]]},{"id":"fb1605501137edf8","type":"PkgFile","z":"c520d9da20ad7f1d","g":"96c48b4780af3ad0","name":"zip.png","filename":"red/icons/zip.png","format":"base64","syntax":"plain","template":"iVBORw0KGgoAAAANSUhEUgAAABQAAAAeCAYAAAAsEj5rAAAABmJLR0QAAAAAAAD5Q7t/AAAACXBIWXMAAAbsAAAG7AEedTg1AAAAB3RJTUUH4QMKADstQLxLfgAAAVxJREFUSMftlU1KxTAQxyfpo0V4CKJbBd3rAbyCCw/gQTyDJ3DhCTxFcVuem9KVj364KbgQhLb40SZ/N+kjDf32LQQdKCkzk1+m/6QToj9nrH4BcD1h3j1jLOnNwDR7BnCyTeAwFPOsG4r51oDqmwJjDaHiXF9X+aThTxhjx33ANpi5mNU4LowxIqJFxwSLiKK2gJRSArAtyzrUCxrSUERRtOzKDYLgFIDQJ9Sxrk9itm3vdQEdx5G91bVUKNX4qca17/sHGwGFuDVzu4DCAALAR5qm53VelmVXRrzqA5Zq/NqIKcRDnROG4RmANwP43gdsJAFYua7LiYg8z1sCeNRkQNum9Gn4kiTJUR0viuLO0HUSUOR5flHH4ji+BBCq5wnAeirwdaghanqPOofliCa7GO0kov2yLCPOucM539F/yaqqdqWUo64A/OguUc2Bb/uS+v1AfVNu6N/m2Dej+Zklz/ZygQAAAABJRU5ErkJggg==","output":"str","x":6401,"y":1316.125,"wires":[["46bf71a07205a8e8"]]},{"id":"ec3d72cdf3ee5a5b","type":"NodeDevOps","z":"c520d9da20ad7f1d","g":"96c48b4780af3ad0","name":"","pname":"node-red-contrib-zip","pversion":"1.1.3","pauthorname":"Guilherme Francescon <gfcittolin@gmail.com>","pauthoremail":"Guilherme Francescon <gfcittolin@gmail.com>","pdescription":"Node-RED node to create and read ZIP files","noderedinstall":true,"randompackagename":false,"ignore_package_check":false,"gitcommit":false,"gitcheckforchange":false,"githubowner":"","githubrepo":"","githubbranch":"main","githubauthor":"","githubauthoremail":"","githubmessage":"","npmpublish":false,"npmunpublish":false,"npmotp":"","x":6281,"y":916.125,"wires":[["d149e7b0d6896a42"]]},{"id":"46bf71a07205a8e8","type":"NpmTarBall","z":"c520d9da20ad7f1d","g":"96c48b4780af3ad0","name":"","x":6443,"y":1382.125,"wires":[["212bf5c318fa4a45"]]},{"id":"212bf5c318fa4a45","type":"NodeRedInstall","z":"c520d9da20ad7f1d","g":"96c48b4780af3ad0","name":"","x":6561,"y":1445.125,"wires":[[]]},{"id":"165f1f324f09f0e6","type":"link in","z":"c520d9da20ad7f1d","g":"9ee326abe24350e4","name":"get data","links":[],"x":3698,"y":768.6666259765625,"wires":[["b79c606f47fe1ba1"]]},{"id":"9c702910e786d871","type":"link out","z":"c520d9da20ad7f1d","g":"9ee326abe24350e4","name":"link out 126","mode":"return","links":[],"x":4483,"y":1122.6666259765625,"wires":[]},{"id":"9738c25c4c8a2ccc","type":"PkgFile","z":"c520d9da20ad7f1d","g":"504b4c62b93abf9e","name":"LICENSE","filename":"LICENSE","format":"text","syntax":"plain","template":"MIT License\n\nCopyright (c) 2022 Paolo Martino\n\nPermission is hereby granted, free of charge, to any person obtaining a copy\nof this software and associated documentation files (the \"Software\"), to deal\nin the Software without restriction, including without limitation the rights\nto use, copy, modify, merge, publish, distribute, sublicense, and/or sell\ncopies of the Software, and to permit persons to whom the Software is\nfurnished to do so, subject to the following conditions:\n\nThe above copyright notice and this permission notice shall be included in all\ncopies or substantial portions of the Software.\n\nTHE SOFTWARE IS PROVIDED \"AS IS\", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR\nIMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,\nFITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE\nAUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER\nLIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,\nOUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE\nSOFTWARE.\n","output":"str","x":5789,"y":966.125,"wires":[["9a4b806137978c27"]]},{"id":"9a4b806137978c27","type":"PkgFile","z":"c520d9da20ad7f1d","g":"504b4c62b93abf9e","name":"xlsx.html","filename":"xlsx/xlsx.html","format":"html","syntax":"plain","template":"<script type=\"text/html\" data-template-name=\"xlsx\">\n  <div class=\"form-row\">\n    <label for=\"node-input-name\"><i class=\"fa fa-tag\"></i> Name</span></label>\n    <input type=\"text\" id=\"node-input-name\" placeholder=\"Name\" />\n  </div>\n  <hr align=\"middle\"/>\n  <div class=\"form-row\">\n    <label style=\"width:100%;\">XLSX to Object options</span></label>\n  </div>\n  <div class=\"form-row\" style=\"padding-left: 20px;\">\n    <label><i class=\"fa fa-sign-in\"></i> Input</span></label>\n    <select type=\"text\" id=\"node-input-sheets\" style=\"width:250px;\">\n      <option value=\"first\">read the first sheet only</option>\n      <option value=\"all\">read all sheets</option>\n    </select>\n  </div>\n  <div class=\"form-row\" style=\"padding-left: 20px;\">\n    <label><i class=\"fa fa-sign-out\"></i> Output</span></label>\n    <select type=\"text\" id=\"node-input-multi\" style=\"width:250px;\">\n      <option value=\"one\">a message per sheet</option>\n      <option value=\"array\">a single message [array]</option>\n      <option value=\"object\">a single message {object}</option>\n    </select>\n    <select type=\"text\" id=\"node-input-parse\" style=\"width:250px; display: none;\">\n      <option value=\"rows\">an array of rows</option>\n      <option value=\"map\">a JSON object using a map</option>\n    </select>\n  </div>\n  <div class=\"form-row\" id=\"map-options\" style=\"padding-left: 20px; display: none;\">\n    <label></label>\n    <label style=\"width: 50px; margin-right: 10px; text-align: right;\" for=\"node-input-map\">Map</span></label>\n    <input type=\"text\" id=\"node-input-map\" style=\"width: 185px;\" />\n  </div>  \n</script>\n\n<script type=\"text/html\" data-help-name=\"xlsx\">\n  <p>A function that parses the <code>msg.payload</code>, expected to be in XLSX format, using the <strong>read-excel-file</strong> package.</p>\n  <h3>Inputs</h3>\n  <dl class=\"message-properties\">\n    <dt>payload <span class=\"property-type\">buffer</span></dt>\n    <dd>The buffer of the XSLX file.</dd>\n  </dl>\n  <h3>Outputs</h3>\n  <dl class=\"message-properties\">\n    <dt>filename <span class=\"property-type\">string</span></dt>\n    <dd>The name of the XSLX file.</dd>\n  </dl>\n  <dl class=\"message-properties\">\n    <dt>payload <span class=\"property-type\">object | array</span></dt>\n    <dd>The parsed XLSX file as an array or object</dd>\n  </dl>\n  <h3>Details</h3>\n  <p>The node can process the first sheet or all the sheets of a workbook.</p>\n  <p>By default, the node outputs an array of arrays (the rows of the sheet), for each processed sheet.</p>\n  <p>When parsing only the first sheet, an optional JSON map can be provided: in this case, the output will be a JSON object (check the <strong>read-excel-file</strong> package documentation for more information; please note that the <i>schema</i> option is not implemented in this node).</p>\n  <p>When parsing all the sheets in a workbook, the output is sent as a single message or as multiple messages (one for each sheet).</p>\n  <p>If the output is sent as a single message, the payload will be an array of arrays or as an object, in which the keys are the names of the sheets.</p>\n  <h3>References</h3>\n  <ul>\n    <li><a href=\"https://www.npmjs.com/package/read-excel-file\">read-excel-file</a> - Details of the <strong>read-excel-file</strong> package</li>\n  </ul>\n  \n\n</script>\n\n<script type=\"text/javascript\">\n  RED.nodes.registerType('xlsx', {\n      category: 'parser',\n      color:'#DEBD5C',\n      defaults: {\n        name: { value: '' },\n        sheets: { value: 'first', required: true },\n        multi: { value: 'one', required: true },\n        parse: { value: 'rows', required: true },\n        map: { value: '' }\n      },\n      inputs: 1,\n      outputs: 1,\n      icon: 'xlsx.svg',\n      label: function() {\n        return this.name || 'xlsx' ;\n      },\n      labelStyle: function() {\n        return this.name ? 'node_label_italic' : '';\n      },\n      paletteLabel: 'xlsx',\n      oneditprepare: function() {\n        $('#node-input-sheets').val(this.sheets);\n        $('#node-input-multi').val(this.multi);\n        $('#node-input-parse').val(this.parse);\n        $('#node-input-sheets').on('change', function() {\n          if ($('#node-input-sheets').val() === 'first') {\n            $('#node-input-multi').val('one');\n            $('#node-input-multi').hide();\n            $('#node-input-parse').show().focus();\n            $('#node-input-parse').change();\n          } else {\n            $('#node-input-parse').val('rows');\n            $('#node-input-parse').hide();\n            $('#schema-options').hide();\n            $('#map-options').hide();\n            $('#node-input-multi').show().focus();\n          }\n        });\n        $('#node-input-parse').on('change', function() {\n          const v = $('#node-input-parse').val();\n          if (v === 'rows') {\n            $('#map-options').hide();\n          } else if (v === 'map') {\n            $('#map-options').show();\n          }\n        });\n        $('#node-input-map').typedInput({\n          type:'json',\n          types:['json']\n        });\n\n      }\n  });\n</script>","output":"str","x":5789,"y":1016.125,"wires":[["93627224cfd9c5be"]]},{"id":"93627224cfd9c5be","type":"PkgFile","z":"c520d9da20ad7f1d","g":"504b4c62b93abf9e","name":"index.js","filename":"index.js","format":"javascript","syntax":"plain","template":"const readXlsxFile = require('read-excel-file/node');\nconst writeXlsxFile = require('write-excel-file/node')\n\nconst XLSX_INPUT = '/Users/martip/Developer/Exentriq/hr/MOTTOLA_122021.xlsx';\nconst XLSX_OUTPUT = '/Users/martip/Developer/Exentriq/hr/2021_12.xlsx';\n\nconst ITALIAN_HOLIDAYS = [\n  { day:  1, month:  1 }, // Capodanno\n  { day:  6, month:  1 }, // Epifania\n  { day: 25, month:  4 }, // Festa della Liberazione\n  { day:  1, month:  5 }, // Festa dei lavoratori\n  { day:  2, month:  6 }, // Festa della Repubblica Italiana\n  { day: 15, month:  8 }, // Ferrragosto\n  { day:  1, month: 11 }, // Ognissanti\n  { day:  8, month: 12 }, // Immacolata Concezione\n  { day: 25, month: 12 }, // Natale\n  { day: 26, month: 12 }, // Santo Stefano\n];\n\nconst SPECIAL_DAYS = [\n  { day:  7, month: 12, hours: 0 }, // S. Ambrogio\n  { day: 24, month: 12, hours: 4 }, // Vigilia di Natale\n];\n\nconst getEasterMonday = (year) => {\n  const c = Math.floor(year / 100);\n  const n = year - 19 * Math.floor(year / 19);\n  const k = Math.floor((c - 17) / 25);\n  let i = c - Math.floor(c / 4) - Math.floor((c - k) / 3) + 19 * n + 15;\n  i = i - 30 * Math.floor((i / 30));\n  i = i - Math.floor(i / 28) * (1 - Math.floor(i / 28) * Math.floor(29 / (i + 1)) * Math.floor((21 - n) / 11));\n  let j = year + Math.floor(year / 4) + i + 2 - c + Math.floor(c / 4);\n  j = j - 7 * Math.floor(j / 7);\n  const l = i - j;\n  const m = 3 + Math.floor((l + 40) / 44);\n  const d = l + 28 - 31 * Math.floor(m / 4);\n  let easterMondayDate = new Date(year, m - 1, d);\n  easterMondayDate.setDate(easterMondayDate.getDate() + 1);\n  easterMondayDate.setMinutes(easterMondayDate.getMinutes() - easterMondayDate.getTimezoneOffset());\n  return easterMondayDate;\n};\n\nconst isHoliday = (year, month, day) => {\n  if (ITALIAN_HOLIDAYS.find(x => x.month === month && x.day === day)) {\n    return true;\n  }\n  return false;\n};\n\nconst getDayWorkingHours = (month, day, weekDay, reduced) => {\n  const specialDay = SPECIAL_DAYS.find(x => x.month === month && x.day === day);\n  return specialDay ? specialDay.hours : (weekDay === 5 && reduced) ? 7 : 8;\n};\n\nconst calculateWorkingHours = (year, month, reduced) => {\n\n  const weekday = [ 'domenica', 'luned', 'marted', 'mercoled', 'gioved', 'venerd', 'sabato' ];\n  const easterMonday = getEasterMonday(year);\n  \n  let workingHours = 0;\n\n  for (let day = 1; day <= new Date(year, month, 0).getDate(); day++) {\n    const date = new Date(year, month - 1, day);\n    date.setMinutes(date.getMinutes() - date.getTimezoneOffset());\n    const weekDay = date.getDay();\n    if (\n      weekDay > 0 && weekDay < 6\n      && !isHoliday(year, month, day)\n      && date.toISOString() !== easterMonday.toISOString()\n    ) {\n      workingHours += getDayWorkingHours(month, day, weekDay, reduced);\n      // console.log(`${day}/${month}/${year}: ${weekday[weekDay]}`);\n    }\n  }\n  return workingHours;\n};\n\nconst parseMonth = (monthString) => {\n\n  const result = { month: null, year: null };\n  const months = [\n    'gennaio', 'febbraio', 'marzo', 'aprile',\n    'maggio', 'giugno', 'luglio', 'agosto',\n    'settembre', 'ottobre', 'novembre', 'dicembre'\n  ];\n  const month = months.findIndex(x => x === monthString.replace(/\\d/g, '').trim().toLowerCase());\n  if (month > -1) {\n    result.month = month + 1;\n  }\n  const year = parseInt(monthString.replace(/[^\\d\\s]/g, ''));\n  if (!isNaN(year)) {\n    result.year = year > 2000 ? year : year + 2000;\n  }\n  return result;\n}\n\nconst parseCell = (cell, schema) => {\n\n  let value;\n  if (schema.regex) {\n    const match = cell.match(schema.regex);\n    if (match) {\n      value = match[1];\n    }\n  } else {\n    value = cell;\n  }\n\n  if (schema.transform) {\n    value = schema.transform(value);\n  }\n  return value;\n\n};\n\nconst parseRow = (cells, schema) => {\n  let value;\n  if (schema.formula) {\n    switch (schema.formula) {\n      case 'sum':\n        value = cells.reduce((acc, obj) => {\n          const num = parseInt(obj);\n          acc += isNaN(num) ? 0 : num;\n          return acc;\n        }, 0)\n        break;\n      default:\n        break;\n    }\n  }\n  return value;\n};\n\nconst parseTimeSheet = (rows) => {\n\n  const schema = {\n    name: { row: 0, column: 13, regex: /(?:NOME\\s*COGNOME\\s*)*(?<name>[\\w\\s]*)/ },\n    period: { row: 0, column: 26, regex: /(?:MESE\\s*)*(?<month>[\\w\\s]*)/, transform: parseMonth },\n    work: { row: 2, formula: 'sum', parent: 'hours' },\n    vacation: { row: 4, formula: 'sum', parent: 'hours' },\n    leave: { row: 6, formula: 'sum', parent: 'hours' },\n    paid: { row: 8, formula: 'sum', parent: 'hours' }\n  };\n\n  const data = {};\n\n  for (const key of Object.keys(schema)) {\n    const schemaItem = schema[key];\n\n    let value;\n\n    if (schemaItem.column) {\n      value = parseCell(rows[schemaItem.row][schemaItem.column], schemaItem);\n    } else {\n      value = parseRow(rows[schemaItem.row], schemaItem);\n    }\n    if (schemaItem.parent) {\n      if (!data[schemaItem.parent]) {\n        data[schemaItem.parent] = {};\n      }\n      data[schemaItem.parent][key] = value;\n    } else {\n      data[key] = value;\n    }\n  }\n\n return data;\n\n};\n\nconst parseExpenses = (rows) => {\n  const total = parseFloat(rows[44][3]);\n  if (!isNaN(total)) {\n    return total;\n  }\n  return 0;\n};\n\n(async () => {\n\n  const employees = [];\n\n  const test = await readXlsxFile(XLSX_OUTPUT, { sheet: 1 });\n  process.exit(0);\n\n  const timeSheetRows = await readXlsxFile(XLSX_INPUT, { sheet: 1 });\n  const employee = parseTimeSheet(timeSheetRows);\n  const expensesSheetRows = await readXlsxFile(XLSX_INPUT, { sheet: 2 });\n  employee.expenses = parseExpenses(expensesSheetRows);\n  employee.anomalies = [];\n\n  const reduced = true; // true -> 39 hours/week, false -> 40 hours/week\n\n  const workingHours = calculateWorkingHours(employee.period.year, employee.period.month, reduced);\n  const totalHours = Object.values(employee.hours).reduce((acc, obj) => { return acc + obj; }, 0);\n\n  if (totalHours < workingHours) {\n    employee.anomalies.push(`Total hours (${totalHours}) < working hours (${workingHours})!`);\n  } else if (totalHours > workingHours) {\n    employee.anomalies.push(`Total hours (${totalHours}) > working hours (${workingHours})!`);\n  }\n\n  console.log(employee);\n\n  employees.push(employee);\n\n  await writeXlsxFile(employees, {\n    schema: [\n      { column: 'Dipendente', type: String, width: 30, height: 20, value: employee => employee.name },\n      { column: 'Diarie (ore)', type: Number, width: 15, align: 'right', height: 20, value: employee => employee.hours.work },\n      { column: 'Ferie (ore)', type: Number, width: 15, align: 'right', height: 20, value: employee => employee.hours.vacation },\n      { column: 'Permessi non retribuiti (ore)', type: Number, width: 25, align: 'right', height: 20, value: employee => employee.hours.leave },\n      { column: 'Permessi retribuiti (ore)', type: Number, width: 25, align: 'right', height: 20, value: employee => employee.hours.paid },\n      { column: 'Spese ()', type: Number, format: '#,##0.00', width: 10, align: 'right', height: 20, value: employee => employee.expenses },\n      { column: 'Anomalie', type: String, width: 50, height: 20, wrap: true, value: employee => employee.anomalies.join('\\n') }\n    ],\n    headerStyle: {\n      backgroundColor: '#eeeeee',\n      fontWeight: 'bold',\n      height: 20\n    },\n    fontFamily: 'Arial',\n    fontSize: 10,\n    sheet: 'Dipendenti',\n    stickyRowsCount: 1,\n    filePath: XLSX_OUTPUT\n  });\n\n})();","output":"str","x":5789,"y":1066.125,"wires":[["ca9fc0f220af699e"]]},{"id":"ca9fc0f220af699e","type":"PkgFile","z":"c520d9da20ad7f1d","g":"504b4c62b93abf9e","name":"xlsx.js","filename":"xlsx/xlsx.js","format":"javascript","syntax":"plain","template":"const { Readable } = require('stream');\nconst readXlsxFile = require('read-excel-file/node');\n\nmodule.exports = function(RED) {\n\n  function bufferToStream(binary) {\n\n    const readableInstanceStream = new Readable({\n      read() {\n        this.push(binary);\n        this.push(null);\n      }\n    });\n    return readableInstanceStream;\n  }\n\n  function xlsxNode(config) {\n    RED.nodes.createNode(this, config);\n\n    const node = this;\n\n    this.name = config.name;\n    this.schema = config.schema;\n    this.sheets = config.sheets || 'first';\n    this.multi = config.multi || 'one';\n    this.parse = config.parse || 'rows';\n    this.map = config.map ? JSON.parse(config.map) : null;\n\n    this.on( 'close', function(done){\n      node.status({})\n    });\n\n    this.on('input', async (msg, send, done) => {\n      if (msg.hasOwnProperty('payload')) {\n        if (Buffer.isBuffer(msg.payload)) {\n          try {\n            \n            node.status({fill:\"green\",shape:\"ring\",text:\"parsing\"});\n\n            if (this.sheets === 'first') {\n              const options = { sheet: 1 };\n              if (this.parse === 'map' && this.map) {\n                options.map = this.map;\n              }\n              const ou = await readXlsxFile(bufferToStream(msg.payload), options);\n\n              msg.payload = ou;\n              send(msg);\n            } else {\n              const sheets = {};\n              const sheetNames = await readXlsxFile.readSheetNames(bufferToStream(msg.payload));\n\n              for (const sheetName of sheetNames) {\n                const options = { sheet: sheetName };\n                const ou = await readXlsxFile(bufferToStream(msg.payload), options);\n                sheets[sheetName.trim()] = ou;\n              }\n  \n              if (this.multi === 'one') {\n                for (const sheet of Object.keys(sheets)) {\n                  const m = RED.util.cloneMessage(msg);\n                  m.payload = sheets[sheet];\n                  send(m);\n                }\n              } else {\n                msg.payload = this.multi === 'array' ? Object.values(sheets) : sheets;\n                send(msg);\n              }\n            }\n\n            node.status({});\n            done();  \n          } catch (error) {\n            node.status({});\n            done(error);\n          }\n        } else {\n          // If no payload just pass it on.\n          done(\"payload is no buffer\");\n        }\n      } else {\n        // If no payload just pass it on.\n        send(msg);\n        done();\n      }\n    });\n  }\n\n  RED.nodes.registerType('xlsx', xlsxNode);\n  RED.library.register('maps');\n}\n","output":"str","x":5789,"y":1116.125,"wires":[["36066ff0fd0e007a"]]},{"id":"36066ff0fd0e007a","type":"PkgFile","z":"c520d9da20ad7f1d","g":"504b4c62b93abf9e","name":"package.json","filename":"package.json","format":"json","syntax":"mustache","template":"{\n  \"name\": \"@martip/node-red-xlsx\",\n  \"version\": \"{{ pversion }}\",\n  \"description\": \"Converts between a XLSX formatted stream and its JavaScript object representation, in either direction.\",\n  \"repository\": {\n    \"type\": \"git\",\n    \"url\": \"git+https://github.com/martip/node-red-xlsx.git\"\n  },\n \"keywords\": [\n    \"node-red\",\n    \"xlsx\",\n    \"Excel\"\n  ],\n  \"author\": \"Paolo Martino\",\n  \"license\": \"MIT\",\n  \"dependencies\": {\n    \"read-excel-file\": \"^5.7.1\",\n    \"write-excel-file\": \"^1.3.16\"\n  },\n  \"node-red\": {\n    \"version\": \">=1.0.0\",\n    \"nodes\": {\n      \"xlsx\": \"xlsx/xlsx.js\"\n    }\n  },\n  \"engines\": {\n    \"node\": \">= 10\"\n  }\n}\n","output":"str","x":5789,"y":1166.125,"wires":[["61bba0cea58cc6cd"]]},{"id":"61bba0cea58cc6cd","type":"PkgFile","z":"c520d9da20ad7f1d","g":"504b4c62b93abf9e","name":"README.md","filename":"README.md","format":"markdown","syntax":"plain","template":"# @martip/node-red-xlsx\n\nA [Node-RED](http://nodered.org/) node that parses a XLSX file and converts it to a JavaScript representation (object or array).\n\nThis node uses the [read-excel-file](https://www.npmjs.com/package/read-excel-file) package, by catamphetamine.\n\n## Install\n\nEither use the `Node-RED Menu - Manage Palette - Install`, or run the following command in your Node-RED user directory - typically `~/.node-red`\n\n    npm install @martip/node-red-xlsx\n\n## Usage\n\nYou pass the content of a XLSX file, as a buffer, in the `msg.payload`.\n\nDepending on how it's configured, the node outputs a single message or a message for each parsed sheet, containing arrays or objects.","output":"str","x":5789,"y":1216.125,"wires":[["43c9952725d7cb1e"]]},{"id":"43c9952725d7cb1e","type":"PkgFile","z":"c520d9da20ad7f1d","g":"504b4c62b93abf9e","name":"xlsx.svg","filename":"xlsx/icons/xlsx.svg","format":"xml","syntax":"plain","template":"<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"no\"?><!-- Generator: Gravit.io --><svg xmlns=\"http://www.w3.org/2000/svg\" xmlns:xlink=\"http://www.w3.org/1999/xlink\" style=\"isolation:isolate\" viewBox=\"0 0 40 60\" width=\"40pt\" height=\"60pt\"><defs><clipPath id=\"_clipPath_vxaldel1rkRkVooPb6tSWqoJTSLoO1SZ\"><rect width=\"40\" height=\"60\"/></clipPath></defs><g clip-path=\"url(#_clipPath_vxaldel1rkRkVooPb6tSWqoJTSLoO1SZ)\"><path d=\" M 28.336 7.034 L 6.336 7.077 L 6.336 53.035 L 38.336 53.035 L 38.336 17.035 L 28.336 7.034 L 28.336 7.034 L 28.336 7.034 Z  M 11.3 42.327 L 19.268 29.979 L 11.967 17.7 L 17.84 17.7 L 21.825 25.553 C 22.193 26.299 22.445 26.853 22.581 27.218 L 22.633 27.218 C 22.894 26.623 23.17 26.045 23.459 25.484 L 27.718 17.704 L 33.11 17.704 L 25.623 29.911 L 33.3 42.326 L 27.563 42.326 L 22.961 33.707 C 22.745 33.34 22.561 32.955 22.412 32.556 L 22.343 32.556 C 22.209 32.947 22.03 33.321 21.81 33.672 L 17.072 42.327 L 11.3 42.327 Z \" fill-rule=\"evenodd\" fill=\"rgb(255,255,255)\"/></g></svg>","output":"str","x":5789,"y":1266.125,"wires":[["af4deb47ba8a7d3c"]]},{"id":"14b423a6aed1f12d","type":"NodeDevOps","z":"c520d9da20ad7f1d","g":"504b4c62b93abf9e","name":"","pname":"@martip/node-red-xlsx","pversion":"1.0.3","pauthorname":"Paolo Martino","pauthoremail":"Paolo Martino","pdescription":"Converts between a XLSX formatted stream and its JavaScript object representation, in either direction.","noderedinstall":true,"randompackagename":false,"ignore_package_check":false,"gitcommit":false,"gitcheckforchange":false,"githubowner":"","githubrepo":"","githubbranch":"main","githubauthor":"","githubauthoremail":"","githubmessage":"","npmpublish":false,"npmunpublish":false,"npmotp":"","x":5669,"y":916.125,"wires":[["9738c25c4c8a2ccc"]]},{"id":"af4deb47ba8a7d3c","type":"NpmTarBall","z":"c520d9da20ad7f1d","g":"504b4c62b93abf9e","name":"","x":5871,"y":1332.125,"wires":[["4db490c7840ead0c"]]},{"id":"4db490c7840ead0c","type":"NodeRedInstall","z":"c520d9da20ad7f1d","g":"504b4c62b93abf9e","name":"","x":5957,"y":1396.125,"wires":[[]]},{"id":"459a154d1276149e","type":"inject","z":"c520d9da20ad7f1d","g":"873c249985349886","name":"yml src url","props":[{"p":"url","v":"https://raw.githubusercontent.com/opensanctions/opensanctions/main/datasets/au/dfat_sanctions/au_dfat_sanctions.yml","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":479.8333740234375,"y":533.3194351196289,"wires":[["f53453dd80e49047"]]},{"id":"303df699fa9c748f","type":"debug","z":"c520d9da20ad7f1d","g":"873c249985349886","name":"debug 144","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"true","targetType":"full","statusVal":"","statusType":"counter","x":1026.3333740234375,"y":533.3194351196289,"wires":[]},{"id":"f53453dd80e49047","type":"link call","z":"c520d9da20ad7f1d","g":"873c249985349886","name":"","links":["165f1f324f09f0e6"],"linkType":"static","timeout":"30","x":672.8333740234375,"y":533.3194351196289,"wires":[["a26bc71c206fdcdf"]]},{"id":"d810c0832ccec92b","type":"inject","z":"c520d9da20ad7f1d","g":"6faae8a6a0d1e37a","name":"yml src url","props":[{"p":"url","v":"https://raw.githubusercontent.com/opensanctions/opensanctions/main/datasets/us/cia_world_factbook/us_cia_world_factbook.yml","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":2349.8333740234375,"y":2405.333221435547,"wires":[["9d81125a67357b5f"]]},{"id":"7708b4b6b15c6d81","type":"debug","z":"c520d9da20ad7f1d","g":"6faae8a6a0d1e37a","name":"debug 145","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"true","targetType":"full","statusVal":"","statusType":"counter","x":3119.3333740234375,"y":2405.333221435547,"wires":[]},{"id":"9d81125a67357b5f","type":"link call","z":"c520d9da20ad7f1d","g":"6faae8a6a0d1e37a","name":"","links":["165f1f324f09f0e6"],"linkType":"static","timeout":"30","x":2542.8333740234375,"y":2405.333221435547,"wires":[["d41d5e63149f00ec"]]},{"id":"149d8336831825af","type":"split","z":"c520d9da20ad7f1d","g":"6faae8a6a0d1e37a","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":2938.8333740234375,"y":2405.333221435547,"wires":[["7708b4b6b15c6d81"]]},{"id":"d41d5e63149f00ec","type":"change","z":"c520d9da20ad7f1d","g":"6faae8a6a0d1e37a","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.data.countries.nodes","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2745.8333740234375,"y":2405.333221435547,"wires":[["149d8336831825af"]]},{"id":"90f4f4465568045c","type":"link call","z":"c520d9da20ad7f1d","g":"793df5246ed23927","name":"","links":["165f1f324f09f0e6"],"linkType":"static","timeout":"30","x":672.8333740234375,"y":1198.7777709960938,"wires":[["1b4e8160dc4f87cd"]]},{"id":"301b9ff82cc55c2b","type":"inject","z":"c520d9da20ad7f1d","g":"793df5246ed23927","name":"yml src url","props":[{"p":"url","v":"https://raw.githubusercontent.com/opensanctions/opensanctions/main/datasets/ca/dfatd/ca_dfatd_sema_sanctions.yml","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":479.8333740234375,"y":1198.7777709960938,"wires":[["90f4f4465568045c"]]},{"id":"1b4e8160dc4f87cd","type":"change","z":"c520d9da20ad7f1d","g":"793df5246ed23927","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[\"data-set\"].record","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":875.8333740234375,"y":1198.7777709960938,"wires":[["13dbfda38a3c0b2c"]]},{"id":"13dbfda38a3c0b2c","type":"split","z":"c520d9da20ad7f1d","g":"793df5246ed23927","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":1068.8333740234375,"y":1198.7777709960938,"wires":[["13878e620cef349b"]]},{"id":"13878e620cef349b","type":"debug","z":"c520d9da20ad7f1d","g":"793df5246ed23927","name":"debug 146","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"","statusType":"counter","x":1249.3333740234375,"y":1198.7777709960938,"wires":[]},{"id":"40f5eb9049a540c8","type":"inject","z":"c520d9da20ad7f1d","g":"d4eef68edc7d60ba","name":"yml src url","props":[{"p":"url","v":"https://raw.githubusercontent.com/opensanctions/opensanctions/main/datasets/ae/local_terrorists/ae_local_terrorists.yml","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":479.8333740234375,"y":296.1666564941406,"wires":[["19baa3125007f7ca"]]},{"id":"19baa3125007f7ca","type":"link call","z":"c520d9da20ad7f1d","g":"d4eef68edc7d60ba","name":"","links":["165f1f324f09f0e6"],"linkType":"static","timeout":"30","x":533.8333740234375,"y":352.1666564941406,"wires":[["25e8b1057c5238c6"]]},{"id":"25e8b1057c5238c6","type":"http request","z":"c520d9da20ad7f1d","g":"d4eef68edc7d60ba","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":590.8333740234375,"y":403.1666564941406,"wires":[["c53bd42c839368cf"]]},{"id":"fbadfaa5662ee35d","type":"function","z":"c520d9da20ad7f1d","g":"d4eef68edc7d60ba","name":"combine urls","func":"msg.url = url.resolve(msg.context.data.url, msg.payload.href)\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[{"var":"url","module":"url"}],"x":1162.8333740234375,"y":403.1666564941406,"wires":[["770ee633e5f69464"]]},{"id":"770ee633e5f69464","type":"http request","z":"c520d9da20ad7f1d","g":"d4eef68edc7d60ba","name":"get binary buffer","method":"GET","ret":"bin","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":1172.8333740234375,"y":348.1666564941406,"wires":[["0bc0c11002ea805c"]]},{"id":"0bc0c11002ea805c","type":"function","z":"c520d9da20ad7f1d","g":"d4eef68edc7d60ba","name":"parse XLSX","func":"node.status({fill:\"green\",shape:\"ring\",text:\"parsing\"});\n\nvar workbook = XLSX.read(msg.payload);\n\n/*\nnode.send({\n    ...msg,\n    payload: workbook\n})\n*/\n\nworkbook.SheetNames.forEach(function(name) {\n    msg.payload = [...XLSX.utils.sheet_to_json(workbook.Sheets[name], {})]\n\n    node.status({});\n    node.send(msg)\n});\n\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[{"var":"XLSX","module":"xlsx"}],"x":1162.8333740234375,"y":293.1666564941406,"wires":[["feb60680a815c558"]]},{"id":"feb60680a815c558","type":"debug","z":"c520d9da20ad7f1d","g":"d4eef68edc7d60ba","name":"debug 147","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"true","targetType":"full","statusVal":"","statusType":"counter","x":1397.8333740234375,"y":294.1666564941406,"wires":[]},{"id":"1886304455c0ccf6","type":"debug","z":"c520d9da20ad7f1d","g":"9ee326abe24350e4","name":"debug 151","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"context","targetType":"msg","statusVal":"","statusType":"auto","x":4332,"y":803.1666259765625,"wires":[]},{"id":"8ff1a258b74e3d6d","type":"switch","z":"c520d9da20ad7f1d","g":"9ee326abe24350e4","name":"format handler","property":"context.data.format","propertyType":"msg","rules":[{"t":"eq","v":"JSON","vt":"str"},{"t":"eq","v":"XML","vt":"str"},{"t":"eq","v":"XLSX","vt":"str"},{"t":"eq","v":"CSV","vt":"str"},{"t":"eq","v":"HTML","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":6,"x":3831,"y":907.6666259765625,"wires":[["bb981221defac279"],["fe8ae85d5fbf54d2"],["a243c0aed7606378"],["e21a392040bf765e"],["1a65c87ad6459389"],["771c88f02cad5861"]]},{"id":"bb981221defac279","type":"http request","z":"c520d9da20ad7f1d","g":"9ee326abe24350e4","name":"GET json","method":"GET","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":4303,"y":873.6666259765625,"wires":[["9c702910e786d871"]]},{"id":"fe8ae85d5fbf54d2","type":"http request","z":"c520d9da20ad7f1d","g":"9ee326abe24350e4","name":"get string content","method":"GET","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":4092,"y":934.6666259765625,"wires":[["dbe0fecd2bdf58f9"]]},{"id":"dbe0fecd2bdf58f9","type":"xml","z":"c520d9da20ad7f1d","g":"9ee326abe24350e4","name":"","property":"payload","attr":"","chr":"","x":4313,"y":934.6666259765625,"wires":[["9c702910e786d871"]]},{"id":"a243c0aed7606378","type":"http request","z":"c520d9da20ad7f1d","g":"9ee326abe24350e4","name":"get binary buffer","method":"GET","ret":"bin","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":4082,"y":981.6666259765625,"wires":[["b93d0d37d3cb9fae"]]},{"id":"b93d0d37d3cb9fae","type":"xlsx","z":"c520d9da20ad7f1d","g":"9ee326abe24350e4","name":"","sheets":"first","multi":"one","parse":"rows","map":"","x":4313,"y":981.6666259765625,"wires":[["9c702910e786d871"]]},{"id":"a26bc71c206fdcdf","type":"split","z":"c520d9da20ad7f1d","g":"873c249985349886","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":845.8333740234375,"y":533.3194351196289,"wires":[["303df699fa9c748f"]]},{"id":"89558d9bde6876a3","type":"link call","z":"c520d9da20ad7f1d","g":"d3d2a8c4d33acafe","name":"","links":["165f1f324f09f0e6"],"linkType":"static","timeout":"30","x":2546.5,"y":296.70831298828125,"wires":[["04355985be3ffa5d"]]},{"id":"21789cc897632ace","type":"csv","z":"c520d9da20ad7f1d","g":"9ee326abe24350e4","name":"","sep":",","hdrin":true,"hdrout":"none","multi":"one","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":4313,"y":1029.6666259765625,"wires":[["9c702910e786d871"]]},{"id":"e21a392040bf765e","type":"http request","z":"c520d9da20ad7f1d","g":"9ee326abe24350e4","name":"get string content","method":"GET","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":4092,"y":1029.6666259765625,"wires":[["21789cc897632ace"]]},{"id":"04355985be3ffa5d","type":"debug","z":"c520d9da20ad7f1d","g":"d3d2a8c4d33acafe","name":"debug 152","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"","statusType":"counter","x":2737,"y":296.70831298828125,"wires":[]},{"id":"6199fe1efbaddc30","type":"link call","z":"c520d9da20ad7f1d","g":"689d83262682926f","name":"","links":["165f1f324f09f0e6"],"linkType":"static","timeout":"30","x":2546.5,"y":408.3541564941406,"wires":[["a304a7c400d4fddf"]]},{"id":"87b7e0487d90056b","type":"template","z":"c520d9da20ad7f1d","g":"164e6cd0e78e06db","name":"sparql: countries / all","field":"payload","fieldType":"msg","format":"sql","syntax":"mustache","template":"SELECT ?country ?countryLabel ?countryDescription WHERE {\n    VALUES ?type { wd:Q15634554 wd:Q1335818 wd:Q3624078 wd:Q6256 }\n    ?country wdt:P31 ?type .\n  SERVICE wikibase:label { bd:serviceParam wikibase:language \"en\". }\n}","output":"str","x":2821.5,"y":676,"wires":[["77f01573142b6ecd"]]},{"id":"f73502b924b4f099","type":"template","z":"c520d9da20ad7f1d","g":"164e6cd0e78e06db","name":"sparql: holders / holders","field":"payload","fieldType":"msg","format":"sql","syntax":"mustache","template":"SELECT\n  ?person ?personLabel ?ps\n  ?body ?bodyLabel ?bodyInception ?bodyStart ?bodyAbolished ?bodyEnd\n  ?birth ?death ?positionStart ?positionEnd\nWHERE {\n    ?ps ps:P39 wd:{{POSITION}} .\n    ?person p:P39 ?ps .\n    ?person wdt:P31 wd:Q5 .  \n    FILTER NOT EXISTS { ?ps wikibase:rank wikibase:DeprecatedRank }\n    OPTIONAL { ?person p:P569 [ a wikibase:BestRank ; psv:P569 [ wikibase:timeValue ?birth ] ] }\n    OPTIONAL { ?person p:P570 [ a wikibase:BestRank ; psv:P570 [ wikibase:timeValue ?death ] ] }\n    OPTIONAL { ?ps pqv:P580 [ wikibase:timeValue ?positionStart ] }\n    OPTIONAL { ?ps pqv:P582 [ wikibase:timeValue ?positionEnd ] }\n\n    OPTIONAL {\n      ?ps pq:P5054|pq:P2937 ?body .\n      OPTIONAL { ?body p:P571 [ a wikibase:BestRank ; psv:P571 [ wikibase:timeValue ?bodyInception ] ] }\n      OPTIONAL { ?body p:P580 [ a wikibase:BestRank ; psv:P580 [ wikibase:timeValue ?bodyStart ] ] }\n      OPTIONAL { ?body p:P576 [ a wikibase:BestRank ; psv:P576 [ wikibase:timeValue ?bodyAbolished ] ] }\n      OPTIONAL { ?body p:P582 [ a wikibase:BestRank ; psv:P582 [ wikibase:timeValue ?bodyEnd ] ] }\n    }\n  SERVICE wikibase:label { bd:serviceParam wikibase:language \"en,de,es,fr\". }\n}","output":"str","x":2436.5,"y":520,"wires":[[]]},{"id":"2fccd7114fcb9018","type":"template","z":"c520d9da20ad7f1d","g":"164e6cd0e78e06db","name":"sparql: positions / country","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"\nSELECT ?position ?positionLabel ?country ?jurisdiction ?abolished\nWHERE {\n    ?position wdt:P31 wd:Q4164871 .\n    ?position wdt:P1001|wdt:P17 wd:{{ country.qid }} .\n    OPTIONAL { ?position wdt:P17 ?country }\n    OPTIONAL { ?position wdt:P1001 ?jurisdiction }\n    OPTIONAL { ?position p:P576|p:P582 [ a wikibase:BestRank ; psv:P576|psv:P582 [ wikibase:timeValue ?abolished ] ] }\n  SERVICE wikibase:label { bd:serviceParam wikibase:language \"en,de,es,fr\". }\n}\nGROUP BY ?position ?positionLabel ?country ?jurisdiction ?abolished\nORDER BY DESC(?holders)","output":"str","x":2985.5,"y":911,"wires":[["a00884db2d6f675d"]]},{"id":"ef440ae57f2cc25b","type":"template","z":"c520d9da20ad7f1d","g":"164e6cd0e78e06db","name":"sparql: positions / politician","field":"payload","fieldType":"msg","format":"sql","syntax":"mustache","template":"SELECT ?position ?positionLabel ?jurisdiction ?country ?abolished\nWHERE {\n    ?holder wdt:P39 ?position .\n    # ?holder wdt:P31 wd:Q5 .\n    ?holder wdt:P106 wd:Q82955 .  \n    ?holder wdt:P27 wd:{{ country.qid }} .  \n    OPTIONAL { ?position wdt:P1001 ?jurisdiction }\n    OPTIONAL { ?position wdt:P17 ?country }\n    OPTIONAL { ?position p:P576|p:P582 [ a wikibase:BestRank ; psv:P576|psv:P582 [ wikibase:timeValue ?abolished ] ] }\n  SERVICE wikibase:label { bd:serviceParam wikibase:language \"en,de,es,fr\". }\n}\nGROUP BY ?position ?positionLabel ?jurisdiction ?country ?abolished\n","output":"str","x":2563.5,"y":911,"wires":[["9c3c4abf3787188a"]]},{"id":"5e172878b785b378","type":"inject","z":"c520d9da20ad7f1d","g":"164e6cd0e78e06db","name":"yml src url","props":[{"p":"url","v":"https://raw.githubusercontent.com/opensanctions/opensanctions/main/datasets/_wikidata/peps/wd_peps.yml","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":2851.5,"y":570,"wires":[["a7967cc2a64ddbc3"]]},{"id":"77f01573142b6ecd","type":"change","z":"c520d9da20ad7f1d","g":"164e6cd0e78e06db","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"query\": $$.payload\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":2841.5,"y":729,"wires":[["3902d092742273fd","701b6532f4a0b112"]]},{"id":"701b6532f4a0b112","type":"debug","z":"c520d9da20ad7f1d","g":"164e6cd0e78e06db","name":"debug 153","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":3101,"y":730,"wires":[]},{"id":"9e806d3dc78cb378","type":"http request","z":"c520d9da20ad7f1d","g":"9d492e9c19ccfe69","name":"get string content","method":"GET","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":3846,"y":307.6666259765625,"wires":[["fe2ff86fd6f6cb7f"]]},{"id":"fe2ff86fd6f6cb7f","type":"yaml","z":"c520d9da20ad7f1d","g":"9d492e9c19ccfe69","property":"payload","name":"","x":3806,"y":366.99995930989576,"wires":[["bb8c94859fb0b992"]]},{"id":"bb8c94859fb0b992","type":"change","z":"c520d9da20ad7f1d","g":"9d492e9c19ccfe69","name":"obtain data.url and set msg.url","rules":[{"t":"set","p":"context","pt":"msg","to":"payload","tot":"msg","dc":true},{"t":"set","p":"url","pt":"msg","to":"payload.data.url","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3886,"y":426.33329264322924,"wires":[["02bbf0e717c9547e"]]},{"id":"7ad4119305615f67","type":"link in","z":"c520d9da20ad7f1d","g":"9d492e9c19ccfe69","name":"set context","links":[],"x":3698,"y":237.333251953125,"wires":[["9e806d3dc78cb378"]]},{"id":"02bbf0e717c9547e","type":"link out","z":"c520d9da20ad7f1d","g":"9d492e9c19ccfe69","name":"link out 127","mode":"return","links":[],"x":4084,"y":497.6666259765625,"wires":[]},{"id":"b79c606f47fe1ba1","type":"link call","z":"c520d9da20ad7f1d","g":"9ee326abe24350e4","name":"","links":["7ad4119305615f67"],"linkType":"static","timeout":"30","x":3830,"y":803.1666259765625,"wires":[["1886304455c0ccf6","8ff1a258b74e3d6d"]]},{"id":"a7967cc2a64ddbc3","type":"link call","z":"c520d9da20ad7f1d","g":"164e6cd0e78e06db","name":"","links":["7ad4119305615f67"],"linkType":"static","timeout":"30","x":2851.5,"y":623,"wires":[["87b7e0487d90056b"]]},{"id":"5dd6452249862ea4","type":"function","z":"c520d9da20ad7f1d","g":"164e6cd0e78e06db","name":"emit country","func":"\nvar seen_countries = []\nvar seen_positions = []\nconst ctyLookup = context.flow.get(\"countryLookup\")\nvar decisionLookup = {}\n\nmsg.context.lookups.country_decisions.options.forEach( (obj) => {\n    decisionLookup[obj.match] = obj\n});\n\nmsg.payload.results.bindings.forEach( country => {\n    var qid = country.country.value.split(\"/\").pop()\n\n    if ( qid && qid.startsWith(\"Q\") && seen_countries.indexOf(qid) < 0 ) {\n        seen_countries.push( qid )\n        country[\"qid\"]  = qid\n\n        if ( decisionLookup[qid] && decisionLookup[qid].decision != \"national\") {\n            country[\"label\"] = country.countryLabel.value\n            country[\"code\"] = ctyLookup[country.countryLabel.value]\n        \n            node.send({ \n                decision: decisionLookup[qid],\n                context: msg.context, // immutable so don't change it!\n                country: country \n            })\n        }\n    }\n})\n\n// could return on final message with \"complete\" so that a join can be used\n// return msg","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2692.5,"y":845,"wires":[["2fccd7114fcb9018","ef440ae57f2cc25b"]]},{"id":"dae5c014d4bae461","type":"inject","z":"c520d9da20ad7f1d","g":"164e6cd0e78e06db","name":"get country name data","props":[{"p":"url","v":"https://raw.githubusercontent.com/alephdata/countrynames/master/countrynames/data.py","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"2","topic":"","x":2393.5,"y":626,"wires":[["013c48b3075180f9"]]},{"id":"013c48b3075180f9","type":"http request","z":"c520d9da20ad7f1d","g":"164e6cd0e78e06db","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":2399.5,"y":690,"wires":[["d5541243d4c21af2"]]},{"id":"d5541243d4c21af2","type":"function","z":"c520d9da20ad7f1d","g":"164e6cd0e78e06db","name":"setup country lookup","func":"var hsh = []\nvar DATA = {}\nvar data = msg.payload.split(\"\\n\")\n\n// first four lines are python code ...\ndata.shift()\ndata.shift()\ndata.shift()\ndata.shift()\n\nhsh = hsh.concat(data)\n\neval(hsh.join(\"\\n\"))\n\nvar countryLookup = {}\n\nObject.keys(DATA).forEach( code => {\n    DATA[code].forEach( countryName => {\n        countryLookup[countryName] = code\n    })\n})\n\ncontext.flow.set(\"codeLookup\", DATA)\ncontext.flow.set(\"countryLookup\", countryLookup)\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2405.5,"y":748,"wires":[[]]},{"id":"9b9cee2e756f9d55","type":"http request","z":"c520d9da20ad7f1d","g":"164e6cd0e78e06db","name":"wikipedia sparql (get)","method":"GET","ret":"obj","paytoqs":"query","url":"https://query.wikidata.org/sparql","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[{"keyType":"Accept","keyValue":"","valueType":"other","valueValue":"application/sparql-results+json"}],"x":2995.5,"y":1017.5,"wires":[["6db1fa64f26488ea"]]},{"id":"a00884db2d6f675d","type":"change","z":"c520d9da20ad7f1d","g":"164e6cd0e78e06db","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"query\": $$.payload\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":3015.5,"y":964,"wires":[["9b9cee2e756f9d55"]]},{"id":"3e51e918514d2907","type":"http request","z":"c520d9da20ad7f1d","g":"164e6cd0e78e06db","name":"wikipedia sparql (get)","method":"GET","ret":"obj","paytoqs":"query","url":"https://query.wikidata.org/sparql","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[{"keyType":"Accept","keyValue":"","valueType":"other","valueValue":"application/sparql-results+json"}],"x":2583.5,"y":1017.5,"wires":[["ac4e923c50f5d1a7"]]},{"id":"9c3c4abf3787188a","type":"change","z":"c520d9da20ad7f1d","g":"164e6cd0e78e06db","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"query\": $$.payload\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":2603.5,"y":964,"wires":[["3e51e918514d2907"]]},{"id":"ac4e923c50f5d1a7","type":"debug","z":"c520d9da20ad7f1d","g":"164e6cd0e78e06db","name":"debug 154","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"true","targetType":"full","statusVal":"","statusType":"counter","x":2603,"y":1085,"wires":[]},{"id":"e716d038089d5cc5","type":"inject","z":"c520d9da20ad7f1d","g":"ab68f3aaef4569e1","name":"yml src url","props":[{"p":"url","v":"https://raw.githubusercontent.com/opensanctions/opensanctions/main/datasets/be/fod_sanctions/be_fod_sanctions.yml","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":479.8333740234375,"y":662.9722137451172,"wires":[["e3c8294c5486fc15"]]},{"id":"e3c8294c5486fc15","type":"link call","z":"c520d9da20ad7f1d","g":"ab68f3aaef4569e1","name":"","links":["165f1f324f09f0e6"],"linkType":"static","timeout":"30","x":513.8333740234375,"y":731.9722137451172,"wires":[["3583bcad33d9f3ba"]]},{"id":"3583bcad33d9f3ba","type":"http request","z":"c520d9da20ad7f1d","g":"ab68f3aaef4569e1","name":"get binary buffer","method":"GET","ret":"bin","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":741.8333740234375,"y":665.9722137451172,"wires":[["5e7904ccd1e78eeb"]]},{"id":"5e7904ccd1e78eeb","type":"zip","z":"c520d9da20ad7f1d","g":"ab68f3aaef4569e1","name":"","mode":"decompress","filename":"","compressionlevel":6,"outasstring":true,"x":751.8333740234375,"y":732.9722137451172,"wires":[["fe7b7fe80e5ea060"]]},{"id":"fe7b7fe80e5ea060","type":"change","z":"c520d9da20ad7f1d","g":"ab68f3aaef4569e1","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[0].payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":982.8333740234375,"y":667.9722137451172,"wires":[["cee38969d215cb9a"]]},{"id":"cee38969d215cb9a","type":"xml","z":"c520d9da20ad7f1d","g":"ab68f3aaef4569e1","name":"","property":"payload","attr":"","chr":"","x":1012.8333740234375,"y":732.9722137451172,"wires":[["941e9ea1dc1c5b82"]]},{"id":"941e9ea1dc1c5b82","type":"debug","z":"c520d9da20ad7f1d","g":"ab68f3aaef4569e1","name":"debug 156","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1223.8333740234375,"y":701.9722137451172,"wires":[]},{"id":"6f27cc1c64dd46d7","type":"inject","z":"c520d9da20ad7f1d","g":"627cb5fcdc981c7b","name":"yml src url","props":[{"p":"url","v":"https://raw.githubusercontent.com/opensanctions/opensanctions/main/datasets/br/pep/br_pep.yaml","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":609.8333740234375,"y":945.1249923706055,"wires":[["40846c6803722622"]]},{"id":"40846c6803722622","type":"link call","z":"c520d9da20ad7f1d","g":"627cb5fcdc981c7b","name":"","links":["7ad4119305615f67"],"linkType":"static","timeout":"30","x":609.8333740234375,"y":998.1249923706055,"wires":[["1ef673d2ad20ce87"]]},{"id":"1ef673d2ad20ce87","type":"http request","z":"c520d9da20ad7f1d","g":"627cb5fcdc981c7b","name":"get string content + with user agent","method":"GET","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[{"keyType":"User-Agent","keyValue":"","valueType":"other","valueValue":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36"}],"x":539.8333740234375,"y":1051.6249923706055,"wires":[["b6ac42c3f42868a5"]]},{"id":"22ea66409ad5bfbd","type":"switch","z":"c520d9da20ad7f1d","g":"627cb5fcdc981c7b","name":"","property":"payload._","propertyType":"msg","rules":[{"t":"regex","v":"ano\"\\s*:\\s*\"(\\d+)\",\\s*\"mes\"\\s*:\\s*\"(\\d+)\",\\s*\"dia\"\\s*:\\s*","vt":"str","case":true}],"checkall":"true","repair":false,"outputs":1,"x":1010.8333740234375,"y":954.1249923706055,"wires":[["7cbc3af89cf8327f"]]},{"id":"7cbc3af89cf8327f","type":"function","z":"c520d9da20ad7f1d","g":"627cb5fcdc981c7b","name":"create csv url","func":"var mth = msg.payload._.match( /ano\"\\s*:\\s*\"(\\d+)\",\\s*\"mes\"\\s*:\\s*\"(\\d+)\",\\s*\"dia\"\\s*:\\s*/)\n\nmsg.url = msg.context.data.url + \"/\" + mth[1] + mth[2]\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":980.8333740234375,"y":1007.1249923706055,"wires":[["b31842341ce089bb"]]},{"id":"b31842341ce089bb","type":"http request","z":"c520d9da20ad7f1d","g":"627cb5fcdc981c7b","name":"get binary buffer + user agent","method":"GET","ret":"bin","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[{"keyType":"User-Agent","keyValue":"","valueType":"other","valueValue":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36"}],"x":930.8333740234375,"y":1060.6249923706055,"wires":[["cdfec906a2e6d6eb"]]},{"id":"cdfec906a2e6d6eb","type":"zip","z":"c520d9da20ad7f1d","g":"627cb5fcdc981c7b","name":"","mode":"decompress","filename":"","compressionlevel":6,"outasstring":false,"x":1351.8333740234375,"y":862.6249923706055,"wires":[["d8893b5ba42d4060"]]},{"id":"d8893b5ba42d4060","type":"change","z":"c520d9da20ad7f1d","g":"627cb5fcdc981c7b","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[0].payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1342.8333740234375,"y":910.1249923706055,"wires":[["93bc5adb68fb418b"]]},{"id":"3880ca01619bd07a","type":"PkgFile","z":"c520d9da20ad7f1d","g":"63efce4568e79d69","name":"package.json","filename":"package.json","format":"json","syntax":"mustache","template":"{\n    \"name\"          : \"node-red-contrib-iconv\",\n    \"version\"       : \"{{ pversion }}\",\n    \"description\"   : \"A Node-RED node based on iconv-lite for encoding or decoding conversion to pure JS encoding\",\n    \"dependencies\"  : {\n        \"iconv-lite\":\"^0.4.19\"\n    },\n    \"repository\" : {\n        \"type\":\"git\",\n        \"url\":\"https://github.com/machadotiago/node-red-contrib-iconv\"\n    },\n    \"license\": \"Apache-2.0\",\n    \"keywords\": [ \"node-red\", \"iconv-lite\",\"decoding\",\"encoding\" ],\n    \"node-red\"      : {\n        \"nodes\"     : {\n            \"converter\": \"red/converter.js\"\n        }\n    },\n    \"author\": {\n        \"name\": \"Tiago Machado\",\n        \"email\": \"tiago.machado@netsmarttech.com\",\n        \"url\": \"http://netsmarttech.com\"\n    }\n}\n","output":"str","x":6942,"y":966.125,"wires":[["0935d526dc02842c"]]},{"id":"0935d526dc02842c","type":"PkgFile","z":"c520d9da20ad7f1d","g":"63efce4568e79d69","name":"LICENSE","filename":"LICENSE","format":"text","syntax":"plain","template":"                                 Apache License\n                           Version 2.0, January 2004\n                        http://www.apache.org/licenses/\n\n   TERMS AND CONDITIONS FOR USE, REPRODUCTION, AND DISTRIBUTION\n\n   1. Definitions.\n\n      \"License\" shall mean the terms and conditions for use, reproduction,\n      and distribution as defined by Sections 1 through 9 of this document.\n\n      \"Licensor\" shall mean the copyright owner or entity authorized by\n      the copyright owner that is granting the License.\n\n      \"Legal Entity\" shall mean the union of the acting entity and all\n      other entities that control, are controlled by, or are under common\n      control with that entity. For the purposes of this definition,\n      \"control\" means (i) the power, direct or indirect, to cause the\n      direction or management of such entity, whether by contract or\n      otherwise, or (ii) ownership of fifty percent (50%) or more of the\n      outstanding shares, or (iii) beneficial ownership of such entity.\n\n      \"You\" (or \"Your\") shall mean an individual or Legal Entity\n      exercising permissions granted by this License.\n\n      \"Source\" form shall mean the preferred form for making modifications,\n      including but not limited to software source code, documentation\n      source, and configuration files.\n\n      \"Object\" form shall mean any form resulting from mechanical\n      transformation or translation of a Source form, including but\n      not limited to compiled object code, generated documentation,\n      and conversions to other media types.\n\n      \"Work\" shall mean the work of authorship, whether in Source or\n      Object form, made available under the License, as indicated by a\n      copyright notice that is included in or attached to the work\n      (an example is provided in the Appendix below).\n\n      \"Derivative Works\" shall mean any work, whether in Source or Object\n      form, that is based on (or derived from) the Work and for which the\n      editorial revisions, annotations, elaborations, or other modifications\n      represent, as a whole, an original work of authorship. For the purposes\n      of this License, Derivative Works shall not include works that remain\n      separable from, or merely link (or bind by name) to the interfaces of,\n      the Work and Derivative Works thereof.\n\n      \"Contribution\" shall mean any work of authorship, including\n      the original version of the Work and any modifications or additions\n      to that Work or Derivative Works thereof, that is intentionally\n      submitted to Licensor for inclusion in the Work by the copyright owner\n      or by an individual or Legal Entity authorized to submit on behalf of\n      the copyright owner. For the purposes of this definition, \"submitted\"\n      means any form of electronic, verbal, or written communication sent\n      to the Licensor or its representatives, including but not limited to\n      communication on electronic mailing lists, source code control systems,\n      and issue tracking systems that are managed by, or on behalf of, the\n      Licensor for the purpose of discussing and improving the Work, but\n      excluding communication that is conspicuously marked or otherwise\n      designated in writing by the copyright owner as \"Not a Contribution.\"\n\n      \"Contributor\" shall mean Licensor and any individual or Legal Entity\n      on behalf of whom a Contribution has been received by Licensor and\n      subsequently incorporated within the Work.\n\n   2. Grant of Copyright License. Subject to the terms and conditions of\n      this License, each Contributor hereby grants to You a perpetual,\n      worldwide, non-exclusive, no-charge, royalty-free, irrevocable\n      copyright license to reproduce, prepare Derivative Works of,\n      publicly display, publicly perform, sublicense, and distribute the\n      Work and such Derivative Works in Source or Object form.\n\n   3. Grant of Patent License. Subject to the terms and conditions of\n      this License, each Contributor hereby grants to You a perpetual,\n      worldwide, non-exclusive, no-charge, royalty-free, irrevocable\n      (except as stated in this section) patent license to make, have made,\n      use, offer to sell, sell, import, and otherwise transfer the Work,\n      where such license applies only to those patent claims licensable\n      by such Contributor that are necessarily infringed by their\n      Contribution(s) alone or by combination of their Contribution(s)\n      with the Work to which such Contribution(s) was submitted. If You\n      institute patent litigation against any entity (including a\n      cross-claim or counterclaim in a lawsuit) alleging that the Work\n      or a Contribution incorporated within the Work constitutes direct\n      or contributory patent infringement, then any patent licenses\n      granted to You under this License for that Work shall terminate\n      as of the date such litigation is filed.\n\n   4. Redistribution. You may reproduce and distribute copies of the\n      Work or Derivative Works thereof in any medium, with or without\n      modifications, and in Source or Object form, provided that You\n      meet the following conditions:\n\n      (a) You must give any other recipients of the Work or\n          Derivative Works a copy of this License; and\n\n      (b) You must cause any modified files to carry prominent notices\n          stating that You changed the files; and\n\n      (c) You must retain, in the Source form of any Derivative Works\n          that You distribute, all copyright, patent, trademark, and\n          attribution notices from the Source form of the Work,\n          excluding those notices that do not pertain to any part of\n          the Derivative Works; and\n\n      (d) If the Work includes a \"NOTICE\" text file as part of its\n          distribution, then any Derivative Works that You distribute must\n          include a readable copy of the attribution notices contained\n          within such NOTICE file, excluding those notices that do not\n          pertain to any part of the Derivative Works, in at least one\n          of the following places: within a NOTICE text file distributed\n          as part of the Derivative Works; within the Source form or\n          documentation, if provided along with the Derivative Works; or,\n          within a display generated by the Derivative Works, if and\n          wherever such third-party notices normally appear. The contents\n          of the NOTICE file are for informational purposes only and\n          do not modify the License. You may add Your own attribution\n          notices within Derivative Works that You distribute, alongside\n          or as an addendum to the NOTICE text from the Work, provided\n          that such additional attribution notices cannot be construed\n          as modifying the License.\n\n      You may add Your own copyright statement to Your modifications and\n      may provide additional or different license terms and conditions\n      for use, reproduction, or distribution of Your modifications, or\n      for any such Derivative Works as a whole, provided Your use,\n      reproduction, and distribution of the Work otherwise complies with\n      the conditions stated in this License.\n\n   5. Submission of Contributions. Unless You explicitly state otherwise,\n      any Contribution intentionally submitted for inclusion in the Work\n      by You to the Licensor shall be under the terms and conditions of\n      this License, without any additional terms or conditions.\n      Notwithstanding the above, nothing herein shall supersede or modify\n      the terms of any separate license agreement you may have executed\n      with Licensor regarding such Contributions.\n\n   6. Trademarks. This License does not grant permission to use the trade\n      names, trademarks, service marks, or product names of the Licensor,\n      except as required for reasonable and customary use in describing the\n      origin of the Work and reproducing the content of the NOTICE file.\n\n   7. Disclaimer of Warranty. Unless required by applicable law or\n      agreed to in writing, Licensor provides the Work (and each\n      Contributor provides its Contributions) on an \"AS IS\" BASIS,\n      WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or\n      implied, including, without limitation, any warranties or conditions\n      of TITLE, NON-INFRINGEMENT, MERCHANTABILITY, or FITNESS FOR A\n      PARTICULAR PURPOSE. You are solely responsible for determining the\n      appropriateness of using or redistributing the Work and assume any\n      risks associated with Your exercise of permissions under this License.\n\n   8. Limitation of Liability. In no event and under no legal theory,\n      whether in tort (including negligence), contract, or otherwise,\n      unless required by applicable law (such as deliberate and grossly\n      negligent acts) or agreed to in writing, shall any Contributor be\n      liable to You for damages, including any direct, indirect, special,\n      incidental, or consequential damages of any character arising as a\n      result of this License or out of the use or inability to use the\n      Work (including but not limited to damages for loss of goodwill,\n      work stoppage, computer failure or malfunction, or any and all\n      other commercial damages or losses), even if such Contributor\n      has been advised of the possibility of such damages.\n\n   9. Accepting Warranty or Additional Liability. While redistributing\n      the Work or Derivative Works thereof, You may choose to offer,\n      and charge a fee for, acceptance of support, warranty, indemnity,\n      or other liability obligations and/or rights consistent with this\n      License. However, in accepting such obligations, You may act only\n      on Your own behalf and on Your sole responsibility, not on behalf\n      of any other Contributor, and only if You agree to indemnify,\n      defend, and hold each Contributor harmless for any liability\n      incurred by, or claims asserted against, such Contributor by reason\n      of your accepting any such warranty or additional liability.\n\n   END OF TERMS AND CONDITIONS\n\n   APPENDIX: How to apply the Apache License to your work.\n\n      To apply the Apache License to your work, attach the following\n      boilerplate notice, with the fields enclosed by brackets \"[]\"\n      replaced with your own identifying information. (Don't include\n      the brackets!)  The text should be enclosed in the appropriate\n      comment syntax for the file format. We also recommend that a\n      file or class name and description of purpose be included on the\n      same \"printed page\" as the copyright notice for easier\n      identification within third-party archives.\n\n   Copyright [yyyy] [name of copyright owner]\n\n   Licensed under the Apache License, Version 2.0 (the \"License\");\n   you may not use this file except in compliance with the License.\n   You may obtain a copy of the License at\n\n       http://www.apache.org/licenses/LICENSE-2.0\n\n   Unless required by applicable law or agreed to in writing, software\n   distributed under the License is distributed on an \"AS IS\" BASIS,\n   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.\n   See the License for the specific language governing permissions and\n   limitations under the License.\n","output":"str","x":6942,"y":1016.125,"wires":[["eac9dc676ecafd22"]]},{"id":"eac9dc676ecafd22","type":"PkgFile","z":"c520d9da20ad7f1d","g":"63efce4568e79d69","name":"README.md","filename":"README.md","format":"markdown","syntax":"plain","template":"# node-red-contrib-iconv\r\nA Node-RED node based on iconv-lite for encoding conversion to pure JS encoding.\r\n\r\nThis node is typically used when the \"files\" node is used for reading a file which is not encoded in UTF-8\r\n\r\n## Supported Encodings\r\n * Node.js Native encodings: utf8, ucs2 / utf16le, ascii, binary, base64, hex\r\n * Unicode: UTF-16BE, UTF-16 (with BOM)\r\n * Single-byte:\r\n   * Windows codepages: 874, 1250-1258 (aliases: cpXXX, winXXX, windowsXXX)\r\n   * ISO codepages: ISO-8859-1 - ISO-8859-16\r\n   * IBM codepages: 437, 737, 775, 808, 850, 852, 855-858, 860-866, 869, 922, 1046, 1124, 1125, 1129, 1133, 1161-1163 (aliases cpXXX, ibmXXX)\r\n   * Mac codepages: maccroatian, maccyrillic, macgreek, maciceland, macroman, macromania, macthai, macturkish, macukraine, maccenteuro, macintosh\r\n   * KOI8 codepages: koi8-r, koi8-u, koi8-ru, koi8-t\r\n   * Miscellaneous: armscii8, rk1048, tcvn, georgianacademy, georgianps, pt154, viscii, iso646cn, iso646jp, hproman8, tis620\r\n * Multi-byte:\r\n   * Japanese: Shift_JIS, Windows-31j, Windows932, EUC-JP\r\n   * Chinese: GB2312, GBK, GB18030, Windows936, EUC-CN\r\n   * Korean: KS_C_5601, Windows949, EUC-KR\r\n   * Taiwan/Hong Kong: Big5, Big5-HKSCS, Windows950\r\n\r\n","output":"str","x":6942,"y":1066.125,"wires":[["22a4cfc1473e1a86"]]},{"id":"22a4cfc1473e1a86","type":"PkgFile","z":"c520d9da20ad7f1d","g":"63efce4568e79d69","name":"converter.html","filename":"red/converter.html","format":"html","syntax":"plain","template":"<!--\n Copyright 2017 Tiago Machado\n\n Licensed under the Apache License, Version 2.0 (the \"License\");\n you may not use this file except in compliance with the License.\n You may obtain a copy of the License at\n\n\t\t http://www.apache.org/licenses/LICENSE-2.0\n\n Unless required by applicable law or agreed to in writing, software\n distributed under the License is distributed on an \"AS IS\" BASIS,\n WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.\n See the License for the specific language governing permissions and\n limitations under the License.\n-->\n\n<script type=\"text/x-red\" data-template-name=\"converter\">\n    <div class=\"form-row\">\n        <label for=\"node-input-from\"><i class=\"fa fa-sign-in\"></i> <span data-i18n=\"converter.label.from\"></span></label>\n        <input type=\"text\" id=\"node-input-from\" data-i18n=\"[placeholder]converter.input.from\">\n    </div>\n    <div class=\"form-row\">\n        <label for=\"node-input-name\"><i class=\"fa fa-tag\"></i> <span data-i18n=\"converter.label.name\"></span></label>\n        <input type=\"text\" id=\"node-input-name\" data-i18n=\"[placeholder]converter.label.name\">\n    </div>\n</script>\n\n<script type=\"text/x-red\" data-help-name=\"converter\">\n    <p>For decoding simply send a Buffer inside <code>msg.payload</code> and the choosed encoding format will be applied to convert it to pure Javascript chracter encoding.</p>\n    <p>For encoding simply send a String inside <code>msg.payload</code> and the choosed encoding format will be applied to convert.</p>\n    <ul>Supported Encodings</ul>\n    <li>Node.js Native encodings: utf8, ucs2 / utf16le, ascii, binary, base64, hex</li>\n    <li>Unicode: UTF-16BE, UTF-16 (with BOM)</li>\n    <li>Windows codepages: 874, 1250-1258 (aliases: cpXXX, winXXX, windowsXXX)</li>\n    <li>ISO codepages: ISO-8859-1 - ISO-8859-16</li>\n    <li>IBM codepages: 437, 737, 775, 808, 850, 852, 855-858, 860-866, 869, 922, 1046, 1124, 1125, 1129, 1133, 1161-1163 (aliases cpXXX, ibmXXX)</li>\n    <li>Mac codepages: maccroatian, maccyrillic, macgreek, maciceland, macroman, macromania, macthai, macturkish, macukraine, maccenteuro, macintosh</li>\n    <li>KOI8 codepages: koi8-r, koi8-u, koi8-ru, koi8-t</li>\n    <li>Miscellaneous: armscii8, rk1048, tcvn, georgianacademy, georgianps, pt154, viscii, iso646cn, iso646jp, hproman8, tis620</li>\n    <li>Japanese: Shift_JIS, Windows-31j, Windows932, EUC-JP</li>\n    <li>Chinese: GB2312, GBK, GB18030, Windows936, EUC-CN</li>\n    <li>Korean: KS_C_5601, Windows949, EUC-KR</li>\n    <li>Taiwan/Hong Kong: Big5, Big5-HKSCS, Windows950</li>\n</script>\n\n<script type=\"text/javascript\">\n    RED.nodes.registerType('converter',{\n        category: 'function',\n        color:\"#DEBD5C\",\n        defaults: {\n            name: {\n                value:\"\"\n            },\n            from: {\n                value:\"\",\n                required:true\n            }\n        },\n        inputs:1,\n        outputs:1,\n        icon: \"arrow-in.png\",\n        label: function() {\n            return this.name||\"charset\";\n        },\n        labelStyle: function() {\n            return this.name?\"node_label_italic\":\"\";\n        }\n    });\n</script>\n","output":"str","x":6942,"y":1116.125,"wires":[["07e83e51bef609b9"]]},{"id":"07e83e51bef609b9","type":"PkgFile","z":"c520d9da20ad7f1d","g":"63efce4568e79d69","name":"converter.js","filename":"red/converter.js","format":"javascript","syntax":"plain","template":"/*\nCopyright 2017 Tiago Machado\n\n   Licensed under the Apache License, Version 2.0 (the \"License\");\n   you may not use this file except in compliance with the License.\n   You may obtain a copy of the License at\n\n       http://www.apache.org/licenses/LICENSE-2.0\n\n   Unless required by applicable law or agreed to in writing, software\n   distributed under the License is distributed on an \"AS IS\" BASIS,\n   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.\n   See the License for the specific language governing permissions and\n   limitations under the License.\n*/\n\nmodule.exports = function (RED) {\n    \"use strict\";\n\n    var iconv = require('iconv-lite');\n\n    function Converter(config) {\n        RED.nodes.createNode(this, config);\n        this.from = config.from;\n        var node = this;\n\n        this.on( 'close', function(done) {\n            node.status({})\n            done()\n        })\n\n        this.on('input', function (msg) {\n            if (iconv.encodingExists(node.from)) {\n                if (msg.hasOwnProperty(\"payload\")) {\n                    if (Buffer.isBuffer(msg.payload)) {\n                        node.status({fill:\"blue\",shape:\"ring\",text:\"decoding\"});\n\n                        msg.payload = iconv.decode(msg.payload, node.from);\n                        node.send(msg);\n                        node.status({})\n                    } else if (typeof msg.payload === \"string\") {\n                        node.status({ fill: \"green\", shape: \"ring\", text: \"encoding\" });\n\n                        msg.payload = iconv.encode(msg.payload, node.from)\n                        node.send(msg);\n                        node.status({})\n                    } else {\n                        node.error(RED._(\"converter.error.type\"), msg);\n                    }\n                } else {\n                    node.error(RED._(\"converter.error.payload\"), msg);\n                }\n            } else {\n                node.error(RED._(\"converter.error.encoding\") + node.from, msg);\n            }\n        });\n    }\n    RED.nodes.registerType(\"converter\", Converter);\n}","output":"str","x":6942,"y":1166.125,"wires":[["7d78279afd22dcc5"]]},{"id":"7d78279afd22dcc5","type":"PkgFile","z":"c520d9da20ad7f1d","g":"63efce4568e79d69","name":"converter.json","filename":"red/locales/en-US/converter.json","format":"json","syntax":"plain","template":"{\r\n    \"converter\": {\r\n        \"label\": {\r\n            \"name\": \"Name\",\r\n            \"from\": \"Encoding\"\r\n        },\r\n        \"input\":{\r\n            \"from\":\"win1252\"\r\n        },\r\n        \"error\": {\r\n            \"type\":\"This node only handles buffers.\",\r\n            \"payload\":\"Payload is missing\",\r\n            \"encoding\":\"Encoding not found: \"\r\n        }\r\n    }\r\n}\r\n","output":"str","x":6942,"y":1216.125,"wires":[["94baaba7a4f5012d"]]},{"id":"ccf3adb86595f213","type":"NodeDevOps","z":"c520d9da20ad7f1d","g":"63efce4568e79d69","name":"","pname":"node-red-contrib-iconv","pversion":"0.0.5","pauthorname":{"name":"Tiago Machado","email":"tiago.machado@netsmarttech.com","url":"http://netsmarttech.com"},"pauthoremail":{"name":"Tiago Machado","email":"tiago.machado@netsmarttech.com","url":"http://netsmarttech.com"},"pdescription":"A Node-RED node based on iconv-lite for encoding or decoding conversion to pure JS encoding","noderedinstall":true,"randompackagename":false,"ignore_package_check":false,"gitcommit":false,"gitcheckforchange":false,"githubowner":"","githubrepo":"","githubbranch":"main","githubauthor":"","githubauthoremail":"","githubmessage":"","npmpublish":false,"npmunpublish":false,"npmotp":"","x":6822,"y":916.125,"wires":[["3880ca01619bd07a"]]},{"id":"94baaba7a4f5012d","type":"NpmTarBall","z":"c520d9da20ad7f1d","g":"63efce4568e79d69","name":"","x":7092,"y":1266.125,"wires":[["5cd840195bd5477c"]]},{"id":"5cd840195bd5477c","type":"NodeRedInstall","z":"c520d9da20ad7f1d","g":"63efce4568e79d69","name":"","x":7242,"y":1316.125,"wires":[[]]},{"id":"93bc5adb68fb418b","type":"converter","z":"c520d9da20ad7f1d","g":"627cb5fcdc981c7b","name":"","from":"iso-8859-1","x":1362.8333740234375,"y":963.1249923706055,"wires":[["f934c57e80c0169c"]]},{"id":"f934c57e80c0169c","type":"csv","z":"c520d9da20ad7f1d","g":"627cb5fcdc981c7b","name":"","sep":";","hdrin":true,"hdrout":"none","multi":"one","ret":"\\r\\n","temp":"","skip":"0","strings":true,"include_empty_strings":false,"include_null_values":true,"x":1372.8333740234375,"y":1016.1249923706055,"wires":[["239389f853cae378"]]},{"id":"239389f853cae378","type":"debug","z":"c520d9da20ad7f1d","g":"627cb5fcdc981c7b","name":"debug 158","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"","statusType":"counter","x":1355.3333740234375,"y":1069.1249923706055,"wires":[]},{"id":"d0c4fafd0e99f3c4","type":"inject","z":"c520d9da20ad7f1d","g":"7f594fe716c8b41e","name":"yml src url","props":[{"p":"url","v":"https://raw.githubusercontent.com/opensanctions/opensanctions/main/datasets/ch/seco_sanctions/ch_seco_sanctions.yml","vt":"str"},{"p":"requestTimeout","v":"120000","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":479.8333740234375,"y":1521.0833282470703,"wires":[["f20bafb815e8c547"]]},{"id":"f20bafb815e8c547","type":"link call","z":"c520d9da20ad7f1d","g":"7f594fe716c8b41e","name":"","links":["165f1f324f09f0e6"],"linkType":"static","timeout":"120","x":624.8333740234375,"y":1521.0833282470703,"wires":[["9e938dd13124dbad"]]},{"id":"9e938dd13124dbad","type":"debug","z":"c520d9da20ad7f1d","g":"7f594fe716c8b41e","name":"debug 159","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":780.3333740234375,"y":1521.0833282470703,"wires":[]},{"id":"ae4a53b9c9a92ee6","type":"inject","z":"c520d9da20ad7f1d","g":"537ec8ef34a9f817","name":"yml src url - warnings","props":[{"p":"url","v":"https://raw.githubusercontent.com/opensanctions/opensanctions/main/datasets/ch/finma/ch_finma_warnings.yml","vt":"str"},{"p":"postdata","v":"{\"ds\":\"{77BC25B0-F2B7-4AA2-B0D8-5837913D9B93}\",\"Order\":\"1\"}","vt":"json"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":519.8333740234375,"y":1328.430549621582,"wires":[["0f3ecf142815e085"]]},{"id":"1c0327d0fe330fc5","type":"inject","z":"c520d9da20ad7f1d","g":"537ec8ef34a9f817","name":"yml src url - rulings","props":[{"p":"url","v":"https://raw.githubusercontent.com/opensanctions/opensanctions/main/datasets/ch/finma/ch_finma_rulings.yml","vt":"str"},{"p":"postdata","v":"{\"ds\":\"{20B37C3A-01FC-42B8-A031-847154F8BBDF}\",\"Order\":\"4\"}","vt":"json"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":519.8333740234375,"y":1391.430549621582,"wires":[["0f3ecf142815e085"]]},{"id":"0f3ecf142815e085","type":"link call","z":"c520d9da20ad7f1d","g":"537ec8ef34a9f817","name":"","links":["7ad4119305615f67"],"linkType":"static","timeout":"30","x":762.8333740234375,"y":1359.930549621582,"wires":[["8d2f2310791ce1c5"]]},{"id":"564355d9d994ed01","type":"http request","z":"c520d9da20ad7f1d","g":"537ec8ef34a9f817","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":1188.8333740234375,"y":1359.930549621582,"wires":[["dd1128b5b2fee7d0"]]},{"id":"dd1128b5b2fee7d0","type":"debug","z":"c520d9da20ad7f1d","g":"537ec8ef34a9f817","name":"debug 160","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1402.3333740234375,"y":1359.930549621582,"wires":[]},{"id":"8d2f2310791ce1c5","type":"change","z":"c520d9da20ad7f1d","g":"537ec8ef34a9f817","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"postdata","tot":"msg","dc":true},{"t":"set","p":"requestTimeout","pt":"msg","to":"60000","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":975.8333740234375,"y":1359.930549621582,"wires":[["564355d9d994ed01"]]},{"id":"13283b2e1cac089f","type":"inject","z":"c520d9da20ad7f1d","g":"73d5c22406dd9a58","name":"yml src url","props":[{"p":"url","v":"https://raw.githubusercontent.com/opensanctions/opensanctions/main/datasets/co/join_dots/co_join_dots.yml","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":479.8333740234375,"y":1650.7361068725586,"wires":[["683e1c14006f27be"]]},{"id":"683e1c14006f27be","type":"link call","z":"c520d9da20ad7f1d","g":"73d5c22406dd9a58","name":"","links":["165f1f324f09f0e6"],"linkType":"static","timeout":"30","x":672.8333740234375,"y":1650.7361068725586,"wires":[["1cec1cc021c2bb0b"]]},{"id":"1cec1cc021c2bb0b","type":"debug","z":"c520d9da20ad7f1d","g":"73d5c22406dd9a58","name":"debug 161","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":876.3333740234375,"y":1650.7361068725586,"wires":[]},{"id":"b4d32a9c9a54bd9b","type":"inject","z":"c520d9da20ad7f1d","g":"0f1d81629f8a30bf","name":"yml src url","props":[{"p":"url","v":"https://raw.githubusercontent.com/opensanctions/opensanctions/main/datasets/co/funcion_publica/co_funcion_publica.yml","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":479.8333740234375,"y":1780.3888854980469,"wires":[["b17f8aa1d0b32674"]]},{"id":"b17f8aa1d0b32674","type":"link call","z":"c520d9da20ad7f1d","g":"0f1d81629f8a30bf","name":"","links":["165f1f324f09f0e6"],"linkType":"static","timeout":"30","x":672.8333740234375,"y":1780.3888854980469,"wires":[["79726b17a27e8bd7"]]},{"id":"79726b17a27e8bd7","type":"debug","z":"c520d9da20ad7f1d","g":"0f1d81629f8a30bf","name":"debug 162","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":876.3333740234375,"y":1780.3888854980469,"wires":[]},{"id":"1e568cecb5232e09","type":"inject","z":"c520d9da20ad7f1d","g":"c102c88e7c56f649","name":"yml src url","props":[{"p":"url","v":"https://raw.githubusercontent.com/opensanctions/opensanctions/main/datasets/cu/inventario_legislatura/cu_inventario_legislatura.yml","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":479.8333740234375,"y":1910.0416641235352,"wires":[["414aa51f5065c431"]]},{"id":"414aa51f5065c431","type":"link call","z":"c520d9da20ad7f1d","g":"c102c88e7c56f649","name":"","links":["165f1f324f09f0e6"],"linkType":"static","timeout":"30","x":672.8333740234375,"y":1910.0416641235352,"wires":[["2e20aba5af1ed23b"]]},{"id":"1a65c87ad6459389","type":"http request","z":"c520d9da20ad7f1d","g":"9ee326abe24350e4","name":"get string content","method":"GET","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":4092,"y":1077.6666259765625,"wires":[["9c702910e786d871"]]},{"id":"2e20aba5af1ed23b","type":"function","z":"c520d9da20ad7f1d","g":"c102c88e7c56f649","name":"cheerio parsing html document","func":"var $ = cheerio.load(msg.payload)\n\nvar header = null\n\n$('table[id=\"table_1\"]').find(\"tr\").each( (idx,e) => {\n    if ( !header && $(e).find(\"th\").length > 0 ) {\n        header = []\n        $(e).find(\"th\").each( (_,th) => {\n            header.push( $(th).text().trim() )\n        })\n    } else {\n        var payload = []\n        $(e).find(\"td\").each((_, td) => {\n            payload.push($(td).text().trim())\n        })\n        \n        node.send({  \n            header: header,\n            payload: payload \n        })\n    }\n})\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[{"var":"cheerio","module":"cheerio"}],"x":925.8333740234375,"y":1910.0416641235352,"wires":[["b72fb06ca905586b"]]},{"id":"b72fb06ca905586b","type":"debug","z":"c520d9da20ad7f1d","g":"c102c88e7c56f649","name":"debug 163","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"true","targetType":"full","statusVal":"","statusType":"counter","x":1199.3333740234375,"y":1910.0416641235352,"wires":[]},{"id":"3b1d866522c92f57","type":"inject","z":"c520d9da20ad7f1d","g":"ce0a7b79d10ae64c","name":"yml src url","props":[{"p":"url","v":"https://raw.githubusercontent.com/opensanctions/opensanctions/main/datasets/cy/companies/cy_companies.yml","vt":"str"},{"p":"requestTimeout","v":"120000","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":479.8333740234375,"y":2039.6944427490234,"wires":[["ceb3c3de96df298f"]]},{"id":"ceb3c3de96df298f","type":"link call","z":"c520d9da20ad7f1d","g":"ce0a7b79d10ae64c","name":"","links":["7ad4119305615f67"],"linkType":"static","timeout":"30","x":682.8333740234375,"y":2039.6944427490234,"wires":[["c5e1234e951da169"]]},{"id":"c5e1234e951da169","type":"http request","z":"c520d9da20ad7f1d","g":"ce0a7b79d10ae64c","name":"get binary buffer","method":"GET","ret":"bin","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":895.8333740234375,"y":2039.6944427490234,"wires":[["52d3902c253e3cd9"]]},{"id":"52d3902c253e3cd9","type":"zip","z":"c520d9da20ad7f1d","g":"ce0a7b79d10ae64c","name":"","mode":"decompress","filename":"","compressionlevel":6,"outasstring":true,"x":1108.8333740234375,"y":2039.6944427490234,"wires":[["db47b97bb81d1380"]]},{"id":"988502820eeecc5e","type":"debug","z":"c520d9da20ad7f1d","g":"ce0a7b79d10ae64c","name":"debug 164","active":false,"tosidebar":false,"console":false,"tostatus":true,"complete":"true","targetType":"full","statusVal":"","statusType":"counter","x":1858.3333740234375,"y":2039.6944427490234,"wires":[]},{"id":"db47b97bb81d1380","type":"split","z":"c520d9da20ad7f1d","g":"ce0a7b79d10ae64c","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":1291.8333740234375,"y":2039.6944427490234,"wires":[["a64cc856c648446f"]]},{"id":"bac0b9388ec89d12","type":"csv","z":"c520d9da20ad7f1d","g":"ce0a7b79d10ae64c","name":"","sep":",","hdrin":true,"hdrout":"none","multi":"one","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":1677.8333740234375,"y":2039.6944427490234,"wires":[["988502820eeecc5e"]]},{"id":"a64cc856c648446f","type":"change","z":"c520d9da20ad7f1d","g":"ce0a7b79d10ae64c","name":"","rules":[{"t":"set","p":"filename","pt":"msg","to":"payload.filename","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"payload.payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1484.8333740234375,"y":2039.6944427490234,"wires":[["bac0b9388ec89d12"]]},{"id":"c53bd42c839368cf","type":"function","z":"c520d9da20ad7f1d","g":"d4eef68edc7d60ba","name":"'a' tag with link to terrorist list","func":"var $ = cheerio.load(msg.payload)\n\n$('a[href*=\"../API/\"]').each( (idx,e) => {\n    var payload = Object.assign({ _: $(e).html().trim() }, e.attribs)\n    if (payload._.match( /Local Terrorist List/ )) {\n        node.send({ ...msg,  payload: payload })\n    }\n})\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[{"var":"cheerio","module":"cheerio"}],"x":875.3333740234375,"y":403.6666564941406,"wires":[["fbadfaa5662ee35d"]]},{"id":"b6ac42c3f42868a5","type":"function","z":"c520d9da20ad7f1d","g":"627cb5fcdc981c7b","name":"all 'script' tags","func":"var $ = cheerio.load(msg.payload)\n\n$('script').each( (idx,e) => {\n    var payload = Object.assign({ \n        _: $(e).html().trim() \n    }, e.attribs)\n\n    node.send({ ...msg,  payload: payload })\n})\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[{"var":"cheerio","module":"cheerio"}],"x":979.8333740234375,"y":898.1249923706055,"wires":[["22ea66409ad5bfbd"]]},{"id":"30e16e11952ac995","type":"inject","z":"c520d9da20ad7f1d","g":"d36679ea0f1dca48","name":"yml usr src","props":[{"p":"url","v":"https://raw.githubusercontent.com/opensanctions/opensanctions/main/datasets/cz/business_register/cz_business_register.yml","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":550.8333740234375,"y":2195.3472213745117,"wires":[["d1d555b4dc5a52c9"]]},{"id":"d1d555b4dc5a52c9","type":"link call","z":"c520d9da20ad7f1d","g":"d36679ea0f1dca48","name":"","links":["7ad4119305615f67"],"linkType":"static","timeout":"30","x":554.8333740234375,"y":2247.3472213745117,"wires":[["43367385aa8c226f"]]},{"id":"43367385aa8c226f","type":"change","z":"c520d9da20ad7f1d","g":"d36679ea0f1dca48","name":"update data url","rules":[{"t":"set","p":"context.data.url","pt":"msg","to":"https://wwwinfo.mfcr.cz/_konec/ares_vreo_all.tar.gz","tot":"str"},{"t":"set","p":"url","pt":"msg","to":"context.data.url","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":552.8333740234375,"y":2312.3472213745117,"wires":[["aab6aacddc1f9322"]]},{"id":"aab6aacddc1f9322","type":"http request","z":"c520d9da20ad7f1d","g":"d36679ea0f1dca48","name":"get binary buffer","method":"GET","ret":"bin","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":826.8333740234375,"y":2312.3472213745117,"wires":[["7506121323ac8d6e"]]},{"id":"7506121323ac8d6e","type":"file","z":"c520d9da20ad7f1d","g":"d36679ea0f1dca48","name":"","filename":"/root/ares_vreo_all.tar.gz","filenameType":"str","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"binary","x":854.8333740234375,"y":2195.3472213745117,"wires":[[]]},{"id":"8bbd7f053c48ed0d","type":"file in","z":"c520d9da20ad7f1d","g":"91f4c4ebd2cd7ac6","name":"","filename":"/root/ares_vreo_all.tar.gz","filenameType":"str","format":"","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":1085.8333740234375,"y":2398.3472213745117,"wires":[["73448365796efa66"]]},{"id":"73448365796efa66","type":"tarball","z":"c520d9da20ad7f1d","g":"91f4c4ebd2cd7ac6","name":"","x":1465.8333740234375,"y":2400.3472213745117,"wires":[["b3b21b1f859182a6"]]},{"id":"447bc43efc6ee0c8","type":"debug","z":"c520d9da20ad7f1d","g":"91f4c4ebd2cd7ac6","name":"debug 165","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1782.8333740234375,"y":2233.3472213745117,"wires":[]},{"id":"402740a6ef4efee9","type":"inject","z":"c520d9da20ad7f1d","g":"91f4c4ebd2cd7ac6","name":"trigger","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":469.8333740234375,"y":2398.3472213745117,"wires":[["8bbd7f053c48ed0d"]]},{"id":"06cd5caac27d6051","type":"inject","z":"c520d9da20ad7f1d","g":"dbae00e6e96bbf62","name":"yml usr src","props":[{"p":"url","v":"https://raw.githubusercontent.com/opensanctions/opensanctions/main/datasets/de/offeneregister/de_offeneregister.yml","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":566.8333740234375,"y":2638,"wires":[["46a8a012bf792fe4"]]},{"id":"46a8a012bf792fe4","type":"link call","z":"c520d9da20ad7f1d","g":"dbae00e6e96bbf62","name":"","links":["7ad4119305615f67"],"linkType":"static","timeout":"30","x":585.8333740234375,"y":2720,"wires":[["71214b8d901e0380"]]},{"id":"71214b8d901e0380","type":"http request","z":"c520d9da20ad7f1d","g":"dbae00e6e96bbf62","name":"get binary buffer","method":"GET","ret":"bin","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":818.8333740234375,"y":2720,"wires":[["ba3ed4bbc7ce24a5"]]},{"id":"886009b2d1c31539","type":"debug","z":"c520d9da20ad7f1d","g":"004e9d72a2266601","name":"debug 168","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"","statusType":"counter","x":1632.8333740234375,"y":2617,"wires":[]},{"id":"ba3ed4bbc7ce24a5","type":"file","z":"c520d9da20ad7f1d","g":"dbae00e6e96bbf62","name":"","filename":"/root/de_companies_ocdata.jsonl.bz2","filenameType":"str","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"binary","x":885.8333740234375,"y":2627,"wires":[[]]},{"id":"9db351c1124ac7ba","type":"file in","z":"c520d9da20ad7f1d","g":"004e9d72a2266601","name":"","filename":"/root/de_companies_ocdata.jsonl.bz2","filenameType":"str","format":"","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":768.8333740234375,"y":2930,"wires":[["7f894724a4c75452"]]},{"id":"7f894724a4c75452","type":"function","z":"c520d9da20ad7f1d","g":"004e9d72a2266601","name":"bz2 decompress","func":"\nmsg.payload = new txtd.TextDecoder('utf-8').decode(bz2.decompress(msg.payload))\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[{"var":"bz2","module":"bz2"},{"var":"txtd","module":"text-encoding"}],"x":1034.8333740234375,"y":3002,"wires":[["ec6c52ec09ce1e5a"]]},{"id":"bc3fbd5c18074048","type":"inject","z":"c520d9da20ad7f1d","g":"004e9d72a2266601","name":"trigger","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":469.8333740234375,"y":2824,"wires":[["9db351c1124ac7ba"]]},{"id":"ec6c52ec09ce1e5a","type":"split","z":"c520d9da20ad7f1d","g":"70a1f0a8fae22171","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":1254.8333740234375,"y":2948,"wires":[["0ab6e9fc4f0cb9ca"]]},{"id":"2a6cf22ebf6931df","type":"json","z":"c520d9da20ad7f1d","g":"70a1f0a8fae22171","name":"","property":"payload","action":"obj","pretty":false,"x":1463.8333740234375,"y":2829,"wires":[["886009b2d1c31539"]]},{"id":"0ab6e9fc4f0cb9ca","type":"switch","z":"c520d9da20ad7f1d","g":"70a1f0a8fae22171","name":"ignore empty content","property":"payload","propertyType":"msg","rules":[{"t":"nempty"}],"checkall":"true","repair":false,"outputs":1,"x":1370.8333740234375,"y":2889,"wires":[["2a6cf22ebf6931df"]]},{"id":"b3b21b1f859182a6","type":"function","z":"c520d9da20ad7f1d","g":"91f4c4ebd2cd7ac6","name":"buffer --> string","func":"\nmsg.payload = new txtd.TextDecoder('utf-8').decode(msg.payload)\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[{"var":"txtd","module":"text-encoding"}],"x":1666.8333740234375,"y":2471.3472213745117,"wires":[["135ffdfc63373294"]]},{"id":"135ffdfc63373294","type":"xml","z":"c520d9da20ad7f1d","g":"91f4c4ebd2cd7ac6","name":"","property":"payload","attr":"","chr":"","x":1717.8333740234375,"y":2348.3472213745117,"wires":[["447bc43efc6ee0c8"]]},{"id":"4fc8b2927b4f4d43","type":"inject","z":"c520d9da20ad7f1d","g":"2adeafaea205b686","name":"yml usr src","props":[{"p":"url","v":"https://raw.githubusercontent.com/opensanctions/opensanctions/main/datasets/de/abgeordnetenwatch/de_abgeordnetenwatch.yml","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":486,"y":3189.5,"wires":[["97b4ce3e6e2bb332"]]},{"id":"97b4ce3e6e2bb332","type":"link call","z":"c520d9da20ad7f1d","g":"2adeafaea205b686","name":"","links":["165f1f324f09f0e6"],"linkType":"static","timeout":"30","x":679,"y":3189.5,"wires":[["4252ceddfeb11048","be85ec166afd4db1"]]},{"id":"545f7f08f3847611","type":"debug","z":"c520d9da20ad7f1d","g":"2adeafaea205b686","name":"debug 169","active":false,"tosidebar":false,"console":false,"tostatus":true,"complete":"true","targetType":"full","statusVal":"","statusType":"counter","x":1457,"y":3235,"wires":[]},{"id":"4252ceddfeb11048","type":"function","z":"c520d9da20ad7f1d","g":"2adeafaea205b686","name":"create one message per request","func":"var meta = msg.payload.meta.result\n\nvar batchcnt = Math.ceil( meta.total / meta.count )\n\nnode.status({ fill: \"green\", shape: \"ring\", text: \"bc: \" + batchcnt });\n\nfor ( var idx = 0 ; idx < batchcnt ; idx++ ) {\n    node.send({\n        payload: {\n            range_start: (100 * idx) + 100\n        },\n        url: msg.url,\n        context: msg.context,\n        requestTimeout: 15000\n    })\n}\n\n// return msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":927,"y":3251.25,"wires":[["7e1b2dfb754291de"]]},{"id":"7e1b2dfb754291de","type":"http request","z":"c520d9da20ad7f1d","g":"2adeafaea205b686","name":"","method":"GET","ret":"obj","paytoqs":"query","url":"","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":1190,"y":3251.25,"wires":[["be85ec166afd4db1"]]},{"id":"3db3d32b93178fb7","type":"function","z":"c520d9da20ad7f1d","g":"2adeafaea205b686","name":"split data into individual messages","func":"var meta = msg.payload.meta.result\n\nfor ( var idx = 0 ; idx < meta.count ; idx++ ) {\n    node.send({\n        parts: {\n            id:    msg._msgid,\n            count: meta.total,\n            index: meta.range_start + idx,\n            key:   \"keyidd\",\n            type:  \"array\"\n        },\n        \n        payload: {\n            candidate: msg.payload.data[idx],            \n            context: msg.context,\n        }\n    })\n}\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1521,"y":3154,"wires":[["47739bfe640d4e77","9734601bdefb03fc"]]},{"id":"47739bfe640d4e77","type":"debug","z":"c520d9da20ad7f1d","g":"2adeafaea205b686","name":"debug 170","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"true","targetType":"full","statusVal":"","statusType":"counter","x":1791.5,"y":3118.5,"wires":[]},{"id":"9734601bdefb03fc","type":"join","z":"c520d9da20ad7f1d","g":"2adeafaea205b686","name":"","mode":"auto","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":"false","timeout":"","count":"","reduceRight":false,"x":1791.5,"y":3189.5,"wires":[["52dfe72f8c8964e9"]]},{"id":"52dfe72f8c8964e9","type":"debug","z":"c520d9da20ad7f1d","g":"2adeafaea205b686","name":"one array","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"true","targetType":"full","statusVal":"","statusType":"counter","x":1992.5,"y":3189.5,"wires":[]}]