c520d9da20ad7f1d/flows.json
[{"id":"c520d9da20ad7f1d","type":"tab","label":"[ETL pipelines] Open Sanctions","disabled":false,"info":"### Description\n\nRebuilding Open Sanctions data retrieval for knowledge and wisdom. \n\nA specific use-case for Node-RED: repeatable data collection, organisation and storage. A kind of ETL pipeline using Node-RED.\n\n**This is work in progress.**\n\n### FAQs\n\n*Why Open Sanctions?*\n\nBecause their [codebase](https://github.com/opensanctions/opensanctions/tree/main) is open source and all their [dataset sources](https://github.com/opensanctions/opensanctions/tree/main/datasets) are well documented - both for the human and for the machine.\n\n*Why do this in the first place?*\n\nCouple interesting issues arise: \n\n- can Node-RED handle all the different data formats?\n- can Node-RED provide the same functionality as a Python data crawler?\n- how best to use the existing data - the yaml specifications?\n\nThere are no best practices (that I know of) for doing this in Node-RED, so lets see if it will blend!\n\n*Different data formats, what different formats?*\n\n- <a class='ahl-group-only' data-ids='6faae8a6a0d1e37a'>JSON</a>\n- <a class='ahl-group-only' data-ids='793df5246ed23927'>XML</a>\n- <a class='ahl-group-only' data-ids='d4eef68edc7d60ba'>Excel .xsl</a>\n- <a class='ahl-group-only' data-ids='873c249985349886'>Excel .xslx</a>\n- <a class='ahl-group-only' data-ids='7faba8c7cfc07bb5'>Zip with CSV + Json</a>\n\n*How to represent a large codebase?*\n\nAnother uncertainity that will arise is the representation of a large collection of data sources. How does one organise the flows, the subflows, modifications to existing nodes, etc.\n\n","env":[]},{"id":"7faba8c7cfc07bb5","type":"group","z":"c520d9da20ad7f1d","name":"https://github.com/opensanctions/opensanctions/tree/main/datasets/kp/rusi_reports","style":{"label":true},"nodes":["9f66185f5115641b","0231b43f62f94a44","69fc44f421efbf84","6da05d7a183bce78","d47aeb3680af0f53","5e963ebea0393011","011ba7a5692c127c","68e2e157cb47bad1","2c5c37db8114b8a3","072a152092fbdb93","5df417ba0090dcb9","1cbfb9d4624bc469","9db4b0986e590493","f8d8b5c0dc13492c","82d3965c87073975","cbb617ce49e18f08","8105ed7385b51ca4"],"x":715,"y":1637,"w":1015,"h":768,"info":"https://github.com/opensanctions/opensanctions/tree/main/datasets/kp/rusi_reports"},{"id":"96c48b4780af3ad0","type":"group","z":"c520d9da20ad7f1d","name":"Package: node-red-contrib-zip@1.1.0","style":{"label":true,"label-position":"ne","color":"#001f60"},"nodes":["d149e7b0d6896a42","840ee422b3911a45","34a0a72770728e88","4cdd183364d6a0c8","5ba84327e03d40d7","7c993a0711b4b5cd","38c7657badb392f3","fb1605501137edf8","ec3d72cdf3ee5a5b","46bf71a07205a8e8","212bf5c318fa4a45"],"x":26,"y":3860,"w":622,"h":582},{"id":"9ee326abe24350e4","type":"group","z":"c520d9da20ad7f1d","name":"helper - get data.url from yaml","style":{"label":true},"nodes":["074ac1204f4af198","4eadec109329347d","ee51827e9c3cb7b1","165f1f324f09f0e6","9c702910e786d871"],"x":5,"y":1396,"w":312,"h":395},{"id":"504b4c62b93abf9e","type":"group","z":"c520d9da20ad7f1d","name":"Package: @martip/node-red-xlsx@1.0.2","style":{"label":true,"label-position":"ne","color":"#001f60"},"nodes":["9738c25c4c8a2ccc","9a4b806137978c27","93627224cfd9c5be","ca9fc0f220af699e","36066ff0fd0e007a","61bba0cea58cc6cd","43c9952725d7cb1e","14b423a6aed1f12d","af4deb47ba8a7d3c","4db490c7840ead0c"],"x":30,"y":3301,"w":622,"h":532},{"id":"873c249985349886","type":"group","z":"c520d9da20ad7f1d","name":"https://github.com/opensanctions/opensanctions/tree/main/datasets/au/dfat_sanctions","style":{"label":true},"nodes":["459a154d1276149e","303df699fa9c748f","f53453dd80e49047","33c039d3120b54dd","88788598f05e35d5"],"x":680,"y":1416,"w":1011.5,"h":82,"info":"https://github.com/opensanctions/opensanctions/tree/main/datasets/au/dfat_sanctions"},{"id":"6faae8a6a0d1e37a","type":"group","z":"c520d9da20ad7f1d","name":"https://github.com/opensanctions/opensanctions/tree/main/datasets/us/cia_world_factbook","style":{"label":true},"nodes":["d810c0832ccec92b","b9957a5ef1681a3e","7708b4b6b15c6d81","9d81125a67357b5f","149d8336831825af","d41d5e63149f00ec"],"x":592,"y":1185,"w":1194.5,"h":82,"info":"https://github.com/opensanctions/opensanctions/tree/main/datasets/us/cia_world_factbook"},{"id":"793df5246ed23927","type":"group","z":"c520d9da20ad7f1d","name":"https://github.com/opensanctions/opensanctions/tree/main/datasets/ca/dfatd - see info","style":{"label":true},"nodes":["90f4f4465568045c","301b9ff82cc55c2b","1ce79d4b71136bdb","44fb18c556c52457","1b4e8160dc4f87cd","13dbfda38a3c0b2c","13878e620cef349b"],"x":498,"y":1300,"w":1417.5,"h":82,"info":"https://github.com/opensanctions/opensanctions/tree/main/datasets/ca/dfatd\n\ndateOfBirth [formats](https://github.com/opensanctions/opensanctions/blob/87ac0829ff94e9ca96e047ebdb8b89c3da58a1c5/datasets/ca/dfatd/crawler.py#L9) are d-m-Y but the actual data is:\n\n![img](https://cdn.openmindmap.org/content/1704394731230_Screen_Shot_2024-01-04_at_19.58.30.png)\n"},{"id":"d4eef68edc7d60ba","type":"group","z":"c520d9da20ad7f1d","name":"https://github.com/opensanctions/opensanctions/tree/main/datasets/ae/local_terrorists","style":{"label":true},"nodes":["40f5eb9049a540c8","19baa3125007f7ca","25e8b1057c5238c6","cca0e5f08d2fa5f2","81faa73943aab1bd","d3217bc1d86bceaa","fbadfaa5662ee35d","770ee633e5f69464","0bc0c11002ea805c","feb60680a815c558","7de4cc046c618caf"],"x":546,"y":2519,"w":1264,"h":545,"info":"https://github.com/opensanctions/opensanctions/tree/main/datasets/ae/local_terrorists"},{"id":"7de4cc046c618caf","type":"group","z":"c520d9da20ad7f1d","g":"d4eef68edc7d60ba","name":"alternative approach to parsing html data","style":{"label":true},"nodes":["a10451367aad0856","4f412ae1e68f507c","0857f1744e70eb9d","454d74647aa59920","953923b13bb6a4d5","10892bac7b99ec36","e224fef63297c84f","4ec87aebf7e6a026","830df776587af1c9","94d14adcdc260bfc","9b324033e94e96df","df988ec7a62ea6d6"],"x":572,"y":2747,"w":878,"h":291},{"id":"199f627a8c34c6e2","type":"group","z":"c520d9da20ad7f1d","name":"html node extend - see https://discourse.nodered.org/t/question-about-html-node/84298/10","style":{"label":true,"label-position":"ne"},"nodes":["702996d24fdcd976","dc7f8a035a0a7ed7","b1ebc511ee21b9d9","f4cdd8719b51ee16","ef2dade4377ec3c8","74323a1e0176cf6c","bdc78df7f950cca2","0d6ec07348c0c026","106958173b14b18d","cc252aa0181233e3"],"x":670,"y":3865.125,"w":586,"h":576.875,"info":"see https://discourse.nodered.org/t/question-about-html-node/84298/10"},{"id":"620efa1fb9b08d03","type":"http request","z":"c520d9da20ad7f1d","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://docs.google.com/spreadsheets/d/e/2PACX-1vTfpzWaAqVIfvBPOCOwqO83vTzD7ekFMvMlC3uGddWL3XxWJUgw4j9wda07GMNYlaqs2xxpEtpzGkWl/pub?gid=856092907&single=true&output=csv","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":842,"y":879,"wires":[["c37bca8b0f2c167d"]]},{"id":"c37bca8b0f2c167d","type":"csv","z":"c520d9da20ad7f1d","name":"","sep":",","hdrin":true,"hdrout":"none","multi":"one","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":1013,"y":941.5,"wires":[["a304a7c400d4fddf"]]},{"id":"ec1247aeae29614d","type":"inject","z":"c520d9da20ad7f1d","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":793,"y":838,"wires":[["620efa1fb9b08d03"]]},{"id":"a304a7c400d4fddf","type":"debug","z":"c520d9da20ad7f1d","name":"debug 138","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1265,"y":941.5,"wires":[]},{"id":"2edfd4dc4661ab9f","type":"http request","z":"c520d9da20ad7f1d","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://docs.google.com/spreadsheets/d/e/2PACX-1vRJGZGTZ1EZ-FSghkXqHQFNmWlPC6MkruipeSvzji4xtW_jXLay_f3px7xl_SrJII0ARqeGqxzfAF4J/pub?gid=0&single=true&output=csv","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":825,"y":1007,"wires":[["c37bca8b0f2c167d"]]},{"id":"bcef11a03c612b0a","type":"inject","z":"c520d9da20ad7f1d","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":813,"y":1056,"wires":[["2edfd4dc4661ab9f"]]},{"id":"3902d092742273fd","type":"http request","z":"c520d9da20ad7f1d","name":"wikipedia sparql (get)","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://query.wikidata.org/sparql","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[{"keyType":"Accept","keyValue":"","valueType":"other","valueValue":"application/sparql-results+json"}],"x":235,"y":745,"wires":[["6db1fa64f26488ea"]]},{"id":"fe1d0193f02de4a6","type":"inject","z":"c520d9da20ad7f1d","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":185,"y":690,"wires":[["3902d092742273fd"]]},{"id":"6db1fa64f26488ea","type":"debug","z":"c520d9da20ad7f1d","name":"debug 139","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":254,"y":806,"wires":[]},{"id":"9f66185f5115641b","type":"http request","z":"c520d9da20ad7f1d","g":"7faba8c7cfc07bb5","name":"get binary buffer","method":"GET","ret":"bin","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":1176,"y":1800,"wires":[["9db4b0986e590493"]]},{"id":"0231b43f62f94a44","type":"inject","z":"c520d9da20ad7f1d","g":"7faba8c7cfc07bb5","name":"yml src url","props":[{"p":"url","v":"https://raw.githubusercontent.com/opensanctions/opensanctions/main/datasets/kp/rusi_reports/kp_rusi_reports.yml","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":821,"y":1678,"wires":[["f8d8b5c0dc13492c"]]},{"id":"69fc44f421efbf84","type":"debug","z":"c520d9da20ad7f1d","g":"7faba8c7cfc07bb5","name":"debug 141","active":false,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"","statusType":"counter","x":1560,"y":2364,"wires":[]},{"id":"6da05d7a183bce78","type":"split","z":"c520d9da20ad7f1d","g":"7faba8c7cfc07bb5","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":1206,"y":1906,"wires":[["d47aeb3680af0f53"]]},{"id":"d47aeb3680af0f53","type":"function","z":"c520d9da20ad7f1d","g":"7faba8c7cfc07bb5","name":"get buffer length","func":"msg.payload = {\n    ...msg.payload,\n    size: msg.payload.payload.length,\n    ext: msg.payload.filename.split('.').pop()\n}\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1176,"y":1959,"wires":[["5e963ebea0393011"]]},{"id":"5e963ebea0393011","type":"switch","z":"c520d9da20ad7f1d","g":"7faba8c7cfc07bb5","name":"buffer size > 0","property":"payload.size","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1176,"y":2012,"wires":[["2c5c37db8114b8a3"]]},{"id":"011ba7a5692c127c","type":"csv","z":"c520d9da20ad7f1d","g":"7faba8c7cfc07bb5","name":"","sep":",","hdrin":true,"hdrout":"none","multi":"one","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":1379.5,"y":2364,"wires":[["69fc44f421efbf84"]]},{"id":"68e2e157cb47bad1","type":"switch","z":"c520d9da20ad7f1d","g":"7faba8c7cfc07bb5","name":"file ext is ...","property":"ext","propertyType":"msg","rules":[{"t":"eq","v":"json","vt":"str"},{"t":"eq","v":"csv","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":1186,"y":2118,"wires":[["1cbfb9d4624bc469"],["011ba7a5692c127c"]]},{"id":"2c5c37db8114b8a3","type":"change","z":"c520d9da20ad7f1d","g":"7faba8c7cfc07bb5","name":"","rules":[{"t":"set","p":"filename","pt":"msg","to":"payload.filename","tot":"msg"},{"t":"set","p":"ext","pt":"msg","to":"payload.ext","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"payload.payload","tot":"msg","dc":true}],"action":"","property":"","from":"","to":"","reg":false,"x":1176,"y":2065,"wires":[["68e2e157cb47bad1"]]},{"id":"072a152092fbdb93","type":"json","z":"c520d9da20ad7f1d","g":"7faba8c7cfc07bb5","name":"","property":"payload","action":"obj","pretty":false,"x":1514,"y":2215,"wires":[["5df417ba0090dcb9"]]},{"id":"5df417ba0090dcb9","type":"debug","z":"c520d9da20ad7f1d","g":"7faba8c7cfc07bb5","name":"debug 142","active":false,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"","statusType":"counter","x":1534,"y":2268,"wires":[]},{"id":"1cbfb9d4624bc469","type":"split","z":"c520d9da20ad7f1d","g":"7faba8c7cfc07bb5","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":1514,"y":2109,"wires":[["8105ed7385b51ca4"]]},{"id":"9db4b0986e590493","type":"zip","z":"c520d9da20ad7f1d","g":"7faba8c7cfc07bb5","name":"decompress - content is string","mode":"decompress","filename":"","compressionlevel":6,"outasstring":true,"x":1126,"y":1853,"wires":[["6da05d7a183bce78"]]},{"id":"f8d8b5c0dc13492c","type":"link call","z":"c520d9da20ad7f1d","g":"7faba8c7cfc07bb5","name":"","links":["165f1f324f09f0e6"],"linkType":"static","timeout":"30","x":861,"y":1801,"wires":[["9f66185f5115641b"]]},{"id":"82d3965c87073975","type":"catch","z":"c520d9da20ad7f1d","g":"7faba8c7cfc07bb5","name":"","scope":"group","uncaught":false,"x":1403,"y":1702,"wires":[["cbb617ce49e18f08"]]},{"id":"cbb617ce49e18f08","type":"debug","z":"c520d9da20ad7f1d","g":"7faba8c7cfc07bb5","name":"debug 143","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1614,"y":1702,"wires":[]},{"id":"8105ed7385b51ca4","type":"switch","z":"c520d9da20ad7f1d","g":"7faba8c7cfc07bb5","name":"ignore empty content","property":"payload","propertyType":"msg","rules":[{"t":"nempty"}],"checkall":"true","repair":false,"outputs":1,"x":1564,"y":2162,"wires":[["072a152092fbdb93"]]},{"id":"d149e7b0d6896a42","type":"PkgFile","z":"c520d9da20ad7f1d","g":"96c48b4780af3ad0","name":"LICENSE","filename":"LICENSE","format":"text","syntax":"plain","template":"                                 Apache License\n                           Version 2.0, January 2004\n                        http://www.apache.org/licenses/\n\n   TERMS AND CONDITIONS FOR USE, REPRODUCTION, AND DISTRIBUTION\n\n   1. Definitions.\n\n      \"License\" shall mean the terms and conditions for use, reproduction,\n      and distribution as defined by Sections 1 through 9 of this document.\n\n      \"Licensor\" shall mean the copyright owner or entity authorized by\n      the copyright owner that is granting the License.\n\n      \"Legal Entity\" shall mean the union of the acting entity and all\n      other entities that control, are controlled by, or are under common\n      control with that entity. For the purposes of this definition,\n      \"control\" means (i) the power, direct or indirect, to cause the\n      direction or management of such entity, whether by contract or\n      otherwise, or (ii) ownership of fifty percent (50%) or more of the\n      outstanding shares, or (iii) beneficial ownership of such entity.\n\n      \"You\" (or \"Your\") shall mean an individual or Legal Entity\n      exercising permissions granted by this License.\n\n      \"Source\" form shall mean the preferred form for making modifications,\n      including but not limited to software source code, documentation\n      source, and configuration files.\n\n      \"Object\" form shall mean any form resulting from mechanical\n      transformation or translation of a Source form, including but\n      not limited to compiled object code, generated documentation,\n      and conversions to other media types.\n\n      \"Work\" shall mean the work of authorship, whether in Source or\n      Object form, made available under the License, as indicated by a\n      copyright notice that is included in or attached to the work\n      (an example is provided in the Appendix below).\n\n      \"Derivative Works\" shall mean any work, whether in Source or Object\n      form, that is based on (or derived from) the Work and for which the\n      editorial revisions, annotations, elaborations, or other modifications\n      represent, as a whole, an original work of authorship. For the purposes\n      of this License, Derivative Works shall not include works that remain\n      separable from, or merely link (or bind by name) to the interfaces of,\n      the Work and Derivative Works thereof.\n\n      \"Contribution\" shall mean any work of authorship, including\n      the original version of the Work and any modifications or additions\n      to that Work or Derivative Works thereof, that is intentionally\n      submitted to Licensor for inclusion in the Work by the copyright owner\n      or by an individual or Legal Entity authorized to submit on behalf of\n      the copyright owner. For the purposes of this definition, \"submitted\"\n      means any form of electronic, verbal, or written communication sent\n      to the Licensor or its representatives, including but not limited to\n      communication on electronic mailing lists, source code control systems,\n      and issue tracking systems that are managed by, or on behalf of, the\n      Licensor for the purpose of discussing and improving the Work, but\n      excluding communication that is conspicuously marked or otherwise\n      designated in writing by the copyright owner as \"Not a Contribution.\"\n\n      \"Contributor\" shall mean Licensor and any individual or Legal Entity\n      on behalf of whom a Contribution has been received by Licensor and\n      subsequently incorporated within the Work.\n\n   2. Grant of Copyright License. Subject to the terms and conditions of\n      this License, each Contributor hereby grants to You a perpetual,\n      worldwide, non-exclusive, no-charge, royalty-free, irrevocable\n      copyright license to reproduce, prepare Derivative Works of,\n      publicly display, publicly perform, sublicense, and distribute the\n      Work and such Derivative Works in Source or Object form.\n\n   3. Grant of Patent License. Subject to the terms and conditions of\n      this License, each Contributor hereby grants to You a perpetual,\n      worldwide, non-exclusive, no-charge, royalty-free, irrevocable\n      (except as stated in this section) patent license to make, have made,\n      use, offer to sell, sell, import, and otherwise transfer the Work,\n      where such license applies only to those patent claims licensable\n      by such Contributor that are necessarily infringed by their\n      Contribution(s) alone or by combination of their Contribution(s)\n      with the Work to which such Contribution(s) was submitted. If You\n      institute patent litigation against any entity (including a\n      cross-claim or counterclaim in a lawsuit) alleging that the Work\n      or a Contribution incorporated within the Work constitutes direct\n      or contributory patent infringement, then any patent licenses\n      granted to You under this License for that Work shall terminate\n      as of the date such litigation is filed.\n\n   4. Redistribution. You may reproduce and distribute copies of the\n      Work or Derivative Works thereof in any medium, with or without\n      modifications, and in Source or Object form, provided that You\n      meet the following conditions:\n\n      (a) You must give any other recipients of the Work or\n          Derivative Works a copy of this License; and\n\n      (b) You must cause any modified files to carry prominent notices\n          stating that You changed the files; and\n\n      (c) You must retain, in the Source form of any Derivative Works\n          that You distribute, all copyright, patent, trademark, and\n          attribution notices from the Source form of the Work,\n          excluding those notices that do not pertain to any part of\n          the Derivative Works; and\n\n      (d) If the Work includes a \"NOTICE\" text file as part of its\n          distribution, then any Derivative Works that You distribute must\n          include a readable copy of the attribution notices contained\n          within such NOTICE file, excluding those notices that do not\n          pertain to any part of the Derivative Works, in at least one\n          of the following places: within a NOTICE text file distributed\n          as part of the Derivative Works; within the Source form or\n          documentation, if provided along with the Derivative Works; or,\n          within a display generated by the Derivative Works, if and\n          wherever such third-party notices normally appear. The contents\n          of the NOTICE file are for informational purposes only and\n          do not modify the License. You may add Your own attribution\n          notices within Derivative Works that You distribute, alongside\n          or as an addendum to the NOTICE text from the Work, provided\n          that such additional attribution notices cannot be construed\n          as modifying the License.\n\n      You may add Your own copyright statement to Your modifications and\n      may provide additional or different license terms and conditions\n      for use, reproduction, or distribution of Your modifications, or\n      for any such Derivative Works as a whole, provided Your use,\n      reproduction, and distribution of the Work otherwise complies with\n      the conditions stated in this License.\n\n   5. Submission of Contributions. Unless You explicitly state otherwise,\n      any Contribution intentionally submitted for inclusion in the Work\n      by You to the Licensor shall be under the terms and conditions of\n      this License, without any additional terms or conditions.\n      Notwithstanding the above, nothing herein shall supersede or modify\n      the terms of any separate license agreement you may have executed\n      with Licensor regarding such Contributions.\n\n   6. Trademarks. This License does not grant permission to use the trade\n      names, trademarks, service marks, or product names of the Licensor,\n      except as required for reasonable and customary use in describing the\n      origin of the Work and reproducing the content of the NOTICE file.\n\n   7. Disclaimer of Warranty. Unless required by applicable law or\n      agreed to in writing, Licensor provides the Work (and each\n      Contributor provides its Contributions) on an \"AS IS\" BASIS,\n      WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or\n      implied, including, without limitation, any warranties or conditions\n      of TITLE, NON-INFRINGEMENT, MERCHANTABILITY, or FITNESS FOR A\n      PARTICULAR PURPOSE. You are solely responsible for determining the\n      appropriateness of using or redistributing the Work and assume any\n      risks associated with Your exercise of permissions under this License.\n\n   8. Limitation of Liability. In no event and under no legal theory,\n      whether in tort (including negligence), contract, or otherwise,\n      unless required by applicable law (such as deliberate and grossly\n      negligent acts) or agreed to in writing, shall any Contributor be\n      liable to You for damages, including any direct, indirect, special,\n      incidental, or consequential damages of any character arising as a\n      result of this License or out of the use or inability to use the\n      Work (including but not limited to damages for loss of goodwill,\n      work stoppage, computer failure or malfunction, or any and all\n      other commercial damages or losses), even if such Contributor\n      has been advised of the possibility of such damages.\n\n   9. Accepting Warranty or Additional Liability. While redistributing\n      the Work or Derivative Works thereof, You may choose to offer,\n      and charge a fee for, acceptance of support, warranty, indemnity,\n      or other liability obligations and/or rights consistent with this\n      License. However, in accepting such obligations, You may act only\n      on Your own behalf and on Your sole responsibility, not on behalf\n      of any other Contributor, and only if You agree to indemnify,\n      defend, and hold each Contributor harmless for any liability\n      incurred by, or claims asserted against, such Contributor by reason\n      of your accepting any such warranty or additional liability.\n\n   END OF TERMS AND CONDITIONS\n\n   APPENDIX: How to apply the Apache License to your work.\n\n      To apply the Apache License to your work, attach the following\n      boilerplate notice, with the fields enclosed by brackets \"{}\"\n      replaced with your own identifying information. (Don't include\n      the brackets!)  The text should be enclosed in the appropriate\n      comment syntax for the file format. We also recommend that a\n      file or class name and description of purpose be included on the\n      same \"printed page\" as the copyright notice for easier\n      identification within third-party archives.\n\n   Copyright {yyyy} {name of copyright owner}\n\n   Licensed under the Apache License, Version 2.0 (the \"License\");\n   you may not use this file except in compliance with the License.\n   You may obtain a copy of the License at\n\n       http://www.apache.org/licenses/LICENSE-2.0\n\n   Unless required by applicable law or agreed to in writing, software\n   distributed under the License is distributed on an \"AS IS\" BASIS,\n   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.\n   See the License for the specific language governing permissions and\n   limitations under the License.\n","output":"str","x":262,"y":3951,"wires":[["840ee422b3911a45"]]},{"id":"840ee422b3911a45","type":"PkgFile","z":"c520d9da20ad7f1d","g":"96c48b4780af3ad0","name":"zip.html","filename":"red/zip.html","format":"html","syntax":"plain","template":"<!--\n  Copyright 2017 Guilherme Francescon\n\n  Licensed under the Apache License, Version 2.0 (the \"License\");\n  you may not use this file except in compliance with the License.\n  You may obtain a copy of the License at\n\n  http://www.apache.org/licenses/LICENSE-2.0\n\n  Unless required by applicable law or agreed to in writing, software\n  distributed under the License is distributed on an \"AS IS\" BASIS,\n  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.\n  See the License for the specific language governing permissions and\n  limitations under the License.\n-->\n\n<script type=\"text/x-red\" data-template-name=\"zip\">\n\t<div class=\"form-row\">\n\t\t<label for=\"node-input-mode\"><i class=\"fa fa-sliders\"></i> <span data-i18n=\"zip.label.mode\"></span></label>\n\t\t<select type=\"text\" id=\"node-input-mode\">\n\t\t\t<option value=\"compress\" data-i18n=\"zip.mode.compress\"></option>\n\t\t\t<option value=\"decompress\" data-i18n=\"zip.mode.decompress\"></option>\n\t\t</select>\n\t</div>\n    <div class=\"form-row\" id=\"node-form-row-zip-filename\" style=\"display: none\">\n        <label for=\"node-input-filename\"><i class=\"fa fa-file\"></i> <span data-i18n=\"zip.label.filename\"></span></label>\n        <input type=\"text\" id=\"node-input-filename\" data-i18n=\"[placeholder]zip.label.filename\">\n    </div>\n    <div class=\"form-row\" id=\"node-form-row-zip-compressionLevel\" style=\"display: none\">\n        <label for=\"node-input-compressionlevel\"><i class=\"fa fa-compress\"></i> <span data-i18n=\"zip.label.compressionlevel\"></span></label>\n        <select type=\"text\" id=\"node-input-compressionlevel\">\n            <option value=\"0\" data-i18n=\"zip.label.level.no\"></option>\n            <option value=\"1\" data-i18n=\"zip.label.level.fast\"></option>\n            <option value=\"2\">2</option>\n            <option value=\"3\">3</option>\n            <option value=\"4\">4</option>\n            <option value=\"5\">5</option>\n            <option value=\"6\" data-i18n=\"zip.label.level.default\"></option>\n            <option value=\"7\">7</option>\n            <option value=\"8\">8</option>\n            <option value=\"9\" data-i18n=\"zip.label.level.best\"></option>\n        </select>\n    </div>\n\t<div class=\"form-row\" id=\"node-form-row-zip-outasstring\" style=\"display: none\">\n\t\t<label>&nbsp;</label>\n\t\t<input type=\"checkbox\" id=\"node-input-outasstring\" style=\"display: inline-block; width: auto; vertical-align: top;\">\n\t\t<label for=\"node-input-outasstring\" style=\"width:70%;\"><span data-i18n=\"zip.label.outasstring\"></span></label>\n\t</div>\n    <div class=\"form-row\">\n        <label for=\"node-input-name\"><i class=\"fa fa-tag\"></i> <span data-i18n=\"zip.label.name\"></span></label>\n        <input type=\"text\" id=\"node-input-name\" data-i18n=\"[placeholder]zip.label.name\">\n    </div>\n</script>\n\n<script type=\"text/x-red\" data-help-name=\"zip\">\n    <p>Reads and creates ZIP files</p>\n\n    <h3>Inputs</h3>\n    <p><i>Compress</i> mode</p>\n\t<dl class=\"message-properties\">\n\t\t<dt>payload<span class=\"property-type\">string | Buffer</span></dt>\n\t\t<dd>\n            The content to be compressed\n\t\t</dd>\n\n\t\t<dt>filename<span class=\"property-type\">string</span></dt>\n\t\t<dd>\n            Used to specify the file name that represents the content specified on <code>payload</code>.\n            Used only if the field in the configuration of the node is left empty\n\t\t</dd>\n    </dl>\n\n    <p><i>Decompress</i> mode</p>\n\t<dl class=\"message-properties\">\n\t\t<dt>payload<span class=\"property-type\">Buffer</span></dt>\n\t\t<dd>\n            A Buffer containing the ZIP file content to be decompressed\n\t\t</dd>\n    </dl>\n\n    <h3>Outputs</h3>\n    <p><i>Compress</i> mode</p>\n\t<dl class=\"message-properties\">\n\t\t<dt>payload<span class=\"property-type\">Buffer</span></dt>\n\t\t<dd>\n            A Buffer with the ZIP file content\n\t\t</dd>\n    </dl>\n\n    <p><i>Decompress</i> mode</p>\n\t<dl class=\"message-properties\">\n        <span>\n            Array of objects, each representing a file in the ZIP file, \n            with the following properties:\n        </span>\n\t\t<dt>payload<span class=\"property-type\">Buffer | string</span></dt>\n\t\t<dd>\n            The content of the file. If <i>Output payload as String</i>\n            is set, the Buffer is converted to string\n        </dd>\n        \n\t\t<dt>filename<span class=\"property-type\">string</span></dt>\n\t\t<dd>\n            The name of the file\n\t\t</dd>\n    </dl>\n    \n\n    <h3>Details</h3>\n    <p>\n        Node to zip one or more files given their contents (<i>Compress</i> mode), or unzips a file, returning all files \n        inside it (<i>Decompress</i> mode).\n    </p>\n    <p>\n        When in <i>Compress</i> mode, the compression level can be set in the node's configuration, with 0 meaning no\n        compression at all, 1 meaning fastest method (but poor compression), and 9 meaning best compression (but poor performance)\n    </p>\n    <p>\n        Also in <i>Compress</i> mode, the node accepts an array of objects in <code>payload</code>, each with a <code>payload</code> and a \n        <code>filename</code> property, that represents each a file that will be in the resulting zip file\n    </p>\n\n\n</script>\n\n<script type=\"text/javascript\">\n    RED.nodes.registerType('zip',{\n        category: 'function',\n        color:\"#DEBD5C\",\n        defaults: {\n            name: {value: \"\"},\n            mode: {value: \"compress\"},\n            filename: {value: \"\"},\n            compressionlevel: {value: 6},\n            outasstring: {value: false}\n        },\n        inputs:1,\n        outputs:1,\n        icon: \"zip.png\",\n        label: function() {\n            return this.name||this._('zip.mode.' + this.mode).toLowerCase();\n        },\n        labelStyle: function() {\n            return this.name?\"node_label_italic\":\"\";\n        },\n        oneditprepare: function() {\n            var filenameRow = $('#node-form-row-zip-filename');\n            var compressionRow = $('#node-form-row-zip-compressionLevel');\n            var outasstringRow = $('#node-form-row-zip-outasstring');\n            var modeInput = $('#node-input-mode');\n\n            if (this.compressionlevel === undefined) {\n                this.compressionlevel = 6;\n                $('#node-input-compressionlevel').val(6);\n            }\n\n            function updateUi() {\n                switch(modeInput.val()) {\n                    case \"compress\":\n                        outasstringRow.hide();\n                        filenameRow.show();\n                        compressionRow.show();\n                        break;\n                    case \"decompress\":\n                        outasstringRow.show();\n                        filenameRow.hide();\n                        compressionRow.hide();\n                        break;\n                }\n            }\n\n            modeInput.change(updateUi);\n            updateUi();\n        }\n    });\n</script>\n","output":"str","x":262,"y":4001,"wires":[["34a0a72770728e88"]]},{"id":"34a0a72770728e88","type":"PkgFile","z":"c520d9da20ad7f1d","g":"96c48b4780af3ad0","name":"zip.js","filename":"red/zip.js","format":"javascript","syntax":"plain","template":"//@ts-check\n/**\n * Copyright JS Foundation and other contributors, http://js.foundation\n *\n * Licensed under the Apache License, Version 2.0 (the \"License\");\n * you may not use this file except in compliance with the License.\n * You may obtain a copy of the License at\n *\n * http://www.apache.org/licenses/LICENSE-2.0\n *\n * Unless required by applicable law or agreed to in writing, software\n * distributed under the License is distributed on an \"AS IS\" BASIS,\n * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.\n * See the License for the specific language governing permissions and\n * limitations under the License.\n **/\n\nconst util = require('util');\n\nfunction nrInputShim(node, fn) {\n    node.on('input', function (msg, send, done) {\n        send = send || node.send;\n        done = done || (err => err && node.error(err, msg));\n        fn(msg, send, done, node);\n    });\n}\n\nmodule.exports = function (RED) {\n    const JSZip = require(\"jszip\");\n\n    function ZipNode(config) {\n        RED.nodes.createNode(this, config);\n        const node = this;\n\n        function onInput(msg, send, done, node) {\n            let zip, f;\n\n            if (config.mode === \"compress\") {\n                zip = new JSZip();\n\n                node.status({ fill: \"green\", shape: \"ring\", text: \"compressing\" });\n\n                let level = parseInt(config.compressionlevel);\n                if (isNaN(level)) level = 6; //default\n\n                if (Array.isArray(msg.payload)) {\n                    for (var i in msg.payload) {\n                        f = msg.payload[i];\n\n                        if (typeof f.filename !== 'string') {\n                            done(RED._('zip.error.filename-type-string'));\n                            return;\n                        }\n\n                        if (!(f.payload instanceof Buffer || typeof f.payload == 'string')) {\n                            done(RED._('zip.error.payload-type-buffer-string'));\n                            return;\n                        }\n\n                        zip.file(f.filename, f.payload);\n                    }\n                } else {\n                    if (!(msg.payload instanceof Buffer || typeof msg.payload == 'string')) {\n                        done(RED._('zip.error.payload-type-buffer-string'));\n                        return;\n                    }\n\n                    zip.file(config.filename || msg.filename || 'file', msg.payload);\n                }\n\n                zip.generateAsync({\n                    type: 'nodebuffer',\n                    compression: level ? 'DEFLATE' : 'STORE',\n                    compressionOptions: { level }\n                }).then(function (data) {\n                    //sends message\n\n                    node.status({});\n                    msg.payload = data;\n                    send(msg);\n                    done();\n\n                }).catch(function (err) {\n                    //catches errors\n\n                    done(RED._('zip.error.parse', { err: err }));\n                })\n\n\n            } else if (config.mode === \"decompress\") {\n\n                if (!(msg.payload instanceof Buffer)) {\n                    done(RED._(\"zip.error.payload-type-buffer\"));\n                    return;\n                }\n\n                node.status({fill:\"green\",shape:\"ring\",text:\"decompressing\"});\n\n                zip = new JSZip();\n\n                zip.loadAsync(msg.payload).then(function () {\n                    //read files\n\n                    const promises = [];\n                    zip.forEach(function (path, zFile) {\n                        promises.push(zFile.async(config.outasstring ? 'string' : 'nodebuffer').then(function (content) {\n                            return {\n                                filename: path,\n                                payload: content\n                            };\n                        }));\n                    });\n\n                    return Promise.all(promises);\n                }).then(function (files) {\n                    //send the result\n\n                    node.status({});\n                    msg.payload = files;\n                    send(msg);\n                    done();\n                }).catch(function (err) {\n                    //catches errors\n\n                    done(RED._('zip.error.parse', { err: err }));\n                });\n            }\n        };\n\n        nrInputShim(this, onInput);\n    }\n    RED.nodes.registerType(\"zip\", ZipNode);\n}\n","output":"str","x":262,"y":4051,"wires":[["4cdd183364d6a0c8"]]},{"id":"4cdd183364d6a0c8","type":"PkgFile","z":"c520d9da20ad7f1d","g":"96c48b4780af3ad0","name":"package.json","filename":"package.json","format":"json","syntax":"plain","template":"{\n  \"name\": \"node-red-contrib-zip\",\n  \"version\": \"1.1.0\",\n  \"description\": \"Node-RED node to create and read ZIP files\",\n  \"scripts\": {\n    \"test\": \"echo \\\"Error: no test specified\\\" && exit 1\"\n  },\n  \"node-red\": {\n    \"nodes\": {\n      \"zip\": \"red/zip.js\"\n    }\n  },\n  \"repository\": {\n    \"type\": \"git\",\n    \"url\": \"git+https://github.com/gfcittolin/node-red-contrib-zip.git\"\n  },\n  \"keywords\": [\n    \"zip\",\n    \"node-red\",\n    \"unzip\"\n  ],\n  \"author\": \"Guilherme Francescon <gfcittolin@gmail.com>\",\n  \"license\": \"Apache-2.0\",\n  \"bugs\": {\n    \"url\": \"https://github.com/gfcittolin/node-red-contrib-zip/issues\"\n  },\n  \"homepage\": \"https://github.com/gfcittolin/node-red-contrib-zip#readme\",\n  \"dependencies\": {\n    \"jszip\": \"^3.5.0\"\n  }\n}\n","output":"str","x":262,"y":4101,"wires":[["5ba84327e03d40d7"]]},{"id":"5ba84327e03d40d7","type":"PkgFile","z":"c520d9da20ad7f1d","g":"96c48b4780af3ad0","name":"zip.json","filename":"red/locales/en-US/zip.json","format":"json","syntax":"plain","template":"{\n    \"zip\": {\n        \"label\": {\n            \"name\": \"Name\",\n            \"mode\": \"Mode\",\n            \"filename\": \"File name\",\n            \"compressionlevel\": \"Compression\",\n            \"outasstring\": \"Output payload as String\",\n            \"level\": {\n                \"no\": \"0 (no compression)\",\n                \"fast\": \"1 (fast)\",\n                \"default\": \"6 (default)\",\n                \"best\": \"9 (best)\"\n            }\n        },\n        \"mode\": {\n            \"compress\": \"Compress\",\n            \"decompress\": \"Decompress\"\n        },\n        \"error\": {\n            \"payload-type-buffer\": \"Payload type must be a Buffer\",\n            \"payload-type-buffer-string\": \"Payload type must be a Buffer or a String\",\n            \"filename-type-string\": \"Filename type must be a String\",\n            \"parse\": \"Error parsing zip file: __err__\"\n        }\n    }\n}","output":"str","x":262,"y":4151,"wires":[["7c993a0711b4b5cd"]]},{"id":"7c993a0711b4b5cd","type":"PkgFile","z":"c520d9da20ad7f1d","g":"96c48b4780af3ad0","name":"CHANGELOG.md","filename":"CHANGELOG.md","format":"markdown","syntax":"plain","template":"# Changelog\n\n## Version 1.1.0\n - Implements Node-RED 1.0 internal API\n - Adds compression level selection\n - Improves help text and documentation\n\n## Version 1.0.0\nFirst release","output":"str","x":262,"y":4201,"wires":[["38c7657badb392f3"]]},{"id":"38c7657badb392f3","type":"PkgFile","z":"c520d9da20ad7f1d","g":"96c48b4780af3ad0","name":"README.md","filename":"README.md","format":"markdown","syntax":"plain","template":"# node-red-contrib-zip\n\nNode-RED node to create and read ZIP files. Based on [jszip](https://github.com/Stuk/jszip)\n\nA function that parses the `msg.payload` to convert a Buffer to/from a ZIP object. \nPlaces the result back into the payload.\n\nIf **Mode** is *Compress*, the output is always a Buffer with a ZIP content, and the input \npayload can be one of the following:\n\n\n* **Buffer/String:** The payload is compressed as a single file in the resulting ZIP. The **Filename** \nspecifies the name of this file, or can be specified with `msg.filename` if the configuration is left empty\n* **Array:** An array of objects containing `filename` as a String and `payload` as \na Buffer/String, each representing one file in the resultiing zip\n\nIf **Mode** is *Decompress*, the input payload is expected to be a Buffer, and the output is an Array with\nobjects containing `filename` as a String and `payload` as a Buffer\n\n\n## License\n\nCopyright 2017-2020 Guilherme Francescon Cittolin, [Apache 2.0 license](LICENSE).","output":"str","x":262,"y":4251,"wires":[["fb1605501137edf8"]]},{"id":"fb1605501137edf8","type":"PkgFile","z":"c520d9da20ad7f1d","g":"96c48b4780af3ad0","name":"zip.png","filename":"red/icons/zip.png","format":"base64","syntax":"plain","template":"iVBORw0KGgoAAAANSUhEUgAAABQAAAAeCAYAAAAsEj5rAAAABmJLR0QAAAAAAAD5Q7t/AAAACXBIWXMAAAbsAAAG7AEedTg1AAAAB3RJTUUH4QMKADstQLxLfgAAAVxJREFUSMftlU1KxTAQxyfpo0V4CKJbBd3rAbyCCw/gQTyDJ3DhCTxFcVuem9KVj364KbgQhLb40SZ/N+kjDf32LQQdKCkzk1+m/6QToj9nrH4BcD1h3j1jLOnNwDR7BnCyTeAwFPOsG4r51oDqmwJjDaHiXF9X+aThTxhjx33ANpi5mNU4LowxIqJFxwSLiKK2gJRSArAtyzrUCxrSUERRtOzKDYLgFIDQJ9Sxrk9itm3vdQEdx5G91bVUKNX4qca17/sHGwGFuDVzu4DCAALAR5qm53VelmVXRrzqA5Zq/NqIKcRDnROG4RmANwP43gdsJAFYua7LiYg8z1sCeNRkQNum9Gn4kiTJUR0viuLO0HUSUOR5flHH4ji+BBCq5wnAeirwdaghanqPOofliCa7GO0kov2yLCPOucM539F/yaqqdqWUo64A/OguUc2Bb/uS+v1AfVNu6N/m2Dej+Zklz/ZygQAAAABJRU5ErkJggg==","output":"str","x":262,"y":4301,"wires":[["46bf71a07205a8e8"]]},{"id":"ec3d72cdf3ee5a5b","type":"NodeDevOps","z":"c520d9da20ad7f1d","g":"96c48b4780af3ad0","name":"","pname":"node-red-contrib-zip","pversion":"1.1.0","pauthorname":"Guilherme Francescon <gfcittolin@gmail.com>","pauthoremail":"Guilherme Francescon <gfcittolin@gmail.com>","pdescription":"Node-RED node to create and read ZIP files","noderedinstall":true,"randompackagename":false,"ignore_package_check":false,"gitcommit":false,"gitcheckforchange":false,"githubowner":"","githubrepo":"","githubbranch":"main","githubauthor":"","githubauthoremail":"","githubmessage":"","npmpublish":false,"npmunpublish":false,"npmotp":"","x":142,"y":3901,"wires":[["d149e7b0d6896a42"]]},{"id":"46bf71a07205a8e8","type":"NpmTarBall","z":"c520d9da20ad7f1d","g":"96c48b4780af3ad0","name":"","x":412,"y":4351,"wires":[["212bf5c318fa4a45"]]},{"id":"212bf5c318fa4a45","type":"NodeRedInstall","z":"c520d9da20ad7f1d","g":"96c48b4780af3ad0","name":"","x":562,"y":4401,"wires":[[]]},{"id":"074ac1204f4af198","type":"http request","z":"c520d9da20ad7f1d","g":"9ee326abe24350e4","name":"get string content","method":"GET","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":150,"y":1508,"wires":[["4eadec109329347d"]]},{"id":"4eadec109329347d","type":"yaml","z":"c520d9da20ad7f1d","g":"9ee326abe24350e4","property":"payload","name":"","x":145,"y":1583,"wires":[["ee51827e9c3cb7b1"]]},{"id":"ee51827e9c3cb7b1","type":"change","z":"c520d9da20ad7f1d","g":"9ee326abe24350e4","name":"obtain data.url and set msg.url","rules":[{"t":"set","p":"context","pt":"msg","to":"payload","tot":"msg","dc":true},{"t":"set","p":"url","pt":"msg","to":"payload.data.url","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":161,"y":1663,"wires":[["9c702910e786d871"]]},{"id":"165f1f324f09f0e6","type":"link in","z":"c520d9da20ad7f1d","g":"9ee326abe24350e4","name":"get data.url","links":[],"x":114,"y":1437,"wires":[["074ac1204f4af198"]]},{"id":"9c702910e786d871","type":"link out","z":"c520d9da20ad7f1d","g":"9ee326abe24350e4","name":"link out 126","mode":"return","links":[],"x":190,"y":1750,"wires":[]},{"id":"9738c25c4c8a2ccc","type":"PkgFile","z":"c520d9da20ad7f1d","g":"504b4c62b93abf9e","name":"LICENSE","filename":"LICENSE","format":"text","syntax":"plain","template":"MIT License\n\nCopyright (c) 2022 Paolo Martino\n\nPermission is hereby granted, free of charge, to any person obtaining a copy\nof this software and associated documentation files (the \"Software\"), to deal\nin the Software without restriction, including without limitation the rights\nto use, copy, modify, merge, publish, distribute, sublicense, and/or sell\ncopies of the Software, and to permit persons to whom the Software is\nfurnished to do so, subject to the following conditions:\n\nThe above copyright notice and this permission notice shall be included in all\ncopies or substantial portions of the Software.\n\nTHE SOFTWARE IS PROVIDED \"AS IS\", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR\nIMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,\nFITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE\nAUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER\nLIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,\nOUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE\nSOFTWARE.\n","output":"str","x":266,"y":3392,"wires":[["9a4b806137978c27"]]},{"id":"9a4b806137978c27","type":"PkgFile","z":"c520d9da20ad7f1d","g":"504b4c62b93abf9e","name":"xlsx.html","filename":"xlsx/xlsx.html","format":"html","syntax":"plain","template":"<script type=\"text/html\" data-template-name=\"xlsx\">\n  <div class=\"form-row\">\n    <label for=\"node-input-name\"><i class=\"fa fa-tag\"></i> Name</span></label>\n    <input type=\"text\" id=\"node-input-name\" placeholder=\"Name\" />\n  </div>\n  <hr align=\"middle\"/>\n  <div class=\"form-row\">\n    <label style=\"width:100%;\">XLSX to Object options</span></label>\n  </div>\n  <div class=\"form-row\" style=\"padding-left: 20px;\">\n    <label><i class=\"fa fa-sign-in\"></i> Input</span></label>\n    <select type=\"text\" id=\"node-input-sheets\" style=\"width:250px;\">\n      <option value=\"first\">read the first sheet only</option>\n      <option value=\"all\">read all sheets</option>\n    </select>\n  </div>\n  <div class=\"form-row\" style=\"padding-left: 20px;\">\n    <label><i class=\"fa fa-sign-out\"></i> Output</span></label>\n    <select type=\"text\" id=\"node-input-multi\" style=\"width:250px;\">\n      <option value=\"one\">a message per sheet</option>\n      <option value=\"array\">a single message [array]</option>\n      <option value=\"object\">a single message {object}</option>\n    </select>\n    <select type=\"text\" id=\"node-input-parse\" style=\"width:250px; display: none;\">\n      <option value=\"rows\">an array of rows</option>\n      <option value=\"map\">a JSON object using a map</option>\n    </select>\n  </div>\n  <div class=\"form-row\" id=\"map-options\" style=\"padding-left: 20px; display: none;\">\n    <label></label>\n    <label style=\"width: 50px; margin-right: 10px; text-align: right;\" for=\"node-input-map\">Map</span></label>\n    <input type=\"text\" id=\"node-input-map\" style=\"width: 185px;\" />\n  </div>  \n</script>\n\n<script type=\"text/html\" data-help-name=\"xlsx\">\n  <p>A function that parses the <code>msg.payload</code>, expected to be in XLSX format, using the <strong>read-excel-file</strong> package.</p>\n  <h3>Inputs</h3>\n  <dl class=\"message-properties\">\n    <dt>payload <span class=\"property-type\">buffer</span></dt>\n    <dd>The buffer of the XSLX file.</dd>\n  </dl>\n  <h3>Outputs</h3>\n  <dl class=\"message-properties\">\n    <dt>filename <span class=\"property-type\">string</span></dt>\n    <dd>The name of the XSLX file.</dd>\n  </dl>\n  <dl class=\"message-properties\">\n    <dt>payload <span class=\"property-type\">object | array</span></dt>\n    <dd>The parsed XLSX file as an array or object</dd>\n  </dl>\n  <h3>Details</h3>\n  <p>The node can process the first sheet or all the sheets of a workbook.</p>\n  <p>By default, the node outputs an array of arrays (the rows of the sheet), for each processed sheet.</p>\n  <p>When parsing only the first sheet, an optional JSON map can be provided: in this case, the output will be a JSON object (check the <strong>read-excel-file</strong> package documentation for more information; please note that the <i>schema</i> option is not implemented in this node).</p>\n  <p>When parsing all the sheets in a workbook, the output is sent as a single message or as multiple messages (one for each sheet).</p>\n  <p>If the output is sent as a single message, the payload will be an array of arrays or as an object, in which the keys are the names of the sheets.</p>\n  <h3>References</h3>\n  <ul>\n    <li><a href=\"https://www.npmjs.com/package/read-excel-file\">read-excel-file</a> - Details of the <strong>read-excel-file</strong> package</li>\n  </ul>\n  \n\n</script>\n\n<script type=\"text/javascript\">\n  RED.nodes.registerType('xlsx', {\n      category: 'parser',\n      color:'#DEBD5C',\n      defaults: {\n        name: { value: '' },\n        sheets: { value: 'first', required: true },\n        multi: { value: 'one', required: true },\n        parse: { value: 'rows', required: true },\n        map: { value: '' }\n      },\n      inputs: 1,\n      outputs: 1,\n      icon: 'xlsx.svg',\n      label: function() {\n        return this.name || 'xlsx' ;\n      },\n      labelStyle: function() {\n        return this.name ? 'node_label_italic' : '';\n      },\n      paletteLabel: 'xlsx',\n      oneditprepare: function() {\n        $('#node-input-sheets').val(this.sheets);\n        $('#node-input-multi').val(this.multi);\n        $('#node-input-parse').val(this.parse);\n        $('#node-input-sheets').on('change', function() {\n          if ($('#node-input-sheets').val() === 'first') {\n            $('#node-input-multi').val('one');\n            $('#node-input-multi').hide();\n            $('#node-input-parse').show().focus();\n            $('#node-input-parse').change();\n          } else {\n            $('#node-input-parse').val('rows');\n            $('#node-input-parse').hide();\n            $('#schema-options').hide();\n            $('#map-options').hide();\n            $('#node-input-multi').show().focus();\n          }\n        });\n        $('#node-input-parse').on('change', function() {\n          const v = $('#node-input-parse').val();\n          if (v === 'rows') {\n            $('#map-options').hide();\n          } else if (v === 'map') {\n            $('#map-options').show();\n          }\n        });\n        $('#node-input-map').typedInput({\n          type:'json',\n          types:['json']\n        });\n\n      }\n  });\n</script>","output":"str","x":266,"y":3442,"wires":[["93627224cfd9c5be"]]},{"id":"93627224cfd9c5be","type":"PkgFile","z":"c520d9da20ad7f1d","g":"504b4c62b93abf9e","name":"index.js","filename":"index.js","format":"javascript","syntax":"plain","template":"const readXlsxFile = require('read-excel-file/node');\nconst writeXlsxFile = require('write-excel-file/node')\n\nconst XLSX_INPUT = '/Users/martip/Developer/Exentriq/hr/MOTTOLA_122021.xlsx';\nconst XLSX_OUTPUT = '/Users/martip/Developer/Exentriq/hr/2021_12.xlsx';\n\nconst ITALIAN_HOLIDAYS = [\n  { day:  1, month:  1 }, // Capodanno\n  { day:  6, month:  1 }, // Epifania\n  { day: 25, month:  4 }, // Festa della Liberazione\n  { day:  1, month:  5 }, // Festa dei lavoratori\n  { day:  2, month:  6 }, // Festa della Repubblica Italiana\n  { day: 15, month:  8 }, // Ferrragosto\n  { day:  1, month: 11 }, // Ognissanti\n  { day:  8, month: 12 }, // Immacolata Concezione\n  { day: 25, month: 12 }, // Natale\n  { day: 26, month: 12 }, // Santo Stefano\n];\n\nconst SPECIAL_DAYS = [\n  { day:  7, month: 12, hours: 0 }, // S. Ambrogio\n  { day: 24, month: 12, hours: 4 }, // Vigilia di Natale\n];\n\nconst getEasterMonday = (year) => {\n  const c = Math.floor(year / 100);\n  const n = year - 19 * Math.floor(year / 19);\n  const k = Math.floor((c - 17) / 25);\n  let i = c - Math.floor(c / 4) - Math.floor((c - k) / 3) + 19 * n + 15;\n  i = i - 30 * Math.floor((i / 30));\n  i = i - Math.floor(i / 28) * (1 - Math.floor(i / 28) * Math.floor(29 / (i + 1)) * Math.floor((21 - n) / 11));\n  let j = year + Math.floor(year / 4) + i + 2 - c + Math.floor(c / 4);\n  j = j - 7 * Math.floor(j / 7);\n  const l = i - j;\n  const m = 3 + Math.floor((l + 40) / 44);\n  const d = l + 28 - 31 * Math.floor(m / 4);\n  let easterMondayDate = new Date(year, m - 1, d);\n  easterMondayDate.setDate(easterMondayDate.getDate() + 1);\n  easterMondayDate.setMinutes(easterMondayDate.getMinutes() - easterMondayDate.getTimezoneOffset());\n  return easterMondayDate;\n};\n\nconst isHoliday = (year, month, day) => {\n  if (ITALIAN_HOLIDAYS.find(x => x.month === month && x.day === day)) {\n    return true;\n  }\n  return false;\n};\n\nconst getDayWorkingHours = (month, day, weekDay, reduced) => {\n  const specialDay = SPECIAL_DAYS.find(x => x.month === month && x.day === day);\n  return specialDay ? specialDay.hours : (weekDay === 5 && reduced) ? 7 : 8;\n};\n\nconst calculateWorkingHours = (year, month, reduced) => {\n\n  const weekday = [ 'domenica', 'luned', 'marted', 'mercoled', 'gioved', 'venerd', 'sabato' ];\n  const easterMonday = getEasterMonday(year);\n  \n  let workingHours = 0;\n\n  for (let day = 1; day <= new Date(year, month, 0).getDate(); day++) {\n    const date = new Date(year, month - 1, day);\n    date.setMinutes(date.getMinutes() - date.getTimezoneOffset());\n    const weekDay = date.getDay();\n    if (\n      weekDay > 0 && weekDay < 6\n      && !isHoliday(year, month, day)\n      && date.toISOString() !== easterMonday.toISOString()\n    ) {\n      workingHours += getDayWorkingHours(month, day, weekDay, reduced);\n      // console.log(`${day}/${month}/${year}: ${weekday[weekDay]}`);\n    }\n  }\n  return workingHours;\n};\n\nconst parseMonth = (monthString) => {\n\n  const result = { month: null, year: null };\n  const months = [\n    'gennaio', 'febbraio', 'marzo', 'aprile',\n    'maggio', 'giugno', 'luglio', 'agosto',\n    'settembre', 'ottobre', 'novembre', 'dicembre'\n  ];\n  const month = months.findIndex(x => x === monthString.replace(/\\d/g, '').trim().toLowerCase());\n  if (month > -1) {\n    result.month = month + 1;\n  }\n  const year = parseInt(monthString.replace(/[^\\d\\s]/g, ''));\n  if (!isNaN(year)) {\n    result.year = year > 2000 ? year : year + 2000;\n  }\n  return result;\n}\n\nconst parseCell = (cell, schema) => {\n\n  let value;\n  if (schema.regex) {\n    const match = cell.match(schema.regex);\n    if (match) {\n      value = match[1];\n    }\n  } else {\n    value = cell;\n  }\n\n  if (schema.transform) {\n    value = schema.transform(value);\n  }\n  return value;\n\n};\n\nconst parseRow = (cells, schema) => {\n  let value;\n  if (schema.formula) {\n    switch (schema.formula) {\n      case 'sum':\n        value = cells.reduce((acc, obj) => {\n          const num = parseInt(obj);\n          acc += isNaN(num) ? 0 : num;\n          return acc;\n        }, 0)\n        break;\n      default:\n        break;\n    }\n  }\n  return value;\n};\n\nconst parseTimeSheet = (rows) => {\n\n  const schema = {\n    name: { row: 0, column: 13, regex: /(?:NOME\\s*COGNOME\\s*)*(?<name>[\\w\\s]*)/ },\n    period: { row: 0, column: 26, regex: /(?:MESE\\s*)*(?<month>[\\w\\s]*)/, transform: parseMonth },\n    work: { row: 2, formula: 'sum', parent: 'hours' },\n    vacation: { row: 4, formula: 'sum', parent: 'hours' },\n    leave: { row: 6, formula: 'sum', parent: 'hours' },\n    paid: { row: 8, formula: 'sum', parent: 'hours' }\n  };\n\n  const data = {};\n\n  for (const key of Object.keys(schema)) {\n    const schemaItem = schema[key];\n\n    let value;\n\n    if (schemaItem.column) {\n      value = parseCell(rows[schemaItem.row][schemaItem.column], schemaItem);\n    } else {\n      value = parseRow(rows[schemaItem.row], schemaItem);\n    }\n    if (schemaItem.parent) {\n      if (!data[schemaItem.parent]) {\n        data[schemaItem.parent] = {};\n      }\n      data[schemaItem.parent][key] = value;\n    } else {\n      data[key] = value;\n    }\n  }\n\n return data;\n\n};\n\nconst parseExpenses = (rows) => {\n  const total = parseFloat(rows[44][3]);\n  if (!isNaN(total)) {\n    return total;\n  }\n  return 0;\n};\n\n(async () => {\n\n  const employees = [];\n\n  const test = await readXlsxFile(XLSX_OUTPUT, { sheet: 1 });\n  process.exit(0);\n\n  const timeSheetRows = await readXlsxFile(XLSX_INPUT, { sheet: 1 });\n  const employee = parseTimeSheet(timeSheetRows);\n  const expensesSheetRows = await readXlsxFile(XLSX_INPUT, { sheet: 2 });\n  employee.expenses = parseExpenses(expensesSheetRows);\n  employee.anomalies = [];\n\n  const reduced = true; // true -> 39 hours/week, false -> 40 hours/week\n\n  const workingHours = calculateWorkingHours(employee.period.year, employee.period.month, reduced);\n  const totalHours = Object.values(employee.hours).reduce((acc, obj) => { return acc + obj; }, 0);\n\n  if (totalHours < workingHours) {\n    employee.anomalies.push(`Total hours (${totalHours}) < working hours (${workingHours})!`);\n  } else if (totalHours > workingHours) {\n    employee.anomalies.push(`Total hours (${totalHours}) > working hours (${workingHours})!`);\n  }\n\n  console.log(employee);\n\n  employees.push(employee);\n\n  await writeXlsxFile(employees, {\n    schema: [\n      { column: 'Dipendente', type: String, width: 30, height: 20, value: employee => employee.name },\n      { column: 'Diarie (ore)', type: Number, width: 15, align: 'right', height: 20, value: employee => employee.hours.work },\n      { column: 'Ferie (ore)', type: Number, width: 15, align: 'right', height: 20, value: employee => employee.hours.vacation },\n      { column: 'Permessi non retribuiti (ore)', type: Number, width: 25, align: 'right', height: 20, value: employee => employee.hours.leave },\n      { column: 'Permessi retribuiti (ore)', type: Number, width: 25, align: 'right', height: 20, value: employee => employee.hours.paid },\n      { column: 'Spese ()', type: Number, format: '#,##0.00', width: 10, align: 'right', height: 20, value: employee => employee.expenses },\n      { column: 'Anomalie', type: String, width: 50, height: 20, wrap: true, value: employee => employee.anomalies.join('\\n') }\n    ],\n    headerStyle: {\n      backgroundColor: '#eeeeee',\n      fontWeight: 'bold',\n      height: 20\n    },\n    fontFamily: 'Arial',\n    fontSize: 10,\n    sheet: 'Dipendenti',\n    stickyRowsCount: 1,\n    filePath: XLSX_OUTPUT\n  });\n\n})();","output":"str","x":266,"y":3492,"wires":[["ca9fc0f220af699e"]]},{"id":"ca9fc0f220af699e","type":"PkgFile","z":"c520d9da20ad7f1d","g":"504b4c62b93abf9e","name":"xlsx.js","filename":"xlsx/xlsx.js","format":"javascript","syntax":"plain","template":"const { Readable } = require('stream');\nconst readXlsxFile = require('read-excel-file/node');\n\nmodule.exports = function(RED) {\n\n  function bufferToStream(binary) {\n\n    const readableInstanceStream = new Readable({\n      read() {\n        this.push(binary);\n        this.push(null);\n      }\n    });\n    return readableInstanceStream;\n  }\n\n  function xlsxNode(config) {\n    RED.nodes.createNode(this, config);\n\n    const node = this;\n\n    this.name = config.name;\n    this.schema = config.schema;\n    this.sheets = config.sheets || 'first';\n    this.multi = config.multi || 'one';\n    this.parse = config.parse || 'rows';\n    this.map = config.map ? JSON.parse(config.map) : null;\n\n    this.on('input', async (msg, send, done) => {\n      if (msg.hasOwnProperty('payload')) {\n        if (Buffer.isBuffer(msg.payload)) {\n          try {\n            \n            node.status({fill:\"green\",shape:\"ring\",text:\"parsing\"});\n\n            if (this.sheets === 'first') {\n              const options = { sheet: 1 };\n              if (this.parse === 'map' && this.map) {\n                options.map = this.map;\n              }\n              const ou = await readXlsxFile(bufferToStream(msg.payload), options);\n\n              msg.payload = ou;\n              send(msg);\n            } else {\n              const sheets = {};\n              const sheetNames = await readXlsxFile.readSheetNames(bufferToStream(msg.payload));\n\n              for (const sheetName of sheetNames) {\n                const options = { sheet: sheetName };\n                const ou = await readXlsxFile(bufferToStream(msg.payload), options);\n                sheets[sheetName.trim()] = ou;\n              }\n  \n              if (this.multi === 'one') {\n                for (const sheet of Object.keys(sheets)) {\n                  const m = RED.util.cloneMessage(msg);\n                  m.payload = sheets[sheet];\n                  send(m);\n                }\n              } else {\n                msg.payload = this.multi === 'array' ? Object.values(sheets) : sheets;\n                send(msg);\n              }\n            }\n\n            node.status({});\n            done();  \n          } catch (error) {\n            node.status({});\n            done(error);\n          }\n        } else {\n          // If no payload just pass it on.\n          done(\"payload is no buffer\");\n        }\n      } else {\n        // If no payload just pass it on.\n        send(msg);\n        done();\n      }\n    });\n  }\n\n  RED.nodes.registerType('xlsx', xlsxNode);\n  RED.library.register('maps');\n}\n","output":"str","x":266,"y":3542,"wires":[["36066ff0fd0e007a"]]},{"id":"36066ff0fd0e007a","type":"PkgFile","z":"c520d9da20ad7f1d","g":"504b4c62b93abf9e","name":"package.json","filename":"package.json","format":"json","syntax":"plain","template":"{\n  \"name\": \"@martip/node-red-xlsx\",\n  \"version\": \"1.0.3\",\n  \"description\": \"Converts between a XLSX formatted stream and its JavaScript object representation, in either direction.\",\n  \"repository\": {\n    \"type\": \"git\",\n    \"url\": \"git+https://github.com/martip/node-red-xlsx.git\"\n  },\n \"keywords\": [\n    \"node-red\",\n    \"xlsx\",\n    \"Excel\"\n  ],\n  \"author\": \"Paolo Martino\",\n  \"license\": \"MIT\",\n  \"dependencies\": {\n    \"read-excel-file\": \"^5.7.1\",\n    \"write-excel-file\": \"^1.3.16\"\n  },\n  \"node-red\": {\n    \"version\": \">=1.0.0\",\n    \"nodes\": {\n      \"xlsx\": \"xlsx/xlsx.js\"\n    }\n  },\n  \"engines\": {\n    \"node\": \">= 10\"\n  }\n}\n","output":"str","x":266,"y":3592,"wires":[["61bba0cea58cc6cd"]]},{"id":"61bba0cea58cc6cd","type":"PkgFile","z":"c520d9da20ad7f1d","g":"504b4c62b93abf9e","name":"README.md","filename":"README.md","format":"markdown","syntax":"plain","template":"# @martip/node-red-xlsx\n\nA [Node-RED](http://nodered.org/) node that parses a XLSX file and converts it to a JavaScript representation (object or array).\n\nThis node uses the [read-excel-file](https://www.npmjs.com/package/read-excel-file) package, by catamphetamine.\n\n## Install\n\nEither use the `Node-RED Menu - Manage Palette - Install`, or run the following command in your Node-RED user directory - typically `~/.node-red`\n\n    npm install @martip/node-red-xlsx\n\n## Usage\n\nYou pass the content of a XLSX file, as a buffer, in the `msg.payload`.\n\nDepending on how it's configured, the node outputs a single message or a message for each parsed sheet, containing arrays or objects.","output":"str","x":266,"y":3642,"wires":[["43c9952725d7cb1e"]]},{"id":"43c9952725d7cb1e","type":"PkgFile","z":"c520d9da20ad7f1d","g":"504b4c62b93abf9e","name":"xlsx.svg","filename":"xlsx/icons/xlsx.svg","format":"xml","syntax":"plain","template":"<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"no\"?><!-- Generator: Gravit.io --><svg xmlns=\"http://www.w3.org/2000/svg\" xmlns:xlink=\"http://www.w3.org/1999/xlink\" style=\"isolation:isolate\" viewBox=\"0 0 40 60\" width=\"40pt\" height=\"60pt\"><defs><clipPath id=\"_clipPath_vxaldel1rkRkVooPb6tSWqoJTSLoO1SZ\"><rect width=\"40\" height=\"60\"/></clipPath></defs><g clip-path=\"url(#_clipPath_vxaldel1rkRkVooPb6tSWqoJTSLoO1SZ)\"><path d=\" M 28.336 7.034 L 6.336 7.077 L 6.336 53.035 L 38.336 53.035 L 38.336 17.035 L 28.336 7.034 L 28.336 7.034 L 28.336 7.034 Z  M 11.3 42.327 L 19.268 29.979 L 11.967 17.7 L 17.84 17.7 L 21.825 25.553 C 22.193 26.299 22.445 26.853 22.581 27.218 L 22.633 27.218 C 22.894 26.623 23.17 26.045 23.459 25.484 L 27.718 17.704 L 33.11 17.704 L 25.623 29.911 L 33.3 42.326 L 27.563 42.326 L 22.961 33.707 C 22.745 33.34 22.561 32.955 22.412 32.556 L 22.343 32.556 C 22.209 32.947 22.03 33.321 21.81 33.672 L 17.072 42.327 L 11.3 42.327 Z \" fill-rule=\"evenodd\" fill=\"rgb(255,255,255)\"/></g></svg>","output":"str","x":266,"y":3692,"wires":[["af4deb47ba8a7d3c"]]},{"id":"14b423a6aed1f12d","type":"NodeDevOps","z":"c520d9da20ad7f1d","g":"504b4c62b93abf9e","name":"","pname":"@martip/node-red-xlsx","pversion":"1.0.2","pauthorname":"Paolo Martino","pauthoremail":"Paolo Martino","pdescription":"Converts between a XLSX formatted stream and its JavaScript object representation, in either direction.","noderedinstall":true,"randompackagename":false,"ignore_package_check":false,"gitcommit":false,"gitcheckforchange":false,"githubowner":"","githubrepo":"","githubbranch":"main","githubauthor":"","githubauthoremail":"","githubmessage":"","npmpublish":false,"npmunpublish":false,"npmotp":"","x":146,"y":3342,"wires":[["9738c25c4c8a2ccc"]]},{"id":"af4deb47ba8a7d3c","type":"NpmTarBall","z":"c520d9da20ad7f1d","g":"504b4c62b93abf9e","name":"","x":416,"y":3742,"wires":[["4db490c7840ead0c"]]},{"id":"4db490c7840ead0c","type":"NodeRedInstall","z":"c520d9da20ad7f1d","g":"504b4c62b93abf9e","name":"","x":566,"y":3792,"wires":[[]]},{"id":"459a154d1276149e","type":"inject","z":"c520d9da20ad7f1d","g":"873c249985349886","name":"yml src url","props":[{"p":"url","v":"https://raw.githubusercontent.com/opensanctions/opensanctions/main/datasets/au/dfat_sanctions/au_dfat_sanctions.yml","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":786,"y":1457,"wires":[["f53453dd80e49047"]]},{"id":"303df699fa9c748f","type":"debug","z":"c520d9da20ad7f1d","g":"873c249985349886","name":"debug 144","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"","statusType":"counter","x":1575.5,"y":1457,"wires":[]},{"id":"f53453dd80e49047","type":"link call","z":"c520d9da20ad7f1d","g":"873c249985349886","name":"","links":["165f1f324f09f0e6"],"linkType":"static","timeout":"30","x":989,"y":1457,"wires":[["33c039d3120b54dd"]]},{"id":"33c039d3120b54dd","type":"http request","z":"c520d9da20ad7f1d","g":"873c249985349886","name":"get binary buffer","method":"GET","ret":"bin","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":1202,"y":1457,"wires":[["88788598f05e35d5"]]},{"id":"88788598f05e35d5","type":"xlsx","z":"c520d9da20ad7f1d","g":"873c249985349886","name":"","sheets":"first","multi":"one","parse":"rows","map":"","x":1395,"y":1457,"wires":[["303df699fa9c748f"]]},{"id":"d810c0832ccec92b","type":"inject","z":"c520d9da20ad7f1d","g":"6faae8a6a0d1e37a","name":"yml src url","props":[{"p":"url","v":"https://raw.githubusercontent.com/opensanctions/opensanctions/main/datasets/us/cia_world_factbook/us_cia_world_factbook.yml","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":698,"y":1226,"wires":[["9d81125a67357b5f"]]},{"id":"b9957a5ef1681a3e","type":"http request","z":"c520d9da20ad7f1d","g":"6faae8a6a0d1e37a","name":"GET json","method":"GET","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":1094,"y":1226,"wires":[["d41d5e63149f00ec"]]},{"id":"7708b4b6b15c6d81","type":"debug","z":"c520d9da20ad7f1d","g":"6faae8a6a0d1e37a","name":"debug 145","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"true","targetType":"full","statusVal":"","statusType":"counter","x":1670.5,"y":1226,"wires":[]},{"id":"9d81125a67357b5f","type":"link call","z":"c520d9da20ad7f1d","g":"6faae8a6a0d1e37a","name":"","links":["165f1f324f09f0e6"],"linkType":"static","timeout":"30","x":901,"y":1226,"wires":[["b9957a5ef1681a3e"]]},{"id":"149d8336831825af","type":"split","z":"c520d9da20ad7f1d","g":"6faae8a6a0d1e37a","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":1490,"y":1226,"wires":[["7708b4b6b15c6d81"]]},{"id":"d41d5e63149f00ec","type":"change","z":"c520d9da20ad7f1d","g":"6faae8a6a0d1e37a","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.data.countries.nodes","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1297,"y":1226,"wires":[["149d8336831825af"]]},{"id":"90f4f4465568045c","type":"link call","z":"c520d9da20ad7f1d","g":"793df5246ed23927","name":"","links":["165f1f324f09f0e6"],"linkType":"static","timeout":"30","x":807,"y":1341,"wires":[["1ce79d4b71136bdb"]]},{"id":"301b9ff82cc55c2b","type":"inject","z":"c520d9da20ad7f1d","g":"793df5246ed23927","name":"yml src url","props":[{"p":"url","v":"https://raw.githubusercontent.com/opensanctions/opensanctions/main/datasets/ca/dfatd/ca_dfatd_sema_sanctions.yml","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":604,"y":1341,"wires":[["90f4f4465568045c"]]},{"id":"1ce79d4b71136bdb","type":"http request","z":"c520d9da20ad7f1d","g":"793df5246ed23927","name":"get string content","method":"GET","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":1030,"y":1341,"wires":[["44fb18c556c52457"]]},{"id":"44fb18c556c52457","type":"xml","z":"c520d9da20ad7f1d","g":"793df5246ed23927","name":"","property":"payload","attr":"","chr":"","x":1233,"y":1341,"wires":[["1b4e8160dc4f87cd"]]},{"id":"1b4e8160dc4f87cd","type":"change","z":"c520d9da20ad7f1d","g":"793df5246ed23927","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[\"data-set\"].record","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1426,"y":1341,"wires":[["13dbfda38a3c0b2c"]]},{"id":"13dbfda38a3c0b2c","type":"split","z":"c520d9da20ad7f1d","g":"793df5246ed23927","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":1619,"y":1341,"wires":[["13878e620cef349b"]]},{"id":"13878e620cef349b","type":"debug","z":"c520d9da20ad7f1d","g":"793df5246ed23927","name":"debug 146","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"","statusType":"counter","x":1799.5,"y":1341,"wires":[]},{"id":"40f5eb9049a540c8","type":"inject","z":"c520d9da20ad7f1d","g":"d4eef68edc7d60ba","name":"yml src url","props":[{"p":"url","v":"https://raw.githubusercontent.com/opensanctions/opensanctions/main/datasets/ae/local_terrorists/ae_local_terrorists.yml","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":654,"y":2560,"wires":[["19baa3125007f7ca"]]},{"id":"19baa3125007f7ca","type":"link call","z":"c520d9da20ad7f1d","g":"d4eef68edc7d60ba","name":"","links":["165f1f324f09f0e6"],"linkType":"static","timeout":"30","x":718,"y":2616,"wires":[["25e8b1057c5238c6"]]},{"id":"25e8b1057c5238c6","type":"http request","z":"c520d9da20ad7f1d","g":"d4eef68edc7d60ba","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":889,"y":2659,"wires":[["cca0e5f08d2fa5f2"]]},{"id":"cca0e5f08d2fa5f2","type":"html2","z":"c520d9da20ad7f1d","g":"d4eef68edc7d60ba","name":"","property":"payload","outproperty":"payload","tag":"a","ret":"compl","as":"multi","chr":"_","x":1153,"y":2580,"wires":[["81faa73943aab1bd"]]},{"id":"81faa73943aab1bd","type":"switch","z":"c520d9da20ad7f1d","g":"d4eef68edc7d60ba","name":"","property":"payload._","propertyType":"msg","rules":[{"t":"cont","v":"Local Terrorist List","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1153,"y":2626,"wires":[["d3217bc1d86bceaa"]]},{"id":"d3217bc1d86bceaa","type":"switch","z":"c520d9da20ad7f1d","g":"d4eef68edc7d60ba","name":"","property":"payload.href","propertyType":"msg","rules":[{"t":"cont","v":"/API/Upload","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1153,"y":2673,"wires":[["fbadfaa5662ee35d"]]},{"id":"fbadfaa5662ee35d","type":"function","z":"c520d9da20ad7f1d","g":"d4eef68edc7d60ba","name":"combine urls","func":"msg.url = url.resolve(msg.context.data.url, msg.payload.href)\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[{"var":"url","module":"url"}],"x":1372,"y":2673,"wires":[["770ee633e5f69464"]]},{"id":"770ee633e5f69464","type":"http request","z":"c520d9da20ad7f1d","g":"d4eef68edc7d60ba","name":"get binary buffer","method":"GET","ret":"bin","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":1382,"y":2618,"wires":[["0bc0c11002ea805c"]]},{"id":"0bc0c11002ea805c","type":"function","z":"c520d9da20ad7f1d","g":"d4eef68edc7d60ba","name":"parse XLSX","func":"node.status({fill:\"green\",shape:\"ring\",text:\"parsing\"});\n\nvar workbook = XLSX.read(msg.payload);\n\n/*\nnode.send({\n    ...msg,\n    payload: workbook\n})\n*/\n\nworkbook.SheetNames.forEach(function(name) {\n    msg.payload = [...XLSX.utils.sheet_to_json(workbook.Sheets[name], {})]\n\n    node.status({});\n    node.send(msg)\n});\n\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[{"var":"XLSX","module":"xlsx"}],"x":1372,"y":2563,"wires":[["feb60680a815c558"]]},{"id":"feb60680a815c558","type":"debug","z":"c520d9da20ad7f1d","g":"d4eef68edc7d60ba","name":"debug 147","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"true","targetType":"full","statusVal":"","statusType":"counter","x":1694,"y":2678,"wires":[]},{"id":"a10451367aad0856","type":"inject","z":"c520d9da20ad7f1d","g":"7de4cc046c618caf","name":"yml src url","props":[{"p":"url","v":"https://raw.githubusercontent.com/opensanctions/opensanctions/main/datasets/ae/local_terrorists/ae_local_terrorists.yml","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":678,"y":2791,"wires":[["4f412ae1e68f507c"]]},{"id":"4f412ae1e68f507c","type":"link call","z":"c520d9da20ad7f1d","g":"7de4cc046c618caf","name":"","links":["165f1f324f09f0e6"],"linkType":"static","timeout":"30","x":672,"y":2839,"wires":[["0857f1744e70eb9d"]]},{"id":"0857f1744e70eb9d","type":"http request","z":"c520d9da20ad7f1d","g":"7de4cc046c618caf","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":683,"y":2893,"wires":[["454d74647aa59920","10892bac7b99ec36","9b324033e94e96df"]]},{"id":"454d74647aa59920","type":"html2","z":"c520d9da20ad7f1d","g":"7de4cc046c618caf","name":"","property":"payload","outproperty":"payload","tag":"a","ret":"compl","as":"multi","chr":"_","x":904,"y":2827,"wires":[["4ec87aebf7e6a026"]]},{"id":"953923b13bb6a4d5","type":"debug","z":"c520d9da20ad7f1d","g":"7de4cc046c618caf","name":"debug 148","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1330,"y":2909,"wires":[]},{"id":"10892bac7b99ec36","type":"function","z":"c520d9da20ad7f1d","g":"7de4cc046c618caf","name":"function 35","func":"var $ = cheerio.load(msg.payload)\n\n$('a[href*=\"../API/\"]').each( (idx,e) => {\n    node.send({\n        ...msg,\n        payload: Object.assign({ _: $(e).html().trim() }, e.attribs)\n    })\n})\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[{"var":"cheerio","module":"cheerio"}],"x":924,"y":2893,"wires":[["94d14adcdc260bfc"]]},{"id":"e224fef63297c84f","type":"debug","z":"c520d9da20ad7f1d","g":"7de4cc046c618caf","name":"debug 149","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1334,"y":2816,"wires":[]},{"id":"4ec87aebf7e6a026","type":"switch","z":"c520d9da20ad7f1d","g":"7de4cc046c618caf","name":"","property":"payload._","propertyType":"msg","rules":[{"t":"cont","v":"Local Terrorist List","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1103,"y":2788,"wires":[["830df776587af1c9"]]},{"id":"830df776587af1c9","type":"switch","z":"c520d9da20ad7f1d","g":"7de4cc046c618caf","name":"","property":"payload.href","propertyType":"msg","rules":[{"t":"cont","v":"/API/Upload","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1144,"y":2838,"wires":[["e224fef63297c84f"]]},{"id":"94d14adcdc260bfc","type":"switch","z":"c520d9da20ad7f1d","g":"7de4cc046c618caf","name":"","property":"payload._","propertyType":"msg","rules":[{"t":"cont","v":"Local Terrorist List","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1106,"y":2932,"wires":[["953923b13bb6a4d5"]]},{"id":"9b324033e94e96df","type":"function","z":"c520d9da20ad7f1d","g":"7de4cc046c618caf","name":"function 36","func":"var $ = cheerio.load(msg.payload)\n\n$('a[href*=\"../API/\"]').each( (idx,e) => {\n    var payload = Object.assign({ _: $(e).html().trim() }, e.attribs)\n    if (payload._.match( /Local Terrorist List/ )) {\n        node.send({ ...msg,  payload: payload })\n    }\n})\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[{"var":"cheerio","module":"cheerio"}],"x":918,"y":2996,"wires":[["df988ec7a62ea6d6"]]},{"id":"df988ec7a62ea6d6","type":"debug","z":"c520d9da20ad7f1d","g":"7de4cc046c618caf","name":"debug 150","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1270,"y":2997,"wires":[]},{"id":"702996d24fdcd976","type":"PkgFile","z":"c520d9da20ad7f1d","g":"199f627a8c34c6e2","name":"html2.js","filename":"nodes/html2.js","format":"javascript","syntax":"mustache","template":"/**\n * Copyright JS Foundation and other contributors, http://js.foundation\n *\n * Licensed under the Apache License, Version 2.0 (the \"License\");\n * you may not use this file except in compliance with the License.\n * You may obtain a copy of the License at\n *\n * http://www.apache.org/licenses/LICENSE-2.0\n *\n * Unless required by applicable law or agreed to in writing, software\n * distributed under the License is distributed on an \"AS IS\" BASIS,\n * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.\n * See the License for the specific language governing permissions and\n * limitations under the License.\n **/\n\nmodule.exports = function (RED) {\n    \"use strict\";\n    var cheerio = require('cheerio');\n\n    function CheerioNode(n) {\n        RED.nodes.createNode(this, n);\n        this.property = n.property || \"payload\";\n        this.outproperty = n.outproperty || this.property || \"payload\";\n        this.tag = n.tag;\n        this.ret = n.ret || \"html\";\n        this.as = n.as || \"single\";\n        this.chr = n.chr || \"_\";\n\n        var node = this;\n\n        this.on(\"input\", function (msg, send, done) {\n            var value = RED.util.getMessageProperty(msg, node.property);\n            if (value !== undefined) {\n                var tag = node.tag;\n                if (msg.hasOwnProperty(\"select\")) { tag = node.tag || msg.select; }\n                try {\n                    var $ = cheerio.load(value);\n                    var pay = [];\n                    var count = 0;\n                    $(tag).each(function () {\n                        count++;\n                    });\n                    var index = 0;\n                    $(tag).each(function () {\n                        if (node.as === \"multi\") {\n                            var pay2 = null;\n                            if (node.ret === \"html\") { pay2 = cheerio.load($(this).html().trim(), null, false).xml(); }\n                            if (node.ret === \"text\") { pay2 = $(this).text(); }\n                            if (node.ret === \"attr\") {\n                                pay2 = Object.assign({}, this.attribs);\n                            }\n                            if (node.ret === \"compl\") {\n                                var bse = {}\n                                bse[node.chr] = $(this).html().trim()\n                                pay2 = Object.assign(bse, this.attribs);\n                            }\n                            //if (node.ret === \"val\")  { pay2 = $(this).val(); }\n                            /* istanbul ignore else */\n                            if (pay2) {\n                                var new_msg = RED.util.cloneMessage(msg);\n                                RED.util.setMessageProperty(new_msg, node.outproperty, pay2);\n                                new_msg.parts = {\n                                    id: msg._msgid,\n                                    index: index,\n                                    count: count,\n                                    type: \"string\",\n                                    ch: \"\"\n                                };\n                                send(new_msg);\n                            }\n                        }\n                        if (node.as === \"single\") {\n                            if (node.ret === \"html\") { pay.push(cheerio.load($(this).html().trim(), null, false).xml()); }\n                            if (node.ret === \"text\") { pay.push($(this).text()); }\n                            if (node.ret === \"attr\") {\n                                var attribs = Object.assign({}, this.attribs);\n                                pay.push(attribs);\n                            }\n                            if (node.ret === \"compl\") {\n                                var bse = {}\n                                bse[node.chr] = $(this).html().trim()\n                                pay.push( Object.assign(bse, this.attribs) )\n                            }\n                            //if (node.ret === \"val\")  { pay.push( $(this).val() ); }\n                        }\n                        index++;\n                    });\n                    if (node.as === \"single\") {  // Always return an array - even if blank\n                        RED.util.setMessageProperty(msg, node.outproperty, pay);\n                        send(msg);\n                    }\n                    done();\n                }\n                catch (error) {\n                    done(error.message);\n                }\n            }\n            else { send(msg); done(); } // If no payload - just pass it on.\n        });\n    }\n    RED.nodes.registerType(\"html2\", CheerioNode);\n}","output":"str","x":871,"y":4125,"wires":[["bdc78df7f950cca2"]]},{"id":"dc7f8a035a0a7ed7","type":"PkgFile","z":"c520d9da20ad7f1d","g":"199f627a8c34c6e2","name":"LICENSE","filename":"LICENSE","format":"text","syntax":"mustache","template":"## LICENSE\n\nAdapted from JSON.org, http://www.json.org/license.html\n\nPermission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the \"Software\"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:\n\nThe above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.\n\nThe Software shall be used for Good, not Evil.\n\nRemember the curse of the evil-doer upon whose blood the devil does drink and upon whose flesh the devil does feast. For eternity will the evil-doer bear this Sisyphean burden, only to be relieved of their suffering upon the apocalyptic end of it all including the foundations of the internet, computers, technology and mice. Only after the last AI enters the blue-screen-of-death modus, only then will the evil-doer be freed of their rightful and justified punishment for doing evil.\n\nTHE SOFTWARE IS PROVIDED \"AS IS\", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.\n\nTHE CURSE IS PROVIDED \"AS IS\" OR \"WORSE\", NO SOFTENING OF ANY KIND IS HEREBY EXPRESSED, IMPLIED OR OFFERED. MAY ALL EVIL-DOERS SUFFER IN ETERNITY.\n","output":"str","x":850,"y":3977.125,"wires":[["b1ebc511ee21b9d9"]]},{"id":"b1ebc511ee21b9d9","type":"PkgFile","z":"c520d9da20ad7f1d","g":"199f627a8c34c6e2","name":"README.md","filename":"README.md","format":"markdown","syntax":"mustache","template":"# HTML node replacement","output":"str","x":870,"y":4025.75,"wires":[["f4cdd8719b51ee16"]]},{"id":"f4cdd8719b51ee16","type":"PkgFile","z":"c520d9da20ad7f1d","g":"199f627a8c34c6e2","name":"package.json","filename":"package.json","format":"json","syntax":"mustache","template":"{\n  \"name\" : \"{{{ pname }}}\",\n  \"version\": \"{{ pversion }}\",\n  \"dependencies\": {\n    \"cheerio\": \"1.0.0-rc.12\"\n  },\n\n  \"keywords\": [\n    \"node-red\", \"html\"\n  ],\n\n  \"homepage\": \"https://github.com/{{ githubowner }}/{{ githubrepo }}#readme\",\n  \"license\": \"Don't do evil.\",\n  \"author\": \"Gerrit Riessen <gerrit@openmindmap.org>\",\n  \"engines\": {\n    \"node\": \">=14\"\n  },\n\n  \"node-red\" : {\n    \"version\": \">=3.0.0\",\n    \"nodes\": {\n       \"html2\": \"nodes/html2.js\"\n    }\n  },\n\n  \"description\": \"{{{ pdescription }}}\",\n  \"repository\": {\n    \"type\": \"github\",\n    \"url\": \"git+https://github.com/{{ githubowner }}/{{ githubrepo }}.git\"\n  },\n  \"bugs\": {\n    \"url\": \"https://github.com/{{ githubowner }}/{{ githubrepo }}\"\n  }\n}\n","output":"str","x":870,"y":4074.375,"wires":[["702996d24fdcd976"]]},{"id":"ef2dade4377ec3c8","type":"PkgFile","z":"c520d9da20ad7f1d","g":"199f627a8c34c6e2","name":"html2.html","filename":"nodes/html2.html","format":"html","syntax":"mustache","template":"<script type=\"text/html\" data-template-name=\"html2\">\n    <div class=\"form-row\">\n        <label for=\"node-input-name\"><i class=\"fa fa-tag\"></i> <span data-i18n=\"node-red:common.label.name\"></span></label>\n        <input type=\"text\" id=\"node-input-name\" style=\"width:70%\" data-i18n=\"[placeholder]node-red:common.label.name\">\n    </div>\n    <br/>\n\n    <div class=\"form-row\">\n        <label for=\"node-input-property\"><i class=\"fa fa-ellipsis-h\"></i> <span data-i18n=\"node-red:common.label.property\"></span></label>\n        <input type=\"text\" id=\"node-input-property\" style=\"width:70%\">\n    </div>\n    <div class=\"form-row\">\n        <label for=\"node-input-tag\"><i class=\"fa fa-filter\"></i> <span data-i18n=\"html2.label.select\"></span></label>\n        <input type=\"text\" id=\"node-input-tag\" placeholder=\"h1\">\n    </div>\n    <div class=\"form-row\">\n        <label for=\"node-input-ret\"><i class=\"fa fa-sign-out\"></i> <span data-i18n=\"html2.label.output\"></span></label>\n        <select id=\"node-input-ret\" style=\"width:70%\">\n            <option value=\"html\" data-i18n=\"html2.output.html\"></option>\n            <option value=\"text\" data-i18n=\"html2.output.text\"></option>\n            <option value=\"attr\" data-i18n=\"html2.output.attr\"></option>\n            <option value=\"compl\" data-i18n=\"html2.output.compl\"></option>\n            <!-- <option value=\"val\">return the value from a form element</option> -->\n        </select>\n    </div>\n    <div class=\"form-row\">\n        <label for=\"node-input-as\">&nbsp;</label>\n        <select id=\"node-input-as\" style=\"width:70%\">\n            <option value=\"single\" data-i18n=\"html2.format.single\"></option>\n            <option value=\"multi\" data-i18n=\"html2.format.multi\"></option>\n        </select>\n    </div>\n\n    <div class=\"form-row\">\n        <label for=\"node-input-outproperty\">&nbsp;</label>\n        <span data-i18n=\"html2.label.in\" style=\"padding-left:8px; padding-right:2px; vertical-align:-1px;\"></span> \n        <input type=\"text\" id=\"node-input-outproperty\" style=\"width:64%\">\n    </div>\n\n    <div id='html-prefix-row' class=\"form-row\" style=\"display: none;\">\n        <label for=\"node-input-chr\" style=\"width: 230px;\"><i class=\"fa fa-tag\"></i> <span data-i18n=\"html2.label.prefix\"></span></label> \n        <input type=\"text\" id=\"node-input-chr\" style=\"text-align:center; width: 40px;\" placeholder=\"_\">\n    </div>\n</script>\n\n<script type=\"text/javascript\">\n    RED.nodes.registerType('html2',{\n        category: 'parser',\n        color:\"#DEBD5C\",\n        defaults: {\n            name: {value:\"\"},\n            property: {value:\"payload\", required: true },\n            outproperty: {value:\"payload\", required: true },\n            tag: {value:\"\"},\n            ret: {value:\"html\"},\n            as: {value:\"single\"},\n            chr: { value: \"_\" }\n        },\n        inputs:1,\n        outputs:1,\n        icon: \"font-awesome/fa-code\",\n        label: function() {\n            return this.name||this.tag||\"html2\";\n        },\n        labelStyle: function() {\n            return this.name?\"node_label_italic\":\"\";\n        },\n        oneditprepare: function() {\n\n            if (this.property === undefined) {\n                $(\"#node-input-property\").val(\"payload\");\n            }\n            $(\"#node-input-property\").typedInput({default:'msg',types:['msg']});\n\n            if (this.outproperty === undefined) {\n                $(\"#node-input-outproperty\").val(\"payload\");\n            }\n            $(\"#node-input-outproperty\").typedInput({default:'msg',types:['msg']});\n\n            $('#node-input-ret').on( 'change', () => {\n                if ( $('#node-input-ret').val() == \"compl\" ) {\n                    $('#html-prefix-row').show()\n                } else {\n                    $('#html-prefix-row').hide()\n                }\n            });\n        }\n    });\n</script>","output":"str","x":893,"y":4284.125,"wires":[["106958173b14b18d"]]},{"id":"74323a1e0176cf6c","type":"NodeDevOps","z":"c520d9da20ad7f1d","g":"199f627a8c34c6e2","name":"","pname":"@gregoriusrippenstein/node-red-contrib-html-replacement","pversion":"0.0.7","pauthorname":"Gerrit Riessen","pauthoremail":"gerrit@openmindmap.org","pdescription":"Replacement for the html node.","noderedinstall":false,"randompackagename":false,"ignore_package_check":false,"gitcommit":true,"gitcheckforchange":false,"githubowner":"gorenje","githubrepo":"node-red-contrib-html-proto","githubbranch":"main","githubauthor":"Gerrit Riessen","githubauthoremail":"gerrit@openmindmap.org","githubmessage":"initial commit","npmpublish":false,"npmunpublish":false,"npmotp":"111999","x":786,"y":3906.125,"wires":[["dc7f8a035a0a7ed7"]]},{"id":"bdc78df7f950cca2","type":"PkgFile","z":"c520d9da20ad7f1d","g":"199f627a8c34c6e2","name":"Locale: html2.jsn - en-US","filename":"nodes/locales/en-US/html2.json","format":"json","syntax":"mustache","template":"{\n  \"html2\": {\n    \"label\": {\n      \"select\": \"Selector\",\n      \"output\": \"Output\",\n      \"in\": \"in\",\n      \"prefix\": \"Property name for HTML content\"\n    },\n    \"output\": {\n      \"html\": \"the html content of the elements\",\n      \"text\": \"only the text content of the elements\",\n      \"attr\": \"an object of any attributes of the elements\",\n      \"compl\": \"an object of any attributes of the elements and html contents\"\n    },\n    \"attr\": {\n      \"html\": \"Property name for tag html content\"\n    },\n    \"format\": {\n      \"single\": \"as a single message containing an array\",\n      \"multi\": \"as multiple messages, one for each element\"\n    }\n  }\n}","output":"str","x":879,"y":4177,"wires":[["0d6ec07348c0c026"]]},{"id":"0d6ec07348c0c026","type":"PkgFile","z":"c520d9da20ad7f1d","g":"199f627a8c34c6e2","name":"Locale: html2.html - en-US","filename":"nodes/locales/en-US/html2.html","format":"html","syntax":"mustache","template":"<!--\n  Copyright JS Foundation and other contributors, http://js.foundation\n\n  Licensed under the Apache License, Version 2.0 (the \"License\");\n  you may not use this file except in compliance with the License.\n  You may obtain a copy of the License at\n\n  http://www.apache.org/licenses/LICENSE-2.0\n\n  Unless required by applicable law or agreed to in writing, software\n  distributed under the License is distributed on an \"AS IS\" BASIS,\n  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.\n  See the License for the specific language governing permissions and\n  limitations under the License.\n-->\n\n<script type=\"text/html\" data-help-name=\"html2\">\n    <p>Extracts elements from an html document held in <code>msg.payload</code> using a CSS selector.</p>\n    <h3>Inputs</h3>\n    <dl class=\"message-properties\">\n    <dt>payload <span class=\"property-type\">string</span></dt>\n    <dd>the html string from which to extract elements.</dd>\n    <dt class=\"optional\">select <span class=\"property-type\">string</span></dt>\n    <dd>if not configured in the edit panel the selector can be set as a property of msg.</dd>\n</dl>\n    <h3>Output</h3>\n    <dl class=\"message-properties\">\n        <dt>payload <span class=\"property-type\">array | string</span></dt>\n        <dd>the result can be either a single message with a payload containing an array of the matched elements, or multiple\n           messages that each contain a matched element. If multiple messages are sent they will also have <code>parts</code> set.</dd>\n    </dl>\n    <h3>Details</h3>\n    <p>This node supports a combination of CSS and jQuery selectors. See the\n    <a href=\"https://github.com/fb55/CSSselect#user-content-supported-selectors\" target=\"_blank\">css-select documentation</a> for more information\n    on the supported syntax.</p>\n</script>","output":"str","x":908,"y":4230,"wires":[["ef2dade4377ec3c8"]]},{"id":"106958173b14b18d","type":"NpmTarBall","z":"c520d9da20ad7f1d","g":"199f627a8c34c6e2","name":"","x":781,"y":4396,"wires":[["cc252aa0181233e3"]]},{"id":"cc252aa0181233e3","type":"NodeRedInstall","z":"c520d9da20ad7f1d","g":"199f627a8c34c6e2","name":"","x":1007,"y":4401,"wires":[[]]}]