95e41632f97921ad/flows.json
[{"id":"95e41632f97921ad","type":"tab","label":"[Rss2Flow] RSS Reader in Node-RED","disabled":false,"info":"::: aim\n\nConverting RSS feeds to Node-RED flows to be imported.\n\n:::\n\n\n::: palette\n\n- [introspection](https://flows.nodered.org/node/@gregoriusrippenstein/node-red-contrib-introspection) for TriggerImport node, version 0.3.5 or above\n\n:::\n\n::: packages\n\n- [xxhashjs](https://www.npmjs.com/package/xxhashjs)\n\n:::\n\n::: explanation\n\nExperimental flow for importing RSS feeds and creating nodes that are imported into a flow tab.\n\nEven though there seems to be little purpose behind this flow, it demonstrates how much happens without us noticing. There are changes to Wikipedia, there is news happening and events unfolding, all largely happening without directly affecting us.\n\nThe flow needs to be activated by enabling the <a class=\"ahl-node-only\" data-ids=\"38daf727947c207c\">cron-plus node</a> after which the flow import dialog will be open automagically with new nodes. Each node is typed to a subflow of different colour for each feed. One subflow is created per RSS feed.\n\nFlow context is used to store subflows so the flow context might have to be cleared before rerunning.\n\nEach RSS item is only imported once but it doesn't take long for an entire flow tab to be covered in nodes. The prevention of duplication is ensured by assigning node IDs that are globally unique, based on the RSS item IDs\n\nAlso the dynamic creation of flows and nodes is nice if you need that kind of stuff. Its fun using Node-RED as graphics tool for displaying information! The <a class=\"ahl-node-only\" data-ids=\"821b0aa6a69e1588\">TriggerImport</a> node is responsible for opening the flow import dialog and pasting the flow data into the dialog.\n\nThe usefulness of doing dynamic flow creation can be debated but it demonstrates a strength of Node-RED: its flexibility in having clean APIs so that this is possible in the first place.\n\nThe <a class=\"ahl-group-only\" data-ids=\"c14e77577819df49\">tester group</a> is there to test new feeds to check which format they use. Seven formats are currently defined, they are based on Atom v. classic RSS and also the usage of ID v. GUID in those feeds.\n\n:::\n\n### Node-RED: A RSS reader?\n\nTurning on the automatic import in the <a class=\"ahl-node-only\" data-ids=\"821b0aa6a69e1588\">TriggerImport</a> node and then scrolling through the info pane effectively turns Node-RED into an RSS reader.\n\n![img](https://cdn.openmindmap.org/content/1693510649091_Screen_Shot_2023-08-31_at_21.36.46.png)\n\n### Post Scriptum\n\nIronically using this flow I discovered that [bad ideas can be fun](https://goodenough.us/blog/2023-08-23-bad-ideas-are-fun/) via [Hacker News](https://news.ycombinator.com/item?id=37342100).\n\n[Colour scheme](https://colordesigner.io/gradient-generator/?mode=hsl#F8F8A0-715568) for colordesigner.io.\n\nBest run in two different flow tabs, opening a clean flow tab where all RSS nodes can be added is optimal.","env":[]},{"id":"c14e77577819df49","type":"group","z":"95e41632f97921ad","name":"tester for new feeds","style":{"label":true},"nodes":["29e34383ce3a18cc","3f23a46f3fcf41cc","4ffb9fc332107948","4f956a9f0ae3b8e2","05bda23cde50d1e4","8b746cd53448216f"],"x":2505,"y":1547.1666259765625,"w":877,"h":570.3333740234375},{"id":"05bda23cde50d1e4","type":"group","z":"95e41632f97921ad","g":"c14e77577819df49","name":"Atom","style":{"label":true},"nodes":["fe75f09187e5e9e2","312549ce150e57b8","4c22ba8d76b7f16e","4460b47115ce5fa4"],"x":2850,"y":1726.9166259765625,"w":499,"h":148.50000476837158},{"id":"8b746cd53448216f","type":"group","z":"95e41632f97921ad","g":"c14e77577819df49","name":"RSS","style":{"label":true},"nodes":["8da64c78d0f92fac","64248f6aac7be875","f1907b8b7988ab89","cf7f4b6f1e243bfc"],"x":2857,"y":1942.9999952316284,"w":499,"h":148.50000476837158},{"id":"8f3fe8c36498b7a7","type":"junction","z":"95e41632f97921ad","x":1100.2857052087784,"y":1096.7142968177795,"wires":[["358d2d6994869b03","c83453e0371ae265","50785997d44346fb","2735ae1588811915","50c7a8f3c84f2338","b4769f83b8838da9","b6931a68ad625168","6c96346629e60411","fdddb10410cadb04","6d345042baed2844","e0b194d2dacbdcb9","7a4ca954294d4336","47b7c1cfa9e39868","ef0b68fa863a475d","3617e0d469080751","139d90a8b53c34ce","5e8cf7b36b754c62","c082782ddf7b3d8b","7d0519493d430050","5acb878b4559abe4"]]},{"id":"29e34383ce3a18cc","type":"http request","z":"95e41632f97921ad","g":"c14e77577819df49","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[{"keyType":"User-Agent","keyValue":"","valueType":"other","valueValue":"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_13_6) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/88.0.4324.104 Safari/537.36 OPR/74.0.3911.75"}],"x":2601,"y":1588.1666259765625,"wires":[["4ffb9fc332107948","3f23a46f3fcf41cc"]]},{"id":"3f23a46f3fcf41cc","type":"xml","z":"95e41632f97921ad","g":"c14e77577819df49","name":"","property":"payload","attr":"","chr":"","x":2675,"y":1650.1666259765625,"wires":[["fe75f09187e5e9e2","4f956a9f0ae3b8e2","8da64c78d0f92fac"]]},{"id":"fe75f09187e5e9e2","type":"change","z":"95e41632f97921ad","g":"05bda23cde50d1e4","name":"payload.rss.channel[0].item","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.rss.channel[0].item","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2996,"y":1767.9166259765625,"wires":[["312549ce150e57b8","4c22ba8d76b7f16e"]]},{"id":"312549ce150e57b8","type":"split","z":"95e41632f97921ad","g":"05bda23cde50d1e4","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":3017,"y":1834.416630744934,"wires":[["4460b47115ce5fa4"]]},{"id":"7ff1a1d1467d9c5b","type":"function","z":"95e41632f97921ad","name":"1. title, id, summary, updated","func":"// some GUIDs are in fact IDs so prepend the URL when generating the ID\nmsg.payload = {\n    \"id\": xxhashjs.h64(msg.url + msg.payload.id[0], 0xbad0feed).toString(16),\n    \"type\": \"subflow:\" + msg.subflow_type.id,\n    \"z\": msg.tab_id_z,\n    \"name\": msg.payload.title[0].trim(),\n    \"info\": msg.payload.id[0] + \"\\n<hr>\\n\" + msg.payload.summary[0][\"_\"].trim(),\n    \"env\": [\n        {\n            \"name\": \"createdAt\",\n            \"value\": msg.payload.updated[0],\n            \"type\": \"str\"\n        },\n        {\n            \"name\": \"updatedAt\",\n            \"value\": msg.payload.updated[0],\n            \"type\": \"str\"\n        }\n    ],\n    \"createdAt\": msg.payload.updated[0],\n    \"updatedAt\": msg.payload.updated[0],\n    \"x\": 4500 * Math.random(),\n    \"y\": 4500 * Math.random(),\n    \"wires\": [\n        []\n    ]\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[{"var":"xxhashjs","module":"xxhashjs"}],"x":3490.500045776367,"y":839.6367607116699,"wires":[["8c74b4f9689d3cec"]]},{"id":"767265977c915935","type":"http request","z":"95e41632f97921ad","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":2338.6666297912598,"y":1075.523603439331,"wires":[["35e60186c0326414"]]},{"id":"35e60186c0326414","type":"xml","z":"95e41632f97921ad","name":"","property":"payload","attr":"","chr":"","x":2340.750045776367,"y":970.6902866363525,"wires":[["d03974f0bf886576"]]},{"id":"de06be40c60414f6","type":"split","z":"95e41632f97921ad","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":3197.5625,"y":1049.8712158203125,"wires":[["7ff1a1d1467d9c5b"]]},{"id":"8c74b4f9689d3cec","type":"join","z":"95e41632f97921ad","name":"","mode":"auto","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":"false","timeout":"","count":"","reduceRight":false,"x":3931,"y":1057.4403076171875,"wires":[["35bf2d192a8e2500"]]},{"id":"821b0aa6a69e1588","type":"TriggerImport","z":"95e41632f97921ad","name":"","autoimport":true,"removeduplicates":true,"x":4370.5,"y":586.84521484375,"wires":[[]]},{"id":"d03974f0bf886576","type":"function","z":"95e41632f97921ad","name":"define subflow","func":"msg.tab_id_z = RED.util.generateId();\n\nvar subflowId = RED.util.generateId();\n\nvar getName = () => {\n    var pl = msg.payload;\n    /* \n     * This supports the title being (in that order):\n     *    - payload.rss.channel[0].title[0]\n     *    - payload.feed.title[0]._ \n     *    - payload.feed.title[0]\n     */\n    return ( \n        (pl && pl.rss && pl.rss.channel && pl.rss.channel[0] && pl.rss.channel[0].title && pl.rss.channel[0].title[0]) ||\n        (pl && pl.feed && pl.feed.title && pl.feed.title[0] && (pl.feed.title[0]._ || pl.feed.title[0]) ) ||\n        \"Unk: \" + subflowId\n    )\n};\n\nvar subflowDefined = flow.get(msg.node_colour.substr(1,12));\n\nif (subflowDefined) {\n\n    msg.subflow_defined = true;\n    msg.subflow_type = subflowDefined;\n\n} else {\n\n    msg.subflow_type = {\n        \"id\": subflowId,\n        \"type\": \"subflow\",\n        \"name\": getName(),\n        \"info\": \"Imported at \" + new Date() + \"\\n<hr>\\n\" + msg.url + \"\\n\",\n        \"category\": \"rssfeeds\",\n        \"icon\": msg.icon || \"font-awesome/fa-feed\",\n\n        \"in\": [\n            {\n                \"x\": 201.25,\n                \"y\": 188.75,\n                \"wires\": []\n            }\n        ],\n\n        \"out\": [\n            {\n                \"x\": 496.25,\n                \"y\": 161.25,\n                \"wires\": [\n                    {\n                        \"id\": subflowId,\n                        \"port\": 0\n                    }\n                ]\n            }\n        ],\n\n        \"env\": [\n            {\n                \"name\": \"createdAt\",\n                \"type\": \"str\",\n                \"value\": \"\"\n            },\n            {\n                \"name\": \"updatedAt\",\n                \"type\": \"str\",\n                \"value\": \"\"\n            }\n        ],\n\n        \"meta\": {},\n        \"color\": msg.node_colour,\n    };\n\n    msg.subflow_defined = false;\n    flow.set(msg.node_colour.substr(1, 12), { ...msg.subflow_type })\n    \n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2359.083251953125,"y":862.9998779296875,"wires":[["2509e282929df061"]]},{"id":"35bf2d192a8e2500","type":"function","z":"95e41632f97921ad","name":"prepend the subflow to the nodes array","func":"if (!msg.subflow_defined) {\n    msg.payload = [\n        msg.subflow_type,\n        ...msg.payload    \n    ];\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":4132.25,"y":839.6367607116699,"wires":[["821b0aa6a69e1588"]]},{"id":"6405347864aa013b","type":"change","z":"95e41632f97921ad","name":"payload.feed.entry","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.feed.entry","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2890.000045776367,"y":839.6367607116699,"wires":[["de06be40c60414f6"]]},{"id":"2509e282929df061","type":"switch","z":"95e41632f97921ad","name":"format type decider","property":"formatType","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"},{"t":"eq","v":"4","vt":"str"},{"t":"eq","v":"5","vt":"str"},{"t":"eq","v":"6","vt":"str"},{"t":"eq","v":"7","vt":"str"}],"checkall":"false","repair":false,"outputs":7,"x":2578.750045776367,"y":1070.8331108093262,"wires":[["6405347864aa013b"],["42d0b093387febcc"],["100851b7e050388e"],["14f2def63fe17306"],["276b9c26da98a14f"],["2f944857808fb85e"],["66d332de7210429d"]]},{"id":"42d0b093387febcc","type":"change","z":"95e41632f97921ad","name":"payload.rss.channel[0].item","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.rss.channel[0].item","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2920.000045776367,"y":916.2528394063314,"wires":[["cae9295f93c75ba6"]]},{"id":"cae9295f93c75ba6","type":"split","z":"95e41632f97921ad","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":3197.5625,"y":1049.8712158203125,"wires":[["6125e3e6b8cbbef4"]]},{"id":"100851b7e050388e","type":"change","z":"95e41632f97921ad","name":"payload.rss.channel[0].item","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.rss.channel[0].item","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2920.000045776367,"y":992.8689181009929,"wires":[["958e149a36e52b09"]]},{"id":"958e149a36e52b09","type":"split","z":"95e41632f97921ad","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":3197.5625,"y":1049.8712158203125,"wires":[["39d1992e913e6c03"]]},{"id":"6125e3e6b8cbbef4","type":"function","z":"95e41632f97921ad","name":"2. guid[0]._, title, description, pubDate","func":"// some GUIDs are in fact IDs so prepend the URL when generating the ID\nmsg.payload = {\n    \"id\": xxhashjs.h64(msg.url + msg.payload.guid[0]._, 0xbad0feed).toString(16),\n    \"type\": \"subflow:\" + msg.subflow_type.id,\n    \"z\": msg.tab_id_z,\n    \"name\": msg.payload.title[0].trim(),\n    \"info\": msg.payload.description[0].trim(),\n    \"env\": [\n        {\n            \"name\": \"createdAt\",\n            \"value\": msg.payload.pubDate[0],\n            \"type\": \"str\"\n        },\n        {\n            \"name\": \"updatedAt\",\n            \"value\": msg.payload.pubDate[0],\n            \"type\": \"str\"\n        }\n    ],\n    \"createdAt\": msg.payload.pubDate[0],\n    \"updatedAt\": msg.payload.pubDate[0],\n    \"x\": 4500 * Math.random(),\n    \"y\": 4500 * Math.random(),\n    \"wires\": [\n        []\n    ]\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[{"var":"xxhashjs","module":"xxhashjs"}],"x":3520.500045776367,"y":916.2528394063314,"wires":[["8c74b4f9689d3cec"]]},{"id":"39d1992e913e6c03","type":"function","z":"95e41632f97921ad","name":"3. guid[0]._, title, link, description & pubDate","func":"// some GUIDs are in fact IDs so prepend the URL when generating the ID\nmsg.payload = {\n    \"id\": xxhashjs.h64(msg.url + msg.payload.guid[0]._, 0xbad0feed).toString(16),\n    \"type\": \"subflow:\" + msg.subflow_type.id,\n    \"z\": msg.tab_id_z,\n    \"name\": msg.payload.title[0].trim(),\n    \"info\": msg.payload.link[0] + \"\\n<hr>\\n\" + msg.payload.description[0].trim(),\n    \"env\": [\n        {\n            \"name\": \"createdAt\",\n            \"value\": msg.payload.pubDate[0],\n            \"type\": \"str\"\n        },\n        {\n            \"name\": \"updatedAt\",\n            \"value\": msg.payload.pubDate[0],\n            \"type\": \"str\"\n        }\n    ],\n    \"createdAt\": msg.payload.pubDate[0],\n    \"updatedAt\": msg.payload.pubDate[0],\n    \"x\": 4500 * Math.random(),\n    \"y\": 4500 * Math.random(),\n    \"wires\": [\n        []\n    ]\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[{"var":"xxhashjs","module":"xxhashjs"}],"x":3540.500045776367,"y":992.8689181009929,"wires":[["8c74b4f9689d3cec"]]},{"id":"14f2def63fe17306","type":"change","z":"95e41632f97921ad","name":"payload.rss.channel[0].item","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.rss.channel[0].item","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2920.000045776367,"y":1069.4849967956543,"wires":[["9c1b24603eca2e91"]]},{"id":"9c1b24603eca2e91","type":"split","z":"95e41632f97921ad","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":3197.5625,"y":1049.8712158203125,"wires":[["274d5754d34a776d"]]},{"id":"274d5754d34a776d","type":"function","z":"95e41632f97921ad","name":"4. title, guid, description, pubDate","func":"// some GUIDs are in fact IDs so prepend the URL when generating the ID\nmsg.payload = {\n    \"id\": xxhashjs.h64(msg.url + msg.payload.guid[0]._, 0xbad0feed).toString(16),\n    \"type\": \"subflow:\" + msg.subflow_type.id,\n    \"z\": msg.tab_id_z,\n    \"name\": msg.payload.title[0].trim(),\n    \"info\": msg.payload.guid[0][\"_\"] + \"\\n<hr>\\n\" + msg.payload.description[0].trim(),\n    \"env\": [\n        {\n            \"name\": \"createdAt\",\n            \"value\": msg.payload.pubDate[0],\n            \"type\": \"str\"\n        },\n        {\n            \"name\": \"updatedAt\",\n            \"value\": msg.payload.pubDate[0],\n            \"type\": \"str\"\n        }\n    ],\n    \"createdAt\": msg.payload.pubDate[0],\n    \"updatedAt\": msg.payload.pubDate[0],\n    \"x\": 4500 * Math.random(),\n    \"y\": 4500 * Math.random(),\n    \"wires\": [\n        []\n    ]\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[{"var":"xxhashjs","module":"xxhashjs"}],"x":3510.500045776367,"y":1069.4849967956543,"wires":[["8c74b4f9689d3cec"]]},{"id":"cb0919590bfe6380","type":"function","z":"95e41632f97921ad","name":"5. title, id, summary, publised and updated","func":"// some GUIDs are in fact IDs so prepend the URL when generating the ID\nmsg.payload = {\n    \"id\": xxhashjs.h64(msg.url + msg.payload.id[0], 0xbad0feed).toString(16),\n    \"type\": \"subflow:\" + msg.subflow_type.id,\n    \"z\": msg.tab_id_z,\n    \"name\": msg.payload.title[0]._.trim(),\n    \"info\": msg.payload.id[0] + \"\\n<hr>\\n\" + msg.payload.summary[0][\"_\"].trim(),\n    \"env\": [\n        {\n            \"name\": \"createdAt\",\n            \"value\": msg.payload.published[0],\n            \"type\": \"str\"\n        },\n        {\n            \"name\": \"updatedAt\",\n            \"value\": msg.payload.updated[0],\n            \"type\": \"str\"\n        }\n    ],\n    \"createdAt\": msg.payload.published[0],\n    \"updatedAt\": msg.payload.updated[0],\n    \"x\": 4500 * Math.random(),\n    \"y\": 4500 * Math.random(),\n    \"wires\": [\n        []\n    ]\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[{"var":"xxhashjs","module":"xxhashjs"}],"x":3540.500045776367,"y":1146.1010754903157,"wires":[["8c74b4f9689d3cec"]]},{"id":"276b9c26da98a14f","type":"change","z":"95e41632f97921ad","name":"payload.feed.entry","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.feed.entry","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2890.000045776367,"y":1146.1010754903157,"wires":[["33adf5658a9a283a"]]},{"id":"33adf5658a9a283a","type":"split","z":"95e41632f97921ad","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":3197.5625,"y":1049.8712158203125,"wires":[["cb0919590bfe6380"]]},{"id":"2f944857808fb85e","type":"change","z":"95e41632f97921ad","name":"payload.feed.entry","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.feed.entry","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2890.000045776367,"y":1222.717154184977,"wires":[["50ef44e6d39d11df"]]},{"id":"516a108c4da6f594","type":"function","z":"95e41632f97921ad","name":"6. title, link[4].$.href, content, published, updated","func":"// some GUIDs are in fact IDs so prepend the URL when generating the ID\nmsg.payload = {\n    \"id\": xxhashjs.h64(msg.url + msg.payload.id[0], 0xbad0feed).toString(16),\n    \"type\": \"subflow:\" + msg.subflow_type.id,\n    \"z\": msg.tab_id_z,\n    \"name\": msg.payload.title[0]._.trim(),\n    \"info\": msg.payload.link[4].$.href + \"\\n<hr>\\n\" + msg.payload.content[0]._.trim(),\n    \"env\": [\n        {\n            \"name\": \"createdAt\",\n            \"value\": msg.payload.published[0],\n            \"type\": \"str\"\n        },\n        {\n            \"name\": \"updatedAt\",\n            \"value\": msg.payload.updated[0],\n            \"type\": \"str\"\n        }\n    ],\n    \"createdAt\": msg.payload.published[0],\n    \"updatedAt\": msg.payload.updated[0],\n    \"x\": 4500 * Math.random(),\n    \"y\": 4500 * Math.random(),\n    \"wires\": [\n        []\n    ]\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[{"var":"xxhashjs","module":"xxhashjs"}],"x":3560.500045776367,"y":1222.717154184977,"wires":[["8c74b4f9689d3cec"]]},{"id":"50ef44e6d39d11df","type":"split","z":"95e41632f97921ad","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":3197.5625,"y":1049.8712158203125,"wires":[["516a108c4da6f594"]]},{"id":"66d332de7210429d","type":"change","z":"95e41632f97921ad","name":"payload.rss.channel[0].item","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.rss.channel[0].item","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2920.000045776367,"y":1299.3332328796387,"wires":[["bd5801470b5a572f"]]},{"id":"2cd3d1adae67e9bc","type":"function","z":"95e41632f97921ad","name":"7. title, link, description, payload[\"dc:date\"]","func":"// some GUIDs are in fact IDs so prepend the URL when generating the ID\nmsg.payload = {\n    \"id\": xxhashjs.h64(msg.url + msg.payload.guid[0]._, 0xbad0feed).toString(16),\n    \"type\": \"subflow:\" + msg.subflow_type.id,\n    \"z\": msg.tab_id_z,\n    \"name\": msg.payload.title[0].trim(),\n    \"info\": msg.payload.link[0] + \"\\n<hr>\\n\" + msg.payload.description[0].trim(),\n    \"env\": [\n        {\n            \"name\": \"createdAt\",\n            \"value\": msg.payload[\"dc:date\"][0],\n            \"type\": \"str\"\n        },\n        {\n            \"name\": \"updatedAt\",\n            \"value\": msg.payload[\"dc:date\"][0],\n            \"type\": \"str\"\n        }\n    ],\n    \"createdAt\": msg.payload[\"dc:date\"][0],\n    \"updatedAt\": msg.payload[\"dc:date\"][0],\n    \"x\": 4500 * Math.random(),\n    \"y\": 4500 * Math.random(),\n    \"wires\": [\n        []\n    ]\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[{"var":"xxhashjs","module":"xxhashjs"}],"x":3540.500045776367,"y":1299.3332328796387,"wires":[["8c74b4f9689d3cec"]]},{"id":"bd5801470b5a572f","type":"split","z":"95e41632f97921ad","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":3197.5625,"y":1049.8712158203125,"wires":[["2cd3d1adae67e9bc"]]},{"id":"e04aa32834a42779","type":"change","z":"95e41632f97921ad","name":"the onion","rules":[{"t":"set","p":"url","pt":"msg","to":"https://www.theonion.com/rss","tot":"str"},{"t":"set","p":"node_colour","pt":"msg","to":"#ae959b","tot":"str"},{"t":"set","p":"formatType","pt":"msg","to":"3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1668,"y":1244.6145668029785,"wires":[["767265977c915935"]]},{"id":"8d0bb4e5863530b1","type":"change","z":"95e41632f97921ad","name":"justworldeducational","rules":[{"t":"set","p":"url","pt":"msg","to":"https://justworldeducational.org/category/blog/feed/","tot":"str"},{"t":"set","p":"node_colour","pt":"msg","to":"#b49d9b","tot":"str"},{"t":"set","p":"formatType","pt":"msg","to":"3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1708,"y":1208.229133605957,"wires":[["767265977c915935"]]},{"id":"5e18ba0456c591f5","type":"change","z":"95e41632f97921ad","name":"reporter.am","rules":[{"t":"set","p":"url","pt":"msg","to":"https://reporter.am/feed","tot":"str"},{"t":"set","p":"node_colour","pt":"msg","to":"#baa49c","tot":"str"},{"t":"set","p":"formatType","pt":"msg","to":"3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1678,"y":1171.8437004089355,"wires":[["767265977c915935"]]},{"id":"88c79b1e36388b1c","type":"change","z":"95e41632f97921ad","name":"independent","rules":[{"t":"set","p":"url","pt":"msg","to":"http://www.independent.co.uk/news/world/rss","tot":"str"},{"t":"set","p":"node_colour","pt":"msg","to":"#c5b49c","tot":"str"},{"t":"set","p":"formatType","pt":"msg","to":"7","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1678,"y":1135.458267211914,"wires":[["767265977c915935"]]},{"id":"327ee99d3f1678be","type":"change","z":"95e41632f97921ad","name":"blow the truth","rules":[{"t":"set","p":"url","pt":"msg","to":"https://www.blowthetruth.com/feeds/posts/default","tot":"str"},{"t":"set","p":"node_colour","pt":"msg","to":"#e19c9d","tot":"str"},{"t":"set","p":"formatType","pt":"msg","to":"6","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1686,"y":1052.333251953125,"wires":[["767265977c915935"]]},{"id":"6c96d25507ce999e","type":"change","z":"95e41632f97921ad","name":"rand corp","rules":[{"t":"set","p":"url","pt":"msg","to":"https://www.rand.org/topics/international-affairs.xml/feed","tot":"str"},{"t":"set","p":"node_colour","pt":"msg","to":"#c76c61","tot":"str"},{"t":"set","p":"formatType","pt":"msg","to":"5","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1666,"y":1014.083251953125,"wires":[["767265977c915935"]]},{"id":"776c35eeb5f55dda","type":"change","z":"95e41632f97921ad","name":"globalissues","rules":[{"t":"set","p":"url","pt":"msg","to":"https://www.globalissues.org/news/feed","tot":"str"},{"t":"set","p":"node_colour","pt":"msg","to":"#d07d66","tot":"str"},{"t":"set","p":"formatType","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1676,"y":975.833251953125,"wires":[["767265977c915935"]]},{"id":"1a67beeacd82d3cd","type":"change","z":"95e41632f97921ad","name":"aljazeera","rules":[{"t":"set","p":"url","pt":"msg","to":"https://www.aljazeera.com/xml/rss/all.xml","tot":"str"},{"t":"set","p":"node_colour","pt":"msg","to":"#d7906d","tot":"str"},{"t":"set","p":"formatType","pt":"msg","to":"3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1666,"y":937.583251953125,"wires":[["767265977c915935"]]},{"id":"6bce62a217d3c4be","type":"change","z":"95e41632f97921ad","name":"bbc world news","rules":[{"t":"set","p":"url","pt":"msg","to":"http://feeds.bbci.co.uk/news/world/rss.xml","tot":"str"},{"t":"set","p":"node_colour","pt":"msg","to":"#dfa373","tot":"str"},{"t":"set","p":"formatType","pt":"msg","to":"4","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1686,"y":899.333251953125,"wires":[["767265977c915935"]]},{"id":"09120ba62a9e0a2e","type":"change","z":"95e41632f97921ad","name":"HN frontpage","rules":[{"t":"set","p":"url","pt":"msg","to":"https://hnrss.org/frontpage","tot":"str"},{"t":"set","p":"node_colour","pt":"msg","to":"#e5b67b","tot":"str"},{"t":"set","p":"formatType","pt":"msg","to":"2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1688,"y":811.333251953125,"wires":[["767265977c915935"]]},{"id":"bb1ea420a40e1ac5","type":"change","z":"95e41632f97921ad","name":"HN newest submissions","rules":[{"t":"set","p":"url","pt":"msg","to":"https://hnrss.org/newest","tot":"str"},{"t":"set","p":"node_colour","pt":"msg","to":"#ebc883","tot":"str"},{"t":"set","p":"formatType","pt":"msg","to":"2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1718,"y":774.583251953125,"wires":[["767265977c915935"]]},{"id":"66df8466e6d5e975","type":"change","z":"95e41632f97921ad","name":"hacker news new comments","rules":[{"t":"set","p":"url","pt":"msg","to":"https://hnrss.org/newcomments","tot":"str"},{"t":"set","p":"node_colour","pt":"msg","to":"#f0da8c","tot":"str"},{"t":"set","p":"formatType","pt":"msg","to":"3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1728,"y":737.833251953125,"wires":[["767265977c915935"]]},{"id":"cba5f20d9a8b5871","type":"change","z":"95e41632f97921ad","name":"wikipedia new pages","rules":[{"t":"set","p":"url","pt":"msg","to":"https://en.wikipedia.org/w/index.php?title=Special:NewPages&feed=atom","tot":"str"},{"t":"set","p":"node_colour","pt":"msg","to":"#f4ea96","tot":"str"},{"t":"set","p":"formatType","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1708,"y":701.083251953125,"wires":[["767265977c915935"]]},{"id":"160fa742c17cce8a","type":"change","z":"95e41632f97921ad","name":"wikipedia recent changes","rules":[{"t":"set","p":"url","pt":"msg","to":"https://en.wikipedia.org/w/api.php?hidebots=1&hidecategorization=1&hideWikibase=1&urlversion=1&days=7&limit=50&action=feedrecentchanges&feedformat=atom","tot":"str"},{"t":"set","p":"node_colour","pt":"msg","to":"#f8f8a0","tot":"str"},{"t":"set","p":"formatType","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1718,"y":664.333251953125,"wires":[["767265977c915935"]]},{"id":"6b1375547ef09693","type":"change","z":"95e41632f97921ad","name":"timesofindia - humor","rules":[{"t":"set","p":"url","pt":"msg","to":"https://timesofindia.indiatimes.com/blogs/humour/feed/","tot":"str"},{"t":"set","p":"node_colour","pt":"msg","to":"#a98e9a","tot":"str"},{"t":"set","p":"formatType","pt":"msg","to":"3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1708,"y":1281,"wires":[["767265977c915935"]]},{"id":"827285041625fa63","type":"change","z":"95e41632f97921ad","name":"test feed url","rules":[{"t":"set","p":"url","pt":"msg","to":"https://psyche.co/feed","tot":"str"},{"t":"set","p":"node_colour","pt":"msg","to":"#ebdea8","tot":"str"},{"t":"set","p":"formatType","pt":"msg","to":"3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2375,"y":1590,"wires":[["29e34383ce3a18cc"]]},{"id":"7fadf324c7bb4c99","type":"inject","z":"95e41632f97921ad","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":2297,"y":1736,"wires":[["827285041625fa63"]]},{"id":"4ffb9fc332107948","type":"debug","z":"95e41632f97921ad","g":"c14e77577819df49","name":"debug 12","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":2878,"y":1588.1666259765625,"wires":[]},{"id":"4f956a9f0ae3b8e2","type":"debug","z":"95e41632f97921ad","g":"c14e77577819df49","name":"debug 13","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":2924,"y":1650.1666259765625,"wires":[]},{"id":"4c22ba8d76b7f16e","type":"debug","z":"95e41632f97921ad","g":"05bda23cde50d1e4","name":"debug 14","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":3197,"y":1767.9166259765625,"wires":[]},{"id":"4460b47115ce5fa4","type":"debug","z":"95e41632f97921ad","g":"05bda23cde50d1e4","name":"debug 15","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"","statusType":"counter","x":3243,"y":1834.416630744934,"wires":[]},{"id":"8da64c78d0f92fac","type":"change","z":"95e41632f97921ad","g":"8b746cd53448216f","name":"payload.feed.entry","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.feed.entry","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2973,"y":1983.9999952316284,"wires":[["64248f6aac7be875","f1907b8b7988ab89"]]},{"id":"64248f6aac7be875","type":"split","z":"95e41632f97921ad","g":"8b746cd53448216f","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":3024,"y":2050.5,"wires":[["cf7f4b6f1e243bfc"]]},{"id":"f1907b8b7988ab89","type":"debug","z":"95e41632f97921ad","g":"8b746cd53448216f","name":"debug 16","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":3204,"y":1983.9999952316284,"wires":[]},{"id":"cf7f4b6f1e243bfc","type":"debug","z":"95e41632f97921ad","g":"8b746cd53448216f","name":"debug 17","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"","statusType":"counter","x":3250,"y":2050.5,"wires":[]},{"id":"8e08d2fd8faa6370","type":"change","z":"95e41632f97921ad","name":"lobste.rs","rules":[{"t":"set","p":"url","pt":"msg","to":"https://lobste.rs/rss","tot":"str"},{"t":"set","p":"node_colour","pt":"msg","to":"#a3869a","tot":"str"},{"t":"set","p":"formatType","pt":"msg","to":"3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1666,"y":1365.3333333333333,"wires":[["767265977c915935"]]},{"id":"eddd1011bc6a06fa","type":"change","z":"95e41632f97921ad","name":"aeon.co","rules":[{"t":"set","p":"url","pt":"msg","to":"https://aeon.co/feed.rss","tot":"str"},{"t":"set","p":"node_colour","pt":"msg","to":"#d0969c","tot":"str"},{"t":"set","p":"formatType","pt":"msg","to":"3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1666,"y":1403.25,"wires":[["767265977c915935"]]},{"id":"3d06fe78fdb9e535","type":"change","z":"95e41632f97921ad","name":"psyche.co","rules":[{"t":"set","p":"url","pt":"msg","to":"https://psyche.co/feed","tot":"str"},{"t":"set","p":"node_colour","pt":"msg","to":"#a8899f","tot":"str"},{"t":"set","p":"formatType","pt":"msg","to":"3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1676,"y":1441.1666666666667,"wires":[["767265977c915935"]]},{"id":"01dbc83fea8571b0","type":"change","z":"95e41632f97921ad","name":"news.abc.au","rules":[{"t":"set","p":"url","pt":"msg","to":"https://www.abc.net.au/news/feed/2942460/rss.xml","tot":"str"},{"t":"set","p":"node_colour","pt":"msg","to":"#c1cfd3","tot":"str"},{"t":"set","p":"formatType","pt":"msg","to":"3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1676,"y":1479.0833333333335,"wires":[["767265977c915935"]]},{"id":"1a2ebaa018d0762b","type":"change","z":"95e41632f97921ad","name":"sbs","rules":[{"t":"set","p":"url","pt":"msg","to":"https://www.sbs.com.au/feed/news/content-collection-rss/top-stories","tot":"str"},{"t":"set","p":"node_colour","pt":"msg","to":"#b2b5bb","tot":"str"},{"t":"set","p":"formatType","pt":"msg","to":"3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1656,"y":1517,"wires":[["767265977c915935"]]},{"id":"e87f49a0711d3e2b","type":"change","z":"95e41632f97921ad","name":"delete old items - 30mins","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t   \"category\": \"rssfeeds\",\t   \"old_than_ms\": 1000 * 60 * 30,\t   \"cmd\": \"delete-nodes\"\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1718,"y":586.84521484375,"wires":[["821b0aa6a69e1588"]]},{"id":"cd9abd401d682876","type":"inject","z":"95e41632f97921ad","d":true,"name":"time giver - tick every 135secs","props":[],"repeat":"135","crontab":"","once":true,"onceDelay":"3","topic":"","x":1040,"y":586.84521484375,"wires":[["6eb444ab8e72d9c0","8f3fe8c36498b7a7"]]},{"id":"358d2d6994869b03","type":"delay","z":"95e41632f97921ad","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1480,"y":664.333251953125,"wires":[["160fa742c17cce8a"]]},{"id":"c83453e0371ae265","type":"delay","z":"95e41632f97921ad","name":"","pauseType":"delay","timeout":"4","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1480,"y":701.083251953125,"wires":[["cba5f20d9a8b5871"]]},{"id":"50785997d44346fb","type":"delay","z":"95e41632f97921ad","name":"","pauseType":"delay","timeout":"7","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1480,"y":737.833251953125,"wires":[["66df8466e6d5e975"]]},{"id":"2735ae1588811915","type":"delay","z":"95e41632f97921ad","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1480,"y":774.583251953125,"wires":[["bb1ea420a40e1ac5"]]},{"id":"50c7a8f3c84f2338","type":"delay","z":"95e41632f97921ad","name":"","pauseType":"delay","timeout":"13","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1480,"y":811.333251953125,"wires":[["09120ba62a9e0a2e"]]},{"id":"b4769f83b8838da9","type":"delay","z":"95e41632f97921ad","name":"","pauseType":"delay","timeout":"16","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1481,"y":899.333251953125,"wires":[["6bce62a217d3c4be"]]},{"id":"b6931a68ad625168","type":"delay","z":"95e41632f97921ad","name":"","pauseType":"delay","timeout":"19","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1481,"y":937.583251953125,"wires":[["1a67beeacd82d3cd"]]},{"id":"6c96346629e60411","type":"delay","z":"95e41632f97921ad","name":"","pauseType":"delay","timeout":"22","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1481,"y":975.833251953125,"wires":[["776c35eeb5f55dda"]]},{"id":"fdddb10410cadb04","type":"delay","z":"95e41632f97921ad","name":"","pauseType":"delay","timeout":"25","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1481,"y":1014.083251953125,"wires":[["6c96d25507ce999e"]]},{"id":"6d345042baed2844","type":"delay","z":"95e41632f97921ad","name":"","pauseType":"delay","timeout":"28","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1481,"y":1052.333251953125,"wires":[["327ee99d3f1678be"]]},{"id":"e0b194d2dacbdcb9","type":"delay","z":"95e41632f97921ad","name":"","pauseType":"delay","timeout":"31","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1477,"y":1135.458267211914,"wires":[["88c79b1e36388b1c"]]},{"id":"7a4ca954294d4336","type":"delay","z":"95e41632f97921ad","name":"","pauseType":"delay","timeout":"34","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1477,"y":1171.8437004089355,"wires":[["5e18ba0456c591f5"]]},{"id":"47b7c1cfa9e39868","type":"delay","z":"95e41632f97921ad","name":"","pauseType":"delay","timeout":"37","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1477,"y":1208.229133605957,"wires":[["8d0bb4e5863530b1"]]},{"id":"ef0b68fa863a475d","type":"delay","z":"95e41632f97921ad","name":"","pauseType":"delay","timeout":"40","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1477,"y":1244.6145668029785,"wires":[["e04aa32834a42779"]]},{"id":"3617e0d469080751","type":"delay","z":"95e41632f97921ad","name":"","pauseType":"delay","timeout":"43","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1477,"y":1281,"wires":[["6b1375547ef09693"]]},{"id":"6eb444ab8e72d9c0","type":"delay","z":"95e41632f97921ad","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1373,"y":586.84521484375,"wires":[["e87f49a0711d3e2b"]]},{"id":"139d90a8b53c34ce","type":"delay","z":"95e41632f97921ad","name":"","pauseType":"delay","timeout":"46","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1479,"y":1365.3333333333333,"wires":[["8e08d2fd8faa6370"]]},{"id":"5e8cf7b36b754c62","type":"delay","z":"95e41632f97921ad","name":"","pauseType":"delay","timeout":"49","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1479,"y":1403.25,"wires":[["eddd1011bc6a06fa"]]},{"id":"c082782ddf7b3d8b","type":"delay","z":"95e41632f97921ad","name":"","pauseType":"delay","timeout":"52","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1479,"y":1441.1666666666667,"wires":[["3d06fe78fdb9e535"]]},{"id":"7d0519493d430050","type":"delay","z":"95e41632f97921ad","name":"","pauseType":"delay","timeout":"55","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1479,"y":1479.0833333333335,"wires":[["01dbc83fea8571b0"]]},{"id":"5acb878b4559abe4","type":"delay","z":"95e41632f97921ad","name":"","pauseType":"delay","timeout":"58","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1479,"y":1517,"wires":[["1a2ebaa018d0762b"]]}]