95e41632f97921ad/flows.json
[{"id":"95e41632f97921ad","type":"tab","label":"[Rss2Flow] Convert RSS to Nodes","disabled":false,"info":"::: aim\n\nConverting RSS feeds to Node-RED flows to be imported.\n\n:::\n\n\n::: palette\n\n- [introspection](https://flows.nodered.org/node/@gregoriusrippenstein/node-red-contrib-introspection) for TriggerImport node\n- [node-red-contrib-cron-plus](https://flows.nodered.org/node/node-red-contrib-cron-plus) to trigger the regular import of RSS feeds.\n\n:::\n","env":[]},{"id":"f996f0206b75dc0e","type":"group","z":"95e41632f97921ad","name":"tester","style":{"label":true},"nodes":["29e34383ce3a18cc","3f23a46f3fcf41cc","fe75f09187e5e9e2","312549ce150e57b8","5231828f688ff2e0","ecaa98f71fc700fb","2172a47b74886db0"],"x":2559.000045776367,"y":1619.3332328796387,"w":690,"h":257},{"id":"29e34383ce3a18cc","type":"http request","z":"95e41632f97921ad","g":"f996f0206b75dc0e","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[{"keyType":"User-Agent","keyValue":"","valueType":"other","valueValue":"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_13_6) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/88.0.4324.104 Safari/537.36 OPR/74.0.3911.75"}],"x":2655.000045776367,"y":1660.3332328796387,"wires":[["3f23a46f3fcf41cc"]]},{"id":"3f23a46f3fcf41cc","type":"xml","z":"95e41632f97921ad","g":"f996f0206b75dc0e","name":"","property":"payload","attr":"","chr":"","x":2729.000045776367,"y":1719.3332328796387,"wires":[["fe75f09187e5e9e2","5231828f688ff2e0"]]},{"id":"fe75f09187e5e9e2","type":"change","z":"95e41632f97921ad","g":"f996f0206b75dc0e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.rss.channel[0].item","tot":"msg"},{"t":"set","p":"tab_id_z","pt":"msg","to":"$substring($formatBase($random()*10000, 16) & $formatBase($random()*10000, 16) & $formatBase($random()*10000, 16) & $formatBase($random()*10000, 16) & $formatBase($random()*10000, 16) &\t$formatBase($random()*10000, 16) &\t$formatBase($random()*10000, 16) &\t$formatBase($random()*10000, 16) &\t$formatBase($random()*10000, 16), 0, $length(\"611c047e656989ae\"))","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":2786.000045776367,"y":1774.3332328796387,"wires":[["312549ce150e57b8","ecaa98f71fc700fb"]]},{"id":"312549ce150e57b8","type":"split","z":"95e41632f97921ad","g":"f996f0206b75dc0e","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":2847.000045776367,"y":1835.3332328796387,"wires":[["2172a47b74886db0"]]},{"id":"7ff1a1d1467d9c5b","type":"function","z":"95e41632f97921ad","name":"define node from feed item","func":"msg.payload = {\n    \"id\": RED.util.generateId(),\n    \"type\": \"subflow:\" + msg.subflow_type.id,\n    \"z\": msg.tab_id_z,\n    \"name\": msg.payload.title[0],\n    \"info\": msg.payload.id[0] + \"\\n<hr>\\n\" + msg.payload.summary[0][\"_\"],\n    \"env\": [\n        {\n            \"name\": \"createdAt\",\n            \"value\": msg.payload.updated[0],\n            \"type\": \"str\"\n        },\n        {\n            \"name\": \"updatedAt\",\n            \"value\": msg.payload.updated[0],\n            \"type\": \"str\"\n        }\n    ],\n    \"createdAt\": msg.payload.updated[0],\n    \"updatedAt\": msg.payload.updated[0],\n    \"x\": 801 * Math.random(),\n    \"y\": 801 * Math.random(),\n    \"wires\": [\n        []\n    ]\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3490.500045776367,"y":839.6367607116699,"wires":[["8c74b4f9689d3cec"]]},{"id":"767265977c915935","type":"http request","z":"95e41632f97921ad","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":2338.6666297912598,"y":1075.523603439331,"wires":[["35e60186c0326414"]]},{"id":"35e60186c0326414","type":"xml","z":"95e41632f97921ad","name":"","property":"payload","attr":"","chr":"","x":2340.750045776367,"y":970.6902866363525,"wires":[["d03974f0bf886576"]]},{"id":"de06be40c60414f6","type":"split","z":"95e41632f97921ad","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":3202.062545776367,"y":1066.3711967468262,"wires":[["7ff1a1d1467d9c5b"]]},{"id":"8c74b4f9689d3cec","type":"join","z":"95e41632f97921ad","name":"","mode":"auto","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":"false","timeout":"","count":"","reduceRight":false,"x":3843.000045776367,"y":1054.4402885437012,"wires":[["35bf2d192a8e2500"]]},{"id":"821b0aa6a69e1588","type":"TriggerImport","z":"95e41632f97921ad","name":"","autoimport":true,"x":4204.500045776367,"y":782.6904106140137,"wires":[[]]},{"id":"d03974f0bf886576","type":"function","z":"95e41632f97921ad","name":"define subflow","func":"msg.tab_id_z = RED.util.generateId();\n\nvar subflowId = RED.util.generateId();\n\nmsg.subflow_type = {\n    \"id\": subflowId,\n    \"type\": \"subflow\",\n    \"name\": \"a\" + subflowId,\n    \"info\": \"Imported at \" + new Date() + \"\\n<hr>\\n\" + msg.url + \"\\n\",\n    \"category\": \"subflows\",\n\n    \"in\": [\n        {\n            \"x\": 201.25,\n            \"y\": 188.75,\n            \"wires\": []\n        }\n    ],\n    \n    \"out\": [\n        {\n            \"x\": 496.25,\n            \"y\": 161.25,\n            \"wires\": [\n                {\n                    \"id\": subflowId,\n                    \"port\": 0\n                }\n            ]\n        }\n    ],\n\n    \"env\": [\n        {\n            \"name\": \"createdAt\",\n            \"type\": \"str\",\n            \"value\": \"\"\n        },\n        {\n            \"name\": \"updatedAt\",\n            \"type\": \"str\",\n            \"value\": \"\"\n        }\n    ],\n\n    \"meta\": {},\n    \"color\": msg.node_colour,\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2429.0832138061523,"y":886.9998760223389,"wires":[["2509e282929df061"]]},{"id":"35bf2d192a8e2500","type":"function","z":"95e41632f97921ad","name":"prepend the subflow to the nodes array","func":"msg.payload = [\n    msg.subflow_type,\n    ...msg.payload    \n];\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":4130.250045776367,"y":934.5831108093262,"wires":[["821b0aa6a69e1588"]]},{"id":"6405347864aa013b","type":"change","z":"95e41632f97921ad","name":"payload.feed.entry","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.feed.entry","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2890.000045776367,"y":842.6367607116699,"wires":[["de06be40c60414f6"]]},{"id":"2509e282929df061","type":"switch","z":"95e41632f97921ad","name":"format type decider","property":"formatType","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"},{"t":"eq","v":"4","vt":"str"},{"t":"eq","v":"5","vt":"str"},{"t":"eq","v":"6","vt":"str"},{"t":"eq","v":"7","vt":"str"}],"checkall":"false","repair":false,"outputs":7,"x":2578.750045776367,"y":1070.8331108093262,"wires":[["6405347864aa013b"],["42d0b093387febcc"],["100851b7e050388e"],["14f2def63fe17306"],["276b9c26da98a14f"],["2f944857808fb85e"],["66d332de7210429d"]]},{"id":"42d0b093387febcc","type":"change","z":"95e41632f97921ad","name":"payload.rss.channel[0].item","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.rss.channel[0].item","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2920.000045776367,"y":918.7528394063314,"wires":[["cae9295f93c75ba6"]]},{"id":"cae9295f93c75ba6","type":"split","z":"95e41632f97921ad","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":3202.062545776367,"y":1066.3711967468262,"wires":[["6125e3e6b8cbbef4"]]},{"id":"100851b7e050388e","type":"change","z":"95e41632f97921ad","name":"payload.rss.channel[0].item","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.rss.channel[0].item","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2920.000045776367,"y":994.8689181009929,"wires":[["958e149a36e52b09"]]},{"id":"958e149a36e52b09","type":"split","z":"95e41632f97921ad","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":3202.062545776367,"y":1066.3711967468262,"wires":[["39d1992e913e6c03"]]},{"id":"6125e3e6b8cbbef4","type":"function","z":"95e41632f97921ad","name":"define node from feed item","func":"msg.payload = {\n    \"id\": RED.util.generateId(),\n    \"type\": \"subflow:\" + msg.subflow_type.id,\n    \"z\": msg.tab_id_z,\n    \"name\": msg.payload.title[0],\n    \"info\": msg.payload.description[0],\n    \"env\": [\n        {\n            \"name\": \"createdAt\",\n            \"value\": msg.payload.pubDate[0],\n            \"type\": \"str\"\n        },\n        {\n            \"name\": \"updatedAt\",\n            \"value\": msg.payload.pubDate[0],\n            \"type\": \"str\"\n        }\n    ],\n    \"createdAt\": msg.payload.pubDate[0],\n    \"updatedAt\": msg.payload.pubDate[0],\n    \"x\": 801 * Math.random(),\n    \"y\": 801 * Math.random(),\n    \"wires\": [\n        []\n    ]\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3490.500045776367,"y":915.7528394063314,"wires":[["8c74b4f9689d3cec"]]},{"id":"39d1992e913e6c03","type":"function","z":"95e41632f97921ad","name":"title[0], link[0] + desc[0] & pubDate","func":"msg.payload = {\n    \"id\": RED.util.generateId(),\n    \"type\": \"subflow:\" + msg.subflow_type.id,\n    \"z\": msg.tab_id_z,\n    \"name\": msg.payload.title[0],\n    \"info\": msg.payload.link[0] + \"\\n<hr>\\n\" + msg.payload.description[0],\n    \"env\": [\n        {\n            \"name\": \"createdAt\",\n            \"value\": msg.payload.pubDate[0],\n            \"type\": \"str\"\n        },\n        {\n            \"name\": \"updatedAt\",\n            \"value\": msg.payload.pubDate[0],\n            \"type\": \"str\"\n        }\n    ],\n    \"createdAt\": msg.payload.pubDate[0],\n    \"updatedAt\": msg.payload.pubDate[0],\n    \"x\": 801 * Math.random(),\n    \"y\": 801 * Math.random(),\n    \"wires\": [\n        []\n    ]\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3510.500045776367,"y":991.8689181009929,"wires":[["8c74b4f9689d3cec"]]},{"id":"14f2def63fe17306","type":"change","z":"95e41632f97921ad","name":"payload.rss.channel[0].item","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.rss.channel[0].item","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2920.000045776367,"y":1070.9849967956543,"wires":[["9c1b24603eca2e91"]]},{"id":"9c1b24603eca2e91","type":"split","z":"95e41632f97921ad","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":3202.062545776367,"y":1066.3711967468262,"wires":[["274d5754d34a776d"]]},{"id":"274d5754d34a776d","type":"function","z":"95e41632f97921ad","name":"define node from feed item","func":"msg.payload = {\n    \"id\": RED.util.generateId(),\n    \"type\": \"subflow:\" + msg.subflow_type.id,\n    \"z\": msg.tab_id_z,\n    \"name\": msg.payload.title[0],\n    \"info\": msg.payload.guid[0][\"_\"] + \"\\n<hr>\\n\" + msg.payload.description[0],\n    \"env\": [\n        {\n            \"name\": \"createdAt\",\n            \"value\": msg.payload.pubDate[0],\n            \"type\": \"str\"\n        },\n        {\n            \"name\": \"updatedAt\",\n            \"value\": msg.payload.pubDate[0],\n            \"type\": \"str\"\n        }\n    ],\n    \"createdAt\": msg.payload.pubDate[0],\n    \"updatedAt\": msg.payload.pubDate[0],\n    \"x\": 801 * Math.random(),\n    \"y\": 801 * Math.random(),\n    \"wires\": [\n        []\n    ]\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3490.500045776367,"y":1067.9849967956543,"wires":[["8c74b4f9689d3cec"]]},{"id":"cb0919590bfe6380","type":"function","z":"95e41632f97921ad","name":"define node from feed item","func":"msg.payload = {\n    \"id\": RED.util.generateId(),\n    \"type\": \"subflow:\" + msg.subflow_type.id,\n    \"z\": msg.tab_id_z,\n    \"name\": msg.payload.title[0]._,\n    \"info\": msg.payload.id[0] + \"\\n<hr>\\n\" + msg.payload.summary[0][\"_\"],\n    \"env\": [\n        {\n            \"name\": \"createdAt\",\n            \"value\": msg.payload.published[0],\n            \"type\": \"str\"\n        },\n        {\n            \"name\": \"updatedAt\",\n            \"value\": msg.payload.updated[0],\n            \"type\": \"str\"\n        }\n    ],\n    \"createdAt\": msg.payload.published[0],\n    \"updatedAt\": msg.payload.updated[0],\n    \"x\": 801 * Math.random(),\n    \"y\": 801 * Math.random(),\n    \"wires\": [\n        []\n    ]\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3490.500045776367,"y":1144.101075490316,"wires":[["8c74b4f9689d3cec"]]},{"id":"276b9c26da98a14f","type":"change","z":"95e41632f97921ad","name":"payload.feed.entry","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.feed.entry","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2890.000045776367,"y":1147.101075490316,"wires":[["33adf5658a9a283a"]]},{"id":"33adf5658a9a283a","type":"split","z":"95e41632f97921ad","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":3202.062545776367,"y":1066.3711967468262,"wires":[["cb0919590bfe6380"]]},{"id":"2f944857808fb85e","type":"change","z":"95e41632f97921ad","name":"payload.feed.entry","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.feed.entry","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2890.000045776367,"y":1223.2171541849775,"wires":[["50ef44e6d39d11df"]]},{"id":"516a108c4da6f594","type":"function","z":"95e41632f97921ad","name":"define node from feed item","func":"msg.payload = {\n    \"id\": RED.util.generateId(),\n    \"type\": \"subflow:\" + msg.subflow_type.id,\n    \"z\": msg.tab_id_z,\n    \"name\": msg.payload.title[0]._,\n    \"info\": msg.payload.link[4].$.href + \"\\n<hr>\\n\" + msg.payload.content[0]._,\n    \"env\": [\n        {\n            \"name\": \"createdAt\",\n            \"value\": msg.payload.published[0],\n            \"type\": \"str\"\n        },\n        {\n            \"name\": \"updatedAt\",\n            \"value\": msg.payload.updated[0],\n            \"type\": \"str\"\n        }\n    ],\n    \"createdAt\": msg.payload.published[0],\n    \"updatedAt\": msg.payload.updated[0],\n    \"x\": 801 * Math.random(),\n    \"y\": 801 * Math.random(),\n    \"wires\": [\n        []\n    ]\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3490.500045776367,"y":1220.2171541849775,"wires":[["8c74b4f9689d3cec"]]},{"id":"50ef44e6d39d11df","type":"split","z":"95e41632f97921ad","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":3202.062545776367,"y":1066.3711967468262,"wires":[["516a108c4da6f594"]]},{"id":"38daf727947c207c","type":"cronplus","z":"95e41632f97921ad","d":true,"name":"time giver","outputField":"payload","timeZone":"","storeName":"memory","commandResponseMsgOutput":"fanOut","defaultLocation":"","defaultLocationType":"default","outputs":16,"options":[{"name":"schedule1","topic":"topic1","payloadType":"default","payload":"","expressionType":"cron","expression":"0/45 * * * * * *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule2","topic":"topic2","payloadType":"default","payload":"","expressionType":"cron","expression":"10 */2 * * * * *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule3","topic":"topic3","payloadType":"default","payload":"","expressionType":"cron","expression":"16 */3 * * * * *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule4","topic":"topic4","payloadType":"default","payload":"","expressionType":"cron","expression":"17 */5 * * * * *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule5","topic":"topic5","payloadType":"default","payload":"","expressionType":"cron","expression":"6 */4 * * * * *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule6","topic":"topic6","payloadType":"default","payload":"","expressionType":"cron","expression":"0 3 */1 * * * *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule7","topic":"topic7","payloadType":"default","payload":"","expressionType":"cron","expression":"0 5 */1 * * * *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule8","topic":"topic8","payloadType":"default","payload":"","expressionType":"cron","expression":"0 7 */12 * * * *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule9","topic":"topic9","payloadType":"default","payload":"","expressionType":"cron","expression":"0 9 */24 * * * *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule10","topic":"topic10","payloadType":"default","payload":"","expressionType":"cron","expression":"0 11 */1 * * * *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule11","topic":"topic11","payloadType":"default","payload":"","expressionType":"cron","expression":"0 14 */1 * * * *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule12","topic":"topic12","payloadType":"default","payload":"","expressionType":"cron","expression":"0 34 */3 * * * *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule13","topic":"topic13","payloadType":"default","payload":"","expressionType":"cron","expression":"0 53 */12 * * * *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule14","topic":"topic14","payloadType":"default","payload":"","expressionType":"cron","expression":"0 23 */1 * * * *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"}],"x":933.0000457763672,"y":1083.3332328796387,"wires":[["160fa742c17cce8a"],["cba5f20d9a8b5871"],["66df8466e6d5e975"],["bb1ea420a40e1ac5"],["09120ba62a9e0a2e"],["6bce62a217d3c4be"],["1a67beeacd82d3cd"],["776c35eeb5f55dda"],["6c96d25507ce999e"],["327ee99d3f1678be"],["88c79b1e36388b1c"],["5e18ba0456c591f5"],["8d0bb4e5863530b1"],["e04aa32834a42779"],[],[]]},{"id":"66d332de7210429d","type":"change","z":"95e41632f97921ad","name":"payload.rss.channel[0].item","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.rss.channel[0].item","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2920.000045776367,"y":1299.3332328796387,"wires":[["bd5801470b5a572f"]]},{"id":"2cd3d1adae67e9bc","type":"function","z":"95e41632f97921ad","name":"define node from feed item","func":"msg.payload = {\n    \"id\": RED.util.generateId(),\n    \"type\": \"subflow:\" + msg.subflow_type.id,\n    \"z\": msg.tab_id_z,\n    \"name\": msg.payload.title[0],\n    \"info\": msg.payload.link[0] + \"\\n<hr>\\n\" + msg.payload.description[0],\n    \"env\": [\n        {\n            \"name\": \"createdAt\",\n            \"value\": msg.payload[\"dc:date\"][0],\n            \"type\": \"str\"\n        },\n        {\n            \"name\": \"updatedAt\",\n            \"value\": msg.payload[\"dc:date\"][0],\n            \"type\": \"str\"\n        }\n    ],\n    \"createdAt\": msg.payload[\"dc:date\"][0],\n    \"updatedAt\": msg.payload[\"dc:date\"][0],\n    \"x\": 801 * Math.random(),\n    \"y\": 801 * Math.random(),\n    \"wires\": [\n        []\n    ]\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3490.500045776367,"y":1296.3332328796387,"wires":[["8c74b4f9689d3cec"]]},{"id":"bd5801470b5a572f","type":"split","z":"95e41632f97921ad","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":3202.062545776367,"y":1066.3711967468262,"wires":[["2cd3d1adae67e9bc"]]},{"id":"5231828f688ff2e0","type":"debug","z":"95e41632f97921ad","g":"f996f0206b75dc0e","name":"debug 8","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":2998.000045776367,"y":1689.3332328796387,"wires":[]},{"id":"ecaa98f71fc700fb","type":"debug","z":"95e41632f97921ad","g":"f996f0206b75dc0e","name":"debug 9","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":3076.000045776367,"y":1762.3332328796387,"wires":[]},{"id":"2172a47b74886db0","type":"debug","z":"95e41632f97921ad","g":"f996f0206b75dc0e","name":"debug 10","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":3143.000045776367,"y":1819.3332328796387,"wires":[]},{"id":"e04aa32834a42779","type":"change","z":"95e41632f97921ad","name":"the onion","rules":[{"t":"set","p":"url","pt":"msg","to":"https://www.theonion.com/rss","tot":"str"},{"t":"set","p":"node_colour","pt":"msg","to":"#d9d9d9","tot":"str"},{"t":"set","p":"formatType","pt":"msg","to":"3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1738.0000457763672,"y":1594.3332328796387,"wires":[["767265977c915935"]]},{"id":"8d0bb4e5863530b1","type":"change","z":"95e41632f97921ad","name":"justworldeducational","rules":[{"t":"set","p":"url","pt":"msg","to":"https://justworldeducational.org/category/blog/feed/","tot":"str"},{"t":"set","p":"node_colour","pt":"msg","to":"#dedacd","tot":"str"},{"t":"set","p":"formatType","pt":"msg","to":"3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1778.0000457763672,"y":1523.3332328796387,"wires":[["767265977c915935"]]},{"id":"5e18ba0456c591f5","type":"change","z":"95e41632f97921ad","name":"reporter.am","rules":[{"t":"set","p":"url","pt":"msg","to":"https://reporter.am/feed","tot":"str"},{"t":"set","p":"node_colour","pt":"msg","to":"#e3dbc1","tot":"str"},{"t":"set","p":"formatType","pt":"msg","to":"3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1748.0000457763672,"y":1452.3332328796387,"wires":[["767265977c915935"]]},{"id":"88c79b1e36388b1c","type":"change","z":"95e41632f97921ad","name":"independent","rules":[{"t":"set","p":"url","pt":"msg","to":"http://www.independent.co.uk/news/world/rss","tot":"str"},{"t":"set","p":"node_colour","pt":"msg","to":"#e7dcb5","tot":"str"},{"t":"set","p":"formatType","pt":"msg","to":"7","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1748.0000457763672,"y":1381.3332328796387,"wires":[["767265977c915935"]]},{"id":"327ee99d3f1678be","type":"change","z":"95e41632f97921ad","name":"blow the truth","rules":[{"t":"set","p":"url","pt":"msg","to":"https://www.blowthetruth.com/feeds/posts/default","tot":"str"},{"t":"set","p":"node_colour","pt":"msg","to":"#ebdea8","tot":"str"},{"t":"set","p":"formatType","pt":"msg","to":"6","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1758.0000457763672,"y":1310.3332328796387,"wires":[["767265977c915935"]]},{"id":"6c96d25507ce999e","type":"change","z":"95e41632f97921ad","name":"rand corp","rules":[{"t":"set","p":"url","pt":"msg","to":"https://www.rand.org/topics/international-affairs.xml/feed","tot":"str"},{"t":"set","p":"node_colour","pt":"msg","to":"#eedf9c","tot":"str"},{"t":"set","p":"formatType","pt":"msg","to":"5","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1738.0000457763672,"y":1239.3332328796387,"wires":[["767265977c915935"]]},{"id":"776c35eeb5f55dda","type":"change","z":"95e41632f97921ad","name":"globalissues","rules":[{"t":"set","p":"url","pt":"msg","to":"https://www.globalissues.org/news/feed","tot":"str"},{"t":"set","p":"node_colour","pt":"msg","to":"#f1e08f","tot":"str"},{"t":"set","p":"formatType","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1748.0000457763672,"y":1168.3332328796387,"wires":[["767265977c915935"]]},{"id":"1a67beeacd82d3cd","type":"change","z":"95e41632f97921ad","name":"aljazeera","rules":[{"t":"set","p":"url","pt":"msg","to":"https://www.aljazeera.com/xml/rss/all.xml","tot":"str"},{"t":"set","p":"node_colour","pt":"msg","to":"#f4e282","tot":"str"},{"t":"set","p":"formatType","pt":"msg","to":"3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1738.0000457763672,"y":1097.3332328796387,"wires":[["767265977c915935"]]},{"id":"6bce62a217d3c4be","type":"change","z":"95e41632f97921ad","name":"bbc world news","rules":[{"t":"set","p":"url","pt":"msg","to":"http://feeds.bbci.co.uk/news/world/rss.xml","tot":"str"},{"t":"set","p":"node_colour","pt":"msg","to":"#f7e374","tot":"str"},{"t":"set","p":"formatType","pt":"msg","to":"4","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1758.0000457763672,"y":1026.3332328796387,"wires":[["767265977c915935"]]},{"id":"09120ba62a9e0a2e","type":"change","z":"95e41632f97921ad","name":"HN frontpage","rules":[{"t":"set","p":"url","pt":"msg","to":"https://hnrss.org/frontpage","tot":"str"},{"t":"set","p":"node_colour","pt":"msg","to":"#f9e466","tot":"str"},{"t":"set","p":"formatType","pt":"msg","to":"2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1758.0000457763672,"y":955.3332328796387,"wires":[["767265977c915935"]]},{"id":"bb1ea420a40e1ac5","type":"change","z":"95e41632f97921ad","name":"HN newest submissions","rules":[{"t":"set","p":"url","pt":"msg","to":"https://hnrss.org/newest","tot":"str"},{"t":"set","p":"node_colour","pt":"msg","to":"#fbe656","tot":"str"},{"t":"set","p":"formatType","pt":"msg","to":"2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1788.0000457763672,"y":884.3332328796387,"wires":[["767265977c915935"]]},{"id":"66df8466e6d5e975","type":"change","z":"95e41632f97921ad","name":"hacker news new comments","rules":[{"t":"set","p":"url","pt":"msg","to":"https://hnrss.org/newcomments","tot":"str"},{"t":"set","p":"node_colour","pt":"msg","to":"#fce745","tot":"str"},{"t":"set","p":"formatType","pt":"msg","to":"3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1798.0000457763672,"y":813.3332328796387,"wires":[["767265977c915935"]]},{"id":"cba5f20d9a8b5871","type":"change","z":"95e41632f97921ad","name":"wikipedia new pages","rules":[{"t":"set","p":"url","pt":"msg","to":"https://en.wikipedia.org/w/index.php?title=Special:NewPages&feed=atom","tot":"str"},{"t":"set","p":"node_colour","pt":"msg","to":"#fee92e","tot":"str"},{"t":"set","p":"formatType","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1778.0000457763672,"y":742.3332328796387,"wires":[["767265977c915935"]]},{"id":"160fa742c17cce8a","type":"change","z":"95e41632f97921ad","name":"wikipedia recent changes","rules":[{"t":"set","p":"url","pt":"msg","to":"https://en.wikipedia.org/w/api.php?hidebots=1&hidecategorization=1&hideWikibase=1&urlversion=1&days=7&limit=50&action=feedrecentchanges&feedformat=atom","tot":"str"},{"t":"set","p":"node_colour","pt":"msg","to":"#ffea00","tot":"str"},{"t":"set","p":"formatType","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1788.0000457763672,"y":671.3332328796387,"wires":[["767265977c915935"]]}]