d7f182b9ccdd6c48/flows.json
[{"id":"d7f182b9ccdd6c48","type":"tab","label":"Supercollidor","disabled":false,"info":"Hi there this is the description including a mermaid diagram.\n\n\n```mermaid\nsequenceDiagram\n    Me-->>You: HI There!\n    You-->>Me: Yes Hi there, how's it going?\n    Me-->>You: Yes very well, and yourself?\n    You-->>Me: Charming, couldn't be better!\n    Me-->>You: Have you see the weather?\n```\n\n","env":[]},{"id":"756fe6d73c2a54c5","type":"supercollider","z":"d7f182b9ccdd6c48","d":true,"host":"host.docker.internal","port":"57110","x":1350,"y":336,"wires":[]},{"id":"86ec4faf4c4804f0","type":"synth","z":"d7f182b9ccdd6c48","name":"","synthtype":"dsaw","filterTags":{},"volume":50,"octave":0,"root":"","scale":"","degree":"","outBus":0,"synthcontrols":{"pan":"0"},"sampleName":"","x":1167,"y":629,"wires":[["756fe6d73c2a54c5"]]},{"id":"07923d9b06a74c48","type":"soundfx","z":"d7f182b9ccdd6c48","fxtype":"reverb","volume":100,"fxcontrols":{"room":"0.73","damp":"0.79","mix":"0.61"},"x":1332,"y":607,"wires":[["756fe6d73c2a54c5"]]},{"id":"431ba21df5c5c355","type":"synth","z":"d7f182b9ccdd6c48","name":"","synthtype":"kick","filterTags":{},"volume":"72","octave":"4","root":"","scale":"","degree":"III","outBus":0,"synthcontrols":{"mod_freq":"2","beater_noise":"0.05","pan":"0"},"sampleName":"","x":1697,"y":481,"wires":[["07923d9b06a74c48","756fe6d73c2a54c5","86ec4faf4c4804f0"]]},{"id":"667dc167ee0afe85","type":"inject","z":"d7f182b9ccdd6c48","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"20","payloadType":"num","x":932,"y":432,"wires":[["86ec4faf4c4804f0","e5a74007baa0983d"]]},{"id":"e2666e6f.c81b7","type":"divider","z":"d7f182b9ccdd6c48","name":"section","input":"bar","output":"section","ratio":"8","x":1326,"y":811,"wires":[["431ba21df5c5c355","ab026773f51eb816","86ec4faf4c4804f0"]]},{"id":"f623f8fe.d5ec38","type":"divider","z":"d7f182b9ccdd6c48","name":"bar","input":"beat","output":"bar","ratio":4,"x":1176,"y":811,"wires":[["e2666e6f.c81b7","ab026773f51eb816"]]},{"id":"b21bdb5b.c24a68","type":"beat","z":"d7f182b9ccdd6c48","name":"","output":"beat","bpm":"57","latency":0,"autostart":false,"conductorIP":"","subBeats":[],"x":1036,"y":811,"wires":[["f623f8fe.d5ec38"]]},{"id":"ee1d08da.950d58","type":"inject","z":"d7f182b9ccdd6c48","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"start","payloadType":"str","x":906,"y":771,"wires":[["b21bdb5b.c24a68"]]},{"id":"7983eb76.584534","type":"inject","z":"d7f182b9ccdd6c48","name":"","repeat":"","crontab":"","once":false,"topic":"","payload":"stop","payloadType":"str","x":906,"y":811,"wires":[["b21bdb5b.c24a68"]]},{"id":"ec11dac2.b5c108","type":"inject","z":"d7f182b9ccdd6c48","name":"","repeat":"","crontab":"","once":false,"topic":"","payload":"reset","payloadType":"str","x":906,"y":851,"wires":[["b21bdb5b.c24a68"]]},{"id":"ab026773f51eb816","type":"looper","z":"d7f182b9ccdd6c48","name":"looper","volume":100,"input":"beat","length":4,"start":"bar","loop":true,"x":1668,"y":677,"wires":[["756fe6d73c2a54c5"]]},{"id":"e5a74007baa0983d","type":"setting","z":"d7f182b9ccdd6c48","name":"","setting":"volume","initial":"40","context":"node","min":"","max":"","x":1153,"y":223,"wires":[["756fe6d73c2a54c5"]]},{"id":"656ab146dce3685a","type":"debug","z":"d7f182b9ccdd6c48","name":"debug 16","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":779,"y":948,"wires":[]},{"id":"af6f3a68619a26f1","type":"function","z":"d7f182b9ccdd6c48","name":"function 10","func":"msg.payload = \"helow world\";\nmsg.payload = \"hello world\";\n\nmsg.payload = \"goodbye cruel world\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":630,"y":569,"wires":[[]]},{"id":"0da48377a50d034c","type":"GetFlows","z":"d7f182b9ccdd6c48","name":"","flowVersion":"v1","useAuthentication":false,"apiUsername":"","apiUsernameType":"env","apiPassword":"","apiPasswordType":"env","x":476,"y":469,"wires":[["70c6f8ba47d49020"]]},{"id":"a9e725325481a2b6","type":"inject","z":"d7f182b9ccdd6c48","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":206,"y":431,"wires":[["0da48377a50d034c"]]},{"id":"70c6f8ba47d49020","type":"debug","z":"d7f182b9ccdd6c48","name":"debug 17","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":721,"y":377,"wires":[]},{"id":"3db5694844adcee5","type":"http in","z":"d7f182b9ccdd6c48","name":"","url":"/fubar","method":"get","upload":false,"swaggerDoc":"","x":432,"y":173,"wires":[["70c6f8ba47d49020","b534c0dd6ca5220d"]]},{"id":"0dd8ab4a90d422f4","type":"http response","z":"d7f182b9ccdd6c48","name":"","statusCode":"","headers":{},"x":886,"y":158,"wires":[]},{"id":"b534c0dd6ca5220d","type":"http request","z":"d7f182b9ccdd6c48","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://google.de","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":695,"y":95,"wires":[["0dd8ab4a90d422f4"]]},{"id":"a583b69ce982f1c9","type":"FlowHubPull","z":"d7f182b9ccdd6c48","x":1228,"y":994,"wires":[]}]