5c59049d735c3b3d/flows.json
[{"id":"5c59049d735c3b3d","type":"tab","label":"[Blockly] Visual Coding: Drawing Parallels","disabled":false,"info":"### Aim\n\nThis is the flow for the basis of the article [Visual Coding: Drawing Parallels](https://blog.openmindmap.org/blog/visual-code-drawing-parallels).\n\n### Requirements\n\n- [Blockly](https://flows.nodered.org/node/node-red-contrib-blockly) for Node-RED.\n- [Flow2UML](https://flows.nodered.org/node/@gregoriusrippenstein/node-red-contrib-flow2uml) for generating Mermaid UML flowcharts from flows in Node-RED.\n\n### TL;DR\n\nWe as programmers should choose representations of code that is understandable by *our audience* and not by us. We are, after all, not *coders* but *programmers* and as such, we also program our audience with our words. Sometimes knowing who the audience is, can be difficult however it should not be an excuse for not making an effort.\n\n### Description\n\nThere are many *visual* representations of programs, there are even various possible interpretations of the *same* [visual representation](https://blog.openmindmap.org/blog/pipes-wires-nodes).   In this article I compare [Blockly](https://developers.google.com/blockly/) with Node-RED code. Blockly is a form of programming that reminds me of [LEGO® MINDSTORMS®](https://www.lego.com/en-us/themes/mindstorms) and the early versions which used a similar visual paradigm to allow children to program their robots.\n\nI never found that visual representation to be either intuitive nor easy to understand but then again, I cannot play the piano either! Everyone is different and everyone has a different analogy when it comes to programming algorithms. Therefore we as programmers should be careful in the selection of our representations.\n\n","env":[]},{"id":"d66037bd82a462de","type":"group","z":"5c59049d735c3b3d","name":"Using Node-RED basis nodes","style":{"label":true},"nodes":["5608e8f6453df0af","286dc017b89012d5","b7b3073b51b0aa34","378773032b5d9a03","e0f5e41a26c8dbb7"],"x":528.5,"y":206,"w":484,"h":366},{"id":"6de1f63a55866776","type":"group","z":"5c59049d735c3b3d","name":"Blockly","style":{"label":true},"nodes":["1adbeedaf93a63c8"],"x":1061,"y":206,"w":272,"h":82},{"id":"edcdf61afddc6078","type":"group","z":"5c59049d735c3b3d","name":"The Function Node","style":{"label":true},"nodes":["d494d678fbce7b07"],"x":288,"y":206,"w":192,"h":82},{"id":"f36b2e09ed1e1de2","type":"group","z":"5c59049d735c3b3d","name":"Flow used to generate UML","style":{"label":true},"nodes":["61efc6ee66faf222","d40b9908d69c94a0","b6873a0dd23809a0","dd08dd02d3c61f88","31d5b769cffb2066"],"x":288,"y":650,"w":1045,"h":267},{"id":"d494d678fbce7b07","type":"function","z":"5c59049d735c3b3d","g":"edcdf61afddc6078","name":"function 23","func":"msg.versions = msg.versions || {};\n\nvar module = msg.modules.pop();\n\nif ( !module ) {\n    return [ \n        undefined,\n        msg\n    ]\n} else {\n    return [\n        {\n            ...msg,\n            url: \"https://registry.npmjs.org/\" + module.id,\n            module: module,\n            requestTimeout: 2500,\n            isempty: msg.versions[module.id] == undefined,\n        },\n        undefined\n    ]\n}","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":384,"y":247,"wires":[[],[]]},{"id":"1adbeedaf93a63c8","type":"Blockly","z":"5c59049d735c3b3d","g":"6de1f63a55866776","func":"var module;\n\n\nif ((msg['versions']) == null) {\n  msg['versions'] = ({});\n}\nmodule = (msg['modules']).pop();\nif (!module) {\n  node.send([null, msg]);\n} else {\n  msg['url'] = ('https://registry.npmjs.org/' + String(module['id']));\n  msg['module'] = module;\n  msg['requestTimeout'] = 2500;\n  msg['isempty'] = (((msg['versions'])[(module['id'])]) == null);\n  node.send([msg, null]);\n}\n","workspaceXml":"<xml xmlns=\"https://developers.google.com/blockly/xml\">\n  <variables>\n    <variable id=\"6!@`~=4bgYr`2drt%w8U\">module</variable>\n  </variables>\n  <block type=\"controls_if\" id=\"cbyKBUduAJq(KQLMVQ(E\" x=\"-163\" y=\"-237\">\n    <value name=\"IF0\">\n      <block type=\"logic_compare\" id=\"?jHz{i%qZoOFq}7*Zgi=\">\n        <field name=\"OP\">EQ</field>\n        <value name=\"A\">\n          <block type=\"node_object_get\" id=\"RmF#)v%Q)[C9CT}@2_W=\">\n            <mutation xmlns=\"http://www.w3.org/1999/xhtml\" action=\"GET\"></mutation>\n            <field name=\"action\">GET</field>\n            <value name=\"object\">\n              <shadow type=\"node_msg\" id=\"Q=d7T,VND8Ia%2[N*/~1\"></shadow>\n              <block type=\"node_msg\" id=\"e`6[%(IoF:WyTDUpkoc3\"></block>\n            </value>\n            <value name=\"field_name\">\n              <shadow type=\"text\" id=\"Ot:R{R-!C(VmHikH9d^*\">\n                <field name=\"TEXT\">versions</field>\n              </shadow>\n            </value>\n          </block>\n        </value>\n        <value name=\"B\">\n          <block type=\"logic_null\" id=\"TAB=C/Qaj+5CiW(+gm;K\"></block>\n        </value>\n      </block>\n    </value>\n    <statement name=\"DO0\">\n      <block type=\"node_object_set\" id=\"k-3,DMxVTe)~@nC5FjSS\">\n        <value name=\"object_field\">\n          <shadow type=\"node_msg\" id=\";ZI;IP2s5]il@yWADcee\"></shadow>\n          <block type=\"node_msg\" id=\"0br2?]UFE#N,2i8U*mYC\"></block>\n        </value>\n        <value name=\"field_name\">\n          <shadow type=\"text\" id=\"WyOy6X6ZH=YbvgqiK@`c\">\n            <field name=\"TEXT\">versions</field>\n          </shadow>\n        </value>\n        <value name=\"value_field\">\n          <shadow type=\"text\" id=\"^]ieFEfkI4whLx2%CfIS\">\n            <field name=\"TEXT\"></field>\n          </shadow>\n          <block type=\"object_create\" id=\"7T_p}@QbuvjF5592AMY,\"></block>\n        </value>\n      </block>\n    </statement>\n    <next>\n      <block type=\"variables_set\" id=\"C%|$9aX,hir4wMW.q./F\">\n        <field name=\"VAR\" id=\"6!@`~=4bgYr`2drt%w8U\">module</field>\n        <value name=\"VALUE\">\n          <block type=\"lists_getIndex\" id=\"}TZzH1NO`*}Z%`5a|zn2\">\n            <mutation statement=\"false\" at=\"false\"></mutation>\n            <field name=\"MODE\">GET_REMOVE</field>\n            <field name=\"WHERE\">LAST</field>\n            <value name=\"VALUE\">\n              <block type=\"node_object_get\" id=\"//Bl-[5@12A*_O8th=^h\">\n                <mutation xmlns=\"http://www.w3.org/1999/xhtml\" action=\"GET\"></mutation>\n                <field name=\"action\">GET</field>\n                <value name=\"object\">\n                  <shadow type=\"node_msg\" id=\"-4cx$66IqK}fet7Qhz0E\"></shadow>\n                  <block type=\"node_msg\" id=\"a{I*GOuJyW8/}uzV$m1v\"></block>\n                </value>\n                <value name=\"field_name\">\n                  <shadow type=\"text\" id=\"Nc1Y!?YxT!hZO%xM+~%p\">\n                    <field name=\"TEXT\">modules</field>\n                  </shadow>\n                </value>\n              </block>\n            </value>\n          </block>\n        </value>\n        <next>\n          <block type=\"controls_if\" id=\"(adCkS__Qys|_T2)kL+d\">\n            <mutation else=\"1\"></mutation>\n            <value name=\"IF0\">\n              <block type=\"logic_negate\" id=\"YfZUz6,?OOcX,7Gn!Zg)\">\n                <value name=\"BOOL\">\n                  <block type=\"variables_get\" id=\"GLqqk:Odk`M`NZ.pl8d+\">\n                    <field name=\"VAR\" id=\"6!@`~=4bgYr`2drt%w8U\">module</field>\n                  </block>\n                </value>\n              </block>\n            </value>\n            <statement name=\"DO0\">\n              <block type=\"node_send\" id=\"+PCqu=l$gW3K*;h:K/60\">\n                <field name=\"OUTPUT_NR\">2</field>\n                <value name=\"MESSAGE_INPUT\">\n                  <shadow type=\"node_msg\" id=\"Q*sU?KG[L`:x+7D2#[A$\"></shadow>\n                  <block type=\"node_msg\" id=\"=l!HLB0vG_WWir[sj+#6\"></block>\n                </value>\n              </block>\n            </statement>\n            <statement name=\"ELSE\">\n              <block type=\"node_object_set\" id=\"nKfP*uq+kja:(M]/spc5\">\n                <value name=\"object_field\">\n                  <shadow type=\"node_msg\" id=\"c(^v5,%45,GHHoVAp/pv\"></shadow>\n                  <block type=\"node_msg\" id=\"107OAbh}fY%7LA0HuHqR\"></block>\n                </value>\n                <value name=\"field_name\">\n                  <shadow type=\"text\" id=\"rHER4|L)oNT8pfMY~H#5\">\n                    <field name=\"TEXT\">url</field>\n                  </shadow>\n                </value>\n                <value name=\"value_field\">\n                  <shadow type=\"text\" id=\".N3tz7+qL-sd/IpqbpCO\">\n                    <field name=\"TEXT\"></field>\n                  </shadow>\n                  <block type=\"text_join\" id=\"s/i5}w!gaq~QDB+1bD9x\">\n                    <mutation items=\"2\"></mutation>\n                    <value name=\"ADD0\">\n                      <block type=\"text\" id=\"IW+rsUIZ0?}}Jk`VADs8\">\n                        <field name=\"TEXT\">https://registry.npmjs.org/</field>\n                      </block>\n                    </value>\n                    <value name=\"ADD1\">\n                      <block type=\"node_object_get\" id=\"`VUT5dw~lIDR%`ni/23i\">\n                        <mutation xmlns=\"http://www.w3.org/1999/xhtml\" action=\"GET\"></mutation>\n                        <field name=\"action\">GET</field>\n                        <value name=\"object\">\n                          <shadow type=\"node_msg\" id=\"!:celGp[$_~H.C:mFb]t\"></shadow>\n                          <block type=\"variables_get\" id=\"WF;VY9p1qPR/}vHJ]mTx\">\n                            <field name=\"VAR\" id=\"6!@`~=4bgYr`2drt%w8U\">module</field>\n                          </block>\n                        </value>\n                        <value name=\"field_name\">\n                          <shadow type=\"text\" id=\"Za^DqT:95g@Lqzs@;yV7\">\n                            <field name=\"TEXT\">id</field>\n                          </shadow>\n                        </value>\n                      </block>\n                    </value>\n                  </block>\n                </value>\n                <next>\n                  <block type=\"node_object_set\" id=\"+@,a=}QCWB:UZT@3pGyp\">\n                    <value name=\"object_field\">\n                      <shadow type=\"node_msg\" id=\"c(^v5,%45,GHHoVAp/pv\"></shadow>\n                      <block type=\"node_msg\" id=\"/n1RCAK94UGv4AtJF{pa\"></block>\n                    </value>\n                    <value name=\"field_name\">\n                      <shadow type=\"text\" id=\"LGwxY5Nn;MZCVZH(J%(z\">\n                        <field name=\"TEXT\">module</field>\n                      </shadow>\n                    </value>\n                    <value name=\"value_field\">\n                      <shadow type=\"text\" id=\".N3tz7+qL-sd/IpqbpCO\">\n                        <field name=\"TEXT\"></field>\n                      </shadow>\n                      <block type=\"variables_get\" id=\"j[Cr5gdq!F_a%@~-}be0\">\n                        <field name=\"VAR\" id=\"6!@`~=4bgYr`2drt%w8U\">module</field>\n                      </block>\n                    </value>\n                    <next>\n                      <block type=\"node_object_set\" id=\"[%|0=i:25FKI-|ly.*q%\">\n                        <value name=\"object_field\">\n                          <shadow type=\"node_msg\" id=\"/SAbhf/Z71Q]Cjy%4m9Q\"></shadow>\n                          <block type=\"node_msg\" id=\":?{#IP.Xq_/{;tFNmxaC\"></block>\n                        </value>\n                        <value name=\"field_name\">\n                          <shadow type=\"text\" id=\"/~*?,Dp/bA];_UK2#Wh1\">\n                            <field name=\"TEXT\">requestTimeout</field>\n                          </shadow>\n                        </value>\n                        <value name=\"value_field\">\n                          <shadow type=\"text\" id=\"skN.pMRi#|eK7iR9JXnn\">\n                            <field name=\"TEXT\"></field>\n                          </shadow>\n                          <block type=\"math_number\" id=\"m+!f5FN{v4HWcQ[$edj-\">\n                            <field name=\"NUM\">2500</field>\n                          </block>\n                        </value>\n                        <next>\n                          <block type=\"node_object_set\" id=\"^nh.-eu1Iy_F4a|IVpCR\">\n                            <value name=\"object_field\">\n                              <shadow type=\"node_msg\" id=\"/SAbhf/Z71Q]Cjy%4m9Q\"></shadow>\n                              <block type=\"node_msg\" id=\"|RkQKayH3ATP:y=[9Omc\"></block>\n                            </value>\n                            <value name=\"field_name\">\n                              <shadow type=\"text\" id=\"`zU}3OgL#^gFCiBFuF9s\">\n                                <field name=\"TEXT\">isempty</field>\n                              </shadow>\n                            </value>\n                            <value name=\"value_field\">\n                              <shadow type=\"text\" id=\"skN.pMRi#|eK7iR9JXnn\">\n                                <field name=\"TEXT\"></field>\n                              </shadow>\n                              <block type=\"logic_compare\" id=\"(LgFT^gD73P520HX)`lQ\">\n                                <field name=\"OP\">EQ</field>\n                                <value name=\"A\">\n                                  <block type=\"node_object_get\" id=\"Ihg+|37G?5[%qP*%PBWC\">\n                                    <mutation xmlns=\"http://www.w3.org/1999/xhtml\" action=\"GET\"></mutation>\n                                    <field name=\"action\">GET</field>\n                                    <value name=\"object\">\n                                      <shadow type=\"node_msg\" id=\"@SHfxf(18wTvt4dwGmbv\"></shadow>\n                                      <block type=\"node_object_get\" id=\"7?p(1S6~-z`2t]?fNHV~\">\n                                        <mutation xmlns=\"http://www.w3.org/1999/xhtml\" action=\"GET\"></mutation>\n                                        <field name=\"action\">GET</field>\n                                        <value name=\"object\">\n                                          <shadow type=\"node_msg\" id=\"@SHfxf(18wTvt4dwGmbv\"></shadow>\n                                          <block type=\"node_msg\" id=\"O2X3?$27Qr~tt1eIssTV\"></block>\n                                        </value>\n                                        <value name=\"field_name\">\n                                          <shadow type=\"text\" id=\"h%j2r]h=)(ZVW]KXx1ye\">\n                                            <field name=\"TEXT\">versions</field>\n                                          </shadow>\n                                        </value>\n                                      </block>\n                                    </value>\n                                    <value name=\"field_name\">\n                                      <shadow type=\"text\" id=\"+.Ol;(u^F{Z:6Tu9.fMA\">\n                                        <field name=\"TEXT\">versions</field>\n                                      </shadow>\n                                      <block type=\"node_object_get\" id=\"f??x`^#x`+tR?NdRxCnS\">\n                                        <mutation xmlns=\"http://www.w3.org/1999/xhtml\" action=\"GET\"></mutation>\n                                        <field name=\"action\">GET</field>\n                                        <value name=\"object\">\n                                          <shadow type=\"node_msg\" id=\"!:celGp[$_~H.C:mFb]t\"></shadow>\n                                          <block type=\"variables_get\" id=\"L]yoCYW(?3-Cr:-`vGUZ\">\n                                            <field name=\"VAR\" id=\"6!@`~=4bgYr`2drt%w8U\">module</field>\n                                          </block>\n                                        </value>\n                                        <value name=\"field_name\">\n                                          <shadow type=\"text\" id=\"|;3d,jgo;ZXjqMSDOlgl\">\n                                            <field name=\"TEXT\">id</field>\n                                          </shadow>\n                                        </value>\n                                      </block>\n                                    </value>\n                                  </block>\n                                </value>\n                                <value name=\"B\">\n                                  <block type=\"logic_null\" id=\"srV0ex+(1VcZ60X!Q1y=\"></block>\n                                </value>\n                              </block>\n                            </value>\n                            <next>\n                              <block type=\"node_send\" id=\"t:[2y;EN:V!zCUcb-{|c\">\n                                <field name=\"OUTPUT_NR\">1</field>\n                                <value name=\"MESSAGE_INPUT\">\n                                  <shadow type=\"node_msg\" id=\"Q*sU?KG[L`:x+7D2#[A$\"></shadow>\n                                  <block type=\"node_msg\" id=\"rFW1nPqMVHM9NXswb)M+\"></block>\n                                </value>\n                              </block>\n                            </next>\n                          </block>\n                        </next>\n                      </block>\n                    </next>\n                  </block>\n                </next>\n              </block>\n            </statement>\n          </block>\n        </next>\n      </block>\n    </next>\n  </block>\n</xml>","outputs":2,"timeout":0,"blocklyConfig":"ff260496fa8be82d","backpackContents":[],"noerr":0,"name":"emulate assignment of url","x":1197,"y":247,"wires":[[],[]]},{"id":"5608e8f6453df0af","type":"switch","z":"5c59049d735c3b3d","g":"d66037bd82a462de","name":"","property":"versions","propertyType":"msg","rules":[{"t":"null"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":604.5,"y":308,"wires":[["286dc017b89012d5"],["b7b3073b51b0aa34"]]},{"id":"286dc017b89012d5","type":"change","z":"5c59049d735c3b3d","g":"d66037bd82a462de","name":"","rules":[{"t":"set","p":"versions","pt":"msg","to":"{}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":746.5,"y":247,"wires":[["b7b3073b51b0aa34"]]},{"id":"b7b3073b51b0aa34","type":"function","z":"5c59049d735c3b3d","g":"d66037bd82a462de","name":"set msg.module, pop()","func":"\nmsg.module = msg.modules.pop();\n\nreturn","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":886.5,"y":314,"wires":[["378773032b5d9a03"]]},{"id":"378773032b5d9a03","type":"switch","z":"5c59049d735c3b3d","g":"d66037bd82a462de","name":"","property":"module","propertyType":"msg","rules":[{"t":"null"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":936.5,"y":422.5,"wires":[[],["e0f5e41a26c8dbb7"]]},{"id":"e0f5e41a26c8dbb7","type":"change","z":"5c59049d735c3b3d","g":"d66037bd82a462de","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"\"https://registry.npmjs.org/\" & $$.module.id","tot":"jsonata"},{"t":"set","p":"requestTimeout","pt":"msg","to":"2500","tot":"num"},{"t":"set","p":"isempty","pt":"msg","to":"$not($exists($lookup($$.versions,$$.module.id)))","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":906.5,"y":531,"wires":[[]]},{"id":"61efc6ee66faf222","type":"switch","z":"5c59049d735c3b3d","g":"f36b2e09ed1e1de2","name":"is msg.versions set to ..?","property":"versions","propertyType":"msg","rules":[{"t":"null"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":424,"y":696,"wires":[["d40b9908d69c94a0"],["b6873a0dd23809a0"]],"outputLabels":["no","yes"]},{"id":"d40b9908d69c94a0","type":"change","z":"5c59049d735c3b3d","g":"f36b2e09ed1e1de2","name":"set msg.version to empty object","rules":[{"t":"set","p":"versions","pt":"msg","to":"{}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":722,"y":691,"wires":[["b6873a0dd23809a0"]]},{"id":"b6873a0dd23809a0","type":"function","z":"5c59049d735c3b3d","g":"f36b2e09ed1e1de2","name":"retrieve last module from the list of modules","func":"\nmsg.module = msg.modules.pop();\n\nreturn","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":852,"y":771,"wires":[["dd08dd02d3c61f88"]]},{"id":"dd08dd02d3c61f88","type":"switch","z":"5c59049d735c3b3d","g":"f36b2e09ed1e1de2","name":"is there a module defined?","property":"module","propertyType":"msg","rules":[{"t":"null"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":1090,"y":822,"wires":[[],["31d5b769cffb2066"]],"outputLabels":["No","Yes"]},{"id":"31d5b769cffb2066","type":"change","z":"5c59049d735c3b3d","g":"f36b2e09ed1e1de2","name":"set url, request timeout and isempty","rules":[{"t":"set","p":"url","pt":"msg","to":"\"https://registry.npmjs.org/\" & $$.module.id","tot":"jsonata"},{"t":"set","p":"requestTimeout","pt":"msg","to":"2500","tot":"num"},{"t":"set","p":"isempty","pt":"msg","to":"$not($exists($lookup($$.versions,$$.module.id)))","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1157,"y":876,"wires":[[]]},{"id":"ff260496fa8be82d","type":"blockly-config","language":"en","showTrashcan":true,"allowComments":true,"showZoomControl":true,"showMiniMap":true,"enableBackPack":false,"backpackContents":[],"toolboxPosition":"left","renderer":"geras","categories":[{"name":"Node-RED","files":["blockly-contrib/npm/node-red-contrib-blockly/lib/nodered/nodeRedBlocksCodeGen.js","blockly-contrib/npm/node-red-contrib-blockly/lib/nodered/nodeRedBlocksDefs.js","blockly-contrib/npm/node-red-contrib-blockly/lib/nodered/toolbox.xml","blockly-contrib/npm/node-red-contrib-blockly/messages/en.js"]},{"name":"Objects","files":["blockly-contrib/npm/node-red-contrib-blockly/lib/json/objectBlocksCodeGen.js","blockly-contrib/npm/node-red-contrib-blockly/lib/json/objectBlocksDefs.js","blockly-contrib/npm/node-red-contrib-blockly/lib/json/toolbox.xml","blockly-contrib/npm/node-red-contrib-blockly/messages/en.js"]},{"name":"Buffer","files":["blockly-contrib/npm/node-red-contrib-blockly/lib/buffer/bufferBlocksCodeGen.js","blockly-contrib/npm/node-red-contrib-blockly/lib/buffer/bufferBlocksDefs.js","blockly-contrib/npm/node-red-contrib-blockly/lib/buffer/toolbox.xml","blockly-contrib/npm/node-red-contrib-blockly/messages/en.js"]},{"name":"Date/time","files":["blockly-contrib/npm/@blockly___SEPARATOR___field-date/dist/index.js","blockly-contrib/npm/node-red-contrib-blockly/lib/datetime/dateTimeBlocksCodeGen.js","blockly-contrib/npm/node-red-contrib-blockly/lib/datetime/dateTimeBlocksDefs.js","blockly-contrib/npm/node-red-contrib-blockly/lib/datetime/toolbox.xml","blockly-contrib/npm/node-red-contrib-blockly/messages/en.js"]},{"name":"Timer","files":["blockly-contrib/npm/node-red-contrib-blockly/lib/timer/timerBlocksCodeGen.js","blockly-contrib/npm/node-red-contrib-blockly/lib/timer/timerBlocksDefs.js","blockly-contrib/npm/node-red-contrib-blockly/lib/timer/toolbox.xml","blockly-contrib/npm/node-red-contrib-blockly/messages/en.js"]},{"name":"Blockly extension","files":["blockly-contrib/npm/node-red-contrib-blockly/lib/extra/extraBlocksCodeGen.js","blockly-contrib/npm/node-red-contrib-blockly/lib/extra/extraBlocksDefs.js","blockly-contrib/npm/node-red-contrib-blockly/lib/extra/toolbox.xml","blockly-contrib/npm/node-red-contrib-blockly/messages/en.js"]},{"name":"Blockly standard","files":["blockly-contrib/npm/node-red-contrib-blockly/lib/basic/toolbox.xml"]}],"customizeToolbox":false,"name":"dd"}]