aaab9308f8fbb2c5/flows.json
[{"id":"aaab9308f8fbb2c5","type":"tab","label":"[AI] Having a conversation","disabled":false,"info":"### Description\n\nExample flow using [AIsBreaker](https://aisbreaker.org) and the [AIsBreaker node](https://flowhub.org/f/135a1cd9aa3419cb).\n\nDemonstrations the use of the AIsBreaker node to have a conversation with an generative AI. A maximum of nine responses is supported by this is only a demonstration.\n\nThis flow creates a dashboard that can be used to have the conversation with the AI:\n\n![img](https://cdn.openmindmap.org/content/1702912624906_Screen_Shot_2023-12-18_at_16.16.11.png)\n\n### Dashboard\n\nThe main input field has (at the moment) four buttons:\n\n![img](https://cdn.openmindmap.org/content/1702912238107_Screen_Shot_2023-12-18_at_16.10.26.png)\n\n- 'Do It!' submit prompt content to the AI\n- 'Clear Prompt' resets the contents of the prompt field, nothing else.\n- 'Clear content but keep state' resets the conversion fields (response and input) back to zero and the conversation can continue.\n- 'Complete Reset' will reset everything back to zero including the conversation state, that is, the AI will lose its memory of what has been said.\n\n\n### Complete memory lose\n\nClicking on complete reset results in following:\n\n![img](https://cdn.openmindmap.org/content/1702912622313_Screen_Shot_2023-12-18_at_16.16.49.png)\n\n### Requirements\n\n- [AIsBreaker Nodes](https://flows.nodered.org/node/@gregoriusrippenstein/node-red-contrib-aisbreaker)\n\n### Related Flows\n\n- [Flow the defines the AIsBreaker node](https://flowhub.org/f/135a1cd9aa3419cb)\n","env":[]},{"id":"8fb5b3907694e059","type":"junction","z":"aaab9308f8fbb2c5","x":623.2857158184052,"y":1067.4285634756088,"wires":[["1378a6c4b3222870"]]},{"id":"7260390a49529a81","type":"junction","z":"aaab9308f8fbb2c5","x":1765,"y":483.5,"wires":[["972bd03c2830626c","53125686390db665","9620e5f8237cde52","765ce293b3effc17","2612a7d4012976cf","c38f90e7fbf141b8","c44d2dac2e5e0fdf","bd013919d3d454e0","200235c0e08736ac","29770a9f5fb4e98f","c8ff9fe16fc71a24","2932b0c34d52d7c1","478e639fb265f935","b9a027fe14130577","0a2217fc38e14d31","396fe6ac2cbdd70a","7badc9b6cca727cb","1f4d4de1addeb8f5"]]},{"id":"550008f1e0f908dc","type":"ui_template","z":"aaab9308f8fbb2c5","group":"4b45598a46e03f0b","name":"Textarea","order":2,"width":16,"height":7,"format":"      <textarea name=\"textentered\" id=\"textentered\"  rows=\"8\" cols=\"25\" placeholder='Prompt Content'></textarea>\n      <p>\n\n      <input type=\"submit\" value=\"Do It!\" ng-click=\"test()\">\n\n      <input style=\"margin-left: 20px;\" type=\"submit\" value=\"Clear Prompt\" ng-click=\"clearTextField()\">\n\n      <input style=\"margin-left: 20px;\" type=\"submit\" value=\"Clear content but keep state\" ng-click=\"clearKeepState()\">\n\n      <input style=\"background-color: red; float: right;\" type=\"submit\" value=\"Complete Reset\" ng-click=\"clear()\">\n<script>\n\n(function(scope) {\n  const element = document.getElementById(\"textentered\");\n  \n  scope.$watch('msg', function(msg) {\n    if (msg.payload) {\n      // Do something when msg arrives\n      element.value = msg.payload;\n    }\n  })\n  \n  scope.test = function() {\n        var text = element.value;\n        scope.send({topic: \"submit\", payload: text});\n    }\n  scope.clear = function() {\n    $('#textentered').val(\"\")\n    scope.send({ topic: \"reset\" });\n  }\n\n  scope.clearKeepState = function() {\n    $('#textentered').val(\"\")\n    scope.send({ topic: \"reset_keepstate\" });\n  }\n\n  scope.clearTextField = function() {\n    $('#textentered').val(\"\")\n  }\n})(scope)\n\n</script>\n","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":true,"templateScope":"local","className":"","x":362,"y":763,"wires":[["893597d9bd3d6f07"]]},{"id":"67117a8ba74ce925","type":"catch","z":"aaab9308f8fbb2c5","name":"","scope":["19a20cd5fc0181c1"],"uncaught":false,"x":1073,"y":828,"wires":[["f7f5a50902be1ed5","37ce0cf54ad329f5"]]},{"id":"972bd03c2830626c","type":"ui_template","z":"aaab9308f8fbb2c5","group":"4b45598a46e03f0b","name":"Response 1","order":20,"width":8,"height":5,"format":"<h3>Response 1</h3>\n<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":2137,"y":483.5,"wires":[[]]},{"id":"53125686390db665","type":"ui_template","z":"aaab9308f8fbb2c5","group":"4b45598a46e03f0b","name":"Response 2","order":27,"width":8,"height":5,"format":"<h3>Response 2</h3>\n<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":2137,"y":526.125,"wires":[[]]},{"id":"9620e5f8237cde52","type":"ui_template","z":"aaab9308f8fbb2c5","group":"4b45598a46e03f0b","name":"Response 3","order":34,"width":8,"height":5,"format":"<h3>Response 3</h3>\n<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":2137,"y":569.25,"wires":[[]]},{"id":"765ce293b3effc17","type":"ui_template","z":"aaab9308f8fbb2c5","group":"4b45598a46e03f0b","name":"Response 4","order":41,"width":8,"height":5,"format":"<h3>Response 4</h3>\n<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":2137,"y":612.375,"wires":[[]]},{"id":"2612a7d4012976cf","type":"ui_template","z":"aaab9308f8fbb2c5","group":"4b45598a46e03f0b","name":"Response 5","order":48,"width":8,"height":5,"format":"<h3>Response 5</h3>\n<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":2137,"y":655.5,"wires":[[]]},{"id":"c38f90e7fbf141b8","type":"ui_template","z":"aaab9308f8fbb2c5","group":"4b45598a46e03f0b","name":"Response 6","order":55,"width":8,"height":5,"format":"<h3>Response 6</h3>\n<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":2137,"y":698.625,"wires":[[]]},{"id":"c44d2dac2e5e0fdf","type":"ui_template","z":"aaab9308f8fbb2c5","group":"4b45598a46e03f0b","name":"Response 7","order":62,"width":8,"height":5,"format":"<h3>Response 7</h3>\n<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":2137,"y":741.75,"wires":[[]]},{"id":"bd013919d3d454e0","type":"ui_template","z":"aaab9308f8fbb2c5","group":"4b45598a46e03f0b","name":"Response 8","order":69,"width":8,"height":5,"format":"<h3>Response 8</h3>\n<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":2137,"y":784.875,"wires":[[]]},{"id":"200235c0e08736ac","type":"ui_template","z":"aaab9308f8fbb2c5","group":"4b45598a46e03f0b","name":"Response 9","order":76,"width":8,"height":5,"format":"<h3>Response 9</h3>\n<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":2137,"y":828,"wires":[[]]},{"id":"f7f5a50902be1ed5","type":"debug","z":"aaab9308f8fbb2c5","name":"Exception Will Happen","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1300.5,"y":905.75,"wires":[]},{"id":"893597d9bd3d6f07","type":"switch","z":"aaab9308f8fbb2c5","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"reset_keepstate","vt":"str"},{"t":"eq","v":"reset","vt":"str"},{"t":"eq","v":"submit","vt":"str"}],"checkall":"false","repair":false,"outputs":3,"x":530,"y":491,"wires":[["74667be00a795d44"],["65e4c7a9da349a04"],["b5ba91681d391af9","8fb5b3907694e059"]]},{"id":"19a20cd5fc0181c1","type":"AIsBreaker","z":"aaab9308f8fbb2c5","name":"OpenAI / ChatGPT","apiToken":"","apiTokenType":"cred","serviceid":"chat:openai.com","endpoint":"https://api.demo.aisbreaker.org","servicejson":"{\n  \"serviceId\": \"chat:openai.com\"\n}","x":1091,"y":726,"wires":[["4a7a17c5cd84116c"]]},{"id":"467866d6d34d8998","type":"switch","z":"aaab9308f8fbb2c5","name":"","property":"responseCount","propertyType":"flow","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"num"},{"t":"eq","v":"4","vt":"num"},{"t":"eq","v":"5","vt":"num"},{"t":"eq","v":"6","vt":"num"},{"t":"eq","v":"7","vt":"num"},{"t":"eq","v":"8","vt":"num"},{"t":"eq","v":"9","vt":"num"}],"checkall":"true","repair":false,"outputs":9,"x":1677,"y":776,"wires":[["972bd03c2830626c"],["53125686390db665"],["9620e5f8237cde52"],["765ce293b3effc17"],["2612a7d4012976cf"],["c38f90e7fbf141b8"],["c44d2dac2e5e0fdf"],["bd013919d3d454e0"],["200235c0e08736ac"]]},{"id":"4a7a17c5cd84116c","type":"change","z":"aaab9308f8fbb2c5","name":"","rules":[{"t":"set","p":"responseCount","pt":"flow","to":"$flowContext(\"responseCount\") + 1","tot":"jsonata"},{"t":"set","p":"conversationState","pt":"flow","to":"conversationState","tot":"msg","dc":true}],"action":"","property":"","from":"","to":"","reg":false,"x":1411,"y":725,"wires":[["467866d6d34d8998"]]},{"id":"b5ba91681d391af9","type":"change","z":"aaab9308f8fbb2c5","name":"","rules":[{"t":"set","p":"conversationState","pt":"msg","to":"conversationState","tot":"flow","dc":true}],"action":"","property":"","from":"","to":"","reg":false,"x":796,"y":726,"wires":[["19a20cd5fc0181c1"]]},{"id":"37ce0cf54ad329f5","type":"change","z":"aaab9308f8fbb2c5","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$string($$.error, true) & $string($$._error, true) & $string($$, true)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1411,"y":828,"wires":[["4a7a17c5cd84116c"]]},{"id":"29770a9f5fb4e98f","type":"ui_template","z":"aaab9308f8fbb2c5","group":"4b45598a46e03f0b","name":"Input 1","order":16,"width":8,"height":5,"format":"<h3>Input 1</h3>\n<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":2127,"y":903,"wires":[[]]},{"id":"c8ff9fe16fc71a24","type":"ui_template","z":"aaab9308f8fbb2c5","group":"4b45598a46e03f0b","name":"Input 2","order":23,"width":8,"height":5,"format":"<h3>Input 2</h3>\n<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":2127,"y":946.125,"wires":[[]]},{"id":"2932b0c34d52d7c1","type":"ui_template","z":"aaab9308f8fbb2c5","group":"4b45598a46e03f0b","name":"Input 3","order":30,"width":8,"height":5,"format":"<h3>Input 3</h3>\n<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":2127,"y":989.25,"wires":[[]]},{"id":"478e639fb265f935","type":"ui_template","z":"aaab9308f8fbb2c5","group":"4b45598a46e03f0b","name":"Input 4","order":37,"width":8,"height":5,"format":"<h3>Input 4</h3>\n<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":2127,"y":1032.375,"wires":[[]]},{"id":"b9a027fe14130577","type":"ui_template","z":"aaab9308f8fbb2c5","group":"4b45598a46e03f0b","name":"Input 5","order":44,"width":8,"height":5,"format":"<h3>Input 5</h3>\n<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":2127,"y":1075.5,"wires":[[]]},{"id":"0a2217fc38e14d31","type":"ui_template","z":"aaab9308f8fbb2c5","group":"4b45598a46e03f0b","name":"Input 6","order":51,"width":8,"height":5,"format":"<h3>Input 6</h3>\n<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":2127,"y":1118.625,"wires":[[]]},{"id":"396fe6ac2cbdd70a","type":"ui_template","z":"aaab9308f8fbb2c5","group":"4b45598a46e03f0b","name":"Input 7","order":58,"width":8,"height":5,"format":"<h3>Input 7</h3>\n<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":2127,"y":1161.75,"wires":[[]]},{"id":"7badc9b6cca727cb","type":"ui_template","z":"aaab9308f8fbb2c5","group":"4b45598a46e03f0b","name":"Input 8","order":65,"width":8,"height":5,"format":"<h3>Input 8</h3>\n<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":2127,"y":1204.875,"wires":[[]]},{"id":"1f4d4de1addeb8f5","type":"ui_template","z":"aaab9308f8fbb2c5","group":"4b45598a46e03f0b","name":"Input 9","order":72,"width":8,"height":5,"format":"<h3>Input 9</h3>\n<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":2127,"y":1248,"wires":[[]]},{"id":"1378a6c4b3222870","type":"switch","z":"aaab9308f8fbb2c5","name":"","property":"$flowContext(\"responseCount\") + 1","propertyType":"jsonata","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"num"},{"t":"eq","v":"4","vt":"num"},{"t":"eq","v":"5","vt":"num"},{"t":"eq","v":"6","vt":"num"},{"t":"eq","v":"7","vt":"num"},{"t":"eq","v":"8","vt":"num"},{"t":"eq","v":"9","vt":"num"}],"checkall":"true","repair":false,"outputs":9,"x":1795,"y":1066,"wires":[["29770a9f5fb4e98f"],["c8ff9fe16fc71a24"],["2932b0c34d52d7c1"],["478e639fb265f935"],["b9a027fe14130577"],["0a2217fc38e14d31"],["396fe6ac2cbdd70a"],["7badc9b6cca727cb"],["1f4d4de1addeb8f5"]]},{"id":"65e4c7a9da349a04","type":"change","z":"aaab9308f8fbb2c5","name":"","rules":[{"t":"delete","p":"conversationState","pt":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1019,"y":523,"wires":[["74667be00a795d44"]]},{"id":"74667be00a795d44","type":"change","z":"aaab9308f8fbb2c5","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"...","tot":"str"},{"t":"set","p":"responseCount","pt":"flow","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1579,"y":483.5,"wires":[["7260390a49529a81"]]},{"id":"9fcc8f05969ea544","type":"ui_spacer","z":"aaab9308f8fbb2c5","name":"spacer","group":"4b45598a46e03f0b","order":1,"width":1,"height":1},{"id":"0427acd20a99288e","type":"ui_spacer","z":"aaab9308f8fbb2c5","name":"spacer","group":"4b45598a46e03f0b","order":3,"width":1,"height":1},{"id":"5759614053c52d24","type":"ui_spacer","z":"aaab9308f8fbb2c5","name":"spacer","group":"4b45598a46e03f0b","order":4,"width":1,"height":1},{"id":"6928c22f5bf9246b","type":"ui_spacer","z":"aaab9308f8fbb2c5","name":"spacer","group":"4b45598a46e03f0b","order":5,"width":1,"height":1},{"id":"ac111f918b76d9a5","type":"ui_spacer","z":"aaab9308f8fbb2c5","name":"spacer","group":"4b45598a46e03f0b","order":6,"width":1,"height":1},{"id":"7ea0b43fc4b12a9d","type":"ui_spacer","z":"aaab9308f8fbb2c5","name":"spacer","group":"4b45598a46e03f0b","order":7,"width":1,"height":1},{"id":"e349f06f8907f294","type":"ui_spacer","z":"aaab9308f8fbb2c5","name":"spacer","group":"4b45598a46e03f0b","order":8,"width":1,"height":1},{"id":"cf1668b54c737e44","type":"ui_spacer","z":"aaab9308f8fbb2c5","name":"spacer","group":"4b45598a46e03f0b","order":9,"width":1,"height":1},{"id":"f5b2bb068391e241","type":"ui_spacer","z":"aaab9308f8fbb2c5","name":"spacer","group":"4b45598a46e03f0b","order":10,"width":1,"height":1},{"id":"2e7d9396590bcb1a","type":"ui_spacer","z":"aaab9308f8fbb2c5","name":"spacer","group":"4b45598a46e03f0b","order":11,"width":1,"height":1},{"id":"392b4759bf369755","type":"ui_spacer","z":"aaab9308f8fbb2c5","name":"spacer","group":"4b45598a46e03f0b","order":12,"width":1,"height":1},{"id":"4fae18cc4b417f7c","type":"ui_spacer","z":"aaab9308f8fbb2c5","name":"spacer","group":"4b45598a46e03f0b","order":13,"width":1,"height":1},{"id":"4e7b59c2ab678376","type":"ui_spacer","z":"aaab9308f8fbb2c5","name":"spacer","group":"4b45598a46e03f0b","order":14,"width":1,"height":1},{"id":"39cb978921183a5b","type":"ui_spacer","z":"aaab9308f8fbb2c5","name":"spacer","group":"4b45598a46e03f0b","order":15,"width":1,"height":1},{"id":"06767f10cf999fba","type":"ui_spacer","z":"aaab9308f8fbb2c5","name":"spacer","group":"4b45598a46e03f0b","order":17,"width":10,"height":1},{"id":"4c48e3ebe61e0608","type":"ui_spacer","z":"aaab9308f8fbb2c5","name":"spacer","group":"4b45598a46e03f0b","order":18,"width":10,"height":1},{"id":"60d21cdd77310cd2","type":"ui_spacer","z":"aaab9308f8fbb2c5","name":"spacer","group":"4b45598a46e03f0b","order":19,"width":2,"height":1},{"id":"73c3c34cad3b34b3","type":"ui_spacer","z":"aaab9308f8fbb2c5","name":"spacer","group":"4b45598a46e03f0b","order":21,"width":2,"height":1},{"id":"7cda152f3c5b908e","type":"ui_spacer","z":"aaab9308f8fbb2c5","name":"spacer","group":"4b45598a46e03f0b","order":22,"width":2,"height":1},{"id":"6e24ed5dc039fa82","type":"ui_spacer","z":"aaab9308f8fbb2c5","name":"spacer","group":"4b45598a46e03f0b","order":24,"width":2,"height":1},{"id":"bd4d28a1d73c0049","type":"ui_spacer","z":"aaab9308f8fbb2c5","name":"spacer","group":"4b45598a46e03f0b","order":25,"width":2,"height":1},{"id":"35c5887c8d9e84de","type":"ui_spacer","z":"aaab9308f8fbb2c5","name":"spacer","group":"4b45598a46e03f0b","order":26,"width":2,"height":1},{"id":"a5a37ec2486deea9","type":"ui_spacer","z":"aaab9308f8fbb2c5","name":"spacer","group":"4b45598a46e03f0b","order":28,"width":2,"height":1},{"id":"fefd768686d79a38","type":"ui_spacer","z":"aaab9308f8fbb2c5","name":"spacer","group":"4b45598a46e03f0b","order":29,"width":2,"height":1},{"id":"bdb877fc65af45ef","type":"ui_spacer","z":"aaab9308f8fbb2c5","name":"spacer","group":"4b45598a46e03f0b","order":31,"width":2,"height":1},{"id":"58045e859ae51d8c","type":"ui_spacer","z":"aaab9308f8fbb2c5","name":"spacer","group":"4b45598a46e03f0b","order":32,"width":2,"height":1},{"id":"cacf20d3c35a7db4","type":"ui_spacer","z":"aaab9308f8fbb2c5","name":"spacer","group":"4b45598a46e03f0b","order":33,"width":2,"height":1},{"id":"bb070ba4e6c24a1b","type":"ui_spacer","z":"aaab9308f8fbb2c5","name":"spacer","group":"4b45598a46e03f0b","order":35,"width":2,"height":1},{"id":"2973c67d5219d0d9","type":"ui_spacer","z":"aaab9308f8fbb2c5","name":"spacer","group":"4b45598a46e03f0b","order":36,"width":2,"height":1},{"id":"8ed1f73e625a563c","type":"ui_spacer","z":"aaab9308f8fbb2c5","name":"spacer","group":"4b45598a46e03f0b","order":38,"width":2,"height":1},{"id":"9f87529065a82620","type":"ui_spacer","z":"aaab9308f8fbb2c5","name":"spacer","group":"4b45598a46e03f0b","order":39,"width":2,"height":1},{"id":"bf7034e9ae710f8f","type":"ui_spacer","z":"aaab9308f8fbb2c5","name":"spacer","group":"4b45598a46e03f0b","order":40,"width":2,"height":1},{"id":"43022376e81752d0","type":"ui_spacer","z":"aaab9308f8fbb2c5","name":"spacer","group":"4b45598a46e03f0b","order":42,"width":2,"height":1},{"id":"32fd103103551fb1","type":"ui_spacer","z":"aaab9308f8fbb2c5","name":"spacer","group":"4b45598a46e03f0b","order":43,"width":2,"height":1},{"id":"c418863229b6fc7a","type":"ui_spacer","z":"aaab9308f8fbb2c5","name":"spacer","group":"4b45598a46e03f0b","order":45,"width":2,"height":1},{"id":"69602a1568677285","type":"ui_spacer","z":"aaab9308f8fbb2c5","name":"spacer","group":"4b45598a46e03f0b","order":46,"width":2,"height":1},{"id":"7fcf70528d6bd844","type":"ui_spacer","z":"aaab9308f8fbb2c5","name":"spacer","group":"4b45598a46e03f0b","order":47,"width":2,"height":1},{"id":"314cceb8b585316f","type":"ui_spacer","z":"aaab9308f8fbb2c5","name":"spacer","group":"4b45598a46e03f0b","order":49,"width":2,"height":1},{"id":"8b32d22d5b366942","type":"ui_spacer","z":"aaab9308f8fbb2c5","name":"spacer","group":"4b45598a46e03f0b","order":50,"width":2,"height":1},{"id":"9bd226f462693a58","type":"ui_spacer","z":"aaab9308f8fbb2c5","name":"spacer","group":"4b45598a46e03f0b","order":52,"width":2,"height":1},{"id":"6ad9076542e561c9","type":"ui_spacer","z":"aaab9308f8fbb2c5","name":"spacer","group":"4b45598a46e03f0b","order":53,"width":2,"height":1},{"id":"08d5a226ab8269dc","type":"ui_spacer","z":"aaab9308f8fbb2c5","name":"spacer","group":"4b45598a46e03f0b","order":54,"width":2,"height":1},{"id":"27b8360386502d51","type":"ui_spacer","z":"aaab9308f8fbb2c5","name":"spacer","group":"4b45598a46e03f0b","order":56,"width":2,"height":1},{"id":"45e99fc644f2042e","type":"ui_spacer","z":"aaab9308f8fbb2c5","name":"spacer","group":"4b45598a46e03f0b","order":57,"width":2,"height":1},{"id":"fa937f0f37379a6d","type":"ui_spacer","z":"aaab9308f8fbb2c5","name":"spacer","group":"4b45598a46e03f0b","order":59,"width":2,"height":1},{"id":"5dc835f587e5fee0","type":"ui_spacer","z":"aaab9308f8fbb2c5","name":"spacer","group":"4b45598a46e03f0b","order":60,"width":2,"height":1},{"id":"51368c244d120a1c","type":"ui_spacer","z":"aaab9308f8fbb2c5","name":"spacer","group":"4b45598a46e03f0b","order":61,"width":2,"height":1},{"id":"04fc4181d8e19cc2","type":"ui_spacer","z":"aaab9308f8fbb2c5","name":"spacer","group":"4b45598a46e03f0b","order":63,"width":2,"height":1},{"id":"6069e2d19dad631a","type":"ui_spacer","z":"aaab9308f8fbb2c5","name":"spacer","group":"4b45598a46e03f0b","order":64,"width":2,"height":1},{"id":"f55deb1972f50a61","type":"ui_spacer","z":"aaab9308f8fbb2c5","name":"spacer","group":"4b45598a46e03f0b","order":66,"width":2,"height":1},{"id":"f947ed2a16f89e18","type":"ui_spacer","z":"aaab9308f8fbb2c5","name":"spacer","group":"4b45598a46e03f0b","order":67,"width":2,"height":1},{"id":"5f075f3bffa360b8","type":"ui_spacer","z":"aaab9308f8fbb2c5","name":"spacer","group":"4b45598a46e03f0b","order":68,"width":2,"height":1},{"id":"984ccd0dee174ada","type":"ui_spacer","z":"aaab9308f8fbb2c5","name":"spacer","group":"4b45598a46e03f0b","order":70,"width":2,"height":1},{"id":"621c50180a2fd269","type":"ui_spacer","z":"aaab9308f8fbb2c5","name":"spacer","group":"4b45598a46e03f0b","order":71,"width":2,"height":1},{"id":"8d88987494be53fa","type":"ui_spacer","z":"aaab9308f8fbb2c5","name":"spacer","group":"4b45598a46e03f0b","order":73,"width":2,"height":1},{"id":"bd1107e105b94031","type":"ui_spacer","z":"aaab9308f8fbb2c5","name":"spacer","group":"4b45598a46e03f0b","order":74,"width":2,"height":1},{"id":"7014c3803b2e0a90","type":"ui_spacer","z":"aaab9308f8fbb2c5","name":"spacer","group":"4b45598a46e03f0b","order":75,"width":2,"height":1},{"id":"b1c1c06759051618","type":"ui_spacer","z":"aaab9308f8fbb2c5","name":"spacer","group":"4b45598a46e03f0b","order":77,"width":2,"height":1},{"id":"92f4fc4182ef5eb8","type":"ui_spacer","z":"aaab9308f8fbb2c5","name":"spacer","group":"4b45598a46e03f0b","order":78,"width":2,"height":1},{"id":"0625cac0b2504201","type":"ui_spacer","z":"aaab9308f8fbb2c5","name":"spacer","group":"4b45598a46e03f0b","order":79,"width":10,"height":1},{"id":"b803b8349173f3f8","type":"ui_spacer","z":"aaab9308f8fbb2c5","name":"spacer","group":"4b45598a46e03f0b","order":80,"width":10,"height":1},{"id":"4b45598a46e03f0b","type":"ui_group","name":"AI Conversation","tab":"d9a5fc4d10281347","order":1,"disp":true,"width":"18","collapse":false,"className":""},{"id":"d9a5fc4d10281347","type":"ui_tab","name":"AI Conversation","icon":"dashboard","disabled":false,"hidden":false}]