2401c255b056e0e1/flows.json
[{"id":"2401c255b056e0e1","type":"tab","label":"[Introspection] Orphans","disabled":false,"info":"::: aim\n\nIdentify thoese nodes that have no connections. Whether that is bad or good depends on the node.\n\nThe orphans nodes highlights those nodes and allows the user to reflect on the need to connect that node or not.\n\nThe Orphans node won't highlight itself.\n\n:::\n\n::: requirements\n\nThis requirements the following Node-RED nodes:\n\n- [introspection](https://flows.nodered.org/node/@gregoriusrippenstein/node-red-contrib-introspection)\n\n:::\n\n### Flow Explanation\n\nThe Orphans node when double clicked on will open the editor tray showing all nodes that are not connected. It will show all nodes within the entire flow, i.e. across flow tabs.\n\n![img](https://cdn.openmindmap.org/content/1691242157302_Screen_Shot_2023-08-05_at_15.28.31.png)\n\nIn this case, the <a class=\"\" data-ids=\"\">filter node</a> is not connected.\n\nThe Orphan node analyses the frontend flows and has no backend component. The nodes shown are what is the current situation in the editor.\n\n### Possible improvements\n\n- It should highlight nodes that have no input and no output connectors, that makes no sense.\n\n- It should ignore disabled nodes since they no longer play a role.\n\n","env":[]},{"id":"dd3254cb6eb86b9d","type":"group","z":"2401c255b056e0e1","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["687d72f8ac979c8e","82ab9691a6fa6305","b2fe6ad173a282cb","eeb2a86e885d8950","c89e89af7dc45512","f7d24a797738488c","2a5f7e2419fa5854","ea61e4074523f3b7","9dc3fdbc98812282"],"x":161,"y":106,"w":727,"h":474.5},{"id":"687d72f8ac979c8e","type":"Orphans","z":"2401c255b056e0e1","g":"dd3254cb6eb86b9d","name":"","x":247,"y":147,"wires":[]},{"id":"82ab9691a6fa6305","type":"function","z":"2401c255b056e0e1","g":"dd3254cb6eb86b9d","name":"function 1","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":339,"y":292.5,"wires":[["ea61e4074523f3b7","b2fe6ad173a282cb"]]},{"id":"b2fe6ad173a282cb","type":"switch","z":"2401c255b056e0e1","g":"dd3254cb6eb86b9d","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":371,"y":378.5,"wires":[["f7d24a797738488c","2a5f7e2419fa5854"]]},{"id":"eeb2a86e885d8950","type":"change","z":"2401c255b056e0e1","g":"dd3254cb6eb86b9d","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":572,"y":457.5,"wires":[["f7d24a797738488c","82ab9691a6fa6305","b2fe6ad173a282cb"]]},{"id":"c89e89af7dc45512","type":"range","z":"2401c255b056e0e1","g":"dd3254cb6eb86b9d","minin":"1","maxin":"1","minout":"1","maxout":"1","action":"scale","round":false,"property":"payload","name":"","x":687,"y":539.5,"wires":[["f7d24a797738488c"]]},{"id":"f7d24a797738488c","type":"template","z":"2401c255b056e0e1","g":"dd3254cb6eb86b9d","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"This is the payload: {{payload}} !","output":"str","x":599,"y":272.5,"wires":[["eeb2a86e885d8950","ea61e4074523f3b7"]]},{"id":"2a5f7e2419fa5854","type":"delay","z":"2401c255b056e0e1","g":"dd3254cb6eb86b9d","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":702,"y":337.5,"wires":[["b2fe6ad173a282cb"]]},{"id":"ea61e4074523f3b7","type":"exec","z":"2401c255b056e0e1","g":"dd3254cb6eb86b9d","command":"","addpay":"","append":"","useSpawn":"false","timer":"","winHide":false,"oldrc":false,"name":"","x":812,"y":404.5,"wires":[[],["82ab9691a6fa6305"],["c89e89af7dc45512"]]},{"id":"9dc3fdbc98812282","type":"rbe","z":"2401c255b056e0e1","g":"dd3254cb6eb86b9d","name":"filter","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","topi":"topic","x":574,"y":378.5,"wires":[[]]}]