3005bf51786e6b52/flows.json
[{"id":"141be7efec2adc8d","type":"subflow","name":"Hacker News: Front Page","info":"Imported at Sat Sep 09 2023 08:32:07 GMT+0100 (British Summer Time)\n<hr>\nhttps://hnrss.org/frontpage\n","category":"rssfeeds","in":[{"x":201.25,"y":188.75,"wires":[]}],"out":[{"x":496.25,"y":161.25,"wires":[{"id":"141be7efec2adc8d","port":0}]}],"env":[{"name":"createdAt","type":"str","value":""},{"name":"updatedAt","type":"str","value":""}],"meta":{},"color":"#e5b67b","icon":"font-awesome/fa-feed"},{"id":"0cbd7293686d6ad5","type":"subflow","name":"Hacker News: New Comments","info":"Imported at Sat Sep 09 2023 08:32:01 GMT+0100 (British Summer Time)\n<hr>\nhttps://hnrss.org/newcomments\n","category":"rssfeeds","in":[{"x":201.25,"y":188.75,"wires":[]}],"out":[{"x":496.25,"y":161.25,"wires":[{"id":"0cbd7293686d6ad5","port":0}]}],"env":[{"name":"createdAt","type":"str","value":""},{"name":"updatedAt","type":"str","value":""}],"meta":{},"color":"#f0da8c","icon":"font-awesome/fa-feed"},{"id":"a0c3c0a95c37a5ee","type":"subflow","name":"Hacker News: Newest","info":"Imported at Sat Sep 09 2023 08:32:04 GMT+0100 (British Summer Time)\n<hr>\nhttps://hnrss.org/newest\n","category":"rssfeeds","in":[{"x":201.25,"y":188.75,"wires":[]}],"out":[{"x":496.25,"y":161.25,"wires":[{"id":"a0c3c0a95c37a5ee","port":0}]}],"env":[{"name":"createdAt","type":"str","value":""},{"name":"updatedAt","type":"str","value":""}],"meta":{},"color":"#ebc883","icon":"font-awesome/fa-feed"},{"id":"3005bf51786e6b52","type":"tab","label":"[Test] UTF-8 Unencoding test","disabled":false,"info":"::: aim\n\nEnsure utf8 is supported in input/export of flow data to/from Node-RED.\n\n:::\n\n::: background\n\nCharacter encoding was broken but fixed with the correct encoding of base64 data to utf8 string, not binary string.\n\nThe Base64 node decodes to binary string but required is an utf8 string, the <a class=\"ahl-group-only\" data-ids=\"6a69f61a0d541aec\">demonstrates</a> the clitch.\n\nThe <a class=\"ahl-node-only\" data-ids=\"431fb903fa3372e4\">template node</a> contents this:\n\n![img](https://cdn.openmindmap.org/content/1694293760051_Screen_Shot_2023-09-09_at_23.05.54.png)\n\n\nThe <a class=\"ahl-node-only\" data-ids=\"2bb2176d1913f8c0\">debug node</a> returns the following:\n\n![img](https://cdn.openmindmap.org/content/1694293748842_Screen_Shot_2023-09-09_at_23.06.07.png)\n\n:::\n","env":[]},{"id":"6a69f61a0d541aec","type":"group","z":"3005bf51786e6b52","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["5154e01fa5da6cad","431fb903fa3372e4","9afb6e01f9bae6c5","2bb2176d1913f8c0","a2f2ad59fbca1af7"],"x":684,"y":799,"w":1097,"h":297},{"id":"703936b6385f58ab","type":"subflow:a0c3c0a95c37a5ee","z":"3005bf51786e6b52","name":"‘Complete’ models of human embryos created from stem cells in lab","env":[{"name":"createdAt","value":"Sat, 09 Sep 2023 11:30:06 +0000","type":"str"},{"name":"updatedAt","value":"Sat, 09 Sep 2023 11:30:06 +0000","type":"str"}],"x":1121,"y":561,"wires":[[]],"info":"<p>Article URL: <a href=\"https://www.theguardian.com/science/2023/sep/06/complete-models-of-human-embryos-created-from-stem-cells-in-lab\">https://www.theguardian.com/science/2023/sep/06/complete-models-of-human-embryos-created-from-stem-cells-in-lab</a></p>\n<p>Comments URL: <a href=\"https://news.ycombinator.com/item?id=37444170\">https://news.ycombinator.com/item?id=37444170</a></p>\n<p>Points: 1</p>\n<p># Comments: 1</p>"},{"id":"ce9639bf94886b2a","type":"subflow:0cbd7293686d6ad5","z":"3005bf51786e6b52","name":"New comment by V__ in \"‘Occupied by the US’: wildfires renew Native Hawaiian call for sovereignty\"","env":[{"name":"createdAt","value":"Sat, 09 Sep 2023 12:37:43 +0000","type":"str"},{"name":"updatedAt","value":"Sat, 09 Sep 2023 12:37:43 +0000","type":"str"}],"x":1194,"y":711,"wires":[[]],"info":"https://news.ycombinator.com/item?id=37444627\n<hr>\n<p>> the Coast Guard and Navy are supporting response and rescue efforts, while the Marines are providing Black Hawk helicopters to fight the fires.<p>[1] <a href=\"https://www.navytimes.com/news/your-navy/2023/08/09/coast-guard-rescues-people-trying-to-escape-hawaii-wildfires/\" rel=\"nofollow noreferrer\">https://www.navytimes.com/news/your-navy/2023/08/09/coast-gu...</a><p>I understand the impulse to make these comparisons, but it's apple to oranges. 1000 CIA analysts and artilary shells won't help Hawaii. I'm sure more could have been done, but pretending it's nothing also won't help anybody.</p>"},{"id":"44339607f4c98845","type":"subflow:141be7efec2adc8d","z":"3005bf51786e6b52","name":"The new Google Fonts: find what you’re looking for","env":[{"name":"createdAt","value":"Sat, 09 Sep 2023 02:38:22 +0000","type":"str"},{"name":"updatedAt","value":"Sat, 09 Sep 2023 02:38:22 +0000","type":"str"}],"x":1401,"y":636,"wires":[[]],"info":"<p>Article URL: <a href=\"https://material.io/blog/2023-google-fonts-redesign\">https://material.io/blog/2023-google-fonts-redesign</a></p>\n<p>Comments URL: <a href=\"https://news.ycombinator.com/item?id=37441683\">https://news.ycombinator.com/item?id=37441683</a></p>\n<p>Points: 47</p>\n<p># Comments: 34</p>"},{"id":"5154e01fa5da6cad","type":"base64","z":"3005bf51786e6b52","g":"6a69f61a0d541aec","name":"","action":"str","property":"payload","x":1073,"y":1033,"wires":[["9afb6e01f9bae6c5"]]},{"id":"431fb903fa3372e4","type":"template","z":"3005bf51786e6b52","g":"6a69f61a0d541aec","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Hello WOrld\n\npßöü+äö-äÖÄÄ*_''«©åƒ∑√∂∆å'\n\nBe´´ Cruel Wø®l∂\n\n","output":"str","x":835,"y":993,"wires":[["5154e01fa5da6cad"]]},{"id":"9afb6e01f9bae6c5","type":"base64","z":"3005bf51786e6b52","g":"6a69f61a0d541aec","name":"","action":"b64","property":"payload","x":1346,"y":962,"wires":[["2bb2176d1913f8c0"]]},{"id":"2bb2176d1913f8c0","type":"debug","z":"3005bf51786e6b52","g":"6a69f61a0d541aec","name":"debug 28","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1675,"y":1055,"wires":[]},{"id":"a2f2ad59fbca1af7","type":"inject","z":"3005bf51786e6b52","g":"6a69f61a0d541aec","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":790,"y":840,"wires":[["431fb903fa3372e4"]]}]