b0060c3057106347/flows.json
[{"id":"65b7b14fbfe2fe6b","type":"subflow","name":"LED (3) (2)","info":"","category":"","in":[{"x":512,"y":396.5,"wires":[{"id":"950f44b365723744"}]}],"out":[{"x":881,"y":322,"wires":[{"id":"950f44b365723744","port":0}]}],"env":[],"meta":{},"color":"#FFF","icon":"node-red/light.svg"},{"id":"950f44b365723744","type":"ClientCode","z":"65b7b14fbfe2fe6b","name":"","clientcode":"var ndeId = (msg._subflowOut || [\"\"])[0].split(\":\")[1]\n\nif (msg.action == \"random\") {\n\n    setTimeout(() => {\n        var v = Math.round(Math.random() * 100);\n        var fillVal = (v < 20 ? \"green\" : (v < 40 ? \"red\" : (v < 60 ? \"yellow\" : (v < 80 ? \"blue\" : \"grey\"))))\n        $($('#' + ndeId).find('rect')[0]).css('fill', fillVal)\n\n        if (!msg.freeze) {\n            setTimeout(() => { $($('#' + ndeId).find('rect')[0]).css('fill', 'white') }, (750 * Math.random()) + 250);\n        }\n\n        msg.column += 1;\n        node.send(msg)\n    }, msg.delay);\n}\n\nif (msg.action == \"rolling\") {\n    var columns = [\n        [\"green\", \"yellow\", \"red\", \"blue\"] //,\"grey\"],\n    ];\n\n    var clr = columns[msg.row % columns.length][msg.column % columns[0].length];\n\n    setTimeout(() => {\n        $($('#' + ndeId).find('rect')[0]).css('fill', clr)\n\n        if (!msg.freeze) {\n            setTimeout(() => { $($('#' + ndeId).find('rect')[0]).css('fill', 'white') }, 350);\n        }\n\n        msg.column += 1;\n        node.send(msg)\n    }, msg.delay);\n}\n\nif (msg.action == \"dotmatrix\") {\n    var uint_8 = /* 16px by 16px, column major, big endian. @ http://dotmatrixtool.com */\n        [\n            0xfe, 0xff, 0x40, 0x88, 0x20, 0x8c, 0xfe, 0x8a, 0x00, 0x71, 0x7c, 0x00, 0x82, 0xff, 0x7c, 0x99, 0x00, 0x99, 0xfe, 0x81, 0x82, 0x00, 0x7c, 0xff, 0x00, 0x81, 0xfe, 0x81, 0x92, 0x42, 0x82, 0x3c, 0x00, 0x00\n        ];\n    var mod = uint_8.length / 2\n\n    var b = uint_8.map((d) => { return (\"000000000\" + d.toString(2)).slice(-8) })\n    var cidx = ((msg.column % mod) * 2) + (msg.row > 7 ? 1 : 0);\n    var ridx = msg.row % 8;\n\n    var clr = b[cidx][ridx] == \"1\" ? \"red\" : \"white\"\n\n    setTimeout(() => {\n        $($('#' + ndeId).find('rect')[0]).css('fill', clr)\n\n        if (!msg.freeze) {\n            setTimeout(() => { $($('#' + ndeId).find('rect')[0]).css('fill', 'white') }, 350);\n        }\n\n        msg.column += 1;\n        node.send(msg)\n    }, msg.delay);\n}\n\n","format":"javascript","x":686,"y":357.5,"wires":[[]]},{"id":"b0060c3057106347","type":"tab","label":"[genuary] #1","disabled":false,"info":"## Generative Art\n\nPart of [Genuary24](https://genuary.art) and can be [viewed in action](https://deadred.openmindmap.org?t=0&fhid=b0060c3057106347).\n\nA Node-RED flow which generates art, the program becomes the art. The connections pass the messages that make the nodes perform their tasks. A change in the connections, a change in the art, a change in the program. The nodes become particles, the particles become the program.\n\n## Recursion, Reflection and Rethinking\n\nBlurring the lines between coding, art and industry triggers a rethinking of what is possible and why it has become possible.  Node-RED is popular amongst industrial IoT, upon reflection though, one sees the particles that direct the data of Industry. Rectangles become nodes, lines come wires, flows become art.\n\nIt is **not** recommended to run this flow in Node-RED, it will cause the Node-RED instance to freeze up - without warning. This should only be executed in the [deadred](https://deadred.openmindmap.org?t=0&fhid=b0060c3057106347) viewer.\n\nFor more details on flows and flow execution, see the [precursor](https://flowhub.org/f/a3f6aebd9bb877bc) to this flow.\n\n#genuary1\n\n![img](https://cdn.openmindmap.org/content/1704108157095_genuary01.gif)\n","env":[]},{"id":"828ecb5fa07b53ab","type":"junction","z":"b0060c3057106347","x":2496.999496459961,"y":201.33355140686035,"wires":[["825b52531537f526"]]},{"id":"880754956485d235","type":"inject","z":"b0060c3057106347","name":"dotmatrix","props":[{"p":"action","v":"dotmatrix","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"4","topic":"","x":2421.999496459961,"y":120.08376789093018,"wires":[["828ecb5fa07b53ab"]]},{"id":"750294abdfe0cf2d","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":2614.999496459961,"y":609.3335514068604,"wires":[["0c49aa4fa9ed13af"]]},{"id":"0c49aa4fa9ed13af","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":2614.999496459961,"y":670.3335514068604,"wires":[["23c5cbc935615f66"]]},{"id":"23c5cbc935615f66","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":2614.999496459961,"y":731.3335514068604,"wires":[["a36a2cda38408a2a"]]},{"id":"a36a2cda38408a2a","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":2614.999496459961,"y":792.3335514068604,"wires":[["2c48450b9290f1c6"]]},{"id":"2c48450b9290f1c6","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":2614.999496459961,"y":861.3335514068604,"wires":[["c8170722a985c50f"]]},{"id":"c8170722a985c50f","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":2614.999496459961,"y":938.3335514068604,"wires":[["102d4f9cb5275359"]]},{"id":"102d4f9cb5275359","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":2614.999496459961,"y":1015.3335514068604,"wires":[["2bbd4b1e1c141030"]]},{"id":"2bbd4b1e1c141030","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":2614.999496459961,"y":1092.3335514068604,"wires":[["0190548c85d06cae"]]},{"id":"0190548c85d06cae","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":2614.999496459961,"y":1169.3335514068604,"wires":[["9e4a246758a542cf"]]},{"id":"9e4a246758a542cf","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":2614.999496459961,"y":1246.3335514068604,"wires":[["ab519504206725d8"]]},{"id":"ab519504206725d8","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":2614.999496459961,"y":1323.3335514068604,"wires":[["671b7b2b0dfc98ce"]]},{"id":"671b7b2b0dfc98ce","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":2614.999496459961,"y":1400.3335514068604,"wires":[["40bc0fbb7c2ecbe0"]]},{"id":"40bc0fbb7c2ecbe0","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":2614.999496459961,"y":1477.3335514068604,"wires":[["f768756169e969a3"]]},{"id":"f768756169e969a3","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":2614.999496459961,"y":1554.3335514068604,"wires":[["9ee0ba6ebe480ec7"]]},{"id":"9ee0ba6ebe480ec7","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":2614.999496459961,"y":1623.3335514068604,"wires":[["fd9c426f2eecdf51"]]},{"id":"fd9c426f2eecdf51","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":2614.999496459961,"y":1700.3335514068604,"wires":[["edb264c45c626f98"]]},{"id":"931667eb46990b31","type":"link out","z":"b0060c3057106347","name":"link out 81","mode":"link","links":["2edeadab8662791b"],"x":2646.999496459961,"y":3248.3335514068604,"wires":[]},{"id":"2edeadab8662791b","type":"link in","z":"b0060c3057106347","name":"link in 2","links":["931667eb46990b31"],"x":3031.999496459961,"y":118.83376789093018,"wires":[["750294abdfe0cf2d"]]},{"id":"91d3df1d37cc7a42","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":2441.999496459961,"y":670.3335514068604,"wires":[["15caf8a1680a40a3"]]},{"id":"15caf8a1680a40a3","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":2441.999496459961,"y":731.3335514068604,"wires":[["a9c13187f7cec661"]]},{"id":"a9c13187f7cec661","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":2441.999496459961,"y":792.3335514068604,"wires":[["7c58714d656bfe39"]]},{"id":"7c58714d656bfe39","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":2441.999496459961,"y":861.3335514068604,"wires":[["f8dbcb22b48bf93c"]]},{"id":"f8dbcb22b48bf93c","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":2441.999496459961,"y":938.3335514068604,"wires":[["547d0973b1eb3021"]]},{"id":"547d0973b1eb3021","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":2441.999496459961,"y":1015.3335514068604,"wires":[["b29289e0081179b5"]]},{"id":"b29289e0081179b5","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":2441.999496459961,"y":1092.3335514068604,"wires":[["da51e66112da31fe"]]},{"id":"da51e66112da31fe","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":2441.999496459961,"y":1169.3335514068604,"wires":[["cf05201864598088"]]},{"id":"cf05201864598088","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":2441.999496459961,"y":1246.3335514068604,"wires":[["0a02912a86065b5f"]]},{"id":"0a02912a86065b5f","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":2441.999496459961,"y":1323.3335514068604,"wires":[["fe57e837fcc94395"]]},{"id":"fe57e837fcc94395","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":2441.999496459961,"y":1400.3335514068604,"wires":[["eb3de87e11aa5f56"]]},{"id":"eb3de87e11aa5f56","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":2441.999496459961,"y":1477.3335514068604,"wires":[["25120884fe978ad0"]]},{"id":"25120884fe978ad0","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":2441.999496459961,"y":1554.3335514068604,"wires":[["44b8fd0839510369"]]},{"id":"44b8fd0839510369","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":2441.999496459961,"y":1631.3335514068604,"wires":[["691f59e7ba278389"]]},{"id":"691f59e7ba278389","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":2441.999496459961,"y":1700.3335514068604,"wires":[["38531d8ab264e342"]]},{"id":"38531d8ab264e342","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":2441.999496459961,"y":1777.3335514068604,"wires":[["6d5d0080d075b993"]]},{"id":"195c9fde56d3634f","type":"link out","z":"b0060c3057106347","name":"link out 82","mode":"link","links":["b87a006eb5bdeb40"],"x":2473.999496459961,"y":3325.3335514068604,"wires":[]},{"id":"b87a006eb5bdeb40","type":"link in","z":"b0060c3057106347","name":"link in 3","links":["195c9fde56d3634f"],"x":3102.532879638672,"y":118.83376789093018,"wires":[["91d3df1d37cc7a42"]]},{"id":"231aa663eb5958de","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":2268.999496459961,"y":731.3335514068604,"wires":[["ecca9060ca76b150"]]},{"id":"ecca9060ca76b150","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":2268.999496459961,"y":792.3335514068604,"wires":[["12711464a7e9626e"]]},{"id":"12711464a7e9626e","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":2268.999496459961,"y":861.3335514068604,"wires":[["2f2b14be715d4e1e"]]},{"id":"2f2b14be715d4e1e","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":2268.999496459961,"y":938.3335514068604,"wires":[["8d3647849c6e5a73"]]},{"id":"8d3647849c6e5a73","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":2268.999496459961,"y":1015.3335514068604,"wires":[["ab32f8583bbf19da"]]},{"id":"ab32f8583bbf19da","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":2268.999496459961,"y":1092.3335514068604,"wires":[["613e14ae61ca3d53"]]},{"id":"613e14ae61ca3d53","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":2268.999496459961,"y":1169.3335514068604,"wires":[["90c22a45e4101993"]]},{"id":"90c22a45e4101993","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":2268.999496459961,"y":1246.3335514068604,"wires":[["87670bd6e4308df3"]]},{"id":"87670bd6e4308df3","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":2268.999496459961,"y":1323.3335514068604,"wires":[["3d5b53eaad278ac7"]]},{"id":"3d5b53eaad278ac7","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":2268.999496459961,"y":1400.3335514068604,"wires":[["1faa6052b1c31995"]]},{"id":"1faa6052b1c31995","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":2268.999496459961,"y":1477.3335514068604,"wires":[["632efbb1387e50fb"]]},{"id":"632efbb1387e50fb","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":2268.999496459961,"y":1554.3335514068604,"wires":[["0e4255af68df2ae1"]]},{"id":"0e4255af68df2ae1","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":2268.999496459961,"y":1631.3335514068604,"wires":[["195eeba728ae3403"]]},{"id":"195eeba728ae3403","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":2268.999496459961,"y":1700.3335514068604,"wires":[["9f31fed834794159"]]},{"id":"9f31fed834794159","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":2268.999496459961,"y":1777.3335514068604,"wires":[["743dfc0adc8ab2fb"]]},{"id":"743dfc0adc8ab2fb","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":2268.999496459961,"y":1854.3335514068604,"wires":[["6476e9a0a90bdbda"]]},{"id":"5f88aec1d5465d59","type":"link out","z":"b0060c3057106347","name":"link out 83","mode":"link","links":["8695a4e6aff2f36a"],"x":2300.999496459961,"y":3394.3335514068604,"wires":[]},{"id":"8695a4e6aff2f36a","type":"link in","z":"b0060c3057106347","name":"link in 4","links":["5f88aec1d5465d59"],"x":3173.066262817383,"y":118.83376789093018,"wires":[["231aa663eb5958de"]]},{"id":"ef866aedde0909d9","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":2095.999496459961,"y":792.3335514068604,"wires":[["27431482409bc3d8"]]},{"id":"27431482409bc3d8","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":2095.999496459961,"y":861.3335514068604,"wires":[["0d8350e11735415f"]]},{"id":"0d8350e11735415f","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":2095.999496459961,"y":938.3335514068604,"wires":[["6a458d77d4b238e2"]]},{"id":"6a458d77d4b238e2","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":2095.999496459961,"y":1015.3335514068604,"wires":[["aa0f097eb24e4507"]]},{"id":"aa0f097eb24e4507","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":2095.999496459961,"y":1092.3335514068604,"wires":[["eb916213e290a242"]]},{"id":"eb916213e290a242","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":2095.999496459961,"y":1169.3335514068604,"wires":[["b09663fdf9c36754"]]},{"id":"b09663fdf9c36754","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":2095.999496459961,"y":1246.3335514068604,"wires":[["db9f32a9855c1953"]]},{"id":"db9f32a9855c1953","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":2095.999496459961,"y":1323.3335514068604,"wires":[["572b2140414eef25"]]},{"id":"572b2140414eef25","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":2095.999496459961,"y":1400.3335514068604,"wires":[["b27fcc592cc5a894"]]},{"id":"b27fcc592cc5a894","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":2095.999496459961,"y":1477.3335514068604,"wires":[["5f2f4f1b7bdb8b15"]]},{"id":"5f2f4f1b7bdb8b15","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":2095.999496459961,"y":1554.3335514068604,"wires":[["86138fd487ebd3e5"]]},{"id":"86138fd487ebd3e5","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":2095.999496459961,"y":1631.3335514068604,"wires":[["d19e8e63855844bb"]]},{"id":"d19e8e63855844bb","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":2095.999496459961,"y":1708.3335514068604,"wires":[["a031ecadc4eb0e07"]]},{"id":"a031ecadc4eb0e07","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":2095.999496459961,"y":1777.3335514068604,"wires":[["f3f4b4df3dae1f1b"]]},{"id":"f3f4b4df3dae1f1b","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":2095.999496459961,"y":1854.3335514068604,"wires":[["483f4dbaaabe78a7"]]},{"id":"483f4dbaaabe78a7","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":2095.999496459961,"y":1931.3335514068604,"wires":[["fea24448fbabede0"]]},{"id":"5cc7ac46b5191382","type":"link out","z":"b0060c3057106347","name":"link out 84","mode":"link","links":["024fd5cf9ec8a46a"],"x":2127.999496459961,"y":3455.3335514068604,"wires":[]},{"id":"024fd5cf9ec8a46a","type":"link in","z":"b0060c3057106347","name":"link in 5","links":["5cc7ac46b5191382"],"x":3243.5996459960943,"y":118.83376789093018,"wires":[["ef866aedde0909d9"]]},{"id":"4ef7121ccd0bbd3f","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":1922.999496459961,"y":861.3335514068604,"wires":[["05da52ac781a3d77"]]},{"id":"05da52ac781a3d77","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":1922.999496459961,"y":938.3335514068604,"wires":[["0fc36dc7eab1ddb8"]]},{"id":"0fc36dc7eab1ddb8","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":1922.999496459961,"y":1015.3335514068604,"wires":[["180b9816bd26cf56"]]},{"id":"180b9816bd26cf56","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":1922.999496459961,"y":1092.3335514068604,"wires":[["7ff1c8da4a1adc3a"]]},{"id":"7ff1c8da4a1adc3a","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":1922.999496459961,"y":1169.3335514068604,"wires":[["cc50d1297ef80bcc"]]},{"id":"cc50d1297ef80bcc","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":1922.999496459961,"y":1246.3335514068604,"wires":[["4dc180d1eef2ad8a"]]},{"id":"4dc180d1eef2ad8a","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":1922.999496459961,"y":1323.3335514068604,"wires":[["2b5895ccdcb7129a"]]},{"id":"2b5895ccdcb7129a","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":1922.999496459961,"y":1400.3335514068604,"wires":[["dd6a391aad27e0dd"]]},{"id":"dd6a391aad27e0dd","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":1922.999496459961,"y":1477.3335514068604,"wires":[["6955647b7dfaae79"]]},{"id":"6955647b7dfaae79","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":1922.999496459961,"y":1554.3335514068604,"wires":[["37397af384d4302f"]]},{"id":"37397af384d4302f","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":1922.999496459961,"y":1631.3335514068604,"wires":[["68b76f347863e7f9"]]},{"id":"68b76f347863e7f9","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":1922.999496459961,"y":1708.3335514068604,"wires":[["21659c9a9ea967de"]]},{"id":"21659c9a9ea967de","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":1922.999496459961,"y":1785.3335514068604,"wires":[["6e90239d41bd6f4a"]]},{"id":"6e90239d41bd6f4a","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":1922.999496459961,"y":1854.3335514068604,"wires":[["339d2531123ea756"]]},{"id":"339d2531123ea756","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":1922.999496459961,"y":1931.3335514068604,"wires":[["e976dd4664b6517a"]]},{"id":"e976dd4664b6517a","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":1922.999496459961,"y":2008.3335514068604,"wires":[["326aeb2fd191b43e"]]},{"id":"ba3ec145750cc40e","type":"link out","z":"b0060c3057106347","name":"link out 85","mode":"link","links":["830855e05e892605"],"x":1954.999496459961,"y":3516.3335514068604,"wires":[]},{"id":"830855e05e892605","type":"link in","z":"b0060c3057106347","name":"link in 6","links":["ba3ec145750cc40e"],"x":3314.1330291748054,"y":118.83376789093018,"wires":[["4ef7121ccd0bbd3f"]]},{"id":"4befd33673ddda67","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":1749.999496459961,"y":938.3335514068604,"wires":[["9504fb03244b3778"]]},{"id":"9504fb03244b3778","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":1749.999496459961,"y":1015.3335514068604,"wires":[["e016479e192b4675"]]},{"id":"e016479e192b4675","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":1749.999496459961,"y":1092.3335514068604,"wires":[["ea4b88a838d7a927"]]},{"id":"ea4b88a838d7a927","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":1749.999496459961,"y":1169.3335514068604,"wires":[["a266dcd3325159e0"]]},{"id":"a266dcd3325159e0","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":1749.999496459961,"y":1246.3335514068604,"wires":[["3f7f6daf57ba4b40"]]},{"id":"3f7f6daf57ba4b40","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":1749.999496459961,"y":1323.3335514068604,"wires":[["284aaab3435fe2fe"]]},{"id":"284aaab3435fe2fe","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":1749.999496459961,"y":1400.3335514068604,"wires":[["8d5a371a582b804b"]]},{"id":"8d5a371a582b804b","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":1749.999496459961,"y":1477.3335514068604,"wires":[["6101c6ef95bf84cb"]]},{"id":"6101c6ef95bf84cb","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":1749.999496459961,"y":1554.3335514068604,"wires":[["6a166f70c7a0030b"]]},{"id":"6a166f70c7a0030b","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":1749.999496459961,"y":1631.3335514068604,"wires":[["fc3b5117edb80ebb"]]},{"id":"fc3b5117edb80ebb","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":1749.999496459961,"y":1708.3335514068604,"wires":[["5bbf820de36bc0ba"]]},{"id":"5bbf820de36bc0ba","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":1749.999496459961,"y":1785.3335514068604,"wires":[["90a40f1884464b60"]]},{"id":"90a40f1884464b60","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":1749.999496459961,"y":1862.3335514068604,"wires":[["6912fe1e31969252"]]},{"id":"6912fe1e31969252","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":1749.999496459961,"y":1931.3335514068604,"wires":[["b2abc2791ef4090d"]]},{"id":"b2abc2791ef4090d","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":1749.999496459961,"y":2008.3335514068604,"wires":[["eed0672605d2aa36"]]},{"id":"eed0672605d2aa36","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":1749.999496459961,"y":2085.3335514068604,"wires":[["904a91e8057ab77c"]]},{"id":"5dc4faead239cb60","type":"link out","z":"b0060c3057106347","name":"link out 86","mode":"link","links":["015bc463c1fd983d"],"x":1781.999496459961,"y":3577.3335514068604,"wires":[]},{"id":"015bc463c1fd983d","type":"link in","z":"b0060c3057106347","name":"link in 7","links":["5dc4faead239cb60"],"x":3384.6664123535165,"y":118.83376789093018,"wires":[["4befd33673ddda67"]]},{"id":"cd98b6b35d57d360","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":1576.999496459961,"y":1015.3335514068604,"wires":[["ef1154b252650af8"]]},{"id":"ef1154b252650af8","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":1576.999496459961,"y":1092.3335514068604,"wires":[["b8fd6ab972dc9e6c"]]},{"id":"b8fd6ab972dc9e6c","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":1576.999496459961,"y":1169.3335514068604,"wires":[["45e9f895456bcdc7"]]},{"id":"45e9f895456bcdc7","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":1576.999496459961,"y":1246.3335514068604,"wires":[["35ff885f411572de"]]},{"id":"35ff885f411572de","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":1576.999496459961,"y":1323.3335514068604,"wires":[["e4cf4259052c4905"]]},{"id":"e4cf4259052c4905","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":1576.999496459961,"y":1400.3335514068604,"wires":[["d1c716f34a420dc8"]]},{"id":"d1c716f34a420dc8","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":1576.999496459961,"y":1477.3335514068604,"wires":[["a081675e8ca30ce8"]]},{"id":"a081675e8ca30ce8","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":1576.999496459961,"y":1554.3335514068604,"wires":[["d6bb88a2e98de133"]]},{"id":"d6bb88a2e98de133","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":1576.999496459961,"y":1631.3335514068604,"wires":[["a6eaf2acc5d78ff1"]]},{"id":"a6eaf2acc5d78ff1","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":1576.999496459961,"y":1708.3335514068604,"wires":[["1492512ef6b5f11a"]]},{"id":"1492512ef6b5f11a","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":1576.999496459961,"y":1785.3335514068604,"wires":[["4be10807273a9ff8"]]},{"id":"4be10807273a9ff8","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":1576.999496459961,"y":1862.3335514068604,"wires":[["245706e8b237db12"]]},{"id":"245706e8b237db12","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":1576.999496459961,"y":1931.3335514068604,"wires":[["1936187087d93cef"]]},{"id":"1936187087d93cef","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":1576.999496459961,"y":2008.3335514068604,"wires":[["6c43a930736a43d8"]]},{"id":"6c43a930736a43d8","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":1576.999496459961,"y":2085.3335514068604,"wires":[["2232a3e4ab60a437"]]},{"id":"2232a3e4ab60a437","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":1576.999496459961,"y":2162.3335514068604,"wires":[["b701b1fdccd19626"]]},{"id":"9792f98655f5bea3","type":"link out","z":"b0060c3057106347","name":"link out 87","mode":"link","links":["73672fb4ead0ca7c"],"x":1608.999496459961,"y":3638.3335514068604,"wires":[]},{"id":"73672fb4ead0ca7c","type":"link in","z":"b0060c3057106347","name":"link in 8","links":["9792f98655f5bea3"],"x":3455.1997955322277,"y":118.83376789093018,"wires":[["cd98b6b35d57d360"]]},{"id":"627444b1230f9ec6","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":1403.999496459961,"y":1092.3335514068604,"wires":[["8cac726f45a60f07"]]},{"id":"8cac726f45a60f07","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":1403.999496459961,"y":1169.3335514068604,"wires":[["5b458c812fa00225"]]},{"id":"5b458c812fa00225","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":1403.999496459961,"y":1246.3335514068604,"wires":[["221c70c327430cbd"]]},{"id":"221c70c327430cbd","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":1403.999496459961,"y":1323.3335514068604,"wires":[["f98d0784a0d7b3db"]]},{"id":"f98d0784a0d7b3db","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":1403.999496459961,"y":1400.3335514068604,"wires":[["01cc95c2dbb8cb0c"]]},{"id":"01cc95c2dbb8cb0c","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":1403.999496459961,"y":1477.3335514068604,"wires":[["925f15db1922a8a0"]]},{"id":"925f15db1922a8a0","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":1403.999496459961,"y":1554.3335514068604,"wires":[["a87c6afa0295fec8"]]},{"id":"a87c6afa0295fec8","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":1403.999496459961,"y":1631.3335514068604,"wires":[["c9f2a282626549de"]]},{"id":"c9f2a282626549de","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":1403.999496459961,"y":1708.3335514068604,"wires":[["d55eb01a5710e8c2"]]},{"id":"d55eb01a5710e8c2","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":1403.999496459961,"y":1785.3335514068604,"wires":[["1a9b53f26354bcbd"]]},{"id":"1a9b53f26354bcbd","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":1403.999496459961,"y":1862.3335514068604,"wires":[["10f7934f1770bb3d"]]},{"id":"10f7934f1770bb3d","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":1403.999496459961,"y":1939.3335514068604,"wires":[["d49c340aba360ba9"]]},{"id":"d49c340aba360ba9","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":1403.999496459961,"y":2008.3335514068604,"wires":[["28d266c0ac4bc382"]]},{"id":"28d266c0ac4bc382","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":1403.999496459961,"y":2085.3335514068604,"wires":[["29ed9fa02645c26a"]]},{"id":"29ed9fa02645c26a","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":1403.999496459961,"y":2162.3335514068604,"wires":[["660c4424861d2d56"]]},{"id":"660c4424861d2d56","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":1403.999496459961,"y":2239.3335514068604,"wires":[["850489181dcbeee1"]]},{"id":"2fcf3cbeeac1ba7a","type":"link out","z":"b0060c3057106347","name":"link out 88","mode":"link","links":["926b4badb84e9552"],"x":1435.999496459961,"y":3699.3335514068604,"wires":[]},{"id":"926b4badb84e9552","type":"link in","z":"b0060c3057106347","name":"link in 9","links":["2fcf3cbeeac1ba7a"],"x":3525.733178710939,"y":118.83376789093018,"wires":[["627444b1230f9ec6"]]},{"id":"aeea7510a6d94cf5","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":1230.999496459961,"y":1169.3335514068604,"wires":[["1d2a2f0c423aac24"]]},{"id":"1d2a2f0c423aac24","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":1230.999496459961,"y":1246.3335514068604,"wires":[["0f1cdccd9a452269"]]},{"id":"0f1cdccd9a452269","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":1230.999496459961,"y":1323.3335514068604,"wires":[["e80c9ecb617426f8"]]},{"id":"e80c9ecb617426f8","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":1230.999496459961,"y":1400.3335514068604,"wires":[["337381c761df7c23"]]},{"id":"337381c761df7c23","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":1230.999496459961,"y":1477.3335514068604,"wires":[["84defa577c223eaa"]]},{"id":"84defa577c223eaa","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":1230.999496459961,"y":1554.3335514068604,"wires":[["1d3191c877604ca5"]]},{"id":"1d3191c877604ca5","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":1230.999496459961,"y":1631.3335514068604,"wires":[["acd5cc8323f17520"]]},{"id":"acd5cc8323f17520","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":1230.999496459961,"y":1708.3335514068604,"wires":[["928d586666e3c01f"]]},{"id":"928d586666e3c01f","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":1230.999496459961,"y":1785.3335514068604,"wires":[["9bd361b39fde5e78"]]},{"id":"9bd361b39fde5e78","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":1230.999496459961,"y":1862.3335514068604,"wires":[["23a276b6bcaba689"]]},{"id":"23a276b6bcaba689","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":1230.999496459961,"y":1939.3335514068604,"wires":[["2d955e71b30f52df"]]},{"id":"2d955e71b30f52df","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":1230.999496459961,"y":2016.3335514068604,"wires":[["eb97be7776ee5625"]]},{"id":"eb97be7776ee5625","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":1230.999496459961,"y":2085.3335514068604,"wires":[["2f29c9457b44b580"]]},{"id":"2f29c9457b44b580","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":1230.999496459961,"y":2162.3335514068604,"wires":[["b8dc4db2f503cf0a"]]},{"id":"b8dc4db2f503cf0a","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":1230.999496459961,"y":2239.3335514068604,"wires":[["0f254baee89b2adc"]]},{"id":"0f254baee89b2adc","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":1230.999496459961,"y":2316.3335514068604,"wires":[["acb3a999455b955f"]]},{"id":"bbdaf308a55fa73e","type":"link out","z":"b0060c3057106347","name":"link out 89","mode":"link","links":["0be5880698595c31"],"x":1262.999496459961,"y":3760.3335514068604,"wires":[]},{"id":"0be5880698595c31","type":"link in","z":"b0060c3057106347","name":"link in 10","links":["bbdaf308a55fa73e"],"x":3596.26656188965,"y":118.83376789093018,"wires":[["aeea7510a6d94cf5"]]},{"id":"bcd48d1f5d2a57b0","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":1057.999496459961,"y":1246.3335514068604,"wires":[["dba851cd6f1553ca"]]},{"id":"dba851cd6f1553ca","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":1057.999496459961,"y":1323.3335514068604,"wires":[["2879dbb0774fd8d8"]]},{"id":"2879dbb0774fd8d8","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":1057.999496459961,"y":1400.3335514068604,"wires":[["360c36c769ccd69d"]]},{"id":"360c36c769ccd69d","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":1057.999496459961,"y":1477.3335514068604,"wires":[["4a3b71d692bd195a"]]},{"id":"4a3b71d692bd195a","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":1057.999496459961,"y":1554.3335514068604,"wires":[["ffdb211414ce4f2b"]]},{"id":"ffdb211414ce4f2b","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":1057.999496459961,"y":1631.3335514068604,"wires":[["17d60a48178666bd"]]},{"id":"17d60a48178666bd","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":1057.999496459961,"y":1708.3335514068604,"wires":[["d637e889682cc8c7"]]},{"id":"d637e889682cc8c7","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":1057.999496459961,"y":1785.3335514068604,"wires":[["efbae8b49277c504"]]},{"id":"efbae8b49277c504","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":1057.999496459961,"y":1862.3335514068604,"wires":[["d6488af374744969"]]},{"id":"d6488af374744969","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":1057.999496459961,"y":1939.3335514068604,"wires":[["5afc0f322a9975a9"]]},{"id":"5afc0f322a9975a9","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":1057.999496459961,"y":2016.3335514068604,"wires":[["a635f67e5f77417d"]]},{"id":"a635f67e5f77417d","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":1057.999496459961,"y":2093.3335514068604,"wires":[["05d637ec026043ce"]]},{"id":"05d637ec026043ce","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":1057.999496459961,"y":2162.3335514068604,"wires":[["d6a8afdd49efd972"]]},{"id":"d6a8afdd49efd972","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":1057.999496459961,"y":2239.3335514068604,"wires":[["b7aa121e7ee78842"]]},{"id":"b7aa121e7ee78842","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":1057.999496459961,"y":2316.3335514068604,"wires":[["41dcfb099bdcf584"]]},{"id":"41dcfb099bdcf584","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":1057.999496459961,"y":2393.3335514068604,"wires":[["923014658a6aec79"]]},{"id":"24f9d491ef6bd4ea","type":"link out","z":"b0060c3057106347","name":"link out 90","mode":"link","links":["37a24be273d762d9"],"x":1089.999496459961,"y":3821.3335514068604,"wires":[]},{"id":"37a24be273d762d9","type":"link in","z":"b0060c3057106347","name":"link in 11","links":["24f9d491ef6bd4ea"],"x":3666.799945068361,"y":118.83376789093018,"wires":[["bcd48d1f5d2a57b0"]]},{"id":"4d8e1e7ae5701256","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":2790.500244140625,"y":642.334228515625,"wires":[["697291a6f792a90a"]]},{"id":"697291a6f792a90a","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":2790.500244140625,"y":703.334228515625,"wires":[["3afb5b6b470527d4"]]},{"id":"3afb5b6b470527d4","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":2790.500244140625,"y":764.334228515625,"wires":[["a4fae4f2753ee4ab"]]},{"id":"a4fae4f2753ee4ab","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":2790.500244140625,"y":825.334228515625,"wires":[["3e5ecfbb8ba1db6f"]]},{"id":"3e5ecfbb8ba1db6f","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":2790.500244140625,"y":886.334228515625,"wires":[["624d663b19e19cfa"]]},{"id":"624d663b19e19cfa","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":2790.500244140625,"y":947.334228515625,"wires":[["38f3a29bd0b05a4a"]]},{"id":"38f3a29bd0b05a4a","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":2790.500244140625,"y":1008.334228515625,"wires":[["0ff7f56f0f204f8d"]]},{"id":"0ff7f56f0f204f8d","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":2790.500244140625,"y":1069.334228515625,"wires":[["1206a5b5598e4cbb"]]},{"id":"1206a5b5598e4cbb","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":2790.500244140625,"y":1130.334228515625,"wires":[["d07ee5c08698e6e6"]]},{"id":"d07ee5c08698e6e6","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":2790.500244140625,"y":1191.334228515625,"wires":[["fdf300a41f30c131"]]},{"id":"fdf300a41f30c131","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":2790.500244140625,"y":1252.334228515625,"wires":[["243e2719dd38f321"]]},{"id":"243e2719dd38f321","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":2790.500244140625,"y":1313.334228515625,"wires":[["a3d904fcc85e0965"]]},{"id":"a3d904fcc85e0965","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":2790.500244140625,"y":1390.334228515625,"wires":[["d86b11809ea0cc00"]]},{"id":"d86b11809ea0cc00","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":2790.500244140625,"y":1467.334228515625,"wires":[["f76eaa23e3f1aba0"]]},{"id":"f76eaa23e3f1aba0","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":2790.500244140625,"y":1544.334228515625,"wires":[["5d11da829816a76c"]]},{"id":"5d11da829816a76c","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":2790.500244140625,"y":1621.334228515625,"wires":[["f86b6ccc791242d4"]]},{"id":"22cc36f5a5c93029","type":"link out","z":"b0060c3057106347","name":"link out 91","mode":"link","links":["54374123f80df092"],"x":2822.500244140625,"y":3169.334228515625,"wires":[]},{"id":"54374123f80df092","type":"link in","z":"b0060c3057106347","name":"link in 12","links":["22cc36f5a5c93029"],"x":4090.000244140625,"y":118.83376789093018,"wires":[["4d8e1e7ae5701256"]]},{"id":"a048deb9a50129dc","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":894.9994964599609,"y":1400.3335514068604,"wires":[["32ae3611d941cd94"]]},{"id":"32ae3611d941cd94","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":894.9994964599609,"y":1477.3335514068604,"wires":[["a5056a6c7d50f281"]]},{"id":"a5056a6c7d50f281","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":894.9994964599609,"y":1554.3335514068604,"wires":[["a20b1038a5c23a2a"]]},{"id":"a20b1038a5c23a2a","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":894.9994964599609,"y":1631.3335514068604,"wires":[["c27d2213a9e5b571"]]},{"id":"c27d2213a9e5b571","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":894.9994964599609,"y":1708.3335514068604,"wires":[["e16567173e34fa0c"]]},{"id":"e16567173e34fa0c","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":894.9994964599609,"y":1785.3335514068604,"wires":[["001e790dec76b83e"]]},{"id":"001e790dec76b83e","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":894.9994964599609,"y":1862.3335514068604,"wires":[["2b338f7c469380d5"]]},{"id":"2b338f7c469380d5","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":894.9994964599609,"y":1939.3335514068604,"wires":[["29bf579c47681953"]]},{"id":"29bf579c47681953","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":894.9994964599609,"y":2016.3335514068604,"wires":[["7935cc68e683c073"]]},{"id":"7935cc68e683c073","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":894.9994964599609,"y":2093.3335514068604,"wires":[["569afb95d23c9037"]]},{"id":"569afb95d23c9037","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":894.9994964599609,"y":2170.3335514068604,"wires":[["0901acee659bac9b"]]},{"id":"0901acee659bac9b","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":894.9994964599609,"y":2239.3335514068604,"wires":[["67dc358519ac8411"]]},{"id":"67dc358519ac8411","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":894.9994964599609,"y":2316.3335514068604,"wires":[["3bc77c10c7140753"]]},{"id":"3bc77c10c7140753","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":894.9994964599609,"y":2393.3335514068604,"wires":[["b8c4e2c4cbf544be"]]},{"id":"b8c4e2c4cbf544be","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":894.9994964599609,"y":2470.3335514068604,"wires":[["5e3109fd9f37d9d8"]]},{"id":"5e3109fd9f37d9d8","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":894.9994964599609,"y":2547.3335514068604,"wires":[["4ffcd40bd5731399"]]},{"id":"6fb166c19430fd45","type":"link out","z":"b0060c3057106347","name":"link out 92","mode":"link","links":["0c1b292891725296"],"x":926.9994964599609,"y":3943.3335514068604,"wires":[]},{"id":"0c1b292891725296","type":"link in","z":"b0060c3057106347","name":"link in 13","links":["6fb166c19430fd45"],"x":3737.333328247072,"y":118.83376789093018,"wires":[["a048deb9a50129dc"]]},{"id":"cad4b66111ddeaca","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":721.9994964599609,"y":1477.3335514068604,"wires":[["d5da962dd75f3798"]]},{"id":"d5da962dd75f3798","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":721.9994964599609,"y":1554.3335514068604,"wires":[["2dc8656d49d77a02"]]},{"id":"2dc8656d49d77a02","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":721.9994964599609,"y":1631.3335514068604,"wires":[["9482fd8146014415"]]},{"id":"9482fd8146014415","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":721.9994964599609,"y":1708.3335514068604,"wires":[["6a1f487d5415010f"]]},{"id":"6a1f487d5415010f","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":721.9994964599609,"y":1785.3335514068604,"wires":[["f59b1e1bddae347c"]]},{"id":"f59b1e1bddae347c","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":721.9994964599609,"y":1862.3335514068604,"wires":[["f9c7cc4a8fa54569"]]},{"id":"f9c7cc4a8fa54569","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":721.9994964599609,"y":1939.3335514068604,"wires":[["177475a90d1c0a5d"]]},{"id":"177475a90d1c0a5d","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":721.9994964599609,"y":2016.3335514068604,"wires":[["fdf61fa2ae1cdfd9"]]},{"id":"fdf61fa2ae1cdfd9","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":721.9994964599609,"y":2093.3335514068604,"wires":[["e0e4571fca4fe607"]]},{"id":"e0e4571fca4fe607","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":721.9994964599609,"y":2170.3335514068604,"wires":[["a7b800edbab6272b"]]},{"id":"a7b800edbab6272b","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":721.9994964599609,"y":2247.3335514068604,"wires":[["b9802b7994f77711"]]},{"id":"b9802b7994f77711","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":721.9994964599609,"y":2316.3335514068604,"wires":[["51f7fdc9e3dbd6b2"]]},{"id":"51f7fdc9e3dbd6b2","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":721.9994964599609,"y":2393.3335514068604,"wires":[["512603d7b33496d5"]]},{"id":"512603d7b33496d5","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":721.9994964599609,"y":2470.3335514068604,"wires":[["f112996c39b4b5ab"]]},{"id":"f112996c39b4b5ab","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":721.9994964599609,"y":2547.3335514068604,"wires":[["a74730416b4552a9"]]},{"id":"a74730416b4552a9","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":721.9994964599609,"y":2624.3335514068604,"wires":[["5ef252af7122ac89"]]},{"id":"8b907f1c27bc5777","type":"link out","z":"b0060c3057106347","name":"link out 93","mode":"link","links":["55a9fed7435ab0ab"],"x":753.9994964599609,"y":4004.3335514068604,"wires":[]},{"id":"55a9fed7435ab0ab","type":"link in","z":"b0060c3057106347","name":"link in 14","links":["8b907f1c27bc5777"],"x":3807.8667114257833,"y":118.83376789093018,"wires":[["cad4b66111ddeaca"]]},{"id":"4d86db262a8852e7","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":548.9994964599609,"y":1554.3335514068604,"wires":[["ea853adce5d24ace"]]},{"id":"ea853adce5d24ace","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":548.9994964599609,"y":1631.3335514068604,"wires":[["7670b2502db3acc9"]]},{"id":"7670b2502db3acc9","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":548.9994964599609,"y":1708.3335514068604,"wires":[["80bf8c65b05c7fef"]]},{"id":"80bf8c65b05c7fef","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":548.9994964599609,"y":1785.3335514068604,"wires":[["8dd6e4dc7a182fac"]]},{"id":"8dd6e4dc7a182fac","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":548.9994964599609,"y":1862.3335514068604,"wires":[["3003c0f363c7dd4f"]]},{"id":"3003c0f363c7dd4f","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":548.9994964599609,"y":1939.3335514068604,"wires":[["f0303edd164a0d88"]]},{"id":"f0303edd164a0d88","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":548.9994964599609,"y":2016.3335514068604,"wires":[["849af3c36a3f2a41"]]},{"id":"849af3c36a3f2a41","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":548.9994964599609,"y":2093.3335514068604,"wires":[["aa6a25cf3ed39f07"]]},{"id":"aa6a25cf3ed39f07","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":548.9994964599609,"y":2170.3335514068604,"wires":[["53153517c72bed26"]]},{"id":"53153517c72bed26","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":548.9994964599609,"y":2247.3335514068604,"wires":[["73fc510a4082fa34"]]},{"id":"73fc510a4082fa34","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":548.9994964599609,"y":2324.3335514068604,"wires":[["8422d026dc14a0d8"]]},{"id":"8422d026dc14a0d8","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":548.9994964599609,"y":2393.3335514068604,"wires":[["31f647398e060822"]]},{"id":"31f647398e060822","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":548.9994964599609,"y":2470.3335514068604,"wires":[["1c4230c9cfcbcdee"]]},{"id":"1c4230c9cfcbcdee","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":548.9994964599609,"y":2547.3335514068604,"wires":[["477c21f0b10201ec"]]},{"id":"477c21f0b10201ec","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":548.9994964599609,"y":2624.3335514068604,"wires":[["f839d2163eb291ca"]]},{"id":"f839d2163eb291ca","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":548.9994964599609,"y":2701.3335514068604,"wires":[["f110124d99a5c02b"]]},{"id":"61bc9eadbecca0a0","type":"link out","z":"b0060c3057106347","name":"link out 94","mode":"link","links":["32732f301a63e032"],"x":580.9994964599609,"y":4065.3335514068604,"wires":[]},{"id":"32732f301a63e032","type":"link in","z":"b0060c3057106347","name":"link in 15","links":["61bc9eadbecca0a0","e4f4a1f88a9c3e04"],"x":3878.4000946044944,"y":118.83376789093018,"wires":[["4d86db262a8852e7"]]},{"id":"ba6953434a9c154e","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":375.99949645996094,"y":1631.3335514068604,"wires":[["fe12d6753666397e"]]},{"id":"fe12d6753666397e","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":375.99949645996094,"y":1708.3335514068604,"wires":[["cfee0201ae26046e"]]},{"id":"cfee0201ae26046e","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":375.99949645996094,"y":1785.3335514068604,"wires":[["1477452ee4cf56ae"]]},{"id":"1477452ee4cf56ae","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":375.99949645996094,"y":1862.3335514068604,"wires":[["802d0ce23a3487e5"]]},{"id":"802d0ce23a3487e5","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":375.99949645996094,"y":1939.3335514068604,"wires":[["53911d820657a662"]]},{"id":"53911d820657a662","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":375.99949645996094,"y":2016.3335514068604,"wires":[["169023e0a7023318"]]},{"id":"169023e0a7023318","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":375.99949645996094,"y":2093.3335514068604,"wires":[["3d8636febb974dfe"]]},{"id":"3d8636febb974dfe","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":375.99949645996094,"y":2170.3335514068604,"wires":[["122de8f154871b7e"]]},{"id":"122de8f154871b7e","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":375.99949645996094,"y":2247.3335514068604,"wires":[["ab91080a17709b46"]]},{"id":"ab91080a17709b46","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":375.99949645996094,"y":2324.3335514068604,"wires":[["bda9a0e040cf112e"]]},{"id":"bda9a0e040cf112e","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":375.99949645996094,"y":2393.3335514068604,"wires":[["2bedcf780b697592"]]},{"id":"2bedcf780b697592","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":375.99949645996094,"y":2470.3335514068604,"wires":[["2af02ee3b497aa3f"]]},{"id":"2af02ee3b497aa3f","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":375.99949645996094,"y":2547.3335514068604,"wires":[["21d702ffab86b4af"]]},{"id":"21d702ffab86b4af","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":375.99949645996094,"y":2624.3335514068604,"wires":[["5c507b3590529c68"]]},{"id":"5c507b3590529c68","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":375.99949645996094,"y":2701.3335514068604,"wires":[["2160a23efec030b9"]]},{"id":"2160a23efec030b9","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":375.99949645996094,"y":2778.3335514068604,"wires":[["134780debd206994"]]},{"id":"3da9f3f877fa76b1","type":"link in","z":"b0060c3057106347","name":"link in 16","links":["7d493c1475a2f55e","d413f1c173ab55da"],"x":4019.4668609619166,"y":118.83376789093018,"wires":[["ba6953434a9c154e"]]},{"id":"8fbc6a369886e0cf","type":"change","z":"b0060c3057106347","name":"","rules":[{"t":"set","p":"row","pt":"msg","to":"msg.row + 1","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":2421.999496459961,"y":548.3335514068604,"wires":[["3d0fae4791ec0bfe","750294abdfe0cf2d"]]},{"id":"3d0fae4791ec0bfe","type":"change","z":"b0060c3057106347","name":"","rules":[{"t":"set","p":"row","pt":"msg","to":"msg.row + 1","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":2248.999496459961,"y":609.3335514068604,"wires":[["4a7d751e81326202","91d3df1d37cc7a42"]]},{"id":"4a7d751e81326202","type":"change","z":"b0060c3057106347","name":"","rules":[{"t":"set","p":"row","pt":"msg","to":"msg.row + 1","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":2075.999496459961,"y":670.3335514068604,"wires":[["8160e0e31372877b","231aa663eb5958de"]]},{"id":"8160e0e31372877b","type":"change","z":"b0060c3057106347","name":"","rules":[{"t":"set","p":"row","pt":"msg","to":"msg.row + 1","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1902.999496459961,"y":731.3335514068604,"wires":[["2ed659840e3d7398","ef866aedde0909d9"]]},{"id":"2ed659840e3d7398","type":"change","z":"b0060c3057106347","name":"","rules":[{"t":"set","p":"row","pt":"msg","to":"msg.row + 1","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1729.999496459961,"y":792.3335514068604,"wires":[["617dd105266bb765","4ef7121ccd0bbd3f"]]},{"id":"617dd105266bb765","type":"change","z":"b0060c3057106347","name":"","rules":[{"t":"set","p":"row","pt":"msg","to":"msg.row + 1","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1557.999496459961,"y":861.3335514068604,"wires":[["b80eca91543fd4f2","4befd33673ddda67"]]},{"id":"b80eca91543fd4f2","type":"change","z":"b0060c3057106347","name":"","rules":[{"t":"set","p":"row","pt":"msg","to":"msg.row + 1","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1384.999496459961,"y":938.3335514068604,"wires":[["6fde78b0060fa7c0","cd98b6b35d57d360"]]},{"id":"6fde78b0060fa7c0","type":"change","z":"b0060c3057106347","name":"","rules":[{"t":"set","p":"row","pt":"msg","to":"msg.row + 1","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1213.999496459961,"y":1015.3335514068604,"wires":[["95692e2d03a2186f","627444b1230f9ec6"]]},{"id":"95692e2d03a2186f","type":"change","z":"b0060c3057106347","name":"","rules":[{"t":"set","p":"row","pt":"msg","to":"msg.row + 1","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1042.999496459961,"y":1092.3335514068604,"wires":[["ec194a1740d46ed4","aeea7510a6d94cf5"]]},{"id":"ec194a1740d46ed4","type":"change","z":"b0060c3057106347","name":"","rules":[{"t":"set","p":"row","pt":"msg","to":"msg.row + 1","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":874.9994964599609,"y":1169.3335514068604,"wires":[["bcd48d1f5d2a57b0","f62c1456d1987590"]]},{"id":"f62c1456d1987590","type":"change","z":"b0060c3057106347","name":"","rules":[{"t":"set","p":"row","pt":"msg","to":"msg.row + 1","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":712.9994964599609,"y":1246.3335514068604,"wires":[["e03d0fbbc26e820a","4d8e1e7ae5701256"]]},{"id":"e03d0fbbc26e820a","type":"change","z":"b0060c3057106347","name":"","rules":[{"t":"set","p":"row","pt":"msg","to":"msg.row + 1","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":712.9994964599609,"y":1323.3335514068604,"wires":[["d0d59d163a33424e","a048deb9a50129dc"]]},{"id":"d0d59d163a33424e","type":"change","z":"b0060c3057106347","name":"","rules":[{"t":"set","p":"row","pt":"msg","to":"msg.row + 1","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":550.9994964599609,"y":1400.3335514068604,"wires":[["2c301300804a1152","cad4b66111ddeaca"]]},{"id":"2c301300804a1152","type":"change","z":"b0060c3057106347","name":"","rules":[{"t":"set","p":"row","pt":"msg","to":"msg.row + 1","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":398.99949645996094,"y":1477.3335514068604,"wires":[["1844f21422842bea","4d86db262a8852e7"]]},{"id":"1844f21422842bea","type":"change","z":"b0060c3057106347","name":"","rules":[{"t":"set","p":"row","pt":"msg","to":"msg.row + 1","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":269.99949645996094,"y":1554.3335514068604,"wires":[["ba6953434a9c154e","71a124ca22308e5f"]]},{"id":"d413f1c173ab55da","type":"link out","z":"b0060c3057106347","name":"link out 95","mode":"link","links":["3da9f3f877fa76b1"],"x":407.99949645996094,"y":4126.33355140686,"wires":[]},{"id":"8eba2e3b9b5575e5","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":202.99949645996094,"y":1708.3335514068604,"wires":[["7c2bef83657152d9"]]},{"id":"7c2bef83657152d9","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":202.99949645996094,"y":1785.3335514068604,"wires":[["3093c880d2bcf055"]]},{"id":"3093c880d2bcf055","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":202.99949645996094,"y":1862.3335514068604,"wires":[["605ebcbfb95da654"]]},{"id":"605ebcbfb95da654","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":202.99949645996094,"y":1939.3335514068604,"wires":[["3b3786b4d33c2411"]]},{"id":"3b3786b4d33c2411","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":202.99949645996094,"y":2016.3335514068604,"wires":[["b8d2e1251da0a2e8"]]},{"id":"b8d2e1251da0a2e8","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":202.99949645996094,"y":2093.3335514068604,"wires":[["3aa43126d0e25aae"]]},{"id":"3aa43126d0e25aae","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":202.99949645996094,"y":2170.3335514068604,"wires":[["e4fea551020be14d"]]},{"id":"e4fea551020be14d","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":202.99949645996094,"y":2247.3335514068604,"wires":[["f596390b4fa84448"]]},{"id":"f596390b4fa84448","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":202.99949645996094,"y":2324.3335514068604,"wires":[["6f33f325220395c6"]]},{"id":"6f33f325220395c6","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":202.99949645996094,"y":2401.3335514068604,"wires":[["c6d02ba0d57e4cd9"]]},{"id":"c6d02ba0d57e4cd9","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":202.99949645996094,"y":2470.3335514068604,"wires":[["147193defb8b2532"]]},{"id":"147193defb8b2532","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":202.99949645996094,"y":2547.3335514068604,"wires":[["f498b1e6b37b4eb9"]]},{"id":"f498b1e6b37b4eb9","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":202.99949645996094,"y":2624.3335514068604,"wires":[["efd66d50a9953c22"]]},{"id":"efd66d50a9953c22","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":202.99949645996094,"y":2701.3335514068604,"wires":[["89879c9db26a8d1a"]]},{"id":"89879c9db26a8d1a","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":202.99949645996094,"y":2778.3335514068604,"wires":[["76ea344bf4abc090"]]},{"id":"76ea344bf4abc090","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":202.99949645996094,"y":2855.3335514068604,"wires":[["0d5d5b27ddab417d"]]},{"id":"71a124ca22308e5f","type":"change","z":"b0060c3057106347","name":"","rules":[{"t":"set","p":"row","pt":"msg","to":"msg.row + 1","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":182.99949645996094,"y":1631.3335514068604,"wires":[["8eba2e3b9b5575e5"]]},{"id":"d4254f516b0db70e","type":"link out","z":"b0060c3057106347","name":"link out 97","mode":"link","links":["802b054f7e45074b"],"x":234.99949645996094,"y":4187.33355140686,"wires":[]},{"id":"802b054f7e45074b","type":"link in","z":"b0060c3057106347","name":"link in 17","links":["7d493c1475a2f55e","d4254f516b0db70e"],"x":3948.9334777832055,"y":118.83376789093018,"wires":[["8eba2e3b9b5575e5"]]},{"id":"f84c7f09ed5de8d3","type":"change","z":"b0060c3057106347","name":"verbose?","rules":[{"t":"set","p":"verbose","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":2431.999496459961,"y":304.33355140686035,"wires":[["78f0e53bb755be87"]]},{"id":"22d7aad62a82d80a","type":"change","z":"b0060c3057106347","name":"freeze?","rules":[{"t":"set","p":"freeze","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":2431.999496459961,"y":426.33355140686035,"wires":[["54ae338631bd9354"]]},{"id":"54ae338631bd9354","type":"change","z":"b0060c3057106347","name":"row & column","rules":[{"t":"set","p":"column","pt":"msg","to":"0","tot":"num"},{"t":"set","p":"row","pt":"msg","to":"-1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":2411.999496459961,"y":487.33355140686035,"wires":[["8fbc6a369886e0cf"]]},{"id":"8b8537806ea716e1","type":"inject","z":"b0060c3057106347","name":"random","props":[{"p":"action","v":"random","vt":"str"},{"p":"cnt","v":"1","vt":"num"}],"repeat":"","crontab":"","once":true,"onceDelay":"2","topic":"","x":2604.2495040893555,"y":120.08376789093018,"wires":[["828ecb5fa07b53ab","9ec43b09498dc353"]]},{"id":"3686636d22029d9a","type":"inject","z":"b0060c3057106347","name":"rolling","props":[{"p":"action","v":"rolling","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"6","topic":"","x":2776.49951171875,"y":120.08376789093018,"wires":[["828ecb5fa07b53ab"]]},{"id":"44aec8f8c68b968a","type":"change","z":"b0060c3057106347","name":"","rules":[{"t":"set","p":"column","pt":"msg","to":"msg.column - 1","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":2584.999496459961,"y":3094.3335514068604,"wires":[["2bd3398124f84a6b"]]},{"id":"2bd3398124f84a6b","type":"delay","z":"b0060c3057106347","name":"","pauseType":"delayv","timeout":"345","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":2604.999496459961,"y":3171.3335514068604,"wires":[["931667eb46990b31"]]},{"id":"941bb2e2969e061e","type":"change","z":"b0060c3057106347","name":"","rules":[{"t":"set","p":"column","pt":"msg","to":"msg.column - 1","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":2411.999496459961,"y":3171.3335514068604,"wires":[["5fd4ba318aac8c9e"]]},{"id":"80e72a8b60513de7","type":"change","z":"b0060c3057106347","name":"","rules":[{"t":"set","p":"column","pt":"msg","to":"msg.column - 1","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":2238.999496459961,"y":3248.3335514068604,"wires":[["d78df775e96f6874"]]},{"id":"02fb14b24a6cd4b6","type":"change","z":"b0060c3057106347","name":"","rules":[{"t":"set","p":"column","pt":"msg","to":"msg.column - 1","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":2065.999496459961,"y":3325.3335514068604,"wires":[["f49e9227800acdb7"]]},{"id":"58865865621fba85","type":"change","z":"b0060c3057106347","name":"","rules":[{"t":"set","p":"column","pt":"msg","to":"msg.column - 1","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1892.999496459961,"y":3394.3335514068604,"wires":[["502b98312f7c19ce"]]},{"id":"3132d397237032b5","type":"change","z":"b0060c3057106347","name":"","rules":[{"t":"set","p":"column","pt":"msg","to":"msg.column - 1","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1719.999496459961,"y":3455.3335514068604,"wires":[["c02f4222c7925b24"]]},{"id":"b811e86a06ab7ae3","type":"change","z":"b0060c3057106347","name":"","rules":[{"t":"set","p":"column","pt":"msg","to":"msg.column - 1","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1546.999496459961,"y":3516.3335514068604,"wires":[["43bac6d628044ce7"]]},{"id":"84d7b5027b75be1b","type":"change","z":"b0060c3057106347","name":"","rules":[{"t":"set","p":"column","pt":"msg","to":"msg.column - 1","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1373.999496459961,"y":3577.3335514068604,"wires":[["a89c0a611f2c9c2c"]]},{"id":"36b73f979eb6a087","type":"change","z":"b0060c3057106347","name":"","rules":[{"t":"set","p":"column","pt":"msg","to":"msg.column - 1","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1200.999496459961,"y":3638.3335514068604,"wires":[["3bf1d5bbc0b15c4f"]]},{"id":"e53f3611a97f32e2","type":"change","z":"b0060c3057106347","name":"","rules":[{"t":"set","p":"column","pt":"msg","to":"msg.column - 1","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1027.999496459961,"y":3699.3335514068604,"wires":[["adaf38ad3c4ce818"]]},{"id":"5b23bfd227bb0ad1","type":"change","z":"b0060c3057106347","name":"","rules":[{"t":"set","p":"column","pt":"msg","to":"msg.column - 1","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":2760.500244140625,"y":3015.334228515625,"wires":[["9d987eeffce63b51"]]},{"id":"d02c01782d516103","type":"change","z":"b0060c3057106347","name":"","rules":[{"t":"set","p":"column","pt":"msg","to":"msg.column - 1","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":864.9994964599609,"y":3821.3335514068604,"wires":[["87bf38f4732dd2ac"]]},{"id":"4e1cb848b4341061","type":"change","z":"b0060c3057106347","name":"","rules":[{"t":"set","p":"column","pt":"msg","to":"msg.column - 1","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":691.9994964599609,"y":3882.3335514068604,"wires":[["f669718b05dbd63f"]]},{"id":"df07aaed78595f26","type":"change","z":"b0060c3057106347","name":"","rules":[{"t":"set","p":"column","pt":"msg","to":"msg.column - 1","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":518.9994964599609,"y":3943.3335514068604,"wires":[["05116d168301f9eb"]]},{"id":"907fb4bbcffcf176","type":"change","z":"b0060c3057106347","name":"","rules":[{"t":"set","p":"column","pt":"msg","to":"msg.column - 1","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":345.99949645996094,"y":4004.3335514068604,"wires":[["dcd74589582a7c95"]]},{"id":"c0c9f0fb58d4d874","type":"change","z":"b0060c3057106347","name":"","rules":[{"t":"set","p":"column","pt":"msg","to":"msg.column - 1","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":172.99949645996094,"y":4065.3335514068604,"wires":[["ac197ade39bce81a"]]},{"id":"825b52531537f526","type":"change","z":"b0060c3057106347","name":"no msg trace","rules":[{"t":"set","p":"__notrace","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":2421.999496459961,"y":243.33355140686035,"wires":[["f84c7f09ed5de8d3"]]},{"id":"edb264c45c626f98","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":2614.999496459961,"y":1777.3335514068604,"wires":[["b2bb019161a4e5c4"]]},{"id":"b2bb019161a4e5c4","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":2614.999496459961,"y":1854.3335514068604,"wires":[["219cc2786321bfda"]]},{"id":"219cc2786321bfda","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":2614.999496459961,"y":1931.3335514068604,"wires":[["c57c339c8187f81f"]]},{"id":"c57c339c8187f81f","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":2614.999496459961,"y":2008.3335514068604,"wires":[["df65969ee9afde49"]]},{"id":"df65969ee9afde49","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":2614.999496459961,"y":2085.3335514068604,"wires":[["0e254228c9628aeb"]]},{"id":"0e254228c9628aeb","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":2614.999496459961,"y":2162.3335514068604,"wires":[["f0a50cde8fc07756"]]},{"id":"f0a50cde8fc07756","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":2614.999496459961,"y":2239.3335514068604,"wires":[["afa90126eac3f2d3"]]},{"id":"afa90126eac3f2d3","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":2614.999496459961,"y":2316.3335514068604,"wires":[["c121b7074b21592c"]]},{"id":"c121b7074b21592c","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":2614.999496459961,"y":2393.3335514068604,"wires":[["591ab59e9b803e89"]]},{"id":"591ab59e9b803e89","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":2614.999496459961,"y":2478.3335514068604,"wires":[["d3787096ee2797b7"]]},{"id":"d3787096ee2797b7","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":2614.999496459961,"y":2555.3335514068604,"wires":[["f2dc096b34fac578"]]},{"id":"f2dc096b34fac578","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":2614.999496459961,"y":2632.3335514068604,"wires":[["39763392323aaed1"]]},{"id":"39763392323aaed1","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":2614.999496459961,"y":2709.3335514068604,"wires":[["e205142db3fa95b4"]]},{"id":"e205142db3fa95b4","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":2614.999496459961,"y":2786.3335514068604,"wires":[["bc1e31df54c41394"]]},{"id":"bc1e31df54c41394","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":2614.999496459961,"y":2863.3335514068604,"wires":[["99097de1af5c1fbf"]]},{"id":"99097de1af5c1fbf","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":2614.999496459961,"y":2940.3335514068604,"wires":[["ec14d5385e7357e1"]]},{"id":"6d5d0080d075b993","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":2441.999496459961,"y":1854.3335514068604,"wires":[["3039e2e67675b5fb"]]},{"id":"3039e2e67675b5fb","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":2441.999496459961,"y":1931.3335514068604,"wires":[["9fea9190485a60cb"]]},{"id":"9fea9190485a60cb","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":2441.999496459961,"y":2008.3335514068604,"wires":[["59526344330b6660"]]},{"id":"59526344330b6660","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":2441.999496459961,"y":2085.3335514068604,"wires":[["82a78bec16fc1fa5"]]},{"id":"82a78bec16fc1fa5","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":2441.999496459961,"y":2162.3335514068604,"wires":[["826e0903628c75b9"]]},{"id":"826e0903628c75b9","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":2441.999496459961,"y":2239.3335514068604,"wires":[["f3505359d243aff0"]]},{"id":"f3505359d243aff0","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":2441.999496459961,"y":2316.3335514068604,"wires":[["96fd3440634c8979"]]},{"id":"96fd3440634c8979","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":2441.999496459961,"y":2393.3335514068604,"wires":[["d789521038386734"]]},{"id":"d789521038386734","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":2441.999496459961,"y":2470.3335514068604,"wires":[["76fdf8752e1f65d7"]]},{"id":"76fdf8752e1f65d7","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":2441.999496459961,"y":2555.3335514068604,"wires":[["00cdfad059a44518"]]},{"id":"00cdfad059a44518","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":2441.999496459961,"y":2632.3335514068604,"wires":[["3970393d0189743f"]]},{"id":"3970393d0189743f","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":2441.999496459961,"y":2709.3335514068604,"wires":[["631e5ccbe06d4c72"]]},{"id":"631e5ccbe06d4c72","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":2441.999496459961,"y":2786.3335514068604,"wires":[["4f2ca2fba7d341d8"]]},{"id":"4f2ca2fba7d341d8","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":2441.999496459961,"y":2863.3335514068604,"wires":[["5ce28c2a21258fc2"]]},{"id":"5ce28c2a21258fc2","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":2441.999496459961,"y":2940.3335514068604,"wires":[["bda295f7097c1cdb"]]},{"id":"bda295f7097c1cdb","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":2441.999496459961,"y":3017.3335514068604,"wires":[["d2a7ece11239758c"]]},{"id":"6476e9a0a90bdbda","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":2268.999496459961,"y":1931.3335514068604,"wires":[["abab4345e71f691d"]]},{"id":"abab4345e71f691d","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":2268.999496459961,"y":2008.3335514068604,"wires":[["2eeb6b35b9b0dcd8"]]},{"id":"2eeb6b35b9b0dcd8","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":2268.999496459961,"y":2085.3335514068604,"wires":[["8f57fc3005d58e77"]]},{"id":"8f57fc3005d58e77","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":2268.999496459961,"y":2162.3335514068604,"wires":[["b59c2641c5bdfbc9"]]},{"id":"b59c2641c5bdfbc9","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":2268.999496459961,"y":2239.3335514068604,"wires":[["d6cb700befe60632"]]},{"id":"d6cb700befe60632","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":2268.999496459961,"y":2316.3335514068604,"wires":[["9b7297dade26b761"]]},{"id":"9b7297dade26b761","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":2268.999496459961,"y":2393.3335514068604,"wires":[["9f67e54f134840d8"]]},{"id":"9f67e54f134840d8","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":2268.999496459961,"y":2470.3335514068604,"wires":[["69b079a990e4a258"]]},{"id":"69b079a990e4a258","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":2268.999496459961,"y":2547.3335514068604,"wires":[["c9e5cba681398d2a"]]},{"id":"c9e5cba681398d2a","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":2268.999496459961,"y":2632.3335514068604,"wires":[["9f9d9896069d8028"]]},{"id":"9f9d9896069d8028","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":2268.999496459961,"y":2709.3335514068604,"wires":[["fbf5087ec0a9a963"]]},{"id":"fbf5087ec0a9a963","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":2268.999496459961,"y":2786.3335514068604,"wires":[["d78720156b51a473"]]},{"id":"d78720156b51a473","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":2268.999496459961,"y":2863.3335514068604,"wires":[["820ffc04c70bc720"]]},{"id":"820ffc04c70bc720","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":2268.999496459961,"y":2940.3335514068604,"wires":[["583a164c062d07e9"]]},{"id":"583a164c062d07e9","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":2268.999496459961,"y":3017.3335514068604,"wires":[["c3b3ef6ed4394c42"]]},{"id":"c3b3ef6ed4394c42","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":2268.999496459961,"y":3094.3335514068604,"wires":[["257f86ad1d5fedab"]]},{"id":"fea24448fbabede0","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":2095.999496459961,"y":2008.3335514068604,"wires":[["c97fb81cf8594ad7"]]},{"id":"c97fb81cf8594ad7","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":2095.999496459961,"y":2085.3335514068604,"wires":[["303a3ef2d30bab9b"]]},{"id":"303a3ef2d30bab9b","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":2095.999496459961,"y":2162.3335514068604,"wires":[["0a39b4b453da26b4"]]},{"id":"0a39b4b453da26b4","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":2095.999496459961,"y":2239.3335514068604,"wires":[["74b784c67ec853d8"]]},{"id":"74b784c67ec853d8","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":2095.999496459961,"y":2316.3335514068604,"wires":[["3dcf80af64add7be"]]},{"id":"3dcf80af64add7be","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":2095.999496459961,"y":2393.3335514068604,"wires":[["357826673ccdfc6b"]]},{"id":"357826673ccdfc6b","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":2095.999496459961,"y":2470.3335514068604,"wires":[["c4fc46e4bc3a62f6"]]},{"id":"c4fc46e4bc3a62f6","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":2095.999496459961,"y":2547.3335514068604,"wires":[["cfec47c41535a6e3"]]},{"id":"cfec47c41535a6e3","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":2095.999496459961,"y":2632.3335514068604,"wires":[["810879252b3e244f"]]},{"id":"810879252b3e244f","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":2095.999496459961,"y":2709.3335514068604,"wires":[["a4d509eb4e0a52f1"]]},{"id":"a4d509eb4e0a52f1","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":2095.999496459961,"y":2786.3335514068604,"wires":[["2c3d532e538ccb35"]]},{"id":"2c3d532e538ccb35","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":2095.999496459961,"y":2863.3335514068604,"wires":[["93e761218336c274"]]},{"id":"93e761218336c274","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":2095.999496459961,"y":2940.3335514068604,"wires":[["f8f002a485ccca8e"]]},{"id":"f8f002a485ccca8e","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":2095.999496459961,"y":3017.3335514068604,"wires":[["c94bd45e2f3839eb"]]},{"id":"c94bd45e2f3839eb","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":2095.999496459961,"y":3094.3335514068604,"wires":[["c98d297c42c6532c"]]},{"id":"c98d297c42c6532c","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":2095.999496459961,"y":3171.3335514068604,"wires":[["a0abe09cf8ca0a99"]]},{"id":"326aeb2fd191b43e","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":1922.999496459961,"y":2085.3335514068604,"wires":[["eca398aa4f7075de"]]},{"id":"eca398aa4f7075de","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":1922.999496459961,"y":2162.3335514068604,"wires":[["b94bb23af9e572d0"]]},{"id":"b94bb23af9e572d0","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":1922.999496459961,"y":2239.3335514068604,"wires":[["5628b2ab155466a2"]]},{"id":"5628b2ab155466a2","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":1922.999496459961,"y":2316.3335514068604,"wires":[["edc952ddd4128b78"]]},{"id":"edc952ddd4128b78","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":1922.999496459961,"y":2393.3335514068604,"wires":[["516394cb8e481b67"]]},{"id":"516394cb8e481b67","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":1922.999496459961,"y":2470.3335514068604,"wires":[["29ca4362e75c8b46"]]},{"id":"29ca4362e75c8b46","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":1922.999496459961,"y":2547.3335514068604,"wires":[["f1f97c9fc9b009d1"]]},{"id":"f1f97c9fc9b009d1","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":1922.999496459961,"y":2624.3335514068604,"wires":[["c15d3d6698088f09"]]},{"id":"c15d3d6698088f09","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":1922.999496459961,"y":2709.3335514068604,"wires":[["335fc867760ae902"]]},{"id":"335fc867760ae902","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":1922.999496459961,"y":2786.3335514068604,"wires":[["13ae63ceed458995"]]},{"id":"13ae63ceed458995","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":1922.999496459961,"y":2863.3335514068604,"wires":[["152c502dca4a7b7f"]]},{"id":"152c502dca4a7b7f","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":1922.999496459961,"y":2940.3335514068604,"wires":[["9de989bccd98f12e"]]},{"id":"9de989bccd98f12e","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":1922.999496459961,"y":3017.3335514068604,"wires":[["c95ce4780f0ef951"]]},{"id":"c95ce4780f0ef951","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":1922.999496459961,"y":3094.3335514068604,"wires":[["bf0d38dbd8c01f14"]]},{"id":"bf0d38dbd8c01f14","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":1922.999496459961,"y":3171.3335514068604,"wires":[["a80bd551d73e5309"]]},{"id":"a80bd551d73e5309","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":1922.999496459961,"y":3248.3335514068604,"wires":[["49b6aa054d61f7f6"]]},{"id":"904a91e8057ab77c","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":1749.999496459961,"y":2162.3335514068604,"wires":[["1a2fba951360e5de"]]},{"id":"1a2fba951360e5de","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":1749.999496459961,"y":2239.3335514068604,"wires":[["ed0d6327d2495c9e"]]},{"id":"ed0d6327d2495c9e","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":1749.999496459961,"y":2316.3335514068604,"wires":[["c5c370934eca2a8b"]]},{"id":"c5c370934eca2a8b","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":1749.999496459961,"y":2393.3335514068604,"wires":[["e5907638ac7917b0"]]},{"id":"e5907638ac7917b0","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":1749.999496459961,"y":2470.3335514068604,"wires":[["775ef84e7a73552f"]]},{"id":"775ef84e7a73552f","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":1749.999496459961,"y":2547.3335514068604,"wires":[["5776f359fe8f47bb"]]},{"id":"5776f359fe8f47bb","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":1749.999496459961,"y":2624.3335514068604,"wires":[["0e4403f6d755954a"]]},{"id":"0e4403f6d755954a","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":1749.999496459961,"y":2701.3335514068604,"wires":[["8bc889d437031936"]]},{"id":"8bc889d437031936","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":1749.999496459961,"y":2786.3335514068604,"wires":[["486a406d22fa8fb3"]]},{"id":"486a406d22fa8fb3","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":1749.999496459961,"y":2863.3335514068604,"wires":[["e10fe698345be529"]]},{"id":"e10fe698345be529","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":1749.999496459961,"y":2940.3335514068604,"wires":[["8619f7a6be6b408c"]]},{"id":"8619f7a6be6b408c","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":1749.999496459961,"y":3017.3335514068604,"wires":[["026aaac8ca638c66"]]},{"id":"026aaac8ca638c66","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":1749.999496459961,"y":3094.3335514068604,"wires":[["ef47975836596764"]]},{"id":"ef47975836596764","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":1749.999496459961,"y":3171.3335514068604,"wires":[["20f4f988a99efac6"]]},{"id":"20f4f988a99efac6","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":1749.999496459961,"y":3248.3335514068604,"wires":[["d876d701d4109a0c"]]},{"id":"d876d701d4109a0c","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":1749.999496459961,"y":3325.3335514068604,"wires":[["c4034aa20be861e2"]]},{"id":"b701b1fdccd19626","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":1576.999496459961,"y":2239.3335514068604,"wires":[["235ebca8b5fc79d5"]]},{"id":"235ebca8b5fc79d5","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":1576.999496459961,"y":2316.3335514068604,"wires":[["51dbd5831aacaf6d"]]},{"id":"51dbd5831aacaf6d","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":1576.999496459961,"y":2393.3335514068604,"wires":[["88bd5fabf7d24a46"]]},{"id":"88bd5fabf7d24a46","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":1576.999496459961,"y":2470.3335514068604,"wires":[["26467963b0257c0e"]]},{"id":"26467963b0257c0e","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":1576.999496459961,"y":2547.3335514068604,"wires":[["a5ee6546acd344ee"]]},{"id":"a5ee6546acd344ee","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":1576.999496459961,"y":2624.3335514068604,"wires":[["20a5dd12c2f07cb3"]]},{"id":"20a5dd12c2f07cb3","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":1576.999496459961,"y":2701.3335514068604,"wires":[["a22b8851a9b49e8a"]]},{"id":"a22b8851a9b49e8a","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":1576.999496459961,"y":2786.3335514068604,"wires":[["c0932bf4da3b1c5f"]]},{"id":"c0932bf4da3b1c5f","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":1576.999496459961,"y":2863.3335514068604,"wires":[["8529109080113e98"]]},{"id":"8529109080113e98","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":1576.999496459961,"y":2940.3335514068604,"wires":[["e5c472052f5169bb"]]},{"id":"e5c472052f5169bb","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":1576.999496459961,"y":3017.3335514068604,"wires":[["c1e99448262dbcd0"]]},{"id":"c1e99448262dbcd0","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":1576.999496459961,"y":3094.3335514068604,"wires":[["2c2d50808ded28ae"]]},{"id":"2c2d50808ded28ae","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":1576.999496459961,"y":3171.3335514068604,"wires":[["5d4ffb29e5b3dc20"]]},{"id":"5d4ffb29e5b3dc20","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":1576.999496459961,"y":3248.3335514068604,"wires":[["2677fc54db4609df"]]},{"id":"2677fc54db4609df","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":1576.999496459961,"y":3325.3335514068604,"wires":[["8f0d1893f2908636"]]},{"id":"8f0d1893f2908636","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":1576.999496459961,"y":3394.3335514068604,"wires":[["c0703c93cf23b3b8"]]},{"id":"850489181dcbeee1","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":1403.999496459961,"y":2316.3335514068604,"wires":[["49f431d41d467480"]]},{"id":"49f431d41d467480","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":1403.999496459961,"y":2393.3335514068604,"wires":[["b847606940a6c77a"]]},{"id":"b847606940a6c77a","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":1403.999496459961,"y":2470.3335514068604,"wires":[["178e917712f9e650"]]},{"id":"178e917712f9e650","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":1403.999496459961,"y":2547.3335514068604,"wires":[["428c12ad25420c0a"]]},{"id":"428c12ad25420c0a","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":1403.999496459961,"y":2624.3335514068604,"wires":[["ebb037cd64b69c49"]]},{"id":"ebb037cd64b69c49","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":1403.999496459961,"y":2701.3335514068604,"wires":[["4e9b18512c084d53"]]},{"id":"4e9b18512c084d53","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":1403.999496459961,"y":2778.3335514068604,"wires":[["e5a6804ef47cbb5e"]]},{"id":"e5a6804ef47cbb5e","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":1403.999496459961,"y":2863.3335514068604,"wires":[["9bd3f4d66fd8f8a0"]]},{"id":"9bd3f4d66fd8f8a0","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":1403.999496459961,"y":2940.3335514068604,"wires":[["342f1b56c0744f40"]]},{"id":"342f1b56c0744f40","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":1403.999496459961,"y":3017.3335514068604,"wires":[["4de823f996cae466"]]},{"id":"4de823f996cae466","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":1403.999496459961,"y":3094.3335514068604,"wires":[["c15806c602ffb6b3"]]},{"id":"c15806c602ffb6b3","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":1403.999496459961,"y":3171.3335514068604,"wires":[["f88e4ec836d704c1"]]},{"id":"f88e4ec836d704c1","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":1403.999496459961,"y":3248.3335514068604,"wires":[["4d0b08b2f36d1cc9"]]},{"id":"4d0b08b2f36d1cc9","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":1403.999496459961,"y":3325.3335514068604,"wires":[["8ae418223a007bd2"]]},{"id":"8ae418223a007bd2","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":1403.999496459961,"y":3394.3335514068604,"wires":[["087f9c80f0cf2141"]]},{"id":"087f9c80f0cf2141","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":1403.999496459961,"y":3455.3335514068604,"wires":[["28f8b5322fa36e68"]]},{"id":"acb3a999455b955f","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":1230.999496459961,"y":2393.3335514068604,"wires":[["87051ed96b0f3329"]]},{"id":"87051ed96b0f3329","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":1230.999496459961,"y":2470.3335514068604,"wires":[["382765a68024c771"]]},{"id":"382765a68024c771","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":1230.999496459961,"y":2547.3335514068604,"wires":[["d3843e4c9770442d"]]},{"id":"d3843e4c9770442d","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":1230.999496459961,"y":2624.3335514068604,"wires":[["fb17a9b19ca9a93e"]]},{"id":"fb17a9b19ca9a93e","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":1230.999496459961,"y":2701.3335514068604,"wires":[["0995f23e4e67ec43"]]},{"id":"0995f23e4e67ec43","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":1230.999496459961,"y":2778.3335514068604,"wires":[["88b95c64a140de46"]]},{"id":"88b95c64a140de46","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":1230.999496459961,"y":2855.3335514068604,"wires":[["84390b0a2d7716e9"]]},{"id":"84390b0a2d7716e9","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":1230.999496459961,"y":2940.3335514068604,"wires":[["4bfa0ff47a2a4954"]]},{"id":"4bfa0ff47a2a4954","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":1230.999496459961,"y":3017.3335514068604,"wires":[["d6bcb68c288c0bea"]]},{"id":"d6bcb68c288c0bea","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":1230.999496459961,"y":3094.3335514068604,"wires":[["fb28211f89e47430"]]},{"id":"fb28211f89e47430","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":1230.999496459961,"y":3171.3335514068604,"wires":[["458b15ae7f4e5b20"]]},{"id":"458b15ae7f4e5b20","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":1230.999496459961,"y":3248.3335514068604,"wires":[["46809ca95a7d1312"]]},{"id":"46809ca95a7d1312","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":1230.999496459961,"y":3325.3335514068604,"wires":[["b9d2cb14ecfef55c"]]},{"id":"b9d2cb14ecfef55c","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":1230.999496459961,"y":3394.3335514068604,"wires":[["c0ab2cb88b67172d"]]},{"id":"c0ab2cb88b67172d","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":1230.999496459961,"y":3455.3335514068604,"wires":[["4015bbe48dfb932c"]]},{"id":"4015bbe48dfb932c","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":1230.999496459961,"y":3516.3335514068604,"wires":[["588cfa40884cc898"]]},{"id":"923014658a6aec79","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":1057.999496459961,"y":2470.3335514068604,"wires":[["9e7cb0264015f940"]]},{"id":"9e7cb0264015f940","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":1057.999496459961,"y":2547.3335514068604,"wires":[["f7c4b374fc8d90d1"]]},{"id":"f7c4b374fc8d90d1","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":1057.999496459961,"y":2624.3335514068604,"wires":[["15358b3f7a40a423"]]},{"id":"15358b3f7a40a423","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":1057.999496459961,"y":2701.3335514068604,"wires":[["4ce8ab70f0111f2a"]]},{"id":"4ce8ab70f0111f2a","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":1057.999496459961,"y":2778.3335514068604,"wires":[["985c861d4fb953b8"]]},{"id":"985c861d4fb953b8","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":1057.999496459961,"y":2855.3335514068604,"wires":[["4706332ff49eed61"]]},{"id":"4706332ff49eed61","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":1057.999496459961,"y":2932.3335514068604,"wires":[["901890d126d063ac"]]},{"id":"901890d126d063ac","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":1057.999496459961,"y":3017.3335514068604,"wires":[["8f6432afad864f3e"]]},{"id":"8f6432afad864f3e","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":1057.999496459961,"y":3094.3335514068604,"wires":[["cd6c4f6e68ba12a9"]]},{"id":"cd6c4f6e68ba12a9","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":1057.999496459961,"y":3171.3335514068604,"wires":[["b00faeb9994d2dcb"]]},{"id":"b00faeb9994d2dcb","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":1057.999496459961,"y":3248.3335514068604,"wires":[["02b05813764160cd"]]},{"id":"02b05813764160cd","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":1057.999496459961,"y":3325.3335514068604,"wires":[["6cce06d37d01f682"]]},{"id":"6cce06d37d01f682","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":1057.999496459961,"y":3394.3335514068604,"wires":[["68e28bcf1c6ef199"]]},{"id":"68e28bcf1c6ef199","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":1057.999496459961,"y":3455.3335514068604,"wires":[["e1cc7cd9e0b606cb"]]},{"id":"e1cc7cd9e0b606cb","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":1057.999496459961,"y":3516.3335514068604,"wires":[["7dab3ff7cb5ad119"]]},{"id":"7dab3ff7cb5ad119","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":1057.999496459961,"y":3577.3335514068604,"wires":[["75736b5a53e2d185"]]},{"id":"f86b6ccc791242d4","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":2790.500244140625,"y":1698.334228515625,"wires":[["e7948c37f0511a4c"]]},{"id":"e7948c37f0511a4c","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":2790.500244140625,"y":1775.334228515625,"wires":[["a3db2799b1827afe"]]},{"id":"a3db2799b1827afe","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":2790.500244140625,"y":1852.334228515625,"wires":[["d983252b7a5202eb"]]},{"id":"d983252b7a5202eb","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":2790.500244140625,"y":1929.334228515625,"wires":[["33f1e633459542a9"]]},{"id":"33f1e633459542a9","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":2790.500244140625,"y":2006.334228515625,"wires":[["99c258b76135e892"]]},{"id":"99c258b76135e892","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":2790.500244140625,"y":2083.334228515625,"wires":[["9f0c07774c4c3065"]]},{"id":"9f0c07774c4c3065","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":2790.500244140625,"y":2160.334228515625,"wires":[["df801cecbdfd65bf"]]},{"id":"df801cecbdfd65bf","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":2790.500244140625,"y":2245.334228515625,"wires":[["899f08a02869e291"]]},{"id":"899f08a02869e291","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":2790.500244140625,"y":2322.334228515625,"wires":[["6bbd4c4fa54d7632"]]},{"id":"6bbd4c4fa54d7632","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":2790.500244140625,"y":2399.334228515625,"wires":[["d8b7c4d4264e639b"]]},{"id":"d8b7c4d4264e639b","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":2790.500244140625,"y":2476.334228515625,"wires":[["90e92b4f623c9ef7"]]},{"id":"90e92b4f623c9ef7","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":2790.500244140625,"y":2553.334228515625,"wires":[["9154c5dea47df3da"]]},{"id":"9154c5dea47df3da","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":2790.500244140625,"y":2630.334228515625,"wires":[["66a86f28efbb13dd"]]},{"id":"66a86f28efbb13dd","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":2790.500244140625,"y":2707.334228515625,"wires":[["04a5f50b7eadca67"]]},{"id":"04a5f50b7eadca67","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":2790.500244140625,"y":2784.334228515625,"wires":[["c5eafd34babdfea5"]]},{"id":"c5eafd34babdfea5","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":2790.500244140625,"y":2861.334228515625,"wires":[["7a57509ae2f0f55d"]]},{"id":"4ffcd40bd5731399","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":894.9994964599609,"y":2624.3335514068604,"wires":[["a3be2f7b0f9dada1"]]},{"id":"a3be2f7b0f9dada1","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":894.9994964599609,"y":2701.3335514068604,"wires":[["54e8cb6db4ba426f"]]},{"id":"54e8cb6db4ba426f","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":894.9994964599609,"y":2778.3335514068604,"wires":[["34a17fb27901bdcb"]]},{"id":"34a17fb27901bdcb","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":894.9994964599609,"y":2855.3335514068604,"wires":[["566963ea986bd76e"]]},{"id":"566963ea986bd76e","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":894.9994964599609,"y":2932.3335514068604,"wires":[["dcca107e90407194"]]},{"id":"dcca107e90407194","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":894.9994964599609,"y":3009.3335514068604,"wires":[["43c94b809ce61fa0"]]},{"id":"43c94b809ce61fa0","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":894.9994964599609,"y":3094.3335514068604,"wires":[["5ea0d88fd3361e9f"]]},{"id":"5ea0d88fd3361e9f","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":894.9994964599609,"y":3171.3335514068604,"wires":[["e195701e0aed7573"]]},{"id":"e195701e0aed7573","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":894.9994964599609,"y":3248.3335514068604,"wires":[["1202a6795fe562c6"]]},{"id":"1202a6795fe562c6","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":894.9994964599609,"y":3325.3335514068604,"wires":[["aa94809b9ed38954"]]},{"id":"aa94809b9ed38954","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":894.9994964599609,"y":3394.3335514068604,"wires":[["bf06ea0139af5653"]]},{"id":"bf06ea0139af5653","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":894.9994964599609,"y":3455.3335514068604,"wires":[["238aecb5ec75d3be"]]},{"id":"238aecb5ec75d3be","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":894.9994964599609,"y":3516.3335514068604,"wires":[["fb205e15388428c6"]]},{"id":"fb205e15388428c6","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":894.9994964599609,"y":3577.3335514068604,"wires":[["7dfc0a2440555141"]]},{"id":"7dfc0a2440555141","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":894.9994964599609,"y":3638.3335514068604,"wires":[["be94d033681cc330"]]},{"id":"be94d033681cc330","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":894.9994964599609,"y":3699.3335514068604,"wires":[["8e7f7bfc867d0411"]]},{"id":"5ef252af7122ac89","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":721.9994964599609,"y":2701.3335514068604,"wires":[["2536c57f1e351c0d"]]},{"id":"2536c57f1e351c0d","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":721.9994964599609,"y":2778.3335514068604,"wires":[["0e961a6b9e1cd5df"]]},{"id":"0e961a6b9e1cd5df","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":721.9994964599609,"y":2855.3335514068604,"wires":[["330d5d12983bf937"]]},{"id":"330d5d12983bf937","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":721.9994964599609,"y":2932.3335514068604,"wires":[["605038fbd319bc0e"]]},{"id":"605038fbd319bc0e","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":721.9994964599609,"y":3009.3335514068604,"wires":[["3f7a113e2758b633"]]},{"id":"3f7a113e2758b633","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":721.9994964599609,"y":3086.3335514068604,"wires":[["75d473959e176ea6"]]},{"id":"75d473959e176ea6","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":721.9994964599609,"y":3171.3335514068604,"wires":[["889bdb51381e75df"]]},{"id":"889bdb51381e75df","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":721.9994964599609,"y":3248.3335514068604,"wires":[["204119717dfb31ae"]]},{"id":"204119717dfb31ae","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":721.9994964599609,"y":3325.3335514068604,"wires":[["4e6ae1a706a09ff5"]]},{"id":"4e6ae1a706a09ff5","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":721.9994964599609,"y":3394.3335514068604,"wires":[["0365b0e37ff4595f"]]},{"id":"0365b0e37ff4595f","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":721.9994964599609,"y":3455.3335514068604,"wires":[["ab3abaa6334da841"]]},{"id":"ab3abaa6334da841","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":721.9994964599609,"y":3516.3335514068604,"wires":[["c0f5f4aa4cc6e97f"]]},{"id":"c0f5f4aa4cc6e97f","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":721.9994964599609,"y":3577.3335514068604,"wires":[["f29b4d33501d8348"]]},{"id":"f29b4d33501d8348","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":721.9994964599609,"y":3638.3335514068604,"wires":[["a2e62e2d8950c1ef"]]},{"id":"a2e62e2d8950c1ef","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":721.9994964599609,"y":3699.3335514068604,"wires":[["9694b62ad06d3da5"]]},{"id":"9694b62ad06d3da5","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":721.9994964599609,"y":3760.3335514068604,"wires":[["381f4023bca1db6c"]]},{"id":"f110124d99a5c02b","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":548.9994964599609,"y":2778.3335514068604,"wires":[["d136f6c465b5e1ab"]]},{"id":"d136f6c465b5e1ab","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":548.9994964599609,"y":2855.3335514068604,"wires":[["1eed82c971bcb794"]]},{"id":"1eed82c971bcb794","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":548.9994964599609,"y":2932.3335514068604,"wires":[["7fc3efb15bd25bf8"]]},{"id":"7fc3efb15bd25bf8","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":548.9994964599609,"y":3009.3335514068604,"wires":[["2ed5aeacffb1e07c"]]},{"id":"2ed5aeacffb1e07c","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":548.9994964599609,"y":3086.3335514068604,"wires":[["670ec10ecaee4c4a"]]},{"id":"670ec10ecaee4c4a","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":548.9994964599609,"y":3163.3335514068604,"wires":[["17581e909bfe28c7"]]},{"id":"17581e909bfe28c7","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":548.9994964599609,"y":3248.3335514068604,"wires":[["f705480218c47cae"]]},{"id":"f705480218c47cae","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":548.9994964599609,"y":3325.3335514068604,"wires":[["22b48d238c997ed6"]]},{"id":"22b48d238c997ed6","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":548.9994964599609,"y":3394.3335514068604,"wires":[["050dfbc52e2110f1"]]},{"id":"050dfbc52e2110f1","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":548.9994964599609,"y":3455.3335514068604,"wires":[["bc8e39ead9a9f0e7"]]},{"id":"bc8e39ead9a9f0e7","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":548.9994964599609,"y":3516.3335514068604,"wires":[["6accdc366ee4f974"]]},{"id":"6accdc366ee4f974","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":548.9994964599609,"y":3577.3335514068604,"wires":[["f6c3f779b91c74e4"]]},{"id":"f6c3f779b91c74e4","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":548.9994964599609,"y":3638.3335514068604,"wires":[["5d2b06665023daef"]]},{"id":"5d2b06665023daef","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":548.9994964599609,"y":3699.3335514068604,"wires":[["f7d8e4cc0af387b5"]]},{"id":"f7d8e4cc0af387b5","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":548.9994964599609,"y":3760.3335514068604,"wires":[["4c0c149d2ede6d8e"]]},{"id":"4c0c149d2ede6d8e","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":548.9994964599609,"y":3821.3335514068604,"wires":[["26187f13ad70cc86"]]},{"id":"134780debd206994","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":375.99949645996094,"y":2855.3335514068604,"wires":[["ce5088d8ba31c2ad"]]},{"id":"ce5088d8ba31c2ad","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":375.99949645996094,"y":2932.3335514068604,"wires":[["9454ce969aa7ab8b"]]},{"id":"9454ce969aa7ab8b","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":375.99949645996094,"y":3009.3335514068604,"wires":[["b874e4ef09065437"]]},{"id":"b874e4ef09065437","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":375.99949645996094,"y":3086.3335514068604,"wires":[["c71542ce1e9d5a22"]]},{"id":"c71542ce1e9d5a22","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":375.99949645996094,"y":3163.3335514068604,"wires":[["b77d8433c87e48ed"]]},{"id":"b77d8433c87e48ed","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":375.99949645996094,"y":3240.3335514068604,"wires":[["d58e7aa43e997819"]]},{"id":"d58e7aa43e997819","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":375.99949645996094,"y":3325.3335514068604,"wires":[["5e93ec47108f9af9"]]},{"id":"5e93ec47108f9af9","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":375.99949645996094,"y":3394.3335514068604,"wires":[["137a784dbacc6d06"]]},{"id":"137a784dbacc6d06","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":375.99949645996094,"y":3455.3335514068604,"wires":[["41063ba5c32d164f"]]},{"id":"41063ba5c32d164f","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":375.99949645996094,"y":3516.3335514068604,"wires":[["44ebbfce187b6e97"]]},{"id":"44ebbfce187b6e97","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":375.99949645996094,"y":3577.3335514068604,"wires":[["1ee34a25eaefb6b6"]]},{"id":"1ee34a25eaefb6b6","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":375.99949645996094,"y":3638.3335514068604,"wires":[["97ffb648a1d5edfb"]]},{"id":"97ffb648a1d5edfb","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":375.99949645996094,"y":3699.3335514068604,"wires":[["176c5f8ef510ddc1"]]},{"id":"176c5f8ef510ddc1","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":375.99949645996094,"y":3760.3335514068604,"wires":[["3dc861258f5afcd7"]]},{"id":"3dc861258f5afcd7","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":375.99949645996094,"y":3821.3335514068604,"wires":[["b04dc34c24cdf135"]]},{"id":"b04dc34c24cdf135","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":375.99949645996094,"y":3882.3335514068604,"wires":[["7ea5e9fffa0bbf34"]]},{"id":"0d5d5b27ddab417d","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":202.99949645996094,"y":2932.3335514068604,"wires":[["c7761d32119e53ea"]]},{"id":"c7761d32119e53ea","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":202.99949645996094,"y":3009.3335514068604,"wires":[["7425b908596eaf5f"]]},{"id":"7425b908596eaf5f","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":202.99949645996094,"y":3086.3335514068604,"wires":[["229703ce916859fb"]]},{"id":"229703ce916859fb","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":202.99949645996094,"y":3163.3335514068604,"wires":[["6d1234ac0e886195"]]},{"id":"6d1234ac0e886195","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":202.99949645996094,"y":3240.3335514068604,"wires":[["d41ee13ecfa9cb0e"]]},{"id":"d41ee13ecfa9cb0e","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":202.99949645996094,"y":3317.3335514068604,"wires":[["e9bb7d87083d1e39"]]},{"id":"e9bb7d87083d1e39","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":202.99949645996094,"y":3394.3335514068604,"wires":[["530b5930fdefa19b"]]},{"id":"530b5930fdefa19b","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":202.99949645996094,"y":3455.3335514068604,"wires":[["9dd8dc7feea85eb4"]]},{"id":"9dd8dc7feea85eb4","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":202.99949645996094,"y":3516.3335514068604,"wires":[["95876bb3ddb11a6f"]]},{"id":"95876bb3ddb11a6f","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":202.99949645996094,"y":3577.3335514068604,"wires":[["0e051fbdc8971142"]]},{"id":"0e051fbdc8971142","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":202.99949645996094,"y":3638.3335514068604,"wires":[["60ef29308b23d9c1"]]},{"id":"60ef29308b23d9c1","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":202.99949645996094,"y":3699.3335514068604,"wires":[["59d3990986fa1bc6"]]},{"id":"59d3990986fa1bc6","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":202.99949645996094,"y":3760.3335514068604,"wires":[["16e310c5cadb1608"]]},{"id":"16e310c5cadb1608","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":202.99949645996094,"y":3821.3335514068604,"wires":[["502d40dfb3ad7b31"]]},{"id":"502d40dfb3ad7b31","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":202.99949645996094,"y":3882.3335514068604,"wires":[["93e810de80d4048a"]]},{"id":"93e810de80d4048a","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":202.99949645996094,"y":3943.3335514068604,"wires":[["c86d60657965d639"]]},{"id":"ec14d5385e7357e1","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":2614.999496459961,"y":3017.3335514068604,"wires":[["44aec8f8c68b968a"]]},{"id":"d2a7ece11239758c","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":2441.999496459961,"y":3094.3335514068604,"wires":[["941bb2e2969e061e"]]},{"id":"257f86ad1d5fedab","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":2268.999496459961,"y":3171.3335514068604,"wires":[["80e72a8b60513de7"]]},{"id":"a0abe09cf8ca0a99","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":2095.999496459961,"y":3248.3335514068604,"wires":[["02fb14b24a6cd4b6"]]},{"id":"49b6aa054d61f7f6","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":1922.999496459961,"y":3325.3335514068604,"wires":[["58865865621fba85"]]},{"id":"c4034aa20be861e2","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":1749.999496459961,"y":3394.3335514068604,"wires":[["3132d397237032b5"]]},{"id":"c0703c93cf23b3b8","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":1576.999496459961,"y":3455.3335514068604,"wires":[["b811e86a06ab7ae3"]]},{"id":"28f8b5322fa36e68","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":1403.999496459961,"y":3516.3335514068604,"wires":[["84d7b5027b75be1b"]]},{"id":"588cfa40884cc898","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":1230.999496459961,"y":3577.3335514068604,"wires":[["36b73f979eb6a087"]]},{"id":"75736b5a53e2d185","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":1057.999496459961,"y":3638.3335514068604,"wires":[["e53f3611a97f32e2"]]},{"id":"7a57509ae2f0f55d","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":2790.500244140625,"y":2938.334228515625,"wires":[["5b23bfd227bb0ad1"]]},{"id":"8e7f7bfc867d0411","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":894.9994964599609,"y":3760.3335514068604,"wires":[["d02c01782d516103"]]},{"id":"381f4023bca1db6c","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":721.9994964599609,"y":3821.3335514068604,"wires":[["4e1cb848b4341061"]]},{"id":"26187f13ad70cc86","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":548.9994964599609,"y":3882.3335514068604,"wires":[["df07aaed78595f26"]]},{"id":"7ea5e9fffa0bbf34","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":375.99949645996094,"y":3943.3335514068604,"wires":[["907fb4bbcffcf176"]]},{"id":"c86d60657965d639","type":"subflow:65b7b14fbfe2fe6b","z":"b0060c3057106347","name":" ","x":202.99949645996094,"y":4004.3335514068604,"wires":[["c0c9f0fb58d4d874"]]},{"id":"5fd4ba318aac8c9e","type":"delay","z":"b0060c3057106347","name":"","pauseType":"delayv","timeout":"345","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":2431.999496459961,"y":3248.3335514068604,"wires":[["195c9fde56d3634f"]]},{"id":"d78df775e96f6874","type":"delay","z":"b0060c3057106347","name":"","pauseType":"delayv","timeout":"345","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":2258.999496459961,"y":3325.3335514068604,"wires":[["5f88aec1d5465d59"]]},{"id":"f49e9227800acdb7","type":"delay","z":"b0060c3057106347","name":"","pauseType":"delayv","timeout":"345","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":2085.999496459961,"y":3394.3335514068604,"wires":[["5cc7ac46b5191382"]]},{"id":"502b98312f7c19ce","type":"delay","z":"b0060c3057106347","name":"","pauseType":"delayv","timeout":"345","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1912.999496459961,"y":3455.3335514068604,"wires":[["ba3ec145750cc40e"]]},{"id":"c02f4222c7925b24","type":"delay","z":"b0060c3057106347","name":"","pauseType":"delayv","timeout":"345","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1739.999496459961,"y":3516.3335514068604,"wires":[["5dc4faead239cb60"]]},{"id":"43bac6d628044ce7","type":"delay","z":"b0060c3057106347","name":"","pauseType":"delayv","timeout":"345","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1566.999496459961,"y":3577.3335514068604,"wires":[["9792f98655f5bea3"]]},{"id":"a89c0a611f2c9c2c","type":"delay","z":"b0060c3057106347","name":"","pauseType":"delayv","timeout":"345","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1393.999496459961,"y":3638.3335514068604,"wires":[["2fcf3cbeeac1ba7a"]]},{"id":"3bf1d5bbc0b15c4f","type":"delay","z":"b0060c3057106347","name":"","pauseType":"delayv","timeout":"345","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1220.999496459961,"y":3699.3335514068604,"wires":[["bbdaf308a55fa73e"]]},{"id":"adaf38ad3c4ce818","type":"delay","z":"b0060c3057106347","name":"","pauseType":"delayv","timeout":"345","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1047.999496459961,"y":3760.3335514068604,"wires":[["24f9d491ef6bd4ea"]]},{"id":"9d987eeffce63b51","type":"delay","z":"b0060c3057106347","name":"","pauseType":"delayv","timeout":"345","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":2780.500244140625,"y":3092.334228515625,"wires":[["22cc36f5a5c93029"]]},{"id":"87bf38f4732dd2ac","type":"delay","z":"b0060c3057106347","name":"","pauseType":"delayv","timeout":"345","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":884.9994964599609,"y":3882.3335514068604,"wires":[["6fb166c19430fd45"]]},{"id":"f669718b05dbd63f","type":"delay","z":"b0060c3057106347","name":"","pauseType":"delayv","timeout":"345","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":711.9994964599609,"y":3943.3335514068604,"wires":[["8b907f1c27bc5777"]]},{"id":"05116d168301f9eb","type":"delay","z":"b0060c3057106347","name":"","pauseType":"delayv","timeout":"345","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":538.9994964599609,"y":4004.3335514068604,"wires":[["61bc9eadbecca0a0"]]},{"id":"dcd74589582a7c95","type":"delay","z":"b0060c3057106347","name":"","pauseType":"delayv","timeout":"345","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":365.99949645996094,"y":4065.3335514068604,"wires":[["d413f1c173ab55da"]]},{"id":"ac197ade39bce81a","type":"delay","z":"b0060c3057106347","name":"","pauseType":"delayv","timeout":"345","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":192.99949645996094,"y":4126.33355140686,"wires":[["d4254f516b0db70e"]]},{"id":"78f0e53bb755be87","type":"change","z":"b0060c3057106347","name":"message delay","rules":[{"t":"set","p":"delay","pt":"msg","to":"5","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":2411.999496459961,"y":365.33355140686035,"wires":[["22d7aad62a82d80a"]]},{"id":"236a30402e1bf7d0","type":"ClientCode","z":"b0060c3057106347","name":"zoom out","clientcode":"RED.actions.invoke(\"core:zoom-out\")\nnode.send(msg)","format":"javascript","x":2609.999496459961,"y":243.33355140686035,"wires":[["336ae3ed7880add3"]]},{"id":"336ae3ed7880add3","type":"delay","z":"b0060c3057106347","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":2609.999496459961,"y":304.33355140686035,"wires":[["1f6a2c57fe63441c"]]},{"id":"9ec43b09498dc353","type":"change","z":"b0060c3057106347","name":"","rules":[{"t":"set","p":"cnt","pt":"msg","to":"msg.cnt + 1","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":2599.999496459961,"y":182.33355140686035,"wires":[["236a30402e1bf7d0"]]},{"id":"1f6a2c57fe63441c","type":"switch","z":"b0060c3057106347","name":"","property":"cnt","propertyType":"msg","rules":[{"t":"lt","v":"9","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":2619.999496459961,"y":365.33355140686035,"wires":[["9ec43b09498dc353"]]}]