bc7bdcb9d2354754/flows.json
[{"id":"9864b6278ceeb0fe","type":"subflow","name":"LED (2)","info":"","category":"","in":[{"x":566,"y":167,"wires":[{"id":"21c1afe2839769da"}]}],"out":[{"x":973,"y":219,"wires":[{"id":"21c1afe2839769da","port":0}]}],"env":[],"meta":{},"color":"#FFF","icon":"node-red/light.svg","status":{"x":946,"y":146,"wires":[{"id":"76bf2f60855e5503","port":0}]}},{"id":"21c1afe2839769da","type":"function","z":"9864b6278ceeb0fe","name":" ","func":"if ( msg.action == \"dotmatrix\") {\n    /*\n     * 16px by 16px, column major, big endian. @ http://dotmatrixtool.com \n     */\n    var uint_8 = \n        [\n            0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, // spacer \n\n            0xf8, 0x00, 0x40, 0x00, 0x20, 0x00, 0xf8, 0x00, // NODE\n            0x00, 0x00, 0x70, 0x00, 0x88, 0x00, 0x70, 0x00, \n            0x00, 0x00, 0xf8, 0x00, 0x88, 0x00, 0x70, 0x00, \n            0x00, 0x00, 0xf8, 0x00, 0xa8, 0x00, 0x88, 0x00, \n            \n            0x00, 0x00, 0x20, 0x00, 0x20, 0x00, 0x20, 0x00, // minus\n            0x00, 0x00,\n            \n            0xf8, 0x00, 0xa0, 0x00, 0x58, 0x00, 0x00, 0x00, // RED!\n            0xf8, 0x00, 0xa8, 0x00, 0x88, 0x00, 0x00, 0x00, \n            0xf8, 0x00, 0x88, 0x00, 0x70, 0x00, 0x00, 0x00, \n            0xe8, 0x00, \n            \n            0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, // spacer\n        ];\n\n    var binaryData = uint_8.map((d) => { return (\"000000000\" + d.toString(2)).slice(-8) })\n\n    var cidx = ((msg.column % (uint_8.length/2))*2) + (msg.row > 7 ? 1 : 0);\n    var ridx = msg.row % 8;\n\n    if ( !this.context.get(\"myrow\") ) { this.context.set(\"myrow\", msg.row) }\n    if (!this.context.get(\"mycolumn\")) { this.context.set(\"mycolumn\", msg.column)}\n    \n    var myColumn = this.context.get(\"mycolumn\")\n    var myRow = this.context.get(\"myrow\")\n\n    setTimeout(() => {\n        node.status({\n            fill: binaryData[cidx][ridx] == \"1\" ? \"red\" : \"grey\",\n            shape: \"dot\",\n            text: msg.verbose ? \"c\" + myColumn + \"r\" + myRow : \"\"\n        })\n    }, 250);\n\n    msg.rowdata.push({\n        col: myColumn, \n        row: myRow,\n        val: binaryData[cidx][ridx] == \"1\"\n    })\n}\n\nmsg.column += 1;\n\nif (!this.context.get(\"stop\") && msg.action == \"stop\") {\n    this.context.set(\"stop\", true);\n\n    node.status({fill: \"green\", shape: \"dot\", text: \"stopping\"})\n    \n    var ctxt = this.context;\n    setTimeout( () => {\n        node.status({});\n        ctxt.set(\"stop\", false)\n        ctxt.set(\"mycolumn\", false)\n        ctxt.set(\"myrow\", false)\n    },2000);\n\n    return msg;\n}\n\nif ( !this.context.get(\"stop\") ) {\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":733,"y":260,"wires":[[]],"icon":"node-red/light.svg"},{"id":"76bf2f60855e5503","type":"status","z":"9864b6278ceeb0fe","name":"","scope":["21c1afe2839769da"],"x":734,"y":179,"wires":[[]]},{"id":"bc7bdcb9d2354754","type":"tab","label":"[babylonjs] 3d ticker wall","disabled":false,"info":"### Description \n\nThis is a 3D representation of a LED ticker.\n\n### Result\n\n![img](https://cdn.openmindmap.org/content/1698423949608_3d_ticker_5.gif)\n\n### Requirements\n\nThis requirements the following Node-RED nodes:\n\n- [node-red-contrib-web-babylonjs](https://flows.nodered.org/node/node-red-contrib-web-babylonjs)\n- [introspection](https://flows.nodered.org/node/@gregoriusrippenstein/node-red-contrib-introspection) (optional)\n\n### Using\n\nInstall the flow, got to `http://noded:1880/scene` (as described in [babylon](https://flows.nodered.org/node/node-red-contrib-web-babylonjs)), then hit one of the following keys:\n\n- `a` to start text scrolling\n- `s` to stop text scrolling\n- `n` to reload the scene (good for development)\n- `y` to reset paticles back to being flat\n- `t` to give each particle a random height\n\n"},{"id":"cf1929b0153dc869","type":"group","z":"bc7bdcb9d2354754","name":"genereate 3d ticker wall nodes","style":{"label":true},"nodes":["91d7741913386bf1","646f73317e6676e4","5594149c83d40ea5","872e92ba00850175","4b9a73479aed61a6"],"x":122.999755859375,"y":22.856958389282227,"w":810.1429138183594,"h":200.5715160369873},{"id":"ee8f3a64d8c3b277","type":"group","z":"bc7bdcb9d2354754","name":"scroll text generator","style":{"label":true},"nodes":["d9e72e74bfc7193f","a54a269f0c34c59d","c70a24afdf83dd34","54241702a1c98ac6","3c344cce2104abe5","7d9aa9db8824a73a","6d1107e5df078057","eb889be07559011a","0918ff20d4c6ebaa","ac7ce54c74d2f70e","8a5dd0be12023dd8","dd1bfcd356c68910","eb923dbb8172b05e","1b1a16b612ab4c54","1dbb2b33329fe9d2","90723b6c24031de9","7da9deac2b612c22","6adcf9e69cf573d4","6186f980abc4b57a","2ddbeec6652b05dc","9c36cb35f5f90715","c1e836891655427c","1fa050fe259ddede","b36f71faa30aeccf","cf72142db87e31b9","4fcf0f4beabeab19","0767a6f175b881e8","e7b783cea856a2f7"],"x":131.14282662527899,"y":2347.5713682174683,"w":2575.857158115932,"h":836.2066164016724},{"id":"11682f6dc0e0b203","type":"group","z":"bc7bdcb9d2354754","name":"3d ticker wall","style":{"label":true},"nodes":["e6936301353899d3","1b56c484bc584997","23243308f1ed5484","91f0f6293ad5bc7a","b53d85f4d2d6f7ed","bf4e8bbdd01fda5a","399e26b8a24c691e","11f176248deabcf5","c20307f7cbd1f214","247479c2bceb047d","ad514f43e967c3ed","127329f25b964223","2a8380c7bb82da97","407034bd2a6e234a","d6b54356b6f3537c","6d192f9d162437fa","c3563b7f6b3b8a20","188161c021080852","7d3e31038aa29c08","d1128c676193f0a0","19c5c1a905f262ec","db6c9e60e95fce98","c630c337a8efde7f","6687c911b9d2c354","b508a4324f50ae66","e0d9427d49cebc69","eafcafed2bd6cf54","51add2e82e7d340e","17a08cb920b09171","da7d030398f656d1","28134b876cb46e24","20090cc66f8932e1","5388dd6b1778f3b0","6699053c5b329e75","9d7a9dadc234d7cb","ed7f2e1dbd6b797a","34647e8e03814fef","f5208e3b20d9d73e","562f89ef2d698e65","bab3a68ad710fb06","ae33009f3e381515","0f307b6fde59c5ac","9f2c063f150718e9","dc1b5f8c1ff39bd9","9b0fd436594a7253","4036794be4e21444","81ac60655670b35b","a262fe81ae2abeab","ad9de14c9721373d","2f428432e7aae7ca","e84d47a3e86bd36e","2dacfe67104c676e","a280c73ad435122c","0b21a47677e2297b","b686305de7ebdc17","0f888c48c90a1e66","23c7f52b4099a087","65137d160972329b","761c1b1ff33ca116","405c4fa7e0ce11fb","fd94143cfcaa6309","ed8cebf509d54e39","9f3c700291356a2b","e7a112e5d28bc0cc","2cfaaaa68be165fc","cf93edb938261c25","e42282b8b1466784","4788d4de7c67299e","af43cbb57b487576","e452854ebc276bbb","bbbf91a5db74a2bf","3f027855c59d64bc","3e8aa042813c7b0b","34529671ae9baf1b","c9d02ab75635d208","bad24f517dfd0e94","983dd35deca5a051","1d658a0e7b749826","354616c205d04237","637960fe13c11e4e","087fea5c219f01eb","836b0a63ab351fe0","e392579722cd6b42","ea3eddbf1a7cbe94","07eeb94dacae5a0f","550ad6660ad65ddb","d9cb68320fb6b1b0","49f6e259297c70c7","3aa16de42ce6b1c5","3f24221d6471c050","ca581784058892ee","2c5263c6aae99115","733163b64e747f26","1cf0c52a3250c8db","90c6a3b317f0fbf3","7dd0dad04664dac6","fca3b8454e0bfadf","4a65ce7362478489","30f54a1821507904","aa5efb7b26158e7e","48499db3b05124ab","82ae269c1ca68a0a","d7733c440d06bfe4","9317bcd427951842","56d6d09b2f48065a","77bd3eb96de17de9","8ceac36afec27fa2","5077c6364dd4e988","8c6ff13b2496682e","a24e3d7135afed8e","36ce748666653713","f973e9ecd3d85fdb","7432e536d3179d42","31c8ed4ef36799a7","5265b29761bf0b9a","6e873eeac1dc8f0e","fae145c78e362d50","6b57bfd5210eb3e5","8622215e3765857e","df11e89d4894da2f","01728a1d742a9810","1b58f2e989e50611","9a67e2860e839fcf"],"x":859.0000419616699,"y":1150.7858543395996,"w":2474.8572177886963,"h":891.6426849365234},{"id":"0767a6f175b881e8","type":"group","z":"bc7bdcb9d2354754","g":"ee8f3a64d8c3b277","name":"LEDs simulation nodes","style":{"label":true},"nodes":["7ad9757732d38234","afc27b0aafba381c","134f04bfabb0218a","30d38b79ca9bba86","587c76ef542b0908","d62d8a033cd7ea34","1bef56f20844c1b2","a4cfb7b13e00904d","0339c472029869ca","4fc9abea39318eeb","f8b36e1e440b0c76","37179850af620aee","8c1965e373c56d88","48c92e0a95d1fcd8","bb829634f9aaebc2","3ce1ef0bd1216cfb","3244e0d3e137da0f","b2c6e24fe2eb0d0c","8b7dd26b75e24907","c117d394db592bf6","099c206d71315540","461e836e1bb0c734","2bbe7a35a96d8d2e","f0d4a9bd25f29f35","a792f1907dde096c","148329f270a9a068","d7afa99eb150bbf0","fb92587a63c12961","0572ec88ed57274d","aeebed2b4fdb9eb9","c5891a9d2169f51a","17a2d80c83550f63","cb86494459cbfa0b","fdf7be24a82d1e33","1d351d51a640d8c4","45299efa5c308de1","4cd9ef390d0f4d36","32ab40c88c2e38da","b98ae07af9bbc545","64fe1290b7587dc0","0bb0ef48412f247c","83618ef2bc0d6abe","a32bc5965acb612c","6baf43835f84db51","01b6220418511a3f","52f97861d632381b","e0cf67a7124cc199","91a32f0fbfa78688","03b7c4b88d378131","c298405354659cfa","3f37cfb29256b3d8","b486625e7abd186a","aca01d5247df06c1","e6e7413cb866fefa","4eb50e461f6c82f3"],"x":653.9524363199871,"y":2793.111358642578,"w":1290.3333333333335,"h":290},{"id":"e7b783cea856a2f7","type":"group","z":"bc7bdcb9d2354754","g":"ee8f3a64d8c3b277","name":"loop messages with delay","style":{"label":true},"nodes":["2da333af1bf1b275","8a03c57cee1edbfc","6181580d9a5be9a5","d41f45f8bfa7742f","f31df164106cddf9","c65304f53e228c14","85a47111187186da","a893dc749edcbd97","87657462a3cedf4a","46b1328ca42968f4","556852501d15c5d9","ea3824371a1fadad","0a2b9f36b04223b2","162a30255dfbaa49","6597c016a66548d2"],"x":2155.2857055664062,"y":2867.7779846191406,"w":426.083740234375,"h":290},{"id":"96e7cb30ba79f7c8","type":"junction","z":"bc7bdcb9d2354754","x":1459.0926523208618,"y":769.8616814613342,"wires":[["85df2d5ca50503a4","4e1a7713f118eee7","ca3184573e2b26f9","19bef844a7c48bec","409b1f5337119738","e065a35122eab991","b39811b40151e032","4ee37fcff69715d9","ebaa7dd3edd9968e","43fda3fe7a78a245","1cf337e71f351d1b"]]},{"id":"30cc4255a713f124","type":"junction","z":"bc7bdcb9d2354754","x":951.734724521637,"y":660.204137802124,"wires":[["094af6704bb45e7a","2e81c769b6cd2b4c","313987ba858cb966","7e1f4bb81f6ec13f","21360882903d7e45","b08684417f6efd74","e0110bdb2419187b","6afa3d8a58dfe176","d7650980d4278849","a691abf6e8f549f9","2a7506d62690ab82"]]},{"id":"9a67e2860e839fcf","type":"junction","z":"bc7bdcb9d2354754","g":"11682f6dc0e0b203","x":1194.8251276016235,"y":2012.1575269699097,"wires":[["1b56c484bc584997","91f0f6293ad5bc7a","bf4e8bbdd01fda5a","11f176248deabcf5","247479c2bceb047d","127329f25b964223","407034bd2a6e234a","6d192f9d162437fa","188161c021080852","d1128c676193f0a0","db6c9e60e95fce98","6687c911b9d2c354","e0d9427d49cebc69","51add2e82e7d340e","da7d030398f656d1","20090cc66f8932e1","6699053c5b329e75","ed7f2e1dbd6b797a","f5208e3b20d9d73e","bab3a68ad710fb06","0f307b6fde59c5ac","dc1b5f8c1ff39bd9","4036794be4e21444","a262fe81ae2abeab","2f428432e7aae7ca","2dacfe67104c676e","0b21a47677e2297b","0f888c48c90a1e66","65137d160972329b","405c4fa7e0ce11fb","ed8cebf509d54e39","e7a112e5d28bc0cc","cf93edb938261c25","4788d4de7c67299e","e452854ebc276bbb","3f027855c59d64bc","34529671ae9baf1b","bad24f517dfd0e94","1d658a0e7b749826","637960fe13c11e4e","836b0a63ab351fe0","ea3eddbf1a7cbe94","550ad6660ad65ddb","49f6e259297c70c7","3f24221d6471c050","2c5263c6aae99115","1cf0c52a3250c8db","7dd0dad04664dac6","4a65ce7362478489","aa5efb7b26158e7e","82ae269c1ca68a0a","9317bcd427951842","77bd3eb96de17de9","5077c6364dd4e988","a24e3d7135afed8e"]]},{"id":"cf72142db87e31b9","type":"junction","z":"bc7bdcb9d2354754","g":"ee8f3a64d8c3b277","x":512.5745022296906,"y":2578.354283928871,"wires":[["dd1bfcd356c68910"]]},{"id":"4fcf0f4beabeab19","type":"junction","z":"bc7bdcb9d2354754","g":"ee8f3a64d8c3b277","x":2175.448889732361,"y":2658.428808093071,"wires":[["7da9deac2b612c22","6adcf9e69cf573d4"]]},{"id":"a6177fc54132e224","type":"switch","z":"bc7bdcb9d2354754","name":"keydown event","property":"type","propertyType":"msg","rules":[{"t":"eq","v":"keydown","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":293.0000762939453,"y":665.7142219543457,"wires":[["a7ebc74b64715f0d","ddc61b1e9f4f83f0","1c57cfaa0976b65f","4e951868c4fdafa5"]]},{"id":"a7ebc74b64715f0d","type":"switch","z":"bc7bdcb9d2354754","name":"key: t","property":"key","propertyType":"msg","rules":[{"t":"eq","v":"t","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":517.7143363952637,"y":914.0000896453857,"wires":[["30cc4255a713f124","39c042240eae1716"]]},{"id":"ddc61b1e9f4f83f0","type":"switch","z":"bc7bdcb9d2354754","name":"key: y","property":"key","propertyType":"msg","rules":[{"t":"eq","v":"y","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":574.571361541748,"y":601.5715484619141,"wires":[["954cb31e8ab4e102"]]},{"id":"66aa7f78ebe24290","type":"change","z":"bc7bdcb9d2354754","name":"reset","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"type\":\"scale\",\"relative\":false,\"values\":{\"x\":1,\"y\":1,\"z\":0.25},\"pivot\":{\"x\":null,\"y\":null,\"z\":null}}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":729.5716247558594,"y":2015.285732269287,"wires":[["9a67e2860e839fcf","21e3111a78fc7c15"]]},{"id":"094af6704bb45e7a","type":"change","z":"bc7bdcb9d2354754","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"type\": \"scale\",\t    \"relative\": false,\t    \"values\": {\t      \"x\":1,\t      \"y\":1,\t      \"z\":$random() * 4\t    },\t    \"pivot\": {\t        \"x\": null,\t        \"y\": null,\t        \"z\": null\t    }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1226,"y":659,"wires":[["4ee37fcff69715d9"]]},{"id":"91d7741913386bf1","type":"function","z":"bc7bdcb9d2354754","g":"cf1929b0153dc869","name":"generate nodes for 3d ticker wall","func":"/* How big should the display be? */\nconst nrCols = msg.nrCols;\nconst nrRows = msg.nrRows;\n\n/*\n  Matrial ids: these are taken from using \"Export Nodes\" and reading the json generated.\n*/\nvar materials = [\n    [\n        \"17350478e877bc09\", // red\n        \"e7298bcff0d93b16\", // white\n    ],\n    [\n        \"e7298bcff0d93b16\", // white\n        \"17350478e877bc09\", // red\n    ],\n]\n\nvar junctionToAll = {\n    \"id\": RED.util.generateId(),\n    \"type\": \"junction\",\n    \"x\": 0,\n    \"y\": 0,\n    \"wires\": [\n        [\n        ]\n    ]\n}\n\nvar colRouter = {\n    \"id\": RED.util.generateId(),\n    \"type\": \"switch\",\n    \"name\": \"col switch\",\n    \"property\": \"col\",\n    \"propertyType\": \"msg\",\n    \"rules\": Array.from({ length: nrCols }, () => { return { \"t\": \"eq\", \"v\": \"1\", \"vt\": \"num\" }}),\n    \"checkall\": \"false\",\n    \"repair\": false,\n    \"outputs\": nrCols,\n    \"x\": 0,\n    \"y\": -600,\n    \"wires\": Array.from({ length: nrCols }, () => { return []}),\n}\n\n// set correct values\ncolRouter.rules.forEach((i, d) => i.v = (d + 1).toString())\n\nvar rowRouters = [];\nfor ( var y = 0; y < nrCols; y++) {\n    var rowRouter = {\n        \"id\": RED.util.generateId(),\n        \"type\": \"switch\",\n        \"name\": \"row switch for col \" + (y+1),\n        \"property\": \"row\",\n        \"propertyType\": \"msg\",\n        \"rules\": Array.from({ length: nrRows }, () => { return { \"t\": \"eq\", \"v\": \"1\", \"vt\": \"num\" }}),\n        \"checkall\": \"false\",\n        \"repair\": false,\n        \"outputs\": nrRows,\n        \"x\": 200*y,\n        \"y\": -500,  \n        \"wires\": Array.from({ length: nrRows }, () => { return []})\n    }\n\n    colRouter.wires[y].push(rowRouter.id)\n    rowRouter.rules.forEach((i, d) => i.v = (d + 1).toString())\n    rowRouters.push(rowRouter)\n}\n\nvar valueScaler = {\n    \"id\": \"WILLBEPREPLACDE\",\n    \"type\": \"change\",\n    \"name\": \"Set Z scale\",\n    \"rules\": [\n        {\n            \"t\": \"set\",\n            \"p\": \"payload\",\n            \"pt\": \"msg\",\n            \"to\": \"{\\t    \\\"type\\\": \\\"scale\\\",\\t    \\\"relative\\\": false,\\t    \\\"values\\\": {\\t      \\\"x\\\":1,\\t      \\\"y\\\":1,\\t      \\\"z\\\":$$.payload\\t    },\\t    \\\"pivot\\\": {\\t        \\\"x\\\": null,\\t        \\\"y\\\": null,\\t        \\\"z\\\": null\\t    }\\t}\",\n            \"tot\": \"jsonata\"\n        }\n    ],\n    \"action\": \"\",\n    \"property\": \"\",\n    \"from\": \"\",\n    \"to\": \"\",\n    \"reg\": false,\n    \"x\": 0,\n    \"y\": 0,\n    \"wires\": [\n        [\n\n        ]\n    ]\n}\n\nvar baseNode = {\n    \"id\": \"WILLBEREPLACED\",\n    \"type\": \"box\",\n    \"scene\": \"c0d1433da002f3c6\",\n    \"material\": \"WILLBEREPLACED\",\n    \"name_conf_a\": \"WILLBEREPLACED\",\n    \"size_conf_n\": 1,\n    \"height_conf_n\": \"\",\n    \"width_conf_n\": \"\",\n    \"depth_conf_n\": \"\",\n    \"updatable_conf_b\": false,\n    \"sideOrientation_conf_a\": \"1\",\n    \"pos_x\": \"WILLBEREPLACED\",\n    \"pos_y\": \"WILLBEREPLACD\",\n    \"pos_z\": 0,\n    \"scale_x\": \"1\",\n    \"scale_y\": \"1\",\n    \"scale_z\": \"0.25\",\n    \"rot_x\": 0,\n    \"rot_y\": 0,\n    \"rot_z\": 0,\n    \"x\": 0,\n    \"y\": 0,\n    \"wires\": [\n        []\n    ]\n}\nvar nodes = []\n\nfor (var x = 1; x < (nrCols + 1); x++) {\n    for (var y = 1; y < (nrRows + 1); y++) {\n        var nde = { ...baseNode };\n        nde.x = 180 * x;\n        nde.y = (60 * nrRows) + (50 * y);\n        nde[\"name_conf_a\"] = \"pixel_\" + x + \"_x_\" + y\n        nde.pos_x = x;\n        nde.pos_y = (nrRows - y) + 1;\n        nde.material = materials[x % 2][y % 2]\n        nde.id = RED.util.generateId()\n\n        var scaler = { ...valueScaler }\n        scaler.id = RED.util.generateId()\n        scaler.x = 180 * x;\n        scaler.y = 50 * y;\n        scaler.wires = [[nde.id]]\n\n        rowRouters[x-1].wires[y-1].push(scaler.id)\n        junctionToAll.wires[0].push(nde.id)\n\n        nodes.push(scaler)\n        nodes.push(nde)\n    }\n}\n\nvar ary = [\n    junctionToAll,\n    colRouter\n];\n\n// @ts-ignore\nmsg.payload = nodes.concat(ary).concat(rowRouters);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":394.1426544189453,"y":141.4284543991089,"wires":[["5594149c83d40ea5","4b9a73479aed61a6"]]},{"id":"646f73317e6676e4","type":"inject","z":"bc7bdcb9d2354754","g":"cf1929b0153dc869","name":"number of: columns and rows","props":[{"p":"nrCols","v":"11","vt":"num"},{"p":"nrRows","v":"5","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":288.999755859375,"y":63.85695838928223,"wires":[["91d7741913386bf1"]]},{"id":"5594149c83d40ea5","type":"debug","z":"bc7bdcb9d2354754","g":"cf1929b0153dc869","name":"debug 6","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":710.5711097717285,"y":77.99979782104492,"wires":[]},{"id":"872e92ba00850175","type":"ClientCode","z":"bc7bdcb9d2354754","g":"cf1929b0153dc869","name":"pop up import dialog","clientcode":"setTimeout(() => {\n            RED.clipboard.import();\n        \n            setTimeout(() => {\n                $('#red-ui-clipboard-dialog-import-text').val(\n                   data.payload\n                ).trigger(\"paste\");\n            }, 300);\n        },400)","format":"javascript","x":807.1426696777344,"y":129.57124376296997,"wires":[[]]},{"id":"4b9a73479aed61a6","type":"json","z":"bc7bdcb9d2354754","g":"cf1929b0153dc869","name":"","property":"payload","action":"str","pretty":false,"x":634.4281692504883,"y":182.42847442626953,"wires":[["872e92ba00850175"]]},{"id":"1c57cfaa0976b65f","type":"switch","z":"bc7bdcb9d2354754","name":"key: n","property":"key","propertyType":"msg","rules":[{"t":"eq","v":"n","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":493.1428451538086,"y":690.8571729660034,"wires":[["5e3a7e3d28ee145f"]]},{"id":"5e3a7e3d28ee145f","type":"change","z":"bc7bdcb9d2354754","name":"reload scene","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"type\":\"reload\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":563.2857093811035,"y":741.142936706543,"wires":[["ae420519080255f2"]]},{"id":"2e81c769b6cd2b4c","type":"change","z":"bc7bdcb9d2354754","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"type\": \"scale\",\t    \"relative\": false,\t    \"values\": {\t      \"x\":1,\t      \"y\":1,\t      \"z\":$random() * 4\t    },\t    \"pivot\": {\t        \"x\": null,\t        \"y\": null,\t        \"z\": null\t    }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1226,"y":567.4285564422607,"wires":[["e065a35122eab991"]]},{"id":"313987ba858cb966","type":"change","z":"bc7bdcb9d2354754","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"type\": \"scale\",\t    \"relative\": false,\t    \"values\": {\t      \"x\":1,\t      \"y\":1,\t      \"z\":$random() * 4\t    },\t    \"pivot\": {\t        \"x\": null,\t        \"y\": null,\t        \"z\": null\t    }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1226,"y":611.2857151031494,"wires":[["b39811b40151e032"]]},{"id":"7e1f4bb81f6ec13f","type":"change","z":"bc7bdcb9d2354754","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"type\": \"scale\",\t    \"relative\": false,\t    \"values\": {\t      \"x\":1,\t      \"y\":1,\t      \"z\":$random() * 4\t    },\t    \"pivot\": {\t        \"x\": null,\t        \"y\": null,\t        \"z\": null\t    }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1226,"y":517.7142906188965,"wires":[["409b1f5337119738"]]},{"id":"21360882903d7e45","type":"change","z":"bc7bdcb9d2354754","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"type\": \"scale\",\t    \"relative\": false,\t    \"values\": {\t      \"x\":1,\t      \"y\":1,\t      \"z\":$random() * 4\t    },\t    \"pivot\": {\t        \"x\": null,\t        \"y\": null,\t        \"z\": null\t    }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1226,"y":471.285719871521,"wires":[["19bef844a7c48bec"]]},{"id":"b08684417f6efd74","type":"change","z":"bc7bdcb9d2354754","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"type\": \"scale\",\t    \"relative\": false,\t    \"values\": {\t      \"x\":1,\t      \"y\":1,\t      \"z\":$random() * 4\t    },\t    \"pivot\": {\t        \"x\": null,\t        \"y\": null,\t        \"z\": null\t    }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1226,"y":425.57142639160156,"wires":[["ca3184573e2b26f9"]]},{"id":"e0110bdb2419187b","type":"change","z":"bc7bdcb9d2354754","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"type\": \"scale\",\t    \"relative\": false,\t    \"values\": {\t      \"x\":1,\t      \"y\":1,\t      \"z\":$random() * 4\t    },\t    \"pivot\": {\t        \"x\": null,\t        \"y\": null,\t        \"z\": null\t    }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1226,"y":379.2857093811035,"wires":[["4e1a7713f118eee7"]]},{"id":"6afa3d8a58dfe176","type":"change","z":"bc7bdcb9d2354754","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"type\": \"scale\",\t    \"relative\": false,\t    \"values\": {\t      \"x\":1,\t      \"y\":1,\t      \"z\":$random() * 4\t    },\t    \"pivot\": {\t        \"x\": null,\t        \"y\": null,\t        \"z\": null\t    }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1226,"y":336.9999752044678,"wires":[["85df2d5ca50503a4"]]},{"id":"d7650980d4278849","type":"change","z":"bc7bdcb9d2354754","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"type\": \"scale\",\t    \"relative\": false,\t    \"values\": {\t      \"x\":1,\t      \"y\":1,\t      \"z\":$random() * 4\t    },\t    \"pivot\": {\t        \"x\": null,\t        \"y\": null,\t        \"z\": null\t    }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1226,"y":294.5714473724365,"wires":[["ebaa7dd3edd9968e"]]},{"id":"a691abf6e8f549f9","type":"change","z":"bc7bdcb9d2354754","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"type\": \"scale\",\t    \"relative\": false,\t    \"values\": {\t      \"x\":1,\t      \"y\":1,\t      \"z\":$random() * 4\t    },\t    \"pivot\": {\t        \"x\": null,\t        \"y\": null,\t        \"z\": null\t    }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1226,"y":255.71429061889648,"wires":[["43fda3fe7a78a245"]]},{"id":"39c042240eae1716","type":"function","z":"bc7bdcb9d2354754","name":"send random values","func":"for ( var x = 1 ; x < 20 ; x++ ){\n    for ( var y = 1; y < 20 ; y++ ) {\n        node.send({\n            row: x,\n            col: y,\n            payload: Math.random() * 4\n        })\n    }\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":734.2857971191406,"y":1244.285680770874,"wires":[["36ce748666653713"]]},{"id":"5cc9694bf70b618a","type":"function","z":"bc7bdcb9d2354754","name":"function 1","func":"msg.rowdata.forEach( (row) => {\n    row.forEach( (col) => {\n        col.payload = col.val ? 3 : 0.25\n        col.col += 1\n        col.row += 1\n        node.send(col)\n    })\n})\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":748.5716018676758,"y":1342.8572006225586,"wires":[["36ce748666653713"]]},{"id":"06fa8aa1a5b08bce","type":"link in","z":"bc7bdcb9d2354754","name":"link in 7","links":["90723b6c24031de9"],"x":724.2857637405396,"y":1455.7145519256592,"wires":[["5cc9694bf70b618a"]]},{"id":"e6936301353899d3","type":"change","z":"bc7bdcb9d2354754","g":"11682f6dc0e0b203","name":"Set Z scale","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"type\": \"scale\",\t    \"relative\": false,\t    \"values\": {\t      \"x\":1,\t      \"y\":1,\t      \"z\":$$.payload\t    },\t    \"pivot\": {\t        \"x\": null,\t        \"y\": null,\t        \"z\": null\t    }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1437.8572597503662,"y":1501.428539276123,"wires":[["1b56c484bc584997"]]},{"id":"23243308f1ed5484","type":"change","z":"bc7bdcb9d2354754","g":"11682f6dc0e0b203","name":"Set Z scale","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"type\": \"scale\",\t    \"relative\": false,\t    \"values\": {\t      \"x\":1,\t      \"y\":1,\t      \"z\":$$.payload\t    },\t    \"pivot\": {\t        \"x\": null,\t        \"y\": null,\t        \"z\": null\t    }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1437.8572597503662,"y":1551.428539276123,"wires":[["91f0f6293ad5bc7a"]]},{"id":"b53d85f4d2d6f7ed","type":"change","z":"bc7bdcb9d2354754","g":"11682f6dc0e0b203","name":"Set Z scale","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"type\": \"scale\",\t    \"relative\": false,\t    \"values\": {\t      \"x\":1,\t      \"y\":1,\t      \"z\":$$.payload\t    },\t    \"pivot\": {\t        \"x\": null,\t        \"y\": null,\t        \"z\": null\t    }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1437.8572597503662,"y":1601.428539276123,"wires":[["bf4e8bbdd01fda5a"]]},{"id":"399e26b8a24c691e","type":"change","z":"bc7bdcb9d2354754","g":"11682f6dc0e0b203","name":"Set Z scale","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"type\": \"scale\",\t    \"relative\": false,\t    \"values\": {\t      \"x\":1,\t      \"y\":1,\t      \"z\":$$.payload\t    },\t    \"pivot\": {\t        \"x\": null,\t        \"y\": null,\t        \"z\": null\t    }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1437.8572597503662,"y":1651.428539276123,"wires":[["11f176248deabcf5"]]},{"id":"c20307f7cbd1f214","type":"change","z":"bc7bdcb9d2354754","g":"11682f6dc0e0b203","name":"Set Z scale","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"type\": \"scale\",\t    \"relative\": false,\t    \"values\": {\t      \"x\":1,\t      \"y\":1,\t      \"z\":$$.payload\t    },\t    \"pivot\": {\t        \"x\": null,\t        \"y\": null,\t        \"z\": null\t    }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1437.8572597503662,"y":1701.428539276123,"wires":[["247479c2bceb047d"]]},{"id":"ad514f43e967c3ed","type":"change","z":"bc7bdcb9d2354754","g":"11682f6dc0e0b203","name":"Set Z scale","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"type\": \"scale\",\t    \"relative\": false,\t    \"values\": {\t      \"x\":1,\t      \"y\":1,\t      \"z\":$$.payload\t    },\t    \"pivot\": {\t        \"x\": null,\t        \"y\": null,\t        \"z\": null\t    }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1617.8572597503662,"y":1501.428539276123,"wires":[["127329f25b964223"]]},{"id":"2a8380c7bb82da97","type":"change","z":"bc7bdcb9d2354754","g":"11682f6dc0e0b203","name":"Set Z scale","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"type\": \"scale\",\t    \"relative\": false,\t    \"values\": {\t      \"x\":1,\t      \"y\":1,\t      \"z\":$$.payload\t    },\t    \"pivot\": {\t        \"x\": null,\t        \"y\": null,\t        \"z\": null\t    }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1617.8572597503662,"y":1551.428539276123,"wires":[["407034bd2a6e234a"]]},{"id":"d6b54356b6f3537c","type":"change","z":"bc7bdcb9d2354754","g":"11682f6dc0e0b203","name":"Set Z scale","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"type\": \"scale\",\t    \"relative\": false,\t    \"values\": {\t      \"x\":1,\t      \"y\":1,\t      \"z\":$$.payload\t    },\t    \"pivot\": {\t        \"x\": null,\t        \"y\": null,\t        \"z\": null\t    }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1617.8572597503662,"y":1601.428539276123,"wires":[["6d192f9d162437fa"]]},{"id":"c3563b7f6b3b8a20","type":"change","z":"bc7bdcb9d2354754","g":"11682f6dc0e0b203","name":"Set Z scale","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"type\": \"scale\",\t    \"relative\": false,\t    \"values\": {\t      \"x\":1,\t      \"y\":1,\t      \"z\":$$.payload\t    },\t    \"pivot\": {\t        \"x\": null,\t        \"y\": null,\t        \"z\": null\t    }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1617.8572597503662,"y":1651.428539276123,"wires":[["188161c021080852"]]},{"id":"7d3e31038aa29c08","type":"change","z":"bc7bdcb9d2354754","g":"11682f6dc0e0b203","name":"Set Z scale","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"type\": \"scale\",\t    \"relative\": false,\t    \"values\": {\t      \"x\":1,\t      \"y\":1,\t      \"z\":$$.payload\t    },\t    \"pivot\": {\t        \"x\": null,\t        \"y\": null,\t        \"z\": null\t    }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1617.8572597503662,"y":1701.428539276123,"wires":[["d1128c676193f0a0"]]},{"id":"19c5c1a905f262ec","type":"change","z":"bc7bdcb9d2354754","g":"11682f6dc0e0b203","name":"Set Z scale","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"type\": \"scale\",\t    \"relative\": false,\t    \"values\": {\t      \"x\":1,\t      \"y\":1,\t      \"z\":$$.payload\t    },\t    \"pivot\": {\t        \"x\": null,\t        \"y\": null,\t        \"z\": null\t    }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1797.8572597503662,"y":1501.428539276123,"wires":[["db6c9e60e95fce98"]]},{"id":"c630c337a8efde7f","type":"change","z":"bc7bdcb9d2354754","g":"11682f6dc0e0b203","name":"Set Z scale","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"type\": \"scale\",\t    \"relative\": false,\t    \"values\": {\t      \"x\":1,\t      \"y\":1,\t      \"z\":$$.payload\t    },\t    \"pivot\": {\t        \"x\": null,\t        \"y\": null,\t        \"z\": null\t    }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1797.8572597503662,"y":1551.428539276123,"wires":[["6687c911b9d2c354"]]},{"id":"b508a4324f50ae66","type":"change","z":"bc7bdcb9d2354754","g":"11682f6dc0e0b203","name":"Set Z scale","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"type\": \"scale\",\t    \"relative\": false,\t    \"values\": {\t      \"x\":1,\t      \"y\":1,\t      \"z\":$$.payload\t    },\t    \"pivot\": {\t        \"x\": null,\t        \"y\": null,\t        \"z\": null\t    }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1797.8572597503662,"y":1601.428539276123,"wires":[["e0d9427d49cebc69"]]},{"id":"eafcafed2bd6cf54","type":"change","z":"bc7bdcb9d2354754","g":"11682f6dc0e0b203","name":"Set Z scale","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"type\": \"scale\",\t    \"relative\": false,\t    \"values\": {\t      \"x\":1,\t      \"y\":1,\t      \"z\":$$.payload\t    },\t    \"pivot\": {\t        \"x\": null,\t        \"y\": null,\t        \"z\": null\t    }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1797.8572597503662,"y":1651.428539276123,"wires":[["51add2e82e7d340e"]]},{"id":"17a08cb920b09171","type":"change","z":"bc7bdcb9d2354754","g":"11682f6dc0e0b203","name":"Set Z scale","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"type\": \"scale\",\t    \"relative\": false,\t    \"values\": {\t      \"x\":1,\t      \"y\":1,\t      \"z\":$$.payload\t    },\t    \"pivot\": {\t        \"x\": null,\t        \"y\": null,\t        \"z\": null\t    }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1797.8572597503662,"y":1701.428539276123,"wires":[["da7d030398f656d1"]]},{"id":"28134b876cb46e24","type":"change","z":"bc7bdcb9d2354754","g":"11682f6dc0e0b203","name":"Set Z scale","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"type\": \"scale\",\t    \"relative\": false,\t    \"values\": {\t      \"x\":1,\t      \"y\":1,\t      \"z\":$$.payload\t    },\t    \"pivot\": {\t        \"x\": null,\t        \"y\": null,\t        \"z\": null\t    }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1977.8572597503662,"y":1501.428539276123,"wires":[["20090cc66f8932e1"]]},{"id":"5388dd6b1778f3b0","type":"change","z":"bc7bdcb9d2354754","g":"11682f6dc0e0b203","name":"Set Z scale","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"type\": \"scale\",\t    \"relative\": false,\t    \"values\": {\t      \"x\":1,\t      \"y\":1,\t      \"z\":$$.payload\t    },\t    \"pivot\": {\t        \"x\": null,\t        \"y\": null,\t        \"z\": null\t    }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1977.8572597503662,"y":1551.428539276123,"wires":[["6699053c5b329e75"]]},{"id":"9d7a9dadc234d7cb","type":"change","z":"bc7bdcb9d2354754","g":"11682f6dc0e0b203","name":"Set Z scale","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"type\": \"scale\",\t    \"relative\": false,\t    \"values\": {\t      \"x\":1,\t      \"y\":1,\t      \"z\":$$.payload\t    },\t    \"pivot\": {\t        \"x\": null,\t        \"y\": null,\t        \"z\": null\t    }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1977.8572597503662,"y":1601.428539276123,"wires":[["ed7f2e1dbd6b797a"]]},{"id":"34647e8e03814fef","type":"change","z":"bc7bdcb9d2354754","g":"11682f6dc0e0b203","name":"Set Z scale","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"type\": \"scale\",\t    \"relative\": false,\t    \"values\": {\t      \"x\":1,\t      \"y\":1,\t      \"z\":$$.payload\t    },\t    \"pivot\": {\t        \"x\": null,\t        \"y\": null,\t        \"z\": null\t    }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1977.8572597503662,"y":1651.428539276123,"wires":[["f5208e3b20d9d73e"]]},{"id":"562f89ef2d698e65","type":"change","z":"bc7bdcb9d2354754","g":"11682f6dc0e0b203","name":"Set Z scale","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"type\": \"scale\",\t    \"relative\": false,\t    \"values\": {\t      \"x\":1,\t      \"y\":1,\t      \"z\":$$.payload\t    },\t    \"pivot\": {\t        \"x\": null,\t        \"y\": null,\t        \"z\": null\t    }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1977.8572597503662,"y":1701.428539276123,"wires":[["bab3a68ad710fb06"]]},{"id":"ae33009f3e381515","type":"change","z":"bc7bdcb9d2354754","g":"11682f6dc0e0b203","name":"Set Z scale","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"type\": \"scale\",\t    \"relative\": false,\t    \"values\": {\t      \"x\":1,\t      \"y\":1,\t      \"z\":$$.payload\t    },\t    \"pivot\": {\t        \"x\": null,\t        \"y\": null,\t        \"z\": null\t    }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":2157.857259750366,"y":1501.428539276123,"wires":[["0f307b6fde59c5ac"]]},{"id":"9f2c063f150718e9","type":"change","z":"bc7bdcb9d2354754","g":"11682f6dc0e0b203","name":"Set Z scale","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"type\": \"scale\",\t    \"relative\": false,\t    \"values\": {\t      \"x\":1,\t      \"y\":1,\t      \"z\":$$.payload\t    },\t    \"pivot\": {\t        \"x\": null,\t        \"y\": null,\t        \"z\": null\t    }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":2157.857259750366,"y":1551.428539276123,"wires":[["dc1b5f8c1ff39bd9"]]},{"id":"9b0fd436594a7253","type":"change","z":"bc7bdcb9d2354754","g":"11682f6dc0e0b203","name":"Set Z scale","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"type\": \"scale\",\t    \"relative\": false,\t    \"values\": {\t      \"x\":1,\t      \"y\":1,\t      \"z\":$$.payload\t    },\t    \"pivot\": {\t        \"x\": null,\t        \"y\": null,\t        \"z\": null\t    }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":2157.857259750366,"y":1601.428539276123,"wires":[["4036794be4e21444"]]},{"id":"81ac60655670b35b","type":"change","z":"bc7bdcb9d2354754","g":"11682f6dc0e0b203","name":"Set Z scale","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"type\": \"scale\",\t    \"relative\": false,\t    \"values\": {\t      \"x\":1,\t      \"y\":1,\t      \"z\":$$.payload\t    },\t    \"pivot\": {\t        \"x\": null,\t        \"y\": null,\t        \"z\": null\t    }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":2157.857259750366,"y":1651.428539276123,"wires":[["a262fe81ae2abeab"]]},{"id":"ad9de14c9721373d","type":"change","z":"bc7bdcb9d2354754","g":"11682f6dc0e0b203","name":"Set Z scale","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"type\": \"scale\",\t    \"relative\": false,\t    \"values\": {\t      \"x\":1,\t      \"y\":1,\t      \"z\":$$.payload\t    },\t    \"pivot\": {\t        \"x\": null,\t        \"y\": null,\t        \"z\": null\t    }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":2157.857259750366,"y":1701.428539276123,"wires":[["2f428432e7aae7ca"]]},{"id":"e84d47a3e86bd36e","type":"change","z":"bc7bdcb9d2354754","g":"11682f6dc0e0b203","name":"Set Z scale","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"type\": \"scale\",\t    \"relative\": false,\t    \"values\": {\t      \"x\":1,\t      \"y\":1,\t      \"z\":$$.payload\t    },\t    \"pivot\": {\t        \"x\": null,\t        \"y\": null,\t        \"z\": null\t    }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":2337.857259750366,"y":1501.428539276123,"wires":[["2dacfe67104c676e"]]},{"id":"a280c73ad435122c","type":"change","z":"bc7bdcb9d2354754","g":"11682f6dc0e0b203","name":"Set Z scale","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"type\": \"scale\",\t    \"relative\": false,\t    \"values\": {\t      \"x\":1,\t      \"y\":1,\t      \"z\":$$.payload\t    },\t    \"pivot\": {\t        \"x\": null,\t        \"y\": null,\t        \"z\": null\t    }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":2337.857259750366,"y":1551.428539276123,"wires":[["0b21a47677e2297b"]]},{"id":"b686305de7ebdc17","type":"change","z":"bc7bdcb9d2354754","g":"11682f6dc0e0b203","name":"Set Z scale","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"type\": \"scale\",\t    \"relative\": false,\t    \"values\": {\t      \"x\":1,\t      \"y\":1,\t      \"z\":$$.payload\t    },\t    \"pivot\": {\t        \"x\": null,\t        \"y\": null,\t        \"z\": null\t    }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":2337.857259750366,"y":1601.428539276123,"wires":[["0f888c48c90a1e66"]]},{"id":"23c7f52b4099a087","type":"change","z":"bc7bdcb9d2354754","g":"11682f6dc0e0b203","name":"Set Z scale","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"type\": \"scale\",\t    \"relative\": false,\t    \"values\": {\t      \"x\":1,\t      \"y\":1,\t      \"z\":$$.payload\t    },\t    \"pivot\": {\t        \"x\": null,\t        \"y\": null,\t        \"z\": null\t    }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":2337.857259750366,"y":1651.428539276123,"wires":[["65137d160972329b"]]},{"id":"761c1b1ff33ca116","type":"change","z":"bc7bdcb9d2354754","g":"11682f6dc0e0b203","name":"Set Z scale","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"type\": \"scale\",\t    \"relative\": false,\t    \"values\": {\t      \"x\":1,\t      \"y\":1,\t      \"z\":$$.payload\t    },\t    \"pivot\": {\t        \"x\": null,\t        \"y\": null,\t        \"z\": null\t    }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":2337.857259750366,"y":1701.428539276123,"wires":[["405c4fa7e0ce11fb"]]},{"id":"fd94143cfcaa6309","type":"change","z":"bc7bdcb9d2354754","g":"11682f6dc0e0b203","name":"Set Z scale","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"type\": \"scale\",\t    \"relative\": false,\t    \"values\": {\t      \"x\":1,\t      \"y\":1,\t      \"z\":$$.payload\t    },\t    \"pivot\": {\t        \"x\": null,\t        \"y\": null,\t        \"z\": null\t    }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":2517.857259750366,"y":1501.428539276123,"wires":[["ed8cebf509d54e39"]]},{"id":"9f3c700291356a2b","type":"change","z":"bc7bdcb9d2354754","g":"11682f6dc0e0b203","name":"Set Z scale","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"type\": \"scale\",\t    \"relative\": false,\t    \"values\": {\t      \"x\":1,\t      \"y\":1,\t      \"z\":$$.payload\t    },\t    \"pivot\": {\t        \"x\": null,\t        \"y\": null,\t        \"z\": null\t    }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":2517.857259750366,"y":1551.428539276123,"wires":[["e7a112e5d28bc0cc"]]},{"id":"2cfaaaa68be165fc","type":"change","z":"bc7bdcb9d2354754","g":"11682f6dc0e0b203","name":"Set Z scale","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"type\": \"scale\",\t    \"relative\": false,\t    \"values\": {\t      \"x\":1,\t      \"y\":1,\t      \"z\":$$.payload\t    },\t    \"pivot\": {\t        \"x\": null,\t        \"y\": null,\t        \"z\": null\t    }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":2517.857259750366,"y":1601.428539276123,"wires":[["cf93edb938261c25"]]},{"id":"e42282b8b1466784","type":"change","z":"bc7bdcb9d2354754","g":"11682f6dc0e0b203","name":"Set Z scale","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"type\": \"scale\",\t    \"relative\": false,\t    \"values\": {\t      \"x\":1,\t      \"y\":1,\t      \"z\":$$.payload\t    },\t    \"pivot\": {\t        \"x\": null,\t        \"y\": null,\t        \"z\": null\t    }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":2517.857259750366,"y":1651.428539276123,"wires":[["4788d4de7c67299e"]]},{"id":"af43cbb57b487576","type":"change","z":"bc7bdcb9d2354754","g":"11682f6dc0e0b203","name":"Set Z scale","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"type\": \"scale\",\t    \"relative\": false,\t    \"values\": {\t      \"x\":1,\t      \"y\":1,\t      \"z\":$$.payload\t    },\t    \"pivot\": {\t        \"x\": null,\t        \"y\": null,\t        \"z\": null\t    }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":2517.857259750366,"y":1701.428539276123,"wires":[["e452854ebc276bbb"]]},{"id":"bbbf91a5db74a2bf","type":"change","z":"bc7bdcb9d2354754","g":"11682f6dc0e0b203","name":"Set Z scale","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"type\": \"scale\",\t    \"relative\": false,\t    \"values\": {\t      \"x\":1,\t      \"y\":1,\t      \"z\":$$.payload\t    },\t    \"pivot\": {\t        \"x\": null,\t        \"y\": null,\t        \"z\": null\t    }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":2697.857259750366,"y":1501.428539276123,"wires":[["3f027855c59d64bc"]]},{"id":"3e8aa042813c7b0b","type":"change","z":"bc7bdcb9d2354754","g":"11682f6dc0e0b203","name":"Set Z scale","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"type\": \"scale\",\t    \"relative\": false,\t    \"values\": {\t      \"x\":1,\t      \"y\":1,\t      \"z\":$$.payload\t    },\t    \"pivot\": {\t        \"x\": null,\t        \"y\": null,\t        \"z\": null\t    }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":2697.857259750366,"y":1551.428539276123,"wires":[["34529671ae9baf1b"]]},{"id":"c9d02ab75635d208","type":"change","z":"bc7bdcb9d2354754","g":"11682f6dc0e0b203","name":"Set Z scale","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"type\": \"scale\",\t    \"relative\": false,\t    \"values\": {\t      \"x\":1,\t      \"y\":1,\t      \"z\":$$.payload\t    },\t    \"pivot\": {\t        \"x\": null,\t        \"y\": null,\t        \"z\": null\t    }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":2697.857259750366,"y":1601.428539276123,"wires":[["bad24f517dfd0e94"]]},{"id":"983dd35deca5a051","type":"change","z":"bc7bdcb9d2354754","g":"11682f6dc0e0b203","name":"Set Z scale","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"type\": \"scale\",\t    \"relative\": false,\t    \"values\": {\t      \"x\":1,\t      \"y\":1,\t      \"z\":$$.payload\t    },\t    \"pivot\": {\t        \"x\": null,\t        \"y\": null,\t        \"z\": null\t    }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":2697.857259750366,"y":1651.428539276123,"wires":[["1d658a0e7b749826"]]},{"id":"354616c205d04237","type":"change","z":"bc7bdcb9d2354754","g":"11682f6dc0e0b203","name":"Set Z scale","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"type\": \"scale\",\t    \"relative\": false,\t    \"values\": {\t      \"x\":1,\t      \"y\":1,\t      \"z\":$$.payload\t    },\t    \"pivot\": {\t        \"x\": null,\t        \"y\": null,\t        \"z\": null\t    }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":2697.857259750366,"y":1701.428539276123,"wires":[["637960fe13c11e4e"]]},{"id":"087fea5c219f01eb","type":"change","z":"bc7bdcb9d2354754","g":"11682f6dc0e0b203","name":"Set Z scale","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"type\": \"scale\",\t    \"relative\": false,\t    \"values\": {\t      \"x\":1,\t      \"y\":1,\t      \"z\":$$.payload\t    },\t    \"pivot\": {\t        \"x\": null,\t        \"y\": null,\t        \"z\": null\t    }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":2877.857259750366,"y":1501.428539276123,"wires":[["836b0a63ab351fe0"]]},{"id":"e392579722cd6b42","type":"change","z":"bc7bdcb9d2354754","g":"11682f6dc0e0b203","name":"Set Z scale","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"type\": \"scale\",\t    \"relative\": false,\t    \"values\": {\t      \"x\":1,\t      \"y\":1,\t      \"z\":$$.payload\t    },\t    \"pivot\": {\t        \"x\": null,\t        \"y\": null,\t        \"z\": null\t    }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":2877.857259750366,"y":1551.428539276123,"wires":[["ea3eddbf1a7cbe94"]]},{"id":"07eeb94dacae5a0f","type":"change","z":"bc7bdcb9d2354754","g":"11682f6dc0e0b203","name":"Set Z scale","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"type\": \"scale\",\t    \"relative\": false,\t    \"values\": {\t      \"x\":1,\t      \"y\":1,\t      \"z\":$$.payload\t    },\t    \"pivot\": {\t        \"x\": null,\t        \"y\": null,\t        \"z\": null\t    }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":2877.857259750366,"y":1601.428539276123,"wires":[["550ad6660ad65ddb"]]},{"id":"d9cb68320fb6b1b0","type":"change","z":"bc7bdcb9d2354754","g":"11682f6dc0e0b203","name":"Set Z scale","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"type\": \"scale\",\t    \"relative\": false,\t    \"values\": {\t      \"x\":1,\t      \"y\":1,\t      \"z\":$$.payload\t    },\t    \"pivot\": {\t        \"x\": null,\t        \"y\": null,\t        \"z\": null\t    }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":2877.857259750366,"y":1651.428539276123,"wires":[["49f6e259297c70c7"]]},{"id":"3aa16de42ce6b1c5","type":"change","z":"bc7bdcb9d2354754","g":"11682f6dc0e0b203","name":"Set Z scale","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"type\": \"scale\",\t    \"relative\": false,\t    \"values\": {\t      \"x\":1,\t      \"y\":1,\t      \"z\":$$.payload\t    },\t    \"pivot\": {\t        \"x\": null,\t        \"y\": null,\t        \"z\": null\t    }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":2877.857259750366,"y":1701.428539276123,"wires":[["3f24221d6471c050"]]},{"id":"ca581784058892ee","type":"change","z":"bc7bdcb9d2354754","g":"11682f6dc0e0b203","name":"Set Z scale","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"type\": \"scale\",\t    \"relative\": false,\t    \"values\": {\t      \"x\":1,\t      \"y\":1,\t      \"z\":$$.payload\t    },\t    \"pivot\": {\t        \"x\": null,\t        \"y\": null,\t        \"z\": null\t    }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":3057.857259750366,"y":1501.428539276123,"wires":[["2c5263c6aae99115"]]},{"id":"733163b64e747f26","type":"change","z":"bc7bdcb9d2354754","g":"11682f6dc0e0b203","name":"Set Z scale","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"type\": \"scale\",\t    \"relative\": false,\t    \"values\": {\t      \"x\":1,\t      \"y\":1,\t      \"z\":$$.payload\t    },\t    \"pivot\": {\t        \"x\": null,\t        \"y\": null,\t        \"z\": null\t    }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":3057.857259750366,"y":1551.428539276123,"wires":[["1cf0c52a3250c8db"]]},{"id":"90c6a3b317f0fbf3","type":"change","z":"bc7bdcb9d2354754","g":"11682f6dc0e0b203","name":"Set Z scale","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"type\": \"scale\",\t    \"relative\": false,\t    \"values\": {\t      \"x\":1,\t      \"y\":1,\t      \"z\":$$.payload\t    },\t    \"pivot\": {\t        \"x\": null,\t        \"y\": null,\t        \"z\": null\t    }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":3057.857259750366,"y":1601.428539276123,"wires":[["7dd0dad04664dac6"]]},{"id":"fca3b8454e0bfadf","type":"change","z":"bc7bdcb9d2354754","g":"11682f6dc0e0b203","name":"Set Z scale","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"type\": \"scale\",\t    \"relative\": false,\t    \"values\": {\t      \"x\":1,\t      \"y\":1,\t      \"z\":$$.payload\t    },\t    \"pivot\": {\t        \"x\": null,\t        \"y\": null,\t        \"z\": null\t    }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":3057.857259750366,"y":1651.428539276123,"wires":[["4a65ce7362478489"]]},{"id":"30f54a1821507904","type":"change","z":"bc7bdcb9d2354754","g":"11682f6dc0e0b203","name":"Set Z scale","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"type\": \"scale\",\t    \"relative\": false,\t    \"values\": {\t      \"x\":1,\t      \"y\":1,\t      \"z\":$$.payload\t    },\t    \"pivot\": {\t        \"x\": null,\t        \"y\": null,\t        \"z\": null\t    }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":3057.857259750366,"y":1701.428539276123,"wires":[["aa5efb7b26158e7e"]]},{"id":"48499db3b05124ab","type":"change","z":"bc7bdcb9d2354754","g":"11682f6dc0e0b203","name":"Set Z scale","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"type\": \"scale\",\t    \"relative\": false,\t    \"values\": {\t      \"x\":1,\t      \"y\":1,\t      \"z\":$$.payload\t    },\t    \"pivot\": {\t        \"x\": null,\t        \"y\": null,\t        \"z\": null\t    }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":3237.857259750366,"y":1501.428539276123,"wires":[["82ae269c1ca68a0a"]]},{"id":"d7733c440d06bfe4","type":"change","z":"bc7bdcb9d2354754","g":"11682f6dc0e0b203","name":"Set Z scale","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"type\": \"scale\",\t    \"relative\": false,\t    \"values\": {\t      \"x\":1,\t      \"y\":1,\t      \"z\":$$.payload\t    },\t    \"pivot\": {\t        \"x\": null,\t        \"y\": null,\t        \"z\": null\t    }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":3237.857259750366,"y":1551.428539276123,"wires":[["9317bcd427951842"]]},{"id":"56d6d09b2f48065a","type":"change","z":"bc7bdcb9d2354754","g":"11682f6dc0e0b203","name":"Set Z scale","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"type\": \"scale\",\t    \"relative\": false,\t    \"values\": {\t      \"x\":1,\t      \"y\":1,\t      \"z\":$$.payload\t    },\t    \"pivot\": {\t        \"x\": null,\t        \"y\": null,\t        \"z\": null\t    }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":3237.857259750366,"y":1601.428539276123,"wires":[["77bd3eb96de17de9"]]},{"id":"8ceac36afec27fa2","type":"change","z":"bc7bdcb9d2354754","g":"11682f6dc0e0b203","name":"Set Z scale","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"type\": \"scale\",\t    \"relative\": false,\t    \"values\": {\t      \"x\":1,\t      \"y\":1,\t      \"z\":$$.payload\t    },\t    \"pivot\": {\t        \"x\": null,\t        \"y\": null,\t        \"z\": null\t    }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":3237.857259750366,"y":1651.428539276123,"wires":[["5077c6364dd4e988"]]},{"id":"8c6ff13b2496682e","type":"change","z":"bc7bdcb9d2354754","g":"11682f6dc0e0b203","name":"Set Z scale","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"type\": \"scale\",\t    \"relative\": false,\t    \"values\": {\t      \"x\":1,\t      \"y\":1,\t      \"z\":$$.payload\t    },\t    \"pivot\": {\t        \"x\": null,\t        \"y\": null,\t        \"z\": null\t    }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":3237.857259750366,"y":1701.428539276123,"wires":[["a24e3d7135afed8e"]]},{"id":"36ce748666653713","type":"switch","z":"bc7bdcb9d2354754","g":"11682f6dc0e0b203","name":"col switch","property":"col","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"num"},{"t":"eq","v":"4","vt":"num"},{"t":"eq","v":"5","vt":"num"},{"t":"eq","v":"6","vt":"num"},{"t":"eq","v":"7","vt":"num"},{"t":"eq","v":"8","vt":"num"},{"t":"eq","v":"9","vt":"num"},{"t":"eq","v":"10","vt":"num"},{"t":"eq","v":"11","vt":"num"}],"checkall":"false","repair":false,"outputs":11,"x":945.0000419616699,"y":1279.9998092651367,"wires":[["f973e9ecd3d85fdb"],["7432e536d3179d42"],["31c8ed4ef36799a7"],["5265b29761bf0b9a"],["6e873eeac1dc8f0e"],["fae145c78e362d50"],["6b57bfd5210eb3e5"],["8622215e3765857e"],["df11e89d4894da2f"],["01728a1d742a9810"],["1b58f2e989e50611"]]},{"id":"f973e9ecd3d85fdb","type":"switch","z":"bc7bdcb9d2354754","g":"11682f6dc0e0b203","name":"row switch for col 1","property":"row","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"num"},{"t":"eq","v":"4","vt":"num"},{"t":"eq","v":"5","vt":"num"}],"checkall":"false","repair":false,"outputs":5,"x":1229.2858047485352,"y":1214.2858543395996,"wires":[["e6936301353899d3"],["23243308f1ed5484"],["b53d85f4d2d6f7ed"],["399e26b8a24c691e"],["c20307f7cbd1f214"]]},{"id":"7432e536d3179d42","type":"switch","z":"bc7bdcb9d2354754","g":"11682f6dc0e0b203","name":"row switch for col 2","property":"row","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"num"},{"t":"eq","v":"4","vt":"num"},{"t":"eq","v":"5","vt":"num"}],"checkall":"false","repair":false,"outputs":5,"x":1420.714485168457,"y":1225.7142181396484,"wires":[["ad514f43e967c3ed"],["2a8380c7bb82da97"],["d6b54356b6f3537c"],["c3563b7f6b3b8a20"],["7d3e31038aa29c08"]]},{"id":"31c8ed4ef36799a7","type":"switch","z":"bc7bdcb9d2354754","g":"11682f6dc0e0b203","name":"row switch for col 3","property":"row","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"num"},{"t":"eq","v":"4","vt":"num"},{"t":"eq","v":"5","vt":"num"}],"checkall":"false","repair":false,"outputs":5,"x":1599.2859802246094,"y":1237.1428298950195,"wires":[["19c5c1a905f262ec"],["c630c337a8efde7f"],["b508a4324f50ae66"],["eafcafed2bd6cf54"],["17a08cb920b09171"]]},{"id":"5265b29761bf0b9a","type":"switch","z":"bc7bdcb9d2354754","g":"11682f6dc0e0b203","name":"row switch for col 4","property":"row","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"num"},{"t":"eq","v":"4","vt":"num"},{"t":"eq","v":"5","vt":"num"}],"checkall":"false","repair":false,"outputs":5,"x":1767.8573150634766,"y":1248.571325302124,"wires":[["28134b876cb46e24"],["5388dd6b1778f3b0"],["9d7a9dadc234d7cb"],["34647e8e03814fef"],["562f89ef2d698e65"]]},{"id":"6e873eeac1dc8f0e","type":"switch","z":"bc7bdcb9d2354754","g":"11682f6dc0e0b203","name":"row switch for col 5","property":"row","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"num"},{"t":"eq","v":"4","vt":"num"},{"t":"eq","v":"5","vt":"num"}],"checkall":"false","repair":false,"outputs":5,"x":1950.714454650879,"y":1262.8571319580078,"wires":[["ae33009f3e381515"],["9f2c063f150718e9"],["9b0fd436594a7253"],["81ac60655670b35b"],["ad9de14c9721373d"]]},{"id":"fae145c78e362d50","type":"switch","z":"bc7bdcb9d2354754","g":"11682f6dc0e0b203","name":"row switch for col 6","property":"row","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"num"},{"t":"eq","v":"4","vt":"num"},{"t":"eq","v":"5","vt":"num"}],"checkall":"false","repair":false,"outputs":5,"x":2150.7145233154297,"y":1268.571325302124,"wires":[["e84d47a3e86bd36e"],["a280c73ad435122c"],["b686305de7ebdc17"],["23c7f52b4099a087"],["761c1b1ff33ca116"]]},{"id":"6b57bfd5210eb3e5","type":"switch","z":"bc7bdcb9d2354754","g":"11682f6dc0e0b203","name":"row switch for col 7","property":"row","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"num"},{"t":"eq","v":"4","vt":"num"},{"t":"eq","v":"5","vt":"num"}],"checkall":"false","repair":false,"outputs":5,"x":2299.2859268188477,"y":1278.571361541748,"wires":[["fd94143cfcaa6309"],["9f3c700291356a2b"],["2cfaaaa68be165fc"],["e42282b8b1466784"],["af43cbb57b487576"]]},{"id":"8622215e3765857e","type":"switch","z":"bc7bdcb9d2354754","g":"11682f6dc0e0b203","name":"row switch for col 8","property":"row","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"num"},{"t":"eq","v":"4","vt":"num"},{"t":"eq","v":"5","vt":"num"}],"checkall":"false","repair":false,"outputs":5,"x":2473.5715408325195,"y":1288.571361541748,"wires":[["bbbf91a5db74a2bf"],["3e8aa042813c7b0b"],["c9d02ab75635d208"],["983dd35deca5a051"],["354616c205d04237"]]},{"id":"df11e89d4894da2f","type":"switch","z":"bc7bdcb9d2354754","g":"11682f6dc0e0b203","name":"row switch for col 9","property":"row","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"num"},{"t":"eq","v":"4","vt":"num"},{"t":"eq","v":"5","vt":"num"}],"checkall":"false","repair":false,"outputs":5,"x":2677.857292175293,"y":1301.4285011291504,"wires":[["087fea5c219f01eb"],["e392579722cd6b42"],["07eeb94dacae5a0f"],["d9cb68320fb6b1b0"],["3aa16de42ce6b1c5"]]},{"id":"01728a1d742a9810","type":"switch","z":"bc7bdcb9d2354754","g":"11682f6dc0e0b203","name":"row switch for col 10","property":"row","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"num"},{"t":"eq","v":"4","vt":"num"},{"t":"eq","v":"5","vt":"num"}],"checkall":"false","repair":false,"outputs":5,"x":2847.857109069824,"y":1317.142807006836,"wires":[["ca581784058892ee"],["733163b64e747f26"],["90c6a3b317f0fbf3"],["fca3b8454e0bfadf"],["30f54a1821507904"]]},{"id":"1b58f2e989e50611","type":"switch","z":"bc7bdcb9d2354754","g":"11682f6dc0e0b203","name":"row switch for col 11","property":"row","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"num"},{"t":"eq","v":"4","vt":"num"},{"t":"eq","v":"5","vt":"num"}],"checkall":"false","repair":false,"outputs":5,"x":3022.1429290771484,"y":1335.7142333984375,"wires":[["48499db3b05124ab"],["d7733c440d06bfe4"],["56d6d09b2f48065a"],["8ceac36afec27fa2"],["8c6ff13b2496682e"]]},{"id":"2a7506d62690ab82","type":"change","z":"bc7bdcb9d2354754","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"type\": \"scale\",\t    \"relative\": false,\t    \"values\": {\t      \"x\":1,\t      \"y\":1,\t      \"z\":$random() * 4\t    },\t    \"pivot\": {\t        \"x\": null,\t        \"y\": null,\t        \"z\": null\t    }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1228.5714263916016,"y":218.5714168548584,"wires":[["1cf337e71f351d1b"]]},{"id":"d9e72e74bfc7193f","type":"inject","z":"bc7bdcb9d2354754","g":"ee8f3a64d8c3b277","name":"start ticker","props":[{"p":"action","v":"dotmatrix","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":391.42859649658203,"y":2548.5715408325195,"wires":[["cf72142db87e31b9"]]},{"id":"a54a269f0c34c59d","type":"link in","z":"bc7bdcb9d2354754","g":"ee8f3a64d8c3b277","name":"link in 2","links":["2da333af1bf1b275"],"x":606.9524536132812,"y":2806.1114196777344,"wires":[["7ad9757732d38234"]]},{"id":"c70a24afdf83dd34","type":"link in","z":"bc7bdcb9d2354754","g":"ee8f3a64d8c3b277","name":"link in 3","links":["8a03c57cee1edbfc"],"x":606.9524536132812,"y":2858.1114196777344,"wires":[["37179850af620aee"]]},{"id":"54241702a1c98ac6","type":"link in","z":"bc7bdcb9d2354754","g":"ee8f3a64d8c3b277","name":"link in 4","links":["6181580d9a5be9a5"],"x":606.9524536132812,"y":2911.1114196777344,"wires":[["2bbe7a35a96d8d2e"]]},{"id":"3c344cce2104abe5","type":"link in","z":"bc7bdcb9d2354754","g":"ee8f3a64d8c3b277","name":"link in 5","links":["d41f45f8bfa7742f"],"x":606.9524536132812,"y":2963.1114196777344,"wires":[["fdf7be24a82d1e33"]]},{"id":"7d9aa9db8824a73a","type":"link in","z":"bc7bdcb9d2354754","g":"ee8f3a64d8c3b277","name":"link in 6","links":["f31df164106cddf9"],"x":606.9524536132812,"y":3014.1114196777344,"wires":[["01b6220418511a3f"]]},{"id":"6d1107e5df078057","type":"change","z":"bc7bdcb9d2354754","g":"ee8f3a64d8c3b277","name":"","rules":[{"t":"set","p":"row","pt":"msg","to":"msg.row + 1","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":455.952392578125,"y":2832.7779656304256,"wires":[["eb889be07559011a","7ad9757732d38234"]]},{"id":"eb889be07559011a","type":"change","z":"bc7bdcb9d2354754","g":"ee8f3a64d8c3b277","name":"","rules":[{"t":"set","p":"row","pt":"msg","to":"msg.row + 1","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":455.952392578125,"y":2884.605123562283,"wires":[["0918ff20d4c6ebaa","37179850af620aee"]]},{"id":"0918ff20d4c6ebaa","type":"change","z":"bc7bdcb9d2354754","g":"ee8f3a64d8c3b277","name":"","rules":[{"t":"set","p":"row","pt":"msg","to":"msg.row + 1","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":455.952392578125,"y":2936.4322814941406,"wires":[["ac7ce54c74d2f70e","2bbe7a35a96d8d2e"]]},{"id":"ac7ce54c74d2f70e","type":"change","z":"bc7bdcb9d2354754","g":"ee8f3a64d8c3b277","name":"","rules":[{"t":"set","p":"row","pt":"msg","to":"msg.row + 1","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":455.952392578125,"y":2988.259439425998,"wires":[["8a5dd0be12023dd8","fdf7be24a82d1e33"]]},{"id":"8a5dd0be12023dd8","type":"change","z":"bc7bdcb9d2354754","g":"ee8f3a64d8c3b277","name":"","rules":[{"t":"set","p":"row","pt":"msg","to":"msg.row + 1","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":455.952392578125,"y":3040.0865973578557,"wires":[["01b6220418511a3f"]]},{"id":"dd1bfcd356c68910","type":"change","z":"bc7bdcb9d2354754","g":"ee8f3a64d8c3b277","name":"verbose?","rules":[{"t":"set","p":"verbose","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":454.87317657470703,"y":2678.0159072875977,"wires":[["1b1a16b612ab4c54"]]},{"id":"eb923dbb8172b05e","type":"change","z":"bc7bdcb9d2354754","g":"ee8f3a64d8c3b277","name":"row & column","rules":[{"t":"set","p":"column","pt":"msg","to":"1","tot":"num"},{"t":"set","p":"row","pt":"msg","to":"-1","tot":"num"},{"t":"set","p":"rowdata","pt":"msg","to":"[]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":449.4287338256836,"y":2777.0159072875977,"wires":[["6d1107e5df078057"]]},{"id":"1b1a16b612ab4c54","type":"change","z":"bc7bdcb9d2354754","g":"ee8f3a64d8c3b277","name":"delay (milliseconds)","rules":[{"t":"set","p":"delay","pt":"msg","to":"150","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":457.42859649658203,"y":2726.7143936157227,"wires":[["eb923dbb8172b05e"]]},{"id":"1dbb2b33329fe9d2","type":"inject","z":"bc7bdcb9d2354754","g":"ee8f3a64d8c3b277","name":"stop!","props":[{"p":"action","v":"stop","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":378.42859649658203,"y":2604.7143936157227,"wires":[["cf72142db87e31b9"]]},{"id":"90723b6c24031de9","type":"link out","z":"bc7bdcb9d2354754","g":"ee8f3a64d8c3b277","name":"link out 118","mode":"link","links":["06fa8aa1a5b08bce"],"x":2370.4284591674805,"y":2440.714527130127,"wires":[]},{"id":"7ad9757732d38234","type":"subflow:9864b6278ceeb0fe","z":"bc7bdcb9d2354754","g":"0767a6f175b881e8","name":" ","x":730.9524363199871,"y":2834.111358642578,"wires":[["afc27b0aafba381c"]]},{"id":"afc27b0aafba381c","type":"subflow:9864b6278ceeb0fe","z":"bc7bdcb9d2354754","g":"0767a6f175b881e8","name":" ","x":844.6857696533207,"y":2834.111358642578,"wires":[["134f04bfabb0218a"]]},{"id":"134f04bfabb0218a","type":"subflow:9864b6278ceeb0fe","z":"bc7bdcb9d2354754","g":"0767a6f175b881e8","name":" ","x":958.4191029866538,"y":2834.111358642578,"wires":[["30d38b79ca9bba86"]]},{"id":"30d38b79ca9bba86","type":"subflow:9864b6278ceeb0fe","z":"bc7bdcb9d2354754","g":"0767a6f175b881e8","name":" ","x":1072.152436319987,"y":2834.111358642578,"wires":[["587c76ef542b0908"]]},{"id":"587c76ef542b0908","type":"subflow:9864b6278ceeb0fe","z":"bc7bdcb9d2354754","g":"0767a6f175b881e8","name":" ","x":1185.8857696533205,"y":2834.111358642578,"wires":[["d62d8a033cd7ea34"]]},{"id":"d62d8a033cd7ea34","type":"subflow:9864b6278ceeb0fe","z":"bc7bdcb9d2354754","g":"0767a6f175b881e8","name":" ","x":1299.619102986654,"y":2834.111358642578,"wires":[["1bef56f20844c1b2"]]},{"id":"1bef56f20844c1b2","type":"subflow:9864b6278ceeb0fe","z":"bc7bdcb9d2354754","g":"0767a6f175b881e8","name":" ","x":1413.3524363199872,"y":2834.111358642578,"wires":[["a4cfb7b13e00904d"]]},{"id":"a4cfb7b13e00904d","type":"subflow:9864b6278ceeb0fe","z":"bc7bdcb9d2354754","g":"0767a6f175b881e8","name":" ","x":1527.0857696533203,"y":2834.111358642578,"wires":[["0339c472029869ca"]]},{"id":"0339c472029869ca","type":"subflow:9864b6278ceeb0fe","z":"bc7bdcb9d2354754","g":"0767a6f175b881e8","name":" ","x":1640.819102986654,"y":2834.111358642578,"wires":[["4fc9abea39318eeb"]]},{"id":"4fc9abea39318eeb","type":"subflow:9864b6278ceeb0fe","z":"bc7bdcb9d2354754","g":"0767a6f175b881e8","name":" ","x":1754.5524363199875,"y":2834.111358642578,"wires":[["f8b36e1e440b0c76"]]},{"id":"f8b36e1e440b0c76","type":"subflow:9864b6278ceeb0fe","z":"bc7bdcb9d2354754","g":"0767a6f175b881e8","name":" ","x":1868.2857696533206,"y":2834.111358642578,"wires":[["4fcf0f4beabeab19","85a47111187186da"]]},{"id":"37179850af620aee","type":"subflow:9864b6278ceeb0fe","z":"bc7bdcb9d2354754","g":"0767a6f175b881e8","name":" ","x":730.9524363199871,"y":2886.111358642578,"wires":[["8c1965e373c56d88"]]},{"id":"8c1965e373c56d88","type":"subflow:9864b6278ceeb0fe","z":"bc7bdcb9d2354754","g":"0767a6f175b881e8","name":" ","x":844.6857696533207,"y":2886.111358642578,"wires":[["48c92e0a95d1fcd8"]]},{"id":"48c92e0a95d1fcd8","type":"subflow:9864b6278ceeb0fe","z":"bc7bdcb9d2354754","g":"0767a6f175b881e8","name":" ","x":958.4191029866538,"y":2886.111358642578,"wires":[["bb829634f9aaebc2"]]},{"id":"bb829634f9aaebc2","type":"subflow:9864b6278ceeb0fe","z":"bc7bdcb9d2354754","g":"0767a6f175b881e8","name":" ","x":1072.152436319987,"y":2886.111358642578,"wires":[["3ce1ef0bd1216cfb"]]},{"id":"3ce1ef0bd1216cfb","type":"subflow:9864b6278ceeb0fe","z":"bc7bdcb9d2354754","g":"0767a6f175b881e8","name":" ","x":1185.8857696533205,"y":2886.111358642578,"wires":[["3244e0d3e137da0f"]]},{"id":"3244e0d3e137da0f","type":"subflow:9864b6278ceeb0fe","z":"bc7bdcb9d2354754","g":"0767a6f175b881e8","name":" ","x":1299.619102986654,"y":2886.111358642578,"wires":[["b2c6e24fe2eb0d0c"]]},{"id":"b2c6e24fe2eb0d0c","type":"subflow:9864b6278ceeb0fe","z":"bc7bdcb9d2354754","g":"0767a6f175b881e8","name":" ","x":1413.3524363199872,"y":2886.111358642578,"wires":[["8b7dd26b75e24907"]]},{"id":"8b7dd26b75e24907","type":"subflow:9864b6278ceeb0fe","z":"bc7bdcb9d2354754","g":"0767a6f175b881e8","name":" ","x":1527.0857696533203,"y":2886.111358642578,"wires":[["c117d394db592bf6"]]},{"id":"c117d394db592bf6","type":"subflow:9864b6278ceeb0fe","z":"bc7bdcb9d2354754","g":"0767a6f175b881e8","name":" ","x":1640.819102986654,"y":2886.111358642578,"wires":[["099c206d71315540"]]},{"id":"099c206d71315540","type":"subflow:9864b6278ceeb0fe","z":"bc7bdcb9d2354754","g":"0767a6f175b881e8","name":" ","x":1754.5524363199875,"y":2886.111358642578,"wires":[["461e836e1bb0c734"]]},{"id":"461e836e1bb0c734","type":"subflow:9864b6278ceeb0fe","z":"bc7bdcb9d2354754","g":"0767a6f175b881e8","name":" ","x":1868.2857696533206,"y":2886.111358642578,"wires":[["4fcf0f4beabeab19","ea3824371a1fadad"]]},{"id":"2bbe7a35a96d8d2e","type":"subflow:9864b6278ceeb0fe","z":"bc7bdcb9d2354754","g":"0767a6f175b881e8","name":" ","x":729.9524363199871,"y":2939.111358642578,"wires":[["f0d4a9bd25f29f35"]]},{"id":"f0d4a9bd25f29f35","type":"subflow:9864b6278ceeb0fe","z":"bc7bdcb9d2354754","g":"0767a6f175b881e8","name":" ","x":843.6857696533207,"y":2939.111358642578,"wires":[["a792f1907dde096c"]]},{"id":"a792f1907dde096c","type":"subflow:9864b6278ceeb0fe","z":"bc7bdcb9d2354754","g":"0767a6f175b881e8","name":" ","x":957.4191029866538,"y":2939.111358642578,"wires":[["148329f270a9a068"]]},{"id":"148329f270a9a068","type":"subflow:9864b6278ceeb0fe","z":"bc7bdcb9d2354754","g":"0767a6f175b881e8","name":" ","x":1071.152436319987,"y":2939.111358642578,"wires":[["d7afa99eb150bbf0"]]},{"id":"d7afa99eb150bbf0","type":"subflow:9864b6278ceeb0fe","z":"bc7bdcb9d2354754","g":"0767a6f175b881e8","name":" ","x":1184.8857696533205,"y":2939.111358642578,"wires":[["fb92587a63c12961"]]},{"id":"fb92587a63c12961","type":"subflow:9864b6278ceeb0fe","z":"bc7bdcb9d2354754","g":"0767a6f175b881e8","name":" ","x":1298.619102986654,"y":2939.111358642578,"wires":[["0572ec88ed57274d"]]},{"id":"0572ec88ed57274d","type":"subflow:9864b6278ceeb0fe","z":"bc7bdcb9d2354754","g":"0767a6f175b881e8","name":" ","x":1412.3524363199872,"y":2939.111358642578,"wires":[["aeebed2b4fdb9eb9"]]},{"id":"aeebed2b4fdb9eb9","type":"subflow:9864b6278ceeb0fe","z":"bc7bdcb9d2354754","g":"0767a6f175b881e8","name":" ","x":1526.0857696533203,"y":2939.111358642578,"wires":[["c5891a9d2169f51a"]]},{"id":"c5891a9d2169f51a","type":"subflow:9864b6278ceeb0fe","z":"bc7bdcb9d2354754","g":"0767a6f175b881e8","name":" ","x":1639.819102986654,"y":2939.111358642578,"wires":[["17a2d80c83550f63"]]},{"id":"17a2d80c83550f63","type":"subflow:9864b6278ceeb0fe","z":"bc7bdcb9d2354754","g":"0767a6f175b881e8","name":" ","x":1753.5524363199875,"y":2939.111358642578,"wires":[["cb86494459cbfa0b"]]},{"id":"cb86494459cbfa0b","type":"subflow:9864b6278ceeb0fe","z":"bc7bdcb9d2354754","g":"0767a6f175b881e8","name":" ","x":1867.2857696533206,"y":2939.111358642578,"wires":[["4fcf0f4beabeab19","0a2b9f36b04223b2"]]},{"id":"fdf7be24a82d1e33","type":"subflow:9864b6278ceeb0fe","z":"bc7bdcb9d2354754","g":"0767a6f175b881e8","name":" ","x":729.9524363199871,"y":2991.111358642578,"wires":[["1d351d51a640d8c4"]]},{"id":"1d351d51a640d8c4","type":"subflow:9864b6278ceeb0fe","z":"bc7bdcb9d2354754","g":"0767a6f175b881e8","name":" ","x":843.6857696533207,"y":2991.111358642578,"wires":[["45299efa5c308de1"]]},{"id":"45299efa5c308de1","type":"subflow:9864b6278ceeb0fe","z":"bc7bdcb9d2354754","g":"0767a6f175b881e8","name":" ","x":957.4191029866538,"y":2991.111358642578,"wires":[["4cd9ef390d0f4d36"]]},{"id":"4cd9ef390d0f4d36","type":"subflow:9864b6278ceeb0fe","z":"bc7bdcb9d2354754","g":"0767a6f175b881e8","name":" ","x":1071.152436319987,"y":2991.111358642578,"wires":[["32ab40c88c2e38da"]]},{"id":"32ab40c88c2e38da","type":"subflow:9864b6278ceeb0fe","z":"bc7bdcb9d2354754","g":"0767a6f175b881e8","name":" ","x":1184.8857696533205,"y":2991.111358642578,"wires":[["b98ae07af9bbc545"]]},{"id":"b98ae07af9bbc545","type":"subflow:9864b6278ceeb0fe","z":"bc7bdcb9d2354754","g":"0767a6f175b881e8","name":" ","x":1298.619102986654,"y":2991.111358642578,"wires":[["64fe1290b7587dc0"]]},{"id":"64fe1290b7587dc0","type":"subflow:9864b6278ceeb0fe","z":"bc7bdcb9d2354754","g":"0767a6f175b881e8","name":" ","x":1412.3524363199872,"y":2991.111358642578,"wires":[["0bb0ef48412f247c"]]},{"id":"0bb0ef48412f247c","type":"subflow:9864b6278ceeb0fe","z":"bc7bdcb9d2354754","g":"0767a6f175b881e8","name":" ","x":1526.0857696533203,"y":2991.111358642578,"wires":[["83618ef2bc0d6abe"]]},{"id":"83618ef2bc0d6abe","type":"subflow:9864b6278ceeb0fe","z":"bc7bdcb9d2354754","g":"0767a6f175b881e8","name":" ","x":1639.819102986654,"y":2991.111358642578,"wires":[["a32bc5965acb612c"]]},{"id":"a32bc5965acb612c","type":"subflow:9864b6278ceeb0fe","z":"bc7bdcb9d2354754","g":"0767a6f175b881e8","name":" ","x":1753.5524363199875,"y":2991.111358642578,"wires":[["6baf43835f84db51"]]},{"id":"6baf43835f84db51","type":"subflow:9864b6278ceeb0fe","z":"bc7bdcb9d2354754","g":"0767a6f175b881e8","name":" ","x":1867.2857696533206,"y":2991.111358642578,"wires":[["4fcf0f4beabeab19","162a30255dfbaa49"]]},{"id":"01b6220418511a3f","type":"subflow:9864b6278ceeb0fe","z":"bc7bdcb9d2354754","g":"0767a6f175b881e8","name":" ","x":729.9524363199871,"y":3042.111358642578,"wires":[["52f97861d632381b"]]},{"id":"52f97861d632381b","type":"subflow:9864b6278ceeb0fe","z":"bc7bdcb9d2354754","g":"0767a6f175b881e8","name":" ","x":843.6857696533207,"y":3042.111358642578,"wires":[["e0cf67a7124cc199"]]},{"id":"e0cf67a7124cc199","type":"subflow:9864b6278ceeb0fe","z":"bc7bdcb9d2354754","g":"0767a6f175b881e8","name":" ","x":957.4191029866538,"y":3042.111358642578,"wires":[["91a32f0fbfa78688"]]},{"id":"91a32f0fbfa78688","type":"subflow:9864b6278ceeb0fe","z":"bc7bdcb9d2354754","g":"0767a6f175b881e8","name":" ","x":1071.152436319987,"y":3042.111358642578,"wires":[["03b7c4b88d378131"]]},{"id":"03b7c4b88d378131","type":"subflow:9864b6278ceeb0fe","z":"bc7bdcb9d2354754","g":"0767a6f175b881e8","name":" ","x":1184.8857696533205,"y":3042.111358642578,"wires":[["c298405354659cfa"]]},{"id":"c298405354659cfa","type":"subflow:9864b6278ceeb0fe","z":"bc7bdcb9d2354754","g":"0767a6f175b881e8","name":" ","x":1298.619102986654,"y":3042.111358642578,"wires":[["3f37cfb29256b3d8"]]},{"id":"3f37cfb29256b3d8","type":"subflow:9864b6278ceeb0fe","z":"bc7bdcb9d2354754","g":"0767a6f175b881e8","name":" ","x":1412.3524363199872,"y":3042.111358642578,"wires":[["b486625e7abd186a"]]},{"id":"b486625e7abd186a","type":"subflow:9864b6278ceeb0fe","z":"bc7bdcb9d2354754","g":"0767a6f175b881e8","name":" ","x":1526.0857696533203,"y":3042.111358642578,"wires":[["aca01d5247df06c1"]]},{"id":"aca01d5247df06c1","type":"subflow:9864b6278ceeb0fe","z":"bc7bdcb9d2354754","g":"0767a6f175b881e8","name":" ","x":1639.819102986654,"y":3042.111358642578,"wires":[["e6e7413cb866fefa"]]},{"id":"e6e7413cb866fefa","type":"subflow:9864b6278ceeb0fe","z":"bc7bdcb9d2354754","g":"0767a6f175b881e8","name":" ","x":1753.5524363199875,"y":3042.111358642578,"wires":[["4eb50e461f6c82f3"]]},{"id":"4eb50e461f6c82f3","type":"subflow:9864b6278ceeb0fe","z":"bc7bdcb9d2354754","g":"0767a6f175b881e8","name":" ","x":1867.2857696533206,"y":3042.111358642578,"wires":[["4fcf0f4beabeab19","6597c016a66548d2"]]},{"id":"7da9deac2b612c22","type":"join","z":"bc7bdcb9d2354754","g":"ee8f3a64d8c3b277","name":"","mode":"custom","build":"array","property":"rowdata","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"3","count":"5","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":2307.1428146362305,"y":2647.4288940429688,"wires":[["90723b6c24031de9"]]},{"id":"6adcf9e69cf573d4","type":"switch","z":"bc7bdcb9d2354754","g":"ee8f3a64d8c3b277","name":"if action stop?","property":"action","propertyType":"msg","rules":[{"t":"eq","v":"stop","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":2340.2857055664062,"y":2694.143096923828,"wires":[["6186f980abc4b57a"]]},{"id":"6186f980abc4b57a","type":"delay","z":"bc7bdcb9d2354754","g":"ee8f3a64d8c3b277","name":"2 seconds delay","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":2531.2857055664062,"y":2655.143096923828,"wires":[["2ddbeec6652b05dc"]]},{"id":"2ddbeec6652b05dc","type":"change","z":"bc7bdcb9d2354754","g":"ee8f3a64d8c3b277","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"[0,0,0,0, 0,0,0,0, 0,0,0, 255]","tot":"json"},{"t":"delete","p":"pixels","pt":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":2600.999984741211,"y":2721.7144298553467,"wires":[[]]},{"id":"2da333af1bf1b275","type":"link out","z":"bc7bdcb9d2354754","g":"e7b783cea856a2f7","name":"link out 81","mode":"link","links":["a54a269f0c34c59d"],"x":2540.3694458007812,"y":2908.7779846191406,"wires":[]},{"id":"8a03c57cee1edbfc","type":"link out","z":"bc7bdcb9d2354754","g":"e7b783cea856a2f7","name":"link out 82","mode":"link","links":["c70a24afdf83dd34"],"x":2540.3694458007812,"y":2960.7779846191406,"wires":[]},{"id":"6181580d9a5be9a5","type":"link out","z":"bc7bdcb9d2354754","g":"e7b783cea856a2f7","name":"link out 83","mode":"link","links":["54241702a1c98ac6"],"x":2540.3694458007812,"y":3013.7779846191406,"wires":[]},{"id":"d41f45f8bfa7742f","type":"link out","z":"bc7bdcb9d2354754","g":"e7b783cea856a2f7","name":"link out 84","mode":"link","links":["3c344cce2104abe5"],"x":2540.3694458007812,"y":3065.7779846191406,"wires":[]},{"id":"f31df164106cddf9","type":"link out","z":"bc7bdcb9d2354754","g":"e7b783cea856a2f7","name":"link out 85","mode":"link","links":["7d9aa9db8824a73a"],"x":2540.3694458007812,"y":3116.7779846191406,"wires":[]},{"id":"c65304f53e228c14","type":"delay","z":"bc7bdcb9d2354754","g":"e7b783cea856a2f7","name":"","pauseType":"delayv","timeout":"300","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":2434.2857055664062,"y":2908.7779846191406,"wires":[["2da333af1bf1b275"]]},{"id":"85a47111187186da","type":"change","z":"bc7bdcb9d2354754","g":"e7b783cea856a2f7","name":"","rules":[{"t":"set","p":"column","pt":"msg","to":"msg.column-10","tot":"jsonata"},{"t":"set","p":"rowdata","pt":"msg","to":"[]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":2261.2857055664062,"y":2909.14306640625,"wires":[["c65304f53e228c14"]]},{"id":"a893dc749edcbd97","type":"delay","z":"bc7bdcb9d2354754","g":"e7b783cea856a2f7","name":"","pauseType":"delayv","timeout":"300","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":2434.2857055664062,"y":2960.6192626953125,"wires":[["8a03c57cee1edbfc"]]},{"id":"87657462a3cedf4a","type":"delay","z":"bc7bdcb9d2354754","g":"e7b783cea856a2f7","name":"","pauseType":"delayv","timeout":"300","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":2434.2857055664062,"y":3012.4605407714844,"wires":[["6181580d9a5be9a5"]]},{"id":"46b1328ca42968f4","type":"delay","z":"bc7bdcb9d2354754","g":"e7b783cea856a2f7","name":"","pauseType":"delayv","timeout":"300","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":2434.2857055664062,"y":3064.3018188476562,"wires":[["d41f45f8bfa7742f"]]},{"id":"556852501d15c5d9","type":"delay","z":"bc7bdcb9d2354754","g":"e7b783cea856a2f7","name":"","pauseType":"delayv","timeout":"300","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":2434.2857055664062,"y":3116.143096923828,"wires":[["f31df164106cddf9"]]},{"id":"ea3824371a1fadad","type":"change","z":"bc7bdcb9d2354754","g":"e7b783cea856a2f7","name":"","rules":[{"t":"set","p":"column","pt":"msg","to":"msg.column-10","tot":"jsonata"},{"t":"set","p":"rowdata","pt":"msg","to":"[]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":2261.2857055664062,"y":2961.143096923828,"wires":[["a893dc749edcbd97"]]},{"id":"0a2b9f36b04223b2","type":"change","z":"bc7bdcb9d2354754","g":"e7b783cea856a2f7","name":"","rules":[{"t":"set","p":"column","pt":"msg","to":"msg.column-10","tot":"jsonata"},{"t":"set","p":"rowdata","pt":"msg","to":"[]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":2261.2857055664062,"y":3013.143096923828,"wires":[["87657462a3cedf4a"]]},{"id":"162a30255dfbaa49","type":"change","z":"bc7bdcb9d2354754","g":"e7b783cea856a2f7","name":"","rules":[{"t":"set","p":"column","pt":"msg","to":"msg.column-10","tot":"jsonata"},{"t":"set","p":"rowdata","pt":"msg","to":"[]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":2261.2857055664062,"y":3064.143096923828,"wires":[["46b1328ca42968f4"]]},{"id":"6597c016a66548d2","type":"change","z":"bc7bdcb9d2354754","g":"e7b783cea856a2f7","name":"","rules":[{"t":"set","p":"column","pt":"msg","to":"msg.column-10","tot":"jsonata"},{"t":"set","p":"rowdata","pt":"msg","to":"[]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":2261.2857055664062,"y":3116.143096923828,"wires":[["556852501d15c5d9"]]},{"id":"9c36cb35f5f90715","type":"switch","z":"bc7bdcb9d2354754","g":"ee8f3a64d8c3b277","name":"","property":"key","propertyType":"msg","rules":[{"t":"eq","v":"a","vt":"str"},{"t":"eq","v":"s","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":207.14282662527899,"y":2464.2857396262034,"wires":[["c1e836891655427c"],["1fa050fe259ddede"]]},{"id":"c1e836891655427c","type":"change","z":"bc7bdcb9d2354754","g":"ee8f3a64d8c3b277","name":"","rules":[{"t":"set","p":"action","pt":"msg","to":"dotmatrix","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":395.7142562866211,"y":2437.1429386138916,"wires":[["cf72142db87e31b9"]]},{"id":"1fa050fe259ddede","type":"change","z":"bc7bdcb9d2354754","g":"ee8f3a64d8c3b277","name":"","rules":[{"t":"set","p":"action","pt":"msg","to":"stop","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":392.85711233956465,"y":2485.7143110547745,"wires":[["cf72142db87e31b9"]]},{"id":"4e951868c4fdafa5","type":"link out","z":"bc7bdcb9d2354754","name":"link out 119","mode":"link","links":["b36f71faa30aeccf"],"x":376.57143211364746,"y":965.7141590118408,"wires":[]},{"id":"b36f71faa30aeccf","type":"link in","z":"bc7bdcb9d2354754","g":"ee8f3a64d8c3b277","name":"link in 8","links":["4e951868c4fdafa5"],"x":237.85713386535645,"y":2388.5713682174683,"wires":[["9c36cb35f5f90715"]]},{"id":"954cb31e8ab4e102","type":"link out","z":"bc7bdcb9d2354754","name":"link out 120","mode":"link","links":["35df7d88e655fddf"],"x":719.5713539123535,"y":583.0001068115234,"wires":[]},{"id":"35df7d88e655fddf","type":"link in","z":"bc7bdcb9d2354754","name":"link in 9","links":["954cb31e8ab4e102"],"x":644.5716247558594,"y":2015.285732269287,"wires":[["66aa7f78ebe24290"]]},{"id":"21e3111a78fc7c15","type":"link out","z":"bc7bdcb9d2354754","name":"link out 121","mode":"link","links":["e784263f7ec5e2b1"],"x":814.5716915130615,"y":1971.000135421753,"wires":[]},{"id":"e784263f7ec5e2b1","type":"link in","z":"bc7bdcb9d2354754","name":"link in 10","links":["21e3111a78fc7c15"],"x":1374.0926523208618,"y":769.8616814613342,"wires":[["96e7cb30ba79f7c8"]]},{"id":"ae420519080255f2","type":"sphere","z":"bc7bdcb9d2354754","scene":"c0d1433da002f3c6","material":"6817754228a11c19","name_conf_a":"center","segments_conf_n":32,"diameter_conf_n":1,"diameterX_conf_n":"","diameterY_conf_n":"","diameterZ_conf_n":"","arc_conf_n":1,"slice_conf_n":1,"updatable_conf_b":false,"sideOrientation_conf_a":"0","pos_x":0,"pos_y":0,"pos_z":0,"scale_x":1,"scale_y":1,"scale_z":1,"rot_x":0,"rot_y":0,"rot_z":0,"x":634.5714874267578,"y":792.0000381469727,"wires":[[]]},{"id":"ebaa7dd3edd9968e","type":"box","z":"bc7bdcb9d2354754","scene":"c0d1433da002f3c6","material":"eb9738d1.722f68","name_conf_a":"purplebox9","size_conf_n":1,"height_conf_n":"","width_conf_n":"","depth_conf_n":"","updatable_conf_b":false,"sideOrientation_conf_a":"1","pos_x":"9","pos_y":0,"pos_z":0,"scale_x":"1","scale_y":"1","scale_z":"0.25","rot_x":0,"rot_y":0,"rot_z":0,"x":1799.571434020996,"y":297.285680770874,"wires":[[]]},{"id":"4ee37fcff69715d9","type":"box","z":"bc7bdcb9d2354754","scene":"c0d1433da002f3c6","material":"eb9738d1.722f68","name_conf_a":"purplebox1","size_conf_n":1,"height_conf_n":"","width_conf_n":"","depth_conf_n":"","updatable_conf_b":false,"sideOrientation_conf_a":"1","pos_x":"1","pos_y":0,"pos_z":0,"scale_x":"1","scale_y":"1","scale_z":"0.25","rot_x":0,"rot_y":0,"rot_z":0,"x":1799.571434020996,"y":643.5713939666748,"wires":[[]]},{"id":"b39811b40151e032","type":"box","z":"bc7bdcb9d2354754","scene":"c0d1433da002f3c6","material":"2f08998d.f33b96","name_conf_a":"purplebox2","size_conf_n":1,"height_conf_n":"","width_conf_n":"","depth_conf_n":"","updatable_conf_b":false,"sideOrientation_conf_a":"1","pos_x":"2","pos_y":0,"pos_z":0,"scale_x":"1","scale_y":"1","scale_z":"0.25","rot_x":0,"rot_y":0,"rot_z":0,"x":1799.571434020996,"y":599.1428318023682,"wires":[[]]},{"id":"e065a35122eab991","type":"box","z":"bc7bdcb9d2354754","scene":"c0d1433da002f3c6","material":"eb9738d1.722f68","name_conf_a":"purplebox3","size_conf_n":1,"height_conf_n":"","width_conf_n":"","depth_conf_n":"","updatable_conf_b":false,"sideOrientation_conf_a":"1","pos_x":"3","pos_y":0,"pos_z":0,"scale_x":"1","scale_y":"1","scale_z":"0.25","rot_x":0,"rot_y":0,"rot_z":0,"x":1799.571434020996,"y":556.5714912414551,"wires":[[]]},{"id":"409b1f5337119738","type":"box","z":"bc7bdcb9d2354754","scene":"c0d1433da002f3c6","material":"2f08998d.f33b96","name_conf_a":"purplebox4","size_conf_n":1,"height_conf_n":"","width_conf_n":"","depth_conf_n":"","updatable_conf_b":false,"sideOrientation_conf_a":"1","pos_x":"4","pos_y":0,"pos_z":0,"scale_x":"1","scale_y":"1","scale_z":"0.25","rot_x":0,"rot_y":0,"rot_z":0,"x":1799.571434020996,"y":509.85709381103516,"wires":[[]]},{"id":"19bef844a7c48bec","type":"box","z":"bc7bdcb9d2354754","scene":"c0d1433da002f3c6","material":"eb9738d1.722f68","name_conf_a":"purplebox5","size_conf_n":1,"height_conf_n":"","width_conf_n":"","depth_conf_n":"","updatable_conf_b":false,"sideOrientation_conf_a":"1","pos_x":"5","pos_y":0,"pos_z":0,"scale_x":"1","scale_y":"1","scale_z":"0.25","rot_x":0,"rot_y":0,"rot_z":0,"x":1799.571434020996,"y":466.42858123779297,"wires":[[]]},{"id":"ca3184573e2b26f9","type":"box","z":"bc7bdcb9d2354754","scene":"c0d1433da002f3c6","material":"2f08998d.f33b96","name_conf_a":"purplebox6","size_conf_n":1,"height_conf_n":"","width_conf_n":"","depth_conf_n":"","updatable_conf_b":false,"sideOrientation_conf_a":"1","pos_x":"6","pos_y":0,"pos_z":0,"scale_x":"1","scale_y":"1","scale_z":"0.25","rot_x":0,"rot_y":0,"rot_z":0,"x":1799.571434020996,"y":429.28571128845215,"wires":[[]]},{"id":"4e1a7713f118eee7","type":"box","z":"bc7bdcb9d2354754","scene":"c0d1433da002f3c6","material":"eb9738d1.722f68","name_conf_a":"purplebox7","size_conf_n":1,"height_conf_n":"","width_conf_n":"","depth_conf_n":"","updatable_conf_b":false,"sideOrientation_conf_a":"1","pos_x":"7","pos_y":0,"pos_z":0,"scale_x":"1","scale_y":"1","scale_z":"0.25","rot_x":0,"rot_y":0,"rot_z":0,"x":1799.571434020996,"y":384.5714225769043,"wires":[[]]},{"id":"85df2d5ca50503a4","type":"box","z":"bc7bdcb9d2354754","scene":"c0d1433da002f3c6","material":"2f08998d.f33b96","name_conf_a":"purplebox8","size_conf_n":1,"height_conf_n":"","width_conf_n":"","depth_conf_n":"","updatable_conf_b":false,"sideOrientation_conf_a":"1","pos_x":"8","pos_y":0,"pos_z":0,"scale_x":"1","scale_y":"1","scale_z":"0.25","rot_x":0,"rot_y":0,"rot_z":0,"x":1799.571434020996,"y":342.9999828338623,"wires":[[]]},{"id":"43fda3fe7a78a245","type":"box","z":"bc7bdcb9d2354754","scene":"c0d1433da002f3c6","material":"2f08998d.f33b96","name_conf_a":"purplebox10","size_conf_n":1,"height_conf_n":"","width_conf_n":"","depth_conf_n":"","updatable_conf_b":false,"sideOrientation_conf_a":"1","pos_x":"10","pos_y":0,"pos_z":0,"scale_x":"1","scale_y":"1","scale_z":"0.25","rot_x":0,"rot_y":0,"rot_z":0,"x":1799.571434020996,"y":258.42856788635254,"wires":[[]]},{"id":"1b56c484bc584997","type":"box","z":"bc7bdcb9d2354754","scene":"c0d1433da002f3c6","material":"17350478e877bc09","name_conf_a":"pixel_1_x_1","size_conf_n":1,"height_conf_n":"","width_conf_n":"","depth_conf_n":"","updatable_conf_b":false,"sideOrientation_conf_a":"1","pos_x":1,"pos_y":5,"pos_z":0,"scale_x":"1","scale_y":"1","scale_z":"0.25","rot_x":0,"rot_y":0,"rot_z":0,"x":1437.8572597503662,"y":1801.428539276123,"wires":[[]]},{"id":"91f0f6293ad5bc7a","type":"box","z":"bc7bdcb9d2354754","scene":"c0d1433da002f3c6","material":"e7298bcff0d93b16","name_conf_a":"pixel_1_x_2","size_conf_n":1,"height_conf_n":"","width_conf_n":"","depth_conf_n":"","updatable_conf_b":false,"sideOrientation_conf_a":"1","pos_x":1,"pos_y":4,"pos_z":0,"scale_x":"1","scale_y":"1","scale_z":"0.25","rot_x":0,"rot_y":0,"rot_z":0,"x":1437.8572597503662,"y":1851.428539276123,"wires":[[]]},{"id":"bf4e8bbdd01fda5a","type":"box","z":"bc7bdcb9d2354754","scene":"c0d1433da002f3c6","material":"17350478e877bc09","name_conf_a":"pixel_1_x_3","size_conf_n":1,"height_conf_n":"","width_conf_n":"","depth_conf_n":"","updatable_conf_b":false,"sideOrientation_conf_a":"1","pos_x":1,"pos_y":3,"pos_z":0,"scale_x":"1","scale_y":"1","scale_z":"0.25","rot_x":0,"rot_y":0,"rot_z":0,"x":1437.8572597503662,"y":1901.428539276123,"wires":[[]]},{"id":"11f176248deabcf5","type":"box","z":"bc7bdcb9d2354754","scene":"c0d1433da002f3c6","material":"e7298bcff0d93b16","name_conf_a":"pixel_1_x_4","size_conf_n":1,"height_conf_n":"","width_conf_n":"","depth_conf_n":"","updatable_conf_b":false,"sideOrientation_conf_a":"1","pos_x":1,"pos_y":2,"pos_z":0,"scale_x":"1","scale_y":"1","scale_z":"0.25","rot_x":0,"rot_y":0,"rot_z":0,"x":1437.8572597503662,"y":1951.428539276123,"wires":[[]]},{"id":"247479c2bceb047d","type":"box","z":"bc7bdcb9d2354754","scene":"c0d1433da002f3c6","material":"17350478e877bc09","name_conf_a":"pixel_1_x_5","size_conf_n":1,"height_conf_n":"","width_conf_n":"","depth_conf_n":"","updatable_conf_b":false,"sideOrientation_conf_a":"1","pos_x":1,"pos_y":1,"pos_z":0,"scale_x":"1","scale_y":"1","scale_z":"0.25","rot_x":0,"rot_y":0,"rot_z":0,"x":1437.8572597503662,"y":2001.428539276123,"wires":[[]]},{"id":"127329f25b964223","type":"box","z":"bc7bdcb9d2354754","scene":"c0d1433da002f3c6","material":"e7298bcff0d93b16","name_conf_a":"pixel_2_x_1","size_conf_n":1,"height_conf_n":"","width_conf_n":"","depth_conf_n":"","updatable_conf_b":false,"sideOrientation_conf_a":"1","pos_x":2,"pos_y":5,"pos_z":0,"scale_x":"1","scale_y":"1","scale_z":"0.25","rot_x":0,"rot_y":0,"rot_z":0,"x":1617.8572597503662,"y":1801.428539276123,"wires":[[]]},{"id":"407034bd2a6e234a","type":"box","z":"bc7bdcb9d2354754","scene":"c0d1433da002f3c6","material":"17350478e877bc09","name_conf_a":"pixel_2_x_2","size_conf_n":1,"height_conf_n":"","width_conf_n":"","depth_conf_n":"","updatable_conf_b":false,"sideOrientation_conf_a":"1","pos_x":2,"pos_y":4,"pos_z":0,"scale_x":"1","scale_y":"1","scale_z":"0.25","rot_x":0,"rot_y":0,"rot_z":0,"x":1617.8572597503662,"y":1851.428539276123,"wires":[[]]},{"id":"6d192f9d162437fa","type":"box","z":"bc7bdcb9d2354754","scene":"c0d1433da002f3c6","material":"e7298bcff0d93b16","name_conf_a":"pixel_2_x_3","size_conf_n":1,"height_conf_n":"","width_conf_n":"","depth_conf_n":"","updatable_conf_b":false,"sideOrientation_conf_a":"1","pos_x":2,"pos_y":3,"pos_z":0,"scale_x":"1","scale_y":"1","scale_z":"0.25","rot_x":0,"rot_y":0,"rot_z":0,"x":1617.8572597503662,"y":1901.428539276123,"wires":[[]]},{"id":"188161c021080852","type":"box","z":"bc7bdcb9d2354754","scene":"c0d1433da002f3c6","material":"17350478e877bc09","name_conf_a":"pixel_2_x_4","size_conf_n":1,"height_conf_n":"","width_conf_n":"","depth_conf_n":"","updatable_conf_b":false,"sideOrientation_conf_a":"1","pos_x":2,"pos_y":2,"pos_z":0,"scale_x":"1","scale_y":"1","scale_z":"0.25","rot_x":0,"rot_y":0,"rot_z":0,"x":1617.8572597503662,"y":1951.428539276123,"wires":[[]]},{"id":"d1128c676193f0a0","type":"box","z":"bc7bdcb9d2354754","scene":"c0d1433da002f3c6","material":"e7298bcff0d93b16","name_conf_a":"pixel_2_x_5","size_conf_n":1,"height_conf_n":"","width_conf_n":"","depth_conf_n":"","updatable_conf_b":false,"sideOrientation_conf_a":"1","pos_x":2,"pos_y":1,"pos_z":0,"scale_x":"1","scale_y":"1","scale_z":"0.25","rot_x":0,"rot_y":0,"rot_z":0,"x":1617.8572597503662,"y":2001.428539276123,"wires":[[]]},{"id":"db6c9e60e95fce98","type":"box","z":"bc7bdcb9d2354754","scene":"c0d1433da002f3c6","material":"17350478e877bc09","name_conf_a":"pixel_3_x_1","size_conf_n":1,"height_conf_n":"","width_conf_n":"","depth_conf_n":"","updatable_conf_b":false,"sideOrientation_conf_a":"1","pos_x":3,"pos_y":5,"pos_z":0,"scale_x":"1","scale_y":"1","scale_z":"0.25","rot_x":0,"rot_y":0,"rot_z":0,"x":1797.8572597503662,"y":1801.428539276123,"wires":[[]]},{"id":"6687c911b9d2c354","type":"box","z":"bc7bdcb9d2354754","scene":"c0d1433da002f3c6","material":"e7298bcff0d93b16","name_conf_a":"pixel_3_x_2","size_conf_n":1,"height_conf_n":"","width_conf_n":"","depth_conf_n":"","updatable_conf_b":false,"sideOrientation_conf_a":"1","pos_x":3,"pos_y":4,"pos_z":0,"scale_x":"1","scale_y":"1","scale_z":"0.25","rot_x":0,"rot_y":0,"rot_z":0,"x":1797.8572597503662,"y":1851.428539276123,"wires":[[]]},{"id":"e0d9427d49cebc69","type":"box","z":"bc7bdcb9d2354754","scene":"c0d1433da002f3c6","material":"17350478e877bc09","name_conf_a":"pixel_3_x_3","size_conf_n":1,"height_conf_n":"","width_conf_n":"","depth_conf_n":"","updatable_conf_b":false,"sideOrientation_conf_a":"1","pos_x":3,"pos_y":3,"pos_z":0,"scale_x":"1","scale_y":"1","scale_z":"0.25","rot_x":0,"rot_y":0,"rot_z":0,"x":1797.8572597503662,"y":1901.428539276123,"wires":[[]]},{"id":"51add2e82e7d340e","type":"box","z":"bc7bdcb9d2354754","scene":"c0d1433da002f3c6","material":"e7298bcff0d93b16","name_conf_a":"pixel_3_x_4","size_conf_n":1,"height_conf_n":"","width_conf_n":"","depth_conf_n":"","updatable_conf_b":false,"sideOrientation_conf_a":"1","pos_x":3,"pos_y":2,"pos_z":0,"scale_x":"1","scale_y":"1","scale_z":"0.25","rot_x":0,"rot_y":0,"rot_z":0,"x":1797.8572597503662,"y":1951.428539276123,"wires":[[]]},{"id":"da7d030398f656d1","type":"box","z":"bc7bdcb9d2354754","scene":"c0d1433da002f3c6","material":"17350478e877bc09","name_conf_a":"pixel_3_x_5","size_conf_n":1,"height_conf_n":"","width_conf_n":"","depth_conf_n":"","updatable_conf_b":false,"sideOrientation_conf_a":"1","pos_x":3,"pos_y":1,"pos_z":0,"scale_x":"1","scale_y":"1","scale_z":"0.25","rot_x":0,"rot_y":0,"rot_z":0,"x":1797.8572597503662,"y":2001.428539276123,"wires":[[]]},{"id":"20090cc66f8932e1","type":"box","z":"bc7bdcb9d2354754","scene":"c0d1433da002f3c6","material":"e7298bcff0d93b16","name_conf_a":"pixel_4_x_1","size_conf_n":1,"height_conf_n":"","width_conf_n":"","depth_conf_n":"","updatable_conf_b":false,"sideOrientation_conf_a":"1","pos_x":4,"pos_y":5,"pos_z":0,"scale_x":"1","scale_y":"1","scale_z":"0.25","rot_x":0,"rot_y":0,"rot_z":0,"x":1977.8572597503662,"y":1801.428539276123,"wires":[[]]},{"id":"6699053c5b329e75","type":"box","z":"bc7bdcb9d2354754","scene":"c0d1433da002f3c6","material":"17350478e877bc09","name_conf_a":"pixel_4_x_2","size_conf_n":1,"height_conf_n":"","width_conf_n":"","depth_conf_n":"","updatable_conf_b":false,"sideOrientation_conf_a":"1","pos_x":4,"pos_y":4,"pos_z":0,"scale_x":"1","scale_y":"1","scale_z":"0.25","rot_x":0,"rot_y":0,"rot_z":0,"x":1977.8572597503662,"y":1851.428539276123,"wires":[[]]},{"id":"ed7f2e1dbd6b797a","type":"box","z":"bc7bdcb9d2354754","scene":"c0d1433da002f3c6","material":"e7298bcff0d93b16","name_conf_a":"pixel_4_x_3","size_conf_n":1,"height_conf_n":"","width_conf_n":"","depth_conf_n":"","updatable_conf_b":false,"sideOrientation_conf_a":"1","pos_x":4,"pos_y":3,"pos_z":0,"scale_x":"1","scale_y":"1","scale_z":"0.25","rot_x":0,"rot_y":0,"rot_z":0,"x":1977.8572597503662,"y":1901.428539276123,"wires":[[]]},{"id":"f5208e3b20d9d73e","type":"box","z":"bc7bdcb9d2354754","scene":"c0d1433da002f3c6","material":"17350478e877bc09","name_conf_a":"pixel_4_x_4","size_conf_n":1,"height_conf_n":"","width_conf_n":"","depth_conf_n":"","updatable_conf_b":false,"sideOrientation_conf_a":"1","pos_x":4,"pos_y":2,"pos_z":0,"scale_x":"1","scale_y":"1","scale_z":"0.25","rot_x":0,"rot_y":0,"rot_z":0,"x":1977.8572597503662,"y":1951.428539276123,"wires":[[]]},{"id":"bab3a68ad710fb06","type":"box","z":"bc7bdcb9d2354754","scene":"c0d1433da002f3c6","material":"e7298bcff0d93b16","name_conf_a":"pixel_4_x_5","size_conf_n":1,"height_conf_n":"","width_conf_n":"","depth_conf_n":"","updatable_conf_b":false,"sideOrientation_conf_a":"1","pos_x":4,"pos_y":1,"pos_z":0,"scale_x":"1","scale_y":"1","scale_z":"0.25","rot_x":0,"rot_y":0,"rot_z":0,"x":1977.8572597503662,"y":2001.428539276123,"wires":[[]]},{"id":"0f307b6fde59c5ac","type":"box","z":"bc7bdcb9d2354754","scene":"c0d1433da002f3c6","material":"17350478e877bc09","name_conf_a":"pixel_5_x_1","size_conf_n":1,"height_conf_n":"","width_conf_n":"","depth_conf_n":"","updatable_conf_b":false,"sideOrientation_conf_a":"1","pos_x":5,"pos_y":5,"pos_z":0,"scale_x":"1","scale_y":"1","scale_z":"0.25","rot_x":0,"rot_y":0,"rot_z":0,"x":2157.857259750366,"y":1801.428539276123,"wires":[[]]},{"id":"dc1b5f8c1ff39bd9","type":"box","z":"bc7bdcb9d2354754","scene":"c0d1433da002f3c6","material":"e7298bcff0d93b16","name_conf_a":"pixel_5_x_2","size_conf_n":1,"height_conf_n":"","width_conf_n":"","depth_conf_n":"","updatable_conf_b":false,"sideOrientation_conf_a":"1","pos_x":5,"pos_y":4,"pos_z":0,"scale_x":"1","scale_y":"1","scale_z":"0.25","rot_x":0,"rot_y":0,"rot_z":0,"x":2157.857259750366,"y":1851.428539276123,"wires":[[]]},{"id":"4036794be4e21444","type":"box","z":"bc7bdcb9d2354754","scene":"c0d1433da002f3c6","material":"17350478e877bc09","name_conf_a":"pixel_5_x_3","size_conf_n":1,"height_conf_n":"","width_conf_n":"","depth_conf_n":"","updatable_conf_b":false,"sideOrientation_conf_a":"1","pos_x":5,"pos_y":3,"pos_z":0,"scale_x":"1","scale_y":"1","scale_z":"0.25","rot_x":0,"rot_y":0,"rot_z":0,"x":2157.857259750366,"y":1901.428539276123,"wires":[[]]},{"id":"a262fe81ae2abeab","type":"box","z":"bc7bdcb9d2354754","scene":"c0d1433da002f3c6","material":"e7298bcff0d93b16","name_conf_a":"pixel_5_x_4","size_conf_n":1,"height_conf_n":"","width_conf_n":"","depth_conf_n":"","updatable_conf_b":false,"sideOrientation_conf_a":"1","pos_x":5,"pos_y":2,"pos_z":0,"scale_x":"1","scale_y":"1","scale_z":"0.25","rot_x":0,"rot_y":0,"rot_z":0,"x":2157.857259750366,"y":1951.428539276123,"wires":[[]]},{"id":"2f428432e7aae7ca","type":"box","z":"bc7bdcb9d2354754","scene":"c0d1433da002f3c6","material":"17350478e877bc09","name_conf_a":"pixel_5_x_5","size_conf_n":1,"height_conf_n":"","width_conf_n":"","depth_conf_n":"","updatable_conf_b":false,"sideOrientation_conf_a":"1","pos_x":5,"pos_y":1,"pos_z":0,"scale_x":"1","scale_y":"1","scale_z":"0.25","rot_x":0,"rot_y":0,"rot_z":0,"x":2157.857259750366,"y":2001.428539276123,"wires":[[]]},{"id":"2dacfe67104c676e","type":"box","z":"bc7bdcb9d2354754","scene":"c0d1433da002f3c6","material":"e7298bcff0d93b16","name_conf_a":"pixel_6_x_1","size_conf_n":1,"height_conf_n":"","width_conf_n":"","depth_conf_n":"","updatable_conf_b":false,"sideOrientation_conf_a":"1","pos_x":6,"pos_y":5,"pos_z":0,"scale_x":"1","scale_y":"1","scale_z":"0.25","rot_x":0,"rot_y":0,"rot_z":0,"x":2337.857259750366,"y":1801.428539276123,"wires":[[]]},{"id":"0b21a47677e2297b","type":"box","z":"bc7bdcb9d2354754","scene":"c0d1433da002f3c6","material":"17350478e877bc09","name_conf_a":"pixel_6_x_2","size_conf_n":1,"height_conf_n":"","width_conf_n":"","depth_conf_n":"","updatable_conf_b":false,"sideOrientation_conf_a":"1","pos_x":6,"pos_y":4,"pos_z":0,"scale_x":"1","scale_y":"1","scale_z":"0.25","rot_x":0,"rot_y":0,"rot_z":0,"x":2337.857259750366,"y":1851.428539276123,"wires":[[]]},{"id":"0f888c48c90a1e66","type":"box","z":"bc7bdcb9d2354754","scene":"c0d1433da002f3c6","material":"e7298bcff0d93b16","name_conf_a":"pixel_6_x_3","size_conf_n":1,"height_conf_n":"","width_conf_n":"","depth_conf_n":"","updatable_conf_b":false,"sideOrientation_conf_a":"1","pos_x":6,"pos_y":3,"pos_z":0,"scale_x":"1","scale_y":"1","scale_z":"0.25","rot_x":0,"rot_y":0,"rot_z":0,"x":2337.857259750366,"y":1901.428539276123,"wires":[[]]},{"id":"65137d160972329b","type":"box","z":"bc7bdcb9d2354754","scene":"c0d1433da002f3c6","material":"17350478e877bc09","name_conf_a":"pixel_6_x_4","size_conf_n":1,"height_conf_n":"","width_conf_n":"","depth_conf_n":"","updatable_conf_b":false,"sideOrientation_conf_a":"1","pos_x":6,"pos_y":2,"pos_z":0,"scale_x":"1","scale_y":"1","scale_z":"0.25","rot_x":0,"rot_y":0,"rot_z":0,"x":2337.857259750366,"y":1951.428539276123,"wires":[[]]},{"id":"405c4fa7e0ce11fb","type":"box","z":"bc7bdcb9d2354754","scene":"c0d1433da002f3c6","material":"e7298bcff0d93b16","name_conf_a":"pixel_6_x_5","size_conf_n":1,"height_conf_n":"","width_conf_n":"","depth_conf_n":"","updatable_conf_b":false,"sideOrientation_conf_a":"1","pos_x":6,"pos_y":1,"pos_z":0,"scale_x":"1","scale_y":"1","scale_z":"0.25","rot_x":0,"rot_y":0,"rot_z":0,"x":2337.857259750366,"y":2001.428539276123,"wires":[[]]},{"id":"ed8cebf509d54e39","type":"box","z":"bc7bdcb9d2354754","scene":"c0d1433da002f3c6","material":"17350478e877bc09","name_conf_a":"pixel_7_x_1","size_conf_n":1,"height_conf_n":"","width_conf_n":"","depth_conf_n":"","updatable_conf_b":false,"sideOrientation_conf_a":"1","pos_x":7,"pos_y":5,"pos_z":0,"scale_x":"1","scale_y":"1","scale_z":"0.25","rot_x":0,"rot_y":0,"rot_z":0,"x":2517.857259750366,"y":1801.428539276123,"wires":[[]]},{"id":"e7a112e5d28bc0cc","type":"box","z":"bc7bdcb9d2354754","scene":"c0d1433da002f3c6","material":"e7298bcff0d93b16","name_conf_a":"pixel_7_x_2","size_conf_n":1,"height_conf_n":"","width_conf_n":"","depth_conf_n":"","updatable_conf_b":false,"sideOrientation_conf_a":"1","pos_x":7,"pos_y":4,"pos_z":0,"scale_x":"1","scale_y":"1","scale_z":"0.25","rot_x":0,"rot_y":0,"rot_z":0,"x":2517.857259750366,"y":1851.428539276123,"wires":[[]]},{"id":"cf93edb938261c25","type":"box","z":"bc7bdcb9d2354754","scene":"c0d1433da002f3c6","material":"17350478e877bc09","name_conf_a":"pixel_7_x_3","size_conf_n":1,"height_conf_n":"","width_conf_n":"","depth_conf_n":"","updatable_conf_b":false,"sideOrientation_conf_a":"1","pos_x":7,"pos_y":3,"pos_z":0,"scale_x":"1","scale_y":"1","scale_z":"0.25","rot_x":0,"rot_y":0,"rot_z":0,"x":2517.857259750366,"y":1901.428539276123,"wires":[[]]},{"id":"4788d4de7c67299e","type":"box","z":"bc7bdcb9d2354754","scene":"c0d1433da002f3c6","material":"e7298bcff0d93b16","name_conf_a":"pixel_7_x_4","size_conf_n":1,"height_conf_n":"","width_conf_n":"","depth_conf_n":"","updatable_conf_b":false,"sideOrientation_conf_a":"1","pos_x":7,"pos_y":2,"pos_z":0,"scale_x":"1","scale_y":"1","scale_z":"0.25","rot_x":0,"rot_y":0,"rot_z":0,"x":2517.857259750366,"y":1951.428539276123,"wires":[[]]},{"id":"e452854ebc276bbb","type":"box","z":"bc7bdcb9d2354754","scene":"c0d1433da002f3c6","material":"17350478e877bc09","name_conf_a":"pixel_7_x_5","size_conf_n":1,"height_conf_n":"","width_conf_n":"","depth_conf_n":"","updatable_conf_b":false,"sideOrientation_conf_a":"1","pos_x":7,"pos_y":1,"pos_z":0,"scale_x":"1","scale_y":"1","scale_z":"0.25","rot_x":0,"rot_y":0,"rot_z":0,"x":2517.857259750366,"y":2001.428539276123,"wires":[[]]},{"id":"3f027855c59d64bc","type":"box","z":"bc7bdcb9d2354754","scene":"c0d1433da002f3c6","material":"e7298bcff0d93b16","name_conf_a":"pixel_8_x_1","size_conf_n":1,"height_conf_n":"","width_conf_n":"","depth_conf_n":"","updatable_conf_b":false,"sideOrientation_conf_a":"1","pos_x":8,"pos_y":5,"pos_z":0,"scale_x":"1","scale_y":"1","scale_z":"0.25","rot_x":0,"rot_y":0,"rot_z":0,"x":2697.857259750366,"y":1801.428539276123,"wires":[[]]},{"id":"34529671ae9baf1b","type":"box","z":"bc7bdcb9d2354754","scene":"c0d1433da002f3c6","material":"17350478e877bc09","name_conf_a":"pixel_8_x_2","size_conf_n":1,"height_conf_n":"","width_conf_n":"","depth_conf_n":"","updatable_conf_b":false,"sideOrientation_conf_a":"1","pos_x":8,"pos_y":4,"pos_z":0,"scale_x":"1","scale_y":"1","scale_z":"0.25","rot_x":0,"rot_y":0,"rot_z":0,"x":2697.857259750366,"y":1851.428539276123,"wires":[[]]},{"id":"bad24f517dfd0e94","type":"box","z":"bc7bdcb9d2354754","scene":"c0d1433da002f3c6","material":"e7298bcff0d93b16","name_conf_a":"pixel_8_x_3","size_conf_n":1,"height_conf_n":"","width_conf_n":"","depth_conf_n":"","updatable_conf_b":false,"sideOrientation_conf_a":"1","pos_x":8,"pos_y":3,"pos_z":0,"scale_x":"1","scale_y":"1","scale_z":"0.25","rot_x":0,"rot_y":0,"rot_z":0,"x":2697.857259750366,"y":1901.428539276123,"wires":[[]]},{"id":"1d658a0e7b749826","type":"box","z":"bc7bdcb9d2354754","scene":"c0d1433da002f3c6","material":"17350478e877bc09","name_conf_a":"pixel_8_x_4","size_conf_n":1,"height_conf_n":"","width_conf_n":"","depth_conf_n":"","updatable_conf_b":false,"sideOrientation_conf_a":"1","pos_x":8,"pos_y":2,"pos_z":0,"scale_x":"1","scale_y":"1","scale_z":"0.25","rot_x":0,"rot_y":0,"rot_z":0,"x":2697.857259750366,"y":1951.428539276123,"wires":[[]]},{"id":"637960fe13c11e4e","type":"box","z":"bc7bdcb9d2354754","scene":"c0d1433da002f3c6","material":"e7298bcff0d93b16","name_conf_a":"pixel_8_x_5","size_conf_n":1,"height_conf_n":"","width_conf_n":"","depth_conf_n":"","updatable_conf_b":false,"sideOrientation_conf_a":"1","pos_x":8,"pos_y":1,"pos_z":0,"scale_x":"1","scale_y":"1","scale_z":"0.25","rot_x":0,"rot_y":0,"rot_z":0,"x":2697.857259750366,"y":2001.428539276123,"wires":[[]]},{"id":"836b0a63ab351fe0","type":"box","z":"bc7bdcb9d2354754","scene":"c0d1433da002f3c6","material":"17350478e877bc09","name_conf_a":"pixel_9_x_1","size_conf_n":1,"height_conf_n":"","width_conf_n":"","depth_conf_n":"","updatable_conf_b":false,"sideOrientation_conf_a":"1","pos_x":9,"pos_y":5,"pos_z":0,"scale_x":"1","scale_y":"1","scale_z":"0.25","rot_x":0,"rot_y":0,"rot_z":0,"x":2877.857259750366,"y":1801.428539276123,"wires":[[]]},{"id":"ea3eddbf1a7cbe94","type":"box","z":"bc7bdcb9d2354754","scene":"c0d1433da002f3c6","material":"e7298bcff0d93b16","name_conf_a":"pixel_9_x_2","size_conf_n":1,"height_conf_n":"","width_conf_n":"","depth_conf_n":"","updatable_conf_b":false,"sideOrientation_conf_a":"1","pos_x":9,"pos_y":4,"pos_z":0,"scale_x":"1","scale_y":"1","scale_z":"0.25","rot_x":0,"rot_y":0,"rot_z":0,"x":2877.857259750366,"y":1851.428539276123,"wires":[[]]},{"id":"550ad6660ad65ddb","type":"box","z":"bc7bdcb9d2354754","scene":"c0d1433da002f3c6","material":"17350478e877bc09","name_conf_a":"pixel_9_x_3","size_conf_n":1,"height_conf_n":"","width_conf_n":"","depth_conf_n":"","updatable_conf_b":false,"sideOrientation_conf_a":"1","pos_x":9,"pos_y":3,"pos_z":0,"scale_x":"1","scale_y":"1","scale_z":"0.25","rot_x":0,"rot_y":0,"rot_z":0,"x":2877.857259750366,"y":1901.428539276123,"wires":[[]]},{"id":"49f6e259297c70c7","type":"box","z":"bc7bdcb9d2354754","scene":"c0d1433da002f3c6","material":"e7298bcff0d93b16","name_conf_a":"pixel_9_x_4","size_conf_n":1,"height_conf_n":"","width_conf_n":"","depth_conf_n":"","updatable_conf_b":false,"sideOrientation_conf_a":"1","pos_x":9,"pos_y":2,"pos_z":0,"scale_x":"1","scale_y":"1","scale_z":"0.25","rot_x":0,"rot_y":0,"rot_z":0,"x":2877.857259750366,"y":1951.428539276123,"wires":[[]]},{"id":"3f24221d6471c050","type":"box","z":"bc7bdcb9d2354754","scene":"c0d1433da002f3c6","material":"17350478e877bc09","name_conf_a":"pixel_9_x_5","size_conf_n":1,"height_conf_n":"","width_conf_n":"","depth_conf_n":"","updatable_conf_b":false,"sideOrientation_conf_a":"1","pos_x":9,"pos_y":1,"pos_z":0,"scale_x":"1","scale_y":"1","scale_z":"0.25","rot_x":0,"rot_y":0,"rot_z":0,"x":2877.857259750366,"y":2001.428539276123,"wires":[[]]},{"id":"2c5263c6aae99115","type":"box","z":"bc7bdcb9d2354754","scene":"c0d1433da002f3c6","material":"e7298bcff0d93b16","name_conf_a":"pixel_10_x_1","size_conf_n":1,"height_conf_n":"","width_conf_n":"","depth_conf_n":"","updatable_conf_b":false,"sideOrientation_conf_a":"1","pos_x":10,"pos_y":5,"pos_z":0,"scale_x":"1","scale_y":"1","scale_z":"0.25","rot_x":0,"rot_y":0,"rot_z":0,"x":3057.857259750366,"y":1801.428539276123,"wires":[[]]},{"id":"1cf0c52a3250c8db","type":"box","z":"bc7bdcb9d2354754","scene":"c0d1433da002f3c6","material":"17350478e877bc09","name_conf_a":"pixel_10_x_2","size_conf_n":1,"height_conf_n":"","width_conf_n":"","depth_conf_n":"","updatable_conf_b":false,"sideOrientation_conf_a":"1","pos_x":10,"pos_y":4,"pos_z":0,"scale_x":"1","scale_y":"1","scale_z":"0.25","rot_x":0,"rot_y":0,"rot_z":0,"x":3057.857259750366,"y":1851.428539276123,"wires":[[]]},{"id":"7dd0dad04664dac6","type":"box","z":"bc7bdcb9d2354754","scene":"c0d1433da002f3c6","material":"e7298bcff0d93b16","name_conf_a":"pixel_10_x_3","size_conf_n":1,"height_conf_n":"","width_conf_n":"","depth_conf_n":"","updatable_conf_b":false,"sideOrientation_conf_a":"1","pos_x":10,"pos_y":3,"pos_z":0,"scale_x":"1","scale_y":"1","scale_z":"0.25","rot_x":0,"rot_y":0,"rot_z":0,"x":3057.857259750366,"y":1901.428539276123,"wires":[[]]},{"id":"4a65ce7362478489","type":"box","z":"bc7bdcb9d2354754","scene":"c0d1433da002f3c6","material":"17350478e877bc09","name_conf_a":"pixel_10_x_4","size_conf_n":1,"height_conf_n":"","width_conf_n":"","depth_conf_n":"","updatable_conf_b":false,"sideOrientation_conf_a":"1","pos_x":10,"pos_y":2,"pos_z":0,"scale_x":"1","scale_y":"1","scale_z":"0.25","rot_x":0,"rot_y":0,"rot_z":0,"x":3057.857259750366,"y":1951.428539276123,"wires":[[]]},{"id":"aa5efb7b26158e7e","type":"box","z":"bc7bdcb9d2354754","scene":"c0d1433da002f3c6","material":"e7298bcff0d93b16","name_conf_a":"pixel_10_x_5","size_conf_n":1,"height_conf_n":"","width_conf_n":"","depth_conf_n":"","updatable_conf_b":false,"sideOrientation_conf_a":"1","pos_x":10,"pos_y":1,"pos_z":0,"scale_x":"1","scale_y":"1","scale_z":"0.25","rot_x":0,"rot_y":0,"rot_z":0,"x":3057.857259750366,"y":2001.428539276123,"wires":[[]]},{"id":"82ae269c1ca68a0a","type":"box","z":"bc7bdcb9d2354754","scene":"c0d1433da002f3c6","material":"17350478e877bc09","name_conf_a":"pixel_11_x_1","size_conf_n":1,"height_conf_n":"","width_conf_n":"","depth_conf_n":"","updatable_conf_b":false,"sideOrientation_conf_a":"1","pos_x":11,"pos_y":5,"pos_z":0,"scale_x":"1","scale_y":"1","scale_z":"0.25","rot_x":0,"rot_y":0,"rot_z":0,"x":3237.857259750366,"y":1801.428539276123,"wires":[[]]},{"id":"9317bcd427951842","type":"box","z":"bc7bdcb9d2354754","scene":"c0d1433da002f3c6","material":"e7298bcff0d93b16","name_conf_a":"pixel_11_x_2","size_conf_n":1,"height_conf_n":"","width_conf_n":"","depth_conf_n":"","updatable_conf_b":false,"sideOrientation_conf_a":"1","pos_x":11,"pos_y":4,"pos_z":0,"scale_x":"1","scale_y":"1","scale_z":"0.25","rot_x":0,"rot_y":0,"rot_z":0,"x":3237.857259750366,"y":1851.428539276123,"wires":[[]]},{"id":"77bd3eb96de17de9","type":"box","z":"bc7bdcb9d2354754","scene":"c0d1433da002f3c6","material":"17350478e877bc09","name_conf_a":"pixel_11_x_3","size_conf_n":1,"height_conf_n":"","width_conf_n":"","depth_conf_n":"","updatable_conf_b":false,"sideOrientation_conf_a":"1","pos_x":11,"pos_y":3,"pos_z":0,"scale_x":"1","scale_y":"1","scale_z":"0.25","rot_x":0,"rot_y":0,"rot_z":0,"x":3237.857259750366,"y":1901.428539276123,"wires":[[]]},{"id":"5077c6364dd4e988","type":"box","z":"bc7bdcb9d2354754","scene":"c0d1433da002f3c6","material":"e7298bcff0d93b16","name_conf_a":"pixel_11_x_4","size_conf_n":1,"height_conf_n":"","width_conf_n":"","depth_conf_n":"","updatable_conf_b":false,"sideOrientation_conf_a":"1","pos_x":11,"pos_y":2,"pos_z":0,"scale_x":"1","scale_y":"1","scale_z":"0.25","rot_x":0,"rot_y":0,"rot_z":0,"x":3237.857259750366,"y":1951.428539276123,"wires":[[]]},{"id":"a24e3d7135afed8e","type":"box","z":"bc7bdcb9d2354754","scene":"c0d1433da002f3c6","material":"17350478e877bc09","name_conf_a":"pixel_11_x_5","size_conf_n":1,"height_conf_n":"","width_conf_n":"","depth_conf_n":"","updatable_conf_b":false,"sideOrientation_conf_a":"1","pos_x":11,"pos_y":1,"pos_z":0,"scale_x":"1","scale_y":"1","scale_z":"0.25","rot_x":0,"rot_y":0,"rot_z":0,"x":3237.857259750366,"y":2001.428539276123,"wires":[[]]},{"id":"1cf337e71f351d1b","type":"box","z":"bc7bdcb9d2354754","scene":"c0d1433da002f3c6","material":"eb9738d1.722f68","name_conf_a":"purplebox11","size_conf_n":1,"height_conf_n":"","width_conf_n":"","depth_conf_n":"","updatable_conf_b":false,"sideOrientation_conf_a":"1","pos_x":"11","pos_y":0,"pos_z":0,"scale_x":"1","scale_y":"1","scale_z":"0.25","rot_x":0,"rot_y":0,"rot_z":0,"x":1797.1428756713867,"y":220.00001001358032,"wires":[[]]},{"id":"a829aec20c95548a","type":"events","z":"bc7bdcb9d2354754","name":"events","x":127.00010299682617,"y":797.0000066757202,"wires":[["a6177fc54132e224"]]},{"id":"c0d1433da002f3c6","type":"scene","name":"default","overlay":false},{"id":"6817754228a11c19","type":"material","name":"yello","diffuse":"#fd9b0e","specular":"#ffc519","alpha":"0.5"},{"id":"eb9738d1.722f68","type":"material","name":"greenmat","diffuse":"#50e254","specular":"#fb0006","alpha":"0.9"},{"id":"2f08998d.f33b96","type":"material","name":"purple","diffuse":"#d63eea","specular":"#f6f4f4","alpha":"0.9"},{"id":"17350478e877bc09","type":"material","name":"red","diffuse":"#d32950","specular":"#c04020","alpha":"1"},{"id":"e7298bcff0d93b16","type":"material","name":"white","diffuse":"#fffefd","specular":"#fffefd","alpha":"1"}]