e1ff991f249109b1/flows.json
[{"id":"e1ff991f249109b1","type":"tab","label":"[AI] using combination of AIs","disabled":false,"info":"### Description\n\nUsing [AIsBreaker.org](https://AIsBreaker.org) to make the same requests to different AIs.\n\n","env":[]},{"id":"8df572081392633b","type":"junction","z":"e1ff991f249109b1","x":650.4285600185394,"y":646.8571271896362,"wires":[["5fa19614cf85a327","baf5496b8f91eb1c","d3821eed1fd663ab"]]},{"id":"221c9188e10d4966","type":"AIsBreaker","z":"e1ff991f249109b1","name":"ChatGPT 3.5","apiToken":"","apiTokenType":"cred","serviceid":"chat:openai.com/gpt-3.5-turbo","endpoint":"https://api.demo.aisbreaker.org","servicejson":"{\n  \"serviceId\": \"chat:openai.com/gpt-3.5-turbo\"\n}","x":1304,"y":640,"wires":[["7aa704be54c361b0"]]},{"id":"5fa19614cf85a327","type":"template","z":"e1ff991f249109b1","name":"comment","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Please write a comment on this: \n\n{{{ payload }}}\n","output":"str","x":901,"y":381,"wires":[["221c9188e10d4966","a89a9d723f2b1b2a","4f4785fa1d52c0a9"]]},{"id":"7aa704be54c361b0","type":"change","z":"e1ff991f249109b1","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.outputs[0].text.content","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1541,"y":642,"wires":[["662c0f3123db23ea","4a203e27eb80bd98"]]},{"id":"662c0f3123db23ea","type":"debug","z":"e1ff991f249109b1","name":"output","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"","statusType":"counter","x":1822,"y":782,"wires":[]},{"id":"baf5496b8f91eb1c","type":"template","z":"e1ff991f249109b1","name":"response","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Please write a response to this: \n\n{{{ payload }}}\n","output":"str","x":895,"y":648,"wires":[["221c9188e10d4966","a89a9d723f2b1b2a","4f4785fa1d52c0a9"]]},{"id":"d3821eed1fd663ab","type":"template","z":"e1ff991f249109b1","name":"insightful","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Please write an insightful idea about the following: \n\n{{{ payload }}}\n","output":"str","x":868,"y":970,"wires":[["221c9188e10d4966","a89a9d723f2b1b2a","4f4785fa1d52c0a9"]]},{"id":"a89a9d723f2b1b2a","type":"AIsBreaker","z":"e1ff991f249109b1","name":"ChatGPT 4","apiToken":"","apiTokenType":"cred","serviceid":"chat:openai.com/gpt-4","endpoint":"https://api.demo.aisbreaker.org","servicejson":"{\n  \"serviceId\": \"chat:openai.com/gpt-4\"\n}","x":1281,"y":722,"wires":[["7aa704be54c361b0"]]},{"id":"4f4785fa1d52c0a9","type":"AIsBreaker","z":"e1ff991f249109b1","name":"Hugging Face","apiToken":"","apiTokenType":"cred","serviceid":"chat:huggingface.co/REPLACE_COMPANY/REPLACE_MODEL","endpoint":"https://api.demo.aisbreaker.org","servicejson":"{\n  \"serviceId\": \"chat:huggingface.co/microsoft/Orca-2-13b\"\n}","x":1290,"y":568,"wires":[["7aa704be54c361b0"]]},{"id":"2eff8061.69559","type":"ui_template","z":"e1ff991f249109b1","group":"cc1cf455ad874385","name":"Textarea","order":1,"width":"0","height":"0","format":"      <textarea name=\"textentered\" id=\"textentered\"  rows=\"8\" cols=\"25\">No message received</textarea>\n      <p>\n      <input type=\"submit\" value=\"Do It!\" ng-click=\"test()\">\n      \n      <input type=\"submit\" value=\"Clear\" ng-click=\"clear()\">\n<script>\n\n(function(scope) {\n  const element = document.getElementById(\"textentered\");\n  \n  scope.$watch('msg', function(msg) {\n    if (msg.payload) {\n      // Do something when msg arrives\n      element.value = msg.payload;\n    }\n  })\n  \n  scope.test = function() {\n        var text = element.value;\n        scope.send({payload: text});\n    }\n  scope.clear = function() {\n    $('#textentered').val(\"\")\n  }\n})(scope)\n\n</script>\n","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":true,"templateScope":"local","className":"","x":558,"y":861,"wires":[["8df572081392633b","ad77a896f54ad201"]]},{"id":"53d4f9b7.899c88","type":"debug","z":"e1ff991f249109b1","name":"Content of textarea","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1639,"y":1094,"wires":[]},{"id":"d1f059eee018ca76","type":"catch","z":"e1ff991f249109b1","name":"","scope":null,"uncaught":false,"x":1290,"y":819,"wires":[["013b897190ad66c4"]]},{"id":"ad77a896f54ad201","type":"change","z":"e1ff991f249109b1","name":"","rules":[{"t":"set","p":"cntr","pt":"flow","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":775,"y":1144,"wires":[["53d4f9b7.899c88"]]},{"id":"d88936e381996506","type":"function","z":"e1ff991f249109b1","name":"function 29","func":"\nreturn msg;","outputs":9,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1858,"y":638,"wires":[["fe5c6405f3f0d9b0"],["8cdc8348bf65bb89"],["373ff27ee45bd872"],["212a803913718c6d"],["c10002e7f94e19ef"],["b9742946e8ca68ce"],["177dac6c1569499f"],["c6e46a818d4c1267"],["0dff7cbb07433086"]]},{"id":"013b897190ad66c4","type":"change","z":"e1ff991f249109b1","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"error","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1538,"y":772,"wires":[["662c0f3123db23ea","4a203e27eb80bd98"]]},{"id":"4a203e27eb80bd98","type":"join","z":"e1ff991f249109b1","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"9","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1692,"y":704,"wires":[["d88936e381996506"]]},{"id":"fe5c6405f3f0d9b0","type":"ui_template","z":"e1ff991f249109b1","group":"cc1cf455ad874385","name":"","order":10,"width":"12","height":"7","format":"<h3>Text</h3>\n<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":2126,"y":581,"wires":[[]]},{"id":"8cdc8348bf65bb89","type":"ui_template","z":"e1ff991f249109b1","group":"cc1cf455ad874385","name":"","order":10,"width":"12","height":"7","format":"<h3>Text</h3>\n<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":2125,"y":626,"wires":[[]]},{"id":"373ff27ee45bd872","type":"ui_template","z":"e1ff991f249109b1","group":"cc1cf455ad874385","name":"","order":10,"width":"12","height":"7","format":"<h3>Text</h3>\n<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":2120,"y":674,"wires":[[]]},{"id":"212a803913718c6d","type":"ui_template","z":"e1ff991f249109b1","group":"cc1cf455ad874385","name":"","order":10,"width":"12","height":"7","format":"<h3>Text</h3>\n<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":2119,"y":720,"wires":[[]]},{"id":"c10002e7f94e19ef","type":"ui_template","z":"e1ff991f249109b1","group":"cc1cf455ad874385","name":"","order":10,"width":"12","height":"7","format":"<h3>Text</h3>\n<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":2126,"y":779,"wires":[[]]},{"id":"b9742946e8ca68ce","type":"ui_template","z":"e1ff991f249109b1","group":"cc1cf455ad874385","name":"","order":10,"width":"12","height":"7","format":"<h3>Text</h3>\n<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":2123,"y":848,"wires":[[]]},{"id":"177dac6c1569499f","type":"ui_template","z":"e1ff991f249109b1","group":"cc1cf455ad874385","name":"","order":10,"width":"12","height":"7","format":"<h3>Text</h3>\n<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":2140,"y":904,"wires":[[]]},{"id":"c6e46a818d4c1267","type":"ui_template","z":"e1ff991f249109b1","group":"cc1cf455ad874385","name":"","order":10,"width":"12","height":"7","format":"<h3>Text</h3>\n<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":2145,"y":996,"wires":[[]]},{"id":"0dff7cbb07433086","type":"ui_template","z":"e1ff991f249109b1","group":"cc1cf455ad874385","name":"","order":10,"width":"12","height":"7","format":"<h3>Text</h3>\n<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":2154,"y":1090,"wires":[[]]},{"id":"cc1cf455ad874385","type":"ui_group","name":"AI Content","tab":"8ac92fa8774a3930","order":1,"disp":true,"width":"12","collapse":false,"className":""},{"id":"8ac92fa8774a3930","type":"ui_tab","name":"AI Content","icon":"dashboard","disabled":false,"hidden":false}]