118d664c87ce7320/flows.json
[{"id":"118d664c87ce7320","type":"tab","label":"[UML] Decision & Merge","disabled":false,"info":"::: aim\n\nCreate Node-RED flows for UML diagrams. This provides an example of decision and merge.\n\n:::\n\n### UML\n\n```mermaid\ngraph TB\nStart(Start) --> A[Choose Action]\nA -->|Open| B[Open Window]\nA -->|Close| C[Close Window]\nA -->|Lower| D[Lower Window]\nA -->|Raise| E[Raise Window]\nA -->|Release| H[Release Window]\nB --> F[Merge]\nC --> F\nD --> F\nE --> F\nH --> F\nF --> G[End]\n```\n","env":[]},{"id":"bb876a1224f13eac","type":"inject","z":"118d664c87ce7320","name":"Start","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":423,"y":400,"wires":[["f3bffd06280db090"]]},{"id":"f3bffd06280db090","type":"switch","z":"118d664c87ce7320","name":"Choose Action","property":"action","propertyType":"msg","rules":[{"t":"eq","v":"Open","vt":"str"},{"t":"eq","v":"Close","vt":"str"},{"t":"eq","v":"Lower","vt":"str"},{"t":"eq","v":"Raise","vt":"str"},{"t":"eq","v":"Release","vt":"str"}],"checkall":"false","repair":false,"outputs":5,"x":673,"y":400,"wires":[["ce70977823236ce0"],["fd815d28d469c02f"],["c2bcfe18719a90eb"],["01987b2917a63b49"],["15015f7d98c7ea70"]]},{"id":"ce70977823236ce0","type":"function","z":"118d664c87ce7320","name":"Open Window","func":"\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":976,"y":252,"wires":[["ce9260014079ab16"]]},{"id":"fd815d28d469c02f","type":"function","z":"118d664c87ce7320","name":"Close Window","func":"\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":976,"y":326.75,"wires":[["ce9260014079ab16"]]},{"id":"c2bcfe18719a90eb","type":"function","z":"118d664c87ce7320","name":"Lower Window","func":"\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":976,"y":400,"wires":[["ce9260014079ab16"]]},{"id":"01987b2917a63b49","type":"function","z":"118d664c87ce7320","name":"Raise Window","func":"\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":976,"y":476.25,"wires":[["ce9260014079ab16"]]},{"id":"15015f7d98c7ea70","type":"function","z":"118d664c87ce7320","name":"Release Window","func":"\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":976,"y":551,"wires":[["ce9260014079ab16"]]},{"id":"ce9260014079ab16","type":"join","z":"118d664c87ce7320","name":"Merge","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"1","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1299,"y":400,"wires":[["b25336ced0713502"]]},{"id":"b25336ced0713502","type":"debug","z":"118d664c87ce7320","name":"End","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1520,"y":400,"wires":[]}]