139a816449acd89f/flows.json
[{"id":"139a816449acd89f","type":"tab","label":"[Introspection] Sink & Seeker","disabled":false,"info":"::: aim\n\nFind all pathways that lead from one point to another point in a flow.\n\nThis works purely in the editor window and has no backend component.\n\n:::\n\n::: requirements\n\nThis requirements the following Node-RED nodes:\n\n- [introspection](https://flows.nodered.org/node/@gregoriusrippenstein/node-red-contrib-introspection)\n\n:::\n\n### Flow Explanation\n\nDouble clicking on the <a class=\"ahl-node-only\" data-ids=\"\">Seeker</a> node will show the following editor tray:\n\n![img](https://cdn.openmindmap.org/content/1691240963016_Screen_Shot_2023-08-05_at_15.08.17.png)\n\nClicking on one the nodes in that list will give something simliar to this view in the workspace highlighting the chosen path:\n\n![img](https://cdn.openmindmap.org/content/1691240957632_Screen_Shot_2023-08-05_at_15.08.55.png)\n\n\n","env":[]},{"id":"644d61288c671091","type":"group","z":"139a816449acd89f","name":"this flow needs refactoring","style":{"label":true},"nodes":["a9f18b308a918307","24cd5ce1ca3f52d7","c108d845246cf5d8","73729a40176391b6","2330ef30ca42509f","b559bb547b6a7efc","7ba5ec934b306519","49b6268a2ba413cf","e8adf1e30363b84c","afaa8ef8c8aa0746","b2264dd04c98a2cc"],"x":126,"y":93,"w":1208,"h":541},{"id":"a9f18b308a918307","type":"Seeker","z":"139a816449acd89f","g":"644d61288c671091","name":"","x":202,"y":253,"wires":[["2330ef30ca42509f","c108d845246cf5d8"]]},{"id":"24cd5ce1ca3f52d7","type":"Sink","z":"139a816449acd89f","g":"644d61288c671091","name":"","x":1258,"y":386,"wires":[]},{"id":"c108d845246cf5d8","type":"switch","z":"139a816449acd89f","g":"644d61288c671091","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":416,"y":134,"wires":[["73729a40176391b6","e8adf1e30363b84c"]]},{"id":"73729a40176391b6","type":"change","z":"139a816449acd89f","g":"644d61288c671091","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":517,"y":190,"wires":[["2330ef30ca42509f","afaa8ef8c8aa0746"]]},{"id":"2330ef30ca42509f","type":"template","z":"139a816449acd89f","g":"644d61288c671091","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"This is the payload: {{payload}} !","output":"str","x":620,"y":251,"wires":[["b559bb547b6a7efc","49b6268a2ba413cf"]]},{"id":"b559bb547b6a7efc","type":"delay","z":"139a816449acd89f","g":"644d61288c671091","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":724,"y":303,"wires":[["7ba5ec934b306519"]]},{"id":"7ba5ec934b306519","type":"trigger","z":"139a816449acd89f","g":"644d61288c671091","name":"","op1":"1","op2":"0","op1type":"val","op2type":"val","duration":"250","extend":"false","overrideDelay":"false","units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":796,"y":353,"wires":[["e8adf1e30363b84c"]]},{"id":"49b6268a2ba413cf","type":"exec","z":"139a816449acd89f","g":"644d61288c671091","command":"","addpay":"","append":"","useSpawn":"false","timer":"","winHide":false,"oldrc":false,"name":"","x":545,"y":420,"wires":[["e8adf1e30363b84c","b559bb547b6a7efc"],["afaa8ef8c8aa0746"],["afaa8ef8c8aa0746"]]},{"id":"e8adf1e30363b84c","type":"rbe","z":"139a816449acd89f","g":"644d61288c671091","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","topi":"topic","x":640,"y":485,"wires":[["b2264dd04c98a2cc"]]},{"id":"afaa8ef8c8aa0746","type":"random","z":"139a816449acd89f","g":"644d61288c671091","name":"","low":1,"high":10,"inte":"true","property":"payload","x":748,"y":551,"wires":[["49b6268a2ba413cf","24cd5ce1ca3f52d7","7ba5ec934b306519"]]},{"id":"b2264dd04c98a2cc","type":"smooth","z":"139a816449acd89f","g":"644d61288c671091","name":"","property":"payload","action":"mean","count":"10","round":"","mult":"single","reduce":false,"x":855,"y":593,"wires":[["afaa8ef8c8aa0746","b559bb547b6a7efc"]]}]