6c8ce462533a1da4/flows.json
[{"id":"6c8ce462533a1da4","type":"tab","label":"w.h.y.","disabled":false,"info":"","env":[]},{"id":"0a3384b6948e5416","type":"junction","z":"6c8ce462533a1da4","x":823.7026362419128,"y":298.6397179365158,"wires":[["0844ab2d79089c93"]]},{"id":"a7e6c5ae2c50a8a5","type":"junction","z":"6c8ce462533a1da4","x":508.73468923568726,"y":374.40815222263336,"wires":[["450f19755cba3662"]]},{"id":"9e0e3f4646c2a194","type":"junction","z":"6c8ce462533a1da4","x":1325.4139672517776,"y":1370.48972427845,"wires":[["9c4ba29cc9e8d176"]]},{"id":"9c4ba29cc9e8d176","type":"junction","z":"6c8ce462533a1da4","x":1457.8979213237762,"y":1313.326534628868,"wires":[["8e93f0bd9eca4229"]]},{"id":"e98e97ec080bc831","type":"junction","z":"6c8ce462533a1da4","x":352.5714384317398,"y":765.7142906188965,"wires":[["8850a7531f7a100d"]]},{"id":"450f19755cba3662","type":"junction","z":"6c8ce462533a1da4","x":662.428559422493,"y":309.4285640716553,"wires":[["0a3384b6948e5416"]]},{"id":"0844ab2d79089c93","type":"junction","z":"6c8ce462533a1da4","x":1020.5714197158813,"y":331.42857027053833,"wires":[["9d7cafd4e6b1bcbb"]]},{"id":"b3e8160dd3b90100","type":"junction","z":"6c8ce462533a1da4","x":967.2594643235207,"y":929.6939053535461,"wires":[["a3b29e8a914668c2"]]},{"id":"fe02775a1245936b","type":"junction","z":"6c8ce462533a1da4","x":1509.7377109527588,"y":959.1073594093323,"wires":[["a3b29e8a914668c2"]]},{"id":"9e3ee921588be731","type":"junction","z":"6c8ce462533a1da4","x":770.1582208871841,"y":854.1228846311569,"wires":[["82c474d014c90a93","b3e8160dd3b90100"]]},{"id":"a86482c85fe14961","type":"junction","z":"6c8ce462533a1da4","x":1342.3652871847153,"y":850.098402261734,"wires":[["fcec7f3520e3d0c5"]]},{"id":"530b3f9e485911f8","type":"junction","z":"6c8ce462533a1da4","x":1090.0407482981682,"y":1306.122441291809,"wires":[["ee28e0a6b9ec8f54"]]},{"id":"559efe9ed9eb5335","type":"junction","z":"6c8ce462533a1da4","x":1562.863216996193,"y":1342.452711224556,"wires":[["6a56e0b0c96e2201"]]},{"id":"1b5cc6d4998e1ee5","type":"junction","z":"6c8ce462533a1da4","x":896.4183583259583,"y":1270.7041156291962,"wires":[["dcb72bc9831c93d1","530b3f9e485911f8"]]},{"id":"f376bfce692c1193","type":"junction","z":"6c8ce462533a1da4","x":364.6935814023018,"y":473.8395987153053,"wires":[["012caadbaf094f70","a7e6c5ae2c50a8a5"]]},{"id":"9d7cafd4e6b1bcbb","type":"junction","z":"6c8ce462533a1da4","x":1185.5613132715225,"y":448.01021909713745,"wires":[[]]},{"id":"1a732e856bab74dc","type":"junction","z":"6c8ce462533a1da4","x":382,"y":891,"wires":[["9788bca7982bec56"]]},{"id":"5e345102465bdc44","type":"junction","z":"6c8ce462533a1da4","x":656.6734533309937,"y":1336.408127784729,"wires":[["e60af4f7a1faf6c6"]]},{"id":"f9d99a6ad97770c8","type":"junction","z":"6c8ce462533a1da4","x":61.34932881593704,"y":1631.0123792886734,"wires":[["e68720b1e7802359","5e345102465bdc44"]]},{"id":"e60af4f7a1faf6c6","type":"junction","z":"6c8ce462533a1da4","x":845.4023094177246,"y":1510.5023691654205,"wires":[["d6884cdd9d50acac"]]},{"id":"d6884cdd9d50acac","type":"junction","z":"6c8ce462533a1da4","x":1114.6428884267807,"y":1570.357168018818,"wires":[["249165cc5df9225e"]]},{"id":"249165cc5df9225e","type":"junction","z":"6c8ce462533a1da4","x":1214.7112478017807,"y":1573.1490015983582,"wires":[["02c9a33a6846f30c"]]},{"id":"02c9a33a6846f30c","type":"junction","z":"6c8ce462533a1da4","x":1328.695506811142,"y":1552.6866738796234,"wires":[["ba85508d26bfb2d5"]]},{"id":"ba85508d26bfb2d5","type":"junction","z":"6c8ce462533a1da4","x":1438.7315745353699,"y":1379.096143245697,"wires":[["9cf8ce31c04666d6"]]},{"id":"65eeaa73823bb8e6","type":"junction","z":"6c8ce462533a1da4","x":498.99943923950195,"y":1116.0533654689789,"wires":[["be28cef82fdce2f7","78adf0d2881bbb62","e9329e1d1301154e","c5cce9b062002fc3","30ccae34a032396b"]]},{"id":"50ab077534d3a876","type":"junction","z":"6c8ce462533a1da4","x":970.0000233054161,"y":609.6428555250168,"wires":[["9d7cafd4e6b1bcbb"]]},{"id":"ae108131a7a140b3","type":"junction","z":"6c8ce462533a1da4","x":584.0306349992752,"y":753.265332698822,"wires":[["bacc164d1bafa23b","59a10e471ab30926"]]},{"id":"bacc164d1bafa23b","type":"junction","z":"6c8ce462533a1da4","x":591.8622780442238,"y":601.7092187404633,"wires":[["50ab077534d3a876"]]},{"id":"59a10e471ab30926","type":"junction","z":"6c8ce462533a1da4","x":591.9643072485924,"y":806.0714688301086,"wires":[[]]},{"id":"a5eb705e1df83cb7","type":"junction","z":"6c8ce462533a1da4","x":549.7193729877472,"y":882.0918807983398,"wires":[["59a10e471ab30926","51c18b29306fed1e"]]},{"id":"51c18b29306fed1e","type":"junction","z":"6c8ce462533a1da4","x":660.7240765690804,"y":1056.5875030755997,"wires":[[]]},{"id":"942e048378d578bf","type":"junction","z":"6c8ce462533a1da4","x":1345.018853366375,"y":900.698920249939,"wires":[["a86482c85fe14961","bbda0a47635408f4"]]},{"id":"bbda0a47635408f4","type":"junction","z":"6c8ce462533a1da4","x":1340.02353399992,"y":956.3599179387093,"wires":[["fcec7f3520e3d0c5"]]},{"id":"fcec7f3520e3d0c5","type":"junction","z":"6c8ce462533a1da4","x":1468.4928373098373,"y":915.3688468337059,"wires":[[]]},{"id":"6f301972b66ff0c8","type":"junction","z":"6c8ce462533a1da4","x":1126.923095703125,"y":928.4615478515625,"wires":[["4f79b5180951eb31"]]},{"id":"7ca7f2e9d6dd652d","type":"junction","z":"6c8ce462533a1da4","x":1129.5766618847847,"y":979.0620658397675,"wires":[["6f301972b66ff0c8","4d311fc1328cad87"]]},{"id":"4d311fc1328cad87","type":"junction","z":"6c8ce462533a1da4","x":1124.5813425183296,"y":1034.7230635285378,"wires":[["4f79b5180951eb31"]]},{"id":"4f79b5180951eb31","type":"junction","z":"6c8ce462533a1da4","x":1253.050645828247,"y":993.7319924235344,"wires":[[]]},{"id":"79cd1b37c81df87e","type":"junction","z":"6c8ce462533a1da4","x":1268.0196113586426,"y":1313.5867099761963,"wires":[["9e0e3f4646c2a194"]]},{"id":"905bf976459850eb","type":"junction","z":"6c8ce462533a1da4","x":1201.9215024709702,"y":1338.720542192459,"wires":[["79cd1b37c81df87e"]]},{"id":"8e93f0bd9eca4229","type":"junction","z":"6c8ce462533a1da4","x":1480.4853234291077,"y":1207.0257983207703,"wires":[["b4b572f1973991dd"]]},{"id":"b4b572f1973991dd","type":"junction","z":"6c8ce462533a1da4","x":1527.3249572515488,"y":1197.102000951767,"wires":[[]]},{"id":"82c474d014c90a93","type":"junction","z":"6c8ce462533a1da4","x":1250.384536743164,"y":696.1538198590279,"wires":[["9d7cafd4e6b1bcbb","76fac0aed9e579ae","9142ad03825978a7"]]},{"id":"9142ad03825978a7","type":"junction","z":"6c8ce462533a1da4","x":1331.3736082315445,"y":750.8241367340088,"wires":[["a3b29e8a914668c2"]]},{"id":"ee803a318eec67da","type":"junction","z":"6c8ce462533a1da4","x":980.3697018623352,"y":1161.113286972046,"wires":[["03155728fcfe1251","b3e8160dd3b90100"]]},{"id":"2679a149ef0bb096","type":"junction","z":"6c8ce462533a1da4","x":799.2420296669006,"y":1090.6346626877785,"wires":[["9e3ee921588be731","ee803a318eec67da"]]},{"id":"bf4aca94a7c97c0c","type":"junction","z":"6c8ce462533a1da4","x":1463.7755143642426,"y":1132.1584193706512,"wires":[["ee28e0a6b9ec8f54"]]},{"id":"dcb72bc9831c93d1","type":"junction","z":"6c8ce462533a1da4","x":1365.3374795913696,"y":1095.886951327324,"wires":[["5894f79862513953"]]},{"id":"ee28e0a6b9ec8f54","type":"junction","z":"6c8ce462533a1da4","x":1575.934032201767,"y":1106.7582718729973,"wires":[["ec31b4c09b007c2d"]]},{"id":"5894f79862513953","type":"junction","z":"6c8ce462533a1da4","x":1408.766628742218,"y":1125.1759296655655,"wires":[["bf4aca94a7c97c0c"]]},{"id":"03155728fcfe1251","type":"junction","z":"6c8ce462533a1da4","x":1406.6047620773315,"y":1015.3455933332443,"wires":[["fe02775a1245936b","bf4aca94a7c97c0c"]]},{"id":"94e3dbd8757dafa0","type":"junction","z":"6c8ce462533a1da4","x":911.4128882884979,"y":1440.8791140317917,"wires":[["1b5cc6d4998e1ee5","9476f5ea9e20619d"]]},{"id":"9476f5ea9e20619d","type":"junction","z":"6c8ce462533a1da4","x":1119.1575360298157,"y":1503.9531705379486,"wires":[["530b3f9e485911f8","559efe9ed9eb5335"]]},{"id":"def373734aefb5ce","type":"junction","z":"6c8ce462533a1da4","x":505.5862398147583,"y":1171.576448380947,"wires":[["b6efa3a7458957f3","be28cef82fdce2f7","78adf0d2881bbb62","e9329e1d1301154e","c5cce9b062002fc3","30ccae34a032396b"]]},{"id":"fd4d678477a49bd4","type":"junction","z":"6c8ce462533a1da4","x":517.2353384494781,"y":1175.7055263519287,"wires":[["658daf156ec5e93e","98f9c848356334d6","0adae3872afef786","a8be7de4e5179b87"]]},{"id":"658daf156ec5e93e","type":"junction","z":"6c8ce462533a1da4","x":531.0464744567871,"y":1181.449019253254,"wires":[["afe6426a9ad37618","cd09277a826451b1","a8be7de4e5179b87"]]},{"id":"b6efa3a7458957f3","type":"junction","z":"6c8ce462533a1da4","x":512.7079954147339,"y":1184.7951974868774,"wires":[["658daf156ec5e93e","afe6426a9ad37618","cd09277a826451b1","98f9c848356334d6","0adae3872afef786","29478409060edd18","a8be7de4e5179b87","0da7f90dc1478ba0"]]},{"id":"6d79ba81f31005dc","type":"junction","z":"6c8ce462533a1da4","x":612.9121137857437,"y":1288.8461803793907,"wires":[["5e345102465bdc44"]]},{"id":"5c8ab42a170717fa","type":"junction","z":"6c8ce462533a1da4","x":479.9113824367523,"y":1263.798932313919,"wires":[["7a1628ca36072e4f"]]},{"id":"7a1628ca36072e4f","type":"junction","z":"6c8ce462533a1da4","x":524.3956218957901,"y":1286.8131746053696,"wires":[["6d79ba81f31005dc"]]},{"id":"695a53e0197d6455","type":"junction","z":"6c8ce462533a1da4","x":443.95603585243225,"y":1241.3736365437508,"wires":[["5c8ab42a170717fa"]]},{"id":"f75e23065e8368b9","type":"junction","z":"6c8ce462533a1da4","x":419.4505247473717,"y":1210.9889913797379,"wires":[["695a53e0197d6455"]]},{"id":"79df4d6acbce19ef","type":"junction","z":"6c8ce462533a1da4","x":383.73625922203064,"y":1153.5714629888535,"wires":[["8a44c363af43513e","20e9c0348cec6123"]]},{"id":"8a44c363af43513e","type":"junction","z":"6c8ce462533a1da4","x":385.9056272506714,"y":1127.1363079547882,"wires":[[]]},{"id":"cb9082f1982d5f88","type":"junction","z":"6c8ce462533a1da4","x":370.164821267128,"y":1061.9230452775955,"wires":[["7059c34f5a262bad"]]},{"id":"a201708d5fc0e8ac","type":"junction","z":"6c8ce462533a1da4","x":366.9230651855469,"y":1098.846215248108,"wires":[["8a44c363af43513e","cb9082f1982d5f88"]]},{"id":"8d18e81f9a6bb64b","type":"junction","z":"6c8ce462533a1da4","x":419.0926036834717,"y":988.333604156971,"wires":[["7059c34f5a262bad"]]},{"id":"9788bca7982bec56","type":"junction","z":"6c8ce462533a1da4","x":401,"y":939,"wires":[["8d18e81f9a6bb64b"]]},{"id":"8850a7531f7a100d","type":"junction","z":"6c8ce462533a1da4","x":367,"y":828,"wires":[["1a732e856bab74dc"]]},{"id":"012caadbaf094f70","type":"junction","z":"6c8ce462533a1da4","x":350.27470391988754,"y":710.3846489191055,"wires":[["e98e97ec080bc831"]]},{"id":"c46961863931d09a","type":"junction","z":"6c8ce462533a1da4","x":1251.6058350205421,"y":2053.901917040348,"wires":[[]]},{"id":"83a3754014021169","type":"junction","z":"6c8ce462533a1da4","x":1209.7663438916206,"y":1891.154681444168,"wires":[["c46961863931d09a"]]},{"id":"fc46fc4b86355c81","type":"junction","z":"6c8ce462533a1da4","x":916.4497466087341,"y":2076.865023970604,"wires":[["acaceb9ca6bf0cff"]]},{"id":"ea5a461bdb6c4991","type":"junction","z":"6c8ce462533a1da4","x":914.1243197917938,"y":2238.829675912857,"wires":[["acaceb9ca6bf0cff"]]},{"id":"9aaf71a98f3c317f","type":"junction","z":"6c8ce462533a1da4","x":869.2111595273018,"y":2076.865023970604,"wires":[["fc46fc4b86355c81","ea5a461bdb6c4991"]]},{"id":"acaceb9ca6bf0cff","type":"junction","z":"6c8ce462533a1da4","x":955.0339821577072,"y":2238.829675912857,"wires":[[]]},{"id":"2dd71561044ad9ae","type":"junction","z":"6c8ce462533a1da4","x":1314.9644973874092,"y":2076.865023970604,"wires":[["6aedcbd2324d5b41"]]},{"id":"41229e1085e5565c","type":"junction","z":"6c8ce462533a1da4","x":1297.5537949800491,"y":2194.828187227249,"wires":[["6aedcbd2324d5b41"]]},{"id":"eaa194015564d22e","type":"junction","z":"6c8ce462533a1da4","x":1282.1911173462868,"y":2076.865023970604,"wires":[["2dd71561044ad9ae","41229e1085e5565c"]]},{"id":"6aedcbd2324d5b41","type":"junction","z":"6c8ce462533a1da4","x":1325.6769814491272,"y":2194.828187227249,"wires":[[]]},{"id":"93ea1c8bcea72c1d","type":"junction","z":"6c8ce462533a1da4","x":1306.793563246727,"y":2209.9398958683014,"wires":[["64d9adfb0183f5ad"]]},{"id":"8991528831367ba7","type":"junction","z":"6c8ce462533a1da4","x":1284.8710767626762,"y":2238.829675912857,"wires":[["64d9adfb0183f5ad"]]},{"id":"38e2b26e3bc4ec37","type":"junction","z":"6c8ce462533a1da4","x":1269.1416419148445,"y":2209.9398958683014,"wires":[["93ea1c8bcea72c1d","8991528831367ba7"]]},{"id":"64d9adfb0183f5ad","type":"junction","z":"6c8ce462533a1da4","x":1320.4618629217148,"y":2238.829675912857,"wires":[[]]},{"id":"72ce32f25516a407","type":"junction","z":"6c8ce462533a1da4","x":1193.70190513134,"y":2076.865023970604,"wires":[["d78e70e101cac3bb"]]},{"id":"3522becd58c73dae","type":"junction","z":"6c8ce462533a1da4","x":1145.561073422432,"y":2238.829675912857,"wires":[["8b6ffdf250d4a696"]]},{"id":"fc9b95d71eade03e","type":"junction","z":"6c8ce462533a1da4","x":1104.6107100248337,"y":2076.865023970604,"wires":[["72ce32f25516a407","3522becd58c73dae"]]},{"id":"dda156a092441562","type":"junction","z":"6c8ce462533a1da4","x":1242.8647619485855,"y":2238.829675912857,"wires":[[]]},{"id":"8b6ffdf250d4a696","type":"junction","z":"6c8ce462533a1da4","x":1192.4784502387047,"y":2238.829675912857,"wires":[["dda156a092441562"]]},{"id":"479f1802a76a8de0","type":"junction","z":"6c8ce462533a1da4","x":813.5229544043541,"y":1891.154681444168,"wires":[["e9c3c250303f7e9e","96063e49963c2740"]]},{"id":"96063e49963c2740","type":"junction","z":"6c8ce462533a1da4","x":863.4649927020073,"y":2053.901917040348,"wires":[["8a07412bb9c8a493"]]},{"id":"b5aa5849430515ba","type":"junction","z":"6c8ce462533a1da4","x":859.4157365560532,"y":2000.3234001398087,"wires":[["8a07412bb9c8a493","0d1b6de43a6404ef"]]},{"id":"8a07412bb9c8a493","type":"junction","z":"6c8ce462533a1da4","x":906.3155338168144,"y":2053.901917040348,"wires":[[]]},{"id":"e9c3c250303f7e9e","type":"junction","z":"6c8ce462533a1da4","x":897.7013337016106,"y":1891.154681444168,"wires":[["0d1b6de43a6404ef"]]},{"id":"64e5dd15434c1f97","type":"junction","z":"6c8ce462533a1da4","x":1200.754712343216,"y":2053.901917040348,"wires":[["c46961863931d09a"]]},{"id":"33c6f46f8c9d6be4","type":"junction","z":"6c8ce462533a1da4","x":1165.662198960781,"y":1891.154681444168,"wires":[["83a3754014021169","ecfa8fd84ed175fa"]]},{"id":"ecfa8fd84ed175fa","type":"junction","z":"6c8ce462533a1da4","x":1210.3254947662354,"y":1984.4311581850052,"wires":[[]]},{"id":"85284babbc1f1359","type":"junction","z":"6c8ce462533a1da4","x":1112.6076501011848,"y":1891.154681444168,"wires":[["ecfa8fd84ed175fa"]]},{"id":"97ed2d778b15bf7f","type":"junction","z":"6c8ce462533a1da4","x":1074.7515191435814,"y":1891.154681444168,"wires":[["85284babbc1f1359","19983d49e07aa6f1"]]},{"id":"19983d49e07aa6f1","type":"junction","z":"6c8ce462533a1da4","x":1119.1088082194328,"y":2053.901917040348,"wires":[["08662f0f7730c845"]]},{"id":"08662f0f7730c845","type":"junction","z":"6c8ce462533a1da4","x":1152.9375236034393,"y":2053.901917040348,"wires":[[]]},{"id":"cef490d232732789","type":"junction","z":"6c8ce462533a1da4","x":1121.8289514780045,"y":1969.7665715813637,"wires":[["08662f0f7730c845","64e5dd15434c1f97"]]},{"id":"0d1b6de43a6404ef","type":"junction","z":"6c8ce462533a1da4","x":940.624914765358,"y":2000.3234001398087,"wires":[[]]},{"id":"7cd9426f84eaf998","type":"junction","z":"6c8ce462533a1da4","x":1121.57277572155,"y":2238.829675912857,"wires":[[]]},{"id":"7c9b4d3f5326edd2","type":"junction","z":"6c8ce462533a1da4","x":1079.7332845926285,"y":2076.865023970604,"wires":[["7cd9426f84eaf998"]]},{"id":"126d852965adb4e8","type":"junction","z":"6c8ce462533a1da4","x":1070.7216530442238,"y":2238.829675912857,"wires":[["7cd9426f84eaf998"]]},{"id":"f44b0a36f8956826","type":"junction","z":"6c8ce462533a1da4","x":1035.629139661789,"y":2076.865023970604,"wires":[["7c9b4d3f5326edd2","9d2b99d4262921c3"]]},{"id":"9d2b99d4262921c3","type":"junction","z":"6c8ce462533a1da4","x":1080.2924354672432,"y":2174.832494735718,"wires":[[]]},{"id":"9d8ee95f3d1b4d1b","type":"junction","z":"6c8ce462533a1da4","x":982.5745908021927,"y":2076.865023970604,"wires":[["9d2b99d4262921c3"]]},{"id":"4e5732d2d875eaaf","type":"junction","z":"6c8ce462533a1da4","x":952.1602029800415,"y":2076.865023970604,"wires":[["9d8ee95f3d1b4d1b","8e46a5a7d8bc6f05"]]},{"id":"8e46a5a7d8bc6f05","type":"junction","z":"6c8ce462533a1da4","x":989.0757489204407,"y":2238.829675912857,"wires":[["74812eec46768fe3"]]},{"id":"74812eec46768fe3","type":"junction","z":"6c8ce462533a1da4","x":1022.9044643044472,"y":2238.829675912857,"wires":[[]]},{"id":"8ec29c3667221c99","type":"junction","z":"6c8ce462533a1da4","x":991.7958921790123,"y":2160.1679081320763,"wires":[["74812eec46768fe3","126d852965adb4e8"]]},{"id":"0734502c6d7e9c63","type":"junction","z":"6c8ce462533a1da4","x":983.5409460067749,"y":2053.901917040348,"wires":[["a145f103145c85b7"]]},{"id":"41366f8be8c569fc","type":"junction","z":"6c8ce462533a1da4","x":947.330420434475,"y":1891.154681444168,"wires":[["0734502c6d7e9c63","6a5732249f4b34f8"]]},{"id":"6a5732249f4b34f8","type":"junction","z":"6c8ce462533a1da4","x":1051.7739442586899,"y":1891.154681444168,"wires":[["65e179adf972803d"]]},{"id":"f2add8de49d8e2d6","type":"junction","z":"6c8ce462533a1da4","x":1012.4477984905243,"y":2023.4746037721634,"wires":[["4a9a7dcf045f3175"]]},{"id":"488a23332ae580e2","type":"junction","z":"6c8ce462533a1da4","x":1015.550172150135,"y":1963.4669842720032,"wires":[["448dd1abaee75014"]]},{"id":"d78e70e101cac3bb","type":"junction","z":"6c8ce462533a1da4","x":1248.660678088665,"y":2076.865023970604,"wires":[["dda156a092441562"]]},{"id":"0f9a739eab0b01d6","type":"junction","z":"6c8ce462533a1da4","x":1154.9793219566345,"y":2110.9947588443756,"wires":[["98366455e49d515f","e542df4ff8e0bcde"]]},{"id":"98366455e49d515f","type":"junction","z":"6c8ce462533a1da4","x":1186.3883365392685,"y":2110.9947588443756,"wires":[["a32289d803ae5a2b"]]},{"id":"e542df4ff8e0bcde","type":"junction","z":"6c8ce462533a1da4","x":1169.0717923641205,"y":2194.828187227249,"wires":[["a32289d803ae5a2b"]]},{"id":"a32289d803ae5a2b","type":"junction","z":"6c8ce462533a1da4","x":1203.6818820238113,"y":2194.828187227249,"wires":[[]]},{"id":"6d46e5e19489f422","type":"junction","z":"6c8ce462533a1da4","x":1327.7598252296448,"y":1891.154681444168,"wires":[["2ce87f463eb6e222"]]},{"id":"90a1ab642ec080df","type":"junction","z":"6c8ce462533a1da4","x":1301.871639430523,"y":2014.5433931946754,"wires":[["2ce87f463eb6e222"]]},{"id":"0b31ee0d6d8b4352","type":"junction","z":"6c8ce462533a1da4","x":1291.5243214964867,"y":1926.8404690623283,"wires":[["90a1ab642ec080df"]]},{"id":"2ce87f463eb6e222","type":"junction","z":"6c8ce462533a1da4","x":1338.9980596899986,"y":2015.2797393202782,"wires":[[]]},{"id":"817b4001d7d03b2e","type":"junction","z":"6c8ce462533a1da4","x":1250.3152360320091,"y":1891.154681444168,"wires":[["0b31ee0d6d8b4352","6d46e5e19489f422"]]},{"id":"9849a6cc64783141","type":"junction","z":"6c8ce462533a1da4","x":1279.5428261756897,"y":2027.3198836445808,"wires":[["62b1b178fdea69a1","481805183c1c6f55"]]},{"id":"62b1b178fdea69a1","type":"junction","z":"6c8ce462533a1da4","x":1317.4671495556831,"y":2027.3198836445808,"wires":[["56e1bfe86104bd74"]]},{"id":"481805183c1c6f55","type":"junction","z":"6c8ce462533a1da4","x":1296.261290371418,"y":2053.901917040348,"wires":[["56e1bfe86104bd74"]]},{"id":"56e1bfe86104bd74","type":"junction","z":"6c8ce462533a1da4","x":1332.5640018582344,"y":2053.901917040348,"wires":[[]]},{"id":"212cb36732b577f5","type":"junction","z":"6c8ce462533a1da4","x":860.6103845238686,"y":1924.1537181138992,"wires":[["529c0fd723204cfd","e80d47ea5230599a"]]},{"id":"529c0fd723204cfd","type":"junction","z":"6c8ce462533a1da4","x":886.9848399758339,"y":1924.1537181138992,"wires":[["326a4c8ff862156d"]]},{"id":"e80d47ea5230599a","type":"junction","z":"6c8ce462533a1da4","x":878.2663741111755,"y":1976.8002157211304,"wires":[["326a4c8ff862156d"]]},{"id":"326a4c8ff862156d","type":"junction","z":"6c8ce462533a1da4","x":899.3024485707283,"y":1976.8002157211304,"wires":[[]]},{"id":"a145f103145c85b7","type":"junction","z":"6c8ce462533a1da4","x":1058.203578054905,"y":2053.901917040348,"wires":[[]]},{"id":"3b3ba209785f0ac0","type":"junction","z":"6c8ce462533a1da4","x":657.7405815720558,"y":1891.154681444168,"wires":[["6faee20b8fe78f7f","474f17d430fafad8"]]},{"id":"6faee20b8fe78f7f","type":"junction","z":"6c8ce462533a1da4","x":778.5910013318062,"y":1891.154681444168,"wires":[["2419123e835f64be"]]},{"id":"474f17d430fafad8","type":"junction","z":"6c8ce462533a1da4","x":733.1164349913597,"y":2053.901917040348,"wires":[["2419123e835f64be"]]},{"id":"2419123e835f64be","type":"junction","z":"6c8ce462533a1da4","x":833.4311604499817,"y":2053.901917040348,"wires":[[]]},{"id":"4f8e2220ce2c9759","type":"junction","z":"6c8ce462533a1da4","x":724.3450016379356,"y":1924.1537181138992,"wires":[["1fa3ea714cbbee65","869af4da9a2fdb4c"]]},{"id":"1fa3ea714cbbee65","type":"junction","z":"6c8ce462533a1da4","x":759.106998860836,"y":1924.1537181138992,"wires":[["673154692fb8acbe"]]},{"id":"869af4da9a2fdb4c","type":"junction","z":"6c8ce462533a1da4","x":744.2091890573502,"y":2000.3234001398087,"wires":[["673154692fb8acbe"]]},{"id":"673154692fb8acbe","type":"junction","z":"6c8ce462533a1da4","x":782.1596211791039,"y":2000.3234001398087,"wires":[[]]},{"id":"429d5849c4b01242","type":"junction","z":"6c8ce462533a1da4","x":661.1384029984474,"y":2076.865023970604,"wires":[["71beddcdd90378f7","9912bd0a2e0e4a7f"]]},{"id":"71beddcdd90378f7","type":"junction","z":"6c8ce462533a1da4","x":718.0183173418045,"y":2076.865023970604,"wires":[["98f3dcf98c773b33"]]},{"id":"9912bd0a2e0e4a7f","type":"junction","z":"6c8ce462533a1da4","x":719.0542145967484,"y":2238.829675912857,"wires":[["5f27678b1aa2d20e"]]},{"id":"5f27678b1aa2d20e","type":"junction","z":"6c8ce462533a1da4","x":771.7095395326614,"y":2238.829675912857,"wires":[[]]},{"id":"b5ee24ae18dd1e2a","type":"junction","z":"6c8ce462533a1da4","x":713.5674211978912,"y":2139.6232969760895,"wires":[["5f27678b1aa2d20e","05ebdadaa28eb265"]]},{"id":"a79859582411f8a2","type":"junction","z":"6c8ce462533a1da4","x":829.2389231324196,"y":2076.865023970604,"wires":[["7c751186ed2eaa39"]]},{"id":"80db7d93fcfcc0f4","type":"junction","z":"6c8ce462533a1da4","x":842.5875681638718,"y":2238.829675912857,"wires":[["7c751186ed2eaa39"]]},{"id":"7c751186ed2eaa39","type":"junction","z":"6c8ce462533a1da4","x":883.438690841198,"y":2238.829675912857,"wires":[[]]},{"id":"98f3dcf98c773b33","type":"junction","z":"6c8ce462533a1da4","x":774.3279573917389,"y":2124.717644572258,"wires":[[]]},{"id":"aa01a2d682724f0d","type":"junction","z":"6c8ce462533a1da4","x":773.6206549406052,"y":2076.865023970604,"wires":[["98f3dcf98c773b33","a79859582411f8a2"]]},{"id":"05ebdadaa28eb265","type":"junction","z":"6c8ce462533a1da4","x":796.9230237007141,"y":2170.546073913574,"wires":[[]]},{"id":"69add81a9e5680f3","type":"junction","z":"6c8ce462533a1da4","x":795.9985458850861,"y":2119.5816671848297,"wires":[["80db7d93fcfcc0f4","05ebdadaa28eb265"]]},{"id":"d632d7724a1e0275","type":"junction","z":"6c8ce462533a1da4","x":501.20406633615494,"y":1807.3313028812408,"wires":[["cab5f79c6652f9fe","1f62b3e3d1e267a4"]]},{"id":"cab5f79c6652f9fe","type":"junction","z":"6c8ce462533a1da4","x":1412.0245123505592,"y":1818.9795681238174,"wires":[["29f3f62a05c3847a"]]},{"id":"1f62b3e3d1e267a4","type":"junction","z":"6c8ce462533a1da4","x":623.2918145656586,"y":2315.9097049236298,"wires":[["29f3f62a05c3847a"]]},{"id":"29f3f62a05c3847a","type":"junction","z":"6c8ce462533a1da4","x":1541.1293132305145,"y":2329.7526757717133,"wires":[[]]},{"id":"164606da68e007da","type":"junction","z":"6c8ce462533a1da4","x":525.7910089492798,"y":1086.7604733109474,"wires":[[]]},{"id":"a613c1852c392c1d","type":"junction","z":"6c8ce462533a1da4","x":434.7178164124489,"y":1071.2512142062187,"wires":[["5dd8a1a532fd7855","164606da68e007da"]]},{"id":"5dd8a1a532fd7855","type":"junction","z":"6c8ce462533a1da4","x":463.86648631095886,"y":1161.3623595237732,"wires":[[]]},{"id":"bb50a5d6daf3969f","type":"junction","z":"6c8ce462533a1da4","x":452.1693629026413,"y":1062.1321131587029,"wires":[["164606da68e007da","5dd8a1a532fd7855"]]},{"id":"20e9c0348cec6123","type":"junction","z":"6c8ce462533a1da4","x":402,"y":1182,"wires":[["f75e23065e8368b9"]]},{"id":"c5471ee1da7966c3","type":"junction","z":"6c8ce462533a1da4","x":478.509046792984,"y":1062.404912352562,"wires":[["164606da68e007da","5dd8a1a532fd7855"]]},{"id":"8f0480e08726b666","type":"junction","z":"6c8ce462533a1da4","x":430.0347982645035,"y":1123.4197470545769,"wires":[["5dd8a1a532fd7855"]]},{"id":"22f317607e41c940","type":"junction","z":"6c8ce462533a1da4","x":426.62665182352066,"y":1112.7156173586845,"wires":[["164606da68e007da","5dd8a1a532fd7855"]]},{"id":"375a139824f8eb92","type":"junction","z":"6c8ce462533a1da4","x":423.4045889377594,"y":1094.8143986463547,"wires":[["164606da68e007da","5dd8a1a532fd7855"]]},{"id":"dd1fb9db7c74942b","type":"junction","z":"6c8ce462533a1da4","x":461.8253816962242,"y":1061.1392760276794,"wires":[["164606da68e007da","5dd8a1a532fd7855"]]},{"id":"a030275ef67827ce","type":"junction","z":"6c8ce462533a1da4","x":442.90168035030365,"y":1065.4382020831108,"wires":[["164606da68e007da","5dd8a1a532fd7855"]]},{"id":"92bae01517a7c157","type":"junction","z":"6c8ce462533a1da4","x":423.2311135530472,"y":1103.4878405332565,"wires":[["164606da68e007da","5dd8a1a532fd7855"]]},{"id":"4eefea9532720a2e","type":"junction","z":"6c8ce462533a1da4","x":429.82296735048294,"y":1079.5388532280922,"wires":[["164606da68e007da","5dd8a1a532fd7855"]]},{"id":"37ce4ae60e20d33f","type":"junction","z":"6c8ce462533a1da4","x":426.251541018486,"y":1086.2531279921532,"wires":[["164606da68e007da","5dd8a1a532fd7855"]]},{"id":"be28cef82fdce2f7","type":"junction","z":"6c8ce462533a1da4","x":495.9999840259552,"y":1134.571426987648,"wires":[[]]},{"id":"78adf0d2881bbb62","type":"junction","z":"6c8ce462533a1da4","x":496.21429592370987,"y":1145.5714247226715,"wires":[[]]},{"id":"e9329e1d1301154e","type":"junction","z":"6c8ce462533a1da4","x":496.7142903804779,"y":1152.5000050067902,"wires":[[]]},{"id":"c5cce9b062002fc3","type":"junction","z":"6c8ce462533a1da4","x":498.0714199542999,"y":1160.3571348786354,"wires":[[]]},{"id":"30ccae34a032396b","type":"junction","z":"6c8ce462533a1da4","x":496.64286160469055,"y":1128.5000030994415,"wires":[[]]},{"id":"be6ec95d6e98084a","type":"junction","z":"6c8ce462533a1da4","x":506.8571345806122,"y":1133.9250948429108,"wires":[["65eeaa73823bb8e6","def373734aefb5ce"]]},{"id":"92dab287c59e5c2a","type":"junction","z":"6c8ce462533a1da4","x":506.0000094175339,"y":1147.3536530733109,"wires":[["65eeaa73823bb8e6","def373734aefb5ce"]]},{"id":"afe6426a9ad37618","type":"junction","z":"6c8ce462533a1da4","x":535.4795870780945,"y":1190.2006454467773,"wires":[[]]},{"id":"cd09277a826451b1","type":"junction","z":"6c8ce462533a1da4","x":534.9285759925842,"y":1198.2822456359863,"wires":[["dda875d83c53f62a"]]},{"id":"98f9c848356334d6","type":"junction","z":"6c8ce462533a1da4","x":526.4285637140274,"y":1204.7107992172241,"wires":[["dda875d83c53f62a","29478409060edd18","a8be7de4e5179b87"]]},{"id":"0adae3872afef786","type":"junction","z":"6c8ce462533a1da4","x":544,"y":1204.925048828125,"wires":[[]]},{"id":"dda875d83c53f62a","type":"junction","z":"6c8ce462533a1da4","x":537.5,"y":1218.925048828125,"wires":[[]]},{"id":"29478409060edd18","type":"junction","z":"6c8ce462533a1da4","x":549.5,"y":1218.925048828125,"wires":[[]]},{"id":"a8be7de4e5179b87","type":"junction","z":"6c8ce462533a1da4","x":532.5,"y":1213.925048828125,"wires":[["0adae3872afef786"]]},{"id":"0da7f90dc1478ba0","type":"junction","z":"6c8ce462533a1da4","x":547.5,"y":1213.925048828125,"wires":[[]]},{"id":"29cf61906cb4a74f","type":"junction","z":"6c8ce462533a1da4","x":536.5,"y":1195.925048828125,"wires":[[]]},{"id":"973eb0ff728ab7e8","type":"junction","z":"6c8ce462533a1da4","x":520,"y":1193.425048828125,"wires":[["98f9c848356334d6","0da7f90dc1478ba0","c4598ffd53073183"]]},{"id":"c4598ffd53073183","type":"junction","z":"6c8ce462533a1da4","x":552.6428664922714,"y":1220.6393835544586,"wires":[[]]},{"id":"dff5fd7a8434904e","type":"junction","z":"6c8ce462533a1da4","x":524,"y":1151.425048828125,"wires":[[]]},{"id":"78062ff7aa5ba146","type":"junction","z":"6c8ce462533a1da4","x":524.5,"y":1140.925048828125,"wires":[[]]},{"id":"89067c254ee227d9","type":"junction","z":"6c8ce462533a1da4","x":511.5,"y":1140.925048828125,"wires":[[]]},{"id":"3d7872ff62acdfb4","type":"junction","z":"6c8ce462533a1da4","x":514.5,"y":1129.925048828125,"wires":[[]]},{"id":"1d451873da23f815","type":"junction","z":"6c8ce462533a1da4","x":509.5,"y":1121.425048828125,"wires":[[]]},{"id":"bfba003cc7fa3cdc","type":"junction","z":"6c8ce462533a1da4","x":491,"y":1122.925048828125,"wires":[[]]},{"id":"4325db70cf3c8cbc","type":"junction","z":"6c8ce462533a1da4","x":487.5,"y":1131.425048828125,"wires":[[]]},{"id":"9143f75658956e8d","type":"junction","z":"6c8ce462533a1da4","x":487,"y":1136.425048828125,"wires":[[]]},{"id":"bae91eb0273f128f","type":"junction","z":"6c8ce462533a1da4","x":487.5,"y":1143.925048828125,"wires":[[]]},{"id":"c6e877e2d4c85d86","type":"junction","z":"6c8ce462533a1da4","x":488.5,"y":1150.925048828125,"wires":[[]]},{"id":"9542426522aed7fa","type":"junction","z":"6c8ce462533a1da4","x":494.5,"y":1160.925048828125,"wires":[[]]},{"id":"c44357145214c45a","type":"junction","z":"6c8ce462533a1da4","x":494.5,"y":1160.925048828125,"wires":[[]]},{"id":"11553343c362e57d","type":"junction","z":"6c8ce462533a1da4","x":496.5,"y":1166.425048828125,"wires":[[]]},{"id":"5378d16fec6b5d9a","type":"junction","z":"6c8ce462533a1da4","x":509,"y":1166.425048828125,"wires":[[]]},{"id":"dcd08fbd96289318","type":"junction","z":"6c8ce462533a1da4","x":507.5,"y":1159.925048828125,"wires":[[]]},{"id":"50929b4f43e5d8cb","type":"junction","z":"6c8ce462533a1da4","x":507.5,"y":1159.925048828125,"wires":[[]]},{"id":"8305b207a9c2b199","type":"junction","z":"6c8ce462533a1da4","x":506.5,"y":1154.425048828125,"wires":[[]]},{"id":"c488578b9bb44d90","type":"junction","z":"6c8ce462533a1da4","x":519.5,"y":1149.925048828125,"wires":[[]]},{"id":"e13bfa78b9afb599","type":"junction","z":"6c8ce462533a1da4","x":514.5,"y":1162.925048828125,"wires":[[]]},{"id":"8e3b0853ca4da1f8","type":"junction","z":"6c8ce462533a1da4","x":503.5,"y":1140.425048828125,"wires":[[]]},{"id":"57fd6048dd5c648c","type":"junction","z":"6c8ce462533a1da4","x":518.5,"y":1143.425048828125,"wires":[[]]},{"id":"dbd2a9d4246c8ef0","type":"junction","z":"6c8ce462533a1da4","x":520,"y":1131.425048828125,"wires":[[]]},{"id":"4d6071f43d532dea","type":"junction","z":"6c8ce462533a1da4","x":524,"y":1148.925048828125,"wires":[[]]},{"id":"703e6545855f08e8","type":"junction","z":"6c8ce462533a1da4","x":526,"y":1153.425048828125,"wires":[[]]},{"id":"26b7b98b2de5747e","type":"junction","z":"6c8ce462533a1da4","x":527.5,"y":1142.925048828125,"wires":[[]]},{"id":"d10bc08423707631","type":"junction","z":"6c8ce462533a1da4","x":511.5,"y":1172.925048828125,"wires":[[]]},{"id":"a03b9e80fe24a633","type":"junction","z":"6c8ce462533a1da4","x":507.5,"y":1174.925048828125,"wires":[[]]},{"id":"db9bb9a470bd48d6","type":"junction","z":"6c8ce462533a1da4","x":510,"y":1178.425048828125,"wires":[[]]},{"id":"41ea731109c322ba","type":"junction","z":"6c8ce462533a1da4","x":525.5,"y":1177.425048828125,"wires":[[]]},{"id":"d5e87c71514ebfef","type":"junction","z":"6c8ce462533a1da4","x":524.5,"y":1171.925048828125,"wires":[[]]},{"id":"a4c802c24b2cc554","type":"junction","z":"6c8ce462533a1da4","x":519,"y":1188.425048828125,"wires":[[]]},{"id":"325f6f72a85bba7c","type":"junction","z":"6c8ce462533a1da4","x":511.5,"y":1178.925048828125,"wires":[[]]},{"id":"8004ae24a2d47516","type":"junction","z":"6c8ce462533a1da4","x":516.5,"y":1188.925048828125,"wires":[[]]},{"id":"798731a594a11f27","type":"junction","z":"6c8ce462533a1da4","x":535,"y":1217.925048828125,"wires":[[]]},{"id":"bfad7e9c89b2d097","type":"junction","z":"6c8ce462533a1da4","x":533.5,"y":1219.925048828125,"wires":[[]]},{"id":"b1693bff34aa4fd1","type":"junction","z":"6c8ce462533a1da4","x":530,"y":1212.925048828125,"wires":[[]]},{"id":"dfa88de2ab2b146e","type":"junction","z":"6c8ce462533a1da4","x":541.5,"y":1197.925048828125,"wires":[[]]},{"id":"d7ff0e45da797a43","type":"junction","z":"6c8ce462533a1da4","x":544.5,"y":1221.425048828125,"wires":[[]]},{"id":"448dd1abaee75014","type":"junction","z":"6c8ce462533a1da4","x":1044.2142696380615,"y":1963.5000058412552,"wires":[["8dbee3c61df3107a"]]},{"id":"8dbee3c61df3107a","type":"junction","z":"6c8ce462533a1da4","x":1049.0714209079742,"y":2000.3234001398087,"wires":[[]]},{"id":"eed2e55878d2783c","type":"junction","z":"6c8ce462533a1da4","x":1000.6632662415504,"y":2000.3234001398087,"wires":[["f2add8de49d8e2d6","8dbee3c61df3107a"]]},{"id":"65e179adf972803d","type":"junction","z":"6c8ce462533a1da4","x":1055.7755482196808,"y":1924.1537181138992,"wires":[[]]},{"id":"1ed8c7073043b09e","type":"junction","z":"6c8ce462533a1da4","x":1000.5306193828583,"y":1924.1537181138992,"wires":[["488a23332ae580e2","65e179adf972803d"]]},{"id":"4a9a7dcf045f3175","type":"junction","z":"6c8ce462533a1da4","x":1045.2142955064774,"y":2023.4746037721634,"wires":[["a145f103145c85b7"]]},{"id":"87535a4c808262fe","type":"junction","z":"6c8ce462533a1da4","x":469.5312418937683,"y":1061.5151472091675,"wires":[["164606da68e007da","5dd8a1a532fd7855"]]},{"id":"3b73c205bb8c8b65","type":"junction","z":"6c8ce462533a1da4","x":484.1557642221451,"y":1063.763940691948,"wires":[["164606da68e007da","5dd8a1a532fd7855"]]},{"id":"ec31b4c09b007c2d","type":"junction","z":"6c8ce462533a1da4","x":1620.3282331228256,"y":1094.8650192022324,"wires":[[]]},{"id":"9cf8ce31c04666d6","type":"junction","z":"6c8ce462533a1da4","x":1629.8943610191345,"y":1292.2381035089493,"wires":[["ec31b4c09b007c2d"]]},{"id":"7059c34f5a262bad","type":"Topic","z":"6c8ce462533a1da4","name":" Listening is the key","info":"","createdAt":"2023-07-03T08:19:58.997Z","updatedAt":"2023-07-03T10:16:01.283Z","x":510.076904296875,"y":1028.230712890625,"wires":[["51c18b29306fed1e"]]},{"id":"a3b29e8a914668c2","type":"Topic","z":"6c8ce462533a1da4","name":"  When? When! Not now?","info":"","createdAt":"2023-07-03T08:19:58.997Z","updatedAt":"2023-07-03T10:16:01.283Z","x":1620.999912261963,"y":753.7692031860352,"wires":[[]]},{"id":"76fac0aed9e579ae","type":"Aphorism","z":"6c8ce462533a1da4","name":"Open? Mind!","info":"","createdAt":"2023-07-03T08:19:58.997Z","updatedAt":"2023-07-03T10:16:01.283Z","x":1387.1538848876953,"y":674.0768547058105,"wires":[[]]},{"id":"e68720b1e7802359","type":"Humour","z":"6c8ce462533a1da4","name":" ","info":"","createdAt":"2023-07-03T08:19:58.997Z","updatedAt":"2023-07-03T10:16:01.283Z","x":109,"y":2379,"wires":[["49a7937cd534f489"]]},{"id":"49a7937cd534f489","type":"Blog-Post","z":"6c8ce462533a1da4","name":"","info":"Reality changes by listening","createdAt":"2023-07-03T08:19:58.997Z","updatedAt":"2023-07-03T10:16:01.283Z","x":1768.1536865234375,"y":2409.923095703125,"wires":[["6a56e0b0c96e2201"]]},{"id":"6a56e0b0c96e2201","type":"Thought","z":"6c8ce462533a1da4","name":" ","info":"","createdAt":"2023-07-03T08:19:58.997Z","updatedAt":"2023-07-03T10:16:01.284Z","x":1937.557861328125,"y":1454.288330078125,"wires":[[]]},{"id":"732c62b844f243fc","type":"Sketch","z":"6c8ce462533a1da4","name":"Why? Why Not!","info":"![i](https://cdn.openmindmap.org/content/open_mind.svg)","sumPass":false,"sumPassPrio":"0","createdAt":"2023-07-03T08:19:58.997Z","updatedAt":"2023-07-17T18:24:51.072Z","x":136.15383911132812,"y":64.61538887023926,"wires":[["a7e6c5ae2c50a8a5"]]},{"id":"248f2edd3d8acd96","type":"DrawSVG","z":"6c8ce462533a1da4","name":"","x":140,"y":260,"wires":[]},{"id":"79b19f9b45c19daa","type":"inject","z":"6c8ce462533a1da4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":150,"wires":[["fb8e2362cec04792"]]},{"id":"fb8e2362cec04792","type":"template","z":"6c8ce462533a1da4","name":"SVG data","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"no\"?>\n<!DOCTYPE svg PUBLIC \"-//W3C//DTD SVG 20010904//EN\"\n      \"http://www.w3.org/TR/2001/REC-SVG-20010904/DTD/svg10.dtd\">\n\n<!-- Generated by Svg-Path-Export ScriptFu for Gimp -->\n\n<svg xmlns=\"http://www.w3.org/2000/svg\"\n     width=\"1932\" height=\"2580\"\n     viewbox=\"0 0 1932 2580\">\n\n  <path __id__=\"_fcnone_scnone_sw0_nmopen-mind-center-point_\"\n    fill=\"none\"\n    stroke=\"none\"\n    stroke-width=\"0\"\n    id=\"open-mind-center-point\"\n    d=\"M 1004.65,2073\n       C 1004.65,2073 1004.65,2073 1004.65,2073\"\n/>\n  <path __id__=\"_fcnone_scnone_sw0_nmopen-mind-path_\"\n    fill=\"none\"\n    stroke=\"none\"\n    stroke-width=\"0\"\n    id=\"open-mind-path\"\n    d=\"M 1748,2088\n       C 1748,2088 332,2060 332,2060\n       C 332,2060 1748,2088 1748,2088 Z\"\n/>\n  <path __id__=\"_fcnone_scnone_sw0_nmdraw-path-and-center-point_\"\n    fill=\"none\"\n    stroke=\"none\"\n    stroke-width=\"0\"\n    id=\"draw-path-and-center-point\"\n    d=\"M 1184,1216\n       C 1193,1209 1306,1183 1356,1284\n       C 1356,1284 1184,1216 1184,1216 Z\"\n/>\n  <path __id__=\"_fcnone_scnone_sw0_nmcenter-pt_\"\n    fill=\"none\"\n    stroke=\"none\"\n    stroke-width=\"0\"\n    id=\"center-pt\"\n    d=\"M 1001,1463\n       C 1001,1463 1001,1463 1001,1463\"\n/>\n  <path __id__=\"_fcblack_scwhite_sw35_nmbackground_\"\n    fill=\"black\"\n    stroke=\"white\"\n    stroke-width=\"35\"\n    id=\"background\"\n    d=\"M 26,2394\n       C 22,2394 70,1650 70,1650\n       C 54.7813,1615.33 505.122,1356.57 622.5,1329.5\n       C 622.5,1329 609,1310 606.5,1307\n       C 366,1324 293.917,1008.01 411.995,1001.87\n       C 301.995,767.874 294,472 508,356\n       C 717,215 1148,301 1161,442\n       C 1164.85,462.808 1268,576 1342,658\n       C 1342,658 1357,737.125 1357,737\n       C 1356.88,736.875 1406.2,742.204 1406.2,742.204\n       C 1475.72,727.381 1501.8,696.879 1535.52,827.057\n       C 1548.52,895.057 1583,958 1511,994\n       C 1511,994 1459,1018 1459,1018\n       C 1459,1018 1456,1112 1456,1112\n       C 1457,1114 1483,1114 1485,1113\n       C 1611,1046 1622.55,1116.36 1646,1180\n       C 1669,1264 1685,1282 1609,1330\n       C 1669,1350 1854,1432 1882,1472\n       C 1882,1472 1922,2430 1922,2430\n       C 1922,2430 30,2394 26,2394 Z\"\n/>\n  <path __id__=\"_fcwhite_scwhite_sw1_nmface_\"\n    fill=\"white\"\n    stroke=\"white\"\n    stroke-width=\"1\"\n    id=\"face\"\n    d=\"M 1131,476\n       C 1056,614 938,632 800,604\n       C 764,601 628,583 576,612\n       C 559,650 594,716 610,732\n       C 552,824 562,909 646,1058\n       C 617,1059 541.788,1050.45 541.83,1050.43\n       C 541.83,1050.43 516,1054 516,1054\n       C 496.886,1047.12 503.493,1046.34 477.935,1040.72\n       C 378.258,1033.05 399.009,1119.55 458,1190\n       C 488,1241 585,1303 627,1226\n       C 627,1226 638,1264 638,1262\n       C 770,1473 787,1494 976,1544\n       C 1110,1573 1195,1572 1268,1570\n       C 1386,1535 1370.88,1542.75 1399.06,1414.88\n       C 1399.11,1414.88 1246.44,1482.25 1164.62,1502.88\n       C 1124.41,1514.91 1119.2,1484.41 1114.78,1483.62\n       C 1061.84,1463.69 1032.62,1452.34 989.656,1434.81\n       C 951.156,1450.28 940.844,1439.62 930.531,1427.25\n       C 909.906,1405.59 891.344,1371.91 870.375,1325.5\n       C 855.25,1288.38 870.719,1281.84 891.688,1263.62\n       C 965.25,1229.25 1295.94,1113.06 1356.78,1091.41\n       C 1375.34,1084.53 1394.25,1106.88 1398.03,1122.69\n       C 1398.03,1122.34 1416.25,1124.41 1416,1124\n       C 1412,1120 1416.31,1039.16 1415.56,1023.69\n       C 1317.26,1060.66 1185.38,1117.91 1036.75,1159.81\n       C 1021.81,1170.56 999.318,1163.91 987.05,1147.55\n       C 948.713,1125.06 926.222,1120.46 879.195,1093.88\n       C 850.526,1104.12 835.747,1094.39 818.878,1071.39\n       C 796.899,1036.12 779.008,997.273 757.028,947.691\n       C 730.959,898.619 723.803,858.749 800.988,826.546\n       C 943.09,775.941 1056.57,746.805 1214.99,703.026\n       C 1270.82,682.762 1289.85,692.687 1301.01,750.997\n       C 1301.01,750.583 1316.73,750.997 1316.73,750.583\n       C 1314.24,726.184 1305.85,704.285 1303,693\n       C 1243,624 1185,563 1131,476 Z\"\n/>\n  <path __id__=\"_fcwhite_scwhite_sw1_nmdraw-faces_\"\n    fill=\"white\"\n    stroke=\"white\"\n    stroke-width=\"1\"\n    id=\"draw-faces\"\n    d=\"M 969.16,990.628\n       C 951.269,947.691 957.403,943.602 995.74,928.267\n       C 1045.3,907.005 1198.16,850.57 1311.64,815.3\n       C 1362.24,795.876 1405.19,780.602 1426.14,774.919\n       C 1480.83,759.584 1477.76,769.807 1490.54,808.655\n       C 1494.12,831.146 1506.28,893.185 1505.88,913.954\n       C 1513.03,956.381 1500.77,951.78 1456.3,969.16\n       C 1436.49,977.388 1327.44,1024.05 1292.21,1041.74\n       C 1267.68,1051.46 1126.09,1108.2 1091.33,1117.91\n       C 1054.52,1129.15 1019.25,1136.31 1004.43,1102.57\n       C 988.584,1068.84 982.961,1023.34 969.16,990.628 Z\n       M 921.11,978.36\n       C 897.441,969.216 802.01,932.867 787.187,933.378\n       C 793.32,950.247 833.191,1036.12 847.503,1056.06\n       C 860.794,1063.72 934.912,1101.04 962.003,1109.22\n       C 952.802,1076.5 926.733,990.628 921.11,978.36 Z\n       M 1048.39,1367.35\n       C 1055.03,1381.67 1078.55,1429.71 1088.77,1448.63\n       C 1061.17,1440.96 968.648,1402.11 952.291,1394.96\n       C 936.19,1388.57 931.845,1380.64 929.289,1375.02\n       C 922.9,1366.33 908.587,1335.41 904.753,1325.69\n       C 894.786,1304.74 894.786,1301.67 918.044,1314.19\n       C 947.18,1329.53 1013.37,1355.6 1048.39,1367.35 Z\n       M 1092.86,1377.58\n       C 1091.67,1378.56 1128.64,1441.47 1139.89,1448.63\n       C 1153.18,1469.59 1191.51,1459.87 1211.45,1451.18\n       C 1247.08,1442.35 1355.94,1397.32 1454.76,1353.04\n       C 1520.19,1324.93 1564.15,1305.5 1588.17,1290.17\n       C 1620.89,1272.79 1615.27,1269.72 1614.75,1235.47\n       C 1614.75,1235.47 1597.89,1165.45 1596.86,1165.45\n       C 1587.15,1132.73 1576.42,1134.26 1541.15,1142.44\n       C 1385.76,1189.98 1172.09,1289.15 1117.4,1306.53\n       C 1061.17,1323.9 1077.01,1353.55 1092.86,1377.58 Z\"\n/>\n  <path __id__=\"_fcblack_scblack_sw1_nmface-ear-hole_\"\n    fill=\"black\"\n    stroke=\"black\"\n    stroke-width=\"1\"\n    id=\"face-ear-hole\"\n    d=\"M 528.795,1165.45\n       C 528.795,1165.45 562.276,1226.53 562.276,1226.53\n       C 562.276,1226.53 529.817,1225.76 529.817,1225.76\n       C 529.817,1225.76 500,1176 500,1176\n       C 483,1169 464,1154 476,1126\n       C 481.768,1117.91 484.835,1116.12 498,1114\n       C 522.406,1114.84 534.162,1127.11 528.795,1165.45 Z\n       M 519,1092\n       C 497,1071 466,1056 441,1074\n       C 422,1104 439,1125 456,1160\n       C 456,1143 446,1115 465,1099\n       C 481,1082 499,1086 519,1092 Z\"\n/>\n  <path __id__=\"_fcblack_scblack_sw1_nmface-eyes-mouth_\"\n    fill=\"black\"\n    stroke=\"black\"\n    stroke-width=\"1\"\n    id=\"face-eyes-mouth\"\n    d=\"M 1087,994\n       C 1094,1038 1140,1053 1180,1032\n       C 1193,1023 1209,998 1202,968\n       C 1196,928 1121,891 1093,961\n       C 1131,926 1152,955 1144,982\n       C 1138,1012 1104,1011 1087,994 Z\n       M 1304,924\n       C 1338,943 1354,925 1358,903\n       C 1358,875 1327,860 1307,886\n       C 1308,836 1394.44,843.414 1411,882\n       C 1419.49,913.443 1413.87,928.267 1396.49,949.735\n       C 1370.42,972.227 1325,972 1304,924 Z\n       M 1204,1360\n       C 1195.25,1350.5 1207,1327 1211,1323\n       C 1211,1323 1255,1297 1255,1297\n       C 1280.25,1287.75 1296,1293.75 1301,1316\n       C 1302,1349 1322,1337 1385,1312\n       C 1449,1283 1462,1286 1444,1254\n       C 1421.01,1218.94 1454.75,1214 1468.5,1209.5\n       C 1499.5,1196.5 1521.75,1192.75 1521.25,1208.75\n       C 1520.25,1223.25 1522.5,1232 1499.5,1237\n       C 1476.5,1243 1475.75,1238.5 1485,1266.75\n       C 1501.75,1302 1462,1324 1405,1346\n       C 1351,1368 1292,1400 1279,1356\n       C 1274,1336 1276,1326 1250,1339\n       C 1234.96,1350.48 1224.74,1358.15 1204,1360 Z\"\n/>\n  <path __id__=\"_fcblack_scwhite_sw35_nmborder-open-mind_\"\n    fill=\"black\"\n    stroke=\"white\"\n    stroke-width=\"35\"\n    id=\"border-open-mind\"\n    d=\"M 595.912,1906.7\n       C 595.912,1875.57 623.706,1838.88 692.636,1840.55\n       C 814.072,1834.61 1156.84,1837.64 1328.57,1845.55\n       C 1421.71,1847.22 1436.08,1881.26 1443.09,1947.83\n       C 1449.37,2054.65 1447.24,2110.5 1441.97,2221.33\n       C 1441.39,2280.7 1443.52,2301.98 1357.48,2308.05\n       C 1214.01,2314.5 771.758,2304.64 713.204,2302.49\n       C 629.821,2299.15 598.691,2296.37 591.465,2214.66\n       C 583.682,2124.6 588.685,1963.4 595.912,1906.7 Z\"\n/>\n  <path __id__=\"_fcwhite_scwhite_sw1_nmtext_\"\n    fill=\"white\"\n    stroke=\"white\"\n    stroke-width=\"1\"\n    id=\"text\"\n    d=\"M 643.086,2066.84\n       C 642.626,2046.12 646.636,1959.88 648.855,1939.91\n       C 655.513,1907.07 665.276,1891.09 705.804,1888.17\n       C 705.804,1888.17 939.109,1883.54 939.109,1883.54\n       C 939.109,1883.54 1310.02,1888.7 1310.02,1888.7\n       C 1374.05,1890.2 1393.57,1900.41 1398.01,1950.56\n       C 1398.01,1950.56 1401.5,2071.14 1401.5,2071.14\n       C 1401.5,2071.14 643.086,2066.84 643.086,2066.84 Z\n       M 1270.64,2109\n       C 1270.64,2109 1267.09,2162.59 1266.87,2189.33\n       C 1267.2,2195.55 1268.09,2199.54 1271.53,2199.54\n       C 1271.53,2199.54 1307.47,2199.98 1307.47,2199.98\n       C 1319.01,2198.21 1319.66,2101.72 1319.46,2101.9\n       C 1319.24,2092.8 1317.68,2085.92 1310.14,2085.92\n       C 1310.14,2085.92 1287.95,2085.92 1287.95,2085.92\n       C 1270.19,2087.7 1272.41,2097.02 1270.64,2109 Z\n       M 1271.53,2210.19\n       C 1266.2,2211.52 1265.53,2213.08 1264.65,2218.18\n       C 1264.65,2218.18 1264.42,2233.05 1264.42,2233.05\n       C 1265.53,2236.93 1266.09,2236.82 1270.64,2237.04\n       C 1270.64,2237.04 1301.93,2237.71 1301.93,2237.71\n       C 1306.81,2237.26 1308.81,2237.49 1309.47,2231.72\n       C 1309.47,2231.72 1310.36,2218.4 1310.58,2218.18\n       C 1310.14,2213.41 1310.14,2212.41 1303.48,2211.52\n       C 1303.48,2211.52 1271.53,2210.41 1271.53,2210.19 Z\n       M 1114.9,2239.1\n       C 1104.44,2238.52 1101.83,2238.81 1101.25,2226.32\n       C 1100.96,2195.23 1105.9,2126.68 1108.51,2100.53\n       C 1109.96,2088.04 1112.58,2085.14 1126.23,2084.85\n       C 1126.23,2084.85 1177.65,2084.56 1177.65,2084.27\n       C 1222.38,2086.01 1228.15,2121.37 1226.16,2158.34\n       C 1224.06,2197.35 1210.18,2238.52 1163.41,2239.1\n       C 1163.41,2239.1 1114.9,2239.1 1114.9,2239.1 Z\n       M 1070.17,2082.52\n       C 1084.11,2084.56 1086.43,2086.59 1086.72,2099.37\n       C 1086.72,2099.37 1081.78,2221.09 1081.78,2221.09\n       C 1081.2,2229.51 1078.88,2241.13 1068.71,2240.55\n       C 1068.42,2240.55 1040.54,2240.26 1040.54,2240.26\n       C 1040.54,2240.26 993.476,2162.12 993.476,2162.12\n       C 993.476,2162.12 992.023,2221.67 992.314,2221.67\n       C 990.861,2232.13 990.28,2240.55 978.37,2240.84\n       C 978.37,2240.84 955.131,2240.26 955.131,2240.26\n       C 947.578,2240.55 944.964,2233.58 946.126,2226.03\n       C 945.545,2202.79 950.483,2111.57 952.807,2095.3\n       C 954.26,2086.3 952.807,2082.52 964.427,2081.94\n       C 964.717,2081.94 993.185,2082.23 993.185,2082.23\n       C 993.185,2082.23 1041.12,2150.79 1041.12,2150.79\n       C 1041.12,2150.79 1046.05,2090.95 1046.05,2090.95\n       C 1046.35,2085.14 1047.22,2083.68 1054.77,2082.52\n       C 1054.77,2082.52 1070.17,2082.52 1070.17,2082.52 Z\n       M 877.28,2103.73\n       C 878.151,2087.46 878.732,2081.65 896.162,2080.49\n       C 896.162,2080.49 910.977,2080.49 910.977,2080.49\n       C 921.725,2079.91 924.92,2084.85 923.177,2096.47\n       C 919.691,2124.64 916.786,2193.49 917.077,2224.57\n       C 916.496,2232.13 917.367,2239.68 900.81,2239.39\n       C 900.81,2239.39 881.637,2239.39 881.928,2239.39\n       C 873.503,2239.1 872.342,2233.58 870.599,2217.02\n       C 869.727,2190.59 874.956,2123.19 877.28,2103.73 Z\n       M 742.347,2222.97\n       C 742.561,2224.04 743.341,2156.35 742.202,2144.98\n       C 742.202,2144.98 766.894,2169.96 766.894,2169.96\n       C 770.961,2173.88 774.301,2175.19 777.787,2170.69\n       C 777.787,2170.69 794.49,2153.4 794.49,2153.4\n       C 793.474,2169.23 791.15,2205.4 792.166,2219.92\n       C 792.457,2231.83 794.2,2234.74 802.333,2235.9\n       C 802.333,2235.9 827.316,2237.06 827.316,2237.06\n       C 836.176,2236.48 836.321,2234.74 839.08,2223.27\n       C 843.002,2198.72 844.745,2118.83 844.745,2100.82\n       C 845.035,2091.24 842.712,2083.1 832.835,2082.23\n       C 832.835,2082.23 813.663,2081.94 813.663,2081.94\n       C 808.434,2081.36 806.11,2083.1 802.914,2086.59\n       C 802.914,2086.59 773.575,2126.68 773.575,2126.68\n       C 773.575,2126.68 735.23,2083.68 735.23,2083.68\n       C 735.23,2083.68 702.986,2082.23 703.276,2082.23\n       C 692.528,2083.98 693.109,2088.62 693.109,2094.72\n       C 687.009,2118.83 686.718,2192.91 689.042,2222.54\n       C 689.042,2233.29 694.271,2238.08 700.371,2238.95\n       C 700.662,2238.95 731.89,2239.39 731.89,2239.39\n       C 740.895,2238.66 741.911,2236.05 742.347,2222.97 Z\"\n/>\n  <path __id__=\"_fcblack_scwhite_sw1_nmtext2_\"\n    fill=\"black\"\n    stroke=\"white\"\n    stroke-width=\"1\"\n    id=\"text2\"\n    d=\"M 1148.92,2114.15\n       C 1147.88,2114.15 1142.56,2206.83 1142.56,2206.83\n       C 1186.95,2208.17 1185.72,2188.43 1190.31,2159.96\n       C 1189.06,2140.58 1193.17,2118.99 1148.92,2114.15 Z\n       M 723.863,1904.45\n       C 688.825,1937.06 691.418,1949.51 686.88,1979.49\n       C 686.521,2039.81 713.45,2050.23 745.766,2056.33\n       C 786.698,2049.87 805.729,2020.78 810.113,1992.13\n       C 817.577,1932.46 771.977,1880.75 723.863,1904.45 Z\n       M 838.403,1918.09\n       C 838.404,1908.59 839.121,1898.7 850.516,1897.86\n       C 869.641,1895.47 881.49,1895.47 902.313,1900.97\n       C 950.429,1923.84 930.681,1978.42 914.164,1989.91\n       C 905.906,1996.01 874.511,2013.43 874.342,2009.74\n       C 874.342,2009.74 873.591,2044.12 873.591,2044.12\n       C 873.95,2050.59 870.718,2055.97 860.875,2055.33\n       C 860.875,2055.33 841.192,2055.33 841.192,2055.33\n       C 839.48,2026.53 837.326,1944.66 838.403,1918.09 Z\n       M 964.074,1912.71\n       C 964.475,1901.36 973.281,1898.42 979.513,1898.35\n       C 979.513,1898.35 1045.58,1898.7 1045.58,1898.7\n       C 1048.45,1903.37 1047.73,1920.25 1045.22,1924.92\n       C 1045.22,1924.92 1001.77,1924.92 1001.77,1924.92\n       C 998.902,1928.51 998.902,1954 1000.7,1957.59\n       C 1012.21,1959.93 1024.75,1955.08 1036.99,1956.91\n       C 1038.21,1962.24 1040.2,1982.01 1034.81,1988.11\n       C 1034.81,1988.11 1002.8,1987.99 1002.8,1987.99\n       C 997.466,2000.68 997.107,2009.29 999.979,2018.63\n       C 999.979,2018.63 1034.09,2018.63 1034.09,2018.63\n       C 1041.99,2019.35 1042.35,2021.5 1042.19,2028.03\n       C 1042.83,2036.05 1042.62,2047.03 1037.66,2051.9\n       C 992.047,2054.4 961.201,2057.77 961.003,2033.25\n       C 961.003,2032.46 958.978,1949.6 964.074,1912.71 Z\n       M 1097.07,1908.22\n       C 1092.62,1943.95 1096.21,2021.14 1097.07,2042.89\n       C 1097.28,2051.3 1099.08,2053.82 1108.47,2053.25\n       C 1108.47,2053.25 1136.78,2053.82 1136.78,2053.82\n       C 1141.71,2038.78 1136.68,1986.04 1140.01,1982.01\n       C 1144.23,1986.05 1181.86,2054.9 1184.18,2054.89\n       C 1184.18,2054.89 1214.38,2054.89 1215.41,2054.89\n       C 1227.98,2055.97 1226.19,2040.17 1225.53,2025.28\n       C 1226.14,2013.16 1226.9,1938.38 1226.9,1913.07\n       C 1226.99,1902.38 1226.01,1901.4 1221.16,1900.86\n       C 1221.16,1900.86 1201.05,1900.5 1201.05,1900.5\n       C 1191.38,1899.67 1186.33,1900.5 1184.09,1909.26\n       C 1182.44,1906.17 1182.56,1974.59 1180.98,1982.81\n       C 1175.88,1979.63 1150.11,1912.29 1135.34,1898.35\n       C 1135.34,1898.35 1110.93,1896.19 1110.93,1896.19\n       C 1100.59,1898.75 1098.72,1900.5 1097.07,1908.22 Z\n       M 1277.06,1935.16\n       C 1269.36,1935.49 1269.7,1935.16 1269.36,1926.12\n       C 1269.36,1926.12 1268.69,1912.07 1268.69,1912.07\n       C 1269.36,1905.04 1269.36,1902.7 1281.07,1901.7\n       C 1291.5,1901.08 1314.87,1900.36 1328.58,1904.38\n       C 1354.34,1915.08 1343.64,1960.58 1336.94,1966.61\n       C 1313.86,1983.33 1313.86,2005.42 1314.19,2021.47\n       C 1314.19,2021.47 1290.79,2021.14 1290.79,2021.14\n       C 1284.42,2021.81 1284.08,2019.13 1284.58,2013.89\n       C 1282.74,2001.07 1293.11,1972.29 1298.05,1965.2\n       C 1298.05,1965.2 1311.85,1951.22 1311.85,1951.22\n       C 1319.55,1939.84 1314.53,1934.82 1305.83,1934.82\n       C 1305.83,1934.82 1277.06,1935.16 1277.06,1935.16 Z\n       M 1288.77,2034.69\n       C 1288.77,2034.69 1305.16,2034.86 1305.16,2034.86\n       C 1314.03,2034.86 1313.02,2036.03 1314.62,2040.82\n       C 1314.62,2040.82 1315.2,2048.91 1315.2,2048.91\n       C 1313.86,2056.94 1312.69,2059.45 1304.82,2059.62\n       C 1304.82,2059.62 1287.43,2058.95 1287.43,2058.95\n       C 1281.74,2058.11 1280.9,2058.28 1279.73,2051.25\n       C 1279.73,2051.25 1279.73,2041.21 1279.73,2041.21\n       C 1281.41,2035.53 1281.74,2035.19 1288.77,2034.69 Z\"\n/>\n  <path __id__=\"_fcwhite_scwhite_sw1_nmtext3_\"\n    fill=\"white\"\n    stroke=\"white\"\n    stroke-width=\"1\"\n    id=\"text3\"\n    d=\"M 744.688,1940\n       C 760.487,1939.82 775.568,1955.26 781.672,1973.75\n       C 782.39,1996.73 778.26,2011.09 759.948,2017.55\n       C 733.019,2018.63 727.274,2005.7 723.145,1977.34\n       C 723.504,1962.26 726.017,1946.1 744.688,1940 Z\n       M 873.411,1931.2\n       C 872.238,1935.86 871.436,1963.16 872.693,1977.16\n       C 874.488,1979.49 877.002,1978.95 879.515,1977.88\n       C 879.515,1977.88 901.418,1963.16 901.418,1963.16\n       C 902.674,1953.28 902.854,1953.46 900.52,1944.3\n       C 900.831,1944.3 892.445,1930.98 873.411,1931.2 Z\"\n/>\n\n</svg>\n","output":"str","x":144,"y":208,"wires":[["248f2edd3d8acd96"]]}]