595d4bf6c0cf0d63/flows.json
[{"id":"595d4bf6c0cf0d63","type":"tab","label":"[obfuscation] visual obfuscation","disabled":false,"info":"### Description\n\nTo demonstrate visual obfuscation.\n\nCompare all versions and then use the slider to see the obfuscation.\n\n### Preview\n\n![img](https://cdn.openmindmap.org/content/1699098130386_obsfucation2.gif)","env":[]},{"id":"1063685bfd4b1c62","type":"group","z":"595d4bf6c0cf0d63","name":"Layering","style":{"label":true},"nodes":["898577adb8145d39","f9e0e578ead09d50","51d7a3827c6acc5b","914627de7e56de74","f45bd1326b13eceb","33bc56ce4f805e11"],"x":660,"y":403.96875,"w":172,"h":82},{"id":"9400bfc7248b258a","type":"group","z":"595d4bf6c0cf0d63","name":"confusion loop","style":{"label":true},"nodes":["113438e7aae0a559","264f60735d377cfc","e134bb199ff23627","eb9ddbc2fb28916e"],"x":660,"y":528.734375,"w":489,"h":152.5},{"id":"6edaf9f9c14a0129","type":"group","z":"595d4bf6c0cf0d63","name":"disconnected wires","style":{"label":true},"nodes":["b08d0746d8c11843","97139efaefb87611","1a6b3e0406dc49f4","3ccf91f194627b6a"],"x":660,"y":724,"w":643.1428871154785,"h":82},{"id":"1a6b3e0406dc49f4","type":"junction","z":"595d4bf6c0cf0d63","g":"6edaf9f9c14a0129","x":686,"y":765,"wires":[["97139efaefb87611","3ccf91f194627b6a"]]},{"id":"3ccf91f194627b6a","type":"junction","z":"595d4bf6c0cf0d63","g":"6edaf9f9c14a0129","x":1277.1428871154785,"y":765,"wires":[[]]},{"id":"898577adb8145d39","type":"function","z":"595d4bf6c0cf0d63","g":"1063685bfd4b1c62","name":"function 1","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":746,"y":444.96875,"wires":[["51d7a3827c6acc5b"]]},{"id":"f9e0e578ead09d50","type":"function","z":"595d4bf6c0cf0d63","g":"1063685bfd4b1c62","name":"function 2","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":746,"y":444.96875,"wires":[["898577adb8145d39"]]},{"id":"51d7a3827c6acc5b","type":"function","z":"595d4bf6c0cf0d63","g":"1063685bfd4b1c62","name":"function 3","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":746,"y":444.96875,"wires":[["914627de7e56de74"]]},{"id":"914627de7e56de74","type":"function","z":"595d4bf6c0cf0d63","g":"1063685bfd4b1c62","name":"function 4","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":746,"y":444.96875,"wires":[["33bc56ce4f805e11"]]},{"id":"f45bd1326b13eceb","type":"function","z":"595d4bf6c0cf0d63","g":"1063685bfd4b1c62","name":"function 5","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":746,"y":444.96875,"wires":[["f9e0e578ead09d50"]]},{"id":"33bc56ce4f805e11","type":"function","z":"595d4bf6c0cf0d63","g":"1063685bfd4b1c62","name":"function 6","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":746,"y":444.96875,"wires":[["f45bd1326b13eceb"]]},{"id":"113438e7aae0a559","type":"template","z":"595d4bf6c0cf0d63","g":"9400bfc7248b258a","name":"README.md content","field":"payload","fieldType":"msg","format":"markdown","syntax":"mustache","template":"","output":"str","x":1023,"y":640.234375,"wires":[[]]},{"id":"264f60735d377cfc","type":"template","z":"595d4bf6c0cf0d63","g":"9400bfc7248b258a","name":"last ten flow updates","field":"payload","fieldType":"msg","format":"markdown","syntax":"mustache","template":"","output":"str","x":786,"y":640.234375,"wires":[["e134bb199ff23627"]]},{"id":"e134bb199ff23627","type":"link call","z":"595d4bf6c0cf0d63","g":"9400bfc7248b258a","name":"","links":[],"linkType":"static","timeout":"30","x":774,"y":569.734375,"wires":[["eb9ddbc2fb28916e"]]},{"id":"eb9ddbc2fb28916e","type":"change","z":"595d4bf6c0cf0d63","g":"9400bfc7248b258a","name":"","rules":[{"t":"set","p":"lastupdates","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1023,"y":569.734375,"wires":[["113438e7aae0a559"]]},{"id":"b08d0746d8c11843","type":"function","z":"595d4bf6c0cf0d63","g":"6edaf9f9c14a0129","name":"function 24","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1127.1428728103638,"y":765,"wires":[[]]},{"id":"97139efaefb87611","type":"function","z":"595d4bf6c0cf0d63","g":"6edaf9f9c14a0129","name":"function 25","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":928.1428728103638,"y":765,"wires":[[]]}]