0acf1aad335472c6/flows.json
[{"id":"0acf1aad335472c6","type":"tab","label":"Gender Slider","disabled":false,"info":"","env":[]},{"id":"ee5809e70099dc03","type":"ui_template","z":"0acf1aad335472c6","group":"0194c245d9781097","name":"JS Code","order":1,"width":0,"height":0,"format":"<script type=\"text/javascript\" src=\"/content/underscore-1.10.2.min.min.js\"></script>\n<script>\n    function byInkscapeLabel(lbl) {\n    var _lbl = lbl;\n    var _elem = null;\n    $('*').filter( function() {\n    if ( $(this).attr('inkscape:label') == _lbl ) {\n    _elem = $(this);\n    }\n    })\n    return _elem;\n    }\n    \n    function updateHistory(data) {\n    [\"today\", \"last7days\", \"last30days\"].forEach(function(obj,idx) {\n    byInkscapeLabel( \"circle-\" + obj ).css('fill', clrForVal(data[obj]))\n    })\n    var valRng = _.range( -255, 256 );\n    _.each(data.last10days, function(val, idx) {\n    var perCent = valRng.indexOf( val ) / valRng.length;\n    \n    $(graph_points[idx]).css('fill', clrForVal( val ) ).attr('cy', graph_point_range[0] + (( graph_point_range[1] -\n    graph_point_range[0]) * perCent))\n    if ( idx > 0 ) {\n    addLine(graph_points[idx-1], graph_points[idx])\n    }\n    })\n    }\n    \n    function fadeInContainer() {\n    anime({\n    targets: '#themaincontainer',\n    opacity: [1,100],\n    easing: 'linear',\n    round: 1,\n    duration: 1000\n    })\n    }\n    \n    function getvalue() {\n    var slider = document.getElementById(\"myRange\");\n    (new easyHTTP).get(\"/v\", function(err,data) {\n    slider.value = data.today\n    slider.oninput()\n    updateHistory(data)\n    fadeInContainer()\n    })\n    }\n    \n    function clrForVal(val) {\n    var valRng = _.range(-255,256);\n    var clrIdx = Math.floor( ( valRng.indexOf( val ) / valRng.length ) * clrs.length )\n    return clrs[clrIdx];\n    }\n    \n    function easyHTTP() {\n    this.http = new XMLHttpRequest();\n    }\n    \n    easyHTTP.prototype.post = function(url, data, callback) {\n    \n    this.http.open('POST', url, true);\n    \n    this.http.setRequestHeader('Content-type', 'application/json');\n    this.http.setRequestHeader('X-Value', data.value);\n    this.http.setRequestHeader('X-Date',new Date().toISOString())\n    let self = this;\n    \n    this.http.onload = function() {\n    callback(null, JSON.parse(self.http.responseText))\n    }\n    this.http.send(JSON.stringify(data));\n    }\n    \n    easyHTTP.prototype.get = function(url, callback) {\n    \n    this.http.open('GET', url, true);\n    \n    this.http.setRequestHeader('Content-type', 'application/json');\n    this.http.setRequestHeader('X-Date',new Date().toISOString())\n    let self = this;\n    \n    this.http.onload = function() {\n    callback(null, JSON.parse(self.http.responseText))\n    }\n    this.http.send();\n    }\n    \n    function placeSlider() {\n    var textElem = byInkscapeLabel(\"last-10-days-text\")\n    var circleElem = byInkscapeLabel(\"circle-today\")\n    var leftPos = $('#svgcontainer').find(\"svg\").width() * 0.1;\n    \n    $('.slidecontainer').css('top', textElem.offset().top - (6* origSliderHeight))\n    $('.slidecontainer').css('left', $('#svgcontainer').offset().left)\n    $('.slidecontainer').css('width', $('#svgcontainer').find(\"svg\").width() )\n    $('.slider').css('width', \"80%\" )\n    $('.slider').css('height', origSliderHeight )\n    }\n    \n    function addLine(pt1,pt2) {\n    if ( $('#' + $(pt1).attr(\"id\") + \"_\" + $(pt2).attr(\"id\") ).length > 0 ) {\n    var elem = $('#' + $(pt1).attr(\"id\") + \"_\" + $(pt2).attr(\"id\") );\n    elem.attr(\"x1\",$(pt1).attr('cx'));\n    elem.attr(\"y1\",$(pt1).attr('cy'));\n    elem.attr(\"x2\",$(pt2).attr('cx'));\n    elem.attr(\"y2\",$(pt2).attr('cy'));\n    } else {\n    var newElement = document.createElementNS(\"http://www.w3.org/2000/svg\", 'line');\n    newElement.setAttribute(\"id\", $(pt1).attr(\"id\") + \"_\" + $(pt2).attr(\"id\"))\n    \n    newElement.setAttribute(\"x1\",$(pt1).attr('cx'));\n    newElement.setAttribute(\"y1\",$(pt1).attr('cy'));\n    newElement.setAttribute(\"x2\",$(pt2).attr('cx'));\n    newElement.setAttribute(\"y2\",$(pt2).attr('cy'));\n    \n    newElement.style.stroke = \"#ccc\";\n    newElement.style.strokeWidth = \"1.5px\";\n    \n    var container = byInkscapeLabel('graph-container')[0];\n    container.insertBefore( newElement, container.firstChild )\n    }\n    }\n    \n    function setupImageMap() {\n    _.each( $('#_navmap').children(), function(obj) {\n    var obj = {\n    name: $(obj).attr('alt'),\n    coords: _.map($(obj).attr('coords').split(\",\"), function(v){return parseInt(v) }),\n    }\n    navCfg.areas.push( obj )\n    })\n    }\n    \n    function redrawImageMap() {\n    var percent = ( ( $(\"#navimg\").width() / navCfg.baseSize.width ) +\n    ( $(\"#navimg\").height() / navCfg.baseSize.height ) ) / 2;\n    \n    _.each( navCfg.areas, function (obj) {\n    var child = _.find( $('#_navmap').children(), function (chld) {\n    return $(chld).attr('alt') == obj.name\n    })\n    \n    if ( child ) {\n    var newCoords = _.map( obj.coords, function (v) { return v * percent; })\n    $(child).attr( 'coords', newCoords.join(\",\") )\n    }\n    })\n    }\n    </script>\n\n        <script>\n            var navCfg = { baseSize: { width: 810, height: 81 }, areas: [] }\n        \n              $(function(){\n                setupImageMap()\n                redrawImageMap()\n                $(window).on('resize', redrawImageMap );\n              })\n        </script>\n        ","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":942,"y":222,"wires":[[]]},{"id":"2c08bfc8099ec63e","type":"link in","z":"0acf1aad335472c6","name":"gender slider","links":["809ca123e3238b9a","fd60e1768090f300"],"x":570,"y":55,"wires":[[]]},{"id":"707fa06d73bfcd2c","type":"ui_svg_graphics","z":"0acf1aad335472c6","group":"0194c245d9781097","order":1,"width":12,"height":17,"svgString":"<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"no\"?>\n<svg id=\"screenshot\" viewBox=\"-0.6488267020736146 -0.7071067811860928 409.3960583967462 876.4142135623727\" version=\"1.1\"\n    style=\"-webkit-print-color-adjust: exact;\" sodipodi:docname=\"Artboard-6.svg\"\n    inkscape:version=\"1.2-alpha1 (b6a15bb, 2022-02-23)\" xmlns:inkscape=\"http://www.inkscape.org/namespaces/inkscape\"\n    xmlns:sodipodi=\"http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd\" xmlns=\"http://www.w3.org/2000/svg\"\n    xmlns:svg=\"http://www.w3.org/2000/svg\">\n    <defs id=\"defs184\" />\n    <sodipodi:namedview id=\"namedview182\" pagecolor=\"#ffffff\" bordercolor=\"#666666\" borderopacity=\"1.0\"\n        inkscape:pageshadow=\"2\" inkscape:pageopacity=\"0.0\" inkscape:pagecheckerboard=\"0\" inkscape:deskcolor=\"#d1d1d1\"\n        showgrid=\"false\" inkscape:zoom=\"1.0771163\" inkscape:cx=\"423.35262\" inkscape:cy=\"387.60903\"\n        inkscape:current-layer=\"screenshot\" />\n    <g id=\"shape-4d9e9e60-9871-11ec-ba4b-85be5386d06b\"\n        clip-path=\"url(#frame-clip-4d9e9e60-9871-11ec-ba4b-85be5386d06b-11d7ab80-9882-11ec-b1a2-29a53b804963)\">\n        <defs id=\"defs5\">\n            <clipPath id=\"frame-clip-4d9e9e60-9871-11ec-ba4b-85be5386d06b-11d7ab80-9882-11ec-b1a2-29a53b804963\"\n                class=\"frame-clip\">\n                <rect x=\"0\" y=\"0\" width=\"408\" height=\"875\" id=\"rect2\" />\n            </clipPath>\n        </defs>\n        <g id=\"shape-4d9e9e63-9871-11ec-ba4b-85be5386d06b\">\n            <rect rx=\"22\" ry=\"22\" x=\"11.559565669093331\" y=\"10.499999999999545\" transform=\"matrix(1,0,0,1,0,0)\"\n                width=\"384\" height=\"854\"\n                style=\"fill: rgb(255, 255, 255); fill-opacity: 1; stroke-width: 1; stroke: rgb(187, 187, 187); stroke-opacity: 1;\"\n                id=\"rect36\" />\n        </g>\n        <g id=\"shape-4d9e9e5f-9871-11ec-ba4b-85be5386d06b\">\n            <g id=\"shape-4d9e9e70-9871-11ec-ba4b-85be5386d06b\" inkscape:label=\"graph-container\">\n                <g id=\"shape-4d9e9e5b-9871-11ec-ba4b-85be5386d06b\" style=\"fill: rgb(247, 38, 105); fill-opacity: 1;\">\n                    <g id=\"shape-4d9e9e6f-9871-11ec-ba4b-85be5386d06b\">\n                        <defs id=\"defs44\">\n                            <linearGradient id=\"fill-color-gradient_11d8e402-9882-11ec-b1a2-29a53b804963\" x1=\"0\"\n                                y1=\"0.48\" x2=\"1\" y2=\"0.48\">\n                                <stop offset=\"0\" stop-color=\"#f84242\" stop-opacity=\"1\" id=\"stop39\" />\n                                <stop offset=\"1\" stop-color=\"#6605b2\" stop-opacity=\"1\" id=\"stop41\" />\n                            </linearGradient>\n                        </defs>\n                        <rect rx=\"10\" ry=\"10\" x=\"-90.44043433090667\" y=\"691.4999999999995\"\n                            transform=\"matrix(3.1409489592570975e-11,0.9999999980910964,-1.0000000017590396,-3.140952428704906e-11,734.0595668903986,655.9404344272967)\"\n                            width=\"259\" height=\"7\"\n                            style=\"fill: url(&quot;#fill-color-gradient_11d8e402-9882-11ec-b1a2-29a53b804963&quot;);\"\n                            id=\"rect46\" />\n                    </g>\n                </g>\n                <g id=\"shape-4d9e9e75-9871-11ec-ba4b-85be5386d06b\">\n                    <path\n                        d=\"M38.49178191163526,696.334260338183L74.8862479625335,604.334260338183L123.731452399266,799.334260338183L167.78791130298498,696.334260338183L198.4358827142679,772.334260338183L252.06983268401393,593.334260338183L298.99953890754034,799.334260338183L331.5630085320287,604.334260338183L367.9574745829274,712.334260338183\"\n                        style=\"fill: none; stroke-width: 2; stroke: rgb(0, 0, 0); stroke-opacity: 1;\" id=\"path50\" />\n                </g>\n                <g id=\"shape-4d9e9e66-9871-11ec-ba4b-85be5386d06b\">\n                    <g id=\"shape-4d9e9e5c-9871-11ec-ba4b-85be5386d06b\">\n                        <ellipse cx=\"39.05956566909333\" cy=\"694.9999999999995\" rx=\"4.5\" ry=\"4.5\"\n                            transform=\"matrix(1,0,0,1,0,0)\" style=\"fill: rgb(0, 0, 0); fill-opacity: 1;\"\n                            id=\"ellipse53\" />\n                    </g>\n                    <g id=\"shape-4d9e9e71-9871-11ec-ba4b-85be5386d06b\">\n                        <ellipse cx=\"221.55956566909333\" cy=\"578.4999999999995\" rx=\"5\" ry=\"5\"\n                            transform=\"matrix(1,0,0,1,0,0)\" style=\"fill: rgb(0, 0, 0); fill-opacity: 1;\"\n                            id=\"ellipse56\" />\n                    </g>\n                    <g id=\"shape-4d9e9e53-9871-11ec-ba4b-85be5386d06b\">\n                        <ellipse cx=\"331.55956566909333\" cy=\"736.4999999999995\" rx=\"5\" ry=\"5\"\n                            transform=\"matrix(1,0,0,1,0,0)\" style=\"fill: rgb(0, 0, 0); fill-opacity: 1;\"\n                            id=\"ellipse59\" />\n                    </g>\n                    <g id=\"shape-4d9e9e73-9871-11ec-ba4b-85be5386d06b\">\n                        <ellipse cx=\"75.05956566909333\" cy=\"607.9999999999995\" rx=\"4.5\" ry=\"4.5\"\n                            transform=\"matrix(1,0,0,1,0,0)\" style=\"fill: rgb(0, 0, 0); fill-opacity: 1;\"\n                            id=\"ellipse62\" />\n                    </g>\n                    <g id=\"shape-4d9e9e6e-9871-11ec-ba4b-85be5386d06b\">\n                        <ellipse cx=\"148.55956566909333\" cy=\"695.4999999999995\" rx=\"5\" ry=\"5\"\n                            transform=\"matrix(1,0,0,1,0,0)\" style=\"fill: rgb(0, 0, 0); fill-opacity: 1;\"\n                            id=\"ellipse65\" />\n                    </g>\n                    <g id=\"shape-4d9e9e61-9871-11ec-ba4b-85be5386d06b\">\n                        <ellipse cx=\"368.55956566909333\" cy=\"712.4999999999995\" rx=\"5\" ry=\"5\"\n                            transform=\"matrix(1,0,0,1,0,0)\" style=\"fill: rgb(0, 0, 0); fill-opacity: 1;\"\n                            id=\"ellipse68\" />\n                    </g>\n                    <g id=\"shape-4d9e9e69-9871-11ec-ba4b-85be5386d06b\">\n                        <ellipse cx=\"111.55956566909333\" cy=\"796.4999999999995\" rx=\"5\" ry=\"5\"\n                            transform=\"matrix(1,0,0,1,0,0)\" style=\"fill: rgb(0, 0, 0); fill-opacity: 1;\"\n                            id=\"ellipse71\" />\n                    </g>\n                    <g id=\"shape-4d9e9e56-9871-11ec-ba4b-85be5386d06b\">\n                        <ellipse cx=\"185.55956566909333\" cy=\"772.4999999999995\" rx=\"5\" ry=\"5\"\n                            transform=\"matrix(1,0,0,1,0,0)\" style=\"fill: rgb(0, 0, 0); fill-opacity: 1;\"\n                            id=\"ellipse74\" />\n                    </g>\n                    <g id=\"shape-4d9e9e7a-9871-11ec-ba4b-85be5386d06b\">\n                        <ellipse cx=\"294.55956566909333\" cy=\"603.4999999999995\" rx=\"5\" ry=\"5\"\n                            transform=\"matrix(1,0,0,1,0,0)\" style=\"fill: rgb(0, 0, 0); fill-opacity: 1;\"\n                            id=\"ellipse77\" />\n                    </g>\n                    <g id=\"shape-4d9e9e64-9871-11ec-ba4b-85be5386d06b\">\n                        <ellipse cx=\"258.55956566909333\" cy=\"811.4999999999995\" rx=\"5\" ry=\"5\"\n                            transform=\"matrix(1,0,0,1,0,0)\" style=\"fill: rgb(0, 0, 0); fill-opacity: 1; opacity: 1;\"\n                            id=\"ellipse80\" />\n                    </g>\n                </g>\n            </g>\n            <g id=\"shape-4d9e9e58-9871-11ec-ba4b-85be5386d06b\" inkscape:label=\"last-10-days-text\">\n                <g id=\"g87\">\n                    <path\n                        d=\"M1214 926 c-116 -54 -145 -184 -60 -269 19 -19 71 -50 122 -71 49 -21 97 -45 107 -54 23 -20 22 -65 -3 -87 -29 -27 -135 -18 -186 16 l-38 26 -34 -40 c-18 -22 -31 -45 -30 -51 2 -6 35 -27 73 -46 59 -30 78 -34 139 -34 152 0 254 103 226 228 -13 57 -61 100 -159 141 -116 49 -131 59 -131 95 0 59 85 79 168 39 l44 -22 27 34 c14 18 26 38 26 43 0 15 -62 54 -104 66 -61 17 -132 12 -187 -14z M5294 926 c-116 -54 -145 -184 -60 -269 19 -19 71 -50 122 -71 49 -21 97 -45 107 -54 23 -20 22 -65 -3 -87 -29 -27 -135 -18 -186 16 l-38 26 -34 -40 c-18 -22 -31 -45 -30 -51 2 -6 35 -27 73 -46 59 -30 78 -34 139 -34 152 0 254 103 226 228 -13 57 -61 100 -159 141 -116 49 -131 59 -131 95 0 59 85 79 168 39 l44 -22 27 34 c14 18 26 38 26 43 0 15 -62 54 -104 66 -61 17 -132 12 -187 -14z M80 630 l0 -310 190 0 190 0 0 55 0 55 -125 0 -125 0 0 255 0 255 -65 0 -65 0 0 -310z M683 924 c-3 -9 -47 -148 -98 -310 l-92 -294 67 0 66 0 18 75 18 75 102 0 102 0 19 -75 18 -75 69 0 c37 0 68 2 68 5 0 3 -78 255 -181 583 l-11 32 -79 0 c-63 0 -81 -3 -86 -16z m122 -214 c15 -63 30 -121 32 -127 4 -10 -14 -13 -72 -13 -61 0 -76 3 -72 14 3 7 17 62 32 122 32 135 34 140 44 128 4 -5 20 -61 36 -124z M1580 885 l0 -55 90 0 90 0 0 -255 0 -255 65 0 65 0 0 255 0 255 85 0 85 0 0 55 0 55 -240 0 -240 0 0 -55z M3001 930 c-69 -17 -120 -75 -147 -168 -24 -81 -16 -249 15 -320 43 -97 129 -145 219 -122 67 17 97 43 133 115 59 120 50 321 -19 419 -43 63 -127 94 -201 76z m86 -105 c35 -25 48 -80 48 -205 0 -95 -4 -122 -20 -155 -40 -80 -117 -66 -142 26 -15 57 -16 208 -2 265 12 45 47 84 78 84 9 0 26 -7 38 -15z M3580 628 l0 -311 128 6 c194 10 264 43 319 155 25 51 28 68 28 158 0 92 -3 105 -30 159 -36 69 -99 118 -175 134 -28 6 -100 11 -160 11 l-110 0 0 -312z m220 201 c86 -20 120 -75 120 -196 0 -101 -24 -153 -84 -182 -23 -12 -61 -21 -84 -21 l-42 0 0 205 0 205 23 0 c12 0 42 -5 67 -11z M4210 673 c-45 -148 -89 -287 -96 -311 l-13 -43 66 3 67 3 9 35 c4 19 13 52 18 73 l10 38 101 -3 101 -3 20 -72 19 -73 70 0 c59 0 69 2 64 15 -3 9 -47 148 -98 310 l-92 295 -81 0 -81 0 -84 -267z m176 140 c3 -16 17 -69 30 -119 34 -130 37 -124 -47 -124 -69 0 -71 1 -65 23 3 12 18 73 33 135 15 61 31 112 35 112 4 0 10 -12 14 -27z M4640 935 c0 -4 41 -93 90 -199 l90 -192 0 -112 0 -112 65 0 65 0 0 113 0 113 90 192 c50 106 90 195 90 198 0 3 -30 4 -66 2 l-67 -3 -51 -135 c-29 -74 -56 -135 -60 -135 -5 0 -32 61 -60 135 l-51 135 -68 3 c-37 2 -67 0 -67 -3z M2500 910 c-8 -6 -39 -17 -67 -26 -52 -15 -53 -16 -53 -55 l0 -39 55 0 55 0 0 -180 0 -180 -65 0 -65 0 0 -55 0 -55 190 0 190 0 0 55 0 55 -60 0 -60 0 0 245 0 245 -52 0 c-29 0 -60 -5 -68 -10z\"\n                        transform=\"translate(132.55956566909333, 519.4999999999995) scale(0.25, 0.25) translate(0.000000,116.000000) scale(0.100000,-0.100000)\"\n                        fill=\"#000000\" stroke=\"none\" fill-opacity=\"0.38\" id=\"path85\" />\n                </g>\n            </g>\n            <g id=\"shape-4d9e9e50-9871-11ec-ba4b-85be5386d06b\" inkscape:label=\"slider-container\">\n                <g id=\"shape-4d9e9e5e-9871-11ec-ba4b-85be5386d06b\" style=\"fill: rgb(247, 38, 105); fill-opacity: 1;\">\n                    <g id=\"shape-4d9e9e7f-9871-11ec-ba4b-85be5386d06b\">\n                        <defs id=\"defs95\">\n                            <linearGradient id=\"fill-color-gradient_11da6aa2-9882-11ec-b1a2-29a53b804963\" x1=\"0\"\n                                y1=\"0.48\" x2=\"1\" y2=\"0.48\">\n                                <stop offset=\"0\" stop-color=\"#f84242\" stop-opacity=\"1\" id=\"stop90\" />\n                                <stop offset=\"1\" stop-color=\"#6605b2\" stop-opacity=\"1\" id=\"stop92\" />\n                            </linearGradient>\n                        </defs>\n                        <rect rx=\"10\" ry=\"10\" x=\"34.55956566909333\" y=\"442.49999999999955\"\n                            transform=\"matrix(1,0,0,1,0,0)\" width=\"338\" height=\"13\"\n                            style=\"fill: url(&quot;#fill-color-gradient_11da6aa2-9882-11ec-b1a2-29a53b804963&quot;);\"\n                            id=\"rect97\" />\n                    </g>\n                </g>\n                <g id=\"shape-4d9e9e5a-9871-11ec-ba4b-85be5386d06b\" width=\"48\" height=\"48\">\n                    <g id=\"shape-4d9e9e79-9871-11ec-ba4b-85be5386d06b\">\n                        <path fill=\"none\"\n                            d=\"M190.99999999999966,463.5L190.99999999999966,434.5L216.99999999999966,434.5L216.99999999999966,463.5Z\"\n                            id=\"path101\" />\n                    </g>\n                    <g id=\"shape-4d9e9e6a-9871-11ec-ba4b-85be5386d06b\">\n                        <path\n                            d=\"M197.3320833333329,442.1910416666665C196.7795833333331,442.63208333333296,196.41666666666663,443.3510416666668,196.41666666666617,444.1666666666665L196.4274999999999,457.45833333333303C196.4274999999999,458.7935416666669,197.38624999999968,459.875,198.58333333333314,459.875L209.41666666666663,459.875C210.61374999999964,459.875,211.57249999999988,458.79354166666644,211.57249999999988,457.45833333333303L211.58333333333314,444.1666666666665C211.58333333333314,443.3510416666668,211.22041666666667,442.63208333333296,210.66791666666643,442.1910416666665L203.99999999999966,436.9166666666665L197.3320833333329,442.1910416666665ZZM209.41666666666663,444.1666666666665L209.41666666666663,457.45833333333303L198.58333333333314,457.45833333333303L198.58333333333314,444.1666666666665L203.99999999999966,439.88312499999984L209.41666666666663,444.1666666666665ZZ\"\n                            style=\"fill: rgb(59, 93, 194); fill-opacity: 0.69; stroke-width: 1; stroke: rgb(109, 109, 109); stroke-opacity: 0.53;\"\n                            id=\"path104\" />\n                    </g>\n                </g>\n            </g>\n            <g id=\"shape-4d9e9e68-9871-11ec-ba4b-85be5386d06b\">\n                <g id=\"shape-4d9e9e57-9871-11ec-ba4b-85be5386d06b\">\n                    <g id=\"shape-4d9e9e76-9871-11ec-ba4b-85be5386d06b\">\n                        <g id=\"shape-4d9e9e78-9871-11ec-ba4b-85be5386d06b\">\n                            <ellipse cx=\"146.55956566909333\" cy=\"194.49999999999955\" rx=\"85\" ry=\"85\"\n                                transform=\"matrix(1,0,0,1,0,0)\" style=\"fill: rgb(140, 6, 192); fill-opacity: 0.79;\"\n                                id=\"ellipse109\" inkscape:label=\"circle-last7days\" />\n                        </g>\n                        <g id=\"shape-4d9e9e5d-9871-11ec-ba4b-85be5386d06b\">\n                            <ellipse cx=\"261.55956566909333\" cy=\"194.49999999999955\" rx=\"85\" ry=\"85\"\n                                transform=\"matrix(1,0,0,1,0,0)\" style=\"fill: rgb(182, 6, 206); fill-opacity: 0.83;\"\n                                id=\"ellipse112\" inkscape:label=\"circle-last30days\" />\n                        </g>\n                    </g>\n                    <g id=\"shape-4d9e9e55-9871-11ec-ba4b-85be5386d06b\">\n                        <ellipse cx=\"203.55956566909333\" cy=\"311.49999999999955\" rx=\"85\" ry=\"85\"\n                            transform=\"matrix(1,0,0,1,0,0)\" style=\"fill: rgb(247, 9, 161); fill-opacity: 0.57;\"\n                            id=\"ellipse116\" inkscape:label=\"circle-today\" />\n                    </g>\n                </g>\n            </g>\n            <g id=\"shape-4d9e9e74-9871-11ec-ba4b-85be5386d06b\" inkscape:label=\"header-text\">\n                <g id=\"g123\">\n                    <path\n                        d=\"M408 1376 c-82 -24 -141 -58 -198 -115 -215 -217 -173 -638 77 -773 156 -85 368 -75 502 22 l41 30 0 210 0 210 -165 0 -165 0 0 -80 0 -80 75 0 75 0 0 -90 0 -89 -37 -10 c-82 -23 -189 -2 -247 49 -75 66 -107 232 -71 366 24 90 85 158 163 180 71 21 139 13 200 -22 l46 -27 54 59 53 59 -28 23 c-15 13 -57 38 -93 55 -54 26 -78 31 -150 34 -50 1 -104 -3 -132 -11z M5859 1375 c-69 -22 -140 -75 -174 -130 -23 -38 -30 -62 -33 -116 -4 -60 0 -77 23 -125 36 -73 85 -108 253 -180 75 -32 139 -66 147 -77 8 -12 15 -36 15 -55 0 -102 -164 -122 -306 -36 l-59 36 -38 -44 c-68 -77 -72 -85 -52 -108 28 -30 147 -87 212 -101 79 -16 208 -7 267 20 143 63 213 197 172 332 -28 93 -80 136 -247 204 -145 58 -177 77 -185 111 -27 106 118 148 258 76 l58 -31 45 56 c25 30 45 58 45 62 0 16 -49 51 -113 82 -57 26 -83 32 -155 35 -59 3 -102 -1 -133 -11z M1030 905 l0 -465 300 0 300 0 0 85 0 85 -195 0 -195 0 0 115 0 115 155 0 155 0 0 85 0 85 -155 0 -155 0 0 100 0 100 185 0 185 0 0 80 0 80 -290 0 -290 0 0 -465z M1820 905 l0 -465 96 0 96 0 -6 298 c-3 163 -8 316 -12 340 -3 23 -2 42 2 42 5 0 26 -40 47 -88 21 -48 97 -201 169 -339 l132 -253 103 0 103 0 0 465 0 465 -96 0 -97 0 7 -282 c4 -156 9 -308 12 -338 7 -71 -4 -60 -51 50 -21 47 -94 194 -164 327 l-126 243 -107 0 -108 0 0 -465z M2780 905 l0 -465 118 0 c264 1 377 28 471 116 96 88 133 189 134 359 2 244 -110 398 -323 445 -25 5 -125 10 -222 10 l-178 0 0 -465z m395 278 c22 -12 48 -29 57 -40 80 -88 89 -327 17 -436 -41 -62 -96 -90 -191 -95 l-78 -5 0 303 0 303 78 -5 c51 -3 91 -12 117 -25z M3690 905 l0 -465 300 0 300 0 0 85 0 85 -195 0 -195 0 0 115 0 115 155 0 155 0 0 85 0 85 -155 0 -155 0 0 100 0 100 185 0 185 0 0 80 0 80 -290 0 -290 0 0 -465z M4480 905 l0 -465 105 0 105 0 0 170 0 170 63 0 62 0 89 -170 89 -170 109 0 c59 0 108 3 108 6 0 4 -45 86 -100 184 -55 97 -100 181 -99 186 0 5 21 23 47 39 27 18 59 50 77 79 28 47 30 55 30 151 0 96 -2 104 -30 150 -69 112 -144 135 -442 135 l-213 0 0 -465z m440 287 c43 -21 63 -73 53 -135 -13 -81 -77 -117 -210 -117 l-73 0 0 141 0 142 98 -7 c58 -4 111 -14 132 -24z M6470 905 l0 -465 285 0 285 0 0 85 0 85 -185 0 -185 0 0 380 0 380 -100 0 -100 0 0 -465z M7210 905 l0 -465 105 0 105 0 0 465 0 465 -105 0 -105 0 0 -465z M7650 903 l0 -466 183 6 c196 6 264 20 350 70 118 70 187 219 187 406 -1 231 -102 378 -299 433 -52 14 -102 18 -243 18 l-178 0 0 -467z m353 296 c48 -13 102 -60 130 -113 16 -32 22 -64 25 -147 5 -139 -12 -204 -71 -262 -48 -48 -99 -67 -181 -67 l-56 0 0 300 0 300 58 0 c31 0 74 -5 95 -11z M8560 905 l0 -465 295 0 295 0 0 85 0 85 -195 0 -195 0 0 115 0 115 160 0 160 0 0 85 0 85 -160 0 -161 0 3 98 3 97 188 3 187 2 0 80 0 80 -290 0 -290 0 0 -465z M9350 906 l0 -466 100 0 100 0 0 170 0 171 67 -3 66 -3 90 -167 89 -168 110 0 c84 0 109 3 105 13 -3 6 -50 91 -106 187 -86 150 -98 176 -85 185 100 63 143 129 152 231 10 132 -37 223 -145 276 l-67 33 -238 3 -238 4 0 -466z m430 289 c42 -22 60 -53 60 -107 0 -105 -45 -139 -191 -146 l-99 -5 0 143 0 143 101 -7 c56 -3 113 -13 129 -21z\"\n                        transform=\"translate(76.55956566909333, 21.499999999999545) scale(0.25, 0.25) translate(0.000000,172.000000) scale(0.100000,-0.100000)\"\n                        fill=\"#000000\" stroke=\"none\" fill-opacity=\"0.53\" id=\"path121\" />\n                </g>\n            </g>\n        </g>\n        <g id=\"shape-4d9e9e72-9871-11ec-ba4b-85be5386d06b\">\n            <g id=\"shape-4d9e9e7e-9871-11ec-ba4b-85be5386d06b\">\n                <rect rx=\"4\" ry=\"4\" x=\"34.55956566909333\" y=\"74.49999999999955\" transform=\"matrix(1,0,0,1,0,0)\"\n                    width=\"90\" height=\"34\"\n                    style=\"fill: rgb(243, 235, 227); fill-opacity: 1; stroke-width: 2; stroke: rgb(217, 202, 193); stroke-opacity: 1;\"\n                    id=\"rect127\" />\n            </g>\n            <g id=\"shape-4d9e9e54-9871-11ec-ba4b-85be5386d06b\">\n                <defs id=\"defs133\">\n                    <marker refX=\"2\" fill-opacity=\"1\" orient=\"auto-start-reverse\"\n                        id=\"marker-11db7c12-9882-11ec-b1a2-29a53b804963-line-arrow\" viewBox=\"0 0 3 6\" fill=\"#d9cac1\"\n                        refY=\"3\" markerWidth=\"8.5\" markerHeight=\"8.5\">\n                        <path d=\"M 0.5 0.5 L 3 3 L 0.5 5.5 L 0 5 L 2 3 L 0 1 z\" id=\"path130\" />\n                    </marker>\n                </defs>\n                <path\n                    d=\"M124.23361038444364,83.26623904111602C138.1842898910038,83.26623904111602,146.68652386624785,89.94105910791313,153.5,108.49999397861757\"\n                    style=\"fill: none; stroke-width: 2; stroke: rgb(217, 202, 193); stroke-opacity: 1; marker-end: url(&quot;#marker-11db7c12-9882-11ec-b1a2-29a53b804963-line-arrow&quot;);\"\n                    id=\"path135\" />\n            </g>\n            <g id=\"shape-4d9e9e6b-9871-11ec-ba4b-85be5386d06b\">\n                <g id=\"g140\">\n                    <path\n                        d=\"M200 457 c0 -198 6 -217 66 -217 30 0 34 3 34 25 0 14 -7 28 -15 31 -12 5 -15 34 -15 170 l0 164 -35 0 -35 0 0 -173z M1812 560 c2 -39 1 -70 -2 -70 -3 0 -14 7 -24 15 -43 33 -108 5 -137 -58 -23 -52 -24 -85 -3 -136 26 -66 91 -91 143 -55 22 16 24 16 33 0 5 -9 20 -16 33 -16 l25 0 0 195 0 195 -36 0 -36 0 4 -70z m-18 -106 c23 -9 23 -139 0 -148 -56 -22 -84 4 -84 78 0 63 32 90 84 70z M924 550 c-5 -30 -11 -40 -25 -40 -27 0 -26 -46 1 -53 18 -5 20 -14 20 -87 0 -73 2 -83 25 -106 20 -20 33 -25 68 -22 34 2 42 7 42 23 0 12 -8 21 -20 23 -38 8 -45 22 -45 98 l0 74 30 0 c25 0 30 4 30 25 0 21 -5 25 -30 25 -28 0 -30 2 -30 40 0 38 -2 40 -30 40 -27 0 -30 -4 -36 -40z M1220 560 l0 -30 80 0 c44 0 80 -2 80 -4 0 -3 -13 -26 -30 -53 -31 -51 -60 -146 -60 -200 0 -31 2 -33 34 -33 l33 0 7 64 c9 88 31 156 66 204 16 23 30 51 30 62 0 19 -6 20 -120 20 l-120 0 0 -30z M400 505 c-44 -20 -44 -20 -29 -43 10 -16 17 -18 31 -11 11 6 36 9 56 7 30 -2 38 -7 40 -25 3 -19 -1 -23 -22 -23 -37 0 -105 -30 -116 -51 -42 -77 47 -153 119 -103 22 16 24 16 33 0 5 -9 22 -16 38 -16 l30 0 0 73 c-1 96 -13 155 -38 179 -26 27 -97 33 -142 13z m100 -165 c0 -23 -6 -33 -24 -42 -33 -14 -56 -4 -56 26 0 27 23 45 58 46 18 0 22 -5 22 -30z M688 504 c-31 -16 -44 -51 -34 -89 4 -17 23 -33 59 -51 59 -30 70 -43 55 -61 -13 -16 -52 -17 -79 -2 -15 7 -24 7 -35 -2 -21 -17 -17 -27 16 -44 61 -31 154 -9 166 40 12 49 -3 73 -66 105 -64 32 -69 40 -45 60 12 10 24 11 50 3 57 -18 80 26 24 46 -43 15 -78 13 -111 -5z M2010 505 c-44 -20 -44 -20 -29 -43 10 -16 17 -18 31 -11 11 6 36 9 56 7 30 -2 38 -7 40 -25 3 -19 -1 -23 -22 -23 -37 0 -105 -30 -116 -51 -42 -77 47 -153 119 -103 22 16 24 16 33 0 5 -9 22 -16 38 -16 l30 0 0 73 c-1 96 -13 155 -38 179 -26 27 -97 33 -142 13z m100 -165 c0 -23 -6 -33 -24 -42 -33 -14 -56 -4 -56 26 0 27 23 45 58 46 18 0 22 -5 22 -30z M2588 504 c-31 -16 -44 -51 -34 -89 4 -17 23 -33 59 -51 59 -30 70 -43 55 -61 -13 -16 -52 -17 -79 -2 -15 7 -24 7 -35 -2 -21 -17 -17 -27 16 -44 61 -31 154 -9 166 40 12 49 -3 73 -66 105 -64 32 -69 40 -45 60 12 10 24 11 50 3 57 -18 80 26 24 46 -43 15 -78 13 -111 -5z M2259 463 c10 -26 33 -83 50 -126 17 -43 31 -86 31 -96 0 -21 -30 -51 -52 -51 -15 0 -28 -19 -28 -41 0 -13 72 -10 91 4 29 22 48 62 98 205 28 79 51 146 51 148 0 2 -15 4 -33 4 -34 0 -34 0 -55 -79 -12 -43 -22 -86 -22 -95 0 -41 -20 -8 -47 77 l-29 92 -37 3 -37 3 19 -48z\"\n                        transform=\"translate(42.55956566909333, 82.49999999999955) scale(0.25, 0.25) translate(0.000000,76.000000) scale(0.100000,-0.100000)\"\n                        fill=\"#8b8a8a\" stroke=\"none\" id=\"path138\" />\n                </g>\n            </g>\n        </g>\n        <g id=\"shape-4d9e9e67-9871-11ec-ba4b-85be5386d06b\">\n            <g id=\"shape-4d9e9e7d-9871-11ec-ba4b-85be5386d06b\">\n                <g id=\"shape-4d9e9e7c-9871-11ec-ba4b-85be5386d06b\">\n                    <rect rx=\"4\" ry=\"4\" x=\"287.55956566909333\" y=\"74.49999999999955\" transform=\"matrix(1,0,0,1,0,0)\"\n                        width=\"90\" height=\"34\"\n                        style=\"fill: rgb(243, 235, 227); fill-opacity: 1; stroke-width: 2; stroke: rgb(217, 202, 193); stroke-opacity: 1;\"\n                        id=\"rect144\" />\n                </g>\n                <g id=\"shape-4d9e9e7b-9871-11ec-ba4b-85be5386d06b\">\n                    <g id=\"g149\">\n                        <path\n                            d=\"M50 455 c0 -162 2 -177 20 -195 11 -11 33 -20 50 -20 27 0 30 3 30 30 0 20 -5 30 -15 30 -13 0 -15 25 -15 165 l0 165 -35 0 -35 0 0 -175z M1960 560 l0 -70 -25 16 c-17 11 -35 14 -58 10 -133 -25 -126 -276 8 -276 17 0 40 7 51 15 25 19 34 19 34 0 0 -10 10 -15 30 -15 l30 0 0 195 0 195 -35 0 -35 0 0 -70z m-16 -106 c12 -5 16 -21 16 -68 0 -68 -10 -86 -51 -86 -37 0 -53 24 -53 80 0 27 6 55 13 64 14 16 47 21 75 10z M1124 586 c-41 -18 -50 -34 -31 -53 12 -12 19 -13 36 -3 12 6 36 10 54 8 27 -2 33 -8 35 -31 4 -37 -13 -57 -49 -57 -24 0 -29 -4 -29 -23 0 -19 8 -25 44 -35 47 -12 64 -39 45 -74 -12 -22 -85 -25 -114 -4 -17 12 -21 12 -32 -3 -20 -26 -15 -38 21 -55 66 -31 155 -15 190 36 25 36 19 67 -19 104 -34 31 -34 33 -16 46 31 22 44 59 32 90 -20 54 -106 82 -167 54z M1441 583 c-50 -26 -71 -73 -71 -161 0 -119 42 -182 122 -182 70 0 118 72 118 179 0 130 -82 210 -169 164z m85 -68 c24 -37 17 -191 -10 -211 -29 -20 -43 -17 -63 13 -21 32 -24 165 -5 201 17 30 57 29 78 -3z M776 550 c-5 -31 -11 -40 -26 -40 -15 0 -20 -7 -20 -25 0 -18 5 -25 20 -25 18 0 20 -7 20 -85 0 -78 2 -88 25 -110 18 -19 35 -25 70 -25 41 0 45 2 45 25 0 19 -5 25 -23 25 -38 0 -47 19 -47 97 l0 73 35 0 c31 0 35 3 35 25 0 22 -4 25 -35 25 -34 0 -35 1 -35 40 0 37 -2 40 -29 40 -25 0 -29 -4 -35 -40z M248 504 c-34 -14 -36 -18 -26 -39 9 -20 14 -22 30 -14 10 6 36 9 56 7 29 -2 38 -8 40 -24 3 -19 -3 -23 -42 -28 -91 -14 -132 -81 -85 -140 24 -30 73 -35 105 -11 25 19 44 19 44 0 0 -10 10 -15 31 -15 l31 0 -4 110 c-3 103 -5 112 -29 136 -33 33 -98 41 -151 18z m112 -159 c0 -30 -40 -59 -70 -50 -28 9 -27 53 3 65 43 17 67 12 67 -15z M560 513 c-30 -11 -60 -47 -60 -73 0 -31 29 -61 85 -87 54 -24 56 -58 5 -58 -19 1 -45 4 -57 8 -16 6 -24 3 -33 -12 -9 -17 -6 -22 19 -36 38 -19 94 -19 130 0 32 16 41 33 41 74 0 33 -21 54 -77 76 -68 27 -53 81 16 57 24 -9 32 -7 47 9 16 18 16 19 -19 34 -37 15 -70 18 -97 8z M2163 507 c-43 -16 -47 -22 -33 -46 9 -17 15 -19 30 -11 26 14 73 13 88 -2 21 -21 14 -38 -15 -38 -47 -1 -112 -36 -124 -67 -14 -38 10 -90 47 -99 25 -6 38 -3 97 21 12 5 17 2 17 -9 0 -11 9 -16 31 -16 l31 0 -4 115 c-3 101 -5 117 -24 136 -26 26 -95 34 -141 16z m97 -167 c0 -50 -70 -68 -87 -24 -8 22 30 54 63 54 20 0 24 -5 24 -30z M2738 504 c-31 -16 -44 -51 -34 -89 4 -17 23 -33 59 -51 59 -30 70 -43 55 -61 -13 -16 -52 -17 -79 -2 -15 7 -24 7 -35 -2 -21 -17 -17 -27 16 -44 61 -31 154 -9 166 40 12 49 -3 73 -66 105 -64 32 -69 40 -45 60 12 10 24 11 50 3 57 -18 80 26 24 46 -43 15 -78 13 -111 -5z M2393 498 c3 -7 26 -67 53 -132 44 -111 46 -121 33 -145 -8 -14 -25 -28 -39 -31 -16 -4 -26 -14 -28 -28 -3 -19 1 -22 32 -22 65 0 90 35 151 213 l55 157 -34 0 c-33 0 -33 0 -56 -82 -28 -101 -36 -120 -44 -98 -2 8 -16 52 -31 98 l-27 82 -35 0 c-24 0 -34 -4 -30 -12z\"\n                            transform=\"translate(295.55956566909333, 82.49999999999955) scale(0.25, 0.25) translate(0.000000,76.000000) scale(0.100000,-0.100000)\"\n                            fill=\"#8b8a8a\" stroke=\"none\" id=\"path147\" />\n                    </g>\n                </g>\n            </g>\n            <g id=\"shape-4d9e9e52-9871-11ec-ba4b-85be5386d06b\">\n                <defs id=\"defs156\">\n                    <marker refX=\"2\" fill-opacity=\"1\" orient=\"auto-start-reverse\"\n                        id=\"marker-11dbf141-9882-11ec-b1a2-29a53b804963-line-arrow\" viewBox=\"0 0 3 6\" fill=\"#d9cac1\"\n                        refY=\"3\" markerWidth=\"8.5\" markerHeight=\"8.5\">\n                        <path d=\"M 0.5 0.5 L 3 3 L 0.5 5.5 L 0 5 L 2 3 L 0 1 z\" id=\"path153\" />\n                    </marker>\n                </defs>\n                <path\n                    d=\"M288.23110148342914,83.26623904111602C274.28042197686875,83.26623904111602,265.7781880016247,89.94105910791313,258.9647118678728,108.49999397861757\"\n                    style=\"fill: none; stroke-width: 2; stroke: rgb(217, 202, 193); stroke-opacity: 1; marker-end: url(&quot;#marker-11dbf141-9882-11ec-b1a2-29a53b804963-line-arrow&quot;);\"\n                    id=\"path158\" />\n            </g>\n        </g>\n        <g id=\"shape-4d9e9e51-9871-11ec-ba4b-85be5386d06b\">\n            <g id=\"shape-4d9e9e77-9871-11ec-ba4b-85be5386d06b\">\n                <g id=\"shape-4d9e9e80-9871-11ec-ba4b-85be5386d06b\">\n                    <rect rx=\"4\" ry=\"4\" x=\"287.55956566909333\" y=\"375.49999999999955\" transform=\"matrix(1,0,0,1,0,0)\"\n                        width=\"90\" height=\"34\"\n                        style=\"fill: rgb(243, 235, 227); fill-opacity: 1; stroke-width: 2; stroke: rgb(217, 202, 193); stroke-opacity: 1;\"\n                        id=\"rect162\" />\n                </g>\n                <g id=\"shape-4d9e9e59-9871-11ec-ba4b-85be5386d06b\">\n                    <g id=\"g167\">\n                        <path\n                            d=\"M1472 560 c2 -39 1 -70 -2 -70 -3 0 -14 7 -24 15 -43 33 -108 5 -137 -58 -23 -52 -24 -85 -3 -136 26 -66 91 -91 143 -55 22 16 24 16 33 0 5 -9 20 -16 33 -16 l25 0 0 195 0 195 -36 0 -36 0 4 -70z m-18 -106 c23 -9 23 -139 0 -148 -56 -22 -84 4 -84 78 0 63 32 90 84 70z M806 550 c-5 -31 -11 -40 -26 -40 -15 0 -20 -7 -20 -25 0 -18 5 -25 20 -25 18 0 20 -7 20 -85 0 -78 2 -88 25 -110 18 -19 35 -25 70 -25 41 0 45 2 45 25 0 19 -5 25 -23 25 -38 0 -47 19 -47 97 l0 73 35 0 c31 0 35 3 35 25 0 22 -4 25 -35 25 -34 0 -35 1 -35 40 0 37 -2 40 -29 40 -25 0 -29 -4 -35 -40z M1053 505 c-95 -41 -97 -201 -4 -250 124 -64 248 98 160 209 -42 53 -96 67 -156 41z m97 -64 c5 -11 10 -38 10 -61 0 -57 -14 -80 -49 -80 -39 0 -56 24 -56 80 0 26 6 54 14 63 19 23 68 22 81 -2z M1670 505 c-44 -20 -44 -20 -29 -43 10 -16 17 -18 31 -11 11 6 36 9 56 7 30 -2 38 -7 40 -25 3 -19 -1 -23 -22 -23 -37 0 -105 -30 -116 -51 -42 -77 47 -153 119 -103 22 16 24 16 33 0 5 -9 22 -16 38 -16 l30 0 0 73 c-1 96 -13 155 -38 179 -26 27 -97 33 -142 13z m100 -165 c0 -23 -6 -33 -24 -42 -33 -14 -56 -4 -56 26 0 27 23 45 58 46 18 0 22 -5 22 -30z M1903 498 c3 -7 26 -67 53 -132 44 -111 46 -121 33 -145 -8 -14 -25 -28 -39 -31 -16 -4 -26 -14 -28 -28 -3 -19 1 -22 32 -22 65 0 90 35 151 213 l55 157 -34 0 c-33 0 -33 0 -56 -82 -28 -101 -36 -120 -44 -98 -2 8 -16 52 -31 98 l-27 82 -35 0 c-24 0 -34 -4 -30 -12z\"\n                            transform=\"translate(295.55956566909333, 383.49999999999955) scale(0.25, 0.25) translate(0.000000,76.000000) scale(0.100000,-0.100000)\"\n                            fill=\"#8b8a8a\" stroke=\"none\" id=\"path165\" />\n                    </g>\n                </g>\n            </g>\n            <g id=\"shape-4d9e9e62-9871-11ec-ba4b-85be5386d06b\">\n                <defs id=\"defs174\">\n                    <marker refX=\"2\" fill-opacity=\"1\" orient=\"auto-start-reverse\"\n                        id=\"marker-11dc3f61-9882-11ec-b1a2-29a53b804963-line-arrow\" viewBox=\"0 0 3 6\" fill=\"#d9cac1\"\n                        refY=\"3\" markerWidth=\"8.5\" markerHeight=\"8.5\">\n                        <path d=\"M 0.5 0.5 L 3 3 L 0.5 5.5 L 0 5 L 2 3 L 0 1 z\" id=\"path171\" />\n                    </marker>\n                </defs>\n                <path\n                    d=\"M287.15203752333707,402.73374650756614C273.2013580167769,402.73374650756614,264.69912404153285,396.058926440769,257.8856479077807,377.4999915700646\"\n                    style=\"fill: none; stroke-width: 2; stroke: rgb(217, 202, 193); stroke-opacity: 1; marker-end: url(&quot;#marker-11dc3f61-9882-11ec-b1a2-29a53b804963-line-arrow&quot;);\"\n                    id=\"path176\" />\n            </g>\n        </g>\n    </g>\n</svg>","clickableShapes":[],"javascriptHandlers":[],"smilAnimations":[],"bindings":[],"showCoordinates":false,"autoFormatAfterEdit":false,"showBrowserErrors":false,"showBrowserEvents":false,"enableJsDebugging":false,"sendMsgWhenLoaded":false,"noClickWhenDblClick":false,"outputField":"payload","editorUrl":"//drawsvg.org/drawsvg.html","directory":"","panning":"disabled","zooming":"disabled","panOnlyWhenZoomed":false,"doubleClickZoomEnabled":false,"mouseWheelZoomEnabled":false,"dblClickZoomPercentage":150,"cssString":"div.ui-svg svg{\n    color: var(--nr-dashboard-widgetColor);\n    fill: currentColor !important;\n}\ndiv.ui-svg path {\n    fill: inherit;\n}","name":"","x":1236,"y":363,"wires":[[]]},{"id":"16813a8016585fa6","type":"FlowHub","z":"0acf1aad335472c6","x":933,"y":806,"wires":[]}]