5299e45175c85820/flows.json
[{"id":"5299e45175c85820","type":"tab","label":"[sound] Jingle Bells","disabled":false,"info":"### Jingle Bells\n\n### Resources\n\n- https://mypianonotes.com/jingle-bells\n- https://muted.io/note-frequencies/\n- https://pages.mtu.edu/~suits/notefreqs.html\n","env":[]},{"id":"f58af9210907988f","type":"group","z":"5299e45175c85820","name":"notes","style":{"label":true},"nodes":["d0eebad3f769f635","0fd29409312c83d6","0781f9c6c765979e","fb21eee8145496b3","d7ae533a02b847bf"],"x":2028,"y":464,"w":235,"h":290},{"id":"9a363ed6c020f9b1","type":"group","z":"5299e45175c85820","name":"Merry Xmas - Press Play","style":{"fill":"#e3f3d3","label":true},"nodes":["6671dddf8779f1b9"],"x":3479,"y":44.66666793823242,"w":212,"h":82},{"id":"38e715fc6b57fc18","type":"group","z":"5299e45175c85820","name":"Jingle Bells","style":{"label":true},"nodes":["1019c17f078283d9","4420a1cdba94e91f","d7349b2cad374ac5","be76e6cfde384ade","9f2aec8c851fd10a","38b26457d4aa2dde","0f0a4be83ab872c1","da2f1830a319c50d","3ae9bf2b7237f610","6ec75666ddeb78e3","7eba9f1c26239a18"],"x":3901.6669921875,"y":132.99999046325684,"w":873,"h":522},{"id":"19a4e06f97f3aba6","type":"group","z":"5299e45175c85820","name":"Jingle Bells","style":{"label":true},"nodes":["1f4b5aba174bfb62","7c1b5fa1139c28bd","4722a513dd8e2377","fb6bf00d332d9103","9c901d302c849a32","ad925ca764d24ca6","be5f87229cd1369c","c0572d93dabc562d","f027a94d61c3e836","54cc6a7bc39e74c8","5111bc5d0e9eef99","33d820653f9f1f28","f9d9bb5a2736d5b3"],"x":4843.66609954834,"y":176.66666221618652,"w":685.0004043579102,"h":584.0000057220459},{"id":"88be68b12d42ec80","type":"group","z":"5299e45175c85820","name":"Jingle All The Way","style":{"label":true},"nodes":["a3e53480160f9790","74a4b7194d660ee9","0fb4299185a6e16e","c25dab8b39f99e61","b049b1e5f36aa8f7","ae5e0f1ded1b7da5","ded37f3b8536e3c7","55e98f24dc0b4c76","13dccf54657a5e6d","ae7bdcf622bf5d52","525165287be4a8b5","1ca0d590c31bb62c","4fd9a9411bd5d448","80b86fd8ebe5a1b1","9afda5460e77fda4","20b6f24b5301dd52","9c8c78b7d9947dd5","fb1d638e2217bec6","8b53fa707baa0183"],"x":5656.666748046875,"y":206.33331775665283,"w":764.9999160766602,"h":757.3333425521851},{"id":"7d8906144b43976d","type":"group","z":"5299e45175c85820","name":"Oh What Fun It Is To Ride","style":{"label":true},"nodes":["d9d72db54946e21e","74e75694f679bf6f","0b3bedcd215bbda7","b19db705bf174de9","c8c82b50b71e3bd2","bb1708a97b270fc9","05858bcf67e55f5d","8a526d43858ad479","f062fa9e30810ecf","332fd7d074ce430b","2a6a1a4faa437b56","a8c3dbc12eebc6b2","2bc3d56833a5f09d","d0c9f2123299338c","e9ce5966d53cf18d","6b67d059989eccc0","958e4845fe9dee73","0115842aca8fde9c","c303f775624cbce6","e5dfc702d9e14cd8","1ad5db520794bf79","d9888ac10085cc9b","5669c26cc7821938","dad72ed9abd29a99","ae84f40dc8c47947"],"x":6555.999401092529,"y":247.9999771118164,"w":1039.3339881896973,"h":767.9999980926514},{"id":"d0eebad3f769f635","type":"change","z":"5299e45175c85820","g":"f58af9210907988f","name":"sawtooth - 450 Hz","rules":[{"t":"set","p":"shape","pt":"msg","to":"sawtooth","tot":"str"},{"t":"set","p":"duration","pt":"msg","to":"1100","tot":"str"},{"t":"set","p":"frequency","pt":"msg","to":"450","tot":"str"},{"t":"set","p":"volume","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2147,"y":655,"wires":[[]]},{"id":"0fd29409312c83d6","type":"change","z":"5299e45175c85820","g":"f58af9210907988f","name":"square - 450 Hz","rules":[{"t":"set","p":"shape","pt":"msg","to":"square","tot":"str"},{"t":"set","p":"duration","pt":"msg","to":"1100","tot":"str"},{"t":"set","p":"frequency","pt":"msg","to":"450","tot":"str"},{"t":"set","p":"volume","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2138,"y":608,"wires":[[]]},{"id":"0781f9c6c765979e","type":"change","z":"5299e45175c85820","g":"f58af9210907988f","name":"sine - 450 Hz","rules":[{"t":"set","p":"shape","pt":"msg","to":"sine","tot":"str"},{"t":"set","p":"duration","pt":"msg","to":"1100","tot":"str"},{"t":"set","p":"frequency","pt":"msg","to":"450","tot":"str"},{"t":"set","p":"volume","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2125,"y":713,"wires":[[]]},{"id":"fb21eee8145496b3","type":"change","z":"5299e45175c85820","g":"f58af9210907988f","name":"triangle - 410 Hz","rules":[{"t":"set","p":"shape","pt":"msg","to":"triangle","tot":"str"},{"t":"set","p":"duration","pt":"msg","to":"1100","tot":"str"},{"t":"set","p":"frequency","pt":"msg","to":"410","tot":"str"},{"t":"set","p":"volume","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2138,"y":557,"wires":[[]]},{"id":"d7ae533a02b847bf","type":"change","z":"5299e45175c85820","g":"f58af9210907988f","name":"custom - 410 Hz","rules":[{"t":"set","p":"shape","pt":"msg","to":"custom","tot":"str"},{"t":"set","p":"duration","pt":"msg","to":"1100","tot":"str"},{"t":"set","p":"frequency","pt":"msg","to":"410","tot":"str"},{"t":"set","p":"volume","pt":"msg","to":"1","tot":"str"},{"t":"set","p":"realTable","pt":"msg","to":"[0,1,2,1,0]","tot":"json"},{"t":"set","p":"imagTable","pt":"msg","to":"[0,0,0,0,0]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":2144,"y":505,"wires":[[]]},{"id":"57ea1121b671e90d","type":"change","z":"5299e45175c85820","name":"A4 - triangle - 440 Hz","rules":[{"t":"set","p":"shape","pt":"msg","to":"triangle","tot":"str"},{"t":"set","p":"duration","pt":"msg","to":"100","tot":"str"},{"t":"set","p":"frequency","pt":"msg","to":"440","tot":"str"},{"t":"set","p":"volume","pt":"msg","to":"0.7","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2867,"y":437,"wires":[["3a0a1b71fccbb4b3"]]},{"id":"1ea680a54a077b67","type":"inject","z":"5299e45175c85820","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":2612,"y":251,"wires":[["57ea1121b671e90d"]]},{"id":"3a0a1b71fccbb4b3","type":"ClientCode","z":"5299e45175c85820","name":"Oscillator","clientcode":"var context = window.audiocontext || new AudioContext();\nwindow.audiocontext = context;\n\nvar frequency = parseInt(msg.frequency, 10) || node.frequency || 440;\nvar duration = parseInt(msg.duration, 10);\nif (duration != 0 && !duration) {\n    duration = node.duration || 500;\n}\n\nif (duration > 0) {\n    var oscillator = context.createOscillator();\n\n    oscillator.addEventListener(\"ended\", () => {\n        node.send({ payload: \"stop\" })\n    })\n\n    oscillator.frequency.value = frequency;\n\n    if ( msg.shape == 'custom' ) {\n        var real = new Float32Array(msg.realTable);\n        var imag;\n        if (msg.imagTable && Array.isArray(msg.imagTable)) {\n            imag = new Float32Array(msg.imagTable);\n        } else {\n            imag = new Float32Array(real.length);\n        }\n        var pWave = context.createPeriodicWave(real, imag);\n        oscillator.setPeriodicWave(pWave);\n        //oscillator.type = 'custom'\n    } else {\n        oscillator.type = msg.shape || node.shape || 'sine';\n    }\n\n    let g = new GainNode(context);\n    let vol = msg.volume || 1\n\n    oscillator.connect(g).connect(context.destination);\n\n    let startTime = context.currentTime\n\n    g.gain.setValueAtTime(0, startTime);\n    g.gain.linearRampToValueAtTime(vol, startTime + ((duration/1000) * 0.5));\n\n    setTimeout( () => {\n        node.send({ payload: \"start\" })\n    }, 10)\n    oscillator.start(startTime);\n\n    setTimeout(function () {\n        let stopTime = context.currentTime + 1;\n        g.gain.setValueAtTime(vol, stopTime - 0.5);\n        g.gain.linearRampToValueAtTime(0, stopTime);\n        oscillator.stop(stopTime);\n        \n        setTimeout(() => { oscillator = undefined }, 1100)\n    }, duration);\n}","format":"javascript","x":3351,"y":795,"wires":[["267553eb47249460"]]},{"id":"e9ab14b9b761190c","type":"change","z":"5299e45175c85820","name":"G4 - triangle - 392 Hz","rules":[{"t":"set","p":"shape","pt":"msg","to":"triangle","tot":"str"},{"t":"set","p":"duration","pt":"msg","to":"100","tot":"str"},{"t":"set","p":"frequency","pt":"msg","to":"392","tot":"str"},{"t":"set","p":"volume","pt":"msg","to":"0.6","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2862,"y":604,"wires":[["3a0a1b71fccbb4b3"]]},{"id":"1668bbb5a8f2aef5","type":"inject","z":"5299e45175c85820","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":2473,"y":513,"wires":[["e9ab14b9b761190c"]]},{"id":"af8d6dcaa4d49642","type":"change","z":"5299e45175c85820","name":"G4 - triangle - 392 Hz","rules":[{"t":"set","p":"shape","pt":"msg","to":"triangle","tot":"str"},{"t":"set","p":"duration","pt":"msg","to":"100","tot":"str"},{"t":"set","p":"frequency","pt":"msg","to":"392","tot":"str"},{"t":"set","p":"volume","pt":"msg","to":"0.9","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2859,"y":681,"wires":[["3a0a1b71fccbb4b3"]]},{"id":"aac5819379bf2e0c","type":"inject","z":"5299e45175c85820","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":2452,"y":626,"wires":[["af8d6dcaa4d49642"]]},{"id":"d2b91d67605ea615","type":"change","z":"5299e45175c85820","name":"G4 - triangle - 392 Hz","rules":[{"t":"set","p":"shape","pt":"msg","to":"triangle","tot":"str"},{"t":"set","p":"duration","pt":"msg","to":"100","tot":"str"},{"t":"set","p":"frequency","pt":"msg","to":"392","tot":"str"},{"t":"set","p":"volume","pt":"msg","to":"0.3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2860,"y":538,"wires":[["3a0a1b71fccbb4b3"]]},{"id":"806fba79829760b6","type":"inject","z":"5299e45175c85820","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":2513,"y":449,"wires":[["d2b91d67605ea615"]]},{"id":"42d2b5f554c5a3e8","type":"change","z":"5299e45175c85820","name":"F4 - triangle -  349.23 Hz - v: 0.6","rules":[{"t":"set","p":"shape","pt":"msg","to":"triangle","tot":"str"},{"t":"set","p":"duration","pt":"msg","to":"100","tot":"str"},{"t":"set","p":"frequency","pt":"msg","to":"349.23","tot":"str"},{"t":"set","p":"volume","pt":"msg","to":"0.6","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2868,"y":804,"wires":[["3a0a1b71fccbb4b3"]]},{"id":"64d3717f84c4ef61","type":"inject","z":"5299e45175c85820","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":2381,"y":927,"wires":[["42d2b5f554c5a3e8"]]},{"id":"df078e216d6ed570","type":"change","z":"5299e45175c85820","name":"B4 - triangle -   493.88 Hz - v: 0.3","rules":[{"t":"set","p":"shape","pt":"msg","to":"triangle","tot":"str"},{"t":"set","p":"duration","pt":"msg","to":"100","tot":"str"},{"t":"set","p":"frequency","pt":"msg","to":"493.88","tot":"str"},{"t":"set","p":"volume","pt":"msg","to":"0.1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2915,"y":928,"wires":[["3a0a1b71fccbb4b3"]]},{"id":"d53d9fb4d75d8141","type":"inject","z":"5299e45175c85820","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":2569,"y":1063,"wires":[["df078e216d6ed570"]]},{"id":"6671dddf8779f1b9","type":"inject","z":"5299e45175c85820","g":"9a363ed6c020f9b1","name":"Play Button","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":3595,"y":85.66666793823242,"wires":[["1019c17f078283d9","6ec75666ddeb78e3"]]},{"id":"267553eb47249460","type":"debug","z":"5299e45175c85820","name":"debug 114","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":3566,"y":647,"wires":[]},{"id":"1019c17f078283d9","type":"change","z":"5299e45175c85820","g":"38e715fc6b57fc18","name":"B4 - triangle -   493.88 Hz - v: 0.3","rules":[{"t":"set","p":"shape","pt":"msg","to":"triangle","tot":"str"},{"t":"set","p":"duration","pt":"msg","to":"100","tot":"str"},{"t":"set","p":"frequency","pt":"msg","to":"493.88","tot":"str"},{"t":"set","p":"volume","pt":"msg","to":"0.1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":4057.6669921875,"y":193.99999046325684,"wires":[["9f2aec8c851fd10a"]]},{"id":"4420a1cdba94e91f","type":"switch","z":"5299e45175c85820","g":"38e715fc6b57fc18","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"stop","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":4322.6669921875,"y":227.99999046325684,"wires":[["d7349b2cad374ac5"]]},{"id":"d7349b2cad374ac5","type":"change","z":"5299e45175c85820","g":"38e715fc6b57fc18","name":"B4 - triangle -   493.88 Hz - v: 0.3","rules":[{"t":"set","p":"shape","pt":"msg","to":"triangle","tot":"str"},{"t":"set","p":"duration","pt":"msg","to":"100","tot":"str"},{"t":"set","p":"frequency","pt":"msg","to":"493.88","tot":"str"},{"t":"set","p":"volume","pt":"msg","to":"0.1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":4346.6669921875,"y":285.99999046325684,"wires":[["38b26457d4aa2dde"]]},{"id":"be76e6cfde384ade","type":"switch","z":"5299e45175c85820","g":"38e715fc6b57fc18","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"stop","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":4524.6669921875,"y":413.99999046325684,"wires":[["0f0a4be83ab872c1"]]},{"id":"9f2aec8c851fd10a","type":"ClientCode","z":"5299e45175c85820","g":"38e715fc6b57fc18","name":"Oscillator","clientcode":"var context = window.audiocontext || new AudioContext();\nwindow.audiocontext = context;\n\nvar frequency = parseInt(msg.frequency, 10) || node.frequency || 440;\nvar duration = parseInt(msg.duration, 10);\nif (duration != 0 && !duration) {\n    duration = node.duration || 500;\n}\n\nif (duration > 0) {\n    var oscillator = context.createOscillator();\n\n    oscillator.addEventListener(\"ended\", () => {\n        node.send({ payload: \"stop\" })\n    })\n\n    oscillator.frequency.value = frequency;\n\n    if ( msg.shape == 'custom' ) {\n        var real = new Float32Array(msg.realTable);\n        var imag;\n        if (msg.imagTable && Array.isArray(msg.imagTable)) {\n            imag = new Float32Array(msg.imagTable);\n        } else {\n            imag = new Float32Array(real.length);\n        }\n        var pWave = context.createPeriodicWave(real, imag);\n        oscillator.setPeriodicWave(pWave);\n        //oscillator.type = 'custom'\n    } else {\n        oscillator.type = msg.shape || node.shape || 'sine';\n    }\n\n    let g = new GainNode(context);\n    let vol = msg.volume || 1\n\n    oscillator.connect(g).connect(context.destination);\n\n    let startTime = context.currentTime\n\n    g.gain.setValueAtTime(0, startTime);\n    g.gain.linearRampToValueAtTime(vol, startTime + ((duration/1000) * 0.5));\n\n    setTimeout( () => {\n        node.send({ payload: \"start\" })\n    }, 10)\n    oscillator.start(startTime);\n\n    setTimeout(function () {\n        let stopTime = context.currentTime + 1;\n        g.gain.setValueAtTime(vol, stopTime - 0.5);\n        g.gain.linearRampToValueAtTime(0, stopTime);\n        oscillator.stop(stopTime);\n        \n        setTimeout(() => { oscillator = undefined }, 1100)\n    }, duration);\n}","format":"javascript","x":4272.6669921875,"y":173.99999046325684,"wires":[["4420a1cdba94e91f"]]},{"id":"38b26457d4aa2dde","type":"ClientCode","z":"5299e45175c85820","g":"38e715fc6b57fc18","name":"Oscillator","clientcode":"var context = window.audiocontext || new AudioContext();\nwindow.audiocontext = context;\n\nvar frequency = parseInt(msg.frequency, 10) || node.frequency || 440;\nvar duration = parseInt(msg.duration, 10);\nif (duration != 0 && !duration) {\n    duration = node.duration || 500;\n}\n\nif (duration > 0) {\n    var oscillator = context.createOscillator();\n\n    oscillator.addEventListener(\"ended\", () => {\n        node.send({ payload: \"stop\" })\n    })\n\n    oscillator.frequency.value = frequency;\n\n    if ( msg.shape == 'custom' ) {\n        var real = new Float32Array(msg.realTable);\n        var imag;\n        if (msg.imagTable && Array.isArray(msg.imagTable)) {\n            imag = new Float32Array(msg.imagTable);\n        } else {\n            imag = new Float32Array(real.length);\n        }\n        var pWave = context.createPeriodicWave(real, imag);\n        oscillator.setPeriodicWave(pWave);\n        //oscillator.type = 'custom'\n    } else {\n        oscillator.type = msg.shape || node.shape || 'sine';\n    }\n\n    let g = new GainNode(context);\n    let vol = msg.volume || 1\n\n    oscillator.connect(g).connect(context.destination);\n\n    let startTime = context.currentTime\n\n    g.gain.setValueAtTime(0, startTime);\n    g.gain.linearRampToValueAtTime(vol, startTime + ((duration/1000) * 0.5));\n\n    setTimeout( () => {\n        node.send({ payload: \"start\" })\n    }, 10)\n    oscillator.start(startTime);\n\n    setTimeout(function () {\n        let stopTime = context.currentTime + 1;\n        g.gain.setValueAtTime(vol, stopTime - 0.5);\n        g.gain.linearRampToValueAtTime(0, stopTime);\n        oscillator.stop(stopTime);\n        \n        setTimeout(() => { oscillator = undefined }, 1100)\n    }, duration);\n}","format":"javascript","x":4454.6669921875,"y":353.99999046325684,"wires":[["be76e6cfde384ade"]]},{"id":"0f0a4be83ab872c1","type":"change","z":"5299e45175c85820","g":"38e715fc6b57fc18","name":"B4 - triangle -   493.88 Hz - v: 0.3","rules":[{"t":"set","p":"shape","pt":"msg","to":"triangle","tot":"str"},{"t":"set","p":"duration","pt":"msg","to":"100","tot":"str"},{"t":"set","p":"frequency","pt":"msg","to":"493.88","tot":"str"},{"t":"set","p":"volume","pt":"msg","to":"0.1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":4575.6669921875,"y":484.99999046325684,"wires":[["da2f1830a319c50d"]]},{"id":"da2f1830a319c50d","type":"ClientCode","z":"5299e45175c85820","g":"38e715fc6b57fc18","name":"Oscillator","clientcode":"var context = window.audiocontext || new AudioContext();\nwindow.audiocontext = context;\n\nvar frequency = parseInt(msg.frequency, 10) || node.frequency || 440;\nvar duration = parseInt(msg.duration, 10);\nif (duration != 0 && !duration) {\n    duration = node.duration || 500;\n}\n\nif (duration > 0) {\n    var oscillator = context.createOscillator();\n\n    oscillator.addEventListener(\"ended\", () => {\n        node.send({ payload: \"stop\" })\n    })\n\n    oscillator.frequency.value = frequency;\n\n    if ( msg.shape == 'custom' ) {\n        var real = new Float32Array(msg.realTable);\n        var imag;\n        if (msg.imagTable && Array.isArray(msg.imagTable)) {\n            imag = new Float32Array(msg.imagTable);\n        } else {\n            imag = new Float32Array(real.length);\n        }\n        var pWave = context.createPeriodicWave(real, imag);\n        oscillator.setPeriodicWave(pWave);\n        //oscillator.type = 'custom'\n    } else {\n        oscillator.type = msg.shape || node.shape || 'sine';\n    }\n\n    let g = new GainNode(context);\n    let vol = msg.volume || 1\n\n    oscillator.connect(g).connect(context.destination);\n\n    let startTime = context.currentTime\n\n    g.gain.setValueAtTime(0, startTime);\n    g.gain.linearRampToValueAtTime(vol, startTime + ((duration/1000) * 0.5));\n\n    setTimeout( () => {\n        node.send({ payload: \"start\" })\n    }, 10)\n    oscillator.start(startTime);\n\n    setTimeout(function () {\n        let stopTime = context.currentTime + 1;\n        g.gain.setValueAtTime(vol, stopTime - 0.5);\n        g.gain.linearRampToValueAtTime(0, stopTime);\n        oscillator.stop(stopTime);\n        \n        setTimeout(() => { oscillator = undefined }, 1100)\n    }, duration);\n}","format":"javascript","x":4625.6669921875,"y":559.9999904632568,"wires":[["3ae9bf2b7237f610"]]},{"id":"3ae9bf2b7237f610","type":"switch","z":"5299e45175c85820","g":"38e715fc6b57fc18","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"stop","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":4698.6669921875,"y":613.9999904632568,"wires":[["1f4b5aba174bfb62","5111bc5d0e9eef99"]]},{"id":"1f4b5aba174bfb62","type":"change","z":"5299e45175c85820","g":"19a4e06f97f3aba6","name":"B4 - triangle -   493.88 Hz - v: 0.3","rules":[{"t":"set","p":"shape","pt":"msg","to":"triangle","tot":"str"},{"t":"set","p":"duration","pt":"msg","to":"100","tot":"str"},{"t":"set","p":"frequency","pt":"msg","to":"493.88","tot":"str"},{"t":"set","p":"volume","pt":"msg","to":"0.1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":5065.666458129883,"y":217.66666221618652,"wires":[["9c901d302c849a32"]]},{"id":"7c1b5fa1139c28bd","type":"switch","z":"5299e45175c85820","g":"19a4e06f97f3aba6","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"stop","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":5175.333282470703,"y":336.6666593551636,"wires":[["4722a513dd8e2377"]]},{"id":"4722a513dd8e2377","type":"change","z":"5299e45175c85820","g":"19a4e06f97f3aba6","name":"B4 - triangle -   493.88 Hz - v: 0.3","rules":[{"t":"set","p":"shape","pt":"msg","to":"triangle","tot":"str"},{"t":"set","p":"duration","pt":"msg","to":"100","tot":"str"},{"t":"set","p":"frequency","pt":"msg","to":"493.88","tot":"str"},{"t":"set","p":"volume","pt":"msg","to":"0.1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":5225.99951171875,"y":392.9999942779541,"wires":[["ad925ca764d24ca6"]]},{"id":"fb6bf00d332d9103","type":"switch","z":"5299e45175c85820","g":"19a4e06f97f3aba6","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"stop","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":5360.666622161865,"y":514.3333263397217,"wires":[["be5f87229cd1369c"]]},{"id":"9c901d302c849a32","type":"ClientCode","z":"5299e45175c85820","g":"19a4e06f97f3aba6","name":"Oscillator","clientcode":"var context = window.audiocontext || new AudioContext();\nwindow.audiocontext = context;\n\nvar frequency = parseInt(msg.frequency, 10) || node.frequency || 440;\nvar duration = parseInt(msg.duration, 10);\nif (duration != 0 && !duration) {\n    duration = node.duration || 500;\n}\n\nif (duration > 0) {\n    var oscillator = context.createOscillator();\n\n    oscillator.addEventListener(\"ended\", () => {\n        node.send({ payload: \"stop\" })\n    })\n\n    oscillator.frequency.value = frequency;\n\n    if ( msg.shape == 'custom' ) {\n        var real = new Float32Array(msg.realTable);\n        var imag;\n        if (msg.imagTable && Array.isArray(msg.imagTable)) {\n            imag = new Float32Array(msg.imagTable);\n        } else {\n            imag = new Float32Array(real.length);\n        }\n        var pWave = context.createPeriodicWave(real, imag);\n        oscillator.setPeriodicWave(pWave);\n        //oscillator.type = 'custom'\n    } else {\n        oscillator.type = msg.shape || node.shape || 'sine';\n    }\n\n    let g = new GainNode(context);\n    let vol = msg.volume || 1\n\n    oscillator.connect(g).connect(context.destination);\n\n    let startTime = context.currentTime\n\n    g.gain.setValueAtTime(0, startTime);\n    g.gain.linearRampToValueAtTime(vol, startTime + ((duration/1000) * 0.5));\n\n    setTimeout( () => {\n        node.send({ payload: \"start\" })\n    }, 10)\n    oscillator.start(startTime);\n\n    setTimeout(function () {\n        let stopTime = context.currentTime + 1;\n        g.gain.setValueAtTime(vol, stopTime - 0.5);\n        g.gain.linearRampToValueAtTime(0, stopTime);\n        oscillator.stop(stopTime);\n        \n        setTimeout(() => { oscillator = undefined }, 1100)\n    }, duration);\n}","format":"javascript","x":5128.666290283203,"y":282.6666784286499,"wires":[["7c1b5fa1139c28bd"]]},{"id":"ad925ca764d24ca6","type":"ClientCode","z":"5299e45175c85820","g":"19a4e06f97f3aba6","name":"Oscillator","clientcode":"var context = window.audiocontext || new AudioContext();\nwindow.audiocontext = context;\n\nvar frequency = parseInt(msg.frequency, 10) || node.frequency || 440;\nvar duration = parseInt(msg.duration, 10);\nif (duration != 0 && !duration) {\n    duration = node.duration || 500;\n}\n\nif (duration > 0) {\n    var oscillator = context.createOscillator();\n\n    oscillator.addEventListener(\"ended\", () => {\n        node.send({ payload: \"stop\" })\n    })\n\n    oscillator.frequency.value = frequency;\n\n    if ( msg.shape == 'custom' ) {\n        var real = new Float32Array(msg.realTable);\n        var imag;\n        if (msg.imagTable && Array.isArray(msg.imagTable)) {\n            imag = new Float32Array(msg.imagTable);\n        } else {\n            imag = new Float32Array(real.length);\n        }\n        var pWave = context.createPeriodicWave(real, imag);\n        oscillator.setPeriodicWave(pWave);\n        //oscillator.type = 'custom'\n    } else {\n        oscillator.type = msg.shape || node.shape || 'sine';\n    }\n\n    let g = new GainNode(context);\n    let vol = msg.volume || 1\n\n    oscillator.connect(g).connect(context.destination);\n\n    let startTime = context.currentTime\n\n    g.gain.setValueAtTime(0, startTime);\n    g.gain.linearRampToValueAtTime(vol, startTime + ((duration/1000) * 0.5));\n\n    setTimeout( () => {\n        node.send({ payload: \"start\" })\n    }, 10)\n    oscillator.start(startTime);\n\n    setTimeout(function () {\n        let stopTime = context.currentTime + 1;\n        g.gain.setValueAtTime(vol, stopTime - 0.5);\n        g.gain.linearRampToValueAtTime(0, stopTime);\n        oscillator.stop(stopTime);\n        \n        setTimeout(() => { oscillator = undefined }, 1100)\n    }, duration);\n}","format":"javascript","x":5315.6662940979,"y":451.0000009536743,"wires":[["fb6bf00d332d9103"]]},{"id":"be5f87229cd1369c","type":"change","z":"5299e45175c85820","g":"19a4e06f97f3aba6","name":"B4 - triangle -   493.88 Hz - v: 0.3","rules":[{"t":"set","p":"shape","pt":"msg","to":"triangle","tot":"str"},{"t":"set","p":"duration","pt":"msg","to":"100","tot":"str"},{"t":"set","p":"frequency","pt":"msg","to":"493.88","tot":"str"},{"t":"set","p":"volume","pt":"msg","to":"0.1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":5363.333419799805,"y":585.3333673477173,"wires":[["c0572d93dabc562d"]]},{"id":"c0572d93dabc562d","type":"ClientCode","z":"5299e45175c85820","g":"19a4e06f97f3aba6","name":"Oscillator","clientcode":"var context = window.audiocontext || new AudioContext();\nwindow.audiocontext = context;\n\nvar frequency = parseInt(msg.frequency, 10) || node.frequency || 440;\nvar duration = parseInt(msg.duration, 10);\nif (duration != 0 && !duration) {\n    duration = node.duration || 500;\n}\n\nif (duration > 0) {\n    var oscillator = context.createOscillator();\n\n    oscillator.addEventListener(\"ended\", () => {\n        node.send({ payload: \"stop\" })\n    })\n\n    oscillator.frequency.value = frequency;\n\n    if ( msg.shape == 'custom' ) {\n        var real = new Float32Array(msg.realTable);\n        var imag;\n        if (msg.imagTable && Array.isArray(msg.imagTable)) {\n            imag = new Float32Array(msg.imagTable);\n        } else {\n            imag = new Float32Array(real.length);\n        }\n        var pWave = context.createPeriodicWave(real, imag);\n        oscillator.setPeriodicWave(pWave);\n        //oscillator.type = 'custom'\n    } else {\n        oscillator.type = msg.shape || node.shape || 'sine';\n    }\n\n    let g = new GainNode(context);\n    let vol = msg.volume || 1\n\n    oscillator.connect(g).connect(context.destination);\n\n    let startTime = context.currentTime\n\n    g.gain.setValueAtTime(0, startTime);\n    g.gain.linearRampToValueAtTime(vol, startTime + ((duration/1000) * 0.5));\n\n    setTimeout( () => {\n        node.send({ payload: \"start\" })\n    }, 10)\n    oscillator.start(startTime);\n\n    setTimeout(function () {\n        let stopTime = context.currentTime + 1;\n        g.gain.setValueAtTime(vol, stopTime - 0.5);\n        g.gain.linearRampToValueAtTime(0, stopTime);\n        oscillator.stop(stopTime);\n        \n        setTimeout(() => { oscillator = undefined }, 1100)\n    }, duration);\n}","format":"javascript","x":5381.66650390625,"y":668.6666679382324,"wires":[["f027a94d61c3e836"]]},{"id":"a3e53480160f9790","type":"change","z":"5299e45175c85820","g":"88be68b12d42ec80","name":"D4# - triangle -   311.13 Hz - v: 0.1","rules":[{"t":"set","p":"shape","pt":"msg","to":"triangle","tot":"str"},{"t":"set","p":"duration","pt":"msg","to":"100","tot":"str"},{"t":"set","p":"frequency","pt":"msg","to":"311.13","tot":"str"},{"t":"set","p":"volume","pt":"msg","to":"0.1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":5950,"y":383.66664123535156,"wires":[["13dccf54657a5e6d"]]},{"id":"74a4b7194d660ee9","type":"change","z":"5299e45175c85820","g":"88be68b12d42ec80","name":"B4 - triangle -   493.88 Hz - v: 0.1","rules":[{"t":"set","p":"shape","pt":"msg","to":"triangle","tot":"str"},{"t":"set","p":"duration","pt":"msg","to":"100","tot":"str"},{"t":"set","p":"frequency","pt":"msg","to":"493.88","tot":"str"},{"t":"set","p":"volume","pt":"msg","to":"0.1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":5860.000434875488,"y":247.33331775665283,"wires":[["ded37f3b8536e3c7"]]},{"id":"0fb4299185a6e16e","type":"change","z":"5299e45175c85820","g":"88be68b12d42ec80","name":"G4 - triangle - 392 Hz","rules":[{"t":"set","p":"shape","pt":"msg","to":"triangle","tot":"str"},{"t":"set","p":"duration","pt":"msg","to":"100","tot":"str"},{"t":"set","p":"frequency","pt":"msg","to":"392","tot":"str"},{"t":"set","p":"volume","pt":"msg","to":"0.1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":6065,"y":502.66664123535156,"wires":[["525165287be4a8b5"]]},{"id":"c25dab8b39f99e61","type":"change","z":"5299e45175c85820","g":"88be68b12d42ec80","name":"A4 - triangle - 440 Hz","rules":[{"t":"set","p":"shape","pt":"msg","to":"triangle","tot":"str"},{"t":"set","p":"duration","pt":"msg","to":"100","tot":"str"},{"t":"set","p":"frequency","pt":"msg","to":"440","tot":"str"},{"t":"set","p":"volume","pt":"msg","to":"0.1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":6179,"y":627.6666412353516,"wires":[["4fd9a9411bd5d448"]]},{"id":"b049b1e5f36aa8f7","type":"change","z":"5299e45175c85820","g":"88be68b12d42ec80","name":"B4 - triangle -   493.88 Hz - v: 0.1","rules":[{"t":"set","p":"shape","pt":"msg","to":"triangle","tot":"str"},{"t":"set","p":"duration","pt":"msg","to":"100","tot":"str"},{"t":"set","p":"frequency","pt":"msg","to":"493.88","tot":"str"},{"t":"set","p":"volume","pt":"msg","to":"0.1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":6172.666664123535,"y":801.3333072662354,"wires":[["80b86fd8ebe5a1b1"]]},{"id":"ae5e0f1ded1b7da5","type":"switch","z":"5299e45175c85820","g":"88be68b12d42ec80","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"stop","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":5962.666538238525,"y":346.6666488647461,"wires":[["a3e53480160f9790"]]},{"id":"ded37f3b8536e3c7","type":"ClientCode","z":"5299e45175c85820","g":"88be68b12d42ec80","name":"Oscillator","clientcode":"var context = window.audiocontext || new AudioContext();\nwindow.audiocontext = context;\n\nvar frequency = parseInt(msg.frequency, 10) || node.frequency || 440;\nvar duration = parseInt(msg.duration, 10);\nif (duration != 0 && !duration) {\n    duration = node.duration || 500;\n}\n\nif (duration > 0) {\n    var oscillator = context.createOscillator();\n\n    oscillator.addEventListener(\"ended\", () => {\n        node.send({ payload: \"stop\" })\n    })\n\n    oscillator.frequency.value = frequency;\n\n    if ( msg.shape == 'custom' ) {\n        var real = new Float32Array(msg.realTable);\n        var imag;\n        if (msg.imagTable && Array.isArray(msg.imagTable)) {\n            imag = new Float32Array(msg.imagTable);\n        } else {\n            imag = new Float32Array(real.length);\n        }\n        var pWave = context.createPeriodicWave(real, imag);\n        oscillator.setPeriodicWave(pWave);\n        //oscillator.type = 'custom'\n    } else {\n        oscillator.type = msg.shape || node.shape || 'sine';\n    }\n\n    let g = new GainNode(context);\n    let vol = msg.volume || 1\n\n    oscillator.connect(g).connect(context.destination);\n\n    let startTime = context.currentTime\n\n    g.gain.setValueAtTime(0, startTime);\n    g.gain.linearRampToValueAtTime(vol, startTime + ((duration/1000) * 0.5));\n\n    setTimeout( () => {\n        node.send({ payload: \"start\" })\n    }, 10)\n    oscillator.start(startTime);\n\n    setTimeout(function () {\n        let stopTime = context.currentTime + 1;\n        g.gain.setValueAtTime(vol, stopTime - 0.5);\n        g.gain.linearRampToValueAtTime(0, stopTime);\n        oscillator.stop(stopTime);\n        \n        setTimeout(() => { oscillator = undefined }, 1100)\n    }, duration);\n}","format":"javascript","x":5952.666698455811,"y":292.66665267944336,"wires":[["ae5e0f1ded1b7da5"]]},{"id":"55e98f24dc0b4c76","type":"switch","z":"5299e45175c85820","g":"88be68b12d42ec80","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"stop","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":6021,"y":462.66664123535156,"wires":[["0fb4299185a6e16e"]]},{"id":"13dccf54657a5e6d","type":"ClientCode","z":"5299e45175c85820","g":"88be68b12d42ec80","name":"Oscillator","clientcode":"var context = window.audiocontext || new AudioContext();\nwindow.audiocontext = context;\n\nvar frequency = parseInt(msg.frequency, 10) || node.frequency || 440;\nvar duration = parseInt(msg.duration, 10);\nif (duration != 0 && !duration) {\n    duration = node.duration || 500;\n}\n\nif (duration > 0) {\n    var oscillator = context.createOscillator();\n\n    oscillator.addEventListener(\"ended\", () => {\n        node.send({ payload: \"stop\" })\n    })\n\n    oscillator.frequency.value = frequency;\n\n    if ( msg.shape == 'custom' ) {\n        var real = new Float32Array(msg.realTable);\n        var imag;\n        if (msg.imagTable && Array.isArray(msg.imagTable)) {\n            imag = new Float32Array(msg.imagTable);\n        } else {\n            imag = new Float32Array(real.length);\n        }\n        var pWave = context.createPeriodicWave(real, imag);\n        oscillator.setPeriodicWave(pWave);\n        //oscillator.type = 'custom'\n    } else {\n        oscillator.type = msg.shape || node.shape || 'sine';\n    }\n\n    let g = new GainNode(context);\n    let vol = msg.volume || 1\n\n    oscillator.connect(g).connect(context.destination);\n\n    let startTime = context.currentTime\n\n    g.gain.setValueAtTime(0, startTime);\n    g.gain.linearRampToValueAtTime(vol, startTime + ((duration/1000) * 0.5));\n\n    setTimeout( () => {\n        node.send({ payload: \"start\" })\n    }, 10)\n    oscillator.start(startTime);\n\n    setTimeout(function () {\n        let stopTime = context.currentTime + 1;\n        g.gain.setValueAtTime(vol, stopTime - 0.5);\n        g.gain.linearRampToValueAtTime(0, stopTime);\n        oscillator.stop(stopTime);\n        \n        setTimeout(() => { oscillator = undefined }, 1100)\n    }, duration);\n}","format":"javascript","x":5981,"y":416.66664123535156,"wires":[["55e98f24dc0b4c76"]]},{"id":"ae7bdcf622bf5d52","type":"switch","z":"5299e45175c85820","g":"88be68b12d42ec80","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"stop","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":6150,"y":587.6666412353516,"wires":[["c25dab8b39f99e61"]]},{"id":"525165287be4a8b5","type":"ClientCode","z":"5299e45175c85820","g":"88be68b12d42ec80","name":"Oscillator","clientcode":"var context = window.audiocontext || new AudioContext();\nwindow.audiocontext = context;\n\nvar frequency = parseInt(msg.frequency, 10) || node.frequency || 440;\nvar duration = parseInt(msg.duration, 10);\nif (duration != 0 && !duration) {\n    duration = node.duration || 500;\n}\n\nif (duration > 0) {\n    var oscillator = context.createOscillator();\n\n    oscillator.addEventListener(\"ended\", () => {\n        node.send({ payload: \"stop\" })\n    })\n\n    oscillator.frequency.value = frequency;\n\n    if ( msg.shape == 'custom' ) {\n        var real = new Float32Array(msg.realTable);\n        var imag;\n        if (msg.imagTable && Array.isArray(msg.imagTable)) {\n            imag = new Float32Array(msg.imagTable);\n        } else {\n            imag = new Float32Array(real.length);\n        }\n        var pWave = context.createPeriodicWave(real, imag);\n        oscillator.setPeriodicWave(pWave);\n        //oscillator.type = 'custom'\n    } else {\n        oscillator.type = msg.shape || node.shape || 'sine';\n    }\n\n    let g = new GainNode(context);\n    let vol = msg.volume || 1\n\n    oscillator.connect(g).connect(context.destination);\n\n    let startTime = context.currentTime\n\n    g.gain.setValueAtTime(0, startTime);\n    g.gain.linearRampToValueAtTime(vol, startTime + ((duration/1000) * 0.5));\n\n    setTimeout( () => {\n        node.send({ payload: \"start\" })\n    }, 10)\n    oscillator.start(startTime);\n\n    setTimeout(function () {\n        let stopTime = context.currentTime + 1;\n        g.gain.setValueAtTime(vol, stopTime - 0.5);\n        g.gain.linearRampToValueAtTime(0, stopTime);\n        oscillator.stop(stopTime);\n        \n        setTimeout(() => { oscillator = undefined }, 1100)\n    }, duration);\n}","format":"javascript","x":6113,"y":543.6666412353516,"wires":[["ae7bdcf622bf5d52"]]},{"id":"1ca0d590c31bb62c","type":"switch","z":"5299e45175c85820","g":"88be68b12d42ec80","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"stop","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":6150.666664123535,"y":742.3333072662354,"wires":[["b049b1e5f36aa8f7"]]},{"id":"4fd9a9411bd5d448","type":"ClientCode","z":"5299e45175c85820","g":"88be68b12d42ec80","name":"Oscillator","clientcode":"var context = window.audiocontext || new AudioContext();\nwindow.audiocontext = context;\n\nvar frequency = parseInt(msg.frequency, 10) || node.frequency || 440;\nvar duration = parseInt(msg.duration, 10);\nif (duration != 0 && !duration) {\n    duration = node.duration || 500;\n}\n\nif (duration > 0) {\n    var oscillator = context.createOscillator();\n\n    oscillator.addEventListener(\"ended\", () => {\n        node.send({ payload: \"stop\" })\n    })\n\n    oscillator.frequency.value = frequency;\n\n    if ( msg.shape == 'custom' ) {\n        var real = new Float32Array(msg.realTable);\n        var imag;\n        if (msg.imagTable && Array.isArray(msg.imagTable)) {\n            imag = new Float32Array(msg.imagTable);\n        } else {\n            imag = new Float32Array(real.length);\n        }\n        var pWave = context.createPeriodicWave(real, imag);\n        oscillator.setPeriodicWave(pWave);\n        //oscillator.type = 'custom'\n    } else {\n        oscillator.type = msg.shape || node.shape || 'sine';\n    }\n\n    let g = new GainNode(context);\n    let vol = msg.volume || 1\n\n    oscillator.connect(g).connect(context.destination);\n\n    let startTime = context.currentTime\n\n    g.gain.setValueAtTime(0, startTime);\n    g.gain.linearRampToValueAtTime(vol, startTime + ((duration/1000) * 0.5));\n\n    setTimeout( () => {\n        node.send({ payload: \"start\" })\n    }, 10)\n    oscillator.start(startTime);\n\n    setTimeout(function () {\n        let stopTime = context.currentTime + 1;\n        g.gain.setValueAtTime(vol, stopTime - 0.5);\n        g.gain.linearRampToValueAtTime(0, stopTime);\n        oscillator.stop(stopTime);\n        \n        setTimeout(() => { oscillator = undefined }, 1100)\n    }, duration);\n}","format":"javascript","x":6100.666664123535,"y":688.3333072662354,"wires":[["1ca0d590c31bb62c"]]},{"id":"f027a94d61c3e836","type":"switch","z":"5299e45175c85820","g":"19a4e06f97f3aba6","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"stop","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":5452.66650390625,"y":719.6666679382324,"wires":[["74a4b7194d660ee9","9c8c78b7d9947dd5"]]},{"id":"80b86fd8ebe5a1b1","type":"ClientCode","z":"5299e45175c85820","g":"88be68b12d42ec80","name":"Oscillator","clientcode":"var context = window.audiocontext || new AudioContext();\nwindow.audiocontext = context;\n\nvar frequency = parseInt(msg.frequency, 10) || node.frequency || 440;\nvar duration = parseInt(msg.duration, 10);\nif (duration != 0 && !duration) {\n    duration = node.duration || 500;\n}\n\nif (duration > 0) {\n    var oscillator = context.createOscillator();\n\n    oscillator.addEventListener(\"ended\", () => {\n        node.send({ payload: \"stop\" })\n    })\n\n    oscillator.frequency.value = frequency;\n\n    if ( msg.shape == 'custom' ) {\n        var real = new Float32Array(msg.realTable);\n        var imag;\n        if (msg.imagTable && Array.isArray(msg.imagTable)) {\n            imag = new Float32Array(msg.imagTable);\n        } else {\n            imag = new Float32Array(real.length);\n        }\n        var pWave = context.createPeriodicWave(real, imag);\n        oscillator.setPeriodicWave(pWave);\n        //oscillator.type = 'custom'\n    } else {\n        oscillator.type = msg.shape || node.shape || 'sine';\n    }\n\n    let g = new GainNode(context);\n    let vol = msg.volume || 1\n\n    oscillator.connect(g).connect(context.destination);\n\n    let startTime = context.currentTime\n\n    g.gain.setValueAtTime(0, startTime);\n    g.gain.linearRampToValueAtTime(vol, startTime + ((duration/1000) * 0.5));\n\n    setTimeout( () => {\n        node.send({ payload: \"start\" })\n    }, 10)\n    oscillator.start(startTime);\n\n    setTimeout(function () {\n        let stopTime = context.currentTime + 1;\n        g.gain.setValueAtTime(vol, stopTime - 0.5);\n        g.gain.linearRampToValueAtTime(0, stopTime);\n        oscillator.stop(stopTime);\n        \n        setTimeout(() => { oscillator = undefined }, 1100)\n    }, duration);\n}","format":"javascript","x":6266.666664123535,"y":851.3333072662354,"wires":[["8b53fa707baa0183"]]},{"id":"6ec75666ddeb78e3","type":"change","z":"5299e45175c85820","g":"38e715fc6b57fc18","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Jingle Bells","tot":"str"},{"t":"set","p":"rate","pt":"msg","to":"0.3","tot":"str"},{"t":"set","p":"pitch","pt":"msg","to":"2","tot":"str"},{"t":"set","p":"volume","pt":"msg","to":"0.2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":4047.000461578369,"y":286.33331394195557,"wires":[["7eba9f1c26239a18"]]},{"id":"54cc6a7bc39e74c8","type":"change","z":"5299e45175c85820","g":"19a4e06f97f3aba6","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Jingle Bells","tot":"str"},{"t":"set","p":"rate","pt":"msg","to":"0.3","tot":"str"},{"t":"set","p":"pitch","pt":"msg","to":"2","tot":"str"},{"t":"set","p":"volume","pt":"msg","to":"0.6","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":4954.666290283203,"y":629.3333282470703,"wires":[["f9d9bb5a2736d5b3"]]},{"id":"9afda5460e77fda4","type":"ClientCode","z":"5299e45175c85820","g":"88be68b12d42ec80","name":"Speaker","clientcode":"const synth = window.speechSynthesis;\n\nlet voices = synth.getVoices();\n\nconst utterThis = new SpeechSynthesisUtterance(msg.payload || \"hello world\");\n\nutterThis.rate = msg.rate || 0.3\nutterThis.pitch = msg.pitch || 2\nutterThis.volume = msg.volume || 1\n\nutterThis.voice = voices[0];\n\n\nutterThis.addEventListener( \"start\", () =>{\n    node.send({ payload: \"start\"})\n})\n\nutterThis.addEventListener(\"end\", () => {\n    node.send({ payload: \"end\" })\n})\n\n\nsynth.speak(utterThis);\n\n","format":"javascript","x":5850.9997634887695,"y":615.6666603088379,"wires":[[]]},{"id":"5111bc5d0e9eef99","type":"delay","z":"5299e45175c85820","g":"19a4e06f97f3aba6","name":"","pauseType":"delay","timeout":"200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":4939.66609954834,"y":681.3333511352539,"wires":[["54cc6a7bc39e74c8"]]},{"id":"20b6f24b5301dd52","type":"change","z":"5299e45175c85820","g":"88be68b12d42ec80","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Jingle all the way","tot":"str"},{"t":"set","p":"rate","pt":"msg","to":"0.25","tot":"str"},{"t":"set","p":"pitch","pt":"msg","to":"2","tot":"str"},{"t":"set","p":"volume","pt":"msg","to":"0.6","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":5845.999755859375,"y":685.9999828338623,"wires":[["9afda5460e77fda4"]]},{"id":"9c8c78b7d9947dd5","type":"delay","z":"5299e45175c85820","g":"88be68b12d42ec80","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":5752.666748046875,"y":755.0000114440918,"wires":[["20b6f24b5301dd52"]]},{"id":"33d820653f9f1f28","type":"inject","z":"5299e45175c85820","g":"19a4e06f97f3aba6","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"stop","payloadType":"str","x":5181.66650390625,"y":717.6666679382324,"wires":[["f027a94d61c3e836"]]},{"id":"f9d9bb5a2736d5b3","type":"ClientCode","z":"5299e45175c85820","g":"19a4e06f97f3aba6","name":"Speaker","clientcode":"const synth = window.speechSynthesis;\n\nlet voices = synth.getVoices();\n\nconst utterThis = new SpeechSynthesisUtterance(msg.payload || \"hello world\");\n\nutterThis.rate = msg.rate || 0.3\nutterThis.pitch = msg.pitch || 2\nutterThis.volume = msg.volume || 1\n\nutterThis.voice = voices[0];\n\n\nutterThis.addEventListener( \"start\", () =>{\n    node.send({ payload: \"start\"})\n})\n\nutterThis.addEventListener(\"end\", () => {\n    node.send({ payload: \"end\" })\n})\n\n\nsynth.speak(utterThis);\n\n","format":"javascript","x":4963.333038330078,"y":575.9999694824219,"wires":[[]]},{"id":"7eba9f1c26239a18","type":"ClientCode","z":"5299e45175c85820","g":"38e715fc6b57fc18","name":"Speaker","clientcode":"const synth = window.speechSynthesis;\n\nlet voices = synth.getVoices();\n\nconst utterThis = new SpeechSynthesisUtterance(msg.payload || \"hello world\");\n\nutterThis.rate = msg.rate || 0.3\nutterThis.pitch = msg.pitch || 2\nutterThis.volume = msg.volume || 1\n\nutterThis.voice = voices[0];\n\n\nutterThis.addEventListener( \"start\", () =>{\n    node.send({ payload: \"start\"})\n})\n\nutterThis.addEventListener(\"end\", () => {\n    node.send({ payload: \"end\" })\n})\n\n\nsynth.speak(utterThis);\n\n","format":"javascript","x":4226.0001220703125,"y":454.9999532699585,"wires":[[]]},{"id":"d9d72db54946e21e","type":"change","z":"5299e45175c85820","g":"7d8906144b43976d","name":"B4 - triangle -   493.88 Hz - v: 0.1","rules":[{"t":"set","p":"shape","pt":"msg","to":"triangle","tot":"str"},{"t":"set","p":"duration","pt":"msg","to":"100","tot":"str"},{"t":"set","p":"frequency","pt":"msg","to":"493.88","tot":"str"},{"t":"set","p":"volume","pt":"msg","to":"0.1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":7149.333389282227,"y":816.9999752044678,"wires":[["5669c26cc7821938"]]},{"id":"74e75694f679bf6f","type":"change","z":"5299e45175c85820","g":"7d8906144b43976d","name":"B4 - triangle -   493.88 Hz - v: 0.1","rules":[{"t":"set","p":"shape","pt":"msg","to":"triangle","tot":"str"},{"t":"set","p":"duration","pt":"msg","to":"100","tot":"str"},{"t":"set","p":"frequency","pt":"msg","to":"493.88","tot":"str"},{"t":"set","p":"volume","pt":"msg","to":"0.1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":7332.333389282227,"y":919.9999752044678,"wires":[["ae84f40dc8c47947"]]},{"id":"8804b5bb2039ca7e","type":"change","z":"5299e45175c85820","name":"C4# - triangle -    277.18 Hz - v: 0.1","rules":[{"t":"set","p":"shape","pt":"msg","to":"triangle","tot":"str"},{"t":"set","p":"duration","pt":"msg","to":"100","tot":"str"},{"t":"set","p":"frequency","pt":"msg","to":"277.18","tot":"str"},{"t":"set","p":"volume","pt":"msg","to":"0.1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":3126,"y":1099,"wires":[[]]},{"id":"634adc997bfcdd0a","type":"change","z":"5299e45175c85820","name":"D4# - triangle -   311.13 Hz - v: 0.1","rules":[{"t":"set","p":"shape","pt":"msg","to":"triangle","tot":"str"},{"t":"set","p":"duration","pt":"msg","to":"100","tot":"str"},{"t":"set","p":"frequency","pt":"msg","to":"311.13","tot":"str"},{"t":"set","p":"volume","pt":"msg","to":"0.1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2984,"y":1001,"wires":[[]]},{"id":"0b3bedcd215bbda7","type":"change","z":"5299e45175c85820","g":"7d8906144b43976d","name":"C4# - triangle -    277.18 Hz - v: 0.1","rules":[{"t":"set","p":"shape","pt":"msg","to":"triangle","tot":"str"},{"t":"set","p":"duration","pt":"msg","to":"100","tot":"str"},{"t":"set","p":"frequency","pt":"msg","to":"277.18","tot":"str"},{"t":"set","p":"volume","pt":"msg","to":"0.1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":6775.6669845581055,"y":288.9999771118164,"wires":[["f062fa9e30810ecf"]]},{"id":"b19db705bf174de9","type":"change","z":"5299e45175c85820","g":"7d8906144b43976d","name":"C4# - triangle -    277.18 Hz - v: 0.1","rules":[{"t":"set","p":"shape","pt":"msg","to":"triangle","tot":"str"},{"t":"set","p":"duration","pt":"msg","to":"100","tot":"str"},{"t":"set","p":"frequency","pt":"msg","to":"277.18","tot":"str"},{"t":"set","p":"volume","pt":"msg","to":"0.1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":6916.000198364258,"y":386.66664695739746,"wires":[["2a6a1a4faa437b56"]]},{"id":"c8c82b50b71e3bd2","type":"change","z":"5299e45175c85820","g":"7d8906144b43976d","name":"C4# - triangle -    277.18 Hz - v: 0.1","rules":[{"t":"set","p":"shape","pt":"msg","to":"triangle","tot":"str"},{"t":"set","p":"duration","pt":"msg","to":"100","tot":"str"},{"t":"set","p":"frequency","pt":"msg","to":"277.18","tot":"str"},{"t":"set","p":"volume","pt":"msg","to":"0.1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":6842.666831970215,"y":486.9999828338623,"wires":[["2bc3d56833a5f09d"]]},{"id":"bb1708a97b270fc9","type":"change","z":"5299e45175c85820","g":"7d8906144b43976d","name":"C4# - triangle -    277.18 Hz - v: 0.1","rules":[{"t":"set","p":"shape","pt":"msg","to":"triangle","tot":"str"},{"t":"set","p":"duration","pt":"msg","to":"100","tot":"str"},{"t":"set","p":"frequency","pt":"msg","to":"277.18","tot":"str"},{"t":"set","p":"volume","pt":"msg","to":"0.1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":6901.666641235352,"y":622.6666603088379,"wires":[["c303f775624cbce6"]]},{"id":"05858bcf67e55f5d","type":"change","z":"5299e45175c85820","g":"7d8906144b43976d","name":"C4# - triangle -    277.18 Hz - v: 0.1","rules":[{"t":"set","p":"shape","pt":"msg","to":"triangle","tot":"str"},{"t":"set","p":"duration","pt":"msg","to":"100","tot":"str"},{"t":"set","p":"frequency","pt":"msg","to":"277.18","tot":"str"},{"t":"set","p":"volume","pt":"msg","to":"0.1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":7101.666641235352,"y":714.6666603088379,"wires":[["1ad5db520794bf79"]]},{"id":"8a526d43858ad479","type":"switch","z":"5299e45175c85820","g":"7d8906144b43976d","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"stop","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":6908.6669845581055,"y":331.9999771118164,"wires":[["b19db705bf174de9"]]},{"id":"f062fa9e30810ecf","type":"ClientCode","z":"5299e45175c85820","g":"7d8906144b43976d","name":"Oscillator","clientcode":"var context = window.audiocontext || new AudioContext();\nwindow.audiocontext = context;\n\nvar frequency = parseInt(msg.frequency, 10) || node.frequency || 440;\nvar duration = parseInt(msg.duration, 10);\nif (duration != 0 && !duration) {\n    duration = node.duration || 500;\n}\n\nif (duration > 0) {\n    var oscillator = context.createOscillator();\n\n    oscillator.addEventListener(\"ended\", () => {\n        node.send({ payload: \"stop\" })\n    })\n\n    oscillator.frequency.value = frequency;\n\n    if ( msg.shape == 'custom' ) {\n        var real = new Float32Array(msg.realTable);\n        var imag;\n        if (msg.imagTable && Array.isArray(msg.imagTable)) {\n            imag = new Float32Array(msg.imagTable);\n        } else {\n            imag = new Float32Array(real.length);\n        }\n        var pWave = context.createPeriodicWave(real, imag);\n        oscillator.setPeriodicWave(pWave);\n        //oscillator.type = 'custom'\n    } else {\n        oscillator.type = msg.shape || node.shape || 'sine';\n    }\n\n    let g = new GainNode(context);\n    let vol = msg.volume || 1\n\n    oscillator.connect(g).connect(context.destination);\n\n    let startTime = context.currentTime\n\n    g.gain.setValueAtTime(0, startTime);\n    g.gain.linearRampToValueAtTime(vol, startTime + ((duration/1000) * 0.5));\n\n    setTimeout( () => {\n        node.send({ payload: \"start\" })\n    }, 10)\n    oscillator.start(startTime);\n\n    setTimeout(function () {\n        let stopTime = context.currentTime + 1;\n        g.gain.setValueAtTime(vol, stopTime - 0.5);\n        g.gain.linearRampToValueAtTime(0, stopTime);\n        oscillator.stop(stopTime);\n        \n        setTimeout(() => { oscillator = undefined }, 1100)\n    }, duration);\n}","format":"javascript","x":6726.6669845581055,"y":332.9999771118164,"wires":[["8a526d43858ad479"]]},{"id":"332fd7d074ce430b","type":"switch","z":"5299e45175c85820","g":"7d8906144b43976d","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"stop","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":7062.000198364258,"y":436.66664695739746,"wires":[["c8c82b50b71e3bd2"]]},{"id":"2a6a1a4faa437b56","type":"ClientCode","z":"5299e45175c85820","g":"7d8906144b43976d","name":"Oscillator","clientcode":"var context = window.audiocontext || new AudioContext();\nwindow.audiocontext = context;\n\nvar frequency = parseInt(msg.frequency, 10) || node.frequency || 440;\nvar duration = parseInt(msg.duration, 10);\nif (duration != 0 && !duration) {\n    duration = node.duration || 500;\n}\n\nif (duration > 0) {\n    var oscillator = context.createOscillator();\n\n    oscillator.addEventListener(\"ended\", () => {\n        node.send({ payload: \"stop\" })\n    })\n\n    oscillator.frequency.value = frequency;\n\n    if ( msg.shape == 'custom' ) {\n        var real = new Float32Array(msg.realTable);\n        var imag;\n        if (msg.imagTable && Array.isArray(msg.imagTable)) {\n            imag = new Float32Array(msg.imagTable);\n        } else {\n            imag = new Float32Array(real.length);\n        }\n        var pWave = context.createPeriodicWave(real, imag);\n        oscillator.setPeriodicWave(pWave);\n        //oscillator.type = 'custom'\n    } else {\n        oscillator.type = msg.shape || node.shape || 'sine';\n    }\n\n    let g = new GainNode(context);\n    let vol = msg.volume || 1\n\n    oscillator.connect(g).connect(context.destination);\n\n    let startTime = context.currentTime\n\n    g.gain.setValueAtTime(0, startTime);\n    g.gain.linearRampToValueAtTime(vol, startTime + ((duration/1000) * 0.5));\n\n    setTimeout( () => {\n        node.send({ payload: \"start\" })\n    }, 10)\n    oscillator.start(startTime);\n\n    setTimeout(function () {\n        let stopTime = context.currentTime + 1;\n        g.gain.setValueAtTime(vol, stopTime - 0.5);\n        g.gain.linearRampToValueAtTime(0, stopTime);\n        oscillator.stop(stopTime);\n        \n        setTimeout(() => { oscillator = undefined }, 1100)\n    }, duration);\n}","format":"javascript","x":6881.000198364258,"y":436.66664695739746,"wires":[["332fd7d074ce430b"]]},{"id":"a8c3dbc12eebc6b2","type":"switch","z":"5299e45175c85820","g":"7d8906144b43976d","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"stop","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":6972.666831970215,"y":529.9999828338623,"wires":[["d0c9f2123299338c"]]},{"id":"2bc3d56833a5f09d","type":"ClientCode","z":"5299e45175c85820","g":"7d8906144b43976d","name":"Oscillator","clientcode":"var context = window.audiocontext || new AudioContext();\nwindow.audiocontext = context;\n\nvar frequency = parseInt(msg.frequency, 10) || node.frequency || 440;\nvar duration = parseInt(msg.duration, 10);\nif (duration != 0 && !duration) {\n    duration = node.duration || 500;\n}\n\nif (duration > 0) {\n    var oscillator = context.createOscillator();\n\n    oscillator.addEventListener(\"ended\", () => {\n        node.send({ payload: \"stop\" })\n    })\n\n    oscillator.frequency.value = frequency;\n\n    if ( msg.shape == 'custom' ) {\n        var real = new Float32Array(msg.realTable);\n        var imag;\n        if (msg.imagTable && Array.isArray(msg.imagTable)) {\n            imag = new Float32Array(msg.imagTable);\n        } else {\n            imag = new Float32Array(real.length);\n        }\n        var pWave = context.createPeriodicWave(real, imag);\n        oscillator.setPeriodicWave(pWave);\n        //oscillator.type = 'custom'\n    } else {\n        oscillator.type = msg.shape || node.shape || 'sine';\n    }\n\n    let g = new GainNode(context);\n    let vol = msg.volume || 1\n\n    oscillator.connect(g).connect(context.destination);\n\n    let startTime = context.currentTime\n\n    g.gain.setValueAtTime(0, startTime);\n    g.gain.linearRampToValueAtTime(vol, startTime + ((duration/1000) * 0.5));\n\n    setTimeout( () => {\n        node.send({ payload: \"start\" })\n    }, 10)\n    oscillator.start(startTime);\n\n    setTimeout(function () {\n        let stopTime = context.currentTime + 1;\n        g.gain.setValueAtTime(vol, stopTime - 0.5);\n        g.gain.linearRampToValueAtTime(0, stopTime);\n        oscillator.stop(stopTime);\n        \n        setTimeout(() => { oscillator = undefined }, 1100)\n    }, duration);\n}","format":"javascript","x":6792.666831970215,"y":529.9999828338623,"wires":[["a8c3dbc12eebc6b2"]]},{"id":"d0c9f2123299338c","type":"delay","z":"5299e45175c85820","g":"7d8906144b43976d","name":"","pauseType":"delay","timeout":"50","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":6683.666793823242,"y":581.3332939147949,"wires":[["bb1708a97b270fc9"]]},{"id":"fb1d638e2217bec6","type":"inject","z":"5299e45175c85820","g":"88be68b12d42ec80","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"stop","payloadType":"str","x":6123.666826248169,"y":922.6666603088379,"wires":[["8b53fa707baa0183"]]},{"id":"8b53fa707baa0183","type":"switch","z":"5299e45175c85820","g":"88be68b12d42ec80","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"stop","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":6345.666664123535,"y":914.3333072662354,"wires":[["958e4845fe9dee73","0b3bedcd215bbda7"]]},{"id":"e9ce5966d53cf18d","type":"ClientCode","z":"5299e45175c85820","g":"7d8906144b43976d","name":"Speaker","clientcode":"const synth = window.speechSynthesis;\n\nlet voices = synth.getVoices();\n\nconst utterThis = new SpeechSynthesisUtterance(msg.payload || \"hello world\");\n\nutterThis.rate = msg.rate || 0.3\nutterThis.pitch = msg.pitch || 2\nutterThis.volume = msg.volume || 1\n\nutterThis.voice = voices[0];\n\n\nutterThis.addEventListener( \"start\", () =>{\n    node.send({ payload: \"start\"})\n})\n\nutterThis.addEventListener(\"end\", () => {\n    node.send({ payload: \"end\" })\n})\n\n\nsynth.speak(utterThis);\n\n","format":"javascript","x":6641.999401092529,"y":778.3333282470703,"wires":[[]]},{"id":"6b67d059989eccc0","type":"change","z":"5299e45175c85820","g":"7d8906144b43976d","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"oh what fun it is to ride","tot":"str"},{"t":"set","p":"rate","pt":"msg","to":"0.2","tot":"str"},{"t":"set","p":"pitch","pt":"msg","to":"2","tot":"str"},{"t":"set","p":"volume","pt":"msg","to":"0.2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":6682.333145141602,"y":836.3334722518921,"wires":[["e9ce5966d53cf18d"]]},{"id":"958e4845fe9dee73","type":"delay","z":"5299e45175c85820","g":"7d8906144b43976d","name":"","pauseType":"delay","timeout":"600","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":6725.666389465332,"y":903.6666679382324,"wires":[["6b67d059989eccc0"]]},{"id":"0115842aca8fde9c","type":"switch","z":"5299e45175c85820","g":"7d8906144b43976d","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"stop","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":7093.666641235352,"y":668.6666603088379,"wires":[["05858bcf67e55f5d"]]},{"id":"c303f775624cbce6","type":"ClientCode","z":"5299e45175c85820","g":"7d8906144b43976d","name":"Oscillator","clientcode":"var context = window.audiocontext || new AudioContext();\nwindow.audiocontext = context;\n\nvar frequency = parseInt(msg.frequency, 10) || node.frequency || 440;\nvar duration = parseInt(msg.duration, 10);\nif (duration != 0 && !duration) {\n    duration = node.duration || 500;\n}\n\nif (duration > 0) {\n    var oscillator = context.createOscillator();\n\n    oscillator.addEventListener(\"ended\", () => {\n        node.send({ payload: \"stop\" })\n    })\n\n    oscillator.frequency.value = frequency;\n\n    if ( msg.shape == 'custom' ) {\n        var real = new Float32Array(msg.realTable);\n        var imag;\n        if (msg.imagTable && Array.isArray(msg.imagTable)) {\n            imag = new Float32Array(msg.imagTable);\n        } else {\n            imag = new Float32Array(real.length);\n        }\n        var pWave = context.createPeriodicWave(real, imag);\n        oscillator.setPeriodicWave(pWave);\n        //oscillator.type = 'custom'\n    } else {\n        oscillator.type = msg.shape || node.shape || 'sine';\n    }\n\n    let g = new GainNode(context);\n    let vol = msg.volume || 1\n\n    oscillator.connect(g).connect(context.destination);\n\n    let startTime = context.currentTime\n\n    g.gain.setValueAtTime(0, startTime);\n    g.gain.linearRampToValueAtTime(vol, startTime + ((duration/1000) * 0.5));\n\n    setTimeout( () => {\n        node.send({ payload: \"start\" })\n    }, 10)\n    oscillator.start(startTime);\n\n    setTimeout(function () {\n        let stopTime = context.currentTime + 1;\n        g.gain.setValueAtTime(vol, stopTime - 0.5);\n        g.gain.linearRampToValueAtTime(0, stopTime);\n        oscillator.stop(stopTime);\n        \n        setTimeout(() => { oscillator = undefined }, 1100)\n    }, duration);\n}","format":"javascript","x":6913.666641235352,"y":668.6666603088379,"wires":[["0115842aca8fde9c"]]},{"id":"e5dfc702d9e14cd8","type":"switch","z":"5299e45175c85820","g":"7d8906144b43976d","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"stop","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":7170.333389282227,"y":769.9999752044678,"wires":[["d9d72db54946e21e"]]},{"id":"1ad5db520794bf79","type":"ClientCode","z":"5299e45175c85820","g":"7d8906144b43976d","name":"Oscillator","clientcode":"var context = window.audiocontext || new AudioContext();\nwindow.audiocontext = context;\n\nvar frequency = parseInt(msg.frequency, 10) || node.frequency || 440;\nvar duration = parseInt(msg.duration, 10);\nif (duration != 0 && !duration) {\n    duration = node.duration || 500;\n}\n\nif (duration > 0) {\n    var oscillator = context.createOscillator();\n\n    oscillator.addEventListener(\"ended\", () => {\n        node.send({ payload: \"stop\" })\n    })\n\n    oscillator.frequency.value = frequency;\n\n    if ( msg.shape == 'custom' ) {\n        var real = new Float32Array(msg.realTable);\n        var imag;\n        if (msg.imagTable && Array.isArray(msg.imagTable)) {\n            imag = new Float32Array(msg.imagTable);\n        } else {\n            imag = new Float32Array(real.length);\n        }\n        var pWave = context.createPeriodicWave(real, imag);\n        oscillator.setPeriodicWave(pWave);\n        //oscillator.type = 'custom'\n    } else {\n        oscillator.type = msg.shape || node.shape || 'sine';\n    }\n\n    let g = new GainNode(context);\n    let vol = msg.volume || 1\n\n    oscillator.connect(g).connect(context.destination);\n\n    let startTime = context.currentTime\n\n    g.gain.setValueAtTime(0, startTime);\n    g.gain.linearRampToValueAtTime(vol, startTime + ((duration/1000) * 0.5));\n\n    setTimeout( () => {\n        node.send({ payload: \"start\" })\n    }, 10)\n    oscillator.start(startTime);\n\n    setTimeout(function () {\n        let stopTime = context.currentTime + 1;\n        g.gain.setValueAtTime(vol, stopTime - 0.5);\n        g.gain.linearRampToValueAtTime(0, stopTime);\n        oscillator.stop(stopTime);\n        \n        setTimeout(() => { oscillator = undefined }, 1100)\n    }, duration);\n}","format":"javascript","x":6990.333389282227,"y":769.9999752044678,"wires":[["e5dfc702d9e14cd8"]]},{"id":"d9888ac10085cc9b","type":"switch","z":"5299e45175c85820","g":"7d8906144b43976d","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"stop","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":7353.333389282227,"y":861.9999752044678,"wires":[["74e75694f679bf6f"]]},{"id":"5669c26cc7821938","type":"ClientCode","z":"5299e45175c85820","g":"7d8906144b43976d","name":"Oscillator","clientcode":"var context = window.audiocontext || new AudioContext();\nwindow.audiocontext = context;\n\nvar frequency = parseInt(msg.frequency, 10) || node.frequency || 440;\nvar duration = parseInt(msg.duration, 10);\nif (duration != 0 && !duration) {\n    duration = node.duration || 500;\n}\n\nif (duration > 0) {\n    var oscillator = context.createOscillator();\n\n    oscillator.addEventListener(\"ended\", () => {\n        node.send({ payload: \"stop\" })\n    })\n\n    oscillator.frequency.value = frequency;\n\n    if ( msg.shape == 'custom' ) {\n        var real = new Float32Array(msg.realTable);\n        var imag;\n        if (msg.imagTable && Array.isArray(msg.imagTable)) {\n            imag = new Float32Array(msg.imagTable);\n        } else {\n            imag = new Float32Array(real.length);\n        }\n        var pWave = context.createPeriodicWave(real, imag);\n        oscillator.setPeriodicWave(pWave);\n        //oscillator.type = 'custom'\n    } else {\n        oscillator.type = msg.shape || node.shape || 'sine';\n    }\n\n    let g = new GainNode(context);\n    let vol = msg.volume || 1\n\n    oscillator.connect(g).connect(context.destination);\n\n    let startTime = context.currentTime\n\n    g.gain.setValueAtTime(0, startTime);\n    g.gain.linearRampToValueAtTime(vol, startTime + ((duration/1000) * 0.5));\n\n    setTimeout( () => {\n        node.send({ payload: \"start\" })\n    }, 10)\n    oscillator.start(startTime);\n\n    setTimeout(function () {\n        let stopTime = context.currentTime + 1;\n        g.gain.setValueAtTime(vol, stopTime - 0.5);\n        g.gain.linearRampToValueAtTime(0, stopTime);\n        oscillator.stop(stopTime);\n        \n        setTimeout(() => { oscillator = undefined }, 1100)\n    }, duration);\n}","format":"javascript","x":7173.333389282227,"y":861.9999752044678,"wires":[["d9888ac10085cc9b"]]},{"id":"dad72ed9abd29a99","type":"switch","z":"5299e45175c85820","g":"7d8906144b43976d","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"stop","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":7519.333389282227,"y":974.9999752044678,"wires":[[]]},{"id":"ae84f40dc8c47947","type":"ClientCode","z":"5299e45175c85820","g":"7d8906144b43976d","name":"Oscillator","clientcode":"var context = window.audiocontext || new AudioContext();\nwindow.audiocontext = context;\n\nvar frequency = parseInt(msg.frequency, 10) || node.frequency || 440;\nvar duration = parseInt(msg.duration, 10);\nif (duration != 0 && !duration) {\n    duration = node.duration || 500;\n}\n\nif (duration > 0) {\n    var oscillator = context.createOscillator();\n\n    oscillator.addEventListener(\"ended\", () => {\n        node.send({ payload: \"stop\" })\n    })\n\n    oscillator.frequency.value = frequency;\n\n    if ( msg.shape == 'custom' ) {\n        var real = new Float32Array(msg.realTable);\n        var imag;\n        if (msg.imagTable && Array.isArray(msg.imagTable)) {\n            imag = new Float32Array(msg.imagTable);\n        } else {\n            imag = new Float32Array(real.length);\n        }\n        var pWave = context.createPeriodicWave(real, imag);\n        oscillator.setPeriodicWave(pWave);\n        //oscillator.type = 'custom'\n    } else {\n        oscillator.type = msg.shape || node.shape || 'sine';\n    }\n\n    let g = new GainNode(context);\n    let vol = msg.volume || 1\n\n    oscillator.connect(g).connect(context.destination);\n\n    let startTime = context.currentTime\n\n    g.gain.setValueAtTime(0, startTime);\n    g.gain.linearRampToValueAtTime(vol, startTime + ((duration/1000) * 0.5));\n\n    setTimeout( () => {\n        node.send({ payload: \"start\" })\n    }, 10)\n    oscillator.start(startTime);\n\n    setTimeout(function () {\n        let stopTime = context.currentTime + 1;\n        g.gain.setValueAtTime(vol, stopTime - 0.5);\n        g.gain.linearRampToValueAtTime(0, stopTime);\n        oscillator.stop(stopTime);\n        \n        setTimeout(() => { oscillator = undefined }, 1100)\n    }, duration);\n}","format":"javascript","x":7339.333389282227,"y":974.9999752044678,"wires":[["dad72ed9abd29a99"]]}]