f93e13e54f881a08/flows.json
[{"id":"f93e13e54f881a08","type":"tab","label":"[sound] WebAudio playground","disabled":false,"info":"","env":[]},{"id":"e22140c236d0aeb4","type":"group","z":"f93e13e54f881a08","name":"notes","style":{"label":true},"nodes":["79254cbe50386ad3","bafdd3f0ee2992ec","33199ea9286bb616","5951d6ddee212063","c7db77407404f9dc"],"x":2854.4285888671875,"y":640.1428527832031,"w":235,"h":290},{"id":"c6f1d5c855159939","type":"group","z":"f93e13e54f881a08","name":"loop generator","style":{"label":true},"nodes":["2aecb0eb02850145","c7fa3a15a4a87394","40db705da37eb853"],"x":3198.7618408203125,"y":1723.1428527832031,"w":364.1669921875,"h":255.5},{"id":"fe2e9170568145fa","type":"group","z":"f93e13e54f881a08","name":"oscillator node","style":{"label":true},"nodes":["ddac6e51f9cb5570"],"x":3340.4285888671875,"y":983.1428527832031,"w":172,"h":82},{"id":"52c22a6c78a5c294","type":"group","z":"f93e13e54f881a08","name":"play button","style":{"fill":"#e3f3d3","fill-opacity":"0.73","label":true},"nodes":["8a146c8c48dce59b"],"x":424.42864990234375,"y":1005.2856750488281,"w":172,"h":82},{"id":"60f04ed16916b4df","type":"group","z":"f93e13e54f881a08","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["7890b82f920f3d10","680580766c46b347","86096185ed89c423","57bb8bcfd7b17cee","887bac4db9ca4181"],"x":2949.9671630859375,"y":2469.4458627700806,"w":284,"h":406.9277534484863},{"id":"6dd574ca2d020ef7","type":"group","z":"f93e13e54f881a08","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["5ae7142fa2260f9e","f7d4033c1e3ac32e","aa2ba089402b2807","da7a5ebeeaacec64","ad79c2775e26ea27"],"x":2502,"y":3575.7866020202637,"w":284,"h":406.9277534484863},{"id":"13ed96d046f0267f","type":"group","z":"f93e13e54f881a08","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["97486940dce6ccb8","e5d1c12e86b6e0e0","7ec98a8b3e6082f5","d4fdcfc9c44bc2a1","6c6a4457308dcc91","e80b052d30e97811","23f0ccfadf22e6f2"],"x":2141.3570556640625,"y":2925.593524158001,"w":284,"h":543.692120373249},{"id":"6b4ac48fe0a45ea7","type":"group","z":"f93e13e54f881a08","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["6ba22efcc3adb17e","d7fda7063982c93f","76b9cc439d1f110b","d9738d2c5131298c","b4565368dae52e47","6060d95e1601b17b","2dc22e68ce566c40","0897707da1903132","4a757cf89880c25b","cc996d86790d4774"],"x":3320.4287109375,"y":2477.0415164232254,"w":264,"h":623.4345577955246},{"id":"e16e5491397015f1","type":"group","z":"f93e13e54f881a08","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["ed333ffa6a9f4f22","14e5445d0029f650","9750bed57abf49d3"],"x":1169.1428413391113,"y":2977,"w":837.7251551151276,"h":391},{"id":"a55d094a9650a5e2","type":"group","z":"f93e13e54f881a08","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["94ee41d8e8c2476e","67f16fed03f7946b","0ad73dd205031495"],"x":416.9271181821823,"y":2977,"w":591.501426577568,"h":319},{"id":"94ee41d8e8c2476e","type":"group","z":"f93e13e54f881a08","g":"a55d094a9650a5e2","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["815205f560046c85","b8f635636bf98807","ee2d9ca8969f6342","224be3ac0fdad95b","98194f8a52eb8158","e432e955b5bb46d7","d4f1d3e0bf45397a"],"x":530,"y":3003,"w":366,"h":267},{"id":"67f16fed03f7946b","type":"group","z":"f93e13e54f881a08","g":"a55d094a9650a5e2","name":"","style":{"fill":"#ffbfbf","fill-opacity":"0.58","label":true},"nodes":["2d4174ef5dfcc31a"],"x":930.4285447597504,"y":3003,"w":52,"h":52},{"id":"0ad73dd205031495","type":"group","z":"f93e13e54f881a08","g":"a55d094a9650a5e2","name":"","style":{"fill":"#e3f3d3","fill-opacity":"0.64","label":true},"nodes":["90cd8ca5adb4fb0f"],"x":442.9271181821823,"y":3218,"w":52,"h":52},{"id":"887bac4db9ca4181","type":"group","z":"f93e13e54f881a08","g":"60f04ed16916b4df","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["973c430965d3670f","217e875a2a4bddd5"],"x":2975.9671630859375,"y":2495.4458627700806,"w":232,"h":52},{"id":"ad79c2775e26ea27","type":"group","z":"f93e13e54f881a08","g":"6dd574ca2d020ef7","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["a8ac22dc2456e8f2","32531b6090168460"],"x":2528,"y":3601.7866020202637,"w":232,"h":52},{"id":"23f0ccfadf22e6f2","type":"group","z":"f93e13e54f881a08","g":"13ed96d046f0267f","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["0a657971bec5d773","e9c3b5d10ab04cf8"],"x":2167.3570556640625,"y":2951.593524158001,"w":232,"h":52},{"id":"cc996d86790d4774","type":"group","z":"f93e13e54f881a08","g":"6b4ac48fe0a45ea7","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["810b771abdf62772","e1b498d5dcbba215"],"x":3346.4287109375,"y":2503.0415164232254,"w":212,"h":52},{"id":"ed333ffa6a9f4f22","type":"group","z":"f93e13e54f881a08","g":"e16e5491397015f1","name":"","style":{"fill":"#ffbfbf","fill-opacity":"0.59","label":true},"nodes":["7c726cc6874ef5de"],"x":1928.867996454239,"y":3147,"w":52,"h":52},{"id":"14e5445d0029f650","type":"group","z":"f93e13e54f881a08","g":"e16e5491397015f1","name":"","style":{"fill":"#e3f3d3","fill-opacity":"0.69","label":true},"nodes":["26c71ec4e43ef5ed"],"x":1195.1428413391113,"y":3147,"w":52,"h":52},{"id":"9750bed57abf49d3","type":"group","z":"f93e13e54f881a08","g":"e16e5491397015f1","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["063a10eaf5628674","ba4e424dfdd5a801","145c9951239c2d06","b1be3a32c5dafbca","29545afd0bd06413","234e5816b12ccd84"],"x":1274.5,"y":3003,"w":626,"h":339},{"id":"ee1e2aeebcb7904b","type":"group","z":"f93e13e54f881a08","g":"aab8ba043eaf4d4d","name":"speaker node","style":{"label":true},"nodes":["46b6491b2a1f9c68"],"x":361,"y":318,"w":172,"h":82},{"id":"aab8ba043eaf4d4d","type":"group","z":"f93e13e54f881a08","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["ee1e2aeebcb7904b","f187dec0f45647a4"],"x":137,"y":108,"w":422,"h":318},{"id":"841fe27cada39ec3","type":"group","z":"f93e13e54f881a08","name":"stop this by restarting the flows - Deply --> Restart Flows","style":{"label":true},"nodes":["019196a1d16336bf","92ed666705dcc800","72bc871354050c1a","34e88a12bd169e7f","bc563028d4f0b1c9","71750daec8e0a5d9"],"x":1615,"y":130,"w":680,"h":361},{"id":"64a59761edf72fb0","type":"group","z":"f93e13e54f881a08","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["2aa31fe3a27b6c86","9d66c4070035079a"],"x":2362,"y":142,"w":518,"h":123},{"id":"b2d61dba1a202389","type":"group","z":"f93e13e54f881a08","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["5d0d88b246666b10","8335a448f0bccf83","9fe310a4c642cc89","99c4167650adb3f0","f8aef2656e50613e","d4381ed237f9fc84","a3d9958499efd2fb","41b221b8a96ad6c4","f30f16b50bec2c18","b6a1ae17cff902ee","8b2cf13c17569815","d1f9a3010943f4ea","e616714745645493","295a73591a8c1157","b05adaace4c48562","a7590d18d192bad8","a0b2c3eb5239121a"],"x":853,"y":96,"w":657,"h":486},{"id":"f187dec0f45647a4","type":"group","z":"f93e13e54f881a08","g":"aab8ba043eaf4d4d","name":"press button","style":{"fill":"#e3f3d3","fill-opacity":"0.66","label":true},"nodes":["6dc01d6c700f1285"],"x":163,"y":134,"w":172,"h":82},{"id":"810b771abdf62772","type":"junction","z":"f93e13e54f881a08","g":"cc996d86790d4774","x":3372.4287109375,"y":2529.0415164232254,"wires":[[]]},{"id":"c9f660ea8f42eaa7","type":"junction","z":"f93e13e54f881a08","x":800.8367745961459,"y":1041.7856362660725,"wires":[["e9773b22a6816d87"]]},{"id":"8a090a46c53f85aa","type":"junction","z":"f93e13e54f881a08","x":1075.0204489145963,"y":1041.3143618659697,"wires":[["caff3be4bed43276","20f89280fae84c94"]]},{"id":"d38b1d46d403d2fd","type":"junction","z":"f93e13e54f881a08","x":1351.510300900255,"y":1041.3143618659697,"wires":[["f5fbc22996674aec","269a153277292cbe"]]},{"id":"8b232ac2157c0bd4","type":"junction","z":"f93e13e54f881a08","x":1625.6939752187045,"y":1041.3143618659697,"wires":[["3ce87ab4720050d9","3775fe8045d83a8a"]]},{"id":"62fbb8018d29c8bc","type":"junction","z":"f93e13e54f881a08","x":1899.8776495371549,"y":1041.3143618659697,"wires":[["2504dc2a3bb81a48","0ecc5043e4a4848e"]]},{"id":"2808ac70b4348ad2","type":"junction","z":"f93e13e54f881a08","x":2174.0613238556043,"y":1041.3143618659697,"wires":[["ba84b2a11dbd9687","184e2b24b397c534"]]},{"id":"18b591e42ca509ad","type":"junction","z":"f93e13e54f881a08","x":2448.2449981740547,"y":1041.3143618659697,"wires":[["677451ab88a4851b","cfe004aac23cbd0f"]]},{"id":"d86ecb7ff60a266a","type":"junction","z":"f93e13e54f881a08","x":2746.122494825295,"y":1041.3143618659697,"wires":[["df2653f21f8f6b98"]]},{"id":"cfe004aac23cbd0f","type":"junction","z":"f93e13e54f881a08","x":2585.459638237953,"y":988.9130668242772,"wires":[["d86ecb7ff60a266a"]]},{"id":"20f89280fae84c94","type":"junction","z":"f93e13e54f881a08","x":1202.8572088479996,"y":988.9130668242772,"wires":[["269a153277292cbe"]]},{"id":"269a153277292cbe","type":"junction","z":"f93e13e54f881a08","x":1479.3776947259903,"y":988.9130668242772,"wires":[["3775fe8045d83a8a"]]},{"id":"3775fe8045d83a8a","type":"junction","z":"f93e13e54f881a08","x":1755.898180603981,"y":988.9130668242772,"wires":[["0ecc5043e4a4848e"]]},{"id":"0ecc5043e4a4848e","type":"junction","z":"f93e13e54f881a08","x":2032.4186664819717,"y":988.9130668242772,"wires":[["184e2b24b397c534"]]},{"id":"184e2b24b397c534","type":"junction","z":"f93e13e54f881a08","x":2308.9391523599625,"y":988.9130668242772,"wires":[["cfe004aac23cbd0f"]]},{"id":"6b98b0fe82625dfd","type":"junction","z":"f93e13e54f881a08","x":800.8367745961459,"y":1146.5453832221754,"wires":[["d30908cd7ece49cd"]]},{"id":"ea5c3315d313789a","type":"junction","z":"f93e13e54f881a08","x":1075.0204489145963,"y":1146.1169519493546,"wires":[["12ebd4ed17df2c07","873ec536edc931d8"]]},{"id":"5a15d999bfbb029c","type":"junction","z":"f93e13e54f881a08","x":1351.7041461212293,"y":1146.1169519493546,"wires":[["74e6bd7be91a658a","65c4e2f0f39d8403"]]},{"id":"f817f974e85fe839","type":"junction","z":"f93e13e54f881a08","x":1625.8878204396797,"y":1146.1169519493546,"wires":[["f3d79ca84431a36b","0f09c34395658c48"]]},{"id":"76a98070753e65ad","type":"junction","z":"f93e13e54f881a08","x":1900.0714947581291,"y":1146.1169519493546,"wires":[["1c7bc2da97408483","2836857cb159655a"]]},{"id":"61f2975fa45cb50e","type":"junction","z":"f93e13e54f881a08","x":2174.2551690765795,"y":1146.1169519493546,"wires":[["e9dfc9f9ac2bc053","9c085c31bd1bd33f"]]},{"id":"991aa80c5dbb6a54","type":"junction","z":"f93e13e54f881a08","x":2448.438843395029,"y":1146.1169519493546,"wires":[["0914a55d4c992c5f","5995dd7786d65555"]]},{"id":"e3681d658a5caa5b","type":"junction","z":"f93e13e54f881a08","x":2746.122494825295,"y":1146.1169519493546,"wires":[["1876c5bca215e63d"]]},{"id":"5995dd7786d65555","type":"junction","z":"f93e13e54f881a08","x":2585.653483458928,"y":1093.7156569076622,"wires":[["e3681d658a5caa5b"]]},{"id":"873ec536edc931d8","type":"junction","z":"f93e13e54f881a08","x":1203.0510540689743,"y":1093.7156569076622,"wires":[["65c4e2f0f39d8403"]]},{"id":"65c4e2f0f39d8403","type":"junction","z":"f93e13e54f881a08","x":1479.571539946965,"y":1093.7156569076622,"wires":[["0f09c34395658c48"]]},{"id":"0f09c34395658c48","type":"junction","z":"f93e13e54f881a08","x":1756.0920258249557,"y":1093.7156569076622,"wires":[["2836857cb159655a"]]},{"id":"2836857cb159655a","type":"junction","z":"f93e13e54f881a08","x":2032.6125117029464,"y":1093.7156569076622,"wires":[["9c085c31bd1bd33f"]]},{"id":"9c085c31bd1bd33f","type":"junction","z":"f93e13e54f881a08","x":2309.132997580937,"y":1093.7156569076622,"wires":[["5995dd7786d65555"]]},{"id":"7fa6549b6df73e15","type":"junction","z":"f93e13e54f881a08","x":800.8367745961459,"y":1251.3051301782782,"wires":[["f956c268710202dc"]]},{"id":"1f4140d2ddf201a7","type":"junction","z":"f93e13e54f881a08","x":1075.0204489145963,"y":1250.9195420327394,"wires":[["8c9a481dada2ecd7","0230b6da956b7236"]]},{"id":"98a30231e4371d67","type":"junction","z":"f93e13e54f881a08","x":1350.7041461212293,"y":1250.9195420327396,"wires":[["81dce40941f17268","a2cf937ff07859c2"]]},{"id":"41a73cab1d6e1195","type":"junction","z":"f93e13e54f881a08","x":1624.8878204396797,"y":1250.9195420327396,"wires":[["33d96629a7ae4f22","7dc06018ab67ba51"]]},{"id":"9330c307ec59740b","type":"junction","z":"f93e13e54f881a08","x":1899.0714947581291,"y":1250.9195420327396,"wires":[["bcf82eb0aea7c271","be2002d419ff5942"]]},{"id":"c630daa1d325b666","type":"junction","z":"f93e13e54f881a08","x":2173.2551690765795,"y":1250.9195420327396,"wires":[["13adcdbc11052c17","575779802f0942cf"]]},{"id":"1b07750a4c12ff0c","type":"junction","z":"f93e13e54f881a08","x":2447.438843395029,"y":1250.9195420327396,"wires":[["14f4fb28469071c3","73a97c4d20fe6741"]]},{"id":"559c0d8c6af3d895","type":"junction","z":"f93e13e54f881a08","x":2746.122494825295,"y":1250.9195420327396,"wires":[["1e17963b2420d7dd"]]},{"id":"73a97c4d20fe6741","type":"junction","z":"f93e13e54f881a08","x":2584.653483458928,"y":1198.5182469910471,"wires":[["559c0d8c6af3d895"]]},{"id":"0230b6da956b7236","type":"junction","z":"f93e13e54f881a08","x":1202.0510540689743,"y":1198.5182469910471,"wires":[["a2cf937ff07859c2"]]},{"id":"a2cf937ff07859c2","type":"junction","z":"f93e13e54f881a08","x":1478.571539946965,"y":1198.5182469910471,"wires":[["7dc06018ab67ba51"]]},{"id":"7dc06018ab67ba51","type":"junction","z":"f93e13e54f881a08","x":1755.0920258249557,"y":1198.5182469910471,"wires":[["be2002d419ff5942"]]},{"id":"be2002d419ff5942","type":"junction","z":"f93e13e54f881a08","x":2031.6125117029464,"y":1198.5182469910471,"wires":[["575779802f0942cf"]]},{"id":"575779802f0942cf","type":"junction","z":"f93e13e54f881a08","x":2308.132997580937,"y":1198.5182469910471,"wires":[["73a97c4d20fe6741"]]},{"id":"e99398f539b1c86f","type":"junction","z":"f93e13e54f881a08","x":800.8367745961459,"y":1356.064877134381,"wires":[["f512ea9d29cd8a21"]]},{"id":"053fdf2da881531a","type":"junction","z":"f93e13e54f881a08","x":1075.0204489145963,"y":1355.7221321161242,"wires":[["eb99b6275fc1d016","d4bfc5b2da70ab52"]]},{"id":"c6ad42101690899d","type":"junction","z":"f93e13e54f881a08","x":1348.7041461212293,"y":1355.7221321161246,"wires":[["a049f56371ae0a41","e88f0aa1a5504572"]]},{"id":"94266c720cd8bea3","type":"junction","z":"f93e13e54f881a08","x":1622.8878204396797,"y":1355.7221321161246,"wires":[["62d1ed038b471e55","1dc8b502ef7e1527"]]},{"id":"d4299e35faeb9ec5","type":"junction","z":"f93e13e54f881a08","x":1897.0714947581291,"y":1355.7221321161246,"wires":[["461582533074657a","b817996093bf8779"]]},{"id":"b7cc4d25f8e50b6c","type":"junction","z":"f93e13e54f881a08","x":2171.2551690765795,"y":1355.7221321161246,"wires":[["2de231a27f370512","a1681399cfc02d3d"]]},{"id":"19458e392886661c","type":"junction","z":"f93e13e54f881a08","x":2445.438843395029,"y":1355.7221321161246,"wires":[["f2d4b2722f320da1","6ae140e0c754e932"]]},{"id":"924cdfec34a8222e","type":"junction","z":"f93e13e54f881a08","x":2746.122494825295,"y":1355.7221321161246,"wires":[["c77f86934f0eec45"]]},{"id":"6ae140e0c754e932","type":"junction","z":"f93e13e54f881a08","x":2582.653483458928,"y":1303.3208370744321,"wires":[["924cdfec34a8222e"]]},{"id":"d4bfc5b2da70ab52","type":"junction","z":"f93e13e54f881a08","x":1200.0510540689743,"y":1303.3208370744321,"wires":[["e88f0aa1a5504572"]]},{"id":"e88f0aa1a5504572","type":"junction","z":"f93e13e54f881a08","x":1476.571539946965,"y":1303.3208370744321,"wires":[["1dc8b502ef7e1527"]]},{"id":"1dc8b502ef7e1527","type":"junction","z":"f93e13e54f881a08","x":1753.0920258249557,"y":1303.3208370744321,"wires":[["b817996093bf8779"]]},{"id":"b817996093bf8779","type":"junction","z":"f93e13e54f881a08","x":2029.6125117029464,"y":1303.3208370744321,"wires":[["a1681399cfc02d3d"]]},{"id":"a1681399cfc02d3d","type":"junction","z":"f93e13e54f881a08","x":2306.132997580937,"y":1303.3208370744321,"wires":[["6ae140e0c754e932"]]},{"id":"1571bb0f32e3bd56","type":"junction","z":"f93e13e54f881a08","x":664.8989657610655,"y":1461.904757976532,"wires":[["c9f660ea8f42eaa7","6b98b0fe82625dfd","7fa6549b6df73e15","e99398f539b1c86f","1388f68b29cb9079","07a4846128fe6280","b109ee493e2ced90","99781c14b777172b","888752aea84602e0","2c38e619fb0da796","edb47ef20ed83aed","6b5e202d92d5d3ca"]]},{"id":"1388f68b29cb9079","type":"junction","z":"f93e13e54f881a08","x":800.8367745961459,"y":1460.824624090484,"wires":[["ea2bec0746b43316"]]},{"id":"a019633824c08bce","type":"junction","z":"f93e13e54f881a08","x":1075.0204489145963,"y":1460.524722199509,"wires":[["04d53a5d3e57b3e0","bbb6ab94a65a3b5a"]]},{"id":"67e8e75b67fee842","type":"junction","z":"f93e13e54f881a08","x":1348.2753894073621,"y":1460.5247221995096,"wires":[["834aff20b577a1c5","d0f90d81a048d5b1"]]},{"id":"2a74f90749c8dd05","type":"junction","z":"f93e13e54f881a08","x":1622.4590637258125,"y":1460.5247221995096,"wires":[["1148da548c8e1d08","f1c78a655fcb719c"]]},{"id":"3d48e156f4ff2326","type":"junction","z":"f93e13e54f881a08","x":1896.642738044262,"y":1460.5247221995096,"wires":[["3da290557ee59fee","39376b7c9e66d1a2"]]},{"id":"4da3b2f183a0be0d","type":"junction","z":"f93e13e54f881a08","x":2170.8264123627123,"y":1460.5247221995096,"wires":[["44d90cc38b4bc905","54f353cbb922476b"]]},{"id":"0e7ef551a26842a1","type":"junction","z":"f93e13e54f881a08","x":2445.0100866811617,"y":1460.5247221995096,"wires":[["827338ad83cbb02b","5145facd2e6e5db2"]]},{"id":"0fa0911ea3f6b682","type":"junction","z":"f93e13e54f881a08","x":2746.122494825295,"y":1460.5247221995096,"wires":[["d99bff8bd994fe53","0c797a78ada741a8"]]},{"id":"5145facd2e6e5db2","type":"junction","z":"f93e13e54f881a08","x":2582.2247267450607,"y":1408.123427157817,"wires":[["0fa0911ea3f6b682"]]},{"id":"bbb6ab94a65a3b5a","type":"junction","z":"f93e13e54f881a08","x":1199.622297355107,"y":1408.123427157817,"wires":[["d0f90d81a048d5b1"]]},{"id":"d0f90d81a048d5b1","type":"junction","z":"f93e13e54f881a08","x":1476.1427832330978,"y":1408.123427157817,"wires":[["f1c78a655fcb719c"]]},{"id":"f1c78a655fcb719c","type":"junction","z":"f93e13e54f881a08","x":1752.6632691110885,"y":1408.123427157817,"wires":[["39376b7c9e66d1a2"]]},{"id":"39376b7c9e66d1a2","type":"junction","z":"f93e13e54f881a08","x":2029.1837549890793,"y":1408.123427157817,"wires":[["54f353cbb922476b"]]},{"id":"54f353cbb922476b","type":"junction","z":"f93e13e54f881a08","x":2305.70424086707,"y":1408.123427157817,"wires":[["5145facd2e6e5db2"]]},{"id":"07a4846128fe6280","type":"junction","z":"f93e13e54f881a08","x":800.8367745961459,"y":1565.5843710465867,"wires":[["cca88a88a693b262"]]},{"id":"08dbd7a6aff1b161","type":"junction","z":"f93e13e54f881a08","x":1075.0204489145963,"y":1565.3273122828937,"wires":[["2ad7d96f4222b93b","5d4e1077b129b05e"]]},{"id":"f5e007af7b3e0154","type":"junction","z":"f93e13e54f881a08","x":1348.7041003448621,"y":1565.3273122828946,"wires":[["a2531e7cbf865f2e","3f774bad9ae03b4f"]]},{"id":"7576d2cc479bb302","type":"junction","z":"f93e13e54f881a08","x":1622.8877746633125,"y":1565.3273122828946,"wires":[["6c43b8d1ddd0ac79","74a19a7f50adee55"]]},{"id":"75a14f3cea4f03c2","type":"junction","z":"f93e13e54f881a08","x":1897.071448981762,"y":1565.3273122828946,"wires":[["4797b0d3a0896957","fe40a92d804cd210"]]},{"id":"e5a6e83af38a9948","type":"junction","z":"f93e13e54f881a08","x":2171.2551233002123,"y":1565.3273122828946,"wires":[["60051f64a37359a5","3691be5006b4b1ef"]]},{"id":"967d0ec155efdcb3","type":"junction","z":"f93e13e54f881a08","x":2445.4387976186617,"y":1565.3273122828946,"wires":[["b7cef0822eaa6f62","7e59f5c5a28d6df7"]]},{"id":"321443b932e23197","type":"junction","z":"f93e13e54f881a08","x":2746.122494825295,"y":1565.3273122828946,"wires":[["4d48c1023aabe960"]]},{"id":"7e59f5c5a28d6df7","type":"junction","z":"f93e13e54f881a08","x":2582.6534376825607,"y":1512.926017241202,"wires":[["321443b932e23197"]]},{"id":"5d4e1077b129b05e","type":"junction","z":"f93e13e54f881a08","x":1200.051008292607,"y":1512.926017241202,"wires":[["3f774bad9ae03b4f"]]},{"id":"3f774bad9ae03b4f","type":"junction","z":"f93e13e54f881a08","x":1476.5714941705978,"y":1512.926017241202,"wires":[["74a19a7f50adee55"]]},{"id":"74a19a7f50adee55","type":"junction","z":"f93e13e54f881a08","x":1753.0919800485885,"y":1512.926017241202,"wires":[["fe40a92d804cd210"]]},{"id":"fe40a92d804cd210","type":"junction","z":"f93e13e54f881a08","x":2029.6124659265793,"y":1512.926017241202,"wires":[["3691be5006b4b1ef"]]},{"id":"3691be5006b4b1ef","type":"junction","z":"f93e13e54f881a08","x":2306.13295180457,"y":1512.926017241202,"wires":[["7e59f5c5a28d6df7"]]},{"id":"b109ee493e2ced90","type":"junction","z":"f93e13e54f881a08","x":800.8367745961459,"y":1670.3441180026896,"wires":[["4392fd0be04f55b4"]]},{"id":"627eea760f6b4687","type":"junction","z":"f93e13e54f881a08","x":1075.0204489145963,"y":1670.1299023662784,"wires":[["54152c58c0b2572a","d9a5b57b11dca1df"]]},{"id":"cb540345060ffd92","type":"junction","z":"f93e13e54f881a08","x":1350.7041003448621,"y":1670.1299023662796,"wires":[["cd2682d673ea963c","15e079265b92269a"]]},{"id":"b26d04d04842bdd3","type":"junction","z":"f93e13e54f881a08","x":1624.8877746633125,"y":1670.1299023662796,"wires":[["2d89922169f8a188","4c847a975dcc0bd2"]]},{"id":"5fbd8b940ad1f6b3","type":"junction","z":"f93e13e54f881a08","x":1899.071448981762,"y":1670.1299023662796,"wires":[["8c8f1d7c9bf085a9","eb53ff2d31e15f78"]]},{"id":"ca52e083bbe1d25a","type":"junction","z":"f93e13e54f881a08","x":2173.2551233002123,"y":1670.1299023662796,"wires":[["4e90f35d1202639b","828a6ac326c3d5ec"]]},{"id":"b4ed3fa856207f40","type":"junction","z":"f93e13e54f881a08","x":2447.4387976186617,"y":1670.1299023662796,"wires":[["c4b5f180454737df","5c7d8c303b777097"]]},{"id":"1fe1251e33e9826d","type":"junction","z":"f93e13e54f881a08","x":2746.122494825295,"y":1670.1299023662796,"wires":[["efb4fa51e1d06925","c0db3f7f17111d91"]]},{"id":"5c7d8c303b777097","type":"junction","z":"f93e13e54f881a08","x":2584.6534376825607,"y":1617.728607324587,"wires":[["1fe1251e33e9826d"]]},{"id":"d9a5b57b11dca1df","type":"junction","z":"f93e13e54f881a08","x":1202.051008292607,"y":1617.728607324587,"wires":[["15e079265b92269a"]]},{"id":"15e079265b92269a","type":"junction","z":"f93e13e54f881a08","x":1478.5714941705978,"y":1617.728607324587,"wires":[["4c847a975dcc0bd2"]]},{"id":"4c847a975dcc0bd2","type":"junction","z":"f93e13e54f881a08","x":1755.0919800485885,"y":1617.728607324587,"wires":[["eb53ff2d31e15f78"]]},{"id":"eb53ff2d31e15f78","type":"junction","z":"f93e13e54f881a08","x":2031.6124659265793,"y":1617.728607324587,"wires":[["828a6ac326c3d5ec"]]},{"id":"828a6ac326c3d5ec","type":"junction","z":"f93e13e54f881a08","x":2308.13295180457,"y":1617.728607324587,"wires":[["5c7d8c303b777097"]]},{"id":"99781c14b777172b","type":"junction","z":"f93e13e54f881a08","x":800.8367745961459,"y":1775.1038649587924,"wires":[["e9881b4ee9712fb0"]]},{"id":"5cd72ac9bcce5d52","type":"junction","z":"f93e13e54f881a08","x":1075.0204489145963,"y":1774.9324924496632,"wires":[["5db469ce9eb3ec2c","a499bba7b1a2ddea"]]},{"id":"b07fd8c4e55965a3","type":"junction","z":"f93e13e54f881a08","x":1348.7041003448621,"y":1774.9324924496646,"wires":[["6bfa2827e73e1139","da807a7bbfa408fd"]]},{"id":"dc58910feb0cab19","type":"junction","z":"f93e13e54f881a08","x":1622.8877746633125,"y":1774.9324924496646,"wires":[["6dd77f8676db2438","5f09a7f6ede6013f"]]},{"id":"4aef2d4bfaa16f7c","type":"junction","z":"f93e13e54f881a08","x":1897.071448981762,"y":1774.9324924496646,"wires":[["a467853f5ba38a4e","3437a1fb3087e68e"]]},{"id":"32082f50e19588ea","type":"junction","z":"f93e13e54f881a08","x":2171.2551233002123,"y":1774.9324924496646,"wires":[["b0dbbdf444d013d9","be217a689b8be8d0"]]},{"id":"4eeb4d2ae764944f","type":"junction","z":"f93e13e54f881a08","x":2445.4387976186617,"y":1774.9324924496646,"wires":[["6c6467ff8944228e","39f9c49b57ddd5b0"]]},{"id":"cd3059a5e4d299e5","type":"junction","z":"f93e13e54f881a08","x":2746.122494825295,"y":1774.9324924496646,"wires":[["e85939252ff9aca7"]]},{"id":"39f9c49b57ddd5b0","type":"junction","z":"f93e13e54f881a08","x":2582.6534376825607,"y":1722.531197407972,"wires":[["cd3059a5e4d299e5"]]},{"id":"a499bba7b1a2ddea","type":"junction","z":"f93e13e54f881a08","x":1200.051008292607,"y":1722.531197407972,"wires":[["da807a7bbfa408fd"]]},{"id":"da807a7bbfa408fd","type":"junction","z":"f93e13e54f881a08","x":1476.5714941705978,"y":1722.531197407972,"wires":[["5f09a7f6ede6013f"]]},{"id":"5f09a7f6ede6013f","type":"junction","z":"f93e13e54f881a08","x":1753.0919800485885,"y":1722.531197407972,"wires":[["3437a1fb3087e68e"]]},{"id":"3437a1fb3087e68e","type":"junction","z":"f93e13e54f881a08","x":2029.6124659265793,"y":1722.531197407972,"wires":[["be217a689b8be8d0"]]},{"id":"be217a689b8be8d0","type":"junction","z":"f93e13e54f881a08","x":2306.13295180457,"y":1722.531197407972,"wires":[["39f9c49b57ddd5b0"]]},{"id":"888752aea84602e0","type":"junction","z":"f93e13e54f881a08","x":800.8367745961459,"y":1879.8636119148953,"wires":[["2a148239b86b8a4c"]]},{"id":"00b524a124a540e0","type":"junction","z":"f93e13e54f881a08","x":1075.0204489145963,"y":1879.735082533048,"wires":[["24785e1415038527","a2d66377d376cac3"]]},{"id":"6127f3455203a928","type":"junction","z":"f93e13e54f881a08","x":1346.7041003448621,"y":1879.7350825330495,"wires":[["859b82099583580f","c88813d39840fef9"]]},{"id":"5143fecec8039073","type":"junction","z":"f93e13e54f881a08","x":1620.8877746633125,"y":1879.7350825330495,"wires":[["b9af883ea7d71646","dbe7148e3e07547d"]]},{"id":"e8e380a7580920e6","type":"junction","z":"f93e13e54f881a08","x":1895.071448981762,"y":1879.7350825330495,"wires":[["e758530cb46ddb9f","51cc484036384277"]]},{"id":"b62c16ddbc436542","type":"junction","z":"f93e13e54f881a08","x":2169.2551233002123,"y":1879.7350825330495,"wires":[["729544dfb88d2cb6","c43c89f29c30d6d4"]]},{"id":"7a47cee1a58d28ea","type":"junction","z":"f93e13e54f881a08","x":2443.4387976186617,"y":1879.7350825330495,"wires":[["fd76776139115580","bda868fbf50aebe0"]]},{"id":"920e2c627734b40c","type":"junction","z":"f93e13e54f881a08","x":2746.122494825295,"y":1879.7350825330495,"wires":[["d5b368c1e63e889a"]]},{"id":"bda868fbf50aebe0","type":"junction","z":"f93e13e54f881a08","x":2580.6534376825607,"y":1827.333787491357,"wires":[["920e2c627734b40c"]]},{"id":"a2d66377d376cac3","type":"junction","z":"f93e13e54f881a08","x":1198.051008292607,"y":1827.333787491357,"wires":[["c88813d39840fef9"]]},{"id":"c88813d39840fef9","type":"junction","z":"f93e13e54f881a08","x":1474.5714941705978,"y":1827.333787491357,"wires":[["dbe7148e3e07547d"]]},{"id":"dbe7148e3e07547d","type":"junction","z":"f93e13e54f881a08","x":1751.0919800485885,"y":1827.333787491357,"wires":[["51cc484036384277"]]},{"id":"51cc484036384277","type":"junction","z":"f93e13e54f881a08","x":2027.6124659265793,"y":1827.333787491357,"wires":[["c43c89f29c30d6d4"]]},{"id":"c43c89f29c30d6d4","type":"junction","z":"f93e13e54f881a08","x":2304.13295180457,"y":1827.333787491357,"wires":[["bda868fbf50aebe0"]]},{"id":"2c38e619fb0da796","type":"junction","z":"f93e13e54f881a08","x":800.8367745961459,"y":1984.6233588709981,"wires":[["255739351ca10c9f"]]},{"id":"4bc85bdc6c880acf","type":"junction","z":"f93e13e54f881a08","x":1075.0204489145963,"y":1984.5376726164327,"wires":[["c6174908e905f663","e377a89888a2872d"]]},{"id":"b16ac85f05104253","type":"junction","z":"f93e13e54f881a08","x":1348.7041003448621,"y":1984.5376726164345,"wires":[["99f4a7fe7101bcef","6684a651378f9a4a"]]},{"id":"e78e9479181ec864","type":"junction","z":"f93e13e54f881a08","x":1622.8877746633125,"y":1984.5376726164345,"wires":[["eb245c64dc520a50","957bd967f205819a"]]},{"id":"9dd3f094491b98b7","type":"junction","z":"f93e13e54f881a08","x":1897.071448981762,"y":1984.5376726164345,"wires":[["d350a8229e8b8e98","dc9cdd60dba6c90f"]]},{"id":"7fa78c3ad37e349d","type":"junction","z":"f93e13e54f881a08","x":2171.2551233002123,"y":1984.5376726164345,"wires":[["2d8984fb3926f7ba","4ed9a75ec1d19f65"]]},{"id":"e2fa7ef4fb328335","type":"junction","z":"f93e13e54f881a08","x":2445.4387976186617,"y":1984.5376726164345,"wires":[["fb9ec2711944db98","59c06f5f84cdca9d"]]},{"id":"beb487d544b1b9af","type":"junction","z":"f93e13e54f881a08","x":2746.122494825295,"y":1984.5376726164345,"wires":[["60f8191ba6010a79","cb79a7ae7c87f114"]]},{"id":"59c06f5f84cdca9d","type":"junction","z":"f93e13e54f881a08","x":2582.6534376825607,"y":1932.136377574742,"wires":[["beb487d544b1b9af"]]},{"id":"e377a89888a2872d","type":"junction","z":"f93e13e54f881a08","x":1200.051008292607,"y":1932.136377574742,"wires":[["6684a651378f9a4a"]]},{"id":"6684a651378f9a4a","type":"junction","z":"f93e13e54f881a08","x":1476.5714941705978,"y":1932.136377574742,"wires":[["957bd967f205819a"]]},{"id":"957bd967f205819a","type":"junction","z":"f93e13e54f881a08","x":1753.0919800485885,"y":1932.136377574742,"wires":[["dc9cdd60dba6c90f"]]},{"id":"dc9cdd60dba6c90f","type":"junction","z":"f93e13e54f881a08","x":2029.6124659265793,"y":1932.136377574742,"wires":[["4ed9a75ec1d19f65"]]},{"id":"4ed9a75ec1d19f65","type":"junction","z":"f93e13e54f881a08","x":2306.13295180457,"y":1932.136377574742,"wires":[["59c06f5f84cdca9d"]]},{"id":"171f65c8030ce57b","type":"junction","z":"f93e13e54f881a08","x":3128.8580753803253,"y":1452.989307641983,"wires":[["ddac6e51f9cb5570","3e15a9bf35e2dade","2aecb0eb02850145"]]},{"id":"177a0dd9aff63c43","type":"junction","z":"f93e13e54f881a08","x":3501.4388320446014,"y":2395.1325907707214,"wires":[["5d71310b9c906c77"]]},{"id":"5d71310b9c906c77","type":"junction","z":"f93e13e54f881a08","x":664.8989657610655,"y":2386.969347000122,"wires":[["46a42fc1362a5740"]]},{"id":"7623f4ad029742db","type":"junction","z":"f93e13e54f881a08","x":3499.214333176613,"y":2173.142852783203,"wires":[["e4f82e296fd79b33"]]},{"id":"e4f82e296fd79b33","type":"junction","z":"f93e13e54f881a08","x":3499.214333176613,"y":2287.142852783203,"wires":[["177a0dd9aff63c43"]]},{"id":"df9810a78d6d0924","type":"junction","z":"f93e13e54f881a08","x":3499.214333176613,"y":2059.142852783203,"wires":[["7623f4ad029742db"]]},{"id":"7342bbf34e539f82","type":"junction","z":"f93e13e54f881a08","x":664.8989657610655,"y":1770.2596209843955,"wires":[["bf10d1b0365bcd4a"]]},{"id":"9697151f7aca8131","type":"junction","z":"f93e13e54f881a08","x":664.8989657610655,"y":2078.614483992259,"wires":[["2586a9dc793c8d69"]]},{"id":"46a42fc1362a5740","type":"junction","z":"f93e13e54f881a08","x":664.8989657610655,"y":2232.7919154961905,"wires":[["9697151f7aca8131"]]},{"id":"2586a9dc793c8d69","type":"junction","z":"f93e13e54f881a08","x":664.8989657610655,"y":1924.4370524883273,"wires":[["7342bbf34e539f82"]]},{"id":"bf10d1b0365bcd4a","type":"junction","z":"f93e13e54f881a08","x":664.8989657610655,"y":1616.0821894804637,"wires":[["1571bb0f32e3bd56"]]},{"id":"edb47ef20ed83aed","type":"junction","z":"f93e13e54f881a08","x":800.8367745961459,"y":2089.3831058271007,"wires":[["b0f0daa7ad1b483a"]]},{"id":"3e244e44b42727eb","type":"junction","z":"f93e13e54f881a08","x":1075.0204489145963,"y":2089.3402626998177,"wires":[["469b749d9eeb964b","0945e7e4f54e4d4b"]]},{"id":"41e691393fbc0819","type":"junction","z":"f93e13e54f881a08","x":1351.7041052154127,"y":2089.3402626998195,"wires":[["28e2db16a7479e6e","60d86856f44c5afc"]]},{"id":"289d289cf5bf3e45","type":"junction","z":"f93e13e54f881a08","x":1625.887779533863,"y":2089.3402626998195,"wires":[["c23fdca8162e04b2","f7c5dd09c134e9f4"]]},{"id":"ca6b01d18bb5571c","type":"junction","z":"f93e13e54f881a08","x":1900.0714538523125,"y":2089.3402626998195,"wires":[["8970055e43fcbd04","bddff4820b804bfb"]]},{"id":"3398e03e4c748f49","type":"junction","z":"f93e13e54f881a08","x":2174.255128170763,"y":2089.3402626998195,"wires":[["cb2dfe0a9f73c386","cc0f631b6eef9ea6"]]},{"id":"9afeb3963fcd4671","type":"junction","z":"f93e13e54f881a08","x":2448.4388024892123,"y":2089.3402626998195,"wires":[["8bffefe4dbad14a3","30b285222fee5e76"]]},{"id":"a2af7e823f50e6b5","type":"junction","z":"f93e13e54f881a08","x":2746.122494825295,"y":2089.3402626998195,"wires":[["6c9f2a0c5238bd45"]]},{"id":"30b285222fee5e76","type":"junction","z":"f93e13e54f881a08","x":2585.653442553111,"y":2036.9389676581268,"wires":[["a2af7e823f50e6b5"]]},{"id":"0945e7e4f54e4d4b","type":"junction","z":"f93e13e54f881a08","x":1203.0510131631577,"y":2036.9389676581268,"wires":[["60d86856f44c5afc"]]},{"id":"60d86856f44c5afc","type":"junction","z":"f93e13e54f881a08","x":1479.5714990411484,"y":2036.9389676581268,"wires":[["f7c5dd09c134e9f4"]]},{"id":"f7c5dd09c134e9f4","type":"junction","z":"f93e13e54f881a08","x":1756.0919849191391,"y":2036.9389676581268,"wires":[["bddff4820b804bfb"]]},{"id":"bddff4820b804bfb","type":"junction","z":"f93e13e54f881a08","x":2032.6124707971298,"y":2036.9389676581268,"wires":[["cc0f631b6eef9ea6"]]},{"id":"cc0f631b6eef9ea6","type":"junction","z":"f93e13e54f881a08","x":2309.1329566751206,"y":2036.9389676581268,"wires":[["30b285222fee5e76"]]},{"id":"6b5e202d92d5d3ca","type":"junction","z":"f93e13e54f881a08","x":800.8367745961459,"y":2194.142852783203,"wires":[["05ef346e1a75143d"]]},{"id":"216671fe9dc904c8","type":"junction","z":"f93e13e54f881a08","x":1075.0204489145963,"y":2194.142852783203,"wires":[["8ce03d13523f6d0c","9c5951a7c674bcd8"]]},{"id":"6d738e89c15af92c","type":"junction","z":"f93e13e54f881a08","x":1349.7041003448621,"y":2194.142852783203,"wires":[["0a5c12c5c56e693f","61f88ec97608778f"]]},{"id":"c645f414b31128e6","type":"junction","z":"f93e13e54f881a08","x":1623.8877746633125,"y":2194.142852783203,"wires":[["1bf44cb25e4f9e1f","3424954374439a80"]]},{"id":"c9b0a532ef127d21","type":"junction","z":"f93e13e54f881a08","x":1898.071448981762,"y":2194.142852783203,"wires":[["fd35851def867e51","b5594746304c51e5"]]},{"id":"c34dd675e907f87d","type":"junction","z":"f93e13e54f881a08","x":2172.2551233002123,"y":2194.142852783203,"wires":[["200aa8b9f484badd","580e326764cc683a"]]},{"id":"ed284de525fa4e3c","type":"junction","z":"f93e13e54f881a08","x":2446.4387976186617,"y":2194.142852783203,"wires":[["c35668dead9433fa","e070737e7b518080"]]},{"id":"d0065fa8341d6805","type":"junction","z":"f93e13e54f881a08","x":2746.122494825295,"y":2194.142852783203,"wires":[["05ee23c954254f09"]]},{"id":"e070737e7b518080","type":"junction","z":"f93e13e54f881a08","x":2583.6534376825603,"y":2141.741557741512,"wires":[["d0065fa8341d6805"]]},{"id":"9c5951a7c674bcd8","type":"junction","z":"f93e13e54f881a08","x":1201.051008292607,"y":2141.741557741512,"wires":[["61f88ec97608778f"]]},{"id":"61f88ec97608778f","type":"junction","z":"f93e13e54f881a08","x":1477.5714941705978,"y":2141.741557741512,"wires":[["3424954374439a80"]]},{"id":"3424954374439a80","type":"junction","z":"f93e13e54f881a08","x":1754.0919800485885,"y":2141.741557741512,"wires":[["b5594746304c51e5"]]},{"id":"b5594746304c51e5","type":"junction","z":"f93e13e54f881a08","x":2030.6124659265793,"y":2141.741557741512,"wires":[["580e326764cc683a"]]},{"id":"580e326764cc683a","type":"junction","z":"f93e13e54f881a08","x":2307.13295180457,"y":2141.741557741512,"wires":[["e070737e7b518080"]]},{"id":"973c430965d3670f","type":"junction","z":"f93e13e54f881a08","g":"887bac4db9ca4181","x":3181.9671630859375,"y":2521.4458627700806,"wires":[["680580766c46b347","86096185ed89c423","57bb8bcfd7b17cee","7890b82f920f3d10"]]},{"id":"217e875a2a4bddd5","type":"junction","z":"f93e13e54f881a08","g":"887bac4db9ca4181","x":3001.9671630859375,"y":2521.4458627700806,"wires":[[]]},{"id":"a8ac22dc2456e8f2","type":"junction","z":"f93e13e54f881a08","g":"ad79c2775e26ea27","x":2734,"y":3627.7866020202637,"wires":[["f7d4033c1e3ac32e","aa2ba089402b2807","da7a5ebeeaacec64","5ae7142fa2260f9e"]]},{"id":"32531b6090168460","type":"junction","z":"f93e13e54f881a08","g":"ad79c2775e26ea27","x":2554,"y":3627.7866020202637,"wires":[["50c3e3a81221e125","e31609013ae8e1d7","81479261585dbc09"]]},{"id":"be22748a4892c224","type":"junction","z":"f93e13e54f881a08","x":3605.4285583496094,"y":3443.1428775787354,"wires":[["8a3bd34e06b7d072","80de46af6ea41d59","e706b734adc52aaa"]]},{"id":"2cab35e8f50733b3","type":"junction","z":"f93e13e54f881a08","x":2969.081672310829,"y":3806.5917290449142,"wires":[["aa3e145f502ac60b"]]},{"id":"aa3e145f502ac60b","type":"junction","z":"f93e13e54f881a08","x":3024.7143074274063,"y":3405.5714172124863,"wires":[["f368f1187f099012","f389fa54df62b517"]]},{"id":"0a657971bec5d773","type":"junction","z":"f93e13e54f881a08","g":"23f0ccfadf22e6f2","x":2193.3570556640625,"y":2977.593524158001,"wires":[["08bb8739b40bd420","06e9372314f8c5c0","132143c23fa51859"]]},{"id":"e9822e40b781d229","type":"junction","z":"f93e13e54f881a08","x":2989.714043021202,"y":4442.714192032814,"wires":[[]]},{"id":"e9c3b5d10ab04cf8","type":"junction","z":"f93e13e54f881a08","g":"23f0ccfadf22e6f2","x":2373.3570556640625,"y":2977.593524158001,"wires":[["e5d1c12e86b6e0e0","7ec98a8b3e6082f5"]]},{"id":"7c726cc6874ef5de","type":"junction","z":"f93e13e54f881a08","g":"ed333ffa6a9f4f22","x":1954.867996454239,"y":3173,"wires":[[]]},{"id":"90cd8ca5adb4fb0f","type":"junction","z":"f93e13e54f881a08","g":"0ad73dd205031495","x":468.9271181821823,"y":3244,"wires":[["b8f635636bf98807","98194f8a52eb8158","e432e955b5bb46d7","d4f1d3e0bf45397a"]]},{"id":"2d4174ef5dfcc31a","type":"junction","z":"f93e13e54f881a08","g":"67f16fed03f7946b","x":956.4285447597504,"y":3029,"wires":[[]]},{"id":"26c71ec4e43ef5ed","type":"junction","z":"f93e13e54f881a08","g":"14e5445d0029f650","x":1221.1428413391113,"y":3173,"wires":[["063a10eaf5628674"]]},{"id":"e1b498d5dcbba215","type":"junction","z":"f93e13e54f881a08","g":"cc996d86790d4774","x":3532.4287109375,"y":2529.0415164232254,"wires":[["6ba22efcc3adb17e"]]},{"id":"6ba22efcc3adb17e","type":"change","z":"f93e13e54f881a08","g":"6b4ac48fe0a45ea7","name":"triangle - 450 Hz","rules":[{"t":"set","p":"shape","pt":"msg","to":"triangle","tot":"str"},{"t":"set","p":"duration","pt":"msg","to":"1100","tot":"str"},{"t":"set","p":"frequency","pt":"msg","to":"450","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":3452.4287109375,"y":2694.1427680121524,"wires":[["76b9cc439d1f110b","810b771abdf62772"]]},{"id":"d7fda7063982c93f","type":"change","z":"f93e13e54f881a08","g":"6b4ac48fe0a45ea7","name":"triangle - 440 Hz","rules":[{"t":"set","p":"shape","pt":"msg","to":"triangle","tot":"str"},{"t":"set","p":"duration","pt":"msg","to":"1100","tot":"str"},{"t":"set","p":"frequency","pt":"msg","to":"440","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":3452.4287109375,"y":2785.476094563802,"wires":[["b4565368dae52e47","810b771abdf62772"]]},{"id":"76b9cc439d1f110b","type":"delay","z":"f93e13e54f881a08","g":"6b4ac48fe0a45ea7","name":"","pauseType":"delay","timeout":"900","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":3452.4287109375,"y":2739.8094312879775,"wires":[["d7fda7063982c93f"]]},{"id":"d9738d2c5131298c","type":"change","z":"f93e13e54f881a08","g":"6b4ac48fe0a45ea7","name":"triangle - 430 Hz","rules":[{"t":"set","p":"shape","pt":"msg","to":"triangle","tot":"str"},{"t":"set","p":"duration","pt":"msg","to":"1100","tot":"str"},{"t":"set","p":"frequency","pt":"msg","to":"430","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":3452.4287109375,"y":2876.809421115451,"wires":[["2dc22e68ce566c40","810b771abdf62772"]]},{"id":"b4565368dae52e47","type":"delay","z":"f93e13e54f881a08","g":"6b4ac48fe0a45ea7","name":"","pauseType":"delay","timeout":"900","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":3452.4287109375,"y":2831.1427578396265,"wires":[["d9738d2c5131298c"]]},{"id":"6060d95e1601b17b","type":"change","z":"f93e13e54f881a08","g":"6b4ac48fe0a45ea7","name":"triangle - 420 Hz","rules":[{"t":"set","p":"shape","pt":"msg","to":"triangle","tot":"str"},{"t":"set","p":"duration","pt":"msg","to":"1100","tot":"str"},{"t":"set","p":"frequency","pt":"msg","to":"420","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":3452.4287109375,"y":2968.1427476671006,"wires":[["4a757cf89880c25b","810b771abdf62772"]]},{"id":"2dc22e68ce566c40","type":"delay","z":"f93e13e54f881a08","g":"6b4ac48fe0a45ea7","name":"","pauseType":"delay","timeout":"900","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":3452.4287109375,"y":2922.476084391276,"wires":[["6060d95e1601b17b"]]},{"id":"0897707da1903132","type":"change","z":"f93e13e54f881a08","g":"6b4ac48fe0a45ea7","name":"triangle - 410 Hz","rules":[{"t":"set","p":"shape","pt":"msg","to":"triangle","tot":"str"},{"t":"set","p":"duration","pt":"msg","to":"1100","tot":"str"},{"t":"set","p":"frequency","pt":"msg","to":"410","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":3452.4287109375,"y":3059.47607421875,"wires":[["810b771abdf62772"]]},{"id":"4a757cf89880c25b","type":"delay","z":"f93e13e54f881a08","g":"6b4ac48fe0a45ea7","name":"","pauseType":"delay","timeout":"900","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":3452.4287109375,"y":3013.8094109429253,"wires":[["0897707da1903132"]]},{"id":"df2653f21f8f6b98","type":"change","z":"f93e13e54f881a08","name":"frequency 450 - sine","rules":[{"t":"set","p":"shape","pt":"msg","to":"sine","tot":"str"},{"t":"set","p":"duration","pt":"msg","to":"1100","tot":"str"},{"t":"set","p":"frequency","pt":"msg","to":"450","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2916.4285888671875,"y":1041.2856362660725,"wires":[["171f65c8030ce57b"]]},{"id":"1876c5bca215e63d","type":"change","z":"f93e13e54f881a08","name":"frequency 440 - sine","rules":[{"t":"set","p":"shape","pt":"msg","to":"sine","tot":"str"},{"t":"set","p":"duration","pt":"msg","to":"1100","tot":"str"},{"t":"set","p":"frequency","pt":"msg","to":"440","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2916.4285888671875,"y":1123.6325803030104,"wires":[["171f65c8030ce57b"]]},{"id":"1e17963b2420d7dd","type":"change","z":"f93e13e54f881a08","name":"frequency 430 - sine","rules":[{"t":"set","p":"shape","pt":"msg","to":"sine","tot":"str"},{"t":"set","p":"duration","pt":"msg","to":"1100","tot":"str"},{"t":"set","p":"frequency","pt":"msg","to":"430","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2916.4285888671875,"y":1205.9795243399483,"wires":[["171f65c8030ce57b"]]},{"id":"c77f86934f0eec45","type":"change","z":"f93e13e54f881a08","name":"frequency 420 - sine","rules":[{"t":"set","p":"shape","pt":"msg","to":"sine","tot":"str"},{"t":"set","p":"duration","pt":"msg","to":"1100","tot":"str"},{"t":"set","p":"frequency","pt":"msg","to":"420","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2916.4285888671875,"y":1288.3264683768862,"wires":[["171f65c8030ce57b"]]},{"id":"d99bff8bd994fe53","type":"change","z":"f93e13e54f881a08","name":"frequency 410 - sine","rules":[{"t":"set","p":"shape","pt":"msg","to":"sine","tot":"str"},{"t":"set","p":"duration","pt":"msg","to":"1100","tot":"str"},{"t":"set","p":"frequency","pt":"msg","to":"410","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2916.4285888671875,"y":1453.020356450762,"wires":[["171f65c8030ce57b"]]},{"id":"4d48c1023aabe960","type":"change","z":"f93e13e54f881a08","name":"frequency 400 - sine","rules":[{"t":"set","p":"shape","pt":"msg","to":"sine","tot":"str"},{"t":"set","p":"duration","pt":"msg","to":"1100","tot":"str"},{"t":"set","p":"frequency","pt":"msg","to":"400","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2916.4285888671875,"y":1535.3673004876998,"wires":[["171f65c8030ce57b"]]},{"id":"efb4fa51e1d06925","type":"change","z":"f93e13e54f881a08","name":"frequency 390 - sine","rules":[{"t":"set","p":"shape","pt":"msg","to":"sine","tot":"str"},{"t":"set","p":"duration","pt":"msg","to":"1100","tot":"str"},{"t":"set","p":"frequency","pt":"msg","to":"390","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2916.4285888671875,"y":1700.0611885615756,"wires":[["171f65c8030ce57b"]]},{"id":"e85939252ff9aca7","type":"change","z":"f93e13e54f881a08","name":"frequency 380 - sine","rules":[{"t":"set","p":"shape","pt":"msg","to":"sine","tot":"str"},{"t":"set","p":"duration","pt":"msg","to":"1100","tot":"str"},{"t":"set","p":"frequency","pt":"msg","to":"380","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2916.4285888671875,"y":1782.4081325985135,"wires":[["171f65c8030ce57b"]]},{"id":"e9773b22a6816d87","type":"delay","z":"f93e13e54f881a08","name":"","pauseType":"random","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"300","randomLast":"1000","randomUnits":"milliseconds","drop":false,"allowrate":false,"outputs":1,"x":940.23478942258,"y":1041.7856362660725,"wires":[["8a090a46c53f85aa"]]},{"id":"caff3be4bed43276","type":"delay","z":"f93e13e54f881a08","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1214.4184637410299,"y":1041.3143618659697,"wires":[["d38b1d46d403d2fd"]]},{"id":"f5fbc22996674aec","type":"delay","z":"f93e13e54f881a08","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1488.6021380594798,"y":1041.3143618659697,"wires":[["8b232ac2157c0bd4"]]},{"id":"3ce87ab4720050d9","type":"delay","z":"f93e13e54f881a08","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1762.7858123779297,"y":1041.3143618659697,"wires":[["62fbb8018d29c8bc"]]},{"id":"2504dc2a3bb81a48","type":"delay","z":"f93e13e54f881a08","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":2036.9694866963796,"y":1041.3143618659697,"wires":[["2808ac70b4348ad2"]]},{"id":"ba84b2a11dbd9687","type":"delay","z":"f93e13e54f881a08","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":2311.1531610148295,"y":1041.3143618659697,"wires":[["18b591e42ca509ad"]]},{"id":"677451ab88a4851b","type":"delay","z":"f93e13e54f881a08","name":"","pauseType":"delay","timeout":"0.5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":2595.3368353332794,"y":1041.3143618659697,"wires":[["d86ecb7ff60a266a"]]},{"id":"d30908cd7ece49cd","type":"delay","z":"f93e13e54f881a08","name":"","pauseType":"random","timeout":"1500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1000","randomLast":"2000","randomUnits":"milliseconds","drop":false,"allowrate":false,"outputs":1,"x":940.4286346435547,"y":1146.5453832221754,"wires":[["ea5c3315d313789a"]]},{"id":"12ebd4ed17df2c07","type":"delay","z":"f93e13e54f881a08","name":"","pauseType":"delay","timeout":"1100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1234.6123089620046,"y":1146.1169519493546,"wires":[["5a15d999bfbb029c"]]},{"id":"74e6bd7be91a658a","type":"delay","z":"f93e13e54f881a08","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1488.7959832804545,"y":1146.1169519493546,"wires":[["f817f974e85fe839"]]},{"id":"f3d79ca84431a36b","type":"delay","z":"f93e13e54f881a08","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1762.9796575989044,"y":1146.1169519493546,"wires":[["76a98070753e65ad"]]},{"id":"1c7bc2da97408483","type":"delay","z":"f93e13e54f881a08","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":2037.1633319173543,"y":1146.1169519493546,"wires":[["61f2975fa45cb50e"]]},{"id":"e9dfc9f9ac2bc053","type":"delay","z":"f93e13e54f881a08","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":2311.347006235804,"y":1146.1169519493546,"wires":[["991aa80c5dbb6a54"]]},{"id":"0914a55d4c992c5f","type":"delay","z":"f93e13e54f881a08","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":2585.530680554254,"y":1146.1169519493546,"wires":[["e3681d658a5caa5b"]]},{"id":"f956c268710202dc","type":"delay","z":"f93e13e54f881a08","name":"","pauseType":"random","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"2000","randomLast":"2500","randomUnits":"milliseconds","drop":false,"allowrate":false,"outputs":1,"x":939.4286346435547,"y":1251.3051301782782,"wires":[["1f4140d2ddf201a7"]]},{"id":"8c9a481dada2ecd7","type":"delay","z":"f93e13e54f881a08","name":"","pauseType":"delay","timeout":"1200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1233.6123089620046,"y":1250.9195420327396,"wires":[["98a30231e4371d67"]]},{"id":"81dce40941f17268","type":"delay","z":"f93e13e54f881a08","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1487.7959832804545,"y":1250.9195420327396,"wires":[["41a73cab1d6e1195"]]},{"id":"33d96629a7ae4f22","type":"delay","z":"f93e13e54f881a08","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"300","randomLast":"1300","randomUnits":"milliseconds","drop":false,"allowrate":false,"outputs":1,"x":1771.9796575989044,"y":1250.9195420327396,"wires":[["9330c307ec59740b"]]},{"id":"bcf82eb0aea7c271","type":"delay","z":"f93e13e54f881a08","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":2036.1633319173543,"y":1250.9195420327396,"wires":[["c630daa1d325b666"]]},{"id":"13adcdbc11052c17","type":"delay","z":"f93e13e54f881a08","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":2310.347006235804,"y":1250.9195420327396,"wires":[["1b07750a4c12ff0c"]]},{"id":"14f4fb28469071c3","type":"delay","z":"f93e13e54f881a08","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":2584.530680554254,"y":1250.9195420327396,"wires":[["559c0d8c6af3d895"]]},{"id":"f512ea9d29cd8a21","type":"delay","z":"f93e13e54f881a08","name":"","pauseType":"random","timeout":"2500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"3000","randomLast":"3500","randomUnits":"milliseconds","drop":false,"allowrate":false,"outputs":1,"x":937.4286346435547,"y":1356.064877134381,"wires":[["053fdf2da881531a"]]},{"id":"eb99b6275fc1d016","type":"delay","z":"f93e13e54f881a08","name":"","pauseType":"delay","timeout":"1300","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1231.6123089620046,"y":1355.7221321161246,"wires":[["c6ad42101690899d"]]},{"id":"a049f56371ae0a41","type":"delay","z":"f93e13e54f881a08","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1485.7959832804545,"y":1355.7221321161246,"wires":[["94266c720cd8bea3"]]},{"id":"62d1ed038b471e55","type":"delay","z":"f93e13e54f881a08","name":"","pauseType":"delay","timeout":"700","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"0","randomLast":"1","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1769.9796575989044,"y":1355.7221321161246,"wires":[["d4299e35faeb9ec5"]]},{"id":"461582533074657a","type":"delay","z":"f93e13e54f881a08","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":2034.1633319173543,"y":1355.7221321161246,"wires":[["b7cc4d25f8e50b6c"]]},{"id":"2de231a27f370512","type":"delay","z":"f93e13e54f881a08","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":2308.347006235804,"y":1355.7221321161246,"wires":[["19458e392886661c"]]},{"id":"f2d4b2722f320da1","type":"delay","z":"f93e13e54f881a08","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":2582.530680554254,"y":1355.7221321161246,"wires":[["924cdfec34a8222e"]]},{"id":"ea2bec0746b43316","type":"delay","z":"f93e13e54f881a08","name":"","pauseType":"random","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"3000","randomLast":"4000","randomUnits":"milliseconds","drop":false,"allowrate":false,"outputs":1,"x":930.9998779296875,"y":1460.824624090484,"wires":[["a019633824c08bce"]]},{"id":"04d53a5d3e57b3e0","type":"delay","z":"f93e13e54f881a08","name":"","pauseType":"delay","timeout":"900","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1231.1835522481374,"y":1460.5247221995096,"wires":[["67e8e75b67fee842"]]},{"id":"834aff20b577a1c5","type":"delay","z":"f93e13e54f881a08","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1495.3672265665873,"y":1460.5247221995096,"wires":[["2a74f90749c8dd05"]]},{"id":"1148da548c8e1d08","type":"delay","z":"f93e13e54f881a08","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1769.5509008850372,"y":1460.5247221995096,"wires":[["3d48e156f4ff2326"]]},{"id":"3da290557ee59fee","type":"delay","z":"f93e13e54f881a08","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":2043.734575203487,"y":1460.5247221995096,"wires":[["4da3b2f183a0be0d"]]},{"id":"44d90cc38b4bc905","type":"delay","z":"f93e13e54f881a08","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":2317.918249521937,"y":1460.5247221995096,"wires":[["0e7ef551a26842a1"]]},{"id":"827338ad83cbb02b","type":"delay","z":"f93e13e54f881a08","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":2592.101923840387,"y":1460.5247221995096,"wires":[["0fa0911ea3f6b682"]]},{"id":"cca88a88a693b262","type":"delay","z":"f93e13e54f881a08","name":"","pauseType":"random","timeout":"3500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"3000","randomLast":"4000","randomUnits":"milliseconds","drop":false,"allowrate":false,"outputs":1,"x":931.4285888671875,"y":1565.5843710465867,"wires":[["08dbd7a6aff1b161"]]},{"id":"2ad7d96f4222b93b","type":"delay","z":"f93e13e54f881a08","name":"","pauseType":"delay","timeout":"800","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1231.6122631856374,"y":1565.3273122828946,"wires":[["f5e007af7b3e0154"]]},{"id":"a2531e7cbf865f2e","type":"delay","z":"f93e13e54f881a08","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1495.7959375040873,"y":1565.3273122828946,"wires":[["7576d2cc479bb302"]]},{"id":"6c43b8d1ddd0ac79","type":"delay","z":"f93e13e54f881a08","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"345","randomUnits":"milliseconds","drop":false,"allowrate":false,"outputs":1,"x":1769.9796118225372,"y":1565.3273122828946,"wires":[["75a14f3cea4f03c2"]]},{"id":"4797b0d3a0896957","type":"delay","z":"f93e13e54f881a08","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":2044.163286140987,"y":1565.3273122828946,"wires":[["e5a6e83af38a9948"]]},{"id":"60051f64a37359a5","type":"delay","z":"f93e13e54f881a08","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":2318.346960459437,"y":1565.3273122828946,"wires":[["967d0ec155efdcb3"]]},{"id":"b7cef0822eaa6f62","type":"delay","z":"f93e13e54f881a08","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":2592.530634777887,"y":1565.3273122828946,"wires":[["321443b932e23197"]]},{"id":"d5b368c1e63e889a","type":"change","z":"f93e13e54f881a08","name":"frequency 370 - sine","rules":[{"t":"set","p":"shape","pt":"msg","to":"sine","tot":"str"},{"t":"set","p":"duration","pt":"msg","to":"1100","tot":"str"},{"t":"set","p":"frequency","pt":"msg","to":"370","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2916.4285888671875,"y":1864.7550766354514,"wires":[["171f65c8030ce57b"]]},{"id":"60f8191ba6010a79","type":"change","z":"f93e13e54f881a08","name":"frequency 360 - sine","rules":[{"t":"set","p":"shape","pt":"msg","to":"sine","tot":"str"},{"t":"set","p":"duration","pt":"msg","to":"2100","tot":"str"},{"t":"set","p":"frequency","pt":"msg","to":"360","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2916.4285888671875,"y":2029.448964709327,"wires":[["171f65c8030ce57b"]]},{"id":"4392fd0be04f55b4","type":"delay","z":"f93e13e54f881a08","name":"","pauseType":"random","timeout":"3500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"3000","randomLast":"4000","randomUnits":"milliseconds","drop":false,"allowrate":false,"outputs":1,"x":933.4285888671875,"y":1670.3441180026896,"wires":[["627eea760f6b4687"]]},{"id":"54152c58c0b2572a","type":"delay","z":"f93e13e54f881a08","name":"","pauseType":"delay","timeout":"800","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1233.6122631856374,"y":1670.1299023662796,"wires":[["cb540345060ffd92"]]},{"id":"cd2682d673ea963c","type":"delay","z":"f93e13e54f881a08","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1497.7959375040873,"y":1670.1299023662796,"wires":[["b26d04d04842bdd3"]]},{"id":"2d89922169f8a188","type":"delay","z":"f93e13e54f881a08","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"345","randomUnits":"milliseconds","drop":false,"allowrate":false,"outputs":1,"x":1771.9796118225372,"y":1670.1299023662796,"wires":[["5fbd8b940ad1f6b3"]]},{"id":"8c8f1d7c9bf085a9","type":"delay","z":"f93e13e54f881a08","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":2046.163286140987,"y":1670.1299023662796,"wires":[["ca52e083bbe1d25a"]]},{"id":"4e90f35d1202639b","type":"delay","z":"f93e13e54f881a08","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":2320.346960459437,"y":1670.1299023662796,"wires":[["b4ed3fa856207f40"]]},{"id":"c4b5f180454737df","type":"delay","z":"f93e13e54f881a08","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":2594.530634777887,"y":1670.1299023662796,"wires":[["1fe1251e33e9826d"]]},{"id":"e9881b4ee9712fb0","type":"delay","z":"f93e13e54f881a08","name":"","pauseType":"random","timeout":"3500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"3000","randomLast":"4000","randomUnits":"milliseconds","drop":false,"allowrate":false,"outputs":1,"x":931.4285888671875,"y":1775.1038649587924,"wires":[["5cd72ac9bcce5d52"]]},{"id":"5db469ce9eb3ec2c","type":"delay","z":"f93e13e54f881a08","name":"","pauseType":"delay","timeout":"800","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1231.6122631856374,"y":1774.9324924496646,"wires":[["b07fd8c4e55965a3"]]},{"id":"6bfa2827e73e1139","type":"delay","z":"f93e13e54f881a08","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1495.7959375040873,"y":1774.9324924496646,"wires":[["dc58910feb0cab19"]]},{"id":"6dd77f8676db2438","type":"delay","z":"f93e13e54f881a08","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"345","randomUnits":"milliseconds","drop":false,"allowrate":false,"outputs":1,"x":1769.9796118225372,"y":1774.9324924496646,"wires":[["4aef2d4bfaa16f7c"]]},{"id":"a467853f5ba38a4e","type":"delay","z":"f93e13e54f881a08","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":2042.163330078125,"y":1774.9324924496646,"wires":[["32082f50e19588ea"]]},{"id":"b0dbbdf444d013d9","type":"delay","z":"f93e13e54f881a08","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":2318.346960459437,"y":1774.9324924496646,"wires":[["4eeb4d2ae764944f"]]},{"id":"6c6467ff8944228e","type":"delay","z":"f93e13e54f881a08","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":2592.530634777887,"y":1774.9324924496646,"wires":[["cd3059a5e4d299e5"]]},{"id":"2a148239b86b8a4c","type":"delay","z":"f93e13e54f881a08","name":"","pauseType":"random","timeout":"3500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"3000","randomLast":"4000","randomUnits":"milliseconds","drop":false,"allowrate":false,"outputs":1,"x":929.4285888671875,"y":1879.8636119148953,"wires":[["00b524a124a540e0"]]},{"id":"24785e1415038527","type":"delay","z":"f93e13e54f881a08","name":"","pauseType":"delay","timeout":"800","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1229.6122631856374,"y":1879.7350825330495,"wires":[["6127f3455203a928"]]},{"id":"859b82099583580f","type":"delay","z":"f93e13e54f881a08","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1493.7959375040873,"y":1879.7350825330495,"wires":[["5143fecec8039073"]]},{"id":"b9af883ea7d71646","type":"delay","z":"f93e13e54f881a08","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"345","randomUnits":"milliseconds","drop":false,"allowrate":false,"outputs":1,"x":1767.9796118225372,"y":1879.7350825330495,"wires":[["e8e380a7580920e6"]]},{"id":"e758530cb46ddb9f","type":"delay","z":"f93e13e54f881a08","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":2042.163286140987,"y":1879.7350825330495,"wires":[["b62c16ddbc436542"]]},{"id":"729544dfb88d2cb6","type":"delay","z":"f93e13e54f881a08","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":2316.346960459437,"y":1879.7350825330495,"wires":[["7a47cee1a58d28ea"]]},{"id":"fd76776139115580","type":"delay","z":"f93e13e54f881a08","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":2590.530634777887,"y":1879.7350825330495,"wires":[["920e2c627734b40c"]]},{"id":"255739351ca10c9f","type":"delay","z":"f93e13e54f881a08","name":"","pauseType":"random","timeout":"3500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"3000","randomLast":"4000","randomUnits":"milliseconds","drop":false,"allowrate":false,"outputs":1,"x":931.4285888671875,"y":1984.6233588709981,"wires":[["4bc85bdc6c880acf"]]},{"id":"c6174908e905f663","type":"delay","z":"f93e13e54f881a08","name":"","pauseType":"delay","timeout":"800","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1231.6122631856374,"y":1984.5376726164345,"wires":[["b16ac85f05104253"]]},{"id":"99f4a7fe7101bcef","type":"delay","z":"f93e13e54f881a08","name":"","pauseType":"delay","timeout":"1.5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1505.7959375040873,"y":1984.5376726164345,"wires":[["e78e9479181ec864"]]},{"id":"eb245c64dc520a50","type":"delay","z":"f93e13e54f881a08","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"345","randomUnits":"milliseconds","drop":false,"allowrate":false,"outputs":1,"x":1769.9796118225372,"y":1984.5376726164345,"wires":[["9dd3f094491b98b7"]]},{"id":"d350a8229e8b8e98","type":"delay","z":"f93e13e54f881a08","name":"","pauseType":"delay","timeout":"1500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"500","randomLast":"1500","randomUnits":"milliseconds","drop":false,"allowrate":false,"outputs":1,"x":2064.163286140987,"y":1984.5376726164345,"wires":[["7fa78c3ad37e349d"]]},{"id":"2d8984fb3926f7ba","type":"delay","z":"f93e13e54f881a08","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":2318.346960459437,"y":1984.5376726164345,"wires":[["e2fa7ef4fb328335"]]},{"id":"fb9ec2711944db98","type":"delay","z":"f93e13e54f881a08","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":2592.530634777887,"y":1984.5376726164345,"wires":[["beb487d544b1b9af"]]},{"id":"3e15a9bf35e2dade","type":"debug","z":"f93e13e54f881a08","name":"oscillator message counter","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"","statusType":"counter","x":3424.4285888671875,"y":1453.1428527832031,"wires":[]},{"id":"b0f0daa7ad1b483a","type":"delay","z":"f93e13e54f881a08","name":"","pauseType":"random","timeout":"3500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1500","randomLast":"3500","randomUnits":"milliseconds","drop":false,"allowrate":false,"outputs":1,"x":934.4285937377381,"y":2089.3831058271007,"wires":[["3e244e44b42727eb"]]},{"id":"469b749d9eeb964b","type":"delay","z":"f93e13e54f881a08","name":"","pauseType":"delay","timeout":"800","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1234.612268056188,"y":2089.3402626998195,"wires":[["41e691393fbc0819"]]},{"id":"28e2db16a7479e6e","type":"delay","z":"f93e13e54f881a08","name":"","pauseType":"delay","timeout":"653","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1508.795942374638,"y":2089.3402626998195,"wires":[["289d289cf5bf3e45"]]},{"id":"c23fdca8162e04b2","type":"delay","z":"f93e13e54f881a08","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"345","randomUnits":"milliseconds","drop":false,"allowrate":false,"outputs":1,"x":1772.9796166930878,"y":2089.3402626998195,"wires":[["ca6b01d18bb5571c"]]},{"id":"8970055e43fcbd04","type":"delay","z":"f93e13e54f881a08","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":2047.1632910115377,"y":2089.3402626998195,"wires":[["3398e03e4c748f49"]]},{"id":"cb2dfe0a9f73c386","type":"delay","z":"f93e13e54f881a08","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":2331.3469653299876,"y":2089.3402626998195,"wires":[["9afeb3963fcd4671"]]},{"id":"8bffefe4dbad14a3","type":"delay","z":"f93e13e54f881a08","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":2595.5306396484375,"y":2089.3402626998195,"wires":[["a2af7e823f50e6b5"]]},{"id":"05ef346e1a75143d","type":"delay","z":"f93e13e54f881a08","name":"","pauseType":"random","timeout":"3500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1500","randomLast":"3500","randomUnits":"milliseconds","drop":false,"allowrate":false,"outputs":1,"x":932.4285888671875,"y":2194.142852783203,"wires":[["216671fe9dc904c8"]]},{"id":"8ce03d13523f6d0c","type":"delay","z":"f93e13e54f881a08","name":"","pauseType":"delay","timeout":"1290","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1242.6122631856374,"y":2194.142852783203,"wires":[["6d738e89c15af92c"]]},{"id":"0a5c12c5c56e693f","type":"delay","z":"f93e13e54f881a08","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1496.7959375040873,"y":2194.142852783203,"wires":[["c645f414b31128e6"]]},{"id":"1bf44cb25e4f9e1f","type":"delay","z":"f93e13e54f881a08","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"345","randomUnits":"milliseconds","drop":false,"allowrate":false,"outputs":1,"x":1770.9796118225372,"y":2194.142852783203,"wires":[["c9b0a532ef127d21"]]},{"id":"fd35851def867e51","type":"delay","z":"f93e13e54f881a08","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":2045.163286140987,"y":2194.142852783203,"wires":[["c34dd675e907f87d"]]},{"id":"200aa8b9f484badd","type":"delay","z":"f93e13e54f881a08","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":2329.346960459437,"y":2194.142852783203,"wires":[["ed284de525fa4e3c"]]},{"id":"c35668dead9433fa","type":"delay","z":"f93e13e54f881a08","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":2593.530634777887,"y":2194.142852783203,"wires":[["d0065fa8341d6805"]]},{"id":"6c9f2a0c5238bd45","type":"change","z":"f93e13e54f881a08","name":"frequency 350 - sine","rules":[{"t":"set","p":"shape","pt":"msg","to":"sine","tot":"str"},{"t":"set","p":"duration","pt":"msg","to":"1500","tot":"str"},{"t":"set","p":"frequency","pt":"msg","to":"350","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2916.4285888671875,"y":2111.795908746265,"wires":[["171f65c8030ce57b"]]},{"id":"05ee23c954254f09","type":"change","z":"f93e13e54f881a08","name":"frequency 340 - sine","rules":[{"t":"set","p":"shape","pt":"msg","to":"sine","tot":"str"},{"t":"set","p":"duration","pt":"msg","to":"1100","tot":"str"},{"t":"set","p":"frequency","pt":"msg","to":"340","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2916.4285888671875,"y":2194.142852783203,"wires":[["171f65c8030ce57b"]]},{"id":"361efbc02bdd6b55","type":"link in","z":"f93e13e54f881a08","name":"oscillator","links":["72ca1521440be73a","4447ae838661681a"],"x":3166.4285888671875,"y":951.1428527832031,"wires":[["ddac6e51f9cb5570"]]},{"id":"0c797a78ada741a8","type":"change","z":"f93e13e54f881a08","d":true,"name":"sawtooth - 450 Hz","rules":[{"t":"set","p":"shape","pt":"msg","to":"sawtooth","tot":"str"},{"t":"set","p":"duration","pt":"msg","to":"1100","tot":"str"},{"t":"set","p":"frequency","pt":"msg","to":"450","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2906.4285888671875,"y":1370.673412413824,"wires":[["171f65c8030ce57b"]]},{"id":"c0db3f7f17111d91","type":"change","z":"f93e13e54f881a08","name":"triangle - 410 Hz","rules":[{"t":"set","p":"shape","pt":"msg","to":"triangle","tot":"str"},{"t":"set","p":"duration","pt":"msg","to":"1234","tot":"str"},{"t":"set","p":"frequency","pt":"msg","to":"123","tot":"str"},{"t":"set","p":"volume","pt":"msg","to":".4","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2896.4285888671875,"y":1617.7142445246377,"wires":[["171f65c8030ce57b"]]},{"id":"cb79a7ae7c87f114","type":"change","z":"f93e13e54f881a08","name":"custom - 410 Hz","rules":[{"t":"set","p":"shape","pt":"msg","to":"custom","tot":"str"},{"t":"set","p":"duration","pt":"msg","to":"2313","tot":"str"},{"t":"set","p":"frequency","pt":"msg","to":"410","tot":"str"},{"t":"set","p":"volume","pt":"msg","to":"0.02","tot":"str"},{"t":"set","p":"realTable","pt":"msg","to":"[0,1,2,1,0]","tot":"json"},{"t":"set","p":"imagTable","pt":"msg","to":"[0,-0.5,0,0.5,0]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":2906.4285888671875,"y":1947.1020206723892,"wires":[["171f65c8030ce57b"]]},{"id":"79254cbe50386ad3","type":"change","z":"f93e13e54f881a08","g":"e22140c236d0aeb4","name":"sawtooth - 450 Hz","rules":[{"t":"set","p":"shape","pt":"msg","to":"sawtooth","tot":"str"},{"t":"set","p":"duration","pt":"msg","to":"1100","tot":"str"},{"t":"set","p":"frequency","pt":"msg","to":"450","tot":"str"},{"t":"set","p":"volume","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2973.4285888671875,"y":831.1428527832031,"wires":[[]]},{"id":"bafdd3f0ee2992ec","type":"change","z":"f93e13e54f881a08","g":"e22140c236d0aeb4","name":"square - 450 Hz","rules":[{"t":"set","p":"shape","pt":"msg","to":"square","tot":"str"},{"t":"set","p":"duration","pt":"msg","to":"1100","tot":"str"},{"t":"set","p":"frequency","pt":"msg","to":"450","tot":"str"},{"t":"set","p":"volume","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2964.4285888671875,"y":784.1428527832031,"wires":[[]]},{"id":"33199ea9286bb616","type":"change","z":"f93e13e54f881a08","g":"e22140c236d0aeb4","name":"sine - 450 Hz","rules":[{"t":"set","p":"shape","pt":"msg","to":"sine","tot":"str"},{"t":"set","p":"duration","pt":"msg","to":"1100","tot":"str"},{"t":"set","p":"frequency","pt":"msg","to":"450","tot":"str"},{"t":"set","p":"volume","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2951.4285888671875,"y":889.1428527832031,"wires":[[]]},{"id":"5951d6ddee212063","type":"change","z":"f93e13e54f881a08","g":"e22140c236d0aeb4","name":"triangle - 410 Hz","rules":[{"t":"set","p":"shape","pt":"msg","to":"triangle","tot":"str"},{"t":"set","p":"duration","pt":"msg","to":"1100","tot":"str"},{"t":"set","p":"frequency","pt":"msg","to":"410","tot":"str"},{"t":"set","p":"volume","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2964.4285888671875,"y":733.1428527832031,"wires":[[]]},{"id":"c7db77407404f9dc","type":"change","z":"f93e13e54f881a08","g":"e22140c236d0aeb4","name":"custom - 410 Hz","rules":[{"t":"set","p":"shape","pt":"msg","to":"custom","tot":"str"},{"t":"set","p":"duration","pt":"msg","to":"1100","tot":"str"},{"t":"set","p":"frequency","pt":"msg","to":"410","tot":"str"},{"t":"set","p":"volume","pt":"msg","to":"1","tot":"str"},{"t":"set","p":"realTable","pt":"msg","to":"[0,1,2,1,0]","tot":"json"},{"t":"set","p":"imagTable","pt":"msg","to":"[0,0,0,0,0]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":2970.4285888671875,"y":681.1428527832031,"wires":[[]]},{"id":"2aecb0eb02850145","type":"join","z":"f93e13e54f881a08","g":"c6f1d5c855159939","name":"","mode":"custom","build":"array","property":"duration","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"98","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":3274.7618408203125,"y":1857.3094787597656,"wires":[["c7fa3a15a4a87394","40db705da37eb853"]]},{"id":"c7fa3a15a4a87394","type":"debug","z":"f93e13e54f881a08","g":"c6f1d5c855159939","name":"loop counter","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"","statusType":"counter","x":3446.9288330078125,"y":1764.1428527832031,"wires":[]},{"id":"40db705da37eb853","type":"change","z":"f93e13e54f881a08","g":"c6f1d5c855159939","name":"","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"delete","p":"frequency","pt":"msg"},{"t":"delete","p":"shape","pt":"msg"},{"t":"delete","p":"duration","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3425.4285888671875,"y":1937.6428527832031,"wires":[["df9810a78d6d0924"]]},{"id":"ddac6e51f9cb5570","type":"ClientCode","z":"f93e13e54f881a08","g":"fe2e9170568145fa","name":"Oscillator","clientcode":"var context = window.audiocontext || new AudioContext();\nwindow.audiocontext = context;\n\nvar frequency = parseInt(msg.frequency, 10) || node.frequency || 440;\nvar duration = parseInt(msg.duration, 10);\nif (duration != 0 && !duration) {\n    duration = node.duration || 500;\n}\n\nif (duration > 0) {\n    var oscillator = context.createOscillator();\n    oscillator.frequency.value = frequency;\n\n    if ( msg.shape == 'custom' ) {\n        var real = new Float32Array(msg.realTable);\n        var imag;\n        if (msg.imagTable && Array.isArray(msg.imagTable)) {\n            imag = new Float32Array(msg.imagTable);\n        } else {\n            imag = new Float32Array(real.length);\n        }\n        var pWave = context.createPeriodicWave(real, imag);\n        oscillator.setPeriodicWave(pWave);\n        //oscillator.type = 'custom'\n    } else {\n        oscillator.type = msg.shape || node.shape || 'sine';\n    }\n\n    let g = new GainNode(context);\n    let vol = msg.volume || 1\n\n    oscillator.connect(g).connect(context.destination);\n\n    let startTime = context.currentTime\n    g.gain.setValueAtTime(0, startTime);\n    g.gain.linearRampToValueAtTime(vol, startTime+1);\n    oscillator.start(startTime);\n\n    setTimeout(function () {\n        let stopTime = context.currentTime + 1;\n        g.gain.setValueAtTime(vol, stopTime - 1);\n        g.gain.linearRampToValueAtTime(0, stopTime);\n        oscillator.stop(stopTime);\n        setTimeout(() => { \n            oscillator = undefined\n            node.send(msg)\n        }, 1100)\n\n    }, duration);\n}","format":"javascript","x":3426.4285888671875,"y":1024.1428527832031,"wires":[[]]},{"id":"8a146c8c48dce59b","type":"inject","z":"f93e13e54f881a08","g":"52c22a6c78a5c294","name":"play","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":520.4286499023438,"y":1046.2856750488281,"wires":[["1571bb0f32e3bd56"]]},{"id":"7890b82f920f3d10","type":"change","z":"f93e13e54f881a08","g":"60f04ed16916b4df","name":"custom - 120 Hz","rules":[{"t":"set","p":"shape","pt":"msg","to":"custom","tot":"str"},{"t":"set","p":"duration","pt":"msg","to":"1613","tot":"str"},{"t":"set","p":"frequency","pt":"msg","to":"120","tot":"str"},{"t":"set","p":"volume","pt":"msg","to":"1","tot":"str"},{"t":"set","p":"realTable","pt":"msg","to":"[0,0,1,0]","tot":"json"},{"t":"set","p":"imagTable","pt":"msg","to":"[0,0,0,0]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":3091.9671630859375,"y":2697.373616218567,"wires":[["217e875a2a4bddd5"]]},{"id":"680580766c46b347","type":"change","z":"f93e13e54f881a08","g":"60f04ed16916b4df","name":"custom - 410 Hz","rules":[{"t":"set","p":"shape","pt":"msg","to":"custom","tot":"str"},{"t":"set","p":"duration","pt":"msg","to":"1313","tot":"str"},{"t":"set","p":"frequency","pt":"msg","to":"410","tot":"str"},{"t":"set","p":"volume","pt":"msg","to":"0.02","tot":"str"},{"t":"set","p":"realTable","pt":"msg","to":"[0,1,2,1,0]","tot":"json"},{"t":"set","p":"imagTable","pt":"msg","to":"[0,-0.5,0,0.5,0]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":3091.9671630859375,"y":2743.373616218567,"wires":[["217e875a2a4bddd5"]]},{"id":"86096185ed89c423","type":"change","z":"f93e13e54f881a08","g":"60f04ed16916b4df","name":"custom - 440 Hz","rules":[{"t":"set","p":"shape","pt":"msg","to":"custom","tot":"str"},{"t":"set","p":"duration","pt":"msg","to":"1613","tot":"str"},{"t":"set","p":"frequency","pt":"msg","to":"440","tot":"str"},{"t":"set","p":"volume","pt":"msg","to":"0.02","tot":"str"},{"t":"set","p":"realTable","pt":"msg","to":"[0,1,2,1,0]","tot":"json"},{"t":"set","p":"imagTable","pt":"msg","to":"[0,-0.5,0,0.5,0]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":3091.9671630859375,"y":2789.373616218567,"wires":[["217e875a2a4bddd5"]]},{"id":"57bb8bcfd7b17cee","type":"change","z":"f93e13e54f881a08","g":"60f04ed16916b4df","name":"custom - 120 Hz","rules":[{"t":"set","p":"shape","pt":"msg","to":"custom","tot":"str"},{"t":"set","p":"duration","pt":"msg","to":"1813","tot":"str"},{"t":"set","p":"frequency","pt":"msg","to":"120","tot":"str"},{"t":"set","p":"volume","pt":"msg","to":"0.02","tot":"str"},{"t":"set","p":"realTable","pt":"msg","to":"[0,1,2,1,0]","tot":"json"},{"t":"set","p":"imagTable","pt":"msg","to":"[0,-0.5,0,0.5,0]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":3091.9671630859375,"y":2835.373616218567,"wires":[["217e875a2a4bddd5"]]},{"id":"a49abbec67e3c8ea","type":"inject","z":"f93e13e54f881a08","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":3855.2856063842773,"y":2288.2855491638184,"wires":[["5583fd53f65f4873"]]},{"id":"5ae7142fa2260f9e","type":"change","z":"f93e13e54f881a08","g":"6dd574ca2d020ef7","name":"custom - 120 Hz","rules":[{"t":"set","p":"shape","pt":"msg","to":"custom","tot":"str"},{"t":"set","p":"duration","pt":"msg","to":"1613","tot":"str"},{"t":"set","p":"frequency","pt":"msg","to":"120","tot":"str"},{"t":"set","p":"volume","pt":"msg","to":"1","tot":"str"},{"t":"set","p":"realTable","pt":"msg","to":"[0,0,1,0]","tot":"json"},{"t":"set","p":"imagTable","pt":"msg","to":"[0,0,0,0]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":2644,"y":3803.71435546875,"wires":[["32531b6090168460"]]},{"id":"f7d4033c1e3ac32e","type":"change","z":"f93e13e54f881a08","g":"6dd574ca2d020ef7","name":"custom - 410 Hz","rules":[{"t":"set","p":"shape","pt":"msg","to":"custom","tot":"str"},{"t":"set","p":"duration","pt":"msg","to":"1313","tot":"str"},{"t":"set","p":"frequency","pt":"msg","to":"410","tot":"str"},{"t":"set","p":"volume","pt":"msg","to":"0.02","tot":"str"},{"t":"set","p":"realTable","pt":"msg","to":"[0,1,2,1,0]","tot":"json"},{"t":"set","p":"imagTable","pt":"msg","to":"[0,-0.5,0,0.5,0]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":2644,"y":3849.71435546875,"wires":[["32531b6090168460"]]},{"id":"aa2ba089402b2807","type":"change","z":"f93e13e54f881a08","g":"6dd574ca2d020ef7","name":"custom - 440 Hz","rules":[{"t":"set","p":"shape","pt":"msg","to":"custom","tot":"str"},{"t":"set","p":"duration","pt":"msg","to":"1613","tot":"str"},{"t":"set","p":"frequency","pt":"msg","to":"440","tot":"str"},{"t":"set","p":"volume","pt":"msg","to":"0.02","tot":"str"},{"t":"set","p":"realTable","pt":"msg","to":"[0,1,2,1,0]","tot":"json"},{"t":"set","p":"imagTable","pt":"msg","to":"[0,-0.5,0,0.5,0]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":2644,"y":3895.71435546875,"wires":[["32531b6090168460"]]},{"id":"da7a5ebeeaacec64","type":"change","z":"f93e13e54f881a08","g":"6dd574ca2d020ef7","name":"custom - 120 Hz","rules":[{"t":"set","p":"shape","pt":"msg","to":"custom","tot":"str"},{"t":"set","p":"duration","pt":"msg","to":"1813","tot":"str"},{"t":"set","p":"frequency","pt":"msg","to":"120","tot":"str"},{"t":"set","p":"volume","pt":"msg","to":"0.02","tot":"str"},{"t":"set","p":"realTable","pt":"msg","to":"[0,1,2,1,0]","tot":"json"},{"t":"set","p":"imagTable","pt":"msg","to":"[0,-0.5,0,0.5,0]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":2644,"y":3941.71435546875,"wires":[["32531b6090168460"]]},{"id":"5583fd53f65f4873","type":"change","z":"f93e13e54f881a08","name":"sine - 450 Hz","rules":[{"t":"set","p":"shape","pt":"msg","to":"sine","tot":"str"},{"t":"set","p":"duration","pt":"msg","to":"2450","tot":"str"},{"t":"set","p":"frequency","pt":"msg","to":"323","tot":"str"},{"t":"set","p":"volume","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":3969.71435546875,"y":2206.5712890625,"wires":[["8614ca4a6991cf31"]]},{"id":"8614ca4a6991cf31","type":"ClientCode","z":"f93e13e54f881a08","name":"Oscillator","clientcode":"var context = window.audiocontext || new AudioContext();\nwindow.audiocontext = context;\n\nvar frequency = parseInt(msg.frequency, 10) || node.frequency || 440;\nvar duration = parseInt(msg.duration, 10);\nif (duration != 0 && !duration) {\n    duration = node.duration || 500;\n}\n\nif (duration > 0) {\n    var oscillator = context.createOscillator();\n    oscillator.frequency.value = frequency;\n\n    if (msg.shape == 'custom') {\n        var real = new Float32Array(msg.realTable);\n        var imag;\n        if (msg.imagTable && Array.isArray(msg.imagTable)) {\n            imag = new Float32Array(msg.imagTable);\n        } else {\n            imag = new Float32Array(real.length);\n        }\n        var pWave = context.createPeriodicWave(real, imag);\n        oscillator.setPeriodicWave(pWave);\n        //oscillator.type = 'custom'\n    } else {\n        oscillator.type = msg.shape || node.shape || 'sine';\n    }\n\n    let g = new GainNode(context);\n    let vol = msg.volume || 1\n\n    oscillator.connect(g).connect(context.destination);\n\n    let startTime = context.currentTime\n    g.gain.setValueAtTime(0, startTime);\n    g.gain.linearRampToValueAtTime(vol, startTime + 1);\n    oscillator.start(startTime);\n\n    setTimeout(function () {\n        let stopTime = context.currentTime + 1;\n        g.gain.setValueAtTime(vol, stopTime - 1);\n        g.gain.linearRampToValueAtTime(0, stopTime);\n        oscillator.stop(stopTime);\n        setTimeout(() => {\n            oscillator = undefined\n            node.send(msg)\n        }, 1100)\n\n    }, duration);\n}","format":"javascript","x":4146.571495056152,"y":2161.9999046325684,"wires":[[]]},{"id":"675a9ae32e7c623c","type":"change","z":"f93e13e54f881a08","name":"custom - 120 Hz","rules":[{"t":"set","p":"shape","pt":"msg","to":"custom","tot":"str"},{"t":"set","p":"duration","pt":"msg","to":"1813","tot":"str"},{"t":"set","p":"frequency","pt":"msg","to":"120","tot":"str"},{"t":"set","p":"volume","pt":"msg","to":"0.5","tot":"str"},{"t":"set","p":"realTable","pt":"msg","to":"[0,1,2,1,0]","tot":"json"},{"t":"set","p":"imagTable","pt":"msg","to":"[0,-0.5,0,0.5,0]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":3383.000244140625,"y":3519.71435546875,"wires":[["be22748a4892c224","7e632952402ffc78","025a301d931a7dcc"]]},{"id":"f368f1187f099012","type":"change","z":"f93e13e54f881a08","name":"custom - 120 Hz","rules":[{"t":"set","p":"shape","pt":"msg","to":"custom","tot":"str"},{"t":"set","p":"duration","pt":"msg","to":"1813","tot":"str"},{"t":"set","p":"frequency","pt":"msg","to":"120","tot":"str"},{"t":"set","p":"volume","pt":"msg","to":"0.5","tot":"str"},{"t":"set","p":"realTable","pt":"msg","to":"[0,-1,-2,-1,0]","tot":"json"},{"t":"set","p":"imagTable","pt":"msg","to":"[0,0.5,0,-0.5,0]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":3379.71435546875,"y":3404.142822265625,"wires":[["be22748a4892c224"]]},{"id":"0869eff596555358","type":"inject","z":"f93e13e54f881a08","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":2921.14306640625,"y":3285.71435546875,"wires":[["aa3e145f502ac60b"]]},{"id":"8a3bd34e06b7d072","type":"ClientCode","z":"f93e13e54f881a08","name":"Oscillator","clientcode":"var context = window.audiocontext || new AudioContext();\nwindow.audiocontext = context;\n\nvar frequency = parseInt(msg.frequency, 10) || node.frequency || 440;\nvar duration = parseInt(msg.duration, 10);\nif (duration != 0 && !duration) {\n    duration = node.duration || 500;\n}\n\nif (duration > 0) {\n    var oscillator = context.createOscillator();\n    oscillator.frequency.value = frequency;\n\n    if ( msg.shape == 'custom' ) {\n        var real = new Float32Array(msg.realTable);\n        var imag;\n        if (msg.imagTable && Array.isArray(msg.imagTable)) {\n            imag = new Float32Array(msg.imagTable);\n        } else {\n            imag = new Float32Array(real.length);\n        }\n        var pWave = context.createPeriodicWave(real, imag);\n        oscillator.setPeriodicWave(pWave);\n        //oscillator.type = 'custom'\n    } else {\n        oscillator.type = msg.shape || node.shape || 'sine';\n    }\n\n    let g = new GainNode(context);\n    let vol = msg.volume || 1\n\n    oscillator.connect(g).connect(context.destination);\n\n    let startTime = context.currentTime\n    g.gain.setValueAtTime(0, startTime);\n    g.gain.linearRampToValueAtTime(vol, startTime+1);\n    oscillator.start(startTime);\n\n    setTimeout(function () {\n        let stopTime = context.currentTime + 1;\n        g.gain.setValueAtTime(vol, stopTime - 1);\n        g.gain.linearRampToValueAtTime(0, stopTime);\n        oscillator.stop(stopTime);\n        setTimeout(() => { \n            oscillator = undefined\n            node.send(msg)\n        }, 1100)\n\n    }, duration);\n}","format":"javascript","x":3806.857177734375,"y":3502.857177734375,"wires":[["ef2c60dd0f8903d1"]]},{"id":"f389fa54df62b517","type":"delay","z":"f93e13e54f881a08","name":"","pauseType":"random","timeout":"1498","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"800","randomLast":"1500","randomUnits":"milliseconds","drop":false,"allowrate":false,"outputs":1,"x":3137.571533203125,"y":3520.999755859375,"wires":[["675a9ae32e7c623c"]]},{"id":"80de46af6ea41d59","type":"debug","z":"f93e13e54f881a08","name":"debug 93","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"","statusType":"counter","x":3908,"y":3239,"wires":[]},{"id":"e706b734adc52aaa","type":"join","z":"f93e13e54f881a08","name":"","mode":"custom","build":"array","property":"","propertyType":"full","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"4","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":3746,"y":3584,"wires":[["d49e33f76c67a0f1","2cf3d9f223477b94"]]},{"id":"d49e33f76c67a0f1","type":"change","z":"f93e13e54f881a08","name":"","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"delete","p":"frequency","pt":"msg"},{"t":"delete","p":"shape","pt":"msg"},{"t":"delete","p":"duration","pt":"msg"},{"t":"delete","p":"imagTable","pt":"msg"},{"t":"delete","p":"realTable","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3752,"y":3807,"wires":[["2cab35e8f50733b3"]]},{"id":"2cf3d9f223477b94","type":"debug","z":"f93e13e54f881a08","name":"debug 94","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"","statusType":"counter","x":3980,"y":3546,"wires":[]},{"id":"b8713db8b3ecb942","type":"change","z":"f93e13e54f881a08","name":"custom - 120 Hz","rules":[{"t":"set","p":"shape","pt":"msg","to":"custom","tot":"str"},{"t":"set","p":"duration","pt":"msg","to":"1813","tot":"str"},{"t":"set","p":"frequency","pt":"msg","to":"120","tot":"str"},{"t":"set","p":"volume","pt":"msg","to":"0.5","tot":"str"},{"t":"set","p":"realTable","pt":"msg","to":"[0,1,2,1,0]","tot":"json"},{"t":"set","p":"imagTable","pt":"msg","to":"[0,-0.5,0,0.5,0]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":3376,"y":3633,"wires":[["be22748a4892c224"]]},{"id":"7e632952402ffc78","type":"delay","z":"f93e13e54f881a08","name":"","pauseType":"random","timeout":"1498","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"400","randomLast":"800","randomUnits":"milliseconds","drop":false,"allowrate":false,"outputs":1,"x":3341,"y":3579,"wires":[["b8713db8b3ecb942"]]},{"id":"025a301d931a7dcc","type":"delay","z":"f93e13e54f881a08","name":"","pauseType":"random","timeout":"1498","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"600","randomLast":"1000","randomUnits":"milliseconds","drop":false,"allowrate":false,"outputs":1,"x":3378,"y":3466,"wires":[["f368f1187f099012"]]},{"id":"ef2c60dd0f8903d1","type":"debug","z":"f93e13e54f881a08","name":"debug 95","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"true","targetType":"full","statusVal":"","statusType":"counter","x":4043,"y":3346,"wires":[]},{"id":"97486940dce6ccb8","type":"change","z":"f93e13e54f881a08","g":"13ed96d046f0267f","name":"custom - 120 Hz","rules":[{"t":"set","p":"shape","pt":"msg","to":"custom","tot":"str"},{"t":"set","p":"duration","pt":"msg","to":"1813","tot":"str"},{"t":"set","p":"frequency","pt":"msg","to":"120","tot":"str"},{"t":"set","p":"volume","pt":"msg","to":"0.5","tot":"str"},{"t":"set","p":"realTable","pt":"msg","to":"[0,1,2,1,0]","tot":"json"},{"t":"set","p":"imagTable","pt":"msg","to":"[0,-0.5,0,0.5,0]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":2283.3570556640625,"y":3323.5428710937495,"wires":[["0a657971bec5d773","6c6a4457308dcc91","e80b052d30e97811"]]},{"id":"e5d1c12e86b6e0e0","type":"change","z":"f93e13e54f881a08","g":"13ed96d046f0267f","name":"custom - 120 Hz","rules":[{"t":"set","p":"shape","pt":"msg","to":"custom","tot":"str"},{"t":"set","p":"duration","pt":"msg","to":"1813","tot":"str"},{"t":"set","p":"frequency","pt":"msg","to":"120","tot":"str"},{"t":"set","p":"volume","pt":"msg","to":"0.5","tot":"str"},{"t":"set","p":"realTable","pt":"msg","to":"[0,-1,-2,-1,0]","tot":"json"},{"t":"set","p":"imagTable","pt":"msg","to":"[0,0.5,0,-0.5,0]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":2283.3570556640625,"y":3166.4287109375,"wires":[["0a657971bec5d773"]]},{"id":"7ec98a8b3e6082f5","type":"delay","z":"f93e13e54f881a08","g":"13ed96d046f0267f","name":"","pauseType":"random","timeout":"1498","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"800","randomLast":"1500","randomUnits":"milliseconds","drop":false,"allowrate":false,"outputs":1,"x":2283.3570556640625,"y":3271.1714843749996,"wires":[["97486940dce6ccb8"]]},{"id":"d4fdcfc9c44bc2a1","type":"change","z":"f93e13e54f881a08","g":"13ed96d046f0267f","name":"custom - 120 Hz","rules":[{"t":"set","p":"shape","pt":"msg","to":"custom","tot":"str"},{"t":"set","p":"duration","pt":"msg","to":"1813","tot":"str"},{"t":"set","p":"frequency","pt":"msg","to":"120","tot":"str"},{"t":"set","p":"volume","pt":"msg","to":"0.5","tot":"str"},{"t":"set","p":"realTable","pt":"msg","to":"[0,1,2,1,0]","tot":"json"},{"t":"set","p":"imagTable","pt":"msg","to":"[0,-0.5,0,0.5,0]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":2283.3570556640625,"y":3428.28564453125,"wires":[["0a657971bec5d773"]]},{"id":"6c6a4457308dcc91","type":"delay","z":"f93e13e54f881a08","g":"13ed96d046f0267f","name":"","pauseType":"random","timeout":"1498","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"400","randomLast":"800","randomUnits":"milliseconds","drop":false,"allowrate":false,"outputs":1,"x":2283.3570556640625,"y":3375.9142578124993,"wires":[["d4fdcfc9c44bc2a1"]]},{"id":"e80b052d30e97811","type":"delay","z":"f93e13e54f881a08","g":"13ed96d046f0267f","name":"","pauseType":"random","timeout":"1498","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"600","randomLast":"1000","randomUnits":"milliseconds","drop":false,"allowrate":false,"outputs":1,"x":2283.3570556640625,"y":3218.80009765625,"wires":[["e5d1c12e86b6e0e0"]]},{"id":"063a10eaf5628674","type":"change","z":"f93e13e54f881a08","g":"9750bed57abf49d3","name":"custom - 250 Hz","rules":[{"t":"set","p":"shape","pt":"msg","to":"custom","tot":"str"},{"t":"set","p":"duration","pt":"msg","to":"5100","tot":"str"},{"t":"set","p":"frequency","pt":"msg","to":"250","tot":"str"},{"t":"set","p":"volume","pt":"msg","to":"0.05","tot":"str"},{"t":"set","p":"realTable","pt":"msg","to":"[0,1,2,1,0,3,2,1]","tot":"json"},{"t":"set","p":"imagTable","pt":"msg","to":"[0,0,0,0,0,-1,-1,-1]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1390.5,"y":3044,"wires":[["ba4e424dfdd5a801","b1be3a32c5dafbca","7c726cc6874ef5de"]]},{"id":"ba4e424dfdd5a801","type":"delay","z":"f93e13e54f881a08","g":"9750bed57abf49d3","name":"","pauseType":"random","timeout":"1498","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"600","randomLast":"1000","randomUnits":"milliseconds","drop":false,"allowrate":false,"outputs":1,"x":1615.5,"y":3127.199951171875,"wires":[["145c9951239c2d06"]]},{"id":"145c9951239c2d06","type":"change","z":"f93e13e54f881a08","g":"9750bed57abf49d3","name":"custom - 250 Hz","rules":[{"t":"set","p":"shape","pt":"msg","to":"custom","tot":"str"},{"t":"set","p":"duration","pt":"msg","to":"2100","tot":"str"},{"t":"set","p":"frequency","pt":"msg","to":"250","tot":"str"},{"t":"set","p":"volume","pt":"msg","to":"0.05","tot":"str"},{"t":"set","p":"realTable","pt":"msg","to":"[0,1,2,-1,0,3,2,-1]","tot":"json"},{"t":"set","p":"imagTable","pt":"msg","to":"[0,0,0,0,0,-1,-1,-1]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1568.5,"y":3173.400146484375,"wires":[["7c726cc6874ef5de"]]},{"id":"b1be3a32c5dafbca","type":"change","z":"f93e13e54f881a08","g":"9750bed57abf49d3","name":"custom - 230 Hz","rules":[{"t":"set","p":"shape","pt":"msg","to":"custom","tot":"str"},{"t":"set","p":"duration","pt":"msg","to":"2050","tot":"str"},{"t":"set","p":"frequency","pt":"msg","to":"230","tot":"str"},{"t":"set","p":"volume","pt":"msg","to":"0.05","tot":"str"},{"t":"set","p":"realTable","pt":"msg","to":"[0,1,2,1,0,-3,2,1]","tot":"json"},{"t":"set","p":"imagTable","pt":"msg","to":"[0,0,0,0,0,-1,1,-1]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1517.5,"y":3242.7000732421875,"wires":[["234e5816b12ccd84","7c726cc6874ef5de"]]},{"id":"29545afd0bd06413","type":"change","z":"f93e13e54f881a08","g":"9750bed57abf49d3","name":"custom - 210 Hz","rules":[{"t":"set","p":"shape","pt":"msg","to":"custom","tot":"str"},{"t":"set","p":"duration","pt":"msg","to":"4030","tot":"str"},{"t":"set","p":"frequency","pt":"msg","to":"210","tot":"str"},{"t":"set","p":"volume","pt":"msg","to":"0.05","tot":"str"},{"t":"set","p":"realTable","pt":"msg","to":"[0,1,2,1,0,3,2,1]","tot":"json"},{"t":"set","p":"imagTable","pt":"msg","to":"[0,0,0,0,0,1,-1,1]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1784.5,"y":3301,"wires":[["7c726cc6874ef5de"]]},{"id":"234e5816b12ccd84","type":"delay","z":"f93e13e54f881a08","g":"9750bed57abf49d3","name":"","pauseType":"random","timeout":"1498","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"600","randomLast":"1000","randomUnits":"milliseconds","drop":false,"allowrate":false,"outputs":1,"x":1783.5,"y":3242.7000732421875,"wires":[["29545afd0bd06413"]]},{"id":"815205f560046c85","type":"change","z":"f93e13e54f881a08","g":"94ee41d8e8c2476e","name":"square - 450 Hz","rules":[{"t":"set","p":"shape","pt":"msg","to":"square","tot":"str"},{"t":"set","p":"duration","pt":"msg","to":"1800","tot":"str"},{"t":"set","p":"frequency","pt":"msg","to":"210","tot":"str"},{"t":"set","p":"volume","pt":"msg","to":"0.05","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":789,"y":3154,"wires":[["2d4174ef5dfcc31a"]]},{"id":"b8f635636bf98807","type":"change","z":"f93e13e54f881a08","g":"94ee41d8e8c2476e","name":"sine - 450 Hz","rules":[{"t":"set","p":"shape","pt":"msg","to":"sine","tot":"str"},{"t":"set","p":"duration","pt":"msg","to":"1800","tot":"str"},{"t":"set","p":"frequency","pt":"msg","to":"160","tot":"str"},{"t":"set","p":"volume","pt":"msg","to":"0.05","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":3229,"wires":[["2d4174ef5dfcc31a"]]},{"id":"ee2d9ca8969f6342","type":"change","z":"f93e13e54f881a08","g":"94ee41d8e8c2476e","name":"square - 450 Hz","rules":[{"t":"set","p":"shape","pt":"msg","to":"square","tot":"str"},{"t":"set","p":"duration","pt":"msg","to":"1800","tot":"str"},{"t":"set","p":"frequency","pt":"msg","to":"320","tot":"str"},{"t":"set","p":"volume","pt":"msg","to":"0.05","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":789,"y":3044,"wires":[["2d4174ef5dfcc31a"]]},{"id":"224be3ac0fdad95b","type":"change","z":"f93e13e54f881a08","g":"94ee41d8e8c2476e","name":"sine - 450 Hz","rules":[{"t":"set","p":"shape","pt":"msg","to":"sine","tot":"str"},{"t":"set","p":"duration","pt":"msg","to":"1800","tot":"str"},{"t":"set","p":"frequency","pt":"msg","to":"370","tot":"str"},{"t":"set","p":"volume","pt":"msg","to":"0.05","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":779,"y":3099,"wires":[["2d4174ef5dfcc31a"]]},{"id":"98194f8a52eb8158","type":"delay","z":"f93e13e54f881a08","g":"94ee41d8e8c2476e","name":"","pauseType":"random","timeout":"1498","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"300","randomLast":"500","randomUnits":"milliseconds","drop":false,"allowrate":false,"outputs":1,"x":616,"y":3069,"wires":[["ee2d9ca8969f6342"]]},{"id":"e432e955b5bb46d7","type":"delay","z":"f93e13e54f881a08","g":"94ee41d8e8c2476e","name":"","pauseType":"random","timeout":"1498","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"200","randomLast":"400","randomUnits":"milliseconds","drop":false,"allowrate":false,"outputs":1,"x":616,"y":3118,"wires":[["224be3ac0fdad95b"]]},{"id":"d4f1d3e0bf45397a","type":"delay","z":"f93e13e54f881a08","g":"94ee41d8e8c2476e","name":"","pauseType":"random","timeout":"1498","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"100","randomLast":"300","randomUnits":"milliseconds","drop":false,"allowrate":false,"outputs":1,"x":616,"y":3168,"wires":[["815205f560046c85"]]},{"id":"08bb8739b40bd420","type":"join","z":"f93e13e54f881a08","name":"","mode":"custom","build":"array","property":"","propertyType":"full","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"4","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":2275,"y":2715,"wires":[["2fd5f2ce791ab883"]]},{"id":"2fd5f2ce791ab883","type":"change","z":"f93e13e54f881a08","name":"","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"delete","p":"frequency","pt":"msg"},{"t":"delete","p":"shape","pt":"msg"},{"t":"delete","p":"duration","pt":"msg"},{"t":"delete","p":"imagTable","pt":"msg"},{"t":"delete","p":"realTable","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2291,"y":2663,"wires":[["e9c3b5d10ab04cf8"]]},{"id":"b86f8fa75c55dc7f","type":"inject","z":"f93e13e54f881a08","name":"play","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":2321,"y":2608,"wires":[["e9c3b5d10ab04cf8"]]},{"id":"06e9372314f8c5c0","type":"debug","z":"f93e13e54f881a08","name":"debug 96","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"","statusType":"counter","x":2245,"y":2564,"wires":[]},{"id":"132143c23fa51859","type":"ClientCode","z":"f93e13e54f881a08","name":"Oscillator","clientcode":"var context = window.audiocontext || new AudioContext();\nwindow.audiocontext = context;\n\nvar frequency = parseInt(msg.frequency, 10) || node.frequency || 440;\nvar duration = parseInt(msg.duration, 10);\nif (duration != 0 && !duration) {\n    duration = node.duration || 500;\n}\n\nif (duration > 0) {\n    var oscillator = context.createOscillator();\n    oscillator.frequency.value = frequency;\n\n    if ( msg.shape == 'custom' ) {\n        var real = new Float32Array(msg.realTable);\n        var imag;\n        if (msg.imagTable && Array.isArray(msg.imagTable)) {\n            imag = new Float32Array(msg.imagTable);\n        } else {\n            imag = new Float32Array(real.length);\n        }\n        var pWave = context.createPeriodicWave(real, imag);\n        oscillator.setPeriodicWave(pWave);\n        //oscillator.type = 'custom'\n    } else {\n        oscillator.type = msg.shape || node.shape || 'sine';\n    }\n\n    let g = new GainNode(context);\n    let vol = msg.volume || 1\n\n    oscillator.connect(g).connect(context.destination);\n\n    let startTime = context.currentTime\n    g.gain.setValueAtTime(0, startTime);\n    g.gain.linearRampToValueAtTime(vol, startTime+1);\n    oscillator.start(startTime);\n\n    setTimeout(function () {\n        let stopTime = context.currentTime + 1;\n        g.gain.setValueAtTime(vol, stopTime - 1);\n        g.gain.linearRampToValueAtTime(0, stopTime);\n        oscillator.stop(stopTime);\n        setTimeout(() => { \n            oscillator = undefined\n            node.send(msg)\n        }, 1300)\n\n    }, duration);\n}","format":"javascript","x":2306,"y":2756,"wires":[[]]},{"id":"50c3e3a81221e125","type":"join","z":"f93e13e54f881a08","name":"","mode":"custom","build":"array","property":"","propertyType":"full","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"4","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":2580,"y":3117,"wires":[["517c58a34de30e8f"]]},{"id":"236e5b6d2125ac1d","type":"change","z":"f93e13e54f881a08","name":"","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"delete","p":"frequency","pt":"msg"},{"t":"delete","p":"shape","pt":"msg"},{"t":"delete","p":"duration","pt":"msg"},{"t":"delete","p":"imagTable","pt":"msg"},{"t":"delete","p":"realTable","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2637,"y":3206.60009765625,"wires":[["a8ac22dc2456e8f2"]]},{"id":"893024ec55b8a532","type":"inject","z":"f93e13e54f881a08","name":"play","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":2654,"y":3243,"wires":[["a8ac22dc2456e8f2"]]},{"id":"81479261585dbc09","type":"debug","z":"f93e13e54f881a08","name":"debug 97","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"","statusType":"counter","x":2658,"y":3277.4000000000005,"wires":[]},{"id":"e31609013ae8e1d7","type":"ClientCode","z":"f93e13e54f881a08","name":"Oscillator","clientcode":"var context = window.audiocontext || new AudioContext();\nwindow.audiocontext = context;\n\nvar frequency = parseInt(msg.frequency, 10) || node.frequency || 440;\nvar duration = parseInt(msg.duration, 10);\nif (duration != 0 && !duration) {\n    duration = node.duration || 500;\n}\n\nif (duration > 0) {\n    var oscillator = context.createOscillator();\n    oscillator.frequency.value = frequency;\n\n    if ( msg.shape == 'custom' ) {\n        var real = new Float32Array(msg.realTable);\n        var imag;\n        if (msg.imagTable && Array.isArray(msg.imagTable)) {\n            imag = new Float32Array(msg.imagTable);\n        } else {\n            imag = new Float32Array(real.length);\n        }\n        var pWave = context.createPeriodicWave(real, imag);\n        oscillator.setPeriodicWave(pWave);\n        //oscillator.type = 'custom'\n    } else {\n        oscillator.type = msg.shape || node.shape || 'sine';\n    }\n\n    let g = new GainNode(context);\n    let vol = msg.volume || 1\n\n    oscillator.connect(g).connect(context.destination);\n\n    let startTime = context.currentTime\n    g.gain.setValueAtTime(0, startTime);\n    g.gain.linearRampToValueAtTime(vol, startTime+1);\n    oscillator.start(startTime);\n\n    setTimeout(function () {\n        let stopTime = context.currentTime + 1;\n        g.gain.setValueAtTime(vol, stopTime - 1);\n        g.gain.linearRampToValueAtTime(0, stopTime);\n        oscillator.stop(stopTime);\n        setTimeout(() => { \n            oscillator = undefined\n            node.send(msg)\n        }, 1300)\n\n    }, duration);\n}","format":"javascript","x":2682,"y":3323.199951171875,"wires":[[]]},{"id":"517c58a34de30e8f","type":"delay","z":"f93e13e54f881a08","name":"","pauseType":"random","timeout":"1498","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"800","randomLast":"1500","randomUnits":"milliseconds","drop":false,"allowrate":false,"outputs":1,"x":2603,"y":3159.800048828125,"wires":[["236e5b6d2125ac1d"]]},{"id":"2aa31fe3a27b6c86","type":"inject","z":"f93e13e54f881a08","g":"64a59761edf72fb0","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":2468,"y":183,"wires":[["9d66c4070035079a"]]},{"id":"9d66c4070035079a","type":"ClientCode","z":"f93e13e54f881a08","g":"64a59761edf72fb0","name":"clientcode status","clientcode":"node.status({\n    fill:\"blue\",\n    shape:\"ring\",\n    text:\"status triggered\"\n});","format":"javascript","x":2764,"y":224,"wires":[[]]},{"id":"5d0d88b246666b10","type":"change","z":"f93e13e54f881a08","g":"b2d61dba1a202389","name":"frequency 450 - sine","rules":[{"t":"set","p":"shape","pt":"msg","to":"sine","tot":"str"},{"t":"set","p":"duration","pt":"msg","to":"1100","tot":"str"},{"t":"set","p":"frequency","pt":"msg","to":"450","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1140,"y":192,"wires":[["f30f16b50bec2c18"]]},{"id":"8335a448f0bccf83","type":"inject","z":"f93e13e54f881a08","g":"b2d61dba1a202389","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":959,"y":145,"wires":[["5d0d88b246666b10"]]},{"id":"019196a1d16336bf","type":"inject","z":"f93e13e54f881a08","g":"841fe27cada39ec3","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1721,"y":354,"wires":[["92ed666705dcc800"]]},{"id":"92ed666705dcc800","type":"delay","z":"f93e13e54f881a08","g":"841fe27cada39ec3","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"300","randomLast":"1000","randomUnits":"milliseconds","drop":false,"allowrate":false,"outputs":1,"x":1807,"y":448,"wires":[["72bc871354050c1a"]]},{"id":"72bc871354050c1a","type":"delay","z":"f93e13e54f881a08","g":"841fe27cada39ec3","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"300","randomLast":"1000","randomUnits":"milliseconds","drop":false,"allowrate":false,"outputs":1,"x":1922,"y":313,"wires":[["34e88a12bd169e7f"]]},{"id":"34e88a12bd169e7f","type":"delay","z":"f93e13e54f881a08","g":"841fe27cada39ec3","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"300","randomLast":"1000","randomUnits":"milliseconds","drop":false,"allowrate":false,"outputs":1,"x":2044,"y":171,"wires":[["bc563028d4f0b1c9"]]},{"id":"bc563028d4f0b1c9","type":"delay","z":"f93e13e54f881a08","g":"841fe27cada39ec3","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"300","randomLast":"1000","randomUnits":"milliseconds","drop":false,"allowrate":false,"outputs":1,"x":2167,"y":332,"wires":[["71750daec8e0a5d9"]]},{"id":"71750daec8e0a5d9","type":"delay","z":"f93e13e54f881a08","g":"841fe27cada39ec3","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"300","randomLast":"1000","randomUnits":"milliseconds","drop":false,"allowrate":false,"outputs":1,"x":2209,"y":450,"wires":[["92ed666705dcc800"]]},{"id":"9fe310a4c642cc89","type":"inject","z":"f93e13e54f881a08","g":"b2d61dba1a202389","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1021,"y":342,"wires":[["99c4167650adb3f0"]]},{"id":"99c4167650adb3f0","type":"debug","z":"f93e13e54f881a08","g":"b2d61dba1a202389","name":"log to sidebar","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1326,"y":342,"wires":[]},{"id":"f8aef2656e50613e","type":"inject","z":"f93e13e54f881a08","g":"b2d61dba1a202389","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1062,"y":419,"wires":[["a3d9958499efd2fb"]]},{"id":"d4381ed237f9fc84","type":"debug","z":"f93e13e54f881a08","g":"b2d61dba1a202389","name":"status","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"true","targetType":"full","statusVal":"payload","statusType":"auto","x":1315,"y":419,"wires":[]},{"id":"a3d9958499efd2fb","type":"link out","z":"f93e13e54f881a08","g":"b2d61dba1a202389","name":"link out 78","mode":"link","links":["41b221b8a96ad6c4"],"x":1157,"y":419,"wires":[]},{"id":"41b221b8a96ad6c4","type":"link in","z":"f93e13e54f881a08","g":"b2d61dba1a202389","name":"link in 1","links":["a3d9958499efd2fb"],"x":1230,"y":419,"wires":[["d4381ed237f9fc84"]]},{"id":"f30f16b50bec2c18","type":"debug","z":"f93e13e54f881a08","g":"b2d61dba1a202389","name":"log msg to console","active":true,"tosidebar":false,"console":true,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1364,"y":137,"wires":[]},{"id":"b6a1ae17cff902ee","type":"inject","z":"f93e13e54f881a08","g":"b2d61dba1a202389","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":991,"y":260,"wires":[["8b2cf13c17569815"]]},{"id":"8b2cf13c17569815","type":"debug","z":"f93e13e54f881a08","g":"b2d61dba1a202389","name":"message counter","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"true","targetType":"full","statusVal":"","statusType":"counter","x":1357,"y":260,"wires":[]},{"id":"46b6491b2a1f9c68","type":"ClientCode","z":"f93e13e54f881a08","g":"ee1e2aeebcb7904b","name":"Speaker","clientcode":"const synth = window.speechSynthesis;\n\nlet voices = synth.getVoices();\n\nconst utterThis = new SpeechSynthesisUtterance(msg.payload || \"hello world\");\n\nutterThis.voice = voices[0];\n\nsynth.speak(utterThis);\n\n","format":"javascript","x":447,"y":359,"wires":[[]]},{"id":"6dc01d6c700f1285","type":"inject","z":"f93e13e54f881a08","g":"f187dec0f45647a4","name":"Say Hi!","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Hi there, this is a tail less Node red installation. Only limited flow execution is supported. The intention is to give the viewer an impression of node red and how to use it.","payloadType":"str","x":259,"y":175,"wires":[["46b6491b2a1f9c68"]]},{"id":"d1f9a3010943f4ea","type":"change","z":"f93e13e54f881a08","g":"b2d61dba1a202389","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"link call out","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1188,"y":484.5,"wires":[["295a73591a8c1157"]]},{"id":"e616714745645493","type":"link in","z":"f93e13e54f881a08","g":"b2d61dba1a202389","name":"link in 2","links":[],"x":1061,"y":484.5,"wires":[["d1f9a3010943f4ea"]]},{"id":"295a73591a8c1157","type":"link out","z":"f93e13e54f881a08","g":"b2d61dba1a202389","name":"link out 79","mode":"return","links":[],"x":1323,"y":484.5,"wires":[]},{"id":"b05adaace4c48562","type":"link call","z":"f93e13e54f881a08","g":"b2d61dba1a202389","name":"","links":["e616714745645493"],"linkType":"static","timeout":"30","x":1213,"y":541,"wires":[["a0b2c3eb5239121a"]]},{"id":"a7590d18d192bad8","type":"inject","z":"f93e13e54f881a08","g":"b2d61dba1a202389","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1057,"y":541,"wires":[["b05adaace4c48562"]]},{"id":"a0b2c3eb5239121a","type":"debug","z":"f93e13e54f881a08","g":"b2d61dba1a202389","name":"debug 98","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"true","targetType":"full","statusVal":"","statusType":"counter","x":1351,"y":541,"wires":[]}]