f93e13e54f881a08/flows.json
[{"id":"f93e13e54f881a08","type":"tab","label":"Testbed for a server-less Node-RED instance","disabled":false,"info":"::: note\n\nThis is the README for the server-less Node-RED hosted at this [repo](https://github.com/gorenje/cdn.flowhub.org). This flow is the default flow for that instance. The flow is designed to work in a server-less environment *and* a server environment. It also provides tests for the server-less instance - at least basic testing. [View this flow in Node-RED](https://cdn.flowhub.org?t=0&fhid=f93e13e54f881a08).\n\n:::\n\n# Serverless Node-RED instance\n\nThis repository contains a minimal viable Node-RED instance. The intention is to give folks the chance to try out the Node-RED client (i.e. the editor) without having to install a server. The editor can be viewed at [cdn.flowhub.org](https://cdn.flowhub.org) - nothing can be broken, everything is static --> reload to reset the flow.\n\nAn initial idea was to use [Stackblitz](https://stackblitz.com/edit/node-djgejy?file=index.js&initialPath=/?fhid=aaab9308f8fbb2c5) for hosting an in-browser complete version of Node-RED, i.e. with server but that did not [work out](https://discourse.nodered.org/t/in-browser-node-red-a-follow-up-using-stackblitz/83639). Instead I decided to create this repository with a basic Node-RED client missing its server.\n\nThe secret sauce is though: I made many small changes to the [red.js](red/red.cdn.js) to support a dynamic server for certain actions, i.e., loading the initial flow data.\n\nNode-RED version used is 3.1.3 with dashboard nodes and some other nodes pre-installed. Loading of other node packages is not supported but deployment is supported ... but nothing changes.\n\nA dynamic server definition is defined [by this flow](https://flowhub.org/f/15cc9fb0e94d56cd) - its responsible for providing a websocket endpoint, a POST endpoint and for providing an initial flow to be shown. For example, the backend flow can be also viewed in the [server-less Node-RED client](https://cdn.flowhub.org/?fhid=15cc9fb0e94d56cd).\n\nPurpose of all this is to provide a \"Node-RED feel\" for folks interested in using Node-RED but who do not have the ability to install Node-RED somewhere. And since creating a server-connected Node-RED instance for others to use would be an open invitation to all sorts of illegal activities, hence this static but dynamic-feeling Node-RED instance.\n\n## Gist support\n\nIf you want to load a Gist (i.e., from [flows.nodered.org](https://flows.nodered.org/search?type=flow)) as initial flow, then add the [gist=](https://cdn.flowhub.org/?t=0&gist=joepavitt/ec39fe4e3187a7c41153488d4e0abbf3) parameter. The gist can be found by clicking on the *view on github* link.\n\nThe gist can either be `user/gistid` or just `gistid` - it seems that the user name does not scope the gistid, it appears to be globally unique.\n\nGists must have a file called `flow.json` at the top level else this won't work.\n\n## Import/Export of Flows\n\nImporting the textual representation of flows is possible and works well. Note though that it is likely that flows will contain unknown nodes (shown in dashed red outlines).\n\n![img](https://cdn.openmindmap.org/content/1703351412916_deadred-import-flow.gif)\n\nExport:\n\n![img](https://cdn.openmindmap.org/content/1703351419215_deadred-export.gif)\n\n## Flow Execution\n\nLimited flow execution has been added but this is very limited and most nodes are not supported. What has been included (above and beyond what Node-RED does) is that the flow of messages is shown:\n\n![img](https://cdn.openmindmap.org/content/1703351416213_deadred-flowexec.gif)\n\nThe [code](red/deadred.js) for flow execution is basic and an initial attempt in making this static Node-RED a little more interactive.\n\nProbably the most useful node is the ClientCode node that can be used to execute code in the browser. See the [introspection package](https://flows.nodered.org/node/@gregoriusrippenstein/node-red-contrib-introspection) for more details.\n\n## Flow Execution Reset\n\nEither reloading the page - **but** all changes are lost - or using the restart flow feature will stop current flow execution:\n\n![img](https://cdn.openmindmap.org/content/1703351385309_deadred-restart-flow.gif)\n\n## FlowHub.org flows\n\nThese can be included either by using the FlowHub nodes that have been installed in this instance:\n\n![img](https://cdn.openmindmap.org/content/1703351408389_deadred-flowhub.gif)\n\nOr by using the [fhid=](https://cdn.flowhub.org/?fhid=dffde1454d88f8c5) parameter as part of the URL.\n\n## Installed Nodes\n\nSince this is a static instance, there is no possibility to dynamically load new nodes. You can clone the repo and add to the static files. [retrieve.sh](retrieve.sh) is a script that does some parts of the updating of existing static content from a live Node-RED instance.\n\n## Initial Node-RED tour\n\nThe Node-RED tour is automatically shown each time the instance is loaded, this can be prevented by including [t=0](https://cdn.flowhub.org/?t=0) in the URL.\n\n## Running locally\n\nTo run this locally for testing *(this assumes python3 and make have been installed.)*:\n\n```\nmake run-local\n```\n\nNode-RED will start will retrieve and initial [flow](https://flowhub.org/f/67a6db53dc49ae4c) from FlowHub.org. All communication with the dynamic server will continue.\n\n\n## Similar Ideas / Projects\n\n- [Pagenodes](https://github.com/monteslu/pagenodes) which is a complete Node-RED in browser implementation, unfortunately last commit 2018. Still accessible (accepting the risk) at [pagenodes.com](https://pagenodes.com).\n\n- [Stackblitz](https://stackblitz.com/edit/node-djgejy?file=index.js&initialPath=/?fhid=aaab9308f8fbb2c5) which also runs a complete Node-RED instance in the browser but is very fragile. See Node-RED [forum](https://discourse.nodered.org/t/node-red-in-browser-via-stackblitz/72224) for more details.\n","env":[]},{"id":"e22140c236d0aeb4","type":"group","z":"f93e13e54f881a08","name":"notes","style":{"label":true},"nodes":["79254cbe50386ad3","bafdd3f0ee2992ec","33199ea9286bb616","5951d6ddee212063","c7db77407404f9dc"],"x":3241.9287109375,"y":1567.6430041449412,"w":235,"h":290},{"id":"c6f1d5c855159939","type":"group","z":"f93e13e54f881a08","name":"loop generator","style":{"label":true},"nodes":["2aecb0eb02850145","c7fa3a15a4a87394","40db705da37eb853"],"x":3093.761962890625,"y":2198.143004144941,"w":364.1669921875,"h":255.5},{"id":"fe2e9170568145fa","type":"group","z":"f93e13e54f881a08","name":"oscillator node","style":{"label":true},"nodes":["ddac6e51f9cb5570"],"x":3235.4287109375,"y":1458.1430041449412,"w":172,"h":82},{"id":"52c22a6c78a5c294","type":"group","z":"f93e13e54f881a08","name":"play button","style":{"fill":"#e3f3d3","fill-opacity":"0.73","label":true},"nodes":["8a146c8c48dce59b"],"x":319.42877197265625,"y":1480.2858264105662,"w":172,"h":82},{"id":"60f04ed16916b4df","type":"group","z":"f93e13e54f881a08","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["7890b82f920f3d10","680580766c46b347","86096185ed89c423","57bb8bcfd7b17cee","887bac4db9ca4181"],"x":4819.9671630859375,"y":2041.9458627700806,"w":284,"h":406.9277534484863},{"id":"6dd574ca2d020ef7","type":"group","z":"f93e13e54f881a08","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["5ae7142fa2260f9e","f7d4033c1e3ac32e","aa2ba089402b2807","da7a5ebeeaacec64","ad79c2775e26ea27"],"x":5972,"y":2030.7866020202637,"w":284,"h":406.9277534484863},{"id":"13ed96d046f0267f","type":"group","z":"f93e13e54f881a08","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["97486940dce6ccb8","e5d1c12e86b6e0e0","7ec98a8b3e6082f5","d4fdcfc9c44bc2a1","6c6a4457308dcc91","e80b052d30e97811","23f0ccfadf22e6f2"],"x":5611.3570556640625,"y":1380.593524158001,"w":284,"h":543.692120373249},{"id":"6b4ac48fe0a45ea7","type":"group","z":"f93e13e54f881a08","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["6ba22efcc3adb17e","d7fda7063982c93f","76b9cc439d1f110b","d9738d2c5131298c","b4565368dae52e47","6060d95e1601b17b","2dc22e68ce566c40","0897707da1903132","4a757cf89880c25b","cc996d86790d4774"],"x":4287.9287109375,"y":2034.5415164232254,"w":264,"h":623.4345577955246},{"id":"e16e5491397015f1","type":"group","z":"f93e13e54f881a08","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["ed333ffa6a9f4f22","14e5445d0029f650","9750bed57abf49d3"],"x":4639.142841339111,"y":1432,"w":837.7251551151276,"h":391},{"id":"a55d094a9650a5e2","type":"group","z":"f93e13e54f881a08","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["94ee41d8e8c2476e","67f16fed03f7946b","0ad73dd205031495"],"x":3886.9271181821823,"y":1432,"w":591.501426577568,"h":319},{"id":"aab8ba043eaf4d4d","type":"group","z":"f93e13e54f881a08","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["ee1e2aeebcb7904b","f187dec0f45647a4"],"x":4112.9725755964,"y":87,"w":422,"h":318},{"id":"841fe27cada39ec3","type":"group","z":"f93e13e54f881a08","name":"stop this by restarting the flows - Deply --> Restart Flows","style":{"label":true},"nodes":["019196a1d16336bf","92ed666705dcc800","72bc871354050c1a","34e88a12bd169e7f","bc563028d4f0b1c9","71750daec8e0a5d9"],"x":1694.4319272722516,"y":87,"w":679.9999999999998,"h":361},{"id":"64a59761edf72fb0","type":"group","z":"f93e13e54f881a08","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["2aa31fe3a27b6c86","9d66c4070035079a"],"x":2453.112143380301,"y":87,"w":518,"h":123},{"id":"b2d61dba1a202389","type":"group","z":"f93e13e54f881a08","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["5d0d88b246666b10","8335a448f0bccf83","9fe310a4c642cc89","99c4167650adb3f0","f8aef2656e50613e","d4381ed237f9fc84","a3d9958499efd2fb","41b221b8a96ad6c4","f30f16b50bec2c18","b6a1ae17cff902ee","8b2cf13c17569815","c61dafe4a5fc040b","e7afbe4e0b609ed1"],"x":958.7517111642019,"y":87,"w":657,"h":709.5},{"id":"fb3a960ef4b83c37","type":"group","z":"f93e13e54f881a08","name":"basic http request and JSON nodes","style":{"label":true},"nodes":["38c71f52bdc00f13","02ebb5ec3da35c2a","4816bd4309bd26ad","0cc6a4d664b18fa1","f56a7bb4a28df50d","e149f4c90e6365ac","364a30df2a1ebae7","2cdb447f06c24e8b","9a3b44c38f2f93d1","3975a24254584425"],"x":4613.65279170445,"y":87,"w":735,"h":322},{"id":"bc7ab4b3f4987a16","type":"group","z":"f93e13e54f881a08","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["a49abbec67e3c8ea","5583fd53f65f4873","8614ca4a6991cf31"],"x":396.78560638427734,"y":87,"w":483.285888671875,"h":208.28564453125},{"id":"4f23a38c39affa05","type":"group","z":"f93e13e54f881a08","name":"XML node","style":{"label":true},"nodes":["01a912f03e76523d","1a40a420613283fd","0b378076a0c62f57","a8c355e5b89cbe85","72f6bf4a47552c4f","888a803964fa8230"],"x":3049.7923594883505,"y":87,"w":984.5,"h":385.4999694824219},{"id":"4b270f679ad7889d","type":"group","z":"f93e13e54f881a08","name":"switch node","style":{"label":true},"nodes":["78e889964d2dae48","8daea8f92fbf475c","1985ecb3a12f6568","e0275a4e3e7872bc","7710f231b251a7aa","282ef152d080753a","0e3b4d369df19ba0","6255444af0ab102d","f48f7b9cf97d4361","d2b862833bd87683","48edd234ab3e8cbf","648fb70f367a8eca"],"x":5427.3330078125,"y":87,"w":770.6669921875,"h":509},{"id":"94ee41d8e8c2476e","type":"group","z":"f93e13e54f881a08","g":"a55d094a9650a5e2","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["815205f560046c85","b8f635636bf98807","ee2d9ca8969f6342","224be3ac0fdad95b","98194f8a52eb8158","e432e955b5bb46d7","d4f1d3e0bf45397a"],"x":4000,"y":1458,"w":366,"h":267},{"id":"67f16fed03f7946b","type":"group","z":"f93e13e54f881a08","g":"a55d094a9650a5e2","name":"","style":{"fill":"#ffbfbf","fill-opacity":"0.58","label":true},"nodes":["2d4174ef5dfcc31a"],"x":4400.42854475975,"y":1458,"w":52,"h":52},{"id":"0ad73dd205031495","type":"group","z":"f93e13e54f881a08","g":"a55d094a9650a5e2","name":"","style":{"fill":"#e3f3d3","fill-opacity":"0.64","label":true},"nodes":["90cd8ca5adb4fb0f"],"x":3912.9271181821823,"y":1673,"w":52,"h":52},{"id":"887bac4db9ca4181","type":"group","z":"f93e13e54f881a08","g":"60f04ed16916b4df","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["973c430965d3670f","217e875a2a4bddd5"],"x":4845.9671630859375,"y":2067.9458627700806,"w":232,"h":52},{"id":"ad79c2775e26ea27","type":"group","z":"f93e13e54f881a08","g":"6dd574ca2d020ef7","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["a8ac22dc2456e8f2","32531b6090168460"],"x":5998,"y":2056.7866020202637,"w":232,"h":52},{"id":"23f0ccfadf22e6f2","type":"group","z":"f93e13e54f881a08","g":"13ed96d046f0267f","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["0a657971bec5d773","e9c3b5d10ab04cf8"],"x":5637.3570556640625,"y":1406.593524158001,"w":232,"h":52},{"id":"cc996d86790d4774","type":"group","z":"f93e13e54f881a08","g":"6b4ac48fe0a45ea7","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["810b771abdf62772","e1b498d5dcbba215"],"x":4313.9287109375,"y":2060.5415164232254,"w":212,"h":52},{"id":"ed333ffa6a9f4f22","type":"group","z":"f93e13e54f881a08","g":"e16e5491397015f1","name":"","style":{"fill":"#ffbfbf","fill-opacity":"0.59","label":true},"nodes":["7c726cc6874ef5de"],"x":5398.867996454239,"y":1602,"w":52,"h":52},{"id":"14e5445d0029f650","type":"group","z":"f93e13e54f881a08","g":"e16e5491397015f1","name":"","style":{"fill":"#e3f3d3","fill-opacity":"0.69","label":true},"nodes":["26c71ec4e43ef5ed"],"x":4665.142841339111,"y":1602,"w":52,"h":52},{"id":"9750bed57abf49d3","type":"group","z":"f93e13e54f881a08","g":"e16e5491397015f1","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["063a10eaf5628674","ba4e424dfdd5a801","145c9951239c2d06","b1be3a32c5dafbca","29545afd0bd06413","234e5816b12ccd84"],"x":4744.5,"y":1458,"w":626,"h":339},{"id":"ee1e2aeebcb7904b","type":"group","z":"f93e13e54f881a08","g":"aab8ba043eaf4d4d","name":"speaker node","style":{"label":true},"nodes":["46b6491b2a1f9c68"],"x":4336.9725755964,"y":297,"w":172,"h":82},{"id":"f187dec0f45647a4","type":"group","z":"f93e13e54f881a08","g":"aab8ba043eaf4d4d","name":"press button","style":{"fill":"#e3f3d3","fill-opacity":"0.66","label":true},"nodes":["6dc01d6c700f1285"],"x":4138.9725755964,"y":113,"w":172,"h":82},{"id":"c61dafe4a5fc040b","type":"group","z":"f93e13e54f881a08","g":"b2d61dba1a202389","name":"fixed target","style":{"label":true},"nodes":["d1f9a3010943f4ea","e616714745645493","295a73591a8c1157","b05adaace4c48562","a7590d18d192bad8","a0b2c3eb5239121a"],"x":1042.7517111642019,"y":463.5,"w":506,"h":138.5},{"id":"e7afbe4e0b609ed1","type":"group","z":"f93e13e54f881a08","g":"b2d61dba1a202389","name":"dynamic target","style":{"label":true},"nodes":["f9d333a24d60b67b","6efda8c7e58c804b","3f8ffcd24e4b2142","47fa65bf967c8a52","08868e7b18b9b106","b4c49180c30c4323"],"x":1037.7517111642019,"y":632,"w":506,"h":138.5},{"id":"bc5f4ca03544bb30","type":"group","z":"f93e13e54f881a08","name":"nested link calls test","style":{"label":true},"nodes":["12e5554034694c9e","0e3c9c043a3530ee","7cf77eae8690dd16","226d6155f4df392f","deda8913b261a5c9","bdc71e9643149e1e","da1bb88a5c1b5451","2785119d921f58b5","4c3aa4731faab410","9f6cd98d4cb02f84","19a53adab822ce1c","e23b4bcc89e27f3b","95624d18b8bf77f0","2d9a0b38531af9ed","bf57f1a98259763d","649cce38e99cdc2a","a15c6a6dabfcb5b7","e184285eef7ac147","a7c702f1574dfeba","a0acbb6f0d0c74bc","bc6ee78e0b8dccd8","2946f343eaa66e2e","6b1a63e2a9d1a5f4"],"x":6331,"y":95,"w":1532,"h":672},{"id":"810b771abdf62772","type":"junction","z":"f93e13e54f881a08","g":"cc996d86790d4774","x":4339.9287109375,"y":2086.5415164232254,"wires":[[]]},{"id":"c9f660ea8f42eaa7","type":"junction","z":"f93e13e54f881a08","x":695.8368966664584,"y":1516.7857876278106,"wires":[["e9773b22a6816d87"]]},{"id":"8a090a46c53f85aa","type":"junction","z":"f93e13e54f881a08","x":970.0205709849088,"y":1516.3145132277077,"wires":[["caff3be4bed43276","20f89280fae84c94"]]},{"id":"d38b1d46d403d2fd","type":"junction","z":"f93e13e54f881a08","x":1246.5104229705676,"y":1516.3145132277077,"wires":[["f5fbc22996674aec","269a153277292cbe"]]},{"id":"8b232ac2157c0bd4","type":"junction","z":"f93e13e54f881a08","x":1520.694097289017,"y":1516.3145132277077,"wires":[["3ce87ab4720050d9","3775fe8045d83a8a"]]},{"id":"62fbb8018d29c8bc","type":"junction","z":"f93e13e54f881a08","x":1794.8777716074674,"y":1516.3145132277077,"wires":[["2504dc2a3bb81a48","0ecc5043e4a4848e"]]},{"id":"2808ac70b4348ad2","type":"junction","z":"f93e13e54f881a08","x":2069.061445925917,"y":1516.3145132277077,"wires":[["ba84b2a11dbd9687","184e2b24b397c534"]]},{"id":"18b591e42ca509ad","type":"junction","z":"f93e13e54f881a08","x":2343.245120244367,"y":1516.3145132277077,"wires":[["677451ab88a4851b","cfe004aac23cbd0f"]]},{"id":"d86ecb7ff60a266a","type":"junction","z":"f93e13e54f881a08","x":2641.1226168956073,"y":1516.3145132277077,"wires":[["df2653f21f8f6b98"]]},{"id":"cfe004aac23cbd0f","type":"junction","z":"f93e13e54f881a08","x":2480.4597603082657,"y":1463.9132181860152,"wires":[["d86ecb7ff60a266a"]]},{"id":"20f89280fae84c94","type":"junction","z":"f93e13e54f881a08","x":1097.857330918312,"y":1463.9132181860152,"wires":[["269a153277292cbe"]]},{"id":"269a153277292cbe","type":"junction","z":"f93e13e54f881a08","x":1374.3778167963028,"y":1463.9132181860152,"wires":[["3775fe8045d83a8a"]]},{"id":"3775fe8045d83a8a","type":"junction","z":"f93e13e54f881a08","x":1650.8983026742935,"y":1463.9132181860152,"wires":[["0ecc5043e4a4848e"]]},{"id":"0ecc5043e4a4848e","type":"junction","z":"f93e13e54f881a08","x":1927.4187885522842,"y":1463.9132181860152,"wires":[["184e2b24b397c534"]]},{"id":"184e2b24b397c534","type":"junction","z":"f93e13e54f881a08","x":2203.939274430275,"y":1463.9132181860152,"wires":[["cfe004aac23cbd0f"]]},{"id":"6b98b0fe82625dfd","type":"junction","z":"f93e13e54f881a08","x":695.8368966664584,"y":1621.5455345839134,"wires":[["d30908cd7ece49cd"]]},{"id":"ea5c3315d313789a","type":"junction","z":"f93e13e54f881a08","x":970.0205709849088,"y":1621.1171033110927,"wires":[["12ebd4ed17df2c07","873ec536edc931d8"]]},{"id":"5a15d999bfbb029c","type":"junction","z":"f93e13e54f881a08","x":1246.7042681915418,"y":1621.1171033110927,"wires":[["74e6bd7be91a658a","65c4e2f0f39d8403"]]},{"id":"f817f974e85fe839","type":"junction","z":"f93e13e54f881a08","x":1520.8879425099922,"y":1621.1171033110927,"wires":[["f3d79ca84431a36b","0f09c34395658c48"]]},{"id":"76a98070753e65ad","type":"junction","z":"f93e13e54f881a08","x":1795.0716168284416,"y":1621.1171033110927,"wires":[["1c7bc2da97408483","2836857cb159655a"]]},{"id":"61f2975fa45cb50e","type":"junction","z":"f93e13e54f881a08","x":2069.255291146892,"y":1621.1171033110927,"wires":[["e9dfc9f9ac2bc053","9c085c31bd1bd33f"]]},{"id":"991aa80c5dbb6a54","type":"junction","z":"f93e13e54f881a08","x":2343.4389654653414,"y":1621.1171033110927,"wires":[["0914a55d4c992c5f","5995dd7786d65555"]]},{"id":"e3681d658a5caa5b","type":"junction","z":"f93e13e54f881a08","x":2641.1226168956073,"y":1621.1171033110927,"wires":[["1876c5bca215e63d"]]},{"id":"5995dd7786d65555","type":"junction","z":"f93e13e54f881a08","x":2480.6536055292404,"y":1568.7158082694002,"wires":[["e3681d658a5caa5b"]]},{"id":"873ec536edc931d8","type":"junction","z":"f93e13e54f881a08","x":1098.0511761392868,"y":1568.7158082694002,"wires":[["65c4e2f0f39d8403"]]},{"id":"65c4e2f0f39d8403","type":"junction","z":"f93e13e54f881a08","x":1374.5716620172775,"y":1568.7158082694002,"wires":[["0f09c34395658c48"]]},{"id":"0f09c34395658c48","type":"junction","z":"f93e13e54f881a08","x":1651.0921478952682,"y":1568.7158082694002,"wires":[["2836857cb159655a"]]},{"id":"2836857cb159655a","type":"junction","z":"f93e13e54f881a08","x":1927.612633773259,"y":1568.7158082694002,"wires":[["9c085c31bd1bd33f"]]},{"id":"9c085c31bd1bd33f","type":"junction","z":"f93e13e54f881a08","x":2204.1331196512497,"y":1568.7158082694002,"wires":[["5995dd7786d65555"]]},{"id":"7fa6549b6df73e15","type":"junction","z":"f93e13e54f881a08","x":695.8368966664584,"y":1726.3052815400163,"wires":[["f956c268710202dc"]]},{"id":"1f4140d2ddf201a7","type":"junction","z":"f93e13e54f881a08","x":970.0205709849088,"y":1725.9196933944775,"wires":[["8c9a481dada2ecd7","0230b6da956b7236"]]},{"id":"98a30231e4371d67","type":"junction","z":"f93e13e54f881a08","x":1245.7042681915418,"y":1725.9196933944777,"wires":[["81dce40941f17268","a2cf937ff07859c2"]]},{"id":"41a73cab1d6e1195","type":"junction","z":"f93e13e54f881a08","x":1519.8879425099922,"y":1725.9196933944777,"wires":[["33d96629a7ae4f22","7dc06018ab67ba51"]]},{"id":"9330c307ec59740b","type":"junction","z":"f93e13e54f881a08","x":1794.0716168284416,"y":1725.9196933944777,"wires":[["bcf82eb0aea7c271","be2002d419ff5942"]]},{"id":"c630daa1d325b666","type":"junction","z":"f93e13e54f881a08","x":2068.255291146892,"y":1725.9196933944777,"wires":[["13adcdbc11052c17","575779802f0942cf"]]},{"id":"1b07750a4c12ff0c","type":"junction","z":"f93e13e54f881a08","x":2342.4389654653414,"y":1725.9196933944777,"wires":[["14f4fb28469071c3","73a97c4d20fe6741"]]},{"id":"559c0d8c6af3d895","type":"junction","z":"f93e13e54f881a08","x":2641.1226168956073,"y":1725.9196933944777,"wires":[["1e17963b2420d7dd"]]},{"id":"73a97c4d20fe6741","type":"junction","z":"f93e13e54f881a08","x":2479.6536055292404,"y":1673.5183983527852,"wires":[["559c0d8c6af3d895"]]},{"id":"0230b6da956b7236","type":"junction","z":"f93e13e54f881a08","x":1097.0511761392868,"y":1673.5183983527852,"wires":[["a2cf937ff07859c2"]]},{"id":"a2cf937ff07859c2","type":"junction","z":"f93e13e54f881a08","x":1373.5716620172775,"y":1673.5183983527852,"wires":[["7dc06018ab67ba51"]]},{"id":"7dc06018ab67ba51","type":"junction","z":"f93e13e54f881a08","x":1650.0921478952682,"y":1673.5183983527852,"wires":[["be2002d419ff5942"]]},{"id":"be2002d419ff5942","type":"junction","z":"f93e13e54f881a08","x":1926.612633773259,"y":1673.5183983527852,"wires":[["575779802f0942cf"]]},{"id":"575779802f0942cf","type":"junction","z":"f93e13e54f881a08","x":2203.1331196512497,"y":1673.5183983527852,"wires":[["73a97c4d20fe6741"]]},{"id":"e99398f539b1c86f","type":"junction","z":"f93e13e54f881a08","x":695.8368966664584,"y":1831.065028496119,"wires":[["f512ea9d29cd8a21"]]},{"id":"053fdf2da881531a","type":"junction","z":"f93e13e54f881a08","x":970.0205709849088,"y":1830.7222834778622,"wires":[["eb99b6275fc1d016","d4bfc5b2da70ab52"]]},{"id":"c6ad42101690899d","type":"junction","z":"f93e13e54f881a08","x":1243.7042681915418,"y":1830.7222834778627,"wires":[["a049f56371ae0a41","e88f0aa1a5504572"]]},{"id":"94266c720cd8bea3","type":"junction","z":"f93e13e54f881a08","x":1517.8879425099922,"y":1830.7222834778627,"wires":[["62d1ed038b471e55","1dc8b502ef7e1527"]]},{"id":"d4299e35faeb9ec5","type":"junction","z":"f93e13e54f881a08","x":1792.0716168284416,"y":1830.7222834778627,"wires":[["461582533074657a","b817996093bf8779"]]},{"id":"b7cc4d25f8e50b6c","type":"junction","z":"f93e13e54f881a08","x":2066.255291146892,"y":1830.7222834778627,"wires":[["2de231a27f370512","a1681399cfc02d3d"]]},{"id":"19458e392886661c","type":"junction","z":"f93e13e54f881a08","x":2340.4389654653414,"y":1830.7222834778627,"wires":[["f2d4b2722f320da1","6ae140e0c754e932"]]},{"id":"924cdfec34a8222e","type":"junction","z":"f93e13e54f881a08","x":2641.1226168956073,"y":1830.7222834778627,"wires":[["c77f86934f0eec45"]]},{"id":"6ae140e0c754e932","type":"junction","z":"f93e13e54f881a08","x":2477.6536055292404,"y":1778.3209884361702,"wires":[["924cdfec34a8222e"]]},{"id":"d4bfc5b2da70ab52","type":"junction","z":"f93e13e54f881a08","x":1095.0511761392868,"y":1778.3209884361702,"wires":[["e88f0aa1a5504572"]]},{"id":"e88f0aa1a5504572","type":"junction","z":"f93e13e54f881a08","x":1371.5716620172775,"y":1778.3209884361702,"wires":[["1dc8b502ef7e1527"]]},{"id":"1dc8b502ef7e1527","type":"junction","z":"f93e13e54f881a08","x":1648.0921478952682,"y":1778.3209884361702,"wires":[["b817996093bf8779"]]},{"id":"b817996093bf8779","type":"junction","z":"f93e13e54f881a08","x":1924.612633773259,"y":1778.3209884361702,"wires":[["a1681399cfc02d3d"]]},{"id":"a1681399cfc02d3d","type":"junction","z":"f93e13e54f881a08","x":2201.1331196512497,"y":1778.3209884361702,"wires":[["6ae140e0c754e932"]]},{"id":"1571bb0f32e3bd56","type":"junction","z":"f93e13e54f881a08","x":559.899087831378,"y":1936.90490933827,"wires":[["c9f660ea8f42eaa7","6b98b0fe82625dfd","7fa6549b6df73e15","e99398f539b1c86f","1388f68b29cb9079","07a4846128fe6280","b109ee493e2ced90","99781c14b777172b","888752aea84602e0","2c38e619fb0da796","edb47ef20ed83aed","6b5e202d92d5d3ca"]]},{"id":"1388f68b29cb9079","type":"junction","z":"f93e13e54f881a08","x":695.8368966664584,"y":1935.824775452222,"wires":[["ea2bec0746b43316"]]},{"id":"a019633824c08bce","type":"junction","z":"f93e13e54f881a08","x":970.0205709849088,"y":1935.524873561247,"wires":[["04d53a5d3e57b3e0","bbb6ab94a65a3b5a"]]},{"id":"67e8e75b67fee842","type":"junction","z":"f93e13e54f881a08","x":1243.2755114776746,"y":1935.5248735612477,"wires":[["834aff20b577a1c5","d0f90d81a048d5b1"]]},{"id":"2a74f90749c8dd05","type":"junction","z":"f93e13e54f881a08","x":1517.459185796125,"y":1935.5248735612477,"wires":[["1148da548c8e1d08","f1c78a655fcb719c"]]},{"id":"3d48e156f4ff2326","type":"junction","z":"f93e13e54f881a08","x":1791.6428601145744,"y":1935.5248735612477,"wires":[["3da290557ee59fee","39376b7c9e66d1a2"]]},{"id":"4da3b2f183a0be0d","type":"junction","z":"f93e13e54f881a08","x":2065.826534433025,"y":1935.5248735612477,"wires":[["44d90cc38b4bc905","54f353cbb922476b"]]},{"id":"0e7ef551a26842a1","type":"junction","z":"f93e13e54f881a08","x":2340.0102087514742,"y":1935.5248735612477,"wires":[["827338ad83cbb02b","5145facd2e6e5db2"]]},{"id":"0fa0911ea3f6b682","type":"junction","z":"f93e13e54f881a08","x":2641.1226168956073,"y":1935.5248735612477,"wires":[["d99bff8bd994fe53","0c797a78ada741a8"]]},{"id":"5145facd2e6e5db2","type":"junction","z":"f93e13e54f881a08","x":2477.224848815373,"y":1883.1235785195552,"wires":[["0fa0911ea3f6b682"]]},{"id":"bbb6ab94a65a3b5a","type":"junction","z":"f93e13e54f881a08","x":1094.6224194254196,"y":1883.1235785195552,"wires":[["d0f90d81a048d5b1"]]},{"id":"d0f90d81a048d5b1","type":"junction","z":"f93e13e54f881a08","x":1371.1429053034103,"y":1883.1235785195552,"wires":[["f1c78a655fcb719c"]]},{"id":"f1c78a655fcb719c","type":"junction","z":"f93e13e54f881a08","x":1647.663391181401,"y":1883.1235785195552,"wires":[["39376b7c9e66d1a2"]]},{"id":"39376b7c9e66d1a2","type":"junction","z":"f93e13e54f881a08","x":1924.1838770593918,"y":1883.1235785195552,"wires":[["54f353cbb922476b"]]},{"id":"54f353cbb922476b","type":"junction","z":"f93e13e54f881a08","x":2200.7043629373825,"y":1883.1235785195552,"wires":[["5145facd2e6e5db2"]]},{"id":"07a4846128fe6280","type":"junction","z":"f93e13e54f881a08","x":695.8368966664584,"y":2040.5845224083248,"wires":[["cca88a88a693b262"]]},{"id":"08dbd7a6aff1b161","type":"junction","z":"f93e13e54f881a08","x":970.0205709849088,"y":2040.3274636446317,"wires":[["2ad7d96f4222b93b","5d4e1077b129b05e"]]},{"id":"f5e007af7b3e0154","type":"junction","z":"f93e13e54f881a08","x":1243.7042224151746,"y":2040.3274636446326,"wires":[["a2531e7cbf865f2e","3f774bad9ae03b4f"]]},{"id":"7576d2cc479bb302","type":"junction","z":"f93e13e54f881a08","x":1517.887896733625,"y":2040.3274636446326,"wires":[["6c43b8d1ddd0ac79","74a19a7f50adee55"]]},{"id":"75a14f3cea4f03c2","type":"junction","z":"f93e13e54f881a08","x":1792.0715710520744,"y":2040.3274636446326,"wires":[["4797b0d3a0896957","fe40a92d804cd210"]]},{"id":"e5a6e83af38a9948","type":"junction","z":"f93e13e54f881a08","x":2066.255245370525,"y":2040.3274636446326,"wires":[["60051f64a37359a5","3691be5006b4b1ef"]]},{"id":"967d0ec155efdcb3","type":"junction","z":"f93e13e54f881a08","x":2340.4389196889742,"y":2040.3274636446326,"wires":[["b7cef0822eaa6f62","7e59f5c5a28d6df7"]]},{"id":"321443b932e23197","type":"junction","z":"f93e13e54f881a08","x":2641.1226168956073,"y":2040.3274636446326,"wires":[["4d48c1023aabe960"]]},{"id":"7e59f5c5a28d6df7","type":"junction","z":"f93e13e54f881a08","x":2477.653559752873,"y":1987.9261686029402,"wires":[["321443b932e23197"]]},{"id":"5d4e1077b129b05e","type":"junction","z":"f93e13e54f881a08","x":1095.0511303629196,"y":1987.9261686029402,"wires":[["3f774bad9ae03b4f"]]},{"id":"3f774bad9ae03b4f","type":"junction","z":"f93e13e54f881a08","x":1371.5716162409103,"y":1987.9261686029402,"wires":[["74a19a7f50adee55"]]},{"id":"74a19a7f50adee55","type":"junction","z":"f93e13e54f881a08","x":1648.092102118901,"y":1987.9261686029402,"wires":[["fe40a92d804cd210"]]},{"id":"fe40a92d804cd210","type":"junction","z":"f93e13e54f881a08","x":1924.6125879968918,"y":1987.9261686029402,"wires":[["3691be5006b4b1ef"]]},{"id":"3691be5006b4b1ef","type":"junction","z":"f93e13e54f881a08","x":2201.1330738748825,"y":1987.9261686029402,"wires":[["7e59f5c5a28d6df7"]]},{"id":"b109ee493e2ced90","type":"junction","z":"f93e13e54f881a08","x":695.8368966664584,"y":2145.3442693644274,"wires":[["4392fd0be04f55b4"]]},{"id":"627eea760f6b4687","type":"junction","z":"f93e13e54f881a08","x":970.0205709849088,"y":2145.1300537280167,"wires":[["54152c58c0b2572a","d9a5b57b11dca1df"]]},{"id":"cb540345060ffd92","type":"junction","z":"f93e13e54f881a08","x":1245.7042224151746,"y":2145.1300537280176,"wires":[["cd2682d673ea963c","15e079265b92269a"]]},{"id":"b26d04d04842bdd3","type":"junction","z":"f93e13e54f881a08","x":1519.887896733625,"y":2145.1300537280176,"wires":[["2d89922169f8a188","4c847a975dcc0bd2"]]},{"id":"5fbd8b940ad1f6b3","type":"junction","z":"f93e13e54f881a08","x":1794.0715710520744,"y":2145.1300537280176,"wires":[["8c8f1d7c9bf085a9","eb53ff2d31e15f78"]]},{"id":"ca52e083bbe1d25a","type":"junction","z":"f93e13e54f881a08","x":2068.255245370525,"y":2145.1300537280176,"wires":[["4e90f35d1202639b","828a6ac326c3d5ec"]]},{"id":"b4ed3fa856207f40","type":"junction","z":"f93e13e54f881a08","x":2342.4389196889742,"y":2145.1300537280176,"wires":[["c4b5f180454737df","5c7d8c303b777097"]]},{"id":"1fe1251e33e9826d","type":"junction","z":"f93e13e54f881a08","x":2641.1226168956073,"y":2145.1300537280176,"wires":[["efb4fa51e1d06925","c0db3f7f17111d91"]]},{"id":"5c7d8c303b777097","type":"junction","z":"f93e13e54f881a08","x":2479.653559752873,"y":2092.728758686325,"wires":[["1fe1251e33e9826d"]]},{"id":"d9a5b57b11dca1df","type":"junction","z":"f93e13e54f881a08","x":1097.0511303629196,"y":2092.728758686325,"wires":[["15e079265b92269a"]]},{"id":"15e079265b92269a","type":"junction","z":"f93e13e54f881a08","x":1373.5716162409103,"y":2092.728758686325,"wires":[["4c847a975dcc0bd2"]]},{"id":"4c847a975dcc0bd2","type":"junction","z":"f93e13e54f881a08","x":1650.092102118901,"y":2092.728758686325,"wires":[["eb53ff2d31e15f78"]]},{"id":"eb53ff2d31e15f78","type":"junction","z":"f93e13e54f881a08","x":1926.6125879968918,"y":2092.728758686325,"wires":[["828a6ac326c3d5ec"]]},{"id":"828a6ac326c3d5ec","type":"junction","z":"f93e13e54f881a08","x":2203.1330738748825,"y":2092.728758686325,"wires":[["5c7d8c303b777097"]]},{"id":"99781c14b777172b","type":"junction","z":"f93e13e54f881a08","x":695.8368966664584,"y":2250.1040163205307,"wires":[["e9881b4ee9712fb0"]]},{"id":"5cd72ac9bcce5d52","type":"junction","z":"f93e13e54f881a08","x":970.0205709849088,"y":2249.9326438114012,"wires":[["5db469ce9eb3ec2c","a499bba7b1a2ddea"]]},{"id":"b07fd8c4e55965a3","type":"junction","z":"f93e13e54f881a08","x":1243.7042224151746,"y":2249.9326438114026,"wires":[["6bfa2827e73e1139","da807a7bbfa408fd"]]},{"id":"dc58910feb0cab19","type":"junction","z":"f93e13e54f881a08","x":1517.887896733625,"y":2249.9326438114026,"wires":[["6dd77f8676db2438","5f09a7f6ede6013f"]]},{"id":"4aef2d4bfaa16f7c","type":"junction","z":"f93e13e54f881a08","x":1792.0715710520744,"y":2249.9326438114026,"wires":[["a467853f5ba38a4e","3437a1fb3087e68e"]]},{"id":"32082f50e19588ea","type":"junction","z":"f93e13e54f881a08","x":2066.255245370525,"y":2249.9326438114026,"wires":[["b0dbbdf444d013d9","be217a689b8be8d0"]]},{"id":"4eeb4d2ae764944f","type":"junction","z":"f93e13e54f881a08","x":2340.4389196889742,"y":2249.9326438114026,"wires":[["6c6467ff8944228e","39f9c49b57ddd5b0"]]},{"id":"cd3059a5e4d299e5","type":"junction","z":"f93e13e54f881a08","x":2641.1226168956073,"y":2249.9326438114026,"wires":[["e85939252ff9aca7"]]},{"id":"39f9c49b57ddd5b0","type":"junction","z":"f93e13e54f881a08","x":2477.653559752873,"y":2197.5313487697103,"wires":[["cd3059a5e4d299e5"]]},{"id":"a499bba7b1a2ddea","type":"junction","z":"f93e13e54f881a08","x":1095.0511303629196,"y":2197.5313487697103,"wires":[["da807a7bbfa408fd"]]},{"id":"da807a7bbfa408fd","type":"junction","z":"f93e13e54f881a08","x":1371.5716162409103,"y":2197.5313487697103,"wires":[["5f09a7f6ede6013f"]]},{"id":"5f09a7f6ede6013f","type":"junction","z":"f93e13e54f881a08","x":1648.092102118901,"y":2197.5313487697103,"wires":[["3437a1fb3087e68e"]]},{"id":"3437a1fb3087e68e","type":"junction","z":"f93e13e54f881a08","x":1924.6125879968918,"y":2197.5313487697103,"wires":[["be217a689b8be8d0"]]},{"id":"be217a689b8be8d0","type":"junction","z":"f93e13e54f881a08","x":2201.1330738748825,"y":2197.5313487697103,"wires":[["39f9c49b57ddd5b0"]]},{"id":"888752aea84602e0","type":"junction","z":"f93e13e54f881a08","x":695.8368966664584,"y":2354.863763276633,"wires":[["2a148239b86b8a4c"]]},{"id":"00b524a124a540e0","type":"junction","z":"f93e13e54f881a08","x":970.0205709849088,"y":2354.735233894786,"wires":[["24785e1415038527","a2d66377d376cac3"]]},{"id":"6127f3455203a928","type":"junction","z":"f93e13e54f881a08","x":1241.7042224151746,"y":2354.7352338947876,"wires":[["859b82099583580f","c88813d39840fef9"]]},{"id":"5143fecec8039073","type":"junction","z":"f93e13e54f881a08","x":1515.887896733625,"y":2354.7352338947876,"wires":[["b9af883ea7d71646","dbe7148e3e07547d"]]},{"id":"e8e380a7580920e6","type":"junction","z":"f93e13e54f881a08","x":1790.0715710520744,"y":2354.7352338947876,"wires":[["e758530cb46ddb9f","51cc484036384277"]]},{"id":"b62c16ddbc436542","type":"junction","z":"f93e13e54f881a08","x":2064.255245370525,"y":2354.7352338947876,"wires":[["729544dfb88d2cb6","c43c89f29c30d6d4"]]},{"id":"7a47cee1a58d28ea","type":"junction","z":"f93e13e54f881a08","x":2338.4389196889742,"y":2354.7352338947876,"wires":[["fd76776139115580","bda868fbf50aebe0"]]},{"id":"920e2c627734b40c","type":"junction","z":"f93e13e54f881a08","x":2641.1226168956073,"y":2354.7352338947876,"wires":[["d5b368c1e63e889a"]]},{"id":"bda868fbf50aebe0","type":"junction","z":"f93e13e54f881a08","x":2475.653559752873,"y":2302.333938853095,"wires":[["920e2c627734b40c"]]},{"id":"a2d66377d376cac3","type":"junction","z":"f93e13e54f881a08","x":1093.0511303629196,"y":2302.333938853095,"wires":[["c88813d39840fef9"]]},{"id":"c88813d39840fef9","type":"junction","z":"f93e13e54f881a08","x":1369.5716162409103,"y":2302.333938853095,"wires":[["dbe7148e3e07547d"]]},{"id":"dbe7148e3e07547d","type":"junction","z":"f93e13e54f881a08","x":1646.092102118901,"y":2302.333938853095,"wires":[["51cc484036384277"]]},{"id":"51cc484036384277","type":"junction","z":"f93e13e54f881a08","x":1922.6125879968918,"y":2302.333938853095,"wires":[["c43c89f29c30d6d4"]]},{"id":"c43c89f29c30d6d4","type":"junction","z":"f93e13e54f881a08","x":2199.1330738748825,"y":2302.333938853095,"wires":[["bda868fbf50aebe0"]]},{"id":"2c38e619fb0da796","type":"junction","z":"f93e13e54f881a08","x":695.8368966664584,"y":2459.6235102327364,"wires":[["255739351ca10c9f"]]},{"id":"4bc85bdc6c880acf","type":"junction","z":"f93e13e54f881a08","x":970.0205709849088,"y":2459.5378239781708,"wires":[["c6174908e905f663","e377a89888a2872d"]]},{"id":"b16ac85f05104253","type":"junction","z":"f93e13e54f881a08","x":1243.7042224151746,"y":2459.5378239781726,"wires":[["99f4a7fe7101bcef","6684a651378f9a4a"]]},{"id":"e78e9479181ec864","type":"junction","z":"f93e13e54f881a08","x":1517.887896733625,"y":2459.5378239781726,"wires":[["eb245c64dc520a50","957bd967f205819a"]]},{"id":"9dd3f094491b98b7","type":"junction","z":"f93e13e54f881a08","x":1792.0715710520744,"y":2459.5378239781726,"wires":[["d350a8229e8b8e98","dc9cdd60dba6c90f"]]},{"id":"7fa78c3ad37e349d","type":"junction","z":"f93e13e54f881a08","x":2066.255245370525,"y":2459.5378239781726,"wires":[["2d8984fb3926f7ba","4ed9a75ec1d19f65"]]},{"id":"e2fa7ef4fb328335","type":"junction","z":"f93e13e54f881a08","x":2340.4389196889742,"y":2459.5378239781726,"wires":[["fb9ec2711944db98","59c06f5f84cdca9d"]]},{"id":"beb487d544b1b9af","type":"junction","z":"f93e13e54f881a08","x":2641.1226168956073,"y":2459.5378239781726,"wires":[["60f8191ba6010a79","cb79a7ae7c87f114"]]},{"id":"59c06f5f84cdca9d","type":"junction","z":"f93e13e54f881a08","x":2477.653559752873,"y":2407.1365289364803,"wires":[["beb487d544b1b9af"]]},{"id":"e377a89888a2872d","type":"junction","z":"f93e13e54f881a08","x":1095.0511303629196,"y":2407.1365289364803,"wires":[["6684a651378f9a4a"]]},{"id":"6684a651378f9a4a","type":"junction","z":"f93e13e54f881a08","x":1371.5716162409103,"y":2407.1365289364803,"wires":[["957bd967f205819a"]]},{"id":"957bd967f205819a","type":"junction","z":"f93e13e54f881a08","x":1648.092102118901,"y":2407.1365289364803,"wires":[["dc9cdd60dba6c90f"]]},{"id":"dc9cdd60dba6c90f","type":"junction","z":"f93e13e54f881a08","x":1924.6125879968918,"y":2407.1365289364803,"wires":[["4ed9a75ec1d19f65"]]},{"id":"4ed9a75ec1d19f65","type":"junction","z":"f93e13e54f881a08","x":2201.1330738748825,"y":2407.1365289364803,"wires":[["59c06f5f84cdca9d"]]},{"id":"171f65c8030ce57b","type":"junction","z":"f93e13e54f881a08","x":3023.858197450638,"y":1927.989459003721,"wires":[["ddac6e51f9cb5570","3e15a9bf35e2dade","2aecb0eb02850145"]]},{"id":"177a0dd9aff63c43","type":"junction","z":"f93e13e54f881a08","x":3396.438954114914,"y":2870.1327421324595,"wires":[["5d71310b9c906c77"]]},{"id":"5d71310b9c906c77","type":"junction","z":"f93e13e54f881a08","x":559.899087831378,"y":2861.96949836186,"wires":[["46a42fc1362a5740"]]},{"id":"7623f4ad029742db","type":"junction","z":"f93e13e54f881a08","x":3394.2144552469254,"y":2648.143004144941,"wires":[["e4f82e296fd79b33"]]},{"id":"e4f82e296fd79b33","type":"junction","z":"f93e13e54f881a08","x":3394.2144552469254,"y":2762.143004144941,"wires":[["177a0dd9aff63c43"]]},{"id":"df9810a78d6d0924","type":"junction","z":"f93e13e54f881a08","x":3394.2144552469254,"y":2534.143004144941,"wires":[["7623f4ad029742db"]]},{"id":"7342bbf34e539f82","type":"junction","z":"f93e13e54f881a08","x":559.899087831378,"y":2245.2597723461336,"wires":[["bf10d1b0365bcd4a"]]},{"id":"9697151f7aca8131","type":"junction","z":"f93e13e54f881a08","x":559.899087831378,"y":2553.614635353997,"wires":[["2586a9dc793c8d69"]]},{"id":"46a42fc1362a5740","type":"junction","z":"f93e13e54f881a08","x":559.899087831378,"y":2707.7920668579286,"wires":[["9697151f7aca8131"]]},{"id":"2586a9dc793c8d69","type":"junction","z":"f93e13e54f881a08","x":559.899087831378,"y":2399.437203850065,"wires":[["7342bbf34e539f82"]]},{"id":"bf10d1b0365bcd4a","type":"junction","z":"f93e13e54f881a08","x":559.899087831378,"y":2091.082340842202,"wires":[["1571bb0f32e3bd56"]]},{"id":"edb47ef20ed83aed","type":"junction","z":"f93e13e54f881a08","x":695.8368966664584,"y":2564.383257188839,"wires":[["b0f0daa7ad1b483a"]]},{"id":"3e244e44b42727eb","type":"junction","z":"f93e13e54f881a08","x":970.0205709849088,"y":2564.3404140615557,"wires":[["469b749d9eeb964b","0945e7e4f54e4d4b"]]},{"id":"41e691393fbc0819","type":"junction","z":"f93e13e54f881a08","x":1246.7042272857252,"y":2564.3404140615576,"wires":[["28e2db16a7479e6e","60d86856f44c5afc"]]},{"id":"289d289cf5bf3e45","type":"junction","z":"f93e13e54f881a08","x":1520.8879016041756,"y":2564.3404140615576,"wires":[["c23fdca8162e04b2","f7c5dd09c134e9f4"]]},{"id":"ca6b01d18bb5571c","type":"junction","z":"f93e13e54f881a08","x":1795.071575922625,"y":2564.3404140615576,"wires":[["8970055e43fcbd04","bddff4820b804bfb"]]},{"id":"3398e03e4c748f49","type":"junction","z":"f93e13e54f881a08","x":2069.2552502410754,"y":2564.3404140615576,"wires":[["cb2dfe0a9f73c386","cc0f631b6eef9ea6"]]},{"id":"9afeb3963fcd4671","type":"junction","z":"f93e13e54f881a08","x":2343.438924559525,"y":2564.3404140615576,"wires":[["8bffefe4dbad14a3","30b285222fee5e76"]]},{"id":"a2af7e823f50e6b5","type":"junction","z":"f93e13e54f881a08","x":2641.1226168956073,"y":2564.3404140615576,"wires":[["6c9f2a0c5238bd45"]]},{"id":"30b285222fee5e76","type":"junction","z":"f93e13e54f881a08","x":2480.6535646234233,"y":2511.939119019865,"wires":[["a2af7e823f50e6b5"]]},{"id":"0945e7e4f54e4d4b","type":"junction","z":"f93e13e54f881a08","x":1098.0511352334702,"y":2511.939119019865,"wires":[["60d86856f44c5afc"]]},{"id":"60d86856f44c5afc","type":"junction","z":"f93e13e54f881a08","x":1374.571621111461,"y":2511.939119019865,"wires":[["f7c5dd09c134e9f4"]]},{"id":"f7c5dd09c134e9f4","type":"junction","z":"f93e13e54f881a08","x":1651.0921069894516,"y":2511.939119019865,"wires":[["bddff4820b804bfb"]]},{"id":"bddff4820b804bfb","type":"junction","z":"f93e13e54f881a08","x":1927.6125928674423,"y":2511.939119019865,"wires":[["cc0f631b6eef9ea6"]]},{"id":"cc0f631b6eef9ea6","type":"junction","z":"f93e13e54f881a08","x":2204.133078745433,"y":2511.939119019865,"wires":[["30b285222fee5e76"]]},{"id":"6b5e202d92d5d3ca","type":"junction","z":"f93e13e54f881a08","x":695.8368966664584,"y":2669.143004144941,"wires":[["05ef346e1a75143d"]]},{"id":"216671fe9dc904c8","type":"junction","z":"f93e13e54f881a08","x":970.0205709849088,"y":2669.143004144941,"wires":[["8ce03d13523f6d0c","9c5951a7c674bcd8"]]},{"id":"6d738e89c15af92c","type":"junction","z":"f93e13e54f881a08","x":1244.7042224151746,"y":2669.143004144941,"wires":[["0a5c12c5c56e693f","61f88ec97608778f"]]},{"id":"c645f414b31128e6","type":"junction","z":"f93e13e54f881a08","x":1518.887896733625,"y":2669.143004144941,"wires":[["1bf44cb25e4f9e1f","3424954374439a80"]]},{"id":"c9b0a532ef127d21","type":"junction","z":"f93e13e54f881a08","x":1793.0715710520744,"y":2669.143004144941,"wires":[["fd35851def867e51","b5594746304c51e5"]]},{"id":"c34dd675e907f87d","type":"junction","z":"f93e13e54f881a08","x":2067.255245370525,"y":2669.143004144941,"wires":[["200aa8b9f484badd","580e326764cc683a"]]},{"id":"ed284de525fa4e3c","type":"junction","z":"f93e13e54f881a08","x":2341.4389196889742,"y":2669.143004144941,"wires":[["c35668dead9433fa","e070737e7b518080"]]},{"id":"d0065fa8341d6805","type":"junction","z":"f93e13e54f881a08","x":2641.1226168956073,"y":2669.143004144941,"wires":[["05ee23c954254f09"]]},{"id":"e070737e7b518080","type":"junction","z":"f93e13e54f881a08","x":2478.6535597528728,"y":2616.7417091032503,"wires":[["d0065fa8341d6805"]]},{"id":"9c5951a7c674bcd8","type":"junction","z":"f93e13e54f881a08","x":1096.0511303629196,"y":2616.7417091032503,"wires":[["61f88ec97608778f"]]},{"id":"61f88ec97608778f","type":"junction","z":"f93e13e54f881a08","x":1372.5716162409103,"y":2616.7417091032503,"wires":[["3424954374439a80"]]},{"id":"3424954374439a80","type":"junction","z":"f93e13e54f881a08","x":1649.092102118901,"y":2616.7417091032503,"wires":[["b5594746304c51e5"]]},{"id":"b5594746304c51e5","type":"junction","z":"f93e13e54f881a08","x":1925.6125879968918,"y":2616.7417091032503,"wires":[["580e326764cc683a"]]},{"id":"580e326764cc683a","type":"junction","z":"f93e13e54f881a08","x":2202.1330738748825,"y":2616.7417091032503,"wires":[["e070737e7b518080"]]},{"id":"973c430965d3670f","type":"junction","z":"f93e13e54f881a08","g":"887bac4db9ca4181","x":5051.9671630859375,"y":2093.9458627700806,"wires":[["680580766c46b347","86096185ed89c423","57bb8bcfd7b17cee","7890b82f920f3d10"]]},{"id":"217e875a2a4bddd5","type":"junction","z":"f93e13e54f881a08","g":"887bac4db9ca4181","x":4871.9671630859375,"y":2093.9458627700806,"wires":[[]]},{"id":"a8ac22dc2456e8f2","type":"junction","z":"f93e13e54f881a08","g":"ad79c2775e26ea27","x":6204,"y":2082.7866020202637,"wires":[["f7d4033c1e3ac32e","aa2ba089402b2807","da7a5ebeeaacec64","5ae7142fa2260f9e"]]},{"id":"32531b6090168460","type":"junction","z":"f93e13e54f881a08","g":"ad79c2775e26ea27","x":6024,"y":2082.7866020202637,"wires":[["50c3e3a81221e125","e31609013ae8e1d7","81479261585dbc09"]]},{"id":"be22748a4892c224","type":"junction","z":"f93e13e54f881a08","x":7075.428558349609,"y":1898.1428775787354,"wires":[["8a3bd34e06b7d072","80de46af6ea41d59","e706b734adc52aaa"]]},{"id":"2cab35e8f50733b3","type":"junction","z":"f93e13e54f881a08","x":6439.081672310829,"y":2261.5917290449142,"wires":[["aa3e145f502ac60b"]]},{"id":"aa3e145f502ac60b","type":"junction","z":"f93e13e54f881a08","x":6494.714307427406,"y":1860.5714172124863,"wires":[["f368f1187f099012","f389fa54df62b517"]]},{"id":"0a657971bec5d773","type":"junction","z":"f93e13e54f881a08","g":"23f0ccfadf22e6f2","x":5663.3570556640625,"y":1432.593524158001,"wires":[["08bb8739b40bd420","06e9372314f8c5c0","132143c23fa51859"]]},{"id":"e9822e40b781d229","type":"junction","z":"f93e13e54f881a08","x":2989.714043021202,"y":4442.714192032814,"wires":[[]]},{"id":"e9c3b5d10ab04cf8","type":"junction","z":"f93e13e54f881a08","g":"23f0ccfadf22e6f2","x":5843.3570556640625,"y":1432.593524158001,"wires":[["e5d1c12e86b6e0e0","7ec98a8b3e6082f5"]]},{"id":"7c726cc6874ef5de","type":"junction","z":"f93e13e54f881a08","g":"ed333ffa6a9f4f22","x":5424.867996454239,"y":1628,"wires":[[]]},{"id":"90cd8ca5adb4fb0f","type":"junction","z":"f93e13e54f881a08","g":"0ad73dd205031495","x":3938.9271181821823,"y":1699,"wires":[["b8f635636bf98807","98194f8a52eb8158","e432e955b5bb46d7","d4f1d3e0bf45397a"]]},{"id":"2d4174ef5dfcc31a","type":"junction","z":"f93e13e54f881a08","g":"67f16fed03f7946b","x":4426.42854475975,"y":1484,"wires":[[]]},{"id":"26c71ec4e43ef5ed","type":"junction","z":"f93e13e54f881a08","g":"14e5445d0029f650","x":4691.142841339111,"y":1628,"wires":[["063a10eaf5628674"]]},{"id":"e1b498d5dcbba215","type":"junction","z":"f93e13e54f881a08","g":"cc996d86790d4774","x":4499.9287109375,"y":2086.5415164232254,"wires":[["6ba22efcc3adb17e"]]},{"id":"6ba22efcc3adb17e","type":"change","z":"f93e13e54f881a08","g":"6b4ac48fe0a45ea7","name":"triangle - 450 Hz","rules":[{"t":"set","p":"shape","pt":"msg","to":"triangle","tot":"str"},{"t":"set","p":"duration","pt":"msg","to":"1100","tot":"str"},{"t":"set","p":"frequency","pt":"msg","to":"450","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":4419.9287109375,"y":2251.6427680121524,"wires":[["76b9cc439d1f110b","810b771abdf62772"]]},{"id":"d7fda7063982c93f","type":"change","z":"f93e13e54f881a08","g":"6b4ac48fe0a45ea7","name":"triangle - 440 Hz","rules":[{"t":"set","p":"shape","pt":"msg","to":"triangle","tot":"str"},{"t":"set","p":"duration","pt":"msg","to":"1100","tot":"str"},{"t":"set","p":"frequency","pt":"msg","to":"440","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":4419.9287109375,"y":2342.976094563802,"wires":[["b4565368dae52e47","810b771abdf62772"]]},{"id":"76b9cc439d1f110b","type":"delay","z":"f93e13e54f881a08","g":"6b4ac48fe0a45ea7","name":"","pauseType":"delay","timeout":"900","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":4419.9287109375,"y":2297.3094312879775,"wires":[["d7fda7063982c93f"]]},{"id":"d9738d2c5131298c","type":"change","z":"f93e13e54f881a08","g":"6b4ac48fe0a45ea7","name":"triangle - 430 Hz","rules":[{"t":"set","p":"shape","pt":"msg","to":"triangle","tot":"str"},{"t":"set","p":"duration","pt":"msg","to":"1100","tot":"str"},{"t":"set","p":"frequency","pt":"msg","to":"430","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":4419.9287109375,"y":2434.309421115451,"wires":[["2dc22e68ce566c40","810b771abdf62772"]]},{"id":"b4565368dae52e47","type":"delay","z":"f93e13e54f881a08","g":"6b4ac48fe0a45ea7","name":"","pauseType":"delay","timeout":"900","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":4419.9287109375,"y":2388.6427578396265,"wires":[["d9738d2c5131298c"]]},{"id":"6060d95e1601b17b","type":"change","z":"f93e13e54f881a08","g":"6b4ac48fe0a45ea7","name":"triangle - 420 Hz","rules":[{"t":"set","p":"shape","pt":"msg","to":"triangle","tot":"str"},{"t":"set","p":"duration","pt":"msg","to":"1100","tot":"str"},{"t":"set","p":"frequency","pt":"msg","to":"420","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":4419.9287109375,"y":2525.6427476671006,"wires":[["4a757cf89880c25b","810b771abdf62772"]]},{"id":"2dc22e68ce566c40","type":"delay","z":"f93e13e54f881a08","g":"6b4ac48fe0a45ea7","name":"","pauseType":"delay","timeout":"900","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":4419.9287109375,"y":2479.976084391276,"wires":[["6060d95e1601b17b"]]},{"id":"0897707da1903132","type":"change","z":"f93e13e54f881a08","g":"6b4ac48fe0a45ea7","name":"triangle - 410 Hz","rules":[{"t":"set","p":"shape","pt":"msg","to":"triangle","tot":"str"},{"t":"set","p":"duration","pt":"msg","to":"1100","tot":"str"},{"t":"set","p":"frequency","pt":"msg","to":"410","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":4419.9287109375,"y":2616.97607421875,"wires":[["810b771abdf62772"]]},{"id":"4a757cf89880c25b","type":"delay","z":"f93e13e54f881a08","g":"6b4ac48fe0a45ea7","name":"","pauseType":"delay","timeout":"900","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":4419.9287109375,"y":2571.3094109429258,"wires":[["0897707da1903132"]]},{"id":"df2653f21f8f6b98","type":"change","z":"f93e13e54f881a08","name":"frequency 450 - sine","rules":[{"t":"set","p":"shape","pt":"msg","to":"sine","tot":"str"},{"t":"set","p":"duration","pt":"msg","to":"1100","tot":"str"},{"t":"set","p":"frequency","pt":"msg","to":"450","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2811.4287109375,"y":1516.2857876278106,"wires":[["171f65c8030ce57b"]]},{"id":"1876c5bca215e63d","type":"change","z":"f93e13e54f881a08","name":"frequency 440 - sine","rules":[{"t":"set","p":"shape","pt":"msg","to":"sine","tot":"str"},{"t":"set","p":"duration","pt":"msg","to":"1100","tot":"str"},{"t":"set","p":"frequency","pt":"msg","to":"440","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2811.4287109375,"y":1598.6327316647485,"wires":[["171f65c8030ce57b"]]},{"id":"1e17963b2420d7dd","type":"change","z":"f93e13e54f881a08","name":"frequency 430 - sine","rules":[{"t":"set","p":"shape","pt":"msg","to":"sine","tot":"str"},{"t":"set","p":"duration","pt":"msg","to":"1100","tot":"str"},{"t":"set","p":"frequency","pt":"msg","to":"430","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2811.4287109375,"y":1680.9796757016863,"wires":[["171f65c8030ce57b"]]},{"id":"c77f86934f0eec45","type":"change","z":"f93e13e54f881a08","name":"frequency 420 - sine","rules":[{"t":"set","p":"shape","pt":"msg","to":"sine","tot":"str"},{"t":"set","p":"duration","pt":"msg","to":"1100","tot":"str"},{"t":"set","p":"frequency","pt":"msg","to":"420","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2811.4287109375,"y":1763.3266197386242,"wires":[["171f65c8030ce57b"]]},{"id":"d99bff8bd994fe53","type":"change","z":"f93e13e54f881a08","name":"frequency 410 - sine","rules":[{"t":"set","p":"shape","pt":"msg","to":"sine","tot":"str"},{"t":"set","p":"duration","pt":"msg","to":"1100","tot":"str"},{"t":"set","p":"frequency","pt":"msg","to":"410","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2811.4287109375,"y":1928.0205078125,"wires":[["171f65c8030ce57b"]]},{"id":"4d48c1023aabe960","type":"change","z":"f93e13e54f881a08","name":"frequency 400 - sine","rules":[{"t":"set","p":"shape","pt":"msg","to":"sine","tot":"str"},{"t":"set","p":"duration","pt":"msg","to":"1100","tot":"str"},{"t":"set","p":"frequency","pt":"msg","to":"400","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2811.4287109375,"y":2010.3674518494379,"wires":[["171f65c8030ce57b"]]},{"id":"efb4fa51e1d06925","type":"change","z":"f93e13e54f881a08","name":"frequency 390 - sine","rules":[{"t":"set","p":"shape","pt":"msg","to":"sine","tot":"str"},{"t":"set","p":"duration","pt":"msg","to":"1100","tot":"str"},{"t":"set","p":"frequency","pt":"msg","to":"390","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2811.4287109375,"y":2175.0613399233134,"wires":[["171f65c8030ce57b"]]},{"id":"e85939252ff9aca7","type":"change","z":"f93e13e54f881a08","name":"frequency 380 - sine","rules":[{"t":"set","p":"shape","pt":"msg","to":"sine","tot":"str"},{"t":"set","p":"duration","pt":"msg","to":"1100","tot":"str"},{"t":"set","p":"frequency","pt":"msg","to":"380","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2811.4287109375,"y":2257.4082839602515,"wires":[["171f65c8030ce57b"]]},{"id":"e9773b22a6816d87","type":"delay","z":"f93e13e54f881a08","name":"","pauseType":"random","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"300","randomLast":"1000","randomUnits":"milliseconds","drop":false,"allowrate":false,"outputs":1,"x":835.2349114928925,"y":1516.7857876278106,"wires":[["8a090a46c53f85aa"]]},{"id":"caff3be4bed43276","type":"delay","z":"f93e13e54f881a08","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1109.4185858113424,"y":1516.3145132277077,"wires":[["d38b1d46d403d2fd"]]},{"id":"f5fbc22996674aec","type":"delay","z":"f93e13e54f881a08","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1383.6022601297923,"y":1516.3145132277077,"wires":[["8b232ac2157c0bd4"]]},{"id":"3ce87ab4720050d9","type":"delay","z":"f93e13e54f881a08","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1657.7859344482422,"y":1516.3145132277077,"wires":[["62fbb8018d29c8bc"]]},{"id":"2504dc2a3bb81a48","type":"delay","z":"f93e13e54f881a08","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1931.969608766692,"y":1516.3145132277077,"wires":[["2808ac70b4348ad2"]]},{"id":"ba84b2a11dbd9687","type":"delay","z":"f93e13e54f881a08","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":2206.153283085142,"y":1516.3145132277077,"wires":[["18b591e42ca509ad"]]},{"id":"677451ab88a4851b","type":"delay","z":"f93e13e54f881a08","name":"","pauseType":"delay","timeout":"0.5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":2490.336957403592,"y":1516.3145132277077,"wires":[["d86ecb7ff60a266a"]]},{"id":"d30908cd7ece49cd","type":"delay","z":"f93e13e54f881a08","name":"","pauseType":"random","timeout":"1500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1000","randomLast":"2000","randomUnits":"milliseconds","drop":false,"allowrate":false,"outputs":1,"x":835.4287567138672,"y":1621.5455345839134,"wires":[["ea5c3315d313789a"]]},{"id":"12ebd4ed17df2c07","type":"delay","z":"f93e13e54f881a08","name":"","pauseType":"delay","timeout":"1100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1129.612431032317,"y":1621.1171033110927,"wires":[["5a15d999bfbb029c"]]},{"id":"74e6bd7be91a658a","type":"delay","z":"f93e13e54f881a08","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1383.796105350767,"y":1621.1171033110927,"wires":[["f817f974e85fe839"]]},{"id":"f3d79ca84431a36b","type":"delay","z":"f93e13e54f881a08","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1657.979779669217,"y":1621.1171033110927,"wires":[["76a98070753e65ad"]]},{"id":"1c7bc2da97408483","type":"delay","z":"f93e13e54f881a08","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1932.1634539876668,"y":1621.1171033110927,"wires":[["61f2975fa45cb50e"]]},{"id":"e9dfc9f9ac2bc053","type":"delay","z":"f93e13e54f881a08","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":2206.3471283061167,"y":1621.1171033110927,"wires":[["991aa80c5dbb6a54"]]},{"id":"0914a55d4c992c5f","type":"delay","z":"f93e13e54f881a08","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":2480.5308026245666,"y":1621.1171033110927,"wires":[["e3681d658a5caa5b"]]},{"id":"f956c268710202dc","type":"delay","z":"f93e13e54f881a08","name":"","pauseType":"random","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"2000","randomLast":"2500","randomUnits":"milliseconds","drop":false,"allowrate":false,"outputs":1,"x":834.4287567138672,"y":1726.3052815400163,"wires":[["1f4140d2ddf201a7"]]},{"id":"8c9a481dada2ecd7","type":"delay","z":"f93e13e54f881a08","name":"","pauseType":"delay","timeout":"1200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1128.612431032317,"y":1725.9196933944777,"wires":[["98a30231e4371d67"]]},{"id":"81dce40941f17268","type":"delay","z":"f93e13e54f881a08","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1382.796105350767,"y":1725.9196933944777,"wires":[["41a73cab1d6e1195"]]},{"id":"33d96629a7ae4f22","type":"delay","z":"f93e13e54f881a08","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"300","randomLast":"1300","randomUnits":"milliseconds","drop":false,"allowrate":false,"outputs":1,"x":1666.979779669217,"y":1725.9196933944777,"wires":[["9330c307ec59740b"]]},{"id":"bcf82eb0aea7c271","type":"delay","z":"f93e13e54f881a08","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1931.1634539876668,"y":1725.9196933944777,"wires":[["c630daa1d325b666"]]},{"id":"13adcdbc11052c17","type":"delay","z":"f93e13e54f881a08","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":2205.3471283061167,"y":1725.9196933944777,"wires":[["1b07750a4c12ff0c"]]},{"id":"14f4fb28469071c3","type":"delay","z":"f93e13e54f881a08","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":2479.5308026245666,"y":1725.9196933944777,"wires":[["559c0d8c6af3d895"]]},{"id":"f512ea9d29cd8a21","type":"delay","z":"f93e13e54f881a08","name":"","pauseType":"random","timeout":"2500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"3000","randomLast":"3500","randomUnits":"milliseconds","drop":false,"allowrate":false,"outputs":1,"x":832.4287567138672,"y":1831.065028496119,"wires":[["053fdf2da881531a"]]},{"id":"eb99b6275fc1d016","type":"delay","z":"f93e13e54f881a08","name":"","pauseType":"delay","timeout":"1300","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1126.612431032317,"y":1830.7222834778627,"wires":[["c6ad42101690899d"]]},{"id":"a049f56371ae0a41","type":"delay","z":"f93e13e54f881a08","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1380.796105350767,"y":1830.7222834778627,"wires":[["94266c720cd8bea3"]]},{"id":"62d1ed038b471e55","type":"delay","z":"f93e13e54f881a08","name":"","pauseType":"delay","timeout":"700","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"0","randomLast":"1","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1664.979779669217,"y":1830.7222834778627,"wires":[["d4299e35faeb9ec5"]]},{"id":"461582533074657a","type":"delay","z":"f93e13e54f881a08","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1929.1634539876668,"y":1830.7222834778627,"wires":[["b7cc4d25f8e50b6c"]]},{"id":"2de231a27f370512","type":"delay","z":"f93e13e54f881a08","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":2203.3471283061167,"y":1830.7222834778627,"wires":[["19458e392886661c"]]},{"id":"f2d4b2722f320da1","type":"delay","z":"f93e13e54f881a08","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":2477.5308026245666,"y":1830.7222834778627,"wires":[["924cdfec34a8222e"]]},{"id":"ea2bec0746b43316","type":"delay","z":"f93e13e54f881a08","name":"","pauseType":"random","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"3000","randomLast":"4000","randomUnits":"milliseconds","drop":false,"allowrate":false,"outputs":1,"x":826,"y":1935.824775452222,"wires":[["a019633824c08bce"]]},{"id":"04d53a5d3e57b3e0","type":"delay","z":"f93e13e54f881a08","name":"","pauseType":"delay","timeout":"900","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1126.18367431845,"y":1935.5248735612477,"wires":[["67e8e75b67fee842"]]},{"id":"834aff20b577a1c5","type":"delay","z":"f93e13e54f881a08","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1390.3673486368998,"y":1935.5248735612477,"wires":[["2a74f90749c8dd05"]]},{"id":"1148da548c8e1d08","type":"delay","z":"f93e13e54f881a08","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1664.5510229553497,"y":1935.5248735612477,"wires":[["3d48e156f4ff2326"]]},{"id":"3da290557ee59fee","type":"delay","z":"f93e13e54f881a08","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1938.7346972737996,"y":1935.5248735612477,"wires":[["4da3b2f183a0be0d"]]},{"id":"44d90cc38b4bc905","type":"delay","z":"f93e13e54f881a08","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":2212.9183715922495,"y":1935.5248735612477,"wires":[["0e7ef551a26842a1"]]},{"id":"827338ad83cbb02b","type":"delay","z":"f93e13e54f881a08","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":2487.1020459106994,"y":1935.5248735612477,"wires":[["0fa0911ea3f6b682"]]},{"id":"cca88a88a693b262","type":"delay","z":"f93e13e54f881a08","name":"","pauseType":"random","timeout":"3500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"3000","randomLast":"4000","randomUnits":"milliseconds","drop":false,"allowrate":false,"outputs":1,"x":826.4287109375,"y":2040.5845224083248,"wires":[["08dbd7a6aff1b161"]]},{"id":"2ad7d96f4222b93b","type":"delay","z":"f93e13e54f881a08","name":"","pauseType":"delay","timeout":"800","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1126.61238525595,"y":2040.3274636446326,"wires":[["f5e007af7b3e0154"]]},{"id":"a2531e7cbf865f2e","type":"delay","z":"f93e13e54f881a08","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1390.7960595743998,"y":2040.3274636446326,"wires":[["7576d2cc479bb302"]]},{"id":"6c43b8d1ddd0ac79","type":"delay","z":"f93e13e54f881a08","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"345","randomUnits":"milliseconds","drop":false,"allowrate":false,"outputs":1,"x":1664.9797338928497,"y":2040.3274636446326,"wires":[["75a14f3cea4f03c2"]]},{"id":"4797b0d3a0896957","type":"delay","z":"f93e13e54f881a08","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1939.1634082112996,"y":2040.3274636446326,"wires":[["e5a6e83af38a9948"]]},{"id":"60051f64a37359a5","type":"delay","z":"f93e13e54f881a08","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":2213.3470825297495,"y":2040.3274636446326,"wires":[["967d0ec155efdcb3"]]},{"id":"b7cef0822eaa6f62","type":"delay","z":"f93e13e54f881a08","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":2487.5307568481994,"y":2040.3274636446326,"wires":[["321443b932e23197"]]},{"id":"d5b368c1e63e889a","type":"change","z":"f93e13e54f881a08","name":"frequency 370 - sine","rules":[{"t":"set","p":"shape","pt":"msg","to":"sine","tot":"str"},{"t":"set","p":"duration","pt":"msg","to":"1100","tot":"str"},{"t":"set","p":"frequency","pt":"msg","to":"370","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2811.4287109375,"y":2339.7552279971896,"wires":[["171f65c8030ce57b"]]},{"id":"60f8191ba6010a79","type":"change","z":"f93e13e54f881a08","name":"frequency 360 - sine","rules":[{"t":"set","p":"shape","pt":"msg","to":"sine","tot":"str"},{"t":"set","p":"duration","pt":"msg","to":"2100","tot":"str"},{"t":"set","p":"frequency","pt":"msg","to":"360","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2811.4287109375,"y":2504.449116071065,"wires":[["171f65c8030ce57b"]]},{"id":"4392fd0be04f55b4","type":"delay","z":"f93e13e54f881a08","name":"","pauseType":"random","timeout":"3500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"3000","randomLast":"4000","randomUnits":"milliseconds","drop":false,"allowrate":false,"outputs":1,"x":828.4287109375,"y":2145.3442693644274,"wires":[["627eea760f6b4687"]]},{"id":"54152c58c0b2572a","type":"delay","z":"f93e13e54f881a08","name":"","pauseType":"delay","timeout":"800","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1128.61238525595,"y":2145.1300537280176,"wires":[["cb540345060ffd92"]]},{"id":"cd2682d673ea963c","type":"delay","z":"f93e13e54f881a08","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1392.7960595743998,"y":2145.1300537280176,"wires":[["b26d04d04842bdd3"]]},{"id":"2d89922169f8a188","type":"delay","z":"f93e13e54f881a08","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"345","randomUnits":"milliseconds","drop":false,"allowrate":false,"outputs":1,"x":1666.9797338928497,"y":2145.1300537280176,"wires":[["5fbd8b940ad1f6b3"]]},{"id":"8c8f1d7c9bf085a9","type":"delay","z":"f93e13e54f881a08","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1941.1634082112996,"y":2145.1300537280176,"wires":[["ca52e083bbe1d25a"]]},{"id":"4e90f35d1202639b","type":"delay","z":"f93e13e54f881a08","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":2215.3470825297495,"y":2145.1300537280176,"wires":[["b4ed3fa856207f40"]]},{"id":"c4b5f180454737df","type":"delay","z":"f93e13e54f881a08","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":2489.5307568481994,"y":2145.1300537280176,"wires":[["1fe1251e33e9826d"]]},{"id":"e9881b4ee9712fb0","type":"delay","z":"f93e13e54f881a08","name":"","pauseType":"random","timeout":"3500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"3000","randomLast":"4000","randomUnits":"milliseconds","drop":false,"allowrate":false,"outputs":1,"x":826.4287109375,"y":2250.1040163205307,"wires":[["5cd72ac9bcce5d52"]]},{"id":"5db469ce9eb3ec2c","type":"delay","z":"f93e13e54f881a08","name":"","pauseType":"delay","timeout":"800","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1126.61238525595,"y":2249.9326438114026,"wires":[["b07fd8c4e55965a3"]]},{"id":"6bfa2827e73e1139","type":"delay","z":"f93e13e54f881a08","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1390.7960595743998,"y":2249.9326438114026,"wires":[["dc58910feb0cab19"]]},{"id":"6dd77f8676db2438","type":"delay","z":"f93e13e54f881a08","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"345","randomUnits":"milliseconds","drop":false,"allowrate":false,"outputs":1,"x":1664.9797338928497,"y":2249.9326438114026,"wires":[["4aef2d4bfaa16f7c"]]},{"id":"a467853f5ba38a4e","type":"delay","z":"f93e13e54f881a08","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1937.1634521484375,"y":2249.9326438114026,"wires":[["32082f50e19588ea"]]},{"id":"b0dbbdf444d013d9","type":"delay","z":"f93e13e54f881a08","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":2213.3470825297495,"y":2249.9326438114026,"wires":[["4eeb4d2ae764944f"]]},{"id":"6c6467ff8944228e","type":"delay","z":"f93e13e54f881a08","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":2487.5307568481994,"y":2249.9326438114026,"wires":[["cd3059a5e4d299e5"]]},{"id":"2a148239b86b8a4c","type":"delay","z":"f93e13e54f881a08","name":"","pauseType":"random","timeout":"3500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"3000","randomLast":"4000","randomUnits":"milliseconds","drop":false,"allowrate":false,"outputs":1,"x":824.4287109375,"y":2354.863763276633,"wires":[["00b524a124a540e0"]]},{"id":"24785e1415038527","type":"delay","z":"f93e13e54f881a08","name":"","pauseType":"delay","timeout":"800","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1124.61238525595,"y":2354.7352338947876,"wires":[["6127f3455203a928"]]},{"id":"859b82099583580f","type":"delay","z":"f93e13e54f881a08","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1388.7960595743998,"y":2354.7352338947876,"wires":[["5143fecec8039073"]]},{"id":"b9af883ea7d71646","type":"delay","z":"f93e13e54f881a08","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"345","randomUnits":"milliseconds","drop":false,"allowrate":false,"outputs":1,"x":1662.9797338928497,"y":2354.7352338947876,"wires":[["e8e380a7580920e6"]]},{"id":"e758530cb46ddb9f","type":"delay","z":"f93e13e54f881a08","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1937.1634082112996,"y":2354.7352338947876,"wires":[["b62c16ddbc436542"]]},{"id":"729544dfb88d2cb6","type":"delay","z":"f93e13e54f881a08","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":2211.3470825297495,"y":2354.7352338947876,"wires":[["7a47cee1a58d28ea"]]},{"id":"fd76776139115580","type":"delay","z":"f93e13e54f881a08","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":2485.5307568481994,"y":2354.7352338947876,"wires":[["920e2c627734b40c"]]},{"id":"255739351ca10c9f","type":"delay","z":"f93e13e54f881a08","name":"","pauseType":"random","timeout":"3500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"3000","randomLast":"4000","randomUnits":"milliseconds","drop":false,"allowrate":false,"outputs":1,"x":826.4287109375,"y":2459.6235102327364,"wires":[["4bc85bdc6c880acf"]]},{"id":"c6174908e905f663","type":"delay","z":"f93e13e54f881a08","name":"","pauseType":"delay","timeout":"800","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1126.61238525595,"y":2459.5378239781726,"wires":[["b16ac85f05104253"]]},{"id":"99f4a7fe7101bcef","type":"delay","z":"f93e13e54f881a08","name":"","pauseType":"delay","timeout":"1.5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1400.7960595743998,"y":2459.5378239781726,"wires":[["e78e9479181ec864"]]},{"id":"eb245c64dc520a50","type":"delay","z":"f93e13e54f881a08","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"345","randomUnits":"milliseconds","drop":false,"allowrate":false,"outputs":1,"x":1664.9797338928497,"y":2459.5378239781726,"wires":[["9dd3f094491b98b7"]]},{"id":"d350a8229e8b8e98","type":"delay","z":"f93e13e54f881a08","name":"","pauseType":"delay","timeout":"1500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"500","randomLast":"1500","randomUnits":"milliseconds","drop":false,"allowrate":false,"outputs":1,"x":1959.1634082112996,"y":2459.5378239781726,"wires":[["7fa78c3ad37e349d"]]},{"id":"2d8984fb3926f7ba","type":"delay","z":"f93e13e54f881a08","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":2213.3470825297495,"y":2459.5378239781726,"wires":[["e2fa7ef4fb328335"]]},{"id":"fb9ec2711944db98","type":"delay","z":"f93e13e54f881a08","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":2487.5307568481994,"y":2459.5378239781726,"wires":[["beb487d544b1b9af"]]},{"id":"3e15a9bf35e2dade","type":"debug","z":"f93e13e54f881a08","name":"oscillator message counter","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"","statusType":"counter","x":3319.4287109375,"y":1928.1430041449412,"wires":[]},{"id":"b0f0daa7ad1b483a","type":"delay","z":"f93e13e54f881a08","name":"","pauseType":"random","timeout":"3500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1500","randomLast":"3500","randomUnits":"milliseconds","drop":false,"allowrate":false,"outputs":1,"x":829.4287158080506,"y":2564.383257188839,"wires":[["3e244e44b42727eb"]]},{"id":"469b749d9eeb964b","type":"delay","z":"f93e13e54f881a08","name":"","pauseType":"delay","timeout":"800","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1129.6123901265005,"y":2564.3404140615576,"wires":[["41e691393fbc0819"]]},{"id":"28e2db16a7479e6e","type":"delay","z":"f93e13e54f881a08","name":"","pauseType":"delay","timeout":"653","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1403.7960644449504,"y":2564.3404140615576,"wires":[["289d289cf5bf3e45"]]},{"id":"c23fdca8162e04b2","type":"delay","z":"f93e13e54f881a08","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"345","randomUnits":"milliseconds","drop":false,"allowrate":false,"outputs":1,"x":1667.9797387634003,"y":2564.3404140615576,"wires":[["ca6b01d18bb5571c"]]},{"id":"8970055e43fcbd04","type":"delay","z":"f93e13e54f881a08","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1942.1634130818502,"y":2564.3404140615576,"wires":[["3398e03e4c748f49"]]},{"id":"cb2dfe0a9f73c386","type":"delay","z":"f93e13e54f881a08","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":2226.3470874003,"y":2564.3404140615576,"wires":[["9afeb3963fcd4671"]]},{"id":"8bffefe4dbad14a3","type":"delay","z":"f93e13e54f881a08","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":2490.53076171875,"y":2564.3404140615576,"wires":[["a2af7e823f50e6b5"]]},{"id":"05ef346e1a75143d","type":"delay","z":"f93e13e54f881a08","name":"","pauseType":"random","timeout":"3500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1500","randomLast":"3500","randomUnits":"milliseconds","drop":false,"allowrate":false,"outputs":1,"x":827.4287109375,"y":2669.143004144941,"wires":[["216671fe9dc904c8"]]},{"id":"8ce03d13523f6d0c","type":"delay","z":"f93e13e54f881a08","name":"","pauseType":"delay","timeout":"1290","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1137.61238525595,"y":2669.143004144941,"wires":[["6d738e89c15af92c"]]},{"id":"0a5c12c5c56e693f","type":"delay","z":"f93e13e54f881a08","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1391.7960595743998,"y":2669.143004144941,"wires":[["c645f414b31128e6"]]},{"id":"1bf44cb25e4f9e1f","type":"delay","z":"f93e13e54f881a08","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"345","randomUnits":"milliseconds","drop":false,"allowrate":false,"outputs":1,"x":1665.9797338928497,"y":2669.143004144941,"wires":[["c9b0a532ef127d21"]]},{"id":"fd35851def867e51","type":"delay","z":"f93e13e54f881a08","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1940.1634082112996,"y":2669.143004144941,"wires":[["c34dd675e907f87d"]]},{"id":"200aa8b9f484badd","type":"delay","z":"f93e13e54f881a08","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":2224.3470825297495,"y":2669.143004144941,"wires":[["ed284de525fa4e3c"]]},{"id":"c35668dead9433fa","type":"delay","z":"f93e13e54f881a08","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":2488.5307568481994,"y":2669.143004144941,"wires":[["d0065fa8341d6805"]]},{"id":"6c9f2a0c5238bd45","type":"change","z":"f93e13e54f881a08","name":"frequency 350 - sine","rules":[{"t":"set","p":"shape","pt":"msg","to":"sine","tot":"str"},{"t":"set","p":"duration","pt":"msg","to":"1500","tot":"str"},{"t":"set","p":"frequency","pt":"msg","to":"350","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2811.4287109375,"y":2586.796060108003,"wires":[["171f65c8030ce57b"]]},{"id":"05ee23c954254f09","type":"change","z":"f93e13e54f881a08","name":"frequency 340 - sine","rules":[{"t":"set","p":"shape","pt":"msg","to":"sine","tot":"str"},{"t":"set","p":"duration","pt":"msg","to":"1100","tot":"str"},{"t":"set","p":"frequency","pt":"msg","to":"340","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2811.4287109375,"y":2669.143004144941,"wires":[["171f65c8030ce57b"]]},{"id":"361efbc02bdd6b55","type":"link in","z":"f93e13e54f881a08","name":"oscillator","links":["72ca1521440be73a","4447ae838661681a"],"x":3061.4287109375,"y":1426.1430041449412,"wires":[["ddac6e51f9cb5570"]]},{"id":"0c797a78ada741a8","type":"change","z":"f93e13e54f881a08","d":true,"name":"sawtooth - 450 Hz","rules":[{"t":"set","p":"shape","pt":"msg","to":"sawtooth","tot":"str"},{"t":"set","p":"duration","pt":"msg","to":"1100","tot":"str"},{"t":"set","p":"frequency","pt":"msg","to":"450","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2801.4287109375,"y":1845.6735637755621,"wires":[["171f65c8030ce57b"]]},{"id":"c0db3f7f17111d91","type":"change","z":"f93e13e54f881a08","name":"triangle - 410 Hz","rules":[{"t":"set","p":"shape","pt":"msg","to":"triangle","tot":"str"},{"t":"set","p":"duration","pt":"msg","to":"1234","tot":"str"},{"t":"set","p":"frequency","pt":"msg","to":"123","tot":"str"},{"t":"set","p":"volume","pt":"msg","to":".4","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2791.4287109375,"y":2092.7143958863758,"wires":[["171f65c8030ce57b"]]},{"id":"cb79a7ae7c87f114","type":"change","z":"f93e13e54f881a08","name":"custom - 410 Hz","rules":[{"t":"set","p":"shape","pt":"msg","to":"custom","tot":"str"},{"t":"set","p":"duration","pt":"msg","to":"2313","tot":"str"},{"t":"set","p":"frequency","pt":"msg","to":"410","tot":"str"},{"t":"set","p":"volume","pt":"msg","to":"0.02","tot":"str"},{"t":"set","p":"realTable","pt":"msg","to":"[0,1,2,1,0]","tot":"json"},{"t":"set","p":"imagTable","pt":"msg","to":"[0,-0.5,0,0.5,0]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":2801.4287109375,"y":2422.1021720341273,"wires":[["171f65c8030ce57b"]]},{"id":"79254cbe50386ad3","type":"change","z":"f93e13e54f881a08","g":"e22140c236d0aeb4","name":"sawtooth - 450 Hz","rules":[{"t":"set","p":"shape","pt":"msg","to":"sawtooth","tot":"str"},{"t":"set","p":"duration","pt":"msg","to":"1100","tot":"str"},{"t":"set","p":"frequency","pt":"msg","to":"450","tot":"str"},{"t":"set","p":"volume","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":3360.9287109375,"y":1758.6430041449412,"wires":[[]]},{"id":"bafdd3f0ee2992ec","type":"change","z":"f93e13e54f881a08","g":"e22140c236d0aeb4","name":"square - 450 Hz","rules":[{"t":"set","p":"shape","pt":"msg","to":"square","tot":"str"},{"t":"set","p":"duration","pt":"msg","to":"1100","tot":"str"},{"t":"set","p":"frequency","pt":"msg","to":"450","tot":"str"},{"t":"set","p":"volume","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":3351.9287109375,"y":1711.6430041449412,"wires":[[]]},{"id":"33199ea9286bb616","type":"change","z":"f93e13e54f881a08","g":"e22140c236d0aeb4","name":"sine - 450 Hz","rules":[{"t":"set","p":"shape","pt":"msg","to":"sine","tot":"str"},{"t":"set","p":"duration","pt":"msg","to":"1100","tot":"str"},{"t":"set","p":"frequency","pt":"msg","to":"450","tot":"str"},{"t":"set","p":"volume","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":3338.9287109375,"y":1816.6430041449412,"wires":[[]]},{"id":"5951d6ddee212063","type":"change","z":"f93e13e54f881a08","g":"e22140c236d0aeb4","name":"triangle - 410 Hz","rules":[{"t":"set","p":"shape","pt":"msg","to":"triangle","tot":"str"},{"t":"set","p":"duration","pt":"msg","to":"1100","tot":"str"},{"t":"set","p":"frequency","pt":"msg","to":"410","tot":"str"},{"t":"set","p":"volume","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":3351.9287109375,"y":1660.6430041449412,"wires":[[]]},{"id":"c7db77407404f9dc","type":"change","z":"f93e13e54f881a08","g":"e22140c236d0aeb4","name":"custom - 410 Hz","rules":[{"t":"set","p":"shape","pt":"msg","to":"custom","tot":"str"},{"t":"set","p":"duration","pt":"msg","to":"1100","tot":"str"},{"t":"set","p":"frequency","pt":"msg","to":"410","tot":"str"},{"t":"set","p":"volume","pt":"msg","to":"1","tot":"str"},{"t":"set","p":"realTable","pt":"msg","to":"[0,1,2,1,0]","tot":"json"},{"t":"set","p":"imagTable","pt":"msg","to":"[0,0,0,0,0]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":3357.9287109375,"y":1608.6430041449412,"wires":[[]]},{"id":"2aecb0eb02850145","type":"join","z":"f93e13e54f881a08","g":"c6f1d5c855159939","name":"","mode":"custom","build":"array","property":"duration","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"98","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":3169.761962890625,"y":2332.3096301215037,"wires":[["c7fa3a15a4a87394","40db705da37eb853"]]},{"id":"c7fa3a15a4a87394","type":"debug","z":"f93e13e54f881a08","g":"c6f1d5c855159939","name":"loop counter","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"","statusType":"counter","x":3341.928955078125,"y":2239.143004144941,"wires":[]},{"id":"40db705da37eb853","type":"change","z":"f93e13e54f881a08","g":"c6f1d5c855159939","name":"","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"delete","p":"frequency","pt":"msg"},{"t":"delete","p":"shape","pt":"msg"},{"t":"delete","p":"duration","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3320.4287109375,"y":2412.643004144941,"wires":[["df9810a78d6d0924"]]},{"id":"ddac6e51f9cb5570","type":"ClientCode","z":"f93e13e54f881a08","g":"fe2e9170568145fa","name":"Oscillator","clientcode":"var context = window.audiocontext || new AudioContext();\nwindow.audiocontext = context;\n\nvar frequency = parseInt(msg.frequency, 10) || node.frequency || 440;\nvar duration = parseInt(msg.duration, 10);\nif (duration != 0 && !duration) {\n    duration = node.duration || 500;\n}\n\nif (duration > 0) {\n    var oscillator = context.createOscillator();\n    oscillator.frequency.value = frequency;\n\n    if ( msg.shape == 'custom' ) {\n        var real = new Float32Array(msg.realTable);\n        var imag;\n        if (msg.imagTable && Array.isArray(msg.imagTable)) {\n            imag = new Float32Array(msg.imagTable);\n        } else {\n            imag = new Float32Array(real.length);\n        }\n        var pWave = context.createPeriodicWave(real, imag);\n        oscillator.setPeriodicWave(pWave);\n        //oscillator.type = 'custom'\n    } else {\n        oscillator.type = msg.shape || node.shape || 'sine';\n    }\n\n    let g = new GainNode(context);\n    let vol = msg.volume || 1\n\n    oscillator.connect(g).connect(context.destination);\n\n    let startTime = context.currentTime\n    g.gain.setValueAtTime(0, startTime);\n    g.gain.linearRampToValueAtTime(vol, startTime+1);\n    oscillator.start(startTime);\n\n    setTimeout(function () {\n        let stopTime = context.currentTime + 1;\n        g.gain.setValueAtTime(vol, stopTime - 1);\n        g.gain.linearRampToValueAtTime(0, stopTime);\n        oscillator.stop(stopTime);\n        setTimeout(() => { \n            oscillator = undefined\n            node.send(msg)\n        }, 1100)\n\n    }, duration);\n}","format":"javascript","x":3321.4287109375,"y":1499.1430041449412,"wires":[[]]},{"id":"8a146c8c48dce59b","type":"inject","z":"f93e13e54f881a08","g":"52c22a6c78a5c294","name":"play","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":415.42877197265625,"y":1521.2858264105662,"wires":[["1571bb0f32e3bd56"]]},{"id":"7890b82f920f3d10","type":"change","z":"f93e13e54f881a08","g":"60f04ed16916b4df","name":"custom - 120 Hz","rules":[{"t":"set","p":"shape","pt":"msg","to":"custom","tot":"str"},{"t":"set","p":"duration","pt":"msg","to":"1613","tot":"str"},{"t":"set","p":"frequency","pt":"msg","to":"120","tot":"str"},{"t":"set","p":"volume","pt":"msg","to":"1","tot":"str"},{"t":"set","p":"realTable","pt":"msg","to":"[0,0,1,0]","tot":"json"},{"t":"set","p":"imagTable","pt":"msg","to":"[0,0,0,0]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":4961.9671630859375,"y":2269.873616218567,"wires":[["217e875a2a4bddd5"]]},{"id":"680580766c46b347","type":"change","z":"f93e13e54f881a08","g":"60f04ed16916b4df","name":"custom - 410 Hz","rules":[{"t":"set","p":"shape","pt":"msg","to":"custom","tot":"str"},{"t":"set","p":"duration","pt":"msg","to":"1313","tot":"str"},{"t":"set","p":"frequency","pt":"msg","to":"410","tot":"str"},{"t":"set","p":"volume","pt":"msg","to":"0.02","tot":"str"},{"t":"set","p":"realTable","pt":"msg","to":"[0,1,2,1,0]","tot":"json"},{"t":"set","p":"imagTable","pt":"msg","to":"[0,-0.5,0,0.5,0]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":4961.9671630859375,"y":2315.873616218567,"wires":[["217e875a2a4bddd5"]]},{"id":"86096185ed89c423","type":"change","z":"f93e13e54f881a08","g":"60f04ed16916b4df","name":"custom - 440 Hz","rules":[{"t":"set","p":"shape","pt":"msg","to":"custom","tot":"str"},{"t":"set","p":"duration","pt":"msg","to":"1613","tot":"str"},{"t":"set","p":"frequency","pt":"msg","to":"440","tot":"str"},{"t":"set","p":"volume","pt":"msg","to":"0.02","tot":"str"},{"t":"set","p":"realTable","pt":"msg","to":"[0,1,2,1,0]","tot":"json"},{"t":"set","p":"imagTable","pt":"msg","to":"[0,-0.5,0,0.5,0]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":4961.9671630859375,"y":2361.873616218567,"wires":[["217e875a2a4bddd5"]]},{"id":"57bb8bcfd7b17cee","type":"change","z":"f93e13e54f881a08","g":"60f04ed16916b4df","name":"custom - 120 Hz","rules":[{"t":"set","p":"shape","pt":"msg","to":"custom","tot":"str"},{"t":"set","p":"duration","pt":"msg","to":"1813","tot":"str"},{"t":"set","p":"frequency","pt":"msg","to":"120","tot":"str"},{"t":"set","p":"volume","pt":"msg","to":"0.02","tot":"str"},{"t":"set","p":"realTable","pt":"msg","to":"[0,1,2,1,0]","tot":"json"},{"t":"set","p":"imagTable","pt":"msg","to":"[0,-0.5,0,0.5,0]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":4961.9671630859375,"y":2407.873616218567,"wires":[["217e875a2a4bddd5"]]},{"id":"a49abbec67e3c8ea","type":"inject","z":"f93e13e54f881a08","g":"bc7ab4b3f4987a16","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":502.78560638427734,"y":254.28564453125,"wires":[["5583fd53f65f4873"]]},{"id":"5ae7142fa2260f9e","type":"change","z":"f93e13e54f881a08","g":"6dd574ca2d020ef7","name":"custom - 120 Hz","rules":[{"t":"set","p":"shape","pt":"msg","to":"custom","tot":"str"},{"t":"set","p":"duration","pt":"msg","to":"1613","tot":"str"},{"t":"set","p":"frequency","pt":"msg","to":"120","tot":"str"},{"t":"set","p":"volume","pt":"msg","to":"1","tot":"str"},{"t":"set","p":"realTable","pt":"msg","to":"[0,0,1,0]","tot":"json"},{"t":"set","p":"imagTable","pt":"msg","to":"[0,0,0,0]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":6114,"y":2258.71435546875,"wires":[["32531b6090168460"]]},{"id":"f7d4033c1e3ac32e","type":"change","z":"f93e13e54f881a08","g":"6dd574ca2d020ef7","name":"custom - 410 Hz","rules":[{"t":"set","p":"shape","pt":"msg","to":"custom","tot":"str"},{"t":"set","p":"duration","pt":"msg","to":"1313","tot":"str"},{"t":"set","p":"frequency","pt":"msg","to":"410","tot":"str"},{"t":"set","p":"volume","pt":"msg","to":"0.02","tot":"str"},{"t":"set","p":"realTable","pt":"msg","to":"[0,1,2,1,0]","tot":"json"},{"t":"set","p":"imagTable","pt":"msg","to":"[0,-0.5,0,0.5,0]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":6114,"y":2304.71435546875,"wires":[["32531b6090168460"]]},{"id":"aa2ba089402b2807","type":"change","z":"f93e13e54f881a08","g":"6dd574ca2d020ef7","name":"custom - 440 Hz","rules":[{"t":"set","p":"shape","pt":"msg","to":"custom","tot":"str"},{"t":"set","p":"duration","pt":"msg","to":"1613","tot":"str"},{"t":"set","p":"frequency","pt":"msg","to":"440","tot":"str"},{"t":"set","p":"volume","pt":"msg","to":"0.02","tot":"str"},{"t":"set","p":"realTable","pt":"msg","to":"[0,1,2,1,0]","tot":"json"},{"t":"set","p":"imagTable","pt":"msg","to":"[0,-0.5,0,0.5,0]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":6114,"y":2350.71435546875,"wires":[["32531b6090168460"]]},{"id":"da7a5ebeeaacec64","type":"change","z":"f93e13e54f881a08","g":"6dd574ca2d020ef7","name":"custom - 120 Hz","rules":[{"t":"set","p":"shape","pt":"msg","to":"custom","tot":"str"},{"t":"set","p":"duration","pt":"msg","to":"1813","tot":"str"},{"t":"set","p":"frequency","pt":"msg","to":"120","tot":"str"},{"t":"set","p":"volume","pt":"msg","to":"0.02","tot":"str"},{"t":"set","p":"realTable","pt":"msg","to":"[0,1,2,1,0]","tot":"json"},{"t":"set","p":"imagTable","pt":"msg","to":"[0,-0.5,0,0.5,0]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":6114,"y":2396.71435546875,"wires":[["32531b6090168460"]]},{"id":"5583fd53f65f4873","type":"change","z":"f93e13e54f881a08","g":"bc7ab4b3f4987a16","name":"sine - 450 Hz","rules":[{"t":"set","p":"shape","pt":"msg","to":"sine","tot":"str"},{"t":"set","p":"duration","pt":"msg","to":"2450","tot":"str"},{"t":"set","p":"frequency","pt":"msg","to":"323","tot":"str"},{"t":"set","p":"volume","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":617.21435546875,"y":172.57138442993164,"wires":[["8614ca4a6991cf31"]]},{"id":"8614ca4a6991cf31","type":"ClientCode","z":"f93e13e54f881a08","g":"bc7ab4b3f4987a16","name":"Oscillator","clientcode":"var context = window.audiocontext || new AudioContext();\nwindow.audiocontext = context;\n\nvar frequency = parseInt(msg.frequency, 10) || node.frequency || 440;\nvar duration = parseInt(msg.duration, 10);\nif (duration != 0 && !duration) {\n    duration = node.duration || 500;\n}\n\nif (duration > 0) {\n    var oscillator = context.createOscillator();\n    oscillator.frequency.value = frequency;\n\n    if (msg.shape == 'custom') {\n        var real = new Float32Array(msg.realTable);\n        var imag;\n        if (msg.imagTable && Array.isArray(msg.imagTable)) {\n            imag = new Float32Array(msg.imagTable);\n        } else {\n            imag = new Float32Array(real.length);\n        }\n        var pWave = context.createPeriodicWave(real, imag);\n        oscillator.setPeriodicWave(pWave);\n        //oscillator.type = 'custom'\n    } else {\n        oscillator.type = msg.shape || node.shape || 'sine';\n    }\n\n    let g = new GainNode(context);\n    let vol = msg.volume || 1\n\n    oscillator.connect(g).connect(context.destination);\n\n    let startTime = context.currentTime\n    g.gain.setValueAtTime(0, startTime);\n    g.gain.linearRampToValueAtTime(vol, startTime + 1);\n    oscillator.start(startTime);\n\n    setTimeout(function () {\n        let stopTime = context.currentTime + 1;\n        g.gain.setValueAtTime(vol, stopTime - 1);\n        g.gain.linearRampToValueAtTime(0, stopTime);\n        oscillator.stop(stopTime);\n        setTimeout(() => {\n            oscillator = undefined\n            node.send(msg)\n        }, 1100)\n\n    }, duration);\n}","format":"javascript","x":794.0714950561523,"y":128,"wires":[[]]},{"id":"675a9ae32e7c623c","type":"change","z":"f93e13e54f881a08","name":"custom - 120 Hz","rules":[{"t":"set","p":"shape","pt":"msg","to":"custom","tot":"str"},{"t":"set","p":"duration","pt":"msg","to":"1813","tot":"str"},{"t":"set","p":"frequency","pt":"msg","to":"120","tot":"str"},{"t":"set","p":"volume","pt":"msg","to":"0.5","tot":"str"},{"t":"set","p":"realTable","pt":"msg","to":"[0,1,2,1,0]","tot":"json"},{"t":"set","p":"imagTable","pt":"msg","to":"[0,-0.5,0,0.5,0]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":6853.000244140625,"y":1974.71435546875,"wires":[["be22748a4892c224","7e632952402ffc78","025a301d931a7dcc"]]},{"id":"f368f1187f099012","type":"change","z":"f93e13e54f881a08","name":"custom - 120 Hz","rules":[{"t":"set","p":"shape","pt":"msg","to":"custom","tot":"str"},{"t":"set","p":"duration","pt":"msg","to":"1813","tot":"str"},{"t":"set","p":"frequency","pt":"msg","to":"120","tot":"str"},{"t":"set","p":"volume","pt":"msg","to":"0.5","tot":"str"},{"t":"set","p":"realTable","pt":"msg","to":"[0,-1,-2,-1,0]","tot":"json"},{"t":"set","p":"imagTable","pt":"msg","to":"[0,0.5,0,-0.5,0]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":6849.71435546875,"y":1859.142822265625,"wires":[["be22748a4892c224"]]},{"id":"0869eff596555358","type":"inject","z":"f93e13e54f881a08","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":6391.14306640625,"y":1740.71435546875,"wires":[["aa3e145f502ac60b"]]},{"id":"8a3bd34e06b7d072","type":"ClientCode","z":"f93e13e54f881a08","name":"Oscillator","clientcode":"var context = window.audiocontext || new AudioContext();\nwindow.audiocontext = context;\n\nvar frequency = parseInt(msg.frequency, 10) || node.frequency || 440;\nvar duration = parseInt(msg.duration, 10);\nif (duration != 0 && !duration) {\n    duration = node.duration || 500;\n}\n\nif (duration > 0) {\n    var oscillator = context.createOscillator();\n    oscillator.frequency.value = frequency;\n\n    if ( msg.shape == 'custom' ) {\n        var real = new Float32Array(msg.realTable);\n        var imag;\n        if (msg.imagTable && Array.isArray(msg.imagTable)) {\n            imag = new Float32Array(msg.imagTable);\n        } else {\n            imag = new Float32Array(real.length);\n        }\n        var pWave = context.createPeriodicWave(real, imag);\n        oscillator.setPeriodicWave(pWave);\n        //oscillator.type = 'custom'\n    } else {\n        oscillator.type = msg.shape || node.shape || 'sine';\n    }\n\n    let g = new GainNode(context);\n    let vol = msg.volume || 1\n\n    oscillator.connect(g).connect(context.destination);\n\n    let startTime = context.currentTime\n    g.gain.setValueAtTime(0, startTime);\n    g.gain.linearRampToValueAtTime(vol, startTime+1);\n    oscillator.start(startTime);\n\n    setTimeout(function () {\n        let stopTime = context.currentTime + 1;\n        g.gain.setValueAtTime(vol, stopTime - 1);\n        g.gain.linearRampToValueAtTime(0, stopTime);\n        oscillator.stop(stopTime);\n        setTimeout(() => { \n            oscillator = undefined\n            node.send(msg)\n        }, 1100)\n\n    }, duration);\n}","format":"javascript","x":7276.857177734375,"y":1957.857177734375,"wires":[["ef2c60dd0f8903d1"]]},{"id":"f389fa54df62b517","type":"delay","z":"f93e13e54f881a08","name":"","pauseType":"random","timeout":"1498","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"800","randomLast":"1500","randomUnits":"milliseconds","drop":false,"allowrate":false,"outputs":1,"x":6607.571533203125,"y":1975.999755859375,"wires":[["675a9ae32e7c623c"]]},{"id":"80de46af6ea41d59","type":"debug","z":"f93e13e54f881a08","name":"debug 93","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"","statusType":"counter","x":7378,"y":1694,"wires":[]},{"id":"e706b734adc52aaa","type":"join","z":"f93e13e54f881a08","name":"","mode":"custom","build":"array","property":"","propertyType":"full","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"4","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":7216,"y":2039,"wires":[["d49e33f76c67a0f1","2cf3d9f223477b94"]]},{"id":"d49e33f76c67a0f1","type":"change","z":"f93e13e54f881a08","name":"","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"delete","p":"frequency","pt":"msg"},{"t":"delete","p":"shape","pt":"msg"},{"t":"delete","p":"duration","pt":"msg"},{"t":"delete","p":"imagTable","pt":"msg"},{"t":"delete","p":"realTable","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":7222,"y":2262,"wires":[["2cab35e8f50733b3"]]},{"id":"2cf3d9f223477b94","type":"debug","z":"f93e13e54f881a08","name":"debug 94","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"","statusType":"counter","x":7450,"y":2001,"wires":[]},{"id":"b8713db8b3ecb942","type":"change","z":"f93e13e54f881a08","name":"custom - 120 Hz","rules":[{"t":"set","p":"shape","pt":"msg","to":"custom","tot":"str"},{"t":"set","p":"duration","pt":"msg","to":"1813","tot":"str"},{"t":"set","p":"frequency","pt":"msg","to":"120","tot":"str"},{"t":"set","p":"volume","pt":"msg","to":"0.5","tot":"str"},{"t":"set","p":"realTable","pt":"msg","to":"[0,1,2,1,0]","tot":"json"},{"t":"set","p":"imagTable","pt":"msg","to":"[0,-0.5,0,0.5,0]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":6846,"y":2088,"wires":[["be22748a4892c224"]]},{"id":"7e632952402ffc78","type":"delay","z":"f93e13e54f881a08","name":"","pauseType":"random","timeout":"1498","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"400","randomLast":"800","randomUnits":"milliseconds","drop":false,"allowrate":false,"outputs":1,"x":6811,"y":2034,"wires":[["b8713db8b3ecb942"]]},{"id":"025a301d931a7dcc","type":"delay","z":"f93e13e54f881a08","name":"","pauseType":"random","timeout":"1498","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"600","randomLast":"1000","randomUnits":"milliseconds","drop":false,"allowrate":false,"outputs":1,"x":6848,"y":1921,"wires":[["f368f1187f099012"]]},{"id":"ef2c60dd0f8903d1","type":"debug","z":"f93e13e54f881a08","name":"debug 95","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"true","targetType":"full","statusVal":"","statusType":"counter","x":7513,"y":1801,"wires":[]},{"id":"97486940dce6ccb8","type":"change","z":"f93e13e54f881a08","g":"13ed96d046f0267f","name":"custom - 120 Hz","rules":[{"t":"set","p":"shape","pt":"msg","to":"custom","tot":"str"},{"t":"set","p":"duration","pt":"msg","to":"1813","tot":"str"},{"t":"set","p":"frequency","pt":"msg","to":"120","tot":"str"},{"t":"set","p":"volume","pt":"msg","to":"0.5","tot":"str"},{"t":"set","p":"realTable","pt":"msg","to":"[0,1,2,1,0]","tot":"json"},{"t":"set","p":"imagTable","pt":"msg","to":"[0,-0.5,0,0.5,0]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":5753.3570556640625,"y":1778.5428710937495,"wires":[["0a657971bec5d773","6c6a4457308dcc91","e80b052d30e97811"]]},{"id":"e5d1c12e86b6e0e0","type":"change","z":"f93e13e54f881a08","g":"13ed96d046f0267f","name":"custom - 120 Hz","rules":[{"t":"set","p":"shape","pt":"msg","to":"custom","tot":"str"},{"t":"set","p":"duration","pt":"msg","to":"1813","tot":"str"},{"t":"set","p":"frequency","pt":"msg","to":"120","tot":"str"},{"t":"set","p":"volume","pt":"msg","to":"0.5","tot":"str"},{"t":"set","p":"realTable","pt":"msg","to":"[0,-1,-2,-1,0]","tot":"json"},{"t":"set","p":"imagTable","pt":"msg","to":"[0,0.5,0,-0.5,0]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":5753.3570556640625,"y":1621.4287109375,"wires":[["0a657971bec5d773"]]},{"id":"7ec98a8b3e6082f5","type":"delay","z":"f93e13e54f881a08","g":"13ed96d046f0267f","name":"","pauseType":"random","timeout":"1498","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"800","randomLast":"1500","randomUnits":"milliseconds","drop":false,"allowrate":false,"outputs":1,"x":5753.3570556640625,"y":1726.1714843749996,"wires":[["97486940dce6ccb8"]]},{"id":"d4fdcfc9c44bc2a1","type":"change","z":"f93e13e54f881a08","g":"13ed96d046f0267f","name":"custom - 120 Hz","rules":[{"t":"set","p":"shape","pt":"msg","to":"custom","tot":"str"},{"t":"set","p":"duration","pt":"msg","to":"1813","tot":"str"},{"t":"set","p":"frequency","pt":"msg","to":"120","tot":"str"},{"t":"set","p":"volume","pt":"msg","to":"0.5","tot":"str"},{"t":"set","p":"realTable","pt":"msg","to":"[0,1,2,1,0]","tot":"json"},{"t":"set","p":"imagTable","pt":"msg","to":"[0,-0.5,0,0.5,0]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":5753.3570556640625,"y":1883.28564453125,"wires":[["0a657971bec5d773"]]},{"id":"6c6a4457308dcc91","type":"delay","z":"f93e13e54f881a08","g":"13ed96d046f0267f","name":"","pauseType":"random","timeout":"1498","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"400","randomLast":"800","randomUnits":"milliseconds","drop":false,"allowrate":false,"outputs":1,"x":5753.3570556640625,"y":1830.9142578124993,"wires":[["d4fdcfc9c44bc2a1"]]},{"id":"e80b052d30e97811","type":"delay","z":"f93e13e54f881a08","g":"13ed96d046f0267f","name":"","pauseType":"random","timeout":"1498","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"600","randomLast":"1000","randomUnits":"milliseconds","drop":false,"allowrate":false,"outputs":1,"x":5753.3570556640625,"y":1673.8000976562498,"wires":[["e5d1c12e86b6e0e0"]]},{"id":"063a10eaf5628674","type":"change","z":"f93e13e54f881a08","g":"9750bed57abf49d3","name":"custom - 250 Hz","rules":[{"t":"set","p":"shape","pt":"msg","to":"custom","tot":"str"},{"t":"set","p":"duration","pt":"msg","to":"5100","tot":"str"},{"t":"set","p":"frequency","pt":"msg","to":"250","tot":"str"},{"t":"set","p":"volume","pt":"msg","to":"0.05","tot":"str"},{"t":"set","p":"realTable","pt":"msg","to":"[0,1,2,1,0,3,2,1]","tot":"json"},{"t":"set","p":"imagTable","pt":"msg","to":"[0,0,0,0,0,-1,-1,-1]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":4860.5,"y":1499,"wires":[["ba4e424dfdd5a801","b1be3a32c5dafbca","7c726cc6874ef5de"]]},{"id":"ba4e424dfdd5a801","type":"delay","z":"f93e13e54f881a08","g":"9750bed57abf49d3","name":"","pauseType":"random","timeout":"1498","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"600","randomLast":"1000","randomUnits":"milliseconds","drop":false,"allowrate":false,"outputs":1,"x":5085.5,"y":1582.199951171875,"wires":[["145c9951239c2d06"]]},{"id":"145c9951239c2d06","type":"change","z":"f93e13e54f881a08","g":"9750bed57abf49d3","name":"custom - 250 Hz","rules":[{"t":"set","p":"shape","pt":"msg","to":"custom","tot":"str"},{"t":"set","p":"duration","pt":"msg","to":"2100","tot":"str"},{"t":"set","p":"frequency","pt":"msg","to":"250","tot":"str"},{"t":"set","p":"volume","pt":"msg","to":"0.05","tot":"str"},{"t":"set","p":"realTable","pt":"msg","to":"[0,1,2,-1,0,3,2,-1]","tot":"json"},{"t":"set","p":"imagTable","pt":"msg","to":"[0,0,0,0,0,-1,-1,-1]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":5038.5,"y":1628.400146484375,"wires":[["7c726cc6874ef5de"]]},{"id":"b1be3a32c5dafbca","type":"change","z":"f93e13e54f881a08","g":"9750bed57abf49d3","name":"custom - 230 Hz","rules":[{"t":"set","p":"shape","pt":"msg","to":"custom","tot":"str"},{"t":"set","p":"duration","pt":"msg","to":"2050","tot":"str"},{"t":"set","p":"frequency","pt":"msg","to":"230","tot":"str"},{"t":"set","p":"volume","pt":"msg","to":"0.05","tot":"str"},{"t":"set","p":"realTable","pt":"msg","to":"[0,1,2,1,0,-3,2,1]","tot":"json"},{"t":"set","p":"imagTable","pt":"msg","to":"[0,0,0,0,0,-1,1,-1]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":4987.5,"y":1697.7000732421875,"wires":[["234e5816b12ccd84","7c726cc6874ef5de"]]},{"id":"29545afd0bd06413","type":"change","z":"f93e13e54f881a08","g":"9750bed57abf49d3","name":"custom - 210 Hz","rules":[{"t":"set","p":"shape","pt":"msg","to":"custom","tot":"str"},{"t":"set","p":"duration","pt":"msg","to":"4030","tot":"str"},{"t":"set","p":"frequency","pt":"msg","to":"210","tot":"str"},{"t":"set","p":"volume","pt":"msg","to":"0.05","tot":"str"},{"t":"set","p":"realTable","pt":"msg","to":"[0,1,2,1,0,3,2,1]","tot":"json"},{"t":"set","p":"imagTable","pt":"msg","to":"[0,0,0,0,0,1,-1,1]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":5254.5,"y":1756,"wires":[["7c726cc6874ef5de"]]},{"id":"234e5816b12ccd84","type":"delay","z":"f93e13e54f881a08","g":"9750bed57abf49d3","name":"","pauseType":"random","timeout":"1498","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"600","randomLast":"1000","randomUnits":"milliseconds","drop":false,"allowrate":false,"outputs":1,"x":5253.5,"y":1697.7000732421875,"wires":[["29545afd0bd06413"]]},{"id":"815205f560046c85","type":"change","z":"f93e13e54f881a08","g":"94ee41d8e8c2476e","name":"square - 450 Hz","rules":[{"t":"set","p":"shape","pt":"msg","to":"square","tot":"str"},{"t":"set","p":"duration","pt":"msg","to":"1800","tot":"str"},{"t":"set","p":"frequency","pt":"msg","to":"210","tot":"str"},{"t":"set","p":"volume","pt":"msg","to":"0.05","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":4259,"y":1609,"wires":[["2d4174ef5dfcc31a"]]},{"id":"b8f635636bf98807","type":"change","z":"f93e13e54f881a08","g":"94ee41d8e8c2476e","name":"sine - 450 Hz","rules":[{"t":"set","p":"shape","pt":"msg","to":"sine","tot":"str"},{"t":"set","p":"duration","pt":"msg","to":"1800","tot":"str"},{"t":"set","p":"frequency","pt":"msg","to":"160","tot":"str"},{"t":"set","p":"volume","pt":"msg","to":"0.05","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":4270,"y":1684,"wires":[["2d4174ef5dfcc31a"]]},{"id":"ee2d9ca8969f6342","type":"change","z":"f93e13e54f881a08","g":"94ee41d8e8c2476e","name":"square - 450 Hz","rules":[{"t":"set","p":"shape","pt":"msg","to":"square","tot":"str"},{"t":"set","p":"duration","pt":"msg","to":"1800","tot":"str"},{"t":"set","p":"frequency","pt":"msg","to":"320","tot":"str"},{"t":"set","p":"volume","pt":"msg","to":"0.05","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":4259,"y":1499,"wires":[["2d4174ef5dfcc31a"]]},{"id":"224be3ac0fdad95b","type":"change","z":"f93e13e54f881a08","g":"94ee41d8e8c2476e","name":"sine - 450 Hz","rules":[{"t":"set","p":"shape","pt":"msg","to":"sine","tot":"str"},{"t":"set","p":"duration","pt":"msg","to":"1800","tot":"str"},{"t":"set","p":"frequency","pt":"msg","to":"370","tot":"str"},{"t":"set","p":"volume","pt":"msg","to":"0.05","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":4249,"y":1554,"wires":[["2d4174ef5dfcc31a"]]},{"id":"98194f8a52eb8158","type":"delay","z":"f93e13e54f881a08","g":"94ee41d8e8c2476e","name":"","pauseType":"random","timeout":"1498","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"300","randomLast":"500","randomUnits":"milliseconds","drop":false,"allowrate":false,"outputs":1,"x":4086,"y":1524,"wires":[["ee2d9ca8969f6342"]]},{"id":"e432e955b5bb46d7","type":"delay","z":"f93e13e54f881a08","g":"94ee41d8e8c2476e","name":"","pauseType":"random","timeout":"1498","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"200","randomLast":"400","randomUnits":"milliseconds","drop":false,"allowrate":false,"outputs":1,"x":4086,"y":1573,"wires":[["224be3ac0fdad95b"]]},{"id":"d4f1d3e0bf45397a","type":"delay","z":"f93e13e54f881a08","g":"94ee41d8e8c2476e","name":"","pauseType":"random","timeout":"1498","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"100","randomLast":"300","randomUnits":"milliseconds","drop":false,"allowrate":false,"outputs":1,"x":4086,"y":1623,"wires":[["815205f560046c85"]]},{"id":"08bb8739b40bd420","type":"join","z":"f93e13e54f881a08","name":"","mode":"custom","build":"array","property":"","propertyType":"full","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"4","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":5745,"y":1170,"wires":[["2fd5f2ce791ab883"]]},{"id":"2fd5f2ce791ab883","type":"change","z":"f93e13e54f881a08","name":"","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"delete","p":"frequency","pt":"msg"},{"t":"delete","p":"shape","pt":"msg"},{"t":"delete","p":"duration","pt":"msg"},{"t":"delete","p":"imagTable","pt":"msg"},{"t":"delete","p":"realTable","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":5761,"y":1118,"wires":[["e9c3b5d10ab04cf8"]]},{"id":"b86f8fa75c55dc7f","type":"inject","z":"f93e13e54f881a08","name":"play","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":5791,"y":1063,"wires":[["e9c3b5d10ab04cf8"]]},{"id":"06e9372314f8c5c0","type":"debug","z":"f93e13e54f881a08","name":"debug 96","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"","statusType":"counter","x":5715,"y":1019,"wires":[]},{"id":"132143c23fa51859","type":"ClientCode","z":"f93e13e54f881a08","name":"Oscillator","clientcode":"var context = window.audiocontext || new AudioContext();\nwindow.audiocontext = context;\n\nvar frequency = parseInt(msg.frequency, 10) || node.frequency || 440;\nvar duration = parseInt(msg.duration, 10);\nif (duration != 0 && !duration) {\n    duration = node.duration || 500;\n}\n\nif (duration > 0) {\n    var oscillator = context.createOscillator();\n    oscillator.frequency.value = frequency;\n\n    if ( msg.shape == 'custom' ) {\n        var real = new Float32Array(msg.realTable);\n        var imag;\n        if (msg.imagTable && Array.isArray(msg.imagTable)) {\n            imag = new Float32Array(msg.imagTable);\n        } else {\n            imag = new Float32Array(real.length);\n        }\n        var pWave = context.createPeriodicWave(real, imag);\n        oscillator.setPeriodicWave(pWave);\n        //oscillator.type = 'custom'\n    } else {\n        oscillator.type = msg.shape || node.shape || 'sine';\n    }\n\n    let g = new GainNode(context);\n    let vol = msg.volume || 1\n\n    oscillator.connect(g).connect(context.destination);\n\n    let startTime = context.currentTime\n    g.gain.setValueAtTime(0, startTime);\n    g.gain.linearRampToValueAtTime(vol, startTime+1);\n    oscillator.start(startTime);\n\n    setTimeout(function () {\n        let stopTime = context.currentTime + 1;\n        g.gain.setValueAtTime(vol, stopTime - 1);\n        g.gain.linearRampToValueAtTime(0, stopTime);\n        oscillator.stop(stopTime);\n        setTimeout(() => { \n            oscillator = undefined\n            node.send(msg)\n        }, 1300)\n\n    }, duration);\n}","format":"javascript","x":5776,"y":1211,"wires":[[]]},{"id":"50c3e3a81221e125","type":"join","z":"f93e13e54f881a08","name":"","mode":"custom","build":"array","property":"","propertyType":"full","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"4","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":6050,"y":1572,"wires":[["517c58a34de30e8f"]]},{"id":"236e5b6d2125ac1d","type":"change","z":"f93e13e54f881a08","name":"","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"delete","p":"frequency","pt":"msg"},{"t":"delete","p":"shape","pt":"msg"},{"t":"delete","p":"duration","pt":"msg"},{"t":"delete","p":"imagTable","pt":"msg"},{"t":"delete","p":"realTable","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":6107,"y":1661.60009765625,"wires":[["a8ac22dc2456e8f2"]]},{"id":"893024ec55b8a532","type":"inject","z":"f93e13e54f881a08","name":"play","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":6124,"y":1698,"wires":[["a8ac22dc2456e8f2"]]},{"id":"81479261585dbc09","type":"debug","z":"f93e13e54f881a08","name":"debug 97","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"","statusType":"counter","x":6128,"y":1732.4000000000005,"wires":[]},{"id":"e31609013ae8e1d7","type":"ClientCode","z":"f93e13e54f881a08","name":"Oscillator","clientcode":"var context = window.audiocontext || new AudioContext();\nwindow.audiocontext = context;\n\nvar frequency = parseInt(msg.frequency, 10) || node.frequency || 440;\nvar duration = parseInt(msg.duration, 10);\nif (duration != 0 && !duration) {\n    duration = node.duration || 500;\n}\n\nif (duration > 0) {\n    var oscillator = context.createOscillator();\n    oscillator.frequency.value = frequency;\n\n    if ( msg.shape == 'custom' ) {\n        var real = new Float32Array(msg.realTable);\n        var imag;\n        if (msg.imagTable && Array.isArray(msg.imagTable)) {\n            imag = new Float32Array(msg.imagTable);\n        } else {\n            imag = new Float32Array(real.length);\n        }\n        var pWave = context.createPeriodicWave(real, imag);\n        oscillator.setPeriodicWave(pWave);\n        //oscillator.type = 'custom'\n    } else {\n        oscillator.type = msg.shape || node.shape || 'sine';\n    }\n\n    let g = new GainNode(context);\n    let vol = msg.volume || 1\n\n    oscillator.connect(g).connect(context.destination);\n\n    let startTime = context.currentTime\n    g.gain.setValueAtTime(0, startTime);\n    g.gain.linearRampToValueAtTime(vol, startTime+1);\n    oscillator.start(startTime);\n\n    setTimeout(function () {\n        let stopTime = context.currentTime + 1;\n        g.gain.setValueAtTime(vol, stopTime - 1);\n        g.gain.linearRampToValueAtTime(0, stopTime);\n        oscillator.stop(stopTime);\n        setTimeout(() => { \n            oscillator = undefined\n            node.send(msg)\n        }, 1300)\n\n    }, duration);\n}","format":"javascript","x":6152,"y":1778.199951171875,"wires":[[]]},{"id":"517c58a34de30e8f","type":"delay","z":"f93e13e54f881a08","name":"","pauseType":"random","timeout":"1498","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"800","randomLast":"1500","randomUnits":"milliseconds","drop":false,"allowrate":false,"outputs":1,"x":6073,"y":1614.800048828125,"wires":[["236e5b6d2125ac1d"]]},{"id":"2aa31fe3a27b6c86","type":"inject","z":"f93e13e54f881a08","g":"64a59761edf72fb0","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":2559.112143380301,"y":128,"wires":[["9d66c4070035079a"]]},{"id":"9d66c4070035079a","type":"ClientCode","z":"f93e13e54f881a08","g":"64a59761edf72fb0","name":"clientcode status","clientcode":"node.status({\n    fill:\"blue\",\n    shape:\"ring\",\n    text:\"status triggered\"\n});","format":"javascript","x":2855.112143380301,"y":169,"wires":[[]]},{"id":"5d0d88b246666b10","type":"change","z":"f93e13e54f881a08","g":"b2d61dba1a202389","name":"frequency 450 - sine","rules":[{"t":"set","p":"shape","pt":"msg","to":"sine","tot":"str"},{"t":"set","p":"duration","pt":"msg","to":"1100","tot":"str"},{"t":"set","p":"frequency","pt":"msg","to":"450","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1245.7517111642019,"y":183,"wires":[["f30f16b50bec2c18"]]},{"id":"8335a448f0bccf83","type":"inject","z":"f93e13e54f881a08","g":"b2d61dba1a202389","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1064.7517111642019,"y":136,"wires":[["5d0d88b246666b10"]]},{"id":"019196a1d16336bf","type":"inject","z":"f93e13e54f881a08","g":"841fe27cada39ec3","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1800.4319272722516,"y":311,"wires":[["92ed666705dcc800"]]},{"id":"92ed666705dcc800","type":"delay","z":"f93e13e54f881a08","g":"841fe27cada39ec3","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"300","randomLast":"1000","randomUnits":"milliseconds","drop":false,"allowrate":false,"outputs":1,"x":1886.4319272722516,"y":405,"wires":[["72bc871354050c1a"]]},{"id":"72bc871354050c1a","type":"delay","z":"f93e13e54f881a08","g":"841fe27cada39ec3","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"300","randomLast":"1000","randomUnits":"milliseconds","drop":false,"allowrate":false,"outputs":1,"x":2001.4319272722516,"y":270,"wires":[["34e88a12bd169e7f"]]},{"id":"34e88a12bd169e7f","type":"delay","z":"f93e13e54f881a08","g":"841fe27cada39ec3","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"300","randomLast":"1000","randomUnits":"milliseconds","drop":false,"allowrate":false,"outputs":1,"x":2123.4319272722514,"y":128,"wires":[["bc563028d4f0b1c9"]]},{"id":"bc563028d4f0b1c9","type":"delay","z":"f93e13e54f881a08","g":"841fe27cada39ec3","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"300","randomLast":"1000","randomUnits":"milliseconds","drop":false,"allowrate":false,"outputs":1,"x":2246.4319272722514,"y":289,"wires":[["71750daec8e0a5d9"]]},{"id":"71750daec8e0a5d9","type":"delay","z":"f93e13e54f881a08","g":"841fe27cada39ec3","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"300","randomLast":"1000","randomUnits":"milliseconds","drop":false,"allowrate":false,"outputs":1,"x":2288.4319272722514,"y":407,"wires":[["92ed666705dcc800"]]},{"id":"9fe310a4c642cc89","type":"inject","z":"f93e13e54f881a08","g":"b2d61dba1a202389","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1126.7517111642019,"y":333,"wires":[["99c4167650adb3f0"]]},{"id":"99c4167650adb3f0","type":"debug","z":"f93e13e54f881a08","g":"b2d61dba1a202389","name":"log to sidebar","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1431.7517111642019,"y":333,"wires":[]},{"id":"f8aef2656e50613e","type":"inject","z":"f93e13e54f881a08","g":"b2d61dba1a202389","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1167.7517111642019,"y":410,"wires":[["a3d9958499efd2fb"]]},{"id":"d4381ed237f9fc84","type":"debug","z":"f93e13e54f881a08","g":"b2d61dba1a202389","name":"status","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"true","targetType":"full","statusVal":"payload","statusType":"auto","x":1420.7517111642019,"y":410,"wires":[]},{"id":"a3d9958499efd2fb","type":"link out","z":"f93e13e54f881a08","g":"b2d61dba1a202389","name":"link out 78","mode":"link","links":["41b221b8a96ad6c4"],"x":1262.7517111642019,"y":410,"wires":[]},{"id":"41b221b8a96ad6c4","type":"link in","z":"f93e13e54f881a08","g":"b2d61dba1a202389","name":"link in 1","links":["a3d9958499efd2fb"],"x":1335.7517111642019,"y":410,"wires":[["d4381ed237f9fc84"]]},{"id":"f30f16b50bec2c18","type":"debug","z":"f93e13e54f881a08","g":"b2d61dba1a202389","name":"log msg to console","active":true,"tosidebar":false,"console":true,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1469.7517111642019,"y":128,"wires":[]},{"id":"b6a1ae17cff902ee","type":"inject","z":"f93e13e54f881a08","g":"b2d61dba1a202389","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1096.7517111642019,"y":251,"wires":[["8b2cf13c17569815"]]},{"id":"8b2cf13c17569815","type":"debug","z":"f93e13e54f881a08","g":"b2d61dba1a202389","name":"message counter","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"true","targetType":"full","statusVal":"","statusType":"counter","x":1462.7517111642019,"y":251,"wires":[]},{"id":"46b6491b2a1f9c68","type":"ClientCode","z":"f93e13e54f881a08","g":"ee1e2aeebcb7904b","name":"Speaker","clientcode":"const synth = window.speechSynthesis;\n\nlet voices = synth.getVoices();\n\nconst utterThis = new SpeechSynthesisUtterance(msg.payload || \"hello world\");\n\nutterThis.voice = voices[0];\n\nsynth.speak(utterThis);\n\n","format":"javascript","x":4422.9725755964,"y":338,"wires":[[]]},{"id":"6dc01d6c700f1285","type":"inject","z":"f93e13e54f881a08","g":"f187dec0f45647a4","name":"Say Hi!","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Hi there, this is a tail less Node red installation. Only limited flow execution is supported. The intention is to give the viewer an impression of node red and how to use it.","payloadType":"str","x":4234.9725755964,"y":154,"wires":[["46b6491b2a1f9c68"]]},{"id":"d1f9a3010943f4ea","type":"change","z":"f93e13e54f881a08","g":"c61dafe4a5fc040b","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"link call out","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1279.7517111642019,"y":504.5,"wires":[["295a73591a8c1157"]]},{"id":"e616714745645493","type":"link in","z":"f93e13e54f881a08","g":"c61dafe4a5fc040b","name":"link in 2","links":[],"x":1152.7517111642019,"y":504.5,"wires":[["d1f9a3010943f4ea"]]},{"id":"295a73591a8c1157","type":"link out","z":"f93e13e54f881a08","g":"c61dafe4a5fc040b","name":"link out 79","mode":"return","links":[],"x":1414.7517111642019,"y":504.5,"wires":[]},{"id":"b05adaace4c48562","type":"link call","z":"f93e13e54f881a08","g":"c61dafe4a5fc040b","name":"","links":["e616714745645493"],"linkType":"static","timeout":"30","x":1304.7517111642019,"y":561,"wires":[["a0b2c3eb5239121a"]]},{"id":"a7590d18d192bad8","type":"inject","z":"f93e13e54f881a08","g":"c61dafe4a5fc040b","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1148.7517111642019,"y":561,"wires":[["b05adaace4c48562"]]},{"id":"a0b2c3eb5239121a","type":"debug","z":"f93e13e54f881a08","g":"c61dafe4a5fc040b","name":"debug 98","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"true","targetType":"full","statusVal":"","statusType":"counter","x":1442.7517111642019,"y":561,"wires":[]},{"id":"f9d333a24d60b67b","type":"change","z":"f93e13e54f881a08","g":"e7afbe4e0b609ed1","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"dynamic link call","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1294.7517111642019,"y":673,"wires":[["3f8ffcd24e4b2142"]]},{"id":"6efda8c7e58c804b","type":"link in","z":"f93e13e54f881a08","g":"e7afbe4e0b609ed1","name":"dynamic link in","links":[],"x":1102.7517111642019,"y":673,"wires":[["f9d333a24d60b67b"]]},{"id":"3f8ffcd24e4b2142","type":"link out","z":"f93e13e54f881a08","g":"e7afbe4e0b609ed1","name":"link out 80","mode":"return","links":[],"x":1461.7517111642019,"y":673,"wires":[]},{"id":"47fa65bf967c8a52","type":"link call","z":"f93e13e54f881a08","g":"e7afbe4e0b609ed1","name":"","links":["6efda8c7e58c804b"],"linkType":"dynamic","timeout":"30","x":1284.7517111642019,"y":729.5,"wires":[["b4c49180c30c4323"]]},{"id":"08868e7b18b9b106","type":"inject","z":"f93e13e54f881a08","g":"e7afbe4e0b609ed1","name":"","props":[{"p":"target","v":"dynamic link in","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":1133.7517111642019,"y":729.5,"wires":[["47fa65bf967c8a52"]]},{"id":"b4c49180c30c4323","type":"debug","z":"f93e13e54f881a08","g":"e7afbe4e0b609ed1","name":"debug 99","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"true","targetType":"full","statusVal":"","statusType":"counter","x":1437.7517111642019,"y":729.5,"wires":[]},{"id":"38c71f52bdc00f13","type":"inject","z":"f93e13e54f881a08","g":"fb3a960ef4b83c37","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":4719.65279170445,"y":176,"wires":[["02ebb5ec3da35c2a"]]},{"id":"02ebb5ec3da35c2a","type":"http request","z":"f93e13e54f881a08","g":"fb3a960ef4b83c37","name":"return text","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://catalogue.nodered.org/catalogue.json?_={{ payload }}","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":4921.65279170445,"y":154,"wires":[["4816bd4309bd26ad"]]},{"id":"4816bd4309bd26ad","type":"json","z":"f93e13e54f881a08","g":"fb3a960ef4b83c37","name":"","property":"payload","action":"obj","pretty":true,"x":5077.65279170445,"y":128,"wires":[["0cc6a4d664b18fa1"]]},{"id":"0cc6a4d664b18fa1","type":"debug","z":"f93e13e54f881a08","g":"fb3a960ef4b83c37","name":"debug 100","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":5232.65279170445,"y":259,"wires":[]},{"id":"f56a7bb4a28df50d","type":"inject","z":"f93e13e54f881a08","g":"fb3a960ef4b83c37","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":4721.65279170445,"y":246,"wires":[["e149f4c90e6365ac"]]},{"id":"e149f4c90e6365ac","type":"http request","z":"f93e13e54f881a08","g":"fb3a960ef4b83c37","name":"return parsed json object","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://catalogue.nodered.org/catalogue.json?_={{ payload }}","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":4964.65279170445,"y":246,"wires":[["364a30df2a1ebae7"]]},{"id":"364a30df2a1ebae7","type":"debug","z":"f93e13e54f881a08","g":"fb3a960ef4b83c37","name":"debug 101","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":5230.65279170445,"y":324,"wires":[]},{"id":"2cdb447f06c24e8b","type":"http request","z":"f93e13e54f881a08","g":"fb3a960ef4b83c37","name":"return binary buffer","method":"GET","ret":"bin","paytoqs":"ignore","url":"https://raw.githubusercontent.com/gorenje/flows.flowhub.org/main/fafd7c807c192d4a/preview.png","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":4936.65279170445,"y":340,"wires":[["9a3b44c38f2f93d1"]]},{"id":"9a3b44c38f2f93d1","type":"debug","z":"f93e13e54f881a08","g":"fb3a960ef4b83c37","name":"debug 102","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":5198.65279170445,"y":368,"wires":[]},{"id":"3975a24254584425","type":"inject","z":"f93e13e54f881a08","g":"fb3a960ef4b83c37","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":4724.65279170445,"y":341,"wires":[["2cdb447f06c24e8b"]]},{"id":"01a912f03e76523d","type":"inject","z":"f93e13e54f881a08","g":"4f23a38c39affa05","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":3155.7923594883505,"y":128,"wires":[["1a40a420613283fd"]]},{"id":"1a40a420613283fd","type":"http request","z":"f93e13e54f881a08","g":"4f23a38c39affa05","name":"return xml text","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://flows.flowhub.org/feed.xml","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":3332.7923594883505,"y":219.49996948242188,"wires":[["0b378076a0c62f57"]]},{"id":"0b378076a0c62f57","type":"xml","z":"f93e13e54f881a08","g":"4f23a38c39affa05","name":"","property":"payload","attr":"","chr":"","x":3493.7923594883505,"y":299.9999694824219,"wires":[["a8c355e5b89cbe85","72f6bf4a47552c4f"]]},{"id":"a8c355e5b89cbe85","type":"debug","z":"f93e13e54f881a08","g":"4f23a38c39affa05","name":"object","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":3675.7923594883505,"y":431.4999694824219,"wires":[]},{"id":"72f6bf4a47552c4f","type":"xml","z":"f93e13e54f881a08","g":"4f23a38c39affa05","name":"","property":"payload","attr":"","chr":"","x":3712.2923594883505,"y":299.9999694824219,"wires":[["888a803964fa8230"]]},{"id":"888a803964fa8230","type":"debug","z":"f93e13e54f881a08","g":"4f23a38c39affa05","name":"original xml","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":3918.2923594883505,"y":299.9999694824219,"wires":[]},{"id":"78e889964d2dae48","type":"switch","z":"f93e13e54f881a08","g":"4b270f679ad7889d","name":"","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"11","vt":"str"},{"t":"lt","v":"22","vt":"str"},{"t":"lte","v":"33","vt":"str"},{"t":"gte","v":"333","vt":"str"},{"t":"hask","v":"11","vt":"str"},{"t":"false"},{"t":"cont","v":"22","vt":"str"},{"t":"nempty"},{"t":"btwn","v":"222","vt":"num","v2":"1111","v2t":"num"},{"t":"true"}],"checkall":"false","repair":false,"outputs":10,"x":5752.3330078125,"y":330,"wires":[["1985ecb3a12f6568"],["e0275a4e3e7872bc"],["7710f231b251a7aa"],["282ef152d080753a"],["0e3b4d369df19ba0"],["6255444af0ab102d"],["f48f7b9cf97d4361"],["d2b862833bd87683"],["48edd234ab3e8cbf"],["648fb70f367a8eca"]]},{"id":"8daea8f92fbf475c","type":"inject","z":"f93e13e54f881a08","g":"4b270f679ad7889d","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":5533.3330078125,"y":238,"wires":[["78e889964d2dae48"]]},{"id":"1985ecb3a12f6568","type":"debug","z":"f93e13e54f881a08","g":"4b270f679ad7889d","name":"debug 103","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":6082,"y":128,"wires":[]},{"id":"e0275a4e3e7872bc","type":"debug","z":"f93e13e54f881a08","g":"4b270f679ad7889d","name":"debug 104","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":6082,"y":175.44444444444446,"wires":[]},{"id":"7710f231b251a7aa","type":"debug","z":"f93e13e54f881a08","g":"4b270f679ad7889d","name":"debug 105","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":6082,"y":222.8888888888889,"wires":[]},{"id":"282ef152d080753a","type":"debug","z":"f93e13e54f881a08","g":"4b270f679ad7889d","name":"debug 106","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":6082,"y":270.33333333333337,"wires":[]},{"id":"0e3b4d369df19ba0","type":"debug","z":"f93e13e54f881a08","g":"4b270f679ad7889d","name":"debug 107","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":6082,"y":317.7777777777778,"wires":[]},{"id":"6255444af0ab102d","type":"debug","z":"f93e13e54f881a08","g":"4b270f679ad7889d","name":"debug 108","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":6082,"y":365.2222222222223,"wires":[]},{"id":"f48f7b9cf97d4361","type":"debug","z":"f93e13e54f881a08","g":"4b270f679ad7889d","name":"debug 109","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":6082,"y":412.66666666666674,"wires":[]},{"id":"d2b862833bd87683","type":"debug","z":"f93e13e54f881a08","g":"4b270f679ad7889d","name":"debug 110","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":6082,"y":460.1111111111111,"wires":[]},{"id":"48edd234ab3e8cbf","type":"debug","z":"f93e13e54f881a08","g":"4b270f679ad7889d","name":"debug 111","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":6082,"y":507.55555555555543,"wires":[]},{"id":"648fb70f367a8eca","type":"debug","z":"f93e13e54f881a08","g":"4b270f679ad7889d","name":"debug 112","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":6082,"y":555,"wires":[]},{"id":"12e5554034694c9e","type":"link in","z":"f93e13e54f881a08","g":"bc5f4ca03544bb30","name":"[lnktst] level 1","links":[],"x":6529,"y":386.5,"wires":[["bdc71e9643149e1e"]]},{"id":"0e3c9c043a3530ee","type":"link call","z":"f93e13e54f881a08","g":"bc5f4ca03544bb30","name":"","links":["12e5554034694c9e"],"linkType":"static","timeout":"30","x":6776,"y":136,"wires":[["6b1a63e2a9d1a5f4"]]},{"id":"7cf77eae8690dd16","type":"link in","z":"f93e13e54f881a08","g":"bc5f4ca03544bb30","name":"[lnktst] level 2","links":[],"x":6624,"y":498,"wires":[["da1bb88a5c1b5451"]]},{"id":"226d6155f4df392f","type":"link in","z":"f93e13e54f881a08","g":"bc5f4ca03544bb30","name":"[lnktst] level 3","links":[],"x":6713,"y":611.5,"wires":[["2785119d921f58b5"]]},{"id":"deda8913b261a5c9","type":"link in","z":"f93e13e54f881a08","g":"bc5f4ca03544bb30","name":"[lnktst] level 4","links":[],"x":6777,"y":726,"wires":[["4c3aa4731faab410"]]},{"id":"bdc71e9643149e1e","type":"delay","z":"f93e13e54f881a08","g":"bc5f4ca03544bb30","name":"","pauseType":"delay","timeout":"750","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":6716,"y":386.5,"wires":[["e23b4bcc89e27f3b"]]},{"id":"da1bb88a5c1b5451","type":"delay","z":"f93e13e54f881a08","g":"bc5f4ca03544bb30","name":"","pauseType":"delay","timeout":"750","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":6815,"y":498,"wires":[["95624d18b8bf77f0"]]},{"id":"2785119d921f58b5","type":"delay","z":"f93e13e54f881a08","g":"bc5f4ca03544bb30","name":"","pauseType":"delay","timeout":"750","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":6902,"y":611.5,"wires":[["2d9a0b38531af9ed"]]},{"id":"4c3aa4731faab410","type":"delay","z":"f93e13e54f881a08","g":"bc5f4ca03544bb30","name":"","pauseType":"delay","timeout":"750","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":6950,"y":726,"wires":[["bf57f1a98259763d"]]},{"id":"9f6cd98d4cb02f84","type":"inject","z":"f93e13e54f881a08","g":"bc5f4ca03544bb30","name":"trigger","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":6427,"y":136,"wires":[["0e3c9c043a3530ee"]]},{"id":"19a53adab822ce1c","type":"debug","z":"f93e13e54f881a08","g":"bc5f4ca03544bb30","name":"debug 113","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"true","targetType":"full","statusVal":"","statusType":"counter","x":7747,"y":136,"wires":[]},{"id":"e23b4bcc89e27f3b","type":"link call","z":"f93e13e54f881a08","g":"bc5f4ca03544bb30","name":"","links":["7cf77eae8690dd16"],"linkType":"static","timeout":"30","x":6961,"y":386.5,"wires":[["2946f343eaa66e2e"]]},{"id":"95624d18b8bf77f0","type":"link call","z":"f93e13e54f881a08","g":"bc5f4ca03544bb30","name":"","links":["226d6155f4df392f"],"linkType":"static","timeout":"30","x":7034,"y":498,"wires":[["bc6ee78e0b8dccd8"]]},{"id":"2d9a0b38531af9ed","type":"link call","z":"f93e13e54f881a08","g":"bc5f4ca03544bb30","name":"","links":["deda8913b261a5c9"],"linkType":"static","timeout":"30","x":7123,"y":611.5,"wires":[["a0acbb6f0d0c74bc"]]},{"id":"bf57f1a98259763d","type":"change","z":"f93e13e54f881a08","g":"bc5f4ca03544bb30","name":"","rules":[{"t":"set","p":"level4","pt":"msg","to":"reached","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":7299,"y":726,"wires":[["649cce38e99cdc2a"]]},{"id":"649cce38e99cdc2a","type":"link out","z":"f93e13e54f881a08","g":"bc5f4ca03544bb30","name":"link out 133","mode":"return","links":[],"x":7752,"y":725,"wires":[]},{"id":"a15c6a6dabfcb5b7","type":"change","z":"f93e13e54f881a08","g":"bc5f4ca03544bb30","name":"","rules":[{"t":"set","p":"level3","pt":"msg","to":"reached","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":7561,"y":611.5,"wires":[["649cce38e99cdc2a"]]},{"id":"e184285eef7ac147","type":"change","z":"f93e13e54f881a08","g":"bc5f4ca03544bb30","name":"","rules":[{"t":"set","p":"level2","pt":"msg","to":"reached","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":7594,"y":498,"wires":[["649cce38e99cdc2a"]]},{"id":"a7c702f1574dfeba","type":"change","z":"f93e13e54f881a08","g":"bc5f4ca03544bb30","name":"","rules":[{"t":"set","p":"level1","pt":"msg","to":"reached","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":7683,"y":386.5,"wires":[["649cce38e99cdc2a"]]},{"id":"a0acbb6f0d0c74bc","type":"delay","z":"f93e13e54f881a08","g":"bc5f4ca03544bb30","name":"","pauseType":"delay","timeout":"750","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":7348,"y":611.5,"wires":[["a15c6a6dabfcb5b7"]]},{"id":"bc6ee78e0b8dccd8","type":"delay","z":"f93e13e54f881a08","g":"bc5f4ca03544bb30","name":"","pauseType":"delay","timeout":"750","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":7397,"y":498,"wires":[["e184285eef7ac147"]]},{"id":"2946f343eaa66e2e","type":"delay","z":"f93e13e54f881a08","g":"bc5f4ca03544bb30","name":"","pauseType":"delay","timeout":"750","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":7448,"y":386.5,"wires":[["a7c702f1574dfeba"]]},{"id":"6b1a63e2a9d1a5f4","type":"delay","z":"f93e13e54f881a08","g":"bc5f4ca03544bb30","name":"","pauseType":"delay","timeout":"750","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":7552,"y":136,"wires":[["19a53adab822ce1c"]]}]