67a6db53dc49ae4c/flows.json
[{"id":"67a6db53dc49ae4c","type":"tab","label":"Hello World - part 4: Function Reuse","disabled":false,"info":"### Aim\n\nTo demonstrate how functionality can be reused in Node-RED.\n\n### Explanation\n\nHere the [previous flow](https://flowhub.org/f/722b6181086e9abe) is taken and one debug node is removed, being replaced by the original <a class=\"ahl-node-only\" data-ids=\"c051a871d4c6c720\">debug node</a>.\n\nWhen the flow is triggered, the same debug output is produced:\n\n![img](https://cdn.openmindmap.org/content/1693043013104_Screen_Shot_2023-08-26_at_11.43.09.png)\n\nAlthough the name of the output node has changed from \"output 2\" to \"output\". \n\nAlternative forms of function reuse are discussed in the [Node-RED Introduction](https://flowhub.org/f/7f8714fa6e835a2a). There are many ways of reusing functionality, from copy & paste to creating own nodes to be used within Node-RED. What is best for which situation is a matter of learning and experience.\n\n### Related Flows\n\n- [Hello World, part 3](https://flowhub.org/f/722b6181086e9abe)\n- [Node-RED Introduction](https://flowhub.org/f/7f8714fa6e835a2a) which is a step-by-step guide for creating flows.","env":[]},{"id":"aa005610d8847d80","type":"group","z":"67a6db53dc49ae4c","name":"hello world - function reuse","style":{"label":true},"nodes":["04047ff6cf435a37","c051a871d4c6c720","ea44ba368c929675","e612f75d38e88f8c"],"x":310,"y":240.5,"w":730,"h":180.5},{"id":"04047ff6cf435a37","type":"inject","z":"67a6db53dc49ae4c","g":"aa005610d8847d80","name":"inject","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"hello world","payloadType":"str","x":406,"y":380,"wires":[["ea44ba368c929675","e612f75d38e88f8c"]]},{"id":"c051a871d4c6c720","type":"debug","z":"67a6db53dc49ae4c","g":"aa005610d8847d80","name":"output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":944,"y":380,"wires":[]},{"id":"ea44ba368c929675","type":"function","z":"67a6db53dc49ae4c","g":"aa005610d8847d80","name":"functionality","func":"msg.payload = msg.payload + \", hello Node-RED\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":677,"y":380,"wires":[["c051a871d4c6c720"]]},{"id":"e612f75d38e88f8c","type":"function","z":"67a6db53dc49ae4c","g":"aa005610d8847d80","name":"functionality 2","func":"msg.payload = \"New Payload\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":687,"y":281.5,"wires":[["c051a871d4c6c720"]]}]