b67f596b8d985624/flows.json
[{"id":"b67f596b8d985624","type":"tab","label":"[OSC->3D] Open Sound Control to 3D","disabled":false,"info":"### Description \n\nA 3D graphic representation of OSC (Open Source Control) generated by third party application.\n\n### Requirements\n\nThis requirements the following Node-RED nodes:\n\n- [node-red-contrib-web-babylonjs](https://flows.nodered.org/node/node-red-contrib-web-babylonjs)\n- [Open Sound Control (OSC)](https://flows.nodered.org/node/node-red-contrib-osc)\n- [introspection](https://flows.nodered.org/node/@gregoriusrippenstein/node-red-contrib-introspection) (optional)\n\n### Related flows\n\n- [Status Ticker](https://flowhub.org/f/18a539afac758c61) (i.e. using the node status colours as ticker)\n- [Scroll pHAT ticker](https://flowhub.org/f/81d46dabe68094e4)\n- [controlling a Scroll pHAT](https://flowhub.org/f/be2109bba90b6c5a)\n- [OSC to I2C](https://flowhub.org/f/38021e5e2266e7e5)"},{"id":"1239c5fabca83ea5","type":"group","z":"b67f596b8d985624","name":"genereate 3d ticker wall nodes","style":{"label":true},"nodes":["42c5db1567db89d8","4075b0363e642aea","fc17ad38c6b4e63d","a5d31f8c25fdbd88","eab19e7608e756e3"],"x":122.999755859375,"y":22.856958389282227,"w":810.1429138183594,"h":200.5715160369873},{"id":"85b29cfb57863bca","type":"group","z":"b67f596b8d985624","name":"purple/green frame","style":{"label":true},"nodes":["684e219da1e5de24","d689d6a805a14b0e","b20c21472edc40f7","b31868f54392028b","d97281bdc37dada1","fabb38f488ecc910","b2bf9925c45af73f","68daac9d0535c8ef","98a71e42e0178160","56ce3dad0e296448","1afe5414e0d70370","4f84809018e98e60","9febc0048fcaf217","c3f2041d12938457","f68a7c170e94d8e4","5b21ba3e8930a247","fd6701022f1a6cef","8cce5ddb9366a0da","d6c536e356d6fdc6","72a61751c36f9bc0","a040bf7b0aeb07ca","1457d6095e15260f"],"x":1827.4999074935913,"y":469.1190845966339,"w":500.57141876220703,"h":523.1666610240936},{"id":"e1b2a20a4b463253","type":"group","z":"b67f596b8d985624","name":"golden sphere","style":{"label":true},"nodes":["dbfbbeb725c6e1bc"],"x":741.2380981445312,"y":699.3334350585938,"w":152,"h":82},{"id":"2e0e470604f12fba","type":"group","z":"b67f596b8d985624","name":"Kickstarter","style":{"label":true},"nodes":["3782474f34c7d49a","be1852dd60f1a191"],"x":119,"y":259,"w":443,"h":197.5},{"id":"b97c872c3cc6fa3c","type":"group","z":"b67f596b8d985624","name":"network receiver","style":{"label":true},"nodes":["38a22678.b804ca"],"x":572.4998779296875,"y":1866.16650390625,"w":172,"h":82},{"id":"50c241bc1b1ef05a","type":"junction","z":"b67f596b8d985624","x":2005.759033203125,"y":38.1949462890625,"wires":[["72a61751c36f9bc0","d6c536e356d6fdc6","8cce5ddb9366a0da","fd6701022f1a6cef","5b21ba3e8930a247","f68a7c170e94d8e4","c3f2041d12938457","9febc0048fcaf217","4f84809018e98e60","a040bf7b0aeb07ca","1457d6095e15260f"]]},{"id":"2225b6971879f1e3","type":"junction","z":"b67f596b8d985624","x":911.7346320152283,"y":956.8708591461182,"wires":[["684e219da1e5de24","d689d6a805a14b0e","b20c21472edc40f7","b31868f54392028b","d97281bdc37dada1","fabb38f488ecc910","b2bf9925c45af73f","68daac9d0535c8ef","98a71e42e0178160","56ce3dad0e296448","1afe5414e0d70370"]]},{"id":"8fe3da9d147b55dc","type":"junction","z":"b67f596b8d985624","x":2830.643861055374,"y":3855.8748240470886,"wires":[["dfd41ca58072f6de","0b61331a02e578a5","c8fc55dcefe16fd4","1a31155a0a389e2e","c4b212694c3ed236","830b928f8b1cc49a","c14f6c38338eb32c","6b35dfdfae6b858f","d17f5c91c6840140","0301fecfb19c9dcd","5bbdead8464ee1df","347a1ce3ab3ffed4","504473e1ad48693e","81fcb116d581038b","281eb25e11f51ba6","05b382cc1ca42eda","653e65f1a6c8e478","d9c6323cf618feb2","0574de039ce9a86a","86ad017ad879b0ea","ef1a1389bdac49a4","177395bb52f372e8","1c64446be2bbb8a2","bd3596d320bfc8f2","c94bb02fa004751b","de38e6a386e3f4ab","0674a34a5611534e","d996206c10164b35","f5a265475cd6b940","b034746f0812ddf2","6a239f95136c2e3e","cecf80597f3b48a8","23b35b053d578a32","f576bfb1da0a529d","be134cf1dea8035d","643ae4379864e519","aa796b2adb2b5f98","88c9ab59d838f4c5","c7428cd43c402d5d","9ecd264918a7a7a6","03949758ffa9db6c","a0f2a6df6962824b","357c253cde6e2e51","d96295c66e11cb81","abbefdad60ddb9ab","6af11c91b07e1f82","0dc54aaa32fa8078","0fed01e6f8139050","01ca4c29e9dcda42","445b42a385ce5f3c","ea006014f86b86b9","e435a6904d3b5442","f9557d4c957103bb","3988df22ab40d300","241256c2cb301d68","5d9388f087ab2d48","b440faa93fe1b4fc","1e3d2342b6e4faf3","2cda002674a8904a","e4bb90715be28044","7a5441623c809b8f","7143d6c4d5ab889b","d966863cc7d9e136","796599d5f652fd32","111aae54dbf8c6a9","21d91d6f2e9701f9","17177a158b129a3d","2491c946d4dc0b5a","a45936b456d3bca3","1105f42ec9088298","fdaa6e0288ad9aaf","6362e2a60bc315ae","fe524db36e5acc7e","070b76926c8031c0","b92c01f938b0f91e","ec30b47a3f081cdf","06f170ef401f3813","f004b4e7143ee8a5","8ad4c5f5f2b8f85f","3925c11a670d3a3b","7bde58600e367580","c236d96207ffa0f1","d3e94447e1f2a829","e151dcc07375edc7","ba200a444ca0bdf8","7dd476e4a61716b9","870a2b1d475ebdd7","2dd8575d68643c3f","006944f04f139b87","351c28fd2248b17d","795c7e4c9b5d0dd0","db797bef0be5b2d1","a24676b7d52fceb3","29221d3158f6659d","4e317ecf62b215b4","5c39724b9e8e1684","ced02f2b9f7ff21c","1d84685dce7e189b","562c0ff4cd71dc0e","3b50c5cd05b23127","2b5da2dc043575dc","89ab7e051e257352","0fa9178bd0449ee8","37fc66e31e71066f","bfa73298802b89aa","a721153d80c949e1","1d0b1ea753f9bb9b","9137cbf8194d3520","c269282edb03a56f","d313b41d7f7d3075","a9ae587b0a8df394","18f474bb8df02621","51610decb3acef02","17c67abd34776245","a9a13adc2185018a","dd0137499ed7a760","d53f11ff922a16c3","3e596a5e7a856fcf","470b4ffa131e152e","ba0b9125c6011067","cd3a41ac1796729b","605eaaa3db96bba0","a59327ddc641b12c","aca9288fb7194427","387bf5574a47f5df","db4bf066c01fbf60","0ec17f6b856ce4d9","0eab80161e6354b7"]]},{"id":"080fe9d9adb8d260","type":"switch","z":"b67f596b8d985624","name":"keydown event","property":"type","propertyType":"msg","rules":[{"t":"eq","v":"keydown","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":270.5001220703125,"y":961.5476016998291,"wires":[["7261c55160fa791a","68516a823d201304","3333787cfdd3c8c9"]]},{"id":"7261c55160fa791a","type":"switch","z":"b67f596b8d985624","name":"key: t","property":"key","propertyType":"msg","rules":[{"t":"eq","v":"t","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":592.7143135070801,"y":959.0000858306885,"wires":[["2225b6971879f1e3","a31e20cb895c56cf"]]},{"id":"68516a823d201304","type":"switch","z":"b67f596b8d985624","name":"key: y","property":"key","propertyType":"msg","rules":[{"t":"eq","v":"y","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":494.07135009765625,"y":591.1192016601562,"wires":[["749babcf5d9d5ab2"]]},{"id":"12accd16f35b54fd","type":"change","z":"b67f596b8d985624","name":"reset","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"type\":\"scale\",\"relative\":false,\"values\":{\"x\":1,\"y\":1,\"z\":0.25},\"pivot\":{\"x\":null,\"y\":null,\"z\":null}}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":2715.4049682617188,"y":3937.785888671875,"wires":[["f98d5126224bf53f","8fe3da9d147b55dc"]]},{"id":"684e219da1e5de24","type":"change","z":"b67f596b8d985624","g":"85b29cfb57863bca","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"type\": \"scale\",\t    \"relative\": false,\t    \"values\": {\t      \"x\":1,\t      \"y\":1,\t      \"z\":$random() * 4\t    },\t    \"pivot\": {\t        \"x\": null,\t        \"y\": null,\t        \"z\": null\t    }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1933.4999074935913,"y":951.2857456207275,"wires":[["9febc0048fcaf217"]]},{"id":"42c5db1567db89d8","type":"function","z":"b67f596b8d985624","g":"1239c5fabca83ea5","name":"generate nodes for 3d ticker wall","func":"/* How big should the display be? */\nconst nrCols = msg.nrCols;\nconst nrRows = msg.nrRows;\n\n/*\n  Matrial ids: these are taken from using \"Export Nodes\" and reading the json generated.\n*/\nvar materials = [\n    [\n        \"17350478e877bc09\", // red\n        \"e7298bcff0d93b16\", // white\n    ],\n    [\n        \"e7298bcff0d93b16\", // white\n        \"17350478e877bc09\", // red\n    ],\n]\n\nvar junctionToAll = {\n    \"id\": RED.util.generateId(),\n    \"type\": \"junction\",\n    \"x\": 0,\n    \"y\": 0,\n    \"wires\": [\n        [\n        ]\n    ]\n}\n\nvar colRouter = {\n    \"id\": RED.util.generateId(),\n    \"type\": \"switch\",\n    \"name\": \"col switch\",\n    \"property\": \"col\",\n    \"propertyType\": \"msg\",\n    \"rules\": Array.from({ length: nrCols }, () => { return { \"t\": \"eq\", \"v\": \"1\", \"vt\": \"num\" }}),\n    \"checkall\": \"false\",\n    \"repair\": false,\n    \"outputs\": nrCols,\n    \"x\": 0,\n    \"y\": -600,\n    \"wires\": Array.from({ length: nrCols }, () => { return []}),\n}\n\n// set correct values\ncolRouter.rules.forEach((i, d) => i.v = (d + 1).toString())\n\nvar rowRouters = [];\nfor ( var y = 0; y < nrCols; y++) {\n    var rowRouter = {\n        \"id\": RED.util.generateId(),\n        \"type\": \"switch\",\n        \"name\": \"row switch for col \" + (y+1),\n        \"property\": \"row\",\n        \"propertyType\": \"msg\",\n        \"rules\": Array.from({ length: nrRows }, () => { return { \"t\": \"eq\", \"v\": \"1\", \"vt\": \"num\" }}),\n        \"checkall\": \"false\",\n        \"repair\": false,\n        \"outputs\": nrRows,\n        \"x\": 200*y,\n        \"y\": -500,  \n        \"wires\": Array.from({ length: nrRows }, () => { return []})\n    }\n\n    colRouter.wires[y].push(rowRouter.id)\n    rowRouter.rules.forEach((i, d) => i.v = (d + 1).toString())\n    rowRouters.push(rowRouter)\n}\n\nvar valueScaler = {\n    \"id\": \"WILLBEPREPLACDE\",\n    \"type\": \"change\",\n    \"name\": \"Set Z scale\",\n    \"rules\": [\n        {\n            \"t\": \"set\",\n            \"p\": \"payload\",\n            \"pt\": \"msg\",\n            \"to\": \"{\\t    \\\"type\\\": \\\"scale\\\",\\t    \\\"relative\\\": false,\\t    \\\"values\\\": {\\t      \\\"x\\\":1,\\t      \\\"y\\\":1,\\t      \\\"z\\\":$$.payload\\t    },\\t    \\\"pivot\\\": {\\t        \\\"x\\\": null,\\t        \\\"y\\\": null,\\t        \\\"z\\\": null\\t    }\\t}\",\n            \"tot\": \"jsonata\"\n        }\n    ],\n    \"action\": \"\",\n    \"property\": \"\",\n    \"from\": \"\",\n    \"to\": \"\",\n    \"reg\": false,\n    \"x\": 0,\n    \"y\": 0,\n    \"wires\": [\n        [\n\n        ]\n    ]\n}\n\nvar baseNode = {\n    \"id\": \"WILLBEREPLACED\",\n    \"type\": \"box\",\n    \"scene\": \"c0d1433da002f3c6\",\n    \"material\": \"WILLBEREPLACED\",\n    \"name_conf_a\": \"WILLBEREPLACED\",\n    \"size_conf_n\": 1,\n    \"height_conf_n\": \"\",\n    \"width_conf_n\": \"\",\n    \"depth_conf_n\": \"\",\n    \"updatable_conf_b\": false,\n    \"sideOrientation_conf_a\": \"1\",\n    \"pos_x\": \"WILLBEREPLACED\",\n    \"pos_y\": \"WILLBEREPLACD\",\n    \"pos_z\": 0,\n    \"scale_x\": \"1\",\n    \"scale_y\": \"1\",\n    \"scale_z\": \"0.25\",\n    \"rot_x\": 0,\n    \"rot_y\": 0,\n    \"rot_z\": 0,\n    \"x\": 0,\n    \"y\": 0,\n    \"wires\": [\n        []\n    ]\n}\nvar nodes = []\n\nfor (var x = 1; x < (nrCols + 1); x++) {\n    for (var y = 1; y < (nrRows + 1); y++) {\n        var nde = { ...baseNode };\n        nde.x = 180 * x;\n        nde.y = (60 * nrRows) + (50 * y);\n        nde[\"name_conf_a\"] = \"pixel_\" + x + \"_x_\" + y\n        nde.pos_x = x;\n        nde.pos_y = (nrRows - y) + 1;\n        nde.material = materials[x % 2][y % 2]\n        nde.id = RED.util.generateId()\n\n        var scaler = { ...valueScaler }\n        scaler.id = RED.util.generateId()\n        scaler.x = 180 * x;\n        scaler.y = 50 * y;\n        scaler.wires = [[nde.id]]\n\n        rowRouters[x-1].wires[y-1].push(scaler.id)\n        junctionToAll.wires[0].push(nde.id)\n\n        nodes.push(scaler)\n        nodes.push(nde)\n    }\n}\n\nvar ary = [\n    junctionToAll,\n    colRouter\n];\n\n// @ts-ignore\nmsg.payload = nodes.concat(ary).concat(rowRouters);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":394.1426544189453,"y":141.4284543991089,"wires":[["fc17ad38c6b4e63d","eab19e7608e756e3"]]},{"id":"4075b0363e642aea","type":"inject","z":"b67f596b8d985624","g":"1239c5fabca83ea5","name":"number of: columns and rows","props":[{"p":"nrCols","v":"16","vt":"num"},{"p":"nrRows","v":"8","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":288.999755859375,"y":63.85695838928223,"wires":[["42c5db1567db89d8"]]},{"id":"fc17ad38c6b4e63d","type":"debug","z":"b67f596b8d985624","g":"1239c5fabca83ea5","name":"debug 6","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":710.5711097717285,"y":77.99979782104492,"wires":[]},{"id":"a5d31f8c25fdbd88","type":"ClientCode","z":"b67f596b8d985624","g":"1239c5fabca83ea5","name":"pop up import dialog","clientcode":"setTimeout(() => {\n            RED.clipboard.import();\n        \n            setTimeout(() => {\n                $('#red-ui-clipboard-dialog-import-text').val(\n                   data.payload\n                ).trigger(\"paste\");\n            }, 300);\n        },400)","format":"javascript","x":807.1426696777344,"y":129.57124376296997,"wires":[[]]},{"id":"eab19e7608e756e3","type":"json","z":"b67f596b8d985624","g":"1239c5fabca83ea5","name":"","property":"payload","action":"str","pretty":false,"x":634.4281692504883,"y":182.42847442626953,"wires":[["a5d31f8c25fdbd88"]]},{"id":"3333787cfdd3c8c9","type":"switch","z":"b67f596b8d985624","name":"key: n","property":"key","propertyType":"msg","rules":[{"t":"eq","v":"n","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":493.1428451538086,"y":690.8571729660034,"wires":[["438468d2d0c1be92"]]},{"id":"438468d2d0c1be92","type":"change","z":"b67f596b8d985624","name":"reload scene","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"type\":\"reload\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":563.2857093811035,"y":741.142936706543,"wires":[["dbfbbeb725c6e1bc"]]},{"id":"d689d6a805a14b0e","type":"change","z":"b67f596b8d985624","g":"85b29cfb57863bca","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"type\": \"scale\",\t    \"relative\": false,\t    \"values\": {\t      \"x\":1,\t      \"y\":1,\t      \"z\":$random() * 4\t    },\t    \"pivot\": {\t        \"x\": null,\t        \"y\": null,\t        \"z\": null\t    }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1933.4999074935913,"y":863.0524134159086,"wires":[["f68a7c170e94d8e4"]]},{"id":"b20c21472edc40f7","type":"change","z":"b67f596b8d985624","g":"85b29cfb57863bca","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"type\": \"scale\",\t    \"relative\": false,\t    \"values\": {\t      \"x\":1,\t      \"y\":1,\t      \"z\":$random() * 4\t    },\t    \"pivot\": {\t        \"x\": null,\t        \"y\": null,\t        \"z\": null\t    }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1933.4999074935913,"y":907.169079518318,"wires":[["c3f2041d12938457"]]},{"id":"b31868f54392028b","type":"change","z":"b67f596b8d985624","g":"85b29cfb57863bca","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"type\": \"scale\",\t    \"relative\": false,\t    \"values\": {\t      \"x\":1,\t      \"y\":1,\t      \"z\":$random() * 4\t    },\t    \"pivot\": {\t        \"x\": null,\t        \"y\": null,\t        \"z\": null\t    }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1933.4999074935913,"y":818.9357473134993,"wires":[["5b21ba3e8930a247"]]},{"id":"d97281bdc37dada1","type":"change","z":"b67f596b8d985624","g":"85b29cfb57863bca","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"type\": \"scale\",\t    \"relative\": false,\t    \"values\": {\t      \"x\":1,\t      \"y\":1,\t      \"z\":$random() * 4\t    },\t    \"pivot\": {\t        \"x\": null,\t        \"y\": null,\t        \"z\": null\t    }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1933.4999074935913,"y":774.81908121109,"wires":[["fd6701022f1a6cef"]]},{"id":"fabb38f488ecc910","type":"change","z":"b67f596b8d985624","g":"85b29cfb57863bca","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"type\": \"scale\",\t    \"relative\": false,\t    \"values\": {\t      \"x\":1,\t      \"y\":1,\t      \"z\":$random() * 4\t    },\t    \"pivot\": {\t        \"x\": null,\t        \"y\": null,\t        \"z\": null\t    }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1933.4999074935913,"y":730.7024151086806,"wires":[["8cce5ddb9366a0da"]]},{"id":"b2bf9925c45af73f","type":"change","z":"b67f596b8d985624","g":"85b29cfb57863bca","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"type\": \"scale\",\t    \"relative\": false,\t    \"values\": {\t      \"x\":1,\t      \"y\":1,\t      \"z\":$random() * 4\t    },\t    \"pivot\": {\t        \"x\": null,\t        \"y\": null,\t        \"z\": null\t    }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1933.4999074935913,"y":686.5857490062713,"wires":[["d6c536e356d6fdc6"]]},{"id":"68daac9d0535c8ef","type":"change","z":"b67f596b8d985624","g":"85b29cfb57863bca","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"type\": \"scale\",\t    \"relative\": false,\t    \"values\": {\t      \"x\":1,\t      \"y\":1,\t      \"z\":$random() * 4\t    },\t    \"pivot\": {\t        \"x\": null,\t        \"y\": null,\t        \"z\": null\t    }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1933.4999074935913,"y":642.4690829038619,"wires":[["72a61751c36f9bc0"]]},{"id":"98a71e42e0178160","type":"change","z":"b67f596b8d985624","g":"85b29cfb57863bca","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"type\": \"scale\",\t    \"relative\": false,\t    \"values\": {\t      \"x\":1,\t      \"y\":1,\t      \"z\":$random() * 4\t    },\t    \"pivot\": {\t        \"x\": null,\t        \"y\": null,\t        \"z\": null\t    }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1933.4999074935913,"y":598.3524168014526,"wires":[["4f84809018e98e60"]]},{"id":"56ce3dad0e296448","type":"change","z":"b67f596b8d985624","g":"85b29cfb57863bca","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"type\": \"scale\",\t    \"relative\": false,\t    \"values\": {\t      \"x\":1,\t      \"y\":1,\t      \"z\":$random() * 4\t    },\t    \"pivot\": {\t        \"x\": null,\t        \"y\": null,\t        \"z\": null\t    }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1933.4999074935913,"y":554.2357506990433,"wires":[["a040bf7b0aeb07ca"]]},{"id":"a31e20cb895c56cf","type":"function","z":"b67f596b8d985624","name":"send random values","func":"for ( var x = 1 ; x < 20 ; x++ ){\n    for ( var y = 1; y < 20 ; y++ ) {\n        node.send({\n            row: x,\n            col: y,\n            payload: Math.random() * 4\n        })\n    }\n}\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1047.7857666015625,"y":1186.7855224609375,"wires":[["4da6adf598fecbe1"]]},{"id":"1afe5414e0d70370","type":"change","z":"b67f596b8d985624","g":"85b29cfb57863bca","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"type\": \"scale\",\t    \"relative\": false,\t    \"values\": {\t      \"x\":1,\t      \"y\":1,\t      \"z\":$random() * 4\t    },\t    \"pivot\": {\t        \"x\": null,\t        \"y\": null,\t        \"z\": null\t    }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1936.0713338851929,"y":510.1190845966339,"wires":[["1457d6095e15260f"]]},{"id":"749babcf5d9d5ab2","type":"link out","z":"b67f596b8d985624","name":"link out 120","mode":"link","links":["df996df6b0d50876"],"x":786.5713539123535,"y":591.1191310882568,"wires":[]},{"id":"df996df6b0d50876","type":"link in","z":"b67f596b8d985624","name":"reset","links":["749babcf5d9d5ab2","d212735c793ffbb2"],"x":2596.2384033203125,"y":3870.28564453125,"wires":[["12accd16f35b54fd"]]},{"id":"f98d5126224bf53f","type":"link out","z":"b67f596b8d985624","name":"link out 121","mode":"link","links":["4a1fa68bb2aa879b"],"x":2843.7383999824524,"y":4003.4999809265137,"wires":[]},{"id":"4a1fa68bb2aa879b","type":"link in","z":"b67f596b8d985624","name":"reset bar","links":["f98d5126224bf53f"],"x":1939.759033203125,"y":114.1949462890625,"wires":[["50c241bc1b1ef05a"]]},{"id":"dbfbbeb725c6e1bc","type":"sphere","z":"b67f596b8d985624","g":"e1b2a20a4b463253","scene":"c0d1433da002f3c6","material":"6817754228a11c19","name_conf_a":"center","segments_conf_n":32,"diameter_conf_n":1,"diameterX_conf_n":"","diameterY_conf_n":"","diameterZ_conf_n":"","arc_conf_n":1,"slice_conf_n":1,"updatable_conf_b":false,"sideOrientation_conf_a":"0","pos_x":0,"pos_y":0,"pos_z":0,"scale_x":1,"scale_y":1,"scale_z":1,"rot_x":0,"rot_y":0,"rot_z":0,"x":817.2380981445312,"y":740.3334350585938,"wires":[[]]},{"id":"4f84809018e98e60","type":"box","z":"b67f596b8d985624","d":true,"g":"85b29cfb57863bca","scene":"c0d1433da002f3c6","material":"eb9738d1.722f68","name_conf_a":"purplebox9","size_conf_n":1,"height_conf_n":"","width_conf_n":"","depth_conf_n":"","updatable_conf_b":false,"sideOrientation_conf_a":"1","pos_x":"9","pos_y":0,"pos_z":0,"scale_x":"1","scale_y":"1","scale_z":"0.25","rot_x":0,"rot_y":0,"rot_z":0,"x":2232.0713262557983,"y":598.3524168014526,"wires":[[]]},{"id":"9febc0048fcaf217","type":"box","z":"b67f596b8d985624","d":true,"g":"85b29cfb57863bca","scene":"c0d1433da002f3c6","material":"eb9738d1.722f68","name_conf_a":"purplebox1","size_conf_n":1,"height_conf_n":"","width_conf_n":"","depth_conf_n":"","updatable_conf_b":false,"sideOrientation_conf_a":"1","pos_x":"1","pos_y":0,"pos_z":0,"scale_x":"1","scale_y":"1","scale_z":"0.25","rot_x":0,"rot_y":0,"rot_z":0,"x":2232.071186065674,"y":951.2857456207275,"wires":[[]]},{"id":"c3f2041d12938457","type":"box","z":"b67f596b8d985624","d":true,"g":"85b29cfb57863bca","scene":"c0d1433da002f3c6","material":"2f08998d.f33b96","name_conf_a":"purplebox2","size_conf_n":1,"height_conf_n":"","width_conf_n":"","depth_conf_n":"","updatable_conf_b":false,"sideOrientation_conf_a":"1","pos_x":"2","pos_y":0,"pos_z":0,"scale_x":"1","scale_y":"1","scale_z":"0.25","rot_x":0,"rot_y":0,"rot_z":0,"x":2232.0713262557983,"y":907.169079518318,"wires":[[]]},{"id":"f68a7c170e94d8e4","type":"box","z":"b67f596b8d985624","d":true,"g":"85b29cfb57863bca","scene":"c0d1433da002f3c6","material":"eb9738d1.722f68","name_conf_a":"purplebox3","size_conf_n":1,"height_conf_n":"","width_conf_n":"","depth_conf_n":"","updatable_conf_b":false,"sideOrientation_conf_a":"1","pos_x":"3","pos_y":0,"pos_z":0,"scale_x":"1","scale_y":"1","scale_z":"0.25","rot_x":0,"rot_y":0,"rot_z":0,"x":2232.0713262557983,"y":863.0524134159086,"wires":[[]]},{"id":"5b21ba3e8930a247","type":"box","z":"b67f596b8d985624","d":true,"g":"85b29cfb57863bca","scene":"c0d1433da002f3c6","material":"2f08998d.f33b96","name_conf_a":"purplebox4","size_conf_n":1,"height_conf_n":"","width_conf_n":"","depth_conf_n":"","updatable_conf_b":false,"sideOrientation_conf_a":"1","pos_x":"4","pos_y":0,"pos_z":0,"scale_x":"1","scale_y":"1","scale_z":"0.25","rot_x":0,"rot_y":0,"rot_z":0,"x":2232.0713262557983,"y":818.9357473134993,"wires":[[]]},{"id":"fd6701022f1a6cef","type":"box","z":"b67f596b8d985624","d":true,"g":"85b29cfb57863bca","scene":"c0d1433da002f3c6","material":"eb9738d1.722f68","name_conf_a":"purplebox5","size_conf_n":1,"height_conf_n":"","width_conf_n":"","depth_conf_n":"","updatable_conf_b":false,"sideOrientation_conf_a":"1","pos_x":"5","pos_y":0,"pos_z":0,"scale_x":"1","scale_y":"1","scale_z":"0.25","rot_x":0,"rot_y":0,"rot_z":0,"x":2232.0713262557983,"y":774.81908121109,"wires":[[]]},{"id":"8cce5ddb9366a0da","type":"box","z":"b67f596b8d985624","d":true,"g":"85b29cfb57863bca","scene":"c0d1433da002f3c6","material":"2f08998d.f33b96","name_conf_a":"purplebox6","size_conf_n":1,"height_conf_n":"","width_conf_n":"","depth_conf_n":"","updatable_conf_b":false,"sideOrientation_conf_a":"1","pos_x":"6","pos_y":0,"pos_z":0,"scale_x":"1","scale_y":"1","scale_z":"0.25","rot_x":0,"rot_y":0,"rot_z":0,"x":2232.0713262557983,"y":730.7024151086806,"wires":[[]]},{"id":"d6c536e356d6fdc6","type":"box","z":"b67f596b8d985624","d":true,"g":"85b29cfb57863bca","scene":"c0d1433da002f3c6","material":"eb9738d1.722f68","name_conf_a":"purplebox7","size_conf_n":1,"height_conf_n":"","width_conf_n":"","depth_conf_n":"","updatable_conf_b":false,"sideOrientation_conf_a":"1","pos_x":"7","pos_y":0,"pos_z":0,"scale_x":"1","scale_y":"1","scale_z":"0.25","rot_x":0,"rot_y":0,"rot_z":0,"x":2232.0713262557983,"y":686.5857490062713,"wires":[[]]},{"id":"72a61751c36f9bc0","type":"box","z":"b67f596b8d985624","d":true,"g":"85b29cfb57863bca","scene":"c0d1433da002f3c6","material":"2f08998d.f33b96","name_conf_a":"purplebox8","size_conf_n":1,"height_conf_n":"","width_conf_n":"","depth_conf_n":"","updatable_conf_b":false,"sideOrientation_conf_a":"1","pos_x":"8","pos_y":0,"pos_z":0,"scale_x":"1","scale_y":"1","scale_z":"0.25","rot_x":0,"rot_y":0,"rot_z":0,"x":2232.0713262557983,"y":642.4690829038619,"wires":[[]]},{"id":"a040bf7b0aeb07ca","type":"box","z":"b67f596b8d985624","d":true,"g":"85b29cfb57863bca","scene":"c0d1433da002f3c6","material":"2f08998d.f33b96","name_conf_a":"purplebox10","size_conf_n":1,"height_conf_n":"","width_conf_n":"","depth_conf_n":"","updatable_conf_b":false,"sideOrientation_conf_a":"1","pos_x":"10","pos_y":0,"pos_z":0,"scale_x":"1","scale_y":"1","scale_z":"0.25","rot_x":0,"rot_y":0,"rot_z":0,"x":2232.0713262557983,"y":554.2357506990433,"wires":[[]]},{"id":"1457d6095e15260f","type":"box","z":"b67f596b8d985624","d":true,"g":"85b29cfb57863bca","scene":"c0d1433da002f3c6","material":"eb9738d1.722f68","name_conf_a":"purplebox11","size_conf_n":1,"height_conf_n":"","width_conf_n":"","depth_conf_n":"","updatable_conf_b":false,"sideOrientation_conf_a":"1","pos_x":"11","pos_y":0,"pos_z":0,"scale_x":"1","scale_y":"1","scale_z":"0.25","rot_x":0,"rot_y":0,"rot_z":0,"x":2229.642767906189,"y":510.1190845966339,"wires":[[]]},{"id":"065f512f2d39cb36","type":"events","z":"b67f596b8d985624","name":"events","x":258.0001220703125,"y":896.0000610351562,"wires":[["080fe9d9adb8d260"]]},{"id":"5c8fc9e144211476","type":"change","z":"b67f596b8d985624","name":"Set Z scale","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"type\": \"scale\",\t    \"relative\": false,\t    \"values\": {\t      \"x\":1,\t      \"y\":1,\t      \"z\":$$.payload\t    },\t    \"pivot\": {\t        \"x\": null,\t        \"y\": null,\t        \"z\": null\t    }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":2748.6665649414062,"y":2447.0001220703125,"wires":[["dfd41ca58072f6de"]]},{"id":"dfd41ca58072f6de","type":"box","z":"b67f596b8d985624","scene":"c0d1433da002f3c6","material":"172dda18eb963b81","name_conf_a":"pixel_1_x_1","size_conf_n":1,"height_conf_n":"","width_conf_n":"","depth_conf_n":"","updatable_conf_b":false,"sideOrientation_conf_a":"1","pos_x":1,"pos_y":8,"pos_z":0,"scale_x":"1","scale_y":"1","scale_z":"0.25","rot_x":0,"rot_y":0,"rot_z":0,"x":2953.66650390625,"y":2987,"wires":[[]]},{"id":"14be3bfcaabba43a","type":"change","z":"b67f596b8d985624","name":"Set Z scale","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"type\": \"scale\",\t    \"relative\": false,\t    \"values\": {\t      \"x\":1,\t      \"y\":1,\t      \"z\":$$.payload\t    },\t    \"pivot\": {\t        \"x\": null,\t        \"y\": null,\t        \"z\": null\t    }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":2748.6665649414062,"y":2497.0001220703125,"wires":[["0b61331a02e578a5"]]},{"id":"0b61331a02e578a5","type":"box","z":"b67f596b8d985624","scene":"c0d1433da002f3c6","material":"172dda18eb963b81","name_conf_a":"pixel_1_x_2","size_conf_n":1,"height_conf_n":"","width_conf_n":"","depth_conf_n":"","updatable_conf_b":false,"sideOrientation_conf_a":"1","pos_x":1,"pos_y":7,"pos_z":0,"scale_x":"1","scale_y":"1","scale_z":"0.25","rot_x":0,"rot_y":0,"rot_z":0,"x":2953.66650390625,"y":3037,"wires":[[]]},{"id":"4d9c5251ad177d25","type":"change","z":"b67f596b8d985624","name":"Set Z scale","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"type\": \"scale\",\t    \"relative\": false,\t    \"values\": {\t      \"x\":1,\t      \"y\":1,\t      \"z\":$$.payload\t    },\t    \"pivot\": {\t        \"x\": null,\t        \"y\": null,\t        \"z\": null\t    }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":2748.6665649414062,"y":2547.0001220703125,"wires":[["c8fc55dcefe16fd4"]]},{"id":"c8fc55dcefe16fd4","type":"box","z":"b67f596b8d985624","scene":"c0d1433da002f3c6","material":"172dda18eb963b81","name_conf_a":"pixel_1_x_3","size_conf_n":1,"height_conf_n":"","width_conf_n":"","depth_conf_n":"","updatable_conf_b":false,"sideOrientation_conf_a":"1","pos_x":1,"pos_y":6,"pos_z":0,"scale_x":"1","scale_y":"1","scale_z":"0.25","rot_x":0,"rot_y":0,"rot_z":0,"x":2953.66650390625,"y":3087,"wires":[[]]},{"id":"e40a627cd4a8090d","type":"change","z":"b67f596b8d985624","name":"Set Z scale","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"type\": \"scale\",\t    \"relative\": false,\t    \"values\": {\t      \"x\":1,\t      \"y\":1,\t      \"z\":$$.payload\t    },\t    \"pivot\": {\t        \"x\": null,\t        \"y\": null,\t        \"z\": null\t    }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":2748.6665649414062,"y":2597.0001220703125,"wires":[["1a31155a0a389e2e"]]},{"id":"1a31155a0a389e2e","type":"box","z":"b67f596b8d985624","scene":"c0d1433da002f3c6","material":"172dda18eb963b81","name_conf_a":"pixel_1_x_4","size_conf_n":1,"height_conf_n":"","width_conf_n":"","depth_conf_n":"","updatable_conf_b":false,"sideOrientation_conf_a":"1","pos_x":1,"pos_y":5,"pos_z":0,"scale_x":"1","scale_y":"1","scale_z":"0.25","rot_x":0,"rot_y":0,"rot_z":0,"x":2953.66650390625,"y":3137,"wires":[[]]},{"id":"f50654aac801de3d","type":"change","z":"b67f596b8d985624","name":"Set Z scale","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"type\": \"scale\",\t    \"relative\": false,\t    \"values\": {\t      \"x\":1,\t      \"y\":1,\t      \"z\":$$.payload\t    },\t    \"pivot\": {\t        \"x\": null,\t        \"y\": null,\t        \"z\": null\t    }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":2748.6665649414062,"y":2647.0001220703125,"wires":[["c4b212694c3ed236"]]},{"id":"c4b212694c3ed236","type":"box","z":"b67f596b8d985624","scene":"c0d1433da002f3c6","material":"172dda18eb963b81","name_conf_a":"pixel_1_x_5","size_conf_n":1,"height_conf_n":"","width_conf_n":"","depth_conf_n":"","updatable_conf_b":false,"sideOrientation_conf_a":"1","pos_x":1,"pos_y":4,"pos_z":0,"scale_x":"1","scale_y":"1","scale_z":"0.25","rot_x":0,"rot_y":0,"rot_z":0,"x":2953.66650390625,"y":3187,"wires":[[]]},{"id":"e3d690388221c66a","type":"change","z":"b67f596b8d985624","name":"Set Z scale","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"type\": \"scale\",\t    \"relative\": false,\t    \"values\": {\t      \"x\":1,\t      \"y\":1,\t      \"z\":$$.payload\t    },\t    \"pivot\": {\t        \"x\": null,\t        \"y\": null,\t        \"z\": null\t    }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":2748.6665649414062,"y":2697.0001220703125,"wires":[["830b928f8b1cc49a"]]},{"id":"830b928f8b1cc49a","type":"box","z":"b67f596b8d985624","scene":"c0d1433da002f3c6","material":"172dda18eb963b81","name_conf_a":"pixel_1_x_6","size_conf_n":1,"height_conf_n":"","width_conf_n":"","depth_conf_n":"","updatable_conf_b":false,"sideOrientation_conf_a":"1","pos_x":1,"pos_y":3,"pos_z":0,"scale_x":"1","scale_y":"1","scale_z":"0.25","rot_x":0,"rot_y":0,"rot_z":0,"x":2953.66650390625,"y":3237,"wires":[[]]},{"id":"0f9fb374b4248bd8","type":"change","z":"b67f596b8d985624","name":"Set Z scale","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"type\": \"scale\",\t    \"relative\": false,\t    \"values\": {\t      \"x\":1,\t      \"y\":1,\t      \"z\":$$.payload\t    },\t    \"pivot\": {\t        \"x\": null,\t        \"y\": null,\t        \"z\": null\t    }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":2748.6665649414062,"y":2747.0001220703125,"wires":[["c14f6c38338eb32c"]]},{"id":"c14f6c38338eb32c","type":"box","z":"b67f596b8d985624","scene":"c0d1433da002f3c6","material":"172dda18eb963b81","name_conf_a":"pixel_1_x_7","size_conf_n":1,"height_conf_n":"","width_conf_n":"","depth_conf_n":"","updatable_conf_b":false,"sideOrientation_conf_a":"1","pos_x":1,"pos_y":2,"pos_z":0,"scale_x":"1","scale_y":"1","scale_z":"0.25","rot_x":0,"rot_y":0,"rot_z":0,"x":2953.66650390625,"y":3287,"wires":[[]]},{"id":"626b369b15924f71","type":"change","z":"b67f596b8d985624","name":"Set Z scale","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"type\": \"scale\",\t    \"relative\": false,\t    \"values\": {\t      \"x\":1,\t      \"y\":1,\t      \"z\":$$.payload\t    },\t    \"pivot\": {\t        \"x\": null,\t        \"y\": null,\t        \"z\": null\t    }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":2748.6665649414062,"y":2797.0001220703125,"wires":[["6b35dfdfae6b858f"]]},{"id":"6b35dfdfae6b858f","type":"box","z":"b67f596b8d985624","scene":"c0d1433da002f3c6","material":"172dda18eb963b81","name_conf_a":"pixel_1_x_8","size_conf_n":1,"height_conf_n":"","width_conf_n":"","depth_conf_n":"","updatable_conf_b":false,"sideOrientation_conf_a":"1","pos_x":1,"pos_y":1,"pos_z":0,"scale_x":"1","scale_y":"1","scale_z":"0.25","rot_x":0,"rot_y":0,"rot_z":0,"x":2953.66650390625,"y":3337,"wires":[[]]},{"id":"2c34fd3fcdf2df6b","type":"change","z":"b67f596b8d985624","name":"Set Z scale","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"type\": \"scale\",\t    \"relative\": false,\t    \"values\": {\t      \"x\":1,\t      \"y\":1,\t      \"z\":$$.payload\t    },\t    \"pivot\": {\t        \"x\": null,\t        \"y\": null,\t        \"z\": null\t    }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":2928.6665649414062,"y":2447.0001220703125,"wires":[["d17f5c91c6840140"]]},{"id":"d17f5c91c6840140","type":"box","z":"b67f596b8d985624","scene":"c0d1433da002f3c6","material":"f5aa18a169f8171a","name_conf_a":"pixel_2_x_1","size_conf_n":1,"height_conf_n":"","width_conf_n":"","depth_conf_n":"","updatable_conf_b":false,"sideOrientation_conf_a":"1","pos_x":2,"pos_y":8,"pos_z":0,"scale_x":"1","scale_y":"1","scale_z":"0.25","rot_x":0,"rot_y":0,"rot_z":0,"x":3133.66650390625,"y":2987,"wires":[[]]},{"id":"be15674e003203f7","type":"change","z":"b67f596b8d985624","name":"Set Z scale","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"type\": \"scale\",\t    \"relative\": false,\t    \"values\": {\t      \"x\":1,\t      \"y\":1,\t      \"z\":$$.payload\t    },\t    \"pivot\": {\t        \"x\": null,\t        \"y\": null,\t        \"z\": null\t    }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":2928.6665649414062,"y":2497.0001220703125,"wires":[["0301fecfb19c9dcd"]]},{"id":"0301fecfb19c9dcd","type":"box","z":"b67f596b8d985624","scene":"c0d1433da002f3c6","material":"f5aa18a169f8171a","name_conf_a":"pixel_2_x_2","size_conf_n":1,"height_conf_n":"","width_conf_n":"","depth_conf_n":"","updatable_conf_b":false,"sideOrientation_conf_a":"1","pos_x":2,"pos_y":7,"pos_z":0,"scale_x":"1","scale_y":"1","scale_z":"0.25","rot_x":0,"rot_y":0,"rot_z":0,"x":3133.66650390625,"y":3037,"wires":[[]]},{"id":"bc22e7bd8b88a6a0","type":"change","z":"b67f596b8d985624","name":"Set Z scale","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"type\": \"scale\",\t    \"relative\": false,\t    \"values\": {\t      \"x\":1,\t      \"y\":1,\t      \"z\":$$.payload\t    },\t    \"pivot\": {\t        \"x\": null,\t        \"y\": null,\t        \"z\": null\t    }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":2928.6665649414062,"y":2547.0001220703125,"wires":[["5bbdead8464ee1df"]]},{"id":"5bbdead8464ee1df","type":"box","z":"b67f596b8d985624","scene":"c0d1433da002f3c6","material":"f5aa18a169f8171a","name_conf_a":"pixel_2_x_3","size_conf_n":1,"height_conf_n":"","width_conf_n":"","depth_conf_n":"","updatable_conf_b":false,"sideOrientation_conf_a":"1","pos_x":2,"pos_y":6,"pos_z":0,"scale_x":"1","scale_y":"1","scale_z":"0.25","rot_x":0,"rot_y":0,"rot_z":0,"x":3133.66650390625,"y":3087,"wires":[[]]},{"id":"b8b1199782f523ef","type":"change","z":"b67f596b8d985624","name":"Set Z scale","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"type\": \"scale\",\t    \"relative\": false,\t    \"values\": {\t      \"x\":1,\t      \"y\":1,\t      \"z\":$$.payload\t    },\t    \"pivot\": {\t        \"x\": null,\t        \"y\": null,\t        \"z\": null\t    }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":2928.6665649414062,"y":2597.0001220703125,"wires":[["347a1ce3ab3ffed4"]]},{"id":"347a1ce3ab3ffed4","type":"box","z":"b67f596b8d985624","scene":"c0d1433da002f3c6","material":"f5aa18a169f8171a","name_conf_a":"pixel_2_x_4","size_conf_n":1,"height_conf_n":"","width_conf_n":"","depth_conf_n":"","updatable_conf_b":false,"sideOrientation_conf_a":"1","pos_x":2,"pos_y":5,"pos_z":0,"scale_x":"1","scale_y":"1","scale_z":"0.25","rot_x":0,"rot_y":0,"rot_z":0,"x":3133.66650390625,"y":3137,"wires":[[]]},{"id":"79b5c35ceb7cc171","type":"change","z":"b67f596b8d985624","name":"Set Z scale","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"type\": \"scale\",\t    \"relative\": false,\t    \"values\": {\t      \"x\":1,\t      \"y\":1,\t      \"z\":$$.payload\t    },\t    \"pivot\": {\t        \"x\": null,\t        \"y\": null,\t        \"z\": null\t    }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":2928.6665649414062,"y":2647.0001220703125,"wires":[["504473e1ad48693e"]]},{"id":"504473e1ad48693e","type":"box","z":"b67f596b8d985624","scene":"c0d1433da002f3c6","material":"f5aa18a169f8171a","name_conf_a":"pixel_2_x_5","size_conf_n":1,"height_conf_n":"","width_conf_n":"","depth_conf_n":"","updatable_conf_b":false,"sideOrientation_conf_a":"1","pos_x":2,"pos_y":4,"pos_z":0,"scale_x":"1","scale_y":"1","scale_z":"0.25","rot_x":0,"rot_y":0,"rot_z":0,"x":3133.66650390625,"y":3187,"wires":[[]]},{"id":"fe640ca7dcafee43","type":"change","z":"b67f596b8d985624","name":"Set Z scale","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"type\": \"scale\",\t    \"relative\": false,\t    \"values\": {\t      \"x\":1,\t      \"y\":1,\t      \"z\":$$.payload\t    },\t    \"pivot\": {\t        \"x\": null,\t        \"y\": null,\t        \"z\": null\t    }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":2928.6665649414062,"y":2697.0001220703125,"wires":[["81fcb116d581038b"]]},{"id":"81fcb116d581038b","type":"box","z":"b67f596b8d985624","scene":"c0d1433da002f3c6","material":"f5aa18a169f8171a","name_conf_a":"pixel_2_x_6","size_conf_n":1,"height_conf_n":"","width_conf_n":"","depth_conf_n":"","updatable_conf_b":false,"sideOrientation_conf_a":"1","pos_x":2,"pos_y":3,"pos_z":0,"scale_x":"1","scale_y":"1","scale_z":"0.25","rot_x":0,"rot_y":0,"rot_z":0,"x":3133.66650390625,"y":3237,"wires":[[]]},{"id":"66319b4dae11ebe3","type":"change","z":"b67f596b8d985624","name":"Set Z scale","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"type\": \"scale\",\t    \"relative\": false,\t    \"values\": {\t      \"x\":1,\t      \"y\":1,\t      \"z\":$$.payload\t    },\t    \"pivot\": {\t        \"x\": null,\t        \"y\": null,\t        \"z\": null\t    }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":2928.6665649414062,"y":2747.0001220703125,"wires":[["281eb25e11f51ba6"]]},{"id":"281eb25e11f51ba6","type":"box","z":"b67f596b8d985624","scene":"c0d1433da002f3c6","material":"f5aa18a169f8171a","name_conf_a":"pixel_2_x_7","size_conf_n":1,"height_conf_n":"","width_conf_n":"","depth_conf_n":"","updatable_conf_b":false,"sideOrientation_conf_a":"1","pos_x":2,"pos_y":2,"pos_z":0,"scale_x":"1","scale_y":"1","scale_z":"0.25","rot_x":0,"rot_y":0,"rot_z":0,"x":3133.66650390625,"y":3287,"wires":[[]]},{"id":"7f72730a419813d2","type":"change","z":"b67f596b8d985624","name":"Set Z scale","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"type\": \"scale\",\t    \"relative\": false,\t    \"values\": {\t      \"x\":1,\t      \"y\":1,\t      \"z\":$$.payload\t    },\t    \"pivot\": {\t        \"x\": null,\t        \"y\": null,\t        \"z\": null\t    }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":2928.6665649414062,"y":2797.0001220703125,"wires":[["05b382cc1ca42eda"]]},{"id":"05b382cc1ca42eda","type":"box","z":"b67f596b8d985624","scene":"c0d1433da002f3c6","material":"f5aa18a169f8171a","name_conf_a":"pixel_2_x_8","size_conf_n":1,"height_conf_n":"","width_conf_n":"","depth_conf_n":"","updatable_conf_b":false,"sideOrientation_conf_a":"1","pos_x":2,"pos_y":1,"pos_z":0,"scale_x":"1","scale_y":"1","scale_z":"0.25","rot_x":0,"rot_y":0,"rot_z":0,"x":3133.66650390625,"y":3337,"wires":[[]]},{"id":"e9f85248dcc4416e","type":"change","z":"b67f596b8d985624","name":"Set Z scale","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"type\": \"scale\",\t    \"relative\": false,\t    \"values\": {\t      \"x\":1,\t      \"y\":1,\t      \"z\":$$.payload\t    },\t    \"pivot\": {\t        \"x\": null,\t        \"y\": null,\t        \"z\": null\t    }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":3108.6665649414062,"y":2447.0001220703125,"wires":[["653e65f1a6c8e478"]]},{"id":"653e65f1a6c8e478","type":"box","z":"b67f596b8d985624","scene":"c0d1433da002f3c6","material":"5b6b1658cc79ac85","name_conf_a":"pixel_3_x_1","size_conf_n":1,"height_conf_n":"","width_conf_n":"","depth_conf_n":"","updatable_conf_b":false,"sideOrientation_conf_a":"1","pos_x":3,"pos_y":8,"pos_z":0,"scale_x":"1","scale_y":"1","scale_z":"0.25","rot_x":0,"rot_y":0,"rot_z":0,"x":3313.66650390625,"y":2987,"wires":[[]]},{"id":"7f73e68c55e95109","type":"change","z":"b67f596b8d985624","name":"Set Z scale","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"type\": \"scale\",\t    \"relative\": false,\t    \"values\": {\t      \"x\":1,\t      \"y\":1,\t      \"z\":$$.payload\t    },\t    \"pivot\": {\t        \"x\": null,\t        \"y\": null,\t        \"z\": null\t    }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":3108.6665649414062,"y":2497.0001220703125,"wires":[["d9c6323cf618feb2"]]},{"id":"d9c6323cf618feb2","type":"box","z":"b67f596b8d985624","scene":"c0d1433da002f3c6","material":"5b6b1658cc79ac85","name_conf_a":"pixel_3_x_2","size_conf_n":1,"height_conf_n":"","width_conf_n":"","depth_conf_n":"","updatable_conf_b":false,"sideOrientation_conf_a":"1","pos_x":3,"pos_y":7,"pos_z":0,"scale_x":"1","scale_y":"1","scale_z":"0.25","rot_x":0,"rot_y":0,"rot_z":0,"x":3313.66650390625,"y":3037,"wires":[[]]},{"id":"d3221822348adddd","type":"change","z":"b67f596b8d985624","name":"Set Z scale","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"type\": \"scale\",\t    \"relative\": false,\t    \"values\": {\t      \"x\":1,\t      \"y\":1,\t      \"z\":$$.payload\t    },\t    \"pivot\": {\t        \"x\": null,\t        \"y\": null,\t        \"z\": null\t    }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":3108.6665649414062,"y":2547.0001220703125,"wires":[["0574de039ce9a86a"]]},{"id":"0574de039ce9a86a","type":"box","z":"b67f596b8d985624","scene":"c0d1433da002f3c6","material":"5b6b1658cc79ac85","name_conf_a":"pixel_3_x_3","size_conf_n":1,"height_conf_n":"","width_conf_n":"","depth_conf_n":"","updatable_conf_b":false,"sideOrientation_conf_a":"1","pos_x":3,"pos_y":6,"pos_z":0,"scale_x":"1","scale_y":"1","scale_z":"0.25","rot_x":0,"rot_y":0,"rot_z":0,"x":3313.66650390625,"y":3087,"wires":[[]]},{"id":"e53cbc3d47578dae","type":"change","z":"b67f596b8d985624","name":"Set Z scale","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"type\": \"scale\",\t    \"relative\": false,\t    \"values\": {\t      \"x\":1,\t      \"y\":1,\t      \"z\":$$.payload\t    },\t    \"pivot\": {\t        \"x\": null,\t        \"y\": null,\t        \"z\": null\t    }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":3108.6665649414062,"y":2597.0001220703125,"wires":[["86ad017ad879b0ea"]]},{"id":"86ad017ad879b0ea","type":"box","z":"b67f596b8d985624","scene":"c0d1433da002f3c6","material":"5b6b1658cc79ac85","name_conf_a":"pixel_3_x_4","size_conf_n":1,"height_conf_n":"","width_conf_n":"","depth_conf_n":"","updatable_conf_b":false,"sideOrientation_conf_a":"1","pos_x":3,"pos_y":5,"pos_z":0,"scale_x":"1","scale_y":"1","scale_z":"0.25","rot_x":0,"rot_y":0,"rot_z":0,"x":3313.66650390625,"y":3137,"wires":[[]]},{"id":"10221294dd4958b9","type":"change","z":"b67f596b8d985624","name":"Set Z scale","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"type\": \"scale\",\t    \"relative\": false,\t    \"values\": {\t      \"x\":1,\t      \"y\":1,\t      \"z\":$$.payload\t    },\t    \"pivot\": {\t        \"x\": null,\t        \"y\": null,\t        \"z\": null\t    }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":3108.6665649414062,"y":2647.0001220703125,"wires":[["ef1a1389bdac49a4"]]},{"id":"ef1a1389bdac49a4","type":"box","z":"b67f596b8d985624","scene":"c0d1433da002f3c6","material":"5b6b1658cc79ac85","name_conf_a":"pixel_3_x_5","size_conf_n":1,"height_conf_n":"","width_conf_n":"","depth_conf_n":"","updatable_conf_b":false,"sideOrientation_conf_a":"1","pos_x":3,"pos_y":4,"pos_z":0,"scale_x":"1","scale_y":"1","scale_z":"0.25","rot_x":0,"rot_y":0,"rot_z":0,"x":3313.66650390625,"y":3187,"wires":[[]]},{"id":"4e778ce521fa1ef0","type":"change","z":"b67f596b8d985624","name":"Set Z scale","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"type\": \"scale\",\t    \"relative\": false,\t    \"values\": {\t      \"x\":1,\t      \"y\":1,\t      \"z\":$$.payload\t    },\t    \"pivot\": {\t        \"x\": null,\t        \"y\": null,\t        \"z\": null\t    }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":3108.6665649414062,"y":2697.0001220703125,"wires":[["177395bb52f372e8"]]},{"id":"177395bb52f372e8","type":"box","z":"b67f596b8d985624","scene":"c0d1433da002f3c6","material":"5b6b1658cc79ac85","name_conf_a":"pixel_3_x_6","size_conf_n":1,"height_conf_n":"","width_conf_n":"","depth_conf_n":"","updatable_conf_b":false,"sideOrientation_conf_a":"1","pos_x":3,"pos_y":3,"pos_z":0,"scale_x":"1","scale_y":"1","scale_z":"0.25","rot_x":0,"rot_y":0,"rot_z":0,"x":3313.66650390625,"y":3237,"wires":[[]]},{"id":"0f098cc8ceb115e9","type":"change","z":"b67f596b8d985624","name":"Set Z scale","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"type\": \"scale\",\t    \"relative\": false,\t    \"values\": {\t      \"x\":1,\t      \"y\":1,\t      \"z\":$$.payload\t    },\t    \"pivot\": {\t        \"x\": null,\t        \"y\": null,\t        \"z\": null\t    }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":3108.6665649414062,"y":2747.0001220703125,"wires":[["1c64446be2bbb8a2"]]},{"id":"1c64446be2bbb8a2","type":"box","z":"b67f596b8d985624","scene":"c0d1433da002f3c6","material":"5b6b1658cc79ac85","name_conf_a":"pixel_3_x_7","size_conf_n":1,"height_conf_n":"","width_conf_n":"","depth_conf_n":"","updatable_conf_b":false,"sideOrientation_conf_a":"1","pos_x":3,"pos_y":2,"pos_z":0,"scale_x":"1","scale_y":"1","scale_z":"0.25","rot_x":0,"rot_y":0,"rot_z":0,"x":3313.66650390625,"y":3287,"wires":[[]]},{"id":"9805260d8c0de1ed","type":"change","z":"b67f596b8d985624","name":"Set Z scale","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"type\": \"scale\",\t    \"relative\": false,\t    \"values\": {\t      \"x\":1,\t      \"y\":1,\t      \"z\":$$.payload\t    },\t    \"pivot\": {\t        \"x\": null,\t        \"y\": null,\t        \"z\": null\t    }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":3108.6665649414062,"y":2797.0001220703125,"wires":[["bd3596d320bfc8f2"]]},{"id":"bd3596d320bfc8f2","type":"box","z":"b67f596b8d985624","scene":"c0d1433da002f3c6","material":"5b6b1658cc79ac85","name_conf_a":"pixel_3_x_8","size_conf_n":1,"height_conf_n":"","width_conf_n":"","depth_conf_n":"","updatable_conf_b":false,"sideOrientation_conf_a":"1","pos_x":3,"pos_y":1,"pos_z":0,"scale_x":"1","scale_y":"1","scale_z":"0.25","rot_x":0,"rot_y":0,"rot_z":0,"x":3313.66650390625,"y":3337,"wires":[[]]},{"id":"8ad66c7ff2addef8","type":"change","z":"b67f596b8d985624","name":"Set Z scale","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"type\": \"scale\",\t    \"relative\": false,\t    \"values\": {\t      \"x\":1,\t      \"y\":1,\t      \"z\":$$.payload\t    },\t    \"pivot\": {\t        \"x\": null,\t        \"y\": null,\t        \"z\": null\t    }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":3288.6665649414062,"y":2447.0001220703125,"wires":[["c94bb02fa004751b"]]},{"id":"c94bb02fa004751b","type":"box","z":"b67f596b8d985624","scene":"c0d1433da002f3c6","material":"0c05fb0206b653e9","name_conf_a":"pixel_4_x_1","size_conf_n":1,"height_conf_n":"","width_conf_n":"","depth_conf_n":"","updatable_conf_b":false,"sideOrientation_conf_a":"1","pos_x":4,"pos_y":8,"pos_z":0,"scale_x":"1","scale_y":"1","scale_z":"0.25","rot_x":0,"rot_y":0,"rot_z":0,"x":3493.66650390625,"y":2987,"wires":[[]]},{"id":"3df77c353725a883","type":"change","z":"b67f596b8d985624","name":"Set Z scale","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"type\": \"scale\",\t    \"relative\": false,\t    \"values\": {\t      \"x\":1,\t      \"y\":1,\t      \"z\":$$.payload\t    },\t    \"pivot\": {\t        \"x\": null,\t        \"y\": null,\t        \"z\": null\t    }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":3288.6665649414062,"y":2497.0001220703125,"wires":[["de38e6a386e3f4ab"]]},{"id":"de38e6a386e3f4ab","type":"box","z":"b67f596b8d985624","scene":"c0d1433da002f3c6","material":"0c05fb0206b653e9","name_conf_a":"pixel_4_x_2","size_conf_n":1,"height_conf_n":"","width_conf_n":"","depth_conf_n":"","updatable_conf_b":false,"sideOrientation_conf_a":"1","pos_x":4,"pos_y":7,"pos_z":0,"scale_x":"1","scale_y":"1","scale_z":"0.25","rot_x":0,"rot_y":0,"rot_z":0,"x":3493.66650390625,"y":3037,"wires":[[]]},{"id":"73088d9ecd7d6a96","type":"change","z":"b67f596b8d985624","name":"Set Z scale","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"type\": \"scale\",\t    \"relative\": false,\t    \"values\": {\t      \"x\":1,\t      \"y\":1,\t      \"z\":$$.payload\t    },\t    \"pivot\": {\t        \"x\": null,\t        \"y\": null,\t        \"z\": null\t    }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":3288.6665649414062,"y":2547.0001220703125,"wires":[["0674a34a5611534e"]]},{"id":"0674a34a5611534e","type":"box","z":"b67f596b8d985624","scene":"c0d1433da002f3c6","material":"0c05fb0206b653e9","name_conf_a":"pixel_4_x_3","size_conf_n":1,"height_conf_n":"","width_conf_n":"","depth_conf_n":"","updatable_conf_b":false,"sideOrientation_conf_a":"1","pos_x":4,"pos_y":6,"pos_z":0,"scale_x":"1","scale_y":"1","scale_z":"0.25","rot_x":0,"rot_y":0,"rot_z":0,"x":3493.66650390625,"y":3087,"wires":[[]]},{"id":"d40b4fcc083468a0","type":"change","z":"b67f596b8d985624","name":"Set Z scale","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"type\": \"scale\",\t    \"relative\": false,\t    \"values\": {\t      \"x\":1,\t      \"y\":1,\t      \"z\":$$.payload\t    },\t    \"pivot\": {\t        \"x\": null,\t        \"y\": null,\t        \"z\": null\t    }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":3288.6665649414062,"y":2597.0001220703125,"wires":[["d996206c10164b35"]]},{"id":"d996206c10164b35","type":"box","z":"b67f596b8d985624","scene":"c0d1433da002f3c6","material":"0c05fb0206b653e9","name_conf_a":"pixel_4_x_4","size_conf_n":1,"height_conf_n":"","width_conf_n":"","depth_conf_n":"","updatable_conf_b":false,"sideOrientation_conf_a":"1","pos_x":4,"pos_y":5,"pos_z":0,"scale_x":"1","scale_y":"1","scale_z":"0.25","rot_x":0,"rot_y":0,"rot_z":0,"x":3493.66650390625,"y":3137,"wires":[[]]},{"id":"9947dbec8d45b09d","type":"change","z":"b67f596b8d985624","name":"Set Z scale","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"type\": \"scale\",\t    \"relative\": false,\t    \"values\": {\t      \"x\":1,\t      \"y\":1,\t      \"z\":$$.payload\t    },\t    \"pivot\": {\t        \"x\": null,\t        \"y\": null,\t        \"z\": null\t    }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":3288.6665649414062,"y":2647.0001220703125,"wires":[["f5a265475cd6b940"]]},{"id":"f5a265475cd6b940","type":"box","z":"b67f596b8d985624","scene":"c0d1433da002f3c6","material":"0c05fb0206b653e9","name_conf_a":"pixel_4_x_5","size_conf_n":1,"height_conf_n":"","width_conf_n":"","depth_conf_n":"","updatable_conf_b":false,"sideOrientation_conf_a":"1","pos_x":4,"pos_y":4,"pos_z":0,"scale_x":"1","scale_y":"1","scale_z":"0.25","rot_x":0,"rot_y":0,"rot_z":0,"x":3493.66650390625,"y":3187,"wires":[[]]},{"id":"dc748551e4b07738","type":"change","z":"b67f596b8d985624","name":"Set Z scale","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"type\": \"scale\",\t    \"relative\": false,\t    \"values\": {\t      \"x\":1,\t      \"y\":1,\t      \"z\":$$.payload\t    },\t    \"pivot\": {\t        \"x\": null,\t        \"y\": null,\t        \"z\": null\t    }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":3288.6665649414062,"y":2697.0001220703125,"wires":[["b034746f0812ddf2"]]},{"id":"b034746f0812ddf2","type":"box","z":"b67f596b8d985624","scene":"c0d1433da002f3c6","material":"0c05fb0206b653e9","name_conf_a":"pixel_4_x_6","size_conf_n":1,"height_conf_n":"","width_conf_n":"","depth_conf_n":"","updatable_conf_b":false,"sideOrientation_conf_a":"1","pos_x":4,"pos_y":3,"pos_z":0,"scale_x":"1","scale_y":"1","scale_z":"0.25","rot_x":0,"rot_y":0,"rot_z":0,"x":3493.66650390625,"y":3237,"wires":[[]]},{"id":"6f666d5897e2fc66","type":"change","z":"b67f596b8d985624","name":"Set Z scale","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"type\": \"scale\",\t    \"relative\": false,\t    \"values\": {\t      \"x\":1,\t      \"y\":1,\t      \"z\":$$.payload\t    },\t    \"pivot\": {\t        \"x\": null,\t        \"y\": null,\t        \"z\": null\t    }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":3288.6665649414062,"y":2747.0001220703125,"wires":[["6a239f95136c2e3e"]]},{"id":"6a239f95136c2e3e","type":"box","z":"b67f596b8d985624","scene":"c0d1433da002f3c6","material":"0c05fb0206b653e9","name_conf_a":"pixel_4_x_7","size_conf_n":1,"height_conf_n":"","width_conf_n":"","depth_conf_n":"","updatable_conf_b":false,"sideOrientation_conf_a":"1","pos_x":4,"pos_y":2,"pos_z":0,"scale_x":"1","scale_y":"1","scale_z":"0.25","rot_x":0,"rot_y":0,"rot_z":0,"x":3493.66650390625,"y":3287,"wires":[[]]},{"id":"88fe3c6f6cc851c7","type":"change","z":"b67f596b8d985624","name":"Set Z scale","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"type\": \"scale\",\t    \"relative\": false,\t    \"values\": {\t      \"x\":1,\t      \"y\":1,\t      \"z\":$$.payload\t    },\t    \"pivot\": {\t        \"x\": null,\t        \"y\": null,\t        \"z\": null\t    }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":3288.6665649414062,"y":2797.0001220703125,"wires":[["cecf80597f3b48a8"]]},{"id":"cecf80597f3b48a8","type":"box","z":"b67f596b8d985624","scene":"c0d1433da002f3c6","material":"0c05fb0206b653e9","name_conf_a":"pixel_4_x_8","size_conf_n":1,"height_conf_n":"","width_conf_n":"","depth_conf_n":"","updatable_conf_b":false,"sideOrientation_conf_a":"1","pos_x":4,"pos_y":1,"pos_z":0,"scale_x":"1","scale_y":"1","scale_z":"0.25","rot_x":0,"rot_y":0,"rot_z":0,"x":3493.66650390625,"y":3337,"wires":[[]]},{"id":"eb35a1422a1f4993","type":"change","z":"b67f596b8d985624","name":"Set Z scale","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"type\": \"scale\",\t    \"relative\": false,\t    \"values\": {\t      \"x\":1,\t      \"y\":1,\t      \"z\":$$.payload\t    },\t    \"pivot\": {\t        \"x\": null,\t        \"y\": null,\t        \"z\": null\t    }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":3468.6665649414062,"y":2447.0001220703125,"wires":[["23b35b053d578a32"]]},{"id":"23b35b053d578a32","type":"box","z":"b67f596b8d985624","scene":"c0d1433da002f3c6","material":"16d6d5d01da69197","name_conf_a":"pixel_5_x_1","size_conf_n":1,"height_conf_n":"","width_conf_n":"","depth_conf_n":"","updatable_conf_b":false,"sideOrientation_conf_a":"1","pos_x":5,"pos_y":8,"pos_z":0,"scale_x":"1","scale_y":"1","scale_z":"0.25","rot_x":0,"rot_y":0,"rot_z":0,"x":3673.66650390625,"y":2987,"wires":[[]]},{"id":"576934a33bb8c6d6","type":"change","z":"b67f596b8d985624","name":"Set Z scale","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"type\": \"scale\",\t    \"relative\": false,\t    \"values\": {\t      \"x\":1,\t      \"y\":1,\t      \"z\":$$.payload\t    },\t    \"pivot\": {\t        \"x\": null,\t        \"y\": null,\t        \"z\": null\t    }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":3468.6665649414062,"y":2497.0001220703125,"wires":[["f576bfb1da0a529d"]]},{"id":"f576bfb1da0a529d","type":"box","z":"b67f596b8d985624","scene":"c0d1433da002f3c6","material":"16d6d5d01da69197","name_conf_a":"pixel_5_x_2","size_conf_n":1,"height_conf_n":"","width_conf_n":"","depth_conf_n":"","updatable_conf_b":false,"sideOrientation_conf_a":"1","pos_x":5,"pos_y":7,"pos_z":0,"scale_x":"1","scale_y":"1","scale_z":"0.25","rot_x":0,"rot_y":0,"rot_z":0,"x":3673.66650390625,"y":3037,"wires":[[]]},{"id":"ab9fcc6c441b2d6d","type":"change","z":"b67f596b8d985624","name":"Set Z scale","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"type\": \"scale\",\t    \"relative\": false,\t    \"values\": {\t      \"x\":1,\t      \"y\":1,\t      \"z\":$$.payload\t    },\t    \"pivot\": {\t        \"x\": null,\t        \"y\": null,\t        \"z\": null\t    }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":3468.6665649414062,"y":2547.0001220703125,"wires":[["be134cf1dea8035d"]]},{"id":"be134cf1dea8035d","type":"box","z":"b67f596b8d985624","scene":"c0d1433da002f3c6","material":"16d6d5d01da69197","name_conf_a":"pixel_5_x_3","size_conf_n":1,"height_conf_n":"","width_conf_n":"","depth_conf_n":"","updatable_conf_b":false,"sideOrientation_conf_a":"1","pos_x":5,"pos_y":6,"pos_z":0,"scale_x":"1","scale_y":"1","scale_z":"0.25","rot_x":0,"rot_y":0,"rot_z":0,"x":3673.66650390625,"y":3087,"wires":[[]]},{"id":"2ab1d2c867d171fa","type":"change","z":"b67f596b8d985624","name":"Set Z scale","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"type\": \"scale\",\t    \"relative\": false,\t    \"values\": {\t      \"x\":1,\t      \"y\":1,\t      \"z\":$$.payload\t    },\t    \"pivot\": {\t        \"x\": null,\t        \"y\": null,\t        \"z\": null\t    }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":3468.6665649414062,"y":2597.0001220703125,"wires":[["643ae4379864e519"]]},{"id":"643ae4379864e519","type":"box","z":"b67f596b8d985624","scene":"c0d1433da002f3c6","material":"16d6d5d01da69197","name_conf_a":"pixel_5_x_4","size_conf_n":1,"height_conf_n":"","width_conf_n":"","depth_conf_n":"","updatable_conf_b":false,"sideOrientation_conf_a":"1","pos_x":5,"pos_y":5,"pos_z":0,"scale_x":"1","scale_y":"1","scale_z":"0.25","rot_x":0,"rot_y":0,"rot_z":0,"x":3673.66650390625,"y":3137,"wires":[[]]},{"id":"a47f4e86884b048f","type":"change","z":"b67f596b8d985624","name":"Set Z scale","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"type\": \"scale\",\t    \"relative\": false,\t    \"values\": {\t      \"x\":1,\t      \"y\":1,\t      \"z\":$$.payload\t    },\t    \"pivot\": {\t        \"x\": null,\t        \"y\": null,\t        \"z\": null\t    }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":3468.6665649414062,"y":2647.0001220703125,"wires":[["aa796b2adb2b5f98"]]},{"id":"aa796b2adb2b5f98","type":"box","z":"b67f596b8d985624","scene":"c0d1433da002f3c6","material":"16d6d5d01da69197","name_conf_a":"pixel_5_x_5","size_conf_n":1,"height_conf_n":"","width_conf_n":"","depth_conf_n":"","updatable_conf_b":false,"sideOrientation_conf_a":"1","pos_x":5,"pos_y":4,"pos_z":0,"scale_x":"1","scale_y":"1","scale_z":"0.25","rot_x":0,"rot_y":0,"rot_z":0,"x":3673.66650390625,"y":3187,"wires":[[]]},{"id":"9b5096143dfbf4cd","type":"change","z":"b67f596b8d985624","name":"Set Z scale","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"type\": \"scale\",\t    \"relative\": false,\t    \"values\": {\t      \"x\":1,\t      \"y\":1,\t      \"z\":$$.payload\t    },\t    \"pivot\": {\t        \"x\": null,\t        \"y\": null,\t        \"z\": null\t    }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":3468.6665649414062,"y":2697.0001220703125,"wires":[["88c9ab59d838f4c5"]]},{"id":"88c9ab59d838f4c5","type":"box","z":"b67f596b8d985624","scene":"c0d1433da002f3c6","material":"16d6d5d01da69197","name_conf_a":"pixel_5_x_6","size_conf_n":1,"height_conf_n":"","width_conf_n":"","depth_conf_n":"","updatable_conf_b":false,"sideOrientation_conf_a":"1","pos_x":5,"pos_y":3,"pos_z":0,"scale_x":"1","scale_y":"1","scale_z":"0.25","rot_x":0,"rot_y":0,"rot_z":0,"x":3673.66650390625,"y":3237,"wires":[[]]},{"id":"854801749874d58b","type":"change","z":"b67f596b8d985624","name":"Set Z scale","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"type\": \"scale\",\t    \"relative\": false,\t    \"values\": {\t      \"x\":1,\t      \"y\":1,\t      \"z\":$$.payload\t    },\t    \"pivot\": {\t        \"x\": null,\t        \"y\": null,\t        \"z\": null\t    }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":3468.6665649414062,"y":2747.0001220703125,"wires":[["c7428cd43c402d5d"]]},{"id":"c7428cd43c402d5d","type":"box","z":"b67f596b8d985624","scene":"c0d1433da002f3c6","material":"16d6d5d01da69197","name_conf_a":"pixel_5_x_7","size_conf_n":1,"height_conf_n":"","width_conf_n":"","depth_conf_n":"","updatable_conf_b":false,"sideOrientation_conf_a":"1","pos_x":5,"pos_y":2,"pos_z":0,"scale_x":"1","scale_y":"1","scale_z":"0.25","rot_x":0,"rot_y":0,"rot_z":0,"x":3673.66650390625,"y":3287,"wires":[[]]},{"id":"a624ff7110aab4e0","type":"change","z":"b67f596b8d985624","name":"Set Z scale","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"type\": \"scale\",\t    \"relative\": false,\t    \"values\": {\t      \"x\":1,\t      \"y\":1,\t      \"z\":$$.payload\t    },\t    \"pivot\": {\t        \"x\": null,\t        \"y\": null,\t        \"z\": null\t    }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":3468.6665649414062,"y":2797.0001220703125,"wires":[["9ecd264918a7a7a6"]]},{"id":"9ecd264918a7a7a6","type":"box","z":"b67f596b8d985624","scene":"c0d1433da002f3c6","material":"16d6d5d01da69197","name_conf_a":"pixel_5_x_8","size_conf_n":1,"height_conf_n":"","width_conf_n":"","depth_conf_n":"","updatable_conf_b":false,"sideOrientation_conf_a":"1","pos_x":5,"pos_y":1,"pos_z":0,"scale_x":"1","scale_y":"1","scale_z":"0.25","rot_x":0,"rot_y":0,"rot_z":0,"x":3673.66650390625,"y":3337,"wires":[[]]},{"id":"ac64b309bf319105","type":"change","z":"b67f596b8d985624","name":"Set Z scale","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"type\": \"scale\",\t    \"relative\": false,\t    \"values\": {\t      \"x\":1,\t      \"y\":1,\t      \"z\":$$.payload\t    },\t    \"pivot\": {\t        \"x\": null,\t        \"y\": null,\t        \"z\": null\t    }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":3648.6665649414062,"y":2447.0001220703125,"wires":[["03949758ffa9db6c"]]},{"id":"03949758ffa9db6c","type":"box","z":"b67f596b8d985624","scene":"c0d1433da002f3c6","material":"170342a3d67dd6ee","name_conf_a":"pixel_6_x_1","size_conf_n":1,"height_conf_n":"","width_conf_n":"","depth_conf_n":"","updatable_conf_b":false,"sideOrientation_conf_a":"1","pos_x":6,"pos_y":8,"pos_z":0,"scale_x":"1","scale_y":"1","scale_z":"0.25","rot_x":0,"rot_y":0,"rot_z":0,"x":3853.66650390625,"y":2987,"wires":[[]]},{"id":"94807aa178fbfe8d","type":"change","z":"b67f596b8d985624","name":"Set Z scale","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"type\": \"scale\",\t    \"relative\": false,\t    \"values\": {\t      \"x\":1,\t      \"y\":1,\t      \"z\":$$.payload\t    },\t    \"pivot\": {\t        \"x\": null,\t        \"y\": null,\t        \"z\": null\t    }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":3648.6665649414062,"y":2497.0001220703125,"wires":[["a0f2a6df6962824b"]]},{"id":"a0f2a6df6962824b","type":"box","z":"b67f596b8d985624","scene":"c0d1433da002f3c6","material":"170342a3d67dd6ee","name_conf_a":"pixel_6_x_2","size_conf_n":1,"height_conf_n":"","width_conf_n":"","depth_conf_n":"","updatable_conf_b":false,"sideOrientation_conf_a":"1","pos_x":6,"pos_y":7,"pos_z":0,"scale_x":"1","scale_y":"1","scale_z":"0.25","rot_x":0,"rot_y":0,"rot_z":0,"x":3853.66650390625,"y":3037,"wires":[[]]},{"id":"b3a92e4fd04d5b63","type":"change","z":"b67f596b8d985624","name":"Set Z scale","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"type\": \"scale\",\t    \"relative\": false,\t    \"values\": {\t      \"x\":1,\t      \"y\":1,\t      \"z\":$$.payload\t    },\t    \"pivot\": {\t        \"x\": null,\t        \"y\": null,\t        \"z\": null\t    }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":3648.6665649414062,"y":2547.0001220703125,"wires":[["357c253cde6e2e51"]]},{"id":"357c253cde6e2e51","type":"box","z":"b67f596b8d985624","scene":"c0d1433da002f3c6","material":"170342a3d67dd6ee","name_conf_a":"pixel_6_x_3","size_conf_n":1,"height_conf_n":"","width_conf_n":"","depth_conf_n":"","updatable_conf_b":false,"sideOrientation_conf_a":"1","pos_x":6,"pos_y":6,"pos_z":0,"scale_x":"1","scale_y":"1","scale_z":"0.25","rot_x":0,"rot_y":0,"rot_z":0,"x":3853.66650390625,"y":3087,"wires":[[]]},{"id":"fc539a0c9e508690","type":"change","z":"b67f596b8d985624","name":"Set Z scale","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"type\": \"scale\",\t    \"relative\": false,\t    \"values\": {\t      \"x\":1,\t      \"y\":1,\t      \"z\":$$.payload\t    },\t    \"pivot\": {\t        \"x\": null,\t        \"y\": null,\t        \"z\": null\t    }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":3648.6665649414062,"y":2597.0001220703125,"wires":[["d96295c66e11cb81"]]},{"id":"d96295c66e11cb81","type":"box","z":"b67f596b8d985624","scene":"c0d1433da002f3c6","material":"170342a3d67dd6ee","name_conf_a":"pixel_6_x_4","size_conf_n":1,"height_conf_n":"","width_conf_n":"","depth_conf_n":"","updatable_conf_b":false,"sideOrientation_conf_a":"1","pos_x":6,"pos_y":5,"pos_z":0,"scale_x":"1","scale_y":"1","scale_z":"0.25","rot_x":0,"rot_y":0,"rot_z":0,"x":3853.66650390625,"y":3137,"wires":[[]]},{"id":"58f4b279517e89cb","type":"change","z":"b67f596b8d985624","name":"Set Z scale","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"type\": \"scale\",\t    \"relative\": false,\t    \"values\": {\t      \"x\":1,\t      \"y\":1,\t      \"z\":$$.payload\t    },\t    \"pivot\": {\t        \"x\": null,\t        \"y\": null,\t        \"z\": null\t    }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":3648.6665649414062,"y":2647.0001220703125,"wires":[["abbefdad60ddb9ab"]]},{"id":"abbefdad60ddb9ab","type":"box","z":"b67f596b8d985624","scene":"c0d1433da002f3c6","material":"170342a3d67dd6ee","name_conf_a":"pixel_6_x_5","size_conf_n":1,"height_conf_n":"","width_conf_n":"","depth_conf_n":"","updatable_conf_b":false,"sideOrientation_conf_a":"1","pos_x":6,"pos_y":4,"pos_z":0,"scale_x":"1","scale_y":"1","scale_z":"0.25","rot_x":0,"rot_y":0,"rot_z":0,"x":3853.66650390625,"y":3187,"wires":[[]]},{"id":"0474297b3353a7fb","type":"change","z":"b67f596b8d985624","name":"Set Z scale","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"type\": \"scale\",\t    \"relative\": false,\t    \"values\": {\t      \"x\":1,\t      \"y\":1,\t      \"z\":$$.payload\t    },\t    \"pivot\": {\t        \"x\": null,\t        \"y\": null,\t        \"z\": null\t    }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":3648.6665649414062,"y":2697.0001220703125,"wires":[["6af11c91b07e1f82"]]},{"id":"6af11c91b07e1f82","type":"box","z":"b67f596b8d985624","scene":"c0d1433da002f3c6","material":"170342a3d67dd6ee","name_conf_a":"pixel_6_x_6","size_conf_n":1,"height_conf_n":"","width_conf_n":"","depth_conf_n":"","updatable_conf_b":false,"sideOrientation_conf_a":"1","pos_x":6,"pos_y":3,"pos_z":0,"scale_x":"1","scale_y":"1","scale_z":"0.25","rot_x":0,"rot_y":0,"rot_z":0,"x":3853.66650390625,"y":3237,"wires":[[]]},{"id":"f209871eccdc7d0a","type":"change","z":"b67f596b8d985624","name":"Set Z scale","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"type\": \"scale\",\t    \"relative\": false,\t    \"values\": {\t      \"x\":1,\t      \"y\":1,\t      \"z\":$$.payload\t    },\t    \"pivot\": {\t        \"x\": null,\t        \"y\": null,\t        \"z\": null\t    }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":3648.6665649414062,"y":2747.0001220703125,"wires":[["0dc54aaa32fa8078"]]},{"id":"0dc54aaa32fa8078","type":"box","z":"b67f596b8d985624","scene":"c0d1433da002f3c6","material":"170342a3d67dd6ee","name_conf_a":"pixel_6_x_7","size_conf_n":1,"height_conf_n":"","width_conf_n":"","depth_conf_n":"","updatable_conf_b":false,"sideOrientation_conf_a":"1","pos_x":6,"pos_y":2,"pos_z":0,"scale_x":"1","scale_y":"1","scale_z":"0.25","rot_x":0,"rot_y":0,"rot_z":0,"x":3853.66650390625,"y":3287,"wires":[[]]},{"id":"f51239de6e0e2760","type":"change","z":"b67f596b8d985624","name":"Set Z scale","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"type\": \"scale\",\t    \"relative\": false,\t    \"values\": {\t      \"x\":1,\t      \"y\":1,\t      \"z\":$$.payload\t    },\t    \"pivot\": {\t        \"x\": null,\t        \"y\": null,\t        \"z\": null\t    }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":3648.6665649414062,"y":2797.0001220703125,"wires":[["0fed01e6f8139050"]]},{"id":"0fed01e6f8139050","type":"box","z":"b67f596b8d985624","scene":"c0d1433da002f3c6","material":"170342a3d67dd6ee","name_conf_a":"pixel_6_x_8","size_conf_n":1,"height_conf_n":"","width_conf_n":"","depth_conf_n":"","updatable_conf_b":false,"sideOrientation_conf_a":"1","pos_x":6,"pos_y":1,"pos_z":0,"scale_x":"1","scale_y":"1","scale_z":"0.25","rot_x":0,"rot_y":0,"rot_z":0,"x":3853.66650390625,"y":3337,"wires":[[]]},{"id":"a082b3a45e99d998","type":"change","z":"b67f596b8d985624","name":"Set Z scale","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"type\": \"scale\",\t    \"relative\": false,\t    \"values\": {\t      \"x\":1,\t      \"y\":1,\t      \"z\":$$.payload\t    },\t    \"pivot\": {\t        \"x\": null,\t        \"y\": null,\t        \"z\": null\t    }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":3828.6665649414062,"y":2447.0001220703125,"wires":[["01ca4c29e9dcda42"]]},{"id":"01ca4c29e9dcda42","type":"box","z":"b67f596b8d985624","scene":"c0d1433da002f3c6","material":"e77ed599a536bd62","name_conf_a":"pixel_7_x_1","size_conf_n":1,"height_conf_n":"","width_conf_n":"","depth_conf_n":"","updatable_conf_b":false,"sideOrientation_conf_a":"1","pos_x":7,"pos_y":8,"pos_z":0,"scale_x":"1","scale_y":"1","scale_z":"0.25","rot_x":0,"rot_y":0,"rot_z":0,"x":4033.66650390625,"y":2987,"wires":[[]]},{"id":"baf34de9cfcad14d","type":"change","z":"b67f596b8d985624","name":"Set Z scale","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"type\": \"scale\",\t    \"relative\": false,\t    \"values\": {\t      \"x\":1,\t      \"y\":1,\t      \"z\":$$.payload\t    },\t    \"pivot\": {\t        \"x\": null,\t        \"y\": null,\t        \"z\": null\t    }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":3828.6665649414062,"y":2497.0001220703125,"wires":[["445b42a385ce5f3c"]]},{"id":"445b42a385ce5f3c","type":"box","z":"b67f596b8d985624","scene":"c0d1433da002f3c6","material":"e77ed599a536bd62","name_conf_a":"pixel_7_x_2","size_conf_n":1,"height_conf_n":"","width_conf_n":"","depth_conf_n":"","updatable_conf_b":false,"sideOrientation_conf_a":"1","pos_x":7,"pos_y":7,"pos_z":0,"scale_x":"1","scale_y":"1","scale_z":"0.25","rot_x":0,"rot_y":0,"rot_z":0,"x":4033.66650390625,"y":3037,"wires":[[]]},{"id":"a5cb5883302022a1","type":"change","z":"b67f596b8d985624","name":"Set Z scale","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"type\": \"scale\",\t    \"relative\": false,\t    \"values\": {\t      \"x\":1,\t      \"y\":1,\t      \"z\":$$.payload\t    },\t    \"pivot\": {\t        \"x\": null,\t        \"y\": null,\t        \"z\": null\t    }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":3828.6665649414062,"y":2547.0001220703125,"wires":[["ea006014f86b86b9"]]},{"id":"ea006014f86b86b9","type":"box","z":"b67f596b8d985624","scene":"c0d1433da002f3c6","material":"e77ed599a536bd62","name_conf_a":"pixel_7_x_3","size_conf_n":1,"height_conf_n":"","width_conf_n":"","depth_conf_n":"","updatable_conf_b":false,"sideOrientation_conf_a":"1","pos_x":7,"pos_y":6,"pos_z":0,"scale_x":"1","scale_y":"1","scale_z":"0.25","rot_x":0,"rot_y":0,"rot_z":0,"x":4033.66650390625,"y":3087,"wires":[[]]},{"id":"ac6d5239270ac69c","type":"change","z":"b67f596b8d985624","name":"Set Z scale","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"type\": \"scale\",\t    \"relative\": false,\t    \"values\": {\t      \"x\":1,\t      \"y\":1,\t      \"z\":$$.payload\t    },\t    \"pivot\": {\t        \"x\": null,\t        \"y\": null,\t        \"z\": null\t    }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":3828.6665649414062,"y":2597.0001220703125,"wires":[["e435a6904d3b5442"]]},{"id":"e435a6904d3b5442","type":"box","z":"b67f596b8d985624","scene":"c0d1433da002f3c6","material":"e77ed599a536bd62","name_conf_a":"pixel_7_x_4","size_conf_n":1,"height_conf_n":"","width_conf_n":"","depth_conf_n":"","updatable_conf_b":false,"sideOrientation_conf_a":"1","pos_x":7,"pos_y":5,"pos_z":0,"scale_x":"1","scale_y":"1","scale_z":"0.25","rot_x":0,"rot_y":0,"rot_z":0,"x":4033.66650390625,"y":3137,"wires":[[]]},{"id":"01df2933a2846582","type":"change","z":"b67f596b8d985624","name":"Set Z scale","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"type\": \"scale\",\t    \"relative\": false,\t    \"values\": {\t      \"x\":1,\t      \"y\":1,\t      \"z\":$$.payload\t    },\t    \"pivot\": {\t        \"x\": null,\t        \"y\": null,\t        \"z\": null\t    }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":3828.6665649414062,"y":2647.0001220703125,"wires":[["f9557d4c957103bb"]]},{"id":"f9557d4c957103bb","type":"box","z":"b67f596b8d985624","scene":"c0d1433da002f3c6","material":"e77ed599a536bd62","name_conf_a":"pixel_7_x_5","size_conf_n":1,"height_conf_n":"","width_conf_n":"","depth_conf_n":"","updatable_conf_b":false,"sideOrientation_conf_a":"1","pos_x":7,"pos_y":4,"pos_z":0,"scale_x":"1","scale_y":"1","scale_z":"0.25","rot_x":0,"rot_y":0,"rot_z":0,"x":4033.66650390625,"y":3187,"wires":[[]]},{"id":"1636a4f97a3d7567","type":"change","z":"b67f596b8d985624","name":"Set Z scale","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"type\": \"scale\",\t    \"relative\": false,\t    \"values\": {\t      \"x\":1,\t      \"y\":1,\t      \"z\":$$.payload\t    },\t    \"pivot\": {\t        \"x\": null,\t        \"y\": null,\t        \"z\": null\t    }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":3828.6665649414062,"y":2697.0001220703125,"wires":[["3988df22ab40d300"]]},{"id":"3988df22ab40d300","type":"box","z":"b67f596b8d985624","scene":"c0d1433da002f3c6","material":"e77ed599a536bd62","name_conf_a":"pixel_7_x_6","size_conf_n":1,"height_conf_n":"","width_conf_n":"","depth_conf_n":"","updatable_conf_b":false,"sideOrientation_conf_a":"1","pos_x":7,"pos_y":3,"pos_z":0,"scale_x":"1","scale_y":"1","scale_z":"0.25","rot_x":0,"rot_y":0,"rot_z":0,"x":4033.66650390625,"y":3237,"wires":[[]]},{"id":"deb88477332b7fc7","type":"change","z":"b67f596b8d985624","name":"Set Z scale","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"type\": \"scale\",\t    \"relative\": false,\t    \"values\": {\t      \"x\":1,\t      \"y\":1,\t      \"z\":$$.payload\t    },\t    \"pivot\": {\t        \"x\": null,\t        \"y\": null,\t        \"z\": null\t    }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":3828.6665649414062,"y":2747.0001220703125,"wires":[["241256c2cb301d68"]]},{"id":"241256c2cb301d68","type":"box","z":"b67f596b8d985624","scene":"c0d1433da002f3c6","material":"e77ed599a536bd62","name_conf_a":"pixel_7_x_7","size_conf_n":1,"height_conf_n":"","width_conf_n":"","depth_conf_n":"","updatable_conf_b":false,"sideOrientation_conf_a":"1","pos_x":7,"pos_y":2,"pos_z":0,"scale_x":"1","scale_y":"1","scale_z":"0.25","rot_x":0,"rot_y":0,"rot_z":0,"x":4033.66650390625,"y":3287,"wires":[[]]},{"id":"54779deb98d47be7","type":"change","z":"b67f596b8d985624","name":"Set Z scale","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"type\": \"scale\",\t    \"relative\": false,\t    \"values\": {\t      \"x\":1,\t      \"y\":1,\t      \"z\":$$.payload\t    },\t    \"pivot\": {\t        \"x\": null,\t        \"y\": null,\t        \"z\": null\t    }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":3828.6665649414062,"y":2797.0001220703125,"wires":[["5d9388f087ab2d48"]]},{"id":"5d9388f087ab2d48","type":"box","z":"b67f596b8d985624","scene":"c0d1433da002f3c6","material":"e77ed599a536bd62","name_conf_a":"pixel_7_x_8","size_conf_n":1,"height_conf_n":"","width_conf_n":"","depth_conf_n":"","updatable_conf_b":false,"sideOrientation_conf_a":"1","pos_x":7,"pos_y":1,"pos_z":0,"scale_x":"1","scale_y":"1","scale_z":"0.25","rot_x":0,"rot_y":0,"rot_z":0,"x":4033.66650390625,"y":3337,"wires":[[]]},{"id":"d87463e90421b674","type":"change","z":"b67f596b8d985624","name":"Set Z scale","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"type\": \"scale\",\t    \"relative\": false,\t    \"values\": {\t      \"x\":1,\t      \"y\":1,\t      \"z\":$$.payload\t    },\t    \"pivot\": {\t        \"x\": null,\t        \"y\": null,\t        \"z\": null\t    }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":4008.6665649414062,"y":2447.0001220703125,"wires":[["b440faa93fe1b4fc"]]},{"id":"b440faa93fe1b4fc","type":"box","z":"b67f596b8d985624","scene":"c0d1433da002f3c6","material":"51cceec2bba85d58","name_conf_a":"pixel_8_x_1","size_conf_n":1,"height_conf_n":"","width_conf_n":"","depth_conf_n":"","updatable_conf_b":false,"sideOrientation_conf_a":"1","pos_x":8,"pos_y":8,"pos_z":0,"scale_x":"1","scale_y":"1","scale_z":"0.25","rot_x":0,"rot_y":0,"rot_z":0,"x":4213.66650390625,"y":2987,"wires":[[]]},{"id":"8bcba0ee5834f28b","type":"change","z":"b67f596b8d985624","name":"Set Z scale","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"type\": \"scale\",\t    \"relative\": false,\t    \"values\": {\t      \"x\":1,\t      \"y\":1,\t      \"z\":$$.payload\t    },\t    \"pivot\": {\t        \"x\": null,\t        \"y\": null,\t        \"z\": null\t    }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":4008.6665649414062,"y":2497.0001220703125,"wires":[["1e3d2342b6e4faf3"]]},{"id":"1e3d2342b6e4faf3","type":"box","z":"b67f596b8d985624","scene":"c0d1433da002f3c6","material":"51cceec2bba85d58","name_conf_a":"pixel_8_x_2","size_conf_n":1,"height_conf_n":"","width_conf_n":"","depth_conf_n":"","updatable_conf_b":false,"sideOrientation_conf_a":"1","pos_x":8,"pos_y":7,"pos_z":0,"scale_x":"1","scale_y":"1","scale_z":"0.25","rot_x":0,"rot_y":0,"rot_z":0,"x":4213.66650390625,"y":3037,"wires":[[]]},{"id":"69c33b43d7de2da1","type":"change","z":"b67f596b8d985624","name":"Set Z scale","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"type\": \"scale\",\t    \"relative\": false,\t    \"values\": {\t      \"x\":1,\t      \"y\":1,\t      \"z\":$$.payload\t    },\t    \"pivot\": {\t        \"x\": null,\t        \"y\": null,\t        \"z\": null\t    }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":4008.6665649414062,"y":2547.0001220703125,"wires":[["2cda002674a8904a"]]},{"id":"2cda002674a8904a","type":"box","z":"b67f596b8d985624","scene":"c0d1433da002f3c6","material":"51cceec2bba85d58","name_conf_a":"pixel_8_x_3","size_conf_n":1,"height_conf_n":"","width_conf_n":"","depth_conf_n":"","updatable_conf_b":false,"sideOrientation_conf_a":"1","pos_x":8,"pos_y":6,"pos_z":0,"scale_x":"1","scale_y":"1","scale_z":"0.25","rot_x":0,"rot_y":0,"rot_z":0,"x":4213.66650390625,"y":3087,"wires":[[]]},{"id":"5fcce9b61c87f892","type":"change","z":"b67f596b8d985624","name":"Set Z scale","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"type\": \"scale\",\t    \"relative\": false,\t    \"values\": {\t      \"x\":1,\t      \"y\":1,\t      \"z\":$$.payload\t    },\t    \"pivot\": {\t        \"x\": null,\t        \"y\": null,\t        \"z\": null\t    }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":4008.6665649414062,"y":2597.0001220703125,"wires":[["e4bb90715be28044"]]},{"id":"e4bb90715be28044","type":"box","z":"b67f596b8d985624","scene":"c0d1433da002f3c6","material":"51cceec2bba85d58","name_conf_a":"pixel_8_x_4","size_conf_n":1,"height_conf_n":"","width_conf_n":"","depth_conf_n":"","updatable_conf_b":false,"sideOrientation_conf_a":"1","pos_x":8,"pos_y":5,"pos_z":0,"scale_x":"1","scale_y":"1","scale_z":"0.25","rot_x":0,"rot_y":0,"rot_z":0,"x":4213.66650390625,"y":3137,"wires":[[]]},{"id":"36f0b46ce4aa560b","type":"change","z":"b67f596b8d985624","name":"Set Z scale","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"type\": \"scale\",\t    \"relative\": false,\t    \"values\": {\t      \"x\":1,\t      \"y\":1,\t      \"z\":$$.payload\t    },\t    \"pivot\": {\t        \"x\": null,\t        \"y\": null,\t        \"z\": null\t    }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":4008.6665649414062,"y":2647.0001220703125,"wires":[["7a5441623c809b8f"]]},{"id":"7a5441623c809b8f","type":"box","z":"b67f596b8d985624","scene":"c0d1433da002f3c6","material":"51cceec2bba85d58","name_conf_a":"pixel_8_x_5","size_conf_n":1,"height_conf_n":"","width_conf_n":"","depth_conf_n":"","updatable_conf_b":false,"sideOrientation_conf_a":"1","pos_x":8,"pos_y":4,"pos_z":0,"scale_x":"1","scale_y":"1","scale_z":"0.25","rot_x":0,"rot_y":0,"rot_z":0,"x":4213.66650390625,"y":3187,"wires":[[]]},{"id":"e19ad7d613333c72","type":"change","z":"b67f596b8d985624","name":"Set Z scale","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"type\": \"scale\",\t    \"relative\": false,\t    \"values\": {\t      \"x\":1,\t      \"y\":1,\t      \"z\":$$.payload\t    },\t    \"pivot\": {\t        \"x\": null,\t        \"y\": null,\t        \"z\": null\t    }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":4008.6665649414062,"y":2697.0001220703125,"wires":[["7143d6c4d5ab889b"]]},{"id":"7143d6c4d5ab889b","type":"box","z":"b67f596b8d985624","scene":"c0d1433da002f3c6","material":"51cceec2bba85d58","name_conf_a":"pixel_8_x_6","size_conf_n":1,"height_conf_n":"","width_conf_n":"","depth_conf_n":"","updatable_conf_b":false,"sideOrientation_conf_a":"1","pos_x":8,"pos_y":3,"pos_z":0,"scale_x":"1","scale_y":"1","scale_z":"0.25","rot_x":0,"rot_y":0,"rot_z":0,"x":4213.66650390625,"y":3237,"wires":[[]]},{"id":"de17a3ede4c85bee","type":"change","z":"b67f596b8d985624","name":"Set Z scale","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"type\": \"scale\",\t    \"relative\": false,\t    \"values\": {\t      \"x\":1,\t      \"y\":1,\t      \"z\":$$.payload\t    },\t    \"pivot\": {\t        \"x\": null,\t        \"y\": null,\t        \"z\": null\t    }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":4008.6665649414062,"y":2747.0001220703125,"wires":[["d966863cc7d9e136"]]},{"id":"d966863cc7d9e136","type":"box","z":"b67f596b8d985624","scene":"c0d1433da002f3c6","material":"51cceec2bba85d58","name_conf_a":"pixel_8_x_7","size_conf_n":1,"height_conf_n":"","width_conf_n":"","depth_conf_n":"","updatable_conf_b":false,"sideOrientation_conf_a":"1","pos_x":8,"pos_y":2,"pos_z":0,"scale_x":"1","scale_y":"1","scale_z":"0.25","rot_x":0,"rot_y":0,"rot_z":0,"x":4213.66650390625,"y":3287,"wires":[[]]},{"id":"28d65ab44ec65cc1","type":"change","z":"b67f596b8d985624","name":"Set Z scale","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"type\": \"scale\",\t    \"relative\": false,\t    \"values\": {\t      \"x\":1,\t      \"y\":1,\t      \"z\":$$.payload\t    },\t    \"pivot\": {\t        \"x\": null,\t        \"y\": null,\t        \"z\": null\t    }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":4008.6665649414062,"y":2797.0001220703125,"wires":[["796599d5f652fd32"]]},{"id":"796599d5f652fd32","type":"box","z":"b67f596b8d985624","scene":"c0d1433da002f3c6","material":"51cceec2bba85d58","name_conf_a":"pixel_8_x_8","size_conf_n":1,"height_conf_n":"","width_conf_n":"","depth_conf_n":"","updatable_conf_b":false,"sideOrientation_conf_a":"1","pos_x":8,"pos_y":1,"pos_z":0,"scale_x":"1","scale_y":"1","scale_z":"0.25","rot_x":0,"rot_y":0,"rot_z":0,"x":4213.66650390625,"y":3337,"wires":[[]]},{"id":"ce30a258b94f2e99","type":"change","z":"b67f596b8d985624","name":"Set Z scale","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"type\": \"scale\",\t    \"relative\": false,\t    \"values\": {\t      \"x\":1,\t      \"y\":1,\t      \"z\":$$.payload\t    },\t    \"pivot\": {\t        \"x\": null,\t        \"y\": null,\t        \"z\": null\t    }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":4188.666564941406,"y":2447.0001220703125,"wires":[["111aae54dbf8c6a9"]]},{"id":"111aae54dbf8c6a9","type":"box","z":"b67f596b8d985624","scene":"c0d1433da002f3c6","material":"c435dbef01b3786b","name_conf_a":"pixel_9_x_1","size_conf_n":1,"height_conf_n":"","width_conf_n":"","depth_conf_n":"","updatable_conf_b":false,"sideOrientation_conf_a":"1","pos_x":9,"pos_y":8,"pos_z":0,"scale_x":"1","scale_y":"1","scale_z":"0.25","rot_x":0,"rot_y":0,"rot_z":0,"x":4393.66650390625,"y":2987,"wires":[[]]},{"id":"b560048a56f8dae1","type":"change","z":"b67f596b8d985624","name":"Set Z scale","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"type\": \"scale\",\t    \"relative\": false,\t    \"values\": {\t      \"x\":1,\t      \"y\":1,\t      \"z\":$$.payload\t    },\t    \"pivot\": {\t        \"x\": null,\t        \"y\": null,\t        \"z\": null\t    }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":4188.666564941406,"y":2497.0001220703125,"wires":[["21d91d6f2e9701f9"]]},{"id":"21d91d6f2e9701f9","type":"box","z":"b67f596b8d985624","scene":"c0d1433da002f3c6","material":"c435dbef01b3786b","name_conf_a":"pixel_9_x_2","size_conf_n":1,"height_conf_n":"","width_conf_n":"","depth_conf_n":"","updatable_conf_b":false,"sideOrientation_conf_a":"1","pos_x":9,"pos_y":7,"pos_z":0,"scale_x":"1","scale_y":"1","scale_z":"0.25","rot_x":0,"rot_y":0,"rot_z":0,"x":4393.66650390625,"y":3037,"wires":[[]]},{"id":"05c2bc5795611ed7","type":"change","z":"b67f596b8d985624","name":"Set Z scale","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"type\": \"scale\",\t    \"relative\": false,\t    \"values\": {\t      \"x\":1,\t      \"y\":1,\t      \"z\":$$.payload\t    },\t    \"pivot\": {\t        \"x\": null,\t        \"y\": null,\t        \"z\": null\t    }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":4188.666564941406,"y":2547.0001220703125,"wires":[["17177a158b129a3d"]]},{"id":"17177a158b129a3d","type":"box","z":"b67f596b8d985624","scene":"c0d1433da002f3c6","material":"c435dbef01b3786b","name_conf_a":"pixel_9_x_3","size_conf_n":1,"height_conf_n":"","width_conf_n":"","depth_conf_n":"","updatable_conf_b":false,"sideOrientation_conf_a":"1","pos_x":9,"pos_y":6,"pos_z":0,"scale_x":"1","scale_y":"1","scale_z":"0.25","rot_x":0,"rot_y":0,"rot_z":0,"x":4393.66650390625,"y":3087,"wires":[[]]},{"id":"83e679667569b14e","type":"change","z":"b67f596b8d985624","name":"Set Z scale","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"type\": \"scale\",\t    \"relative\": false,\t    \"values\": {\t      \"x\":1,\t      \"y\":1,\t      \"z\":$$.payload\t    },\t    \"pivot\": {\t        \"x\": null,\t        \"y\": null,\t        \"z\": null\t    }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":4188.666564941406,"y":2597.0001220703125,"wires":[["2491c946d4dc0b5a"]]},{"id":"2491c946d4dc0b5a","type":"box","z":"b67f596b8d985624","scene":"c0d1433da002f3c6","material":"c435dbef01b3786b","name_conf_a":"pixel_9_x_4","size_conf_n":1,"height_conf_n":"","width_conf_n":"","depth_conf_n":"","updatable_conf_b":false,"sideOrientation_conf_a":"1","pos_x":9,"pos_y":5,"pos_z":0,"scale_x":"1","scale_y":"1","scale_z":"0.25","rot_x":0,"rot_y":0,"rot_z":0,"x":4393.66650390625,"y":3137,"wires":[[]]},{"id":"1a3ce891d6bf3949","type":"change","z":"b67f596b8d985624","name":"Set Z scale","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"type\": \"scale\",\t    \"relative\": false,\t    \"values\": {\t      \"x\":1,\t      \"y\":1,\t      \"z\":$$.payload\t    },\t    \"pivot\": {\t        \"x\": null,\t        \"y\": null,\t        \"z\": null\t    }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":4188.666564941406,"y":2647.0001220703125,"wires":[["a45936b456d3bca3"]]},{"id":"a45936b456d3bca3","type":"box","z":"b67f596b8d985624","scene":"c0d1433da002f3c6","material":"c435dbef01b3786b","name_conf_a":"pixel_9_x_5","size_conf_n":1,"height_conf_n":"","width_conf_n":"","depth_conf_n":"","updatable_conf_b":false,"sideOrientation_conf_a":"1","pos_x":9,"pos_y":4,"pos_z":0,"scale_x":"1","scale_y":"1","scale_z":"0.25","rot_x":0,"rot_y":0,"rot_z":0,"x":4393.66650390625,"y":3187,"wires":[[]]},{"id":"48b795288f5806ce","type":"change","z":"b67f596b8d985624","name":"Set Z scale","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"type\": \"scale\",\t    \"relative\": false,\t    \"values\": {\t      \"x\":1,\t      \"y\":1,\t      \"z\":$$.payload\t    },\t    \"pivot\": {\t        \"x\": null,\t        \"y\": null,\t        \"z\": null\t    }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":4188.666564941406,"y":2697.0001220703125,"wires":[["1105f42ec9088298"]]},{"id":"1105f42ec9088298","type":"box","z":"b67f596b8d985624","scene":"c0d1433da002f3c6","material":"c435dbef01b3786b","name_conf_a":"pixel_9_x_6","size_conf_n":1,"height_conf_n":"","width_conf_n":"","depth_conf_n":"","updatable_conf_b":false,"sideOrientation_conf_a":"1","pos_x":9,"pos_y":3,"pos_z":0,"scale_x":"1","scale_y":"1","scale_z":"0.25","rot_x":0,"rot_y":0,"rot_z":0,"x":4393.66650390625,"y":3237,"wires":[[]]},{"id":"7edf4e68ad8e23ed","type":"change","z":"b67f596b8d985624","name":"Set Z scale","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"type\": \"scale\",\t    \"relative\": false,\t    \"values\": {\t      \"x\":1,\t      \"y\":1,\t      \"z\":$$.payload\t    },\t    \"pivot\": {\t        \"x\": null,\t        \"y\": null,\t        \"z\": null\t    }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":4188.666564941406,"y":2747.0001220703125,"wires":[["fdaa6e0288ad9aaf"]]},{"id":"fdaa6e0288ad9aaf","type":"box","z":"b67f596b8d985624","scene":"c0d1433da002f3c6","material":"c435dbef01b3786b","name_conf_a":"pixel_9_x_7","size_conf_n":1,"height_conf_n":"","width_conf_n":"","depth_conf_n":"","updatable_conf_b":false,"sideOrientation_conf_a":"1","pos_x":9,"pos_y":2,"pos_z":0,"scale_x":"1","scale_y":"1","scale_z":"0.25","rot_x":0,"rot_y":0,"rot_z":0,"x":4393.66650390625,"y":3287,"wires":[[]]},{"id":"f781371035b079b2","type":"change","z":"b67f596b8d985624","name":"Set Z scale","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"type\": \"scale\",\t    \"relative\": false,\t    \"values\": {\t      \"x\":1,\t      \"y\":1,\t      \"z\":$$.payload\t    },\t    \"pivot\": {\t        \"x\": null,\t        \"y\": null,\t        \"z\": null\t    }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":4188.666564941406,"y":2797.0001220703125,"wires":[["6362e2a60bc315ae"]]},{"id":"6362e2a60bc315ae","type":"box","z":"b67f596b8d985624","scene":"c0d1433da002f3c6","material":"c435dbef01b3786b","name_conf_a":"pixel_9_x_8","size_conf_n":1,"height_conf_n":"","width_conf_n":"","depth_conf_n":"","updatable_conf_b":false,"sideOrientation_conf_a":"1","pos_x":9,"pos_y":1,"pos_z":0,"scale_x":"1","scale_y":"1","scale_z":"0.25","rot_x":0,"rot_y":0,"rot_z":0,"x":4393.66650390625,"y":3337,"wires":[[]]},{"id":"7239c96ba57c3f2d","type":"change","z":"b67f596b8d985624","name":"Set Z scale","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"type\": \"scale\",\t    \"relative\": false,\t    \"values\": {\t      \"x\":1,\t      \"y\":1,\t      \"z\":$$.payload\t    },\t    \"pivot\": {\t        \"x\": null,\t        \"y\": null,\t        \"z\": null\t    }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":4368.666564941406,"y":2447.0001220703125,"wires":[["fe524db36e5acc7e"]]},{"id":"fe524db36e5acc7e","type":"box","z":"b67f596b8d985624","scene":"c0d1433da002f3c6","material":"c94e5c62f5dc8a48","name_conf_a":"pixel_10_x_1","size_conf_n":1,"height_conf_n":"","width_conf_n":"","depth_conf_n":"","updatable_conf_b":false,"sideOrientation_conf_a":"1","pos_x":10,"pos_y":8,"pos_z":0,"scale_x":"1","scale_y":"1","scale_z":"0.25","rot_x":0,"rot_y":0,"rot_z":0,"x":4573.66650390625,"y":2987,"wires":[[]]},{"id":"84b57a861f672d14","type":"change","z":"b67f596b8d985624","name":"Set Z scale","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"type\": \"scale\",\t    \"relative\": false,\t    \"values\": {\t      \"x\":1,\t      \"y\":1,\t      \"z\":$$.payload\t    },\t    \"pivot\": {\t        \"x\": null,\t        \"y\": null,\t        \"z\": null\t    }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":4368.666564941406,"y":2497.0001220703125,"wires":[["070b76926c8031c0"]]},{"id":"070b76926c8031c0","type":"box","z":"b67f596b8d985624","scene":"c0d1433da002f3c6","material":"c94e5c62f5dc8a48","name_conf_a":"pixel_10_x_2","size_conf_n":1,"height_conf_n":"","width_conf_n":"","depth_conf_n":"","updatable_conf_b":false,"sideOrientation_conf_a":"1","pos_x":10,"pos_y":7,"pos_z":0,"scale_x":"1","scale_y":"1","scale_z":"0.25","rot_x":0,"rot_y":0,"rot_z":0,"x":4573.66650390625,"y":3037,"wires":[[]]},{"id":"73f577ab12f74a91","type":"change","z":"b67f596b8d985624","name":"Set Z scale","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"type\": \"scale\",\t    \"relative\": false,\t    \"values\": {\t      \"x\":1,\t      \"y\":1,\t      \"z\":$$.payload\t    },\t    \"pivot\": {\t        \"x\": null,\t        \"y\": null,\t        \"z\": null\t    }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":4368.666564941406,"y":2547.0001220703125,"wires":[["b92c01f938b0f91e"]]},{"id":"b92c01f938b0f91e","type":"box","z":"b67f596b8d985624","scene":"c0d1433da002f3c6","material":"c94e5c62f5dc8a48","name_conf_a":"pixel_10_x_3","size_conf_n":1,"height_conf_n":"","width_conf_n":"","depth_conf_n":"","updatable_conf_b":false,"sideOrientation_conf_a":"1","pos_x":10,"pos_y":6,"pos_z":0,"scale_x":"1","scale_y":"1","scale_z":"0.25","rot_x":0,"rot_y":0,"rot_z":0,"x":4573.66650390625,"y":3087,"wires":[[]]},{"id":"a208c6b4cc9da1d8","type":"change","z":"b67f596b8d985624","name":"Set Z scale","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"type\": \"scale\",\t    \"relative\": false,\t    \"values\": {\t      \"x\":1,\t      \"y\":1,\t      \"z\":$$.payload\t    },\t    \"pivot\": {\t        \"x\": null,\t        \"y\": null,\t        \"z\": null\t    }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":4368.666564941406,"y":2597.0001220703125,"wires":[["ec30b47a3f081cdf"]]},{"id":"ec30b47a3f081cdf","type":"box","z":"b67f596b8d985624","scene":"c0d1433da002f3c6","material":"c94e5c62f5dc8a48","name_conf_a":"pixel_10_x_4","size_conf_n":1,"height_conf_n":"","width_conf_n":"","depth_conf_n":"","updatable_conf_b":false,"sideOrientation_conf_a":"1","pos_x":10,"pos_y":5,"pos_z":0,"scale_x":"1","scale_y":"1","scale_z":"0.25","rot_x":0,"rot_y":0,"rot_z":0,"x":4573.66650390625,"y":3137,"wires":[[]]},{"id":"7fedf0c39d2ebe71","type":"change","z":"b67f596b8d985624","name":"Set Z scale","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"type\": \"scale\",\t    \"relative\": false,\t    \"values\": {\t      \"x\":1,\t      \"y\":1,\t      \"z\":$$.payload\t    },\t    \"pivot\": {\t        \"x\": null,\t        \"y\": null,\t        \"z\": null\t    }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":4368.666564941406,"y":2647.0001220703125,"wires":[["06f170ef401f3813"]]},{"id":"06f170ef401f3813","type":"box","z":"b67f596b8d985624","scene":"c0d1433da002f3c6","material":"c94e5c62f5dc8a48","name_conf_a":"pixel_10_x_5","size_conf_n":1,"height_conf_n":"","width_conf_n":"","depth_conf_n":"","updatable_conf_b":false,"sideOrientation_conf_a":"1","pos_x":10,"pos_y":4,"pos_z":0,"scale_x":"1","scale_y":"1","scale_z":"0.25","rot_x":0,"rot_y":0,"rot_z":0,"x":4573.66650390625,"y":3187,"wires":[[]]},{"id":"a12f6743eedd751c","type":"change","z":"b67f596b8d985624","name":"Set Z scale","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"type\": \"scale\",\t    \"relative\": false,\t    \"values\": {\t      \"x\":1,\t      \"y\":1,\t      \"z\":$$.payload\t    },\t    \"pivot\": {\t        \"x\": null,\t        \"y\": null,\t        \"z\": null\t    }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":4368.666564941406,"y":2697.0001220703125,"wires":[["f004b4e7143ee8a5"]]},{"id":"f004b4e7143ee8a5","type":"box","z":"b67f596b8d985624","scene":"c0d1433da002f3c6","material":"c94e5c62f5dc8a48","name_conf_a":"pixel_10_x_6","size_conf_n":1,"height_conf_n":"","width_conf_n":"","depth_conf_n":"","updatable_conf_b":false,"sideOrientation_conf_a":"1","pos_x":10,"pos_y":3,"pos_z":0,"scale_x":"1","scale_y":"1","scale_z":"0.25","rot_x":0,"rot_y":0,"rot_z":0,"x":4573.66650390625,"y":3237,"wires":[[]]},{"id":"85853657841c43c4","type":"change","z":"b67f596b8d985624","name":"Set Z scale","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"type\": \"scale\",\t    \"relative\": false,\t    \"values\": {\t      \"x\":1,\t      \"y\":1,\t      \"z\":$$.payload\t    },\t    \"pivot\": {\t        \"x\": null,\t        \"y\": null,\t        \"z\": null\t    }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":4368.666564941406,"y":2747.0001220703125,"wires":[["8ad4c5f5f2b8f85f"]]},{"id":"8ad4c5f5f2b8f85f","type":"box","z":"b67f596b8d985624","scene":"c0d1433da002f3c6","material":"c94e5c62f5dc8a48","name_conf_a":"pixel_10_x_7","size_conf_n":1,"height_conf_n":"","width_conf_n":"","depth_conf_n":"","updatable_conf_b":false,"sideOrientation_conf_a":"1","pos_x":10,"pos_y":2,"pos_z":0,"scale_x":"1","scale_y":"1","scale_z":"0.25","rot_x":0,"rot_y":0,"rot_z":0,"x":4573.66650390625,"y":3287,"wires":[[]]},{"id":"0b99038cea473931","type":"change","z":"b67f596b8d985624","name":"Set Z scale","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"type\": \"scale\",\t    \"relative\": false,\t    \"values\": {\t      \"x\":1,\t      \"y\":1,\t      \"z\":$$.payload\t    },\t    \"pivot\": {\t        \"x\": null,\t        \"y\": null,\t        \"z\": null\t    }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":4368.666564941406,"y":2797.0001220703125,"wires":[["3925c11a670d3a3b"]]},{"id":"3925c11a670d3a3b","type":"box","z":"b67f596b8d985624","scene":"c0d1433da002f3c6","material":"c94e5c62f5dc8a48","name_conf_a":"pixel_10_x_8","size_conf_n":1,"height_conf_n":"","width_conf_n":"","depth_conf_n":"","updatable_conf_b":false,"sideOrientation_conf_a":"1","pos_x":10,"pos_y":1,"pos_z":0,"scale_x":"1","scale_y":"1","scale_z":"0.25","rot_x":0,"rot_y":0,"rot_z":0,"x":4573.66650390625,"y":3337,"wires":[[]]},{"id":"da2286c5a382c3aa","type":"change","z":"b67f596b8d985624","name":"Set Z scale","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"type\": \"scale\",\t    \"relative\": false,\t    \"values\": {\t      \"x\":1,\t      \"y\":1,\t      \"z\":$$.payload\t    },\t    \"pivot\": {\t        \"x\": null,\t        \"y\": null,\t        \"z\": null\t    }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":4548.666564941406,"y":2447.0001220703125,"wires":[["7bde58600e367580"]]},{"id":"7bde58600e367580","type":"box","z":"b67f596b8d985624","scene":"c0d1433da002f3c6","material":"bc0ee257eee647f2","name_conf_a":"pixel_11_x_1","size_conf_n":1,"height_conf_n":"","width_conf_n":"","depth_conf_n":"","updatable_conf_b":false,"sideOrientation_conf_a":"1","pos_x":11,"pos_y":8,"pos_z":0,"scale_x":"1","scale_y":"1","scale_z":"0.25","rot_x":0,"rot_y":0,"rot_z":0,"x":4753.66650390625,"y":2987,"wires":[[]]},{"id":"2bc974008914d3b1","type":"change","z":"b67f596b8d985624","name":"Set Z scale","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"type\": \"scale\",\t    \"relative\": false,\t    \"values\": {\t      \"x\":1,\t      \"y\":1,\t      \"z\":$$.payload\t    },\t    \"pivot\": {\t        \"x\": null,\t        \"y\": null,\t        \"z\": null\t    }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":4548.666564941406,"y":2497.0001220703125,"wires":[["c236d96207ffa0f1"]]},{"id":"c236d96207ffa0f1","type":"box","z":"b67f596b8d985624","scene":"c0d1433da002f3c6","material":"bc0ee257eee647f2","name_conf_a":"pixel_11_x_2","size_conf_n":1,"height_conf_n":"","width_conf_n":"","depth_conf_n":"","updatable_conf_b":false,"sideOrientation_conf_a":"1","pos_x":11,"pos_y":7,"pos_z":0,"scale_x":"1","scale_y":"1","scale_z":"0.25","rot_x":0,"rot_y":0,"rot_z":0,"x":4753.66650390625,"y":3037,"wires":[[]]},{"id":"32edcdeb566d88de","type":"change","z":"b67f596b8d985624","name":"Set Z scale","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"type\": \"scale\",\t    \"relative\": false,\t    \"values\": {\t      \"x\":1,\t      \"y\":1,\t      \"z\":$$.payload\t    },\t    \"pivot\": {\t        \"x\": null,\t        \"y\": null,\t        \"z\": null\t    }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":4548.666564941406,"y":2547.0001220703125,"wires":[["d3e94447e1f2a829"]]},{"id":"d3e94447e1f2a829","type":"box","z":"b67f596b8d985624","scene":"c0d1433da002f3c6","material":"bc0ee257eee647f2","name_conf_a":"pixel_11_x_3","size_conf_n":1,"height_conf_n":"","width_conf_n":"","depth_conf_n":"","updatable_conf_b":false,"sideOrientation_conf_a":"1","pos_x":11,"pos_y":6,"pos_z":0,"scale_x":"1","scale_y":"1","scale_z":"0.25","rot_x":0,"rot_y":0,"rot_z":0,"x":4753.66650390625,"y":3087,"wires":[[]]},{"id":"4defaf1cefbe868b","type":"change","z":"b67f596b8d985624","name":"Set Z scale","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"type\": \"scale\",\t    \"relative\": false,\t    \"values\": {\t      \"x\":1,\t      \"y\":1,\t      \"z\":$$.payload\t    },\t    \"pivot\": {\t        \"x\": null,\t        \"y\": null,\t        \"z\": null\t    }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":4548.666564941406,"y":2597.0001220703125,"wires":[["e151dcc07375edc7"]]},{"id":"e151dcc07375edc7","type":"box","z":"b67f596b8d985624","scene":"c0d1433da002f3c6","material":"bc0ee257eee647f2","name_conf_a":"pixel_11_x_4","size_conf_n":1,"height_conf_n":"","width_conf_n":"","depth_conf_n":"","updatable_conf_b":false,"sideOrientation_conf_a":"1","pos_x":11,"pos_y":5,"pos_z":0,"scale_x":"1","scale_y":"1","scale_z":"0.25","rot_x":0,"rot_y":0,"rot_z":0,"x":4753.66650390625,"y":3137,"wires":[[]]},{"id":"7b41d2aa14abec83","type":"change","z":"b67f596b8d985624","name":"Set Z scale","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"type\": \"scale\",\t    \"relative\": false,\t    \"values\": {\t      \"x\":1,\t      \"y\":1,\t      \"z\":$$.payload\t    },\t    \"pivot\": {\t        \"x\": null,\t        \"y\": null,\t        \"z\": null\t    }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":4548.666564941406,"y":2647.0001220703125,"wires":[["ba200a444ca0bdf8"]]},{"id":"ba200a444ca0bdf8","type":"box","z":"b67f596b8d985624","scene":"c0d1433da002f3c6","material":"bc0ee257eee647f2","name_conf_a":"pixel_11_x_5","size_conf_n":1,"height_conf_n":"","width_conf_n":"","depth_conf_n":"","updatable_conf_b":false,"sideOrientation_conf_a":"1","pos_x":11,"pos_y":4,"pos_z":0,"scale_x":"1","scale_y":"1","scale_z":"0.25","rot_x":0,"rot_y":0,"rot_z":0,"x":4753.66650390625,"y":3187,"wires":[[]]},{"id":"db2cc0efdf97cb8b","type":"change","z":"b67f596b8d985624","name":"Set Z scale","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"type\": \"scale\",\t    \"relative\": false,\t    \"values\": {\t      \"x\":1,\t      \"y\":1,\t      \"z\":$$.payload\t    },\t    \"pivot\": {\t        \"x\": null,\t        \"y\": null,\t        \"z\": null\t    }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":4548.666564941406,"y":2697.0001220703125,"wires":[["7dd476e4a61716b9"]]},{"id":"7dd476e4a61716b9","type":"box","z":"b67f596b8d985624","scene":"c0d1433da002f3c6","material":"bc0ee257eee647f2","name_conf_a":"pixel_11_x_6","size_conf_n":1,"height_conf_n":"","width_conf_n":"","depth_conf_n":"","updatable_conf_b":false,"sideOrientation_conf_a":"1","pos_x":11,"pos_y":3,"pos_z":0,"scale_x":"1","scale_y":"1","scale_z":"0.25","rot_x":0,"rot_y":0,"rot_z":0,"x":4753.66650390625,"y":3237,"wires":[[]]},{"id":"e7af802354041379","type":"change","z":"b67f596b8d985624","name":"Set Z scale","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"type\": \"scale\",\t    \"relative\": false,\t    \"values\": {\t      \"x\":1,\t      \"y\":1,\t      \"z\":$$.payload\t    },\t    \"pivot\": {\t        \"x\": null,\t        \"y\": null,\t        \"z\": null\t    }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":4548.666564941406,"y":2747.0001220703125,"wires":[["870a2b1d475ebdd7"]]},{"id":"870a2b1d475ebdd7","type":"box","z":"b67f596b8d985624","scene":"c0d1433da002f3c6","material":"bc0ee257eee647f2","name_conf_a":"pixel_11_x_7","size_conf_n":1,"height_conf_n":"","width_conf_n":"","depth_conf_n":"","updatable_conf_b":false,"sideOrientation_conf_a":"1","pos_x":11,"pos_y":2,"pos_z":0,"scale_x":"1","scale_y":"1","scale_z":"0.25","rot_x":0,"rot_y":0,"rot_z":0,"x":4753.66650390625,"y":3287,"wires":[[]]},{"id":"33b309a0c66e9fdd","type":"change","z":"b67f596b8d985624","name":"Set Z scale","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"type\": \"scale\",\t    \"relative\": false,\t    \"values\": {\t      \"x\":1,\t      \"y\":1,\t      \"z\":$$.payload\t    },\t    \"pivot\": {\t        \"x\": null,\t        \"y\": null,\t        \"z\": null\t    }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":4548.666564941406,"y":2797.0001220703125,"wires":[["2dd8575d68643c3f"]]},{"id":"2dd8575d68643c3f","type":"box","z":"b67f596b8d985624","scene":"c0d1433da002f3c6","material":"bc0ee257eee647f2","name_conf_a":"pixel_11_x_8","size_conf_n":1,"height_conf_n":"","width_conf_n":"","depth_conf_n":"","updatable_conf_b":false,"sideOrientation_conf_a":"1","pos_x":11,"pos_y":1,"pos_z":0,"scale_x":"1","scale_y":"1","scale_z":"0.25","rot_x":0,"rot_y":0,"rot_z":0,"x":4753.66650390625,"y":3337,"wires":[[]]},{"id":"103c45a5be1d0c9a","type":"change","z":"b67f596b8d985624","name":"Set Z scale","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"type\": \"scale\",\t    \"relative\": false,\t    \"values\": {\t      \"x\":1,\t      \"y\":1,\t      \"z\":$$.payload\t    },\t    \"pivot\": {\t        \"x\": null,\t        \"y\": null,\t        \"z\": null\t    }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":4728.666564941406,"y":2447.0001220703125,"wires":[["006944f04f139b87"]]},{"id":"006944f04f139b87","type":"box","z":"b67f596b8d985624","scene":"c0d1433da002f3c6","material":"416ad340651d6c50","name_conf_a":"pixel_12_x_1","size_conf_n":1,"height_conf_n":"","width_conf_n":"","depth_conf_n":"","updatable_conf_b":false,"sideOrientation_conf_a":"1","pos_x":12,"pos_y":8,"pos_z":0,"scale_x":"1","scale_y":"1","scale_z":"0.25","rot_x":0,"rot_y":0,"rot_z":0,"x":4933.66650390625,"y":2987,"wires":[[]]},{"id":"76ddbef165490233","type":"change","z":"b67f596b8d985624","name":"Set Z scale","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"type\": \"scale\",\t    \"relative\": false,\t    \"values\": {\t      \"x\":1,\t      \"y\":1,\t      \"z\":$$.payload\t    },\t    \"pivot\": {\t        \"x\": null,\t        \"y\": null,\t        \"z\": null\t    }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":4728.666564941406,"y":2497.0001220703125,"wires":[["351c28fd2248b17d"]]},{"id":"351c28fd2248b17d","type":"box","z":"b67f596b8d985624","scene":"c0d1433da002f3c6","material":"416ad340651d6c50","name_conf_a":"pixel_12_x_2","size_conf_n":1,"height_conf_n":"","width_conf_n":"","depth_conf_n":"","updatable_conf_b":false,"sideOrientation_conf_a":"1","pos_x":12,"pos_y":7,"pos_z":0,"scale_x":"1","scale_y":"1","scale_z":"0.25","rot_x":0,"rot_y":0,"rot_z":0,"x":4933.66650390625,"y":3037,"wires":[[]]},{"id":"77990bc5a598fab2","type":"change","z":"b67f596b8d985624","name":"Set Z scale","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"type\": \"scale\",\t    \"relative\": false,\t    \"values\": {\t      \"x\":1,\t      \"y\":1,\t      \"z\":$$.payload\t    },\t    \"pivot\": {\t        \"x\": null,\t        \"y\": null,\t        \"z\": null\t    }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":4728.666564941406,"y":2547.0001220703125,"wires":[["795c7e4c9b5d0dd0"]]},{"id":"795c7e4c9b5d0dd0","type":"box","z":"b67f596b8d985624","scene":"c0d1433da002f3c6","material":"416ad340651d6c50","name_conf_a":"pixel_12_x_3","size_conf_n":1,"height_conf_n":"","width_conf_n":"","depth_conf_n":"","updatable_conf_b":false,"sideOrientation_conf_a":"1","pos_x":12,"pos_y":6,"pos_z":0,"scale_x":"1","scale_y":"1","scale_z":"0.25","rot_x":0,"rot_y":0,"rot_z":0,"x":4933.66650390625,"y":3087,"wires":[[]]},{"id":"76dc85eec766e61d","type":"change","z":"b67f596b8d985624","name":"Set Z scale","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"type\": \"scale\",\t    \"relative\": false,\t    \"values\": {\t      \"x\":1,\t      \"y\":1,\t      \"z\":$$.payload\t    },\t    \"pivot\": {\t        \"x\": null,\t        \"y\": null,\t        \"z\": null\t    }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":4728.666564941406,"y":2597.0001220703125,"wires":[["db797bef0be5b2d1"]]},{"id":"db797bef0be5b2d1","type":"box","z":"b67f596b8d985624","scene":"c0d1433da002f3c6","material":"416ad340651d6c50","name_conf_a":"pixel_12_x_4","size_conf_n":1,"height_conf_n":"","width_conf_n":"","depth_conf_n":"","updatable_conf_b":false,"sideOrientation_conf_a":"1","pos_x":12,"pos_y":5,"pos_z":0,"scale_x":"1","scale_y":"1","scale_z":"0.25","rot_x":0,"rot_y":0,"rot_z":0,"x":4933.66650390625,"y":3137,"wires":[[]]},{"id":"94ab6f048867497c","type":"change","z":"b67f596b8d985624","name":"Set Z scale","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"type\": \"scale\",\t    \"relative\": false,\t    \"values\": {\t      \"x\":1,\t      \"y\":1,\t      \"z\":$$.payload\t    },\t    \"pivot\": {\t        \"x\": null,\t        \"y\": null,\t        \"z\": null\t    }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":4728.666564941406,"y":2647.0001220703125,"wires":[["a24676b7d52fceb3"]]},{"id":"a24676b7d52fceb3","type":"box","z":"b67f596b8d985624","scene":"c0d1433da002f3c6","material":"416ad340651d6c50","name_conf_a":"pixel_12_x_5","size_conf_n":1,"height_conf_n":"","width_conf_n":"","depth_conf_n":"","updatable_conf_b":false,"sideOrientation_conf_a":"1","pos_x":12,"pos_y":4,"pos_z":0,"scale_x":"1","scale_y":"1","scale_z":"0.25","rot_x":0,"rot_y":0,"rot_z":0,"x":4933.66650390625,"y":3187,"wires":[[]]},{"id":"647e99034a822263","type":"change","z":"b67f596b8d985624","name":"Set Z scale","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"type\": \"scale\",\t    \"relative\": false,\t    \"values\": {\t      \"x\":1,\t      \"y\":1,\t      \"z\":$$.payload\t    },\t    \"pivot\": {\t        \"x\": null,\t        \"y\": null,\t        \"z\": null\t    }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":4728.666564941406,"y":2697.0001220703125,"wires":[["29221d3158f6659d"]]},{"id":"29221d3158f6659d","type":"box","z":"b67f596b8d985624","scene":"c0d1433da002f3c6","material":"416ad340651d6c50","name_conf_a":"pixel_12_x_6","size_conf_n":1,"height_conf_n":"","width_conf_n":"","depth_conf_n":"","updatable_conf_b":false,"sideOrientation_conf_a":"1","pos_x":12,"pos_y":3,"pos_z":0,"scale_x":"1","scale_y":"1","scale_z":"0.25","rot_x":0,"rot_y":0,"rot_z":0,"x":4933.66650390625,"y":3237,"wires":[[]]},{"id":"ff1a141a865d70fb","type":"change","z":"b67f596b8d985624","name":"Set Z scale","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"type\": \"scale\",\t    \"relative\": false,\t    \"values\": {\t      \"x\":1,\t      \"y\":1,\t      \"z\":$$.payload\t    },\t    \"pivot\": {\t        \"x\": null,\t        \"y\": null,\t        \"z\": null\t    }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":4728.666564941406,"y":2747.0001220703125,"wires":[["4e317ecf62b215b4"]]},{"id":"4e317ecf62b215b4","type":"box","z":"b67f596b8d985624","scene":"c0d1433da002f3c6","material":"416ad340651d6c50","name_conf_a":"pixel_12_x_7","size_conf_n":1,"height_conf_n":"","width_conf_n":"","depth_conf_n":"","updatable_conf_b":false,"sideOrientation_conf_a":"1","pos_x":12,"pos_y":2,"pos_z":0,"scale_x":"1","scale_y":"1","scale_z":"0.25","rot_x":0,"rot_y":0,"rot_z":0,"x":4933.66650390625,"y":3287,"wires":[[]]},{"id":"a5b37c08a32ba14e","type":"change","z":"b67f596b8d985624","name":"Set Z scale","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"type\": \"scale\",\t    \"relative\": false,\t    \"values\": {\t      \"x\":1,\t      \"y\":1,\t      \"z\":$$.payload\t    },\t    \"pivot\": {\t        \"x\": null,\t        \"y\": null,\t        \"z\": null\t    }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":4728.666564941406,"y":2797.0001220703125,"wires":[["5c39724b9e8e1684"]]},{"id":"5c39724b9e8e1684","type":"box","z":"b67f596b8d985624","scene":"c0d1433da002f3c6","material":"416ad340651d6c50","name_conf_a":"pixel_12_x_8","size_conf_n":1,"height_conf_n":"","width_conf_n":"","depth_conf_n":"","updatable_conf_b":false,"sideOrientation_conf_a":"1","pos_x":12,"pos_y":1,"pos_z":0,"scale_x":"1","scale_y":"1","scale_z":"0.25","rot_x":0,"rot_y":0,"rot_z":0,"x":4933.66650390625,"y":3337,"wires":[[]]},{"id":"3388ef17db015f8d","type":"change","z":"b67f596b8d985624","name":"Set Z scale","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"type\": \"scale\",\t    \"relative\": false,\t    \"values\": {\t      \"x\":1,\t      \"y\":1,\t      \"z\":$$.payload\t    },\t    \"pivot\": {\t        \"x\": null,\t        \"y\": null,\t        \"z\": null\t    }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":4908.666564941406,"y":2447.0001220703125,"wires":[["ced02f2b9f7ff21c"]]},{"id":"ced02f2b9f7ff21c","type":"box","z":"b67f596b8d985624","scene":"c0d1433da002f3c6","material":"b86e8a681363dc9e","name_conf_a":"pixel_13_x_1","size_conf_n":1,"height_conf_n":"","width_conf_n":"","depth_conf_n":"","updatable_conf_b":false,"sideOrientation_conf_a":"1","pos_x":13,"pos_y":8,"pos_z":0,"scale_x":"1","scale_y":"1","scale_z":"0.25","rot_x":0,"rot_y":0,"rot_z":0,"x":5113.66650390625,"y":2987,"wires":[[]]},{"id":"542521fae7c7af1d","type":"change","z":"b67f596b8d985624","name":"Set Z scale","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"type\": \"scale\",\t    \"relative\": false,\t    \"values\": {\t      \"x\":1,\t      \"y\":1,\t      \"z\":$$.payload\t    },\t    \"pivot\": {\t        \"x\": null,\t        \"y\": null,\t        \"z\": null\t    }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":4908.666564941406,"y":2497.0001220703125,"wires":[["1d84685dce7e189b"]]},{"id":"1d84685dce7e189b","type":"box","z":"b67f596b8d985624","scene":"c0d1433da002f3c6","material":"b86e8a681363dc9e","name_conf_a":"pixel_13_x_2","size_conf_n":1,"height_conf_n":"","width_conf_n":"","depth_conf_n":"","updatable_conf_b":false,"sideOrientation_conf_a":"1","pos_x":13,"pos_y":7,"pos_z":0,"scale_x":"1","scale_y":"1","scale_z":"0.25","rot_x":0,"rot_y":0,"rot_z":0,"x":5113.66650390625,"y":3037,"wires":[[]]},{"id":"727f76683f0fc74b","type":"change","z":"b67f596b8d985624","name":"Set Z scale","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"type\": \"scale\",\t    \"relative\": false,\t    \"values\": {\t      \"x\":1,\t      \"y\":1,\t      \"z\":$$.payload\t    },\t    \"pivot\": {\t        \"x\": null,\t        \"y\": null,\t        \"z\": null\t    }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":4908.666564941406,"y":2547.0001220703125,"wires":[["562c0ff4cd71dc0e"]]},{"id":"562c0ff4cd71dc0e","type":"box","z":"b67f596b8d985624","scene":"c0d1433da002f3c6","material":"b86e8a681363dc9e","name_conf_a":"pixel_13_x_3","size_conf_n":1,"height_conf_n":"","width_conf_n":"","depth_conf_n":"","updatable_conf_b":false,"sideOrientation_conf_a":"1","pos_x":13,"pos_y":6,"pos_z":0,"scale_x":"1","scale_y":"1","scale_z":"0.25","rot_x":0,"rot_y":0,"rot_z":0,"x":5113.66650390625,"y":3087,"wires":[[]]},{"id":"636b8216882de46b","type":"change","z":"b67f596b8d985624","name":"Set Z scale","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"type\": \"scale\",\t    \"relative\": false,\t    \"values\": {\t      \"x\":1,\t      \"y\":1,\t      \"z\":$$.payload\t    },\t    \"pivot\": {\t        \"x\": null,\t        \"y\": null,\t        \"z\": null\t    }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":4908.666564941406,"y":2597.0001220703125,"wires":[["3b50c5cd05b23127"]]},{"id":"3b50c5cd05b23127","type":"box","z":"b67f596b8d985624","scene":"c0d1433da002f3c6","material":"b86e8a681363dc9e","name_conf_a":"pixel_13_x_4","size_conf_n":1,"height_conf_n":"","width_conf_n":"","depth_conf_n":"","updatable_conf_b":false,"sideOrientation_conf_a":"1","pos_x":13,"pos_y":5,"pos_z":0,"scale_x":"1","scale_y":"1","scale_z":"0.25","rot_x":0,"rot_y":0,"rot_z":0,"x":5113.66650390625,"y":3137,"wires":[[]]},{"id":"2ccc5f6e85a2c44b","type":"change","z":"b67f596b8d985624","name":"Set Z scale","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"type\": \"scale\",\t    \"relative\": false,\t    \"values\": {\t      \"x\":1,\t      \"y\":1,\t      \"z\":$$.payload\t    },\t    \"pivot\": {\t        \"x\": null,\t        \"y\": null,\t        \"z\": null\t    }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":4908.666564941406,"y":2647.0001220703125,"wires":[["2b5da2dc043575dc"]]},{"id":"2b5da2dc043575dc","type":"box","z":"b67f596b8d985624","scene":"c0d1433da002f3c6","material":"b86e8a681363dc9e","name_conf_a":"pixel_13_x_5","size_conf_n":1,"height_conf_n":"","width_conf_n":"","depth_conf_n":"","updatable_conf_b":false,"sideOrientation_conf_a":"1","pos_x":13,"pos_y":4,"pos_z":0,"scale_x":"1","scale_y":"1","scale_z":"0.25","rot_x":0,"rot_y":0,"rot_z":0,"x":5113.66650390625,"y":3187,"wires":[[]]},{"id":"34f19de5261c1def","type":"change","z":"b67f596b8d985624","name":"Set Z scale","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"type\": \"scale\",\t    \"relative\": false,\t    \"values\": {\t      \"x\":1,\t      \"y\":1,\t      \"z\":$$.payload\t    },\t    \"pivot\": {\t        \"x\": null,\t        \"y\": null,\t        \"z\": null\t    }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":4908.666564941406,"y":2697.0001220703125,"wires":[["89ab7e051e257352"]]},{"id":"89ab7e051e257352","type":"box","z":"b67f596b8d985624","scene":"c0d1433da002f3c6","material":"b86e8a681363dc9e","name_conf_a":"pixel_13_x_6","size_conf_n":1,"height_conf_n":"","width_conf_n":"","depth_conf_n":"","updatable_conf_b":false,"sideOrientation_conf_a":"1","pos_x":13,"pos_y":3,"pos_z":0,"scale_x":"1","scale_y":"1","scale_z":"0.25","rot_x":0,"rot_y":0,"rot_z":0,"x":5113.66650390625,"y":3237,"wires":[[]]},{"id":"6d514c48bc0b49d2","type":"change","z":"b67f596b8d985624","name":"Set Z scale","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"type\": \"scale\",\t    \"relative\": false,\t    \"values\": {\t      \"x\":1,\t      \"y\":1,\t      \"z\":$$.payload\t    },\t    \"pivot\": {\t        \"x\": null,\t        \"y\": null,\t        \"z\": null\t    }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":4908.666564941406,"y":2747.0001220703125,"wires":[["0fa9178bd0449ee8"]]},{"id":"0fa9178bd0449ee8","type":"box","z":"b67f596b8d985624","scene":"c0d1433da002f3c6","material":"b86e8a681363dc9e","name_conf_a":"pixel_13_x_7","size_conf_n":1,"height_conf_n":"","width_conf_n":"","depth_conf_n":"","updatable_conf_b":false,"sideOrientation_conf_a":"1","pos_x":13,"pos_y":2,"pos_z":0,"scale_x":"1","scale_y":"1","scale_z":"0.25","rot_x":0,"rot_y":0,"rot_z":0,"x":5113.66650390625,"y":3287,"wires":[[]]},{"id":"580360d28c1d3661","type":"change","z":"b67f596b8d985624","name":"Set Z scale","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"type\": \"scale\",\t    \"relative\": false,\t    \"values\": {\t      \"x\":1,\t      \"y\":1,\t      \"z\":$$.payload\t    },\t    \"pivot\": {\t        \"x\": null,\t        \"y\": null,\t        \"z\": null\t    }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":4908.666564941406,"y":2797.0001220703125,"wires":[["37fc66e31e71066f"]]},{"id":"37fc66e31e71066f","type":"box","z":"b67f596b8d985624","scene":"c0d1433da002f3c6","material":"b86e8a681363dc9e","name_conf_a":"pixel_13_x_8","size_conf_n":1,"height_conf_n":"","width_conf_n":"","depth_conf_n":"","updatable_conf_b":false,"sideOrientation_conf_a":"1","pos_x":13,"pos_y":1,"pos_z":0,"scale_x":"1","scale_y":"1","scale_z":"0.25","rot_x":0,"rot_y":0,"rot_z":0,"x":5113.66650390625,"y":3337,"wires":[[]]},{"id":"5c9c8f6640743868","type":"change","z":"b67f596b8d985624","name":"Set Z scale","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"type\": \"scale\",\t    \"relative\": false,\t    \"values\": {\t      \"x\":1,\t      \"y\":1,\t      \"z\":$$.payload\t    },\t    \"pivot\": {\t        \"x\": null,\t        \"y\": null,\t        \"z\": null\t    }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":5088.666564941406,"y":2447.0001220703125,"wires":[["bfa73298802b89aa"]]},{"id":"bfa73298802b89aa","type":"box","z":"b67f596b8d985624","scene":"c0d1433da002f3c6","material":"86e66cc1f9b33093","name_conf_a":"pixel_14_x_1","size_conf_n":1,"height_conf_n":"","width_conf_n":"","depth_conf_n":"","updatable_conf_b":false,"sideOrientation_conf_a":"1","pos_x":14,"pos_y":8,"pos_z":0,"scale_x":"1","scale_y":"1","scale_z":"0.25","rot_x":0,"rot_y":0,"rot_z":0,"x":5293.66650390625,"y":2987,"wires":[[]]},{"id":"79bd9c0fef996f8b","type":"change","z":"b67f596b8d985624","name":"Set Z scale","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"type\": \"scale\",\t    \"relative\": false,\t    \"values\": {\t      \"x\":1,\t      \"y\":1,\t      \"z\":$$.payload\t    },\t    \"pivot\": {\t        \"x\": null,\t        \"y\": null,\t        \"z\": null\t    }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":5088.666564941406,"y":2497.0001220703125,"wires":[["a721153d80c949e1"]]},{"id":"a721153d80c949e1","type":"box","z":"b67f596b8d985624","scene":"c0d1433da002f3c6","material":"86e66cc1f9b33093","name_conf_a":"pixel_14_x_2","size_conf_n":1,"height_conf_n":"","width_conf_n":"","depth_conf_n":"","updatable_conf_b":false,"sideOrientation_conf_a":"1","pos_x":14,"pos_y":7,"pos_z":0,"scale_x":"1","scale_y":"1","scale_z":"0.25","rot_x":0,"rot_y":0,"rot_z":0,"x":5293.66650390625,"y":3037,"wires":[[]]},{"id":"a9d886b0a41d5c7c","type":"change","z":"b67f596b8d985624","name":"Set Z scale","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"type\": \"scale\",\t    \"relative\": false,\t    \"values\": {\t      \"x\":1,\t      \"y\":1,\t      \"z\":$$.payload\t    },\t    \"pivot\": {\t        \"x\": null,\t        \"y\": null,\t        \"z\": null\t    }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":5088.666564941406,"y":2547.0001220703125,"wires":[["1d0b1ea753f9bb9b"]]},{"id":"1d0b1ea753f9bb9b","type":"box","z":"b67f596b8d985624","scene":"c0d1433da002f3c6","material":"86e66cc1f9b33093","name_conf_a":"pixel_14_x_3","size_conf_n":1,"height_conf_n":"","width_conf_n":"","depth_conf_n":"","updatable_conf_b":false,"sideOrientation_conf_a":"1","pos_x":14,"pos_y":6,"pos_z":0,"scale_x":"1","scale_y":"1","scale_z":"0.25","rot_x":0,"rot_y":0,"rot_z":0,"x":5293.66650390625,"y":3087,"wires":[[]]},{"id":"66bc4719ca21c68d","type":"change","z":"b67f596b8d985624","name":"Set Z scale","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"type\": \"scale\",\t    \"relative\": false,\t    \"values\": {\t      \"x\":1,\t      \"y\":1,\t      \"z\":$$.payload\t    },\t    \"pivot\": {\t        \"x\": null,\t        \"y\": null,\t        \"z\": null\t    }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":5088.666564941406,"y":2597.0001220703125,"wires":[["9137cbf8194d3520"]]},{"id":"9137cbf8194d3520","type":"box","z":"b67f596b8d985624","scene":"c0d1433da002f3c6","material":"86e66cc1f9b33093","name_conf_a":"pixel_14_x_4","size_conf_n":1,"height_conf_n":"","width_conf_n":"","depth_conf_n":"","updatable_conf_b":false,"sideOrientation_conf_a":"1","pos_x":14,"pos_y":5,"pos_z":0,"scale_x":"1","scale_y":"1","scale_z":"0.25","rot_x":0,"rot_y":0,"rot_z":0,"x":5293.66650390625,"y":3137,"wires":[[]]},{"id":"9ad23045cf00e707","type":"change","z":"b67f596b8d985624","name":"Set Z scale","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"type\": \"scale\",\t    \"relative\": false,\t    \"values\": {\t      \"x\":1,\t      \"y\":1,\t      \"z\":$$.payload\t    },\t    \"pivot\": {\t        \"x\": null,\t        \"y\": null,\t        \"z\": null\t    }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":5088.666564941406,"y":2647.0001220703125,"wires":[["c269282edb03a56f"]]},{"id":"c269282edb03a56f","type":"box","z":"b67f596b8d985624","scene":"c0d1433da002f3c6","material":"86e66cc1f9b33093","name_conf_a":"pixel_14_x_5","size_conf_n":1,"height_conf_n":"","width_conf_n":"","depth_conf_n":"","updatable_conf_b":false,"sideOrientation_conf_a":"1","pos_x":14,"pos_y":4,"pos_z":0,"scale_x":"1","scale_y":"1","scale_z":"0.25","rot_x":0,"rot_y":0,"rot_z":0,"x":5293.66650390625,"y":3187,"wires":[[]]},{"id":"18f57a84d7c3aabe","type":"change","z":"b67f596b8d985624","name":"Set Z scale","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"type\": \"scale\",\t    \"relative\": false,\t    \"values\": {\t      \"x\":1,\t      \"y\":1,\t      \"z\":$$.payload\t    },\t    \"pivot\": {\t        \"x\": null,\t        \"y\": null,\t        \"z\": null\t    }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":5088.666564941406,"y":2697.0001220703125,"wires":[["d313b41d7f7d3075"]]},{"id":"d313b41d7f7d3075","type":"box","z":"b67f596b8d985624","scene":"c0d1433da002f3c6","material":"86e66cc1f9b33093","name_conf_a":"pixel_14_x_6","size_conf_n":1,"height_conf_n":"","width_conf_n":"","depth_conf_n":"","updatable_conf_b":false,"sideOrientation_conf_a":"1","pos_x":14,"pos_y":3,"pos_z":0,"scale_x":"1","scale_y":"1","scale_z":"0.25","rot_x":0,"rot_y":0,"rot_z":0,"x":5293.66650390625,"y":3237,"wires":[[]]},{"id":"616082d48758ca30","type":"change","z":"b67f596b8d985624","name":"Set Z scale","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"type\": \"scale\",\t    \"relative\": false,\t    \"values\": {\t      \"x\":1,\t      \"y\":1,\t      \"z\":$$.payload\t    },\t    \"pivot\": {\t        \"x\": null,\t        \"y\": null,\t        \"z\": null\t    }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":5088.666564941406,"y":2747.0001220703125,"wires":[["a9ae587b0a8df394"]]},{"id":"a9ae587b0a8df394","type":"box","z":"b67f596b8d985624","scene":"c0d1433da002f3c6","material":"86e66cc1f9b33093","name_conf_a":"pixel_14_x_7","size_conf_n":1,"height_conf_n":"","width_conf_n":"","depth_conf_n":"","updatable_conf_b":false,"sideOrientation_conf_a":"1","pos_x":14,"pos_y":2,"pos_z":0,"scale_x":"1","scale_y":"1","scale_z":"0.25","rot_x":0,"rot_y":0,"rot_z":0,"x":5293.66650390625,"y":3287,"wires":[[]]},{"id":"0de18eabbaebf2af","type":"change","z":"b67f596b8d985624","name":"Set Z scale","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"type\": \"scale\",\t    \"relative\": false,\t    \"values\": {\t      \"x\":1,\t      \"y\":1,\t      \"z\":$$.payload\t    },\t    \"pivot\": {\t        \"x\": null,\t        \"y\": null,\t        \"z\": null\t    }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":5088.666564941406,"y":2797.0001220703125,"wires":[["18f474bb8df02621"]]},{"id":"18f474bb8df02621","type":"box","z":"b67f596b8d985624","scene":"c0d1433da002f3c6","material":"86e66cc1f9b33093","name_conf_a":"pixel_14_x_8","size_conf_n":1,"height_conf_n":"","width_conf_n":"","depth_conf_n":"","updatable_conf_b":false,"sideOrientation_conf_a":"1","pos_x":14,"pos_y":1,"pos_z":0,"scale_x":"1","scale_y":"1","scale_z":"0.25","rot_x":0,"rot_y":0,"rot_z":0,"x":5293.66650390625,"y":3337,"wires":[[]]},{"id":"cd130d57c6ec9b9a","type":"change","z":"b67f596b8d985624","name":"Set Z scale","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"type\": \"scale\",\t    \"relative\": false,\t    \"values\": {\t      \"x\":1,\t      \"y\":1,\t      \"z\":$$.payload\t    },\t    \"pivot\": {\t        \"x\": null,\t        \"y\": null,\t        \"z\": null\t    }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":5268.666564941406,"y":2447.0001220703125,"wires":[["51610decb3acef02"]]},{"id":"51610decb3acef02","type":"box","z":"b67f596b8d985624","scene":"c0d1433da002f3c6","material":"1b4e96a06989bbaf","name_conf_a":"pixel_15_x_1","size_conf_n":1,"height_conf_n":"","width_conf_n":"","depth_conf_n":"","updatable_conf_b":false,"sideOrientation_conf_a":"1","pos_x":15,"pos_y":8,"pos_z":0,"scale_x":"1","scale_y":"1","scale_z":"0.25","rot_x":0,"rot_y":0,"rot_z":0,"x":5473.66650390625,"y":2987,"wires":[[]]},{"id":"3b633c2f4fab22c5","type":"change","z":"b67f596b8d985624","name":"Set Z scale","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"type\": \"scale\",\t    \"relative\": false,\t    \"values\": {\t      \"x\":1,\t      \"y\":1,\t      \"z\":$$.payload\t    },\t    \"pivot\": {\t        \"x\": null,\t        \"y\": null,\t        \"z\": null\t    }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":5268.666564941406,"y":2497.0001220703125,"wires":[["17c67abd34776245"]]},{"id":"17c67abd34776245","type":"box","z":"b67f596b8d985624","scene":"c0d1433da002f3c6","material":"1b4e96a06989bbaf","name_conf_a":"pixel_15_x_2","size_conf_n":1,"height_conf_n":"","width_conf_n":"","depth_conf_n":"","updatable_conf_b":false,"sideOrientation_conf_a":"1","pos_x":15,"pos_y":7,"pos_z":0,"scale_x":"1","scale_y":"1","scale_z":"0.25","rot_x":0,"rot_y":0,"rot_z":0,"x":5473.66650390625,"y":3037,"wires":[[]]},{"id":"5db85219698c3e56","type":"change","z":"b67f596b8d985624","name":"Set Z scale","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"type\": \"scale\",\t    \"relative\": false,\t    \"values\": {\t      \"x\":1,\t      \"y\":1,\t      \"z\":$$.payload\t    },\t    \"pivot\": {\t        \"x\": null,\t        \"y\": null,\t        \"z\": null\t    }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":5268.666564941406,"y":2547.0001220703125,"wires":[["a9a13adc2185018a"]]},{"id":"a9a13adc2185018a","type":"box","z":"b67f596b8d985624","scene":"c0d1433da002f3c6","material":"1b4e96a06989bbaf","name_conf_a":"pixel_15_x_3","size_conf_n":1,"height_conf_n":"","width_conf_n":"","depth_conf_n":"","updatable_conf_b":false,"sideOrientation_conf_a":"1","pos_x":15,"pos_y":6,"pos_z":0,"scale_x":"1","scale_y":"1","scale_z":"0.25","rot_x":0,"rot_y":0,"rot_z":0,"x":5473.66650390625,"y":3087,"wires":[[]]},{"id":"25a77907ca920fc2","type":"change","z":"b67f596b8d985624","name":"Set Z scale","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"type\": \"scale\",\t    \"relative\": false,\t    \"values\": {\t      \"x\":1,\t      \"y\":1,\t      \"z\":$$.payload\t    },\t    \"pivot\": {\t        \"x\": null,\t        \"y\": null,\t        \"z\": null\t    }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":5268.666564941406,"y":2597.0001220703125,"wires":[["dd0137499ed7a760"]]},{"id":"dd0137499ed7a760","type":"box","z":"b67f596b8d985624","scene":"c0d1433da002f3c6","material":"1b4e96a06989bbaf","name_conf_a":"pixel_15_x_4","size_conf_n":1,"height_conf_n":"","width_conf_n":"","depth_conf_n":"","updatable_conf_b":false,"sideOrientation_conf_a":"1","pos_x":15,"pos_y":5,"pos_z":0,"scale_x":"1","scale_y":"1","scale_z":"0.25","rot_x":0,"rot_y":0,"rot_z":0,"x":5473.66650390625,"y":3137,"wires":[[]]},{"id":"9b60f435dc2617c4","type":"change","z":"b67f596b8d985624","name":"Set Z scale","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"type\": \"scale\",\t    \"relative\": false,\t    \"values\": {\t      \"x\":1,\t      \"y\":1,\t      \"z\":$$.payload\t    },\t    \"pivot\": {\t        \"x\": null,\t        \"y\": null,\t        \"z\": null\t    }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":5268.666564941406,"y":2647.0001220703125,"wires":[["d53f11ff922a16c3"]]},{"id":"d53f11ff922a16c3","type":"box","z":"b67f596b8d985624","scene":"c0d1433da002f3c6","material":"1b4e96a06989bbaf","name_conf_a":"pixel_15_x_5","size_conf_n":1,"height_conf_n":"","width_conf_n":"","depth_conf_n":"","updatable_conf_b":false,"sideOrientation_conf_a":"1","pos_x":15,"pos_y":4,"pos_z":0,"scale_x":"1","scale_y":"1","scale_z":"0.25","rot_x":0,"rot_y":0,"rot_z":0,"x":5473.66650390625,"y":3187,"wires":[[]]},{"id":"2fd72fa76868dd52","type":"change","z":"b67f596b8d985624","name":"Set Z scale","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"type\": \"scale\",\t    \"relative\": false,\t    \"values\": {\t      \"x\":1,\t      \"y\":1,\t      \"z\":$$.payload\t    },\t    \"pivot\": {\t        \"x\": null,\t        \"y\": null,\t        \"z\": null\t    }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":5268.666564941406,"y":2697.0001220703125,"wires":[["3e596a5e7a856fcf"]]},{"id":"3e596a5e7a856fcf","type":"box","z":"b67f596b8d985624","scene":"c0d1433da002f3c6","material":"1b4e96a06989bbaf","name_conf_a":"pixel_15_x_6","size_conf_n":1,"height_conf_n":"","width_conf_n":"","depth_conf_n":"","updatable_conf_b":false,"sideOrientation_conf_a":"1","pos_x":15,"pos_y":3,"pos_z":0,"scale_x":"1","scale_y":"1","scale_z":"0.25","rot_x":0,"rot_y":0,"rot_z":0,"x":5473.66650390625,"y":3237,"wires":[[]]},{"id":"fbbeb4b7d94b7a3c","type":"change","z":"b67f596b8d985624","name":"Set Z scale","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"type\": \"scale\",\t    \"relative\": false,\t    \"values\": {\t      \"x\":1,\t      \"y\":1,\t      \"z\":$$.payload\t    },\t    \"pivot\": {\t        \"x\": null,\t        \"y\": null,\t        \"z\": null\t    }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":5268.666564941406,"y":2747.0001220703125,"wires":[["470b4ffa131e152e"]]},{"id":"470b4ffa131e152e","type":"box","z":"b67f596b8d985624","scene":"c0d1433da002f3c6","material":"1b4e96a06989bbaf","name_conf_a":"pixel_15_x_7","size_conf_n":1,"height_conf_n":"","width_conf_n":"","depth_conf_n":"","updatable_conf_b":false,"sideOrientation_conf_a":"1","pos_x":15,"pos_y":2,"pos_z":0,"scale_x":"1","scale_y":"1","scale_z":"0.25","rot_x":0,"rot_y":0,"rot_z":0,"x":5473.66650390625,"y":3287,"wires":[[]]},{"id":"a27d2bfc603fd9eb","type":"change","z":"b67f596b8d985624","name":"Set Z scale","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"type\": \"scale\",\t    \"relative\": false,\t    \"values\": {\t      \"x\":1,\t      \"y\":1,\t      \"z\":$$.payload\t    },\t    \"pivot\": {\t        \"x\": null,\t        \"y\": null,\t        \"z\": null\t    }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":5268.666564941406,"y":2797.0001220703125,"wires":[["ba0b9125c6011067"]]},{"id":"ba0b9125c6011067","type":"box","z":"b67f596b8d985624","scene":"c0d1433da002f3c6","material":"1b4e96a06989bbaf","name_conf_a":"pixel_15_x_8","size_conf_n":1,"height_conf_n":"","width_conf_n":"","depth_conf_n":"","updatable_conf_b":false,"sideOrientation_conf_a":"1","pos_x":15,"pos_y":1,"pos_z":0,"scale_x":"1","scale_y":"1","scale_z":"0.25","rot_x":0,"rot_y":0,"rot_z":0,"x":5473.66650390625,"y":3337,"wires":[[]]},{"id":"7047c753782b7cbd","type":"change","z":"b67f596b8d985624","name":"Set Z scale","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"type\": \"scale\",\t    \"relative\": false,\t    \"values\": {\t      \"x\":1,\t      \"y\":1,\t      \"z\":$$.payload\t    },\t    \"pivot\": {\t        \"x\": null,\t        \"y\": null,\t        \"z\": null\t    }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":5448.666564941406,"y":2447.0001220703125,"wires":[["cd3a41ac1796729b"]]},{"id":"cd3a41ac1796729b","type":"box","z":"b67f596b8d985624","scene":"c0d1433da002f3c6","material":"06bc34b84084f2fd","name_conf_a":"pixel_16_x_1","size_conf_n":1,"height_conf_n":"","width_conf_n":"","depth_conf_n":"","updatable_conf_b":false,"sideOrientation_conf_a":"1","pos_x":16,"pos_y":8,"pos_z":0,"scale_x":"1","scale_y":"1","scale_z":"0.25","rot_x":0,"rot_y":0,"rot_z":0,"x":5653.66650390625,"y":2987,"wires":[[]]},{"id":"658cc715f11f7722","type":"change","z":"b67f596b8d985624","name":"Set Z scale","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"type\": \"scale\",\t    \"relative\": false,\t    \"values\": {\t      \"x\":1,\t      \"y\":1,\t      \"z\":$$.payload\t    },\t    \"pivot\": {\t        \"x\": null,\t        \"y\": null,\t        \"z\": null\t    }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":5448.666564941406,"y":2497.0001220703125,"wires":[["605eaaa3db96bba0"]]},{"id":"605eaaa3db96bba0","type":"box","z":"b67f596b8d985624","scene":"c0d1433da002f3c6","material":"06bc34b84084f2fd","name_conf_a":"pixel_16_x_2","size_conf_n":1,"height_conf_n":"","width_conf_n":"","depth_conf_n":"","updatable_conf_b":false,"sideOrientation_conf_a":"1","pos_x":16,"pos_y":7,"pos_z":0,"scale_x":"1","scale_y":"1","scale_z":"0.25","rot_x":0,"rot_y":0,"rot_z":0,"x":5653.66650390625,"y":3037,"wires":[[]]},{"id":"3a6a88ad2ca147d7","type":"change","z":"b67f596b8d985624","name":"Set Z scale","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"type\": \"scale\",\t    \"relative\": false,\t    \"values\": {\t      \"x\":1,\t      \"y\":1,\t      \"z\":$$.payload\t    },\t    \"pivot\": {\t        \"x\": null,\t        \"y\": null,\t        \"z\": null\t    }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":5448.666564941406,"y":2547.0001220703125,"wires":[["a59327ddc641b12c"]]},{"id":"a59327ddc641b12c","type":"box","z":"b67f596b8d985624","scene":"c0d1433da002f3c6","material":"06bc34b84084f2fd","name_conf_a":"pixel_16_x_3","size_conf_n":1,"height_conf_n":"","width_conf_n":"","depth_conf_n":"","updatable_conf_b":false,"sideOrientation_conf_a":"1","pos_x":16,"pos_y":6,"pos_z":0,"scale_x":"1","scale_y":"1","scale_z":"0.25","rot_x":0,"rot_y":0,"rot_z":0,"x":5653.66650390625,"y":3087,"wires":[[]]},{"id":"20346b6a3172d0fa","type":"change","z":"b67f596b8d985624","name":"Set Z scale","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"type\": \"scale\",\t    \"relative\": false,\t    \"values\": {\t      \"x\":1,\t      \"y\":1,\t      \"z\":$$.payload\t    },\t    \"pivot\": {\t        \"x\": null,\t        \"y\": null,\t        \"z\": null\t    }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":5448.666564941406,"y":2597.0001220703125,"wires":[["aca9288fb7194427"]]},{"id":"aca9288fb7194427","type":"box","z":"b67f596b8d985624","scene":"c0d1433da002f3c6","material":"06bc34b84084f2fd","name_conf_a":"pixel_16_x_4","size_conf_n":1,"height_conf_n":"","width_conf_n":"","depth_conf_n":"","updatable_conf_b":false,"sideOrientation_conf_a":"1","pos_x":16,"pos_y":5,"pos_z":0,"scale_x":"1","scale_y":"1","scale_z":"0.25","rot_x":0,"rot_y":0,"rot_z":0,"x":5653.66650390625,"y":3137,"wires":[[]]},{"id":"f216a8e34297a5fd","type":"change","z":"b67f596b8d985624","name":"Set Z scale","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"type\": \"scale\",\t    \"relative\": false,\t    \"values\": {\t      \"x\":1,\t      \"y\":1,\t      \"z\":$$.payload\t    },\t    \"pivot\": {\t        \"x\": null,\t        \"y\": null,\t        \"z\": null\t    }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":5448.666564941406,"y":2647.0001220703125,"wires":[["387bf5574a47f5df"]]},{"id":"387bf5574a47f5df","type":"box","z":"b67f596b8d985624","scene":"c0d1433da002f3c6","material":"06bc34b84084f2fd","name_conf_a":"pixel_16_x_5","size_conf_n":1,"height_conf_n":"","width_conf_n":"","depth_conf_n":"","updatable_conf_b":false,"sideOrientation_conf_a":"1","pos_x":16,"pos_y":4,"pos_z":0,"scale_x":"1","scale_y":"1","scale_z":"0.25","rot_x":0,"rot_y":0,"rot_z":0,"x":5653.66650390625,"y":3187,"wires":[[]]},{"id":"3a0e37b8a5cb68cd","type":"change","z":"b67f596b8d985624","name":"Set Z scale","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"type\": \"scale\",\t    \"relative\": false,\t    \"values\": {\t      \"x\":1,\t      \"y\":1,\t      \"z\":$$.payload\t    },\t    \"pivot\": {\t        \"x\": null,\t        \"y\": null,\t        \"z\": null\t    }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":5448.666564941406,"y":2697.0001220703125,"wires":[["db4bf066c01fbf60"]]},{"id":"db4bf066c01fbf60","type":"box","z":"b67f596b8d985624","scene":"c0d1433da002f3c6","material":"06bc34b84084f2fd","name_conf_a":"pixel_16_x_6","size_conf_n":1,"height_conf_n":"","width_conf_n":"","depth_conf_n":"","updatable_conf_b":false,"sideOrientation_conf_a":"1","pos_x":16,"pos_y":3,"pos_z":0,"scale_x":"1","scale_y":"1","scale_z":"0.25","rot_x":0,"rot_y":0,"rot_z":0,"x":5653.66650390625,"y":3237,"wires":[[]]},{"id":"8c368e216aa14fd2","type":"change","z":"b67f596b8d985624","name":"Set Z scale","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"type\": \"scale\",\t    \"relative\": false,\t    \"values\": {\t      \"x\":1,\t      \"y\":1,\t      \"z\":$$.payload\t    },\t    \"pivot\": {\t        \"x\": null,\t        \"y\": null,\t        \"z\": null\t    }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":5448.666564941406,"y":2747.0001220703125,"wires":[["0ec17f6b856ce4d9"]]},{"id":"0ec17f6b856ce4d9","type":"box","z":"b67f596b8d985624","scene":"c0d1433da002f3c6","material":"06bc34b84084f2fd","name_conf_a":"pixel_16_x_7","size_conf_n":1,"height_conf_n":"","width_conf_n":"","depth_conf_n":"","updatable_conf_b":false,"sideOrientation_conf_a":"1","pos_x":16,"pos_y":2,"pos_z":0,"scale_x":"1","scale_y":"1","scale_z":"0.25","rot_x":0,"rot_y":0,"rot_z":0,"x":5653.66650390625,"y":3287,"wires":[[]]},{"id":"bab9225357a47b2f","type":"change","z":"b67f596b8d985624","name":"Set Z scale","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"type\": \"scale\",\t    \"relative\": false,\t    \"values\": {\t      \"x\":1,\t      \"y\":1,\t      \"z\":$$.payload\t    },\t    \"pivot\": {\t        \"x\": null,\t        \"y\": null,\t        \"z\": null\t    }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":5448.666564941406,"y":2797.0001220703125,"wires":[["0eab80161e6354b7"]]},{"id":"0eab80161e6354b7","type":"box","z":"b67f596b8d985624","scene":"c0d1433da002f3c6","material":"06bc34b84084f2fd","name_conf_a":"pixel_16_x_8","size_conf_n":1,"height_conf_n":"","width_conf_n":"","depth_conf_n":"","updatable_conf_b":false,"sideOrientation_conf_a":"1","pos_x":16,"pos_y":1,"pos_z":0,"scale_x":"1","scale_y":"1","scale_z":"0.25","rot_x":0,"rot_y":0,"rot_z":0,"x":5653.66650390625,"y":3337,"wires":[[]]},{"id":"4da6adf598fecbe1","type":"switch","z":"b67f596b8d985624","name":"col switch","property":"col","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"num"},{"t":"eq","v":"4","vt":"num"},{"t":"eq","v":"5","vt":"num"},{"t":"eq","v":"6","vt":"num"},{"t":"eq","v":"7","vt":"num"},{"t":"eq","v":"8","vt":"num"},{"t":"eq","v":"9","vt":"num"},{"t":"eq","v":"10","vt":"num"},{"t":"eq","v":"11","vt":"num"},{"t":"eq","v":"12","vt":"num"},{"t":"eq","v":"13","vt":"num"},{"t":"eq","v":"14","vt":"num"},{"t":"eq","v":"15","vt":"num"},{"t":"eq","v":"16","vt":"num"}],"checkall":"false","repair":false,"outputs":16,"x":2270.66650390625,"y":1184.0001831054688,"wires":[["67f8a446bce92ff1"],["a9bab020bccdfa0a"],["d2ac5c7f7a90bdfe"],["f42907454b511cda"],["03bf077a0ed9f67e"],["703d2d7454f90168"],["12fd233a039cdd52"],["7edd6222c458ff97"],["d6691db1d7bb8cd4"],["7942035eeab6d336"],["16444e6a203739ae"],["444e1f69eeeb7759"],["5cf7ca0d46dcd2d3"],["011e8505e4f47a3d"],["3a074b8274f41f3f"],["df1c59cdd72ebc28"]]},{"id":"67f8a446bce92ff1","type":"switch","z":"b67f596b8d985624","name":"row switch for col 1","property":"row","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"num"},{"t":"eq","v":"4","vt":"num"},{"t":"eq","v":"5","vt":"num"},{"t":"eq","v":"6","vt":"num"},{"t":"eq","v":"7","vt":"num"},{"t":"eq","v":"8","vt":"num"}],"checkall":"false","repair":false,"outputs":8,"x":2516.16650390625,"y":1987.0001220703125,"wires":[["5c8fc9e144211476"],["14be3bfcaabba43a"],["4d9c5251ad177d25"],["e40a627cd4a8090d"],["f50654aac801de3d"],["e3d690388221c66a"],["0f9fb374b4248bd8"],["626b369b15924f71"]]},{"id":"a9bab020bccdfa0a","type":"switch","z":"b67f596b8d985624","name":"row switch for col 2","property":"row","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"num"},{"t":"eq","v":"4","vt":"num"},{"t":"eq","v":"5","vt":"num"},{"t":"eq","v":"6","vt":"num"},{"t":"eq","v":"7","vt":"num"},{"t":"eq","v":"8","vt":"num"}],"checkall":"false","repair":false,"outputs":8,"x":2706.1666259765625,"y":2187.0001220703125,"wires":[["2c34fd3fcdf2df6b"],["be15674e003203f7"],["bc22e7bd8b88a6a0"],["b8b1199782f523ef"],["79b5c35ceb7cc171"],["fe640ca7dcafee43"],["66319b4dae11ebe3"],["7f72730a419813d2"]]},{"id":"d2ac5c7f7a90bdfe","type":"switch","z":"b67f596b8d985624","name":"row switch for col 3","property":"row","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"num"},{"t":"eq","v":"4","vt":"num"},{"t":"eq","v":"5","vt":"num"},{"t":"eq","v":"6","vt":"num"},{"t":"eq","v":"7","vt":"num"},{"t":"eq","v":"8","vt":"num"}],"checkall":"false","repair":false,"outputs":8,"x":2888.6666259765625,"y":2049.5001220703125,"wires":[["e9f85248dcc4416e"],["7f73e68c55e95109"],["d3221822348adddd"],["e53cbc3d47578dae"],["10221294dd4958b9"],["4e778ce521fa1ef0"],["0f098cc8ceb115e9"],["9805260d8c0de1ed"]]},{"id":"f42907454b511cda","type":"switch","z":"b67f596b8d985624","name":"row switch for col 4","property":"row","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"num"},{"t":"eq","v":"4","vt":"num"},{"t":"eq","v":"5","vt":"num"},{"t":"eq","v":"6","vt":"num"},{"t":"eq","v":"7","vt":"num"},{"t":"eq","v":"8","vt":"num"}],"checkall":"false","repair":false,"outputs":8,"x":3073.6666259765625,"y":1899.5001220703125,"wires":[["8ad66c7ff2addef8"],["3df77c353725a883"],["73088d9ecd7d6a96"],["d40b4fcc083468a0"],["9947dbec8d45b09d"],["dc748551e4b07738"],["6f666d5897e2fc66"],["88fe3c6f6cc851c7"]]},{"id":"03bf077a0ed9f67e","type":"switch","z":"b67f596b8d985624","name":"row switch for col 5","property":"row","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"num"},{"t":"eq","v":"4","vt":"num"},{"t":"eq","v":"5","vt":"num"},{"t":"eq","v":"6","vt":"num"},{"t":"eq","v":"7","vt":"num"},{"t":"eq","v":"8","vt":"num"}],"checkall":"false","repair":false,"outputs":8,"x":3233.666748046875,"y":1737.0001220703125,"wires":[["eb35a1422a1f4993"],["576934a33bb8c6d6"],["ab9fcc6c441b2d6d"],["2ab1d2c867d171fa"],["a47f4e86884b048f"],["9b5096143dfbf4cd"],["854801749874d58b"],["a624ff7110aab4e0"]]},{"id":"703d2d7454f90168","type":"switch","z":"b67f596b8d985624","name":"row switch for col 6","property":"row","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"num"},{"t":"eq","v":"4","vt":"num"},{"t":"eq","v":"5","vt":"num"},{"t":"eq","v":"6","vt":"num"},{"t":"eq","v":"7","vt":"num"},{"t":"eq","v":"8","vt":"num"}],"checkall":"false","repair":false,"outputs":8,"x":3436.166748046875,"y":1607.0001220703125,"wires":[["ac64b309bf319105"],["94807aa178fbfe8d"],["b3a92e4fd04d5b63"],["fc539a0c9e508690"],["58f4b279517e89cb"],["0474297b3353a7fb"],["f209871eccdc7d0a"],["f51239de6e0e2760"]]},{"id":"12fd233a039cdd52","type":"switch","z":"b67f596b8d985624","name":"row switch for col 7","property":"row","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"num"},{"t":"eq","v":"4","vt":"num"},{"t":"eq","v":"5","vt":"num"},{"t":"eq","v":"6","vt":"num"},{"t":"eq","v":"7","vt":"num"},{"t":"eq","v":"8","vt":"num"}],"checkall":"false","repair":false,"outputs":8,"x":3603.666748046875,"y":1774.5001220703125,"wires":[["a082b3a45e99d998"],["baf34de9cfcad14d"],["a5cb5883302022a1"],["ac6d5239270ac69c"],["01df2933a2846582"],["1636a4f97a3d7567"],["deb88477332b7fc7"],["54779deb98d47be7"]]},{"id":"7edd6222c458ff97","type":"switch","z":"b67f596b8d985624","name":"row switch for col 8","property":"row","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"num"},{"t":"eq","v":"4","vt":"num"},{"t":"eq","v":"5","vt":"num"},{"t":"eq","v":"6","vt":"num"},{"t":"eq","v":"7","vt":"num"},{"t":"eq","v":"8","vt":"num"}],"checkall":"false","repair":false,"outputs":8,"x":3786.166748046875,"y":1942.0001220703125,"wires":[["d87463e90421b674"],["8bcba0ee5834f28b"],["69c33b43d7de2da1"],["5fcce9b61c87f892"],["36f0b46ce4aa560b"],["e19ad7d613333c72"],["de17a3ede4c85bee"],["28d65ab44ec65cc1"]]},{"id":"d6691db1d7bb8cd4","type":"switch","z":"b67f596b8d985624","name":"row switch for col 9","property":"row","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"num"},{"t":"eq","v":"4","vt":"num"},{"t":"eq","v":"5","vt":"num"},{"t":"eq","v":"6","vt":"num"},{"t":"eq","v":"7","vt":"num"},{"t":"eq","v":"8","vt":"num"}],"checkall":"false","repair":false,"outputs":8,"x":3963.666748046875,"y":2072.0001220703125,"wires":[["ce30a258b94f2e99"],["b560048a56f8dae1"],["05c2bc5795611ed7"],["83e679667569b14e"],["1a3ce891d6bf3949"],["48b795288f5806ce"],["7edf4e68ad8e23ed"],["f781371035b079b2"]]},{"id":"7942035eeab6d336","type":"switch","z":"b67f596b8d985624","name":"row switch for col 10","property":"row","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"num"},{"t":"eq","v":"4","vt":"num"},{"t":"eq","v":"5","vt":"num"},{"t":"eq","v":"6","vt":"num"},{"t":"eq","v":"7","vt":"num"},{"t":"eq","v":"8","vt":"num"}],"checkall":"false","repair":false,"outputs":8,"x":4136.166748046875,"y":2217.0001220703125,"wires":[["7239c96ba57c3f2d"],["84b57a861f672d14"],["73f577ab12f74a91"],["a208c6b4cc9da1d8"],["7fedf0c39d2ebe71"],["a12f6743eedd751c"],["85853657841c43c4"],["0b99038cea473931"]]},{"id":"16444e6a203739ae","type":"switch","z":"b67f596b8d985624","name":"row switch for col 11","property":"row","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"num"},{"t":"eq","v":"4","vt":"num"},{"t":"eq","v":"5","vt":"num"},{"t":"eq","v":"6","vt":"num"},{"t":"eq","v":"7","vt":"num"},{"t":"eq","v":"8","vt":"num"}],"checkall":"false","repair":false,"outputs":8,"x":4323.666748046875,"y":2057.0001220703125,"wires":[["da2286c5a382c3aa"],["2bc974008914d3b1"],["32edcdeb566d88de"],["4defaf1cefbe868b"],["7b41d2aa14abec83"],["db2cc0efdf97cb8b"],["e7af802354041379"],["33b309a0c66e9fdd"]]},{"id":"444e1f69eeeb7759","type":"switch","z":"b67f596b8d985624","name":"row switch for col 12","property":"row","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"num"},{"t":"eq","v":"4","vt":"num"},{"t":"eq","v":"5","vt":"num"},{"t":"eq","v":"6","vt":"num"},{"t":"eq","v":"7","vt":"num"},{"t":"eq","v":"8","vt":"num"}],"checkall":"false","repair":false,"outputs":8,"x":4493.6669921875,"y":1929.5001220703125,"wires":[["103c45a5be1d0c9a"],["76ddbef165490233"],["77990bc5a598fab2"],["76dc85eec766e61d"],["94ab6f048867497c"],["647e99034a822263"],["ff1a141a865d70fb"],["a5b37c08a32ba14e"]]},{"id":"5cf7ca0d46dcd2d3","type":"switch","z":"b67f596b8d985624","name":"row switch for col 13","property":"row","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"num"},{"t":"eq","v":"4","vt":"num"},{"t":"eq","v":"5","vt":"num"},{"t":"eq","v":"6","vt":"num"},{"t":"eq","v":"7","vt":"num"},{"t":"eq","v":"8","vt":"num"}],"checkall":"false","repair":false,"outputs":8,"x":4673.6669921875,"y":1772.0001220703125,"wires":[["3388ef17db015f8d"],["542521fae7c7af1d"],["727f76683f0fc74b"],["636b8216882de46b"],["2ccc5f6e85a2c44b"],["34f19de5261c1def"],["6d514c48bc0b49d2"],["580360d28c1d3661"]]},{"id":"011e8505e4f47a3d","type":"switch","z":"b67f596b8d985624","name":"row switch for col 14","property":"row","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"num"},{"t":"eq","v":"4","vt":"num"},{"t":"eq","v":"5","vt":"num"},{"t":"eq","v":"6","vt":"num"},{"t":"eq","v":"7","vt":"num"},{"t":"eq","v":"8","vt":"num"}],"checkall":"false","repair":false,"outputs":8,"x":4853.6669921875,"y":1642.0001220703125,"wires":[["5c9c8f6640743868"],["79bd9c0fef996f8b"],["a9d886b0a41d5c7c"],["66bc4719ca21c68d"],["9ad23045cf00e707"],["18f57a84d7c3aabe"],["616082d48758ca30"],["0de18eabbaebf2af"]]},{"id":"3a074b8274f41f3f","type":"switch","z":"b67f596b8d985624","name":"row switch for col 15","property":"row","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"num"},{"t":"eq","v":"4","vt":"num"},{"t":"eq","v":"5","vt":"num"},{"t":"eq","v":"6","vt":"num"},{"t":"eq","v":"7","vt":"num"},{"t":"eq","v":"8","vt":"num"}],"checkall":"false","repair":false,"outputs":8,"x":5026.166748046875,"y":1499.5001220703125,"wires":[["cd130d57c6ec9b9a"],["3b633c2f4fab22c5"],["5db85219698c3e56"],["25a77907ca920fc2"],["9b60f435dc2617c4"],["2fd72fa76868dd52"],["fbbeb4b7d94b7a3c"],["a27d2bfc603fd9eb"]]},{"id":"df1c59cdd72ebc28","type":"switch","z":"b67f596b8d985624","name":"row switch for col 16","property":"row","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"num"},{"t":"eq","v":"4","vt":"num"},{"t":"eq","v":"5","vt":"num"},{"t":"eq","v":"6","vt":"num"},{"t":"eq","v":"7","vt":"num"},{"t":"eq","v":"8","vt":"num"}],"checkall":"false","repair":false,"outputs":8,"x":5206.16650390625,"y":1364.5001220703125,"wires":[["7047c753782b7cbd"],["658cc715f11f7722"],["3a6a88ad2ca147d7"],["20346b6a3172d0fa"],["f216a8e34297a5fd"],["3a0e37b8a5cb68cd"],["8c368e216aa14fd2"],["bab9225357a47b2f"]]},{"id":"3782474f34c7d49a","type":"exec","z":"b67f596b8d985624","g":"2e0e470604f12fba","command":"service nodered restart","addpay":"","append":"","useSpawn":"false","timer":"","winHide":false,"oldrc":false,"name":"restart node-red using service","x":406,"y":408,"wires":[[],[],[]]},{"id":"be1852dd60f1a191","type":"inject","z":"b67f596b8d985624","g":"2e0e470604f12fba","name":"DON'T PRESS HERE - MIGHT \\n RESTART YOUR NODE RED INSTANCE","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":315,"y":312,"wires":[["3782474f34c7d49a"]]},{"id":"38a22678.b804ca","type":"udp in","z":"b67f596b8d985624","g":"b97c872c3cc6fa3c","name":"","iface":"","port":"12345","ipv":"udp6","multicast":"false","group":"","datatype":"buffer","x":658.4998779296875,"y":1907.16650390625,"wires":[["aa5581d1.cabc"]]},{"id":"aa5581d1.cabc","type":"osc","z":"b67f596b8d985624","name":"","path":"","metadata":true,"x":824.4998779296875,"y":2076.16650390625,"wires":[["ba4253ee0c429245"]]},{"id":"f9bdc02cc3d0f121","type":"change","z":"b67f596b8d985624","name":"col = 1","rules":[{"t":"set","p":"col","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1506.4998779296875,"y":1405.1665120442703,"wires":[["f40e1f34948bc305"]]},{"id":"afc773facd1e0eb4","type":"change","z":"b67f596b8d985624","name":"col = 2","rules":[{"t":"set","p":"col","pt":"msg","to":"2","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1506.4998779296875,"y":1456.099844835069,"wires":[["f40e1f34948bc305"]]},{"id":"841ade1d3e6e809f","type":"change","z":"b67f596b8d985624","name":"col = 3","rules":[{"t":"set","p":"col","pt":"msg","to":"3","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1506.4998779296875,"y":1507.0331776258677,"wires":[["f40e1f34948bc305"]]},{"id":"0187b3643fc9827a","type":"change","z":"b67f596b8d985624","name":"col = 4","rules":[{"t":"set","p":"col","pt":"msg","to":"4","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1506.4998779296875,"y":1557.9665104166663,"wires":[["f40e1f34948bc305"]]},{"id":"f40e1f34948bc305","type":"function","z":"b67f596b8d985624","name":"generate value for each row","func":"for ( var row = 1; row < 9; row++ ) {\n    node.send({\n        ...msg,\n        row: row,\n        payload: (msg.payload[row].value * 8) + 0.25\n    })\n}\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1986.4998779296875,"y":1398.16650390625,"wires":[["4da6adf598fecbe1"]]},{"id":"c2cc566b1fcce68b","type":"change","z":"b67f596b8d985624","name":"col = 5","rules":[{"t":"set","p":"col","pt":"msg","to":"5","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1506.4998779296875,"y":1608.899843207465,"wires":[["f40e1f34948bc305"]]},{"id":"5b67c6cb04d7db87","type":"change","z":"b67f596b8d985624","name":"col = 6","rules":[{"t":"set","p":"col","pt":"msg","to":"6","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1506.4998779296875,"y":1659.8331759982636,"wires":[["f40e1f34948bc305"]]},{"id":"040863e1de95075a","type":"change","z":"b67f596b8d985624","name":"col = 7","rules":[{"t":"set","p":"col","pt":"msg","to":"7","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1506.4998779296875,"y":1710.7665087890623,"wires":[["f40e1f34948bc305"]]},{"id":"eb482e69b9f16774","type":"change","z":"b67f596b8d985624","name":"col = 8","rules":[{"t":"set","p":"col","pt":"msg","to":"8","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1506.4998779296875,"y":1761.699841579861,"wires":[["f40e1f34948bc305"]]},{"id":"31a6427462e7c9e2","type":"change","z":"b67f596b8d985624","name":"col = 9","rules":[{"t":"set","p":"col","pt":"msg","to":"9","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1506.4998779296875,"y":1812.6331743706596,"wires":[["f40e1f34948bc305"]]},{"id":"c2229bb2b73bce20","type":"change","z":"b67f596b8d985624","name":"col = 10","rules":[{"t":"set","p":"col","pt":"msg","to":"10","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1506.4998779296875,"y":1863.5665071614583,"wires":[["f40e1f34948bc305"]]},{"id":"37b783adca5296b4","type":"change","z":"b67f596b8d985624","name":"col = 11","rules":[{"t":"set","p":"col","pt":"msg","to":"11","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1506.4998779296875,"y":1914.499839952257,"wires":[["f40e1f34948bc305"]]},{"id":"f36888e0337ebac1","type":"change","z":"b67f596b8d985624","name":"col = 12","rules":[{"t":"set","p":"col","pt":"msg","to":"12","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1506.4998779296875,"y":1965.4331727430556,"wires":[["f40e1f34948bc305"]]},{"id":"2976908af5519e30","type":"change","z":"b67f596b8d985624","name":"col = 13","rules":[{"t":"set","p":"col","pt":"msg","to":"13","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1506.4998779296875,"y":2016.3665055338543,"wires":[["f40e1f34948bc305"]]},{"id":"5c268149b1f57072","type":"change","z":"b67f596b8d985624","name":"col = 14","rules":[{"t":"set","p":"col","pt":"msg","to":"14","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1506.4998779296875,"y":2067.2998383246527,"wires":[["f40e1f34948bc305"]]},{"id":"3f184da60643a821","type":"change","z":"b67f596b8d985624","name":"col = 15","rules":[{"t":"set","p":"col","pt":"msg","to":"15","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1506.4998779296875,"y":2118.233171115451,"wires":[["f40e1f34948bc305"]]},{"id":"5f4c2ffc882e530b","type":"change","z":"b67f596b8d985624","name":"col = 16","rules":[{"t":"set","p":"col","pt":"msg","to":"16","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1506.4998779296875,"y":2169.16650390625,"wires":[["f40e1f34948bc305"]]},{"id":"ba4253ee0c429245","type":"switch","z":"b67f596b8d985624","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"/pad0","vt":"str"},{"t":"eq","v":"/pad1","vt":"str"},{"t":"eq","v":"/pad2","vt":"str"},{"t":"eq","v":"/pad3","vt":"str"},{"t":"eq","v":"/pad4","vt":"str"},{"t":"eq","v":"/pad5","vt":"str"},{"t":"eq","v":"/pad6","vt":"str"},{"t":"eq","v":"/pad7","vt":"str"},{"t":"eq","v":"/pad8","vt":"str"},{"t":"eq","v":"/pad9","vt":"str"},{"t":"eq","v":"/pad10","vt":"str"},{"t":"eq","v":"/pad11","vt":"str"},{"t":"eq","v":"/pad12","vt":"str"},{"t":"eq","v":"/pad13","vt":"str"},{"t":"eq","v":"/pad14","vt":"str"},{"t":"eq","v":"/pad15","vt":"str"},{"t":"eq","v":"/quit","vt":"str"},{"t":"eq","v":"/currPad","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":19,"x":1116.4998779296875,"y":2073.16650390625,"wires":[["c071f10ad4b3e676"],["ee218e66b3e8fa7c"],["3590128725dbc2df"],["be3c547cecedfcba"],["2341d82111f4ddc1"],["557381b73df5affe"],["e6e4d25564c6cca7"],["2bcde61e5e5b25e4"],["f646a1d6c39eef65"],["0d43bb1947d94318"],["55bace861f68e40e"],["281bec364d6a0627"],["f44a22489381829f"],["ec1e619097b1e21b"],["f0091c81bd70f71c"],["ea87ec7ae6ab4d44"],["8eca6e831fb5d967"],["ea4e6b5d1f04382f"],["80f0f93da4810ff4"]]},{"id":"5932a19455e61097","type":"ClientCode","z":"b67f596b8d985624","name":"[Events] On Deploy","clientcode":"// Ensure that the event listener is only \n// set once.\n\nvar lstnName = \"deployListener\" + nodeid;\n\nif (payload == \"setup\") {\n    if (!window[lstnName]) {\n        window[lstnName] = (e) => {\n            node.send({\n                payload: \"deploy:done\"\n            })\n        }\n        RED.events.on('deploy', window[lstnName]);\n\n        RED.notify(\"Deploy listener setup\", {\n            type: \"success\",\n            timeout: 2500,\n            id: nodeid\n        })\n    } else {\n        RED.notify(\"Deploy listener already set up\", {\n            type: \"warning\",\n            timeout: 2500,\n            id: nodeid\n        })\n    }\n}\n\n// Remove listener if required\n\nif (payload == \"remove\") {\n    if (window[lstnName]) {\n        RED.events.off('deploy', window[lstnName]);\n        window[lstnName] = undefined;\n        \n        RED.notify(\"Deploy listener removed\", {\n            type: \"success\",\n            timeout: 2500,\n            id: nodeid\n        })        \n    } else {\n        RED.notify(\"No Deploy listener defined\", {\n            type: \"warning\",\n            timeout: 2500,\n            id: nodeid\n        })        \n    }\n}","format":"javascript","x":564.5,"y":803.823486328125,"wires":[["438468d2d0c1be92"]]},{"id":"463c51a486c3925c","type":"inject","z":"b67f596b8d985624","name":"setup event listener","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"setup","payloadType":"str","x":574.5,"y":867.823486328125,"wires":[["5932a19455e61097"]]},{"id":"80f0f93da4810ff4","type":"debug","z":"b67f596b8d985624","name":"unknown commands","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"true","targetType":"full","statusVal":"","statusType":"counter","x":1467,"y":2453,"wires":[]},{"id":"8eca6e831fb5d967","type":"delay","z":"b67f596b8d985624","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1427,"y":2279,"wires":[["d212735c793ffbb2","bb9825b24ab3dfc8"]]},{"id":"d212735c793ffbb2","type":"link out","z":"b67f596b8d985624","name":"reset scene","mode":"link","links":["df996df6b0d50876"],"x":1772,"y":2229,"wires":[]},{"id":"858a0e8c82a6c349","type":"change","z":"b67f596b8d985624","name":"Set position","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"type\": \"position\",\t    \"relative\": false,\t    \"values\": {\t      \"x\":$sum([$$.payload[0].value,1]),\t      \"y\":0,\t      \"z\":0\t    },\t    \"pivot\": {\t        \"x\": null,\t        \"y\": null,\t        \"z\": null\t    }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1623,"y":2349,"wires":[["b6a0bf1a14d3ba57"]]},{"id":"ea4e6b5d1f04382f","type":"rbe","z":"b67f596b8d985624","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":false,"property":"payload","topi":"topic","x":1422,"y":2349,"wires":[["858a0e8c82a6c349"]]},{"id":"37d6ea3e9f1cf7d1","type":"link in","z":"b67f596b8d985624","name":"cmd golden ball","links":["b6a0bf1a14d3ba57","87571d52934377b8"],"x":781,"y":894,"wires":[["dbfbbeb725c6e1bc"]]},{"id":"b6a0bf1a14d3ba57","type":"link out","z":"b67f596b8d985624","name":"move golden ball","mode":"link","links":["37d6ea3e9f1cf7d1"],"x":1772,"y":2348,"wires":[]},{"id":"bb9825b24ab3dfc8","type":"change","z":"b67f596b8d985624","name":"Set position","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"type\": \"position\",\t    \"relative\": false,\t    \"values\": {\t      \"x\":0,\t      \"y\":0,\t      \"z\":0\t    },\t    \"pivot\": {\t        \"x\": null,\t        \"y\": null,\t        \"z\": null\t    }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1633,"y":2296,"wires":[["87571d52934377b8"]]},{"id":"87571d52934377b8","type":"link out","z":"b67f596b8d985624","name":"move golden ball","mode":"link","links":["37d6ea3e9f1cf7d1"],"x":1772,"y":2288.5,"wires":[]},{"id":"ea87ec7ae6ab4d44","type":"rbe","z":"b67f596b8d985624","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":false,"property":"payload","topi":"topic","x":1338.5,"y":2119,"wires":[["5f4c2ffc882e530b"]]},{"id":"f0091c81bd70f71c","type":"rbe","z":"b67f596b8d985624","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":false,"property":"payload","topi":"topic","x":1338.5,"y":2073.4666666666662,"wires":[["3f184da60643a821"]]},{"id":"ec1e619097b1e21b","type":"rbe","z":"b67f596b8d985624","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":false,"property":"payload","topi":"topic","x":1338.5,"y":2027.933333333333,"wires":[["5c268149b1f57072"]]},{"id":"f44a22489381829f","type":"rbe","z":"b67f596b8d985624","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":false,"property":"payload","topi":"topic","x":1338.5,"y":1982.3999999999996,"wires":[["2976908af5519e30"]]},{"id":"281bec364d6a0627","type":"rbe","z":"b67f596b8d985624","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":false,"property":"payload","topi":"topic","x":1338.5,"y":1936.8666666666663,"wires":[["f36888e0337ebac1"]]},{"id":"55bace861f68e40e","type":"rbe","z":"b67f596b8d985624","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":false,"property":"payload","topi":"topic","x":1338.5,"y":1891.333333333333,"wires":[["37b783adca5296b4"]]},{"id":"0d43bb1947d94318","type":"rbe","z":"b67f596b8d985624","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":false,"property":"payload","topi":"topic","x":1338.5,"y":1845.7999999999997,"wires":[["c2229bb2b73bce20"]]},{"id":"f646a1d6c39eef65","type":"rbe","z":"b67f596b8d985624","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":false,"property":"payload","topi":"topic","x":1338.5,"y":1800.2666666666664,"wires":[["31a6427462e7c9e2"]]},{"id":"2bcde61e5e5b25e4","type":"rbe","z":"b67f596b8d985624","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":false,"property":"payload","topi":"topic","x":1338.5,"y":1754.7333333333331,"wires":[["eb482e69b9f16774"]]},{"id":"e6e4d25564c6cca7","type":"rbe","z":"b67f596b8d985624","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":false,"property":"payload","topi":"topic","x":1338.5,"y":1709.1999999999998,"wires":[["040863e1de95075a"]]},{"id":"557381b73df5affe","type":"rbe","z":"b67f596b8d985624","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":false,"property":"payload","topi":"topic","x":1338.5,"y":1663.6666666666665,"wires":[["5b67c6cb04d7db87"]]},{"id":"2341d82111f4ddc1","type":"rbe","z":"b67f596b8d985624","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":false,"property":"payload","topi":"topic","x":1338.5,"y":1618.1333333333332,"wires":[["c2cc566b1fcce68b"]]},{"id":"be3c547cecedfcba","type":"rbe","z":"b67f596b8d985624","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":false,"property":"payload","topi":"topic","x":1338.5,"y":1572.6,"wires":[["0187b3643fc9827a"]]},{"id":"3590128725dbc2df","type":"rbe","z":"b67f596b8d985624","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":false,"property":"payload","topi":"topic","x":1338.5,"y":1527.0666666666666,"wires":[["841ade1d3e6e809f"]]},{"id":"ee218e66b3e8fa7c","type":"rbe","z":"b67f596b8d985624","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":false,"property":"payload","topi":"topic","x":1338.5,"y":1481.5333333333333,"wires":[["afc773facd1e0eb4"]]},{"id":"c071f10ad4b3e676","type":"rbe","z":"b67f596b8d985624","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":false,"property":"payload","topi":"topic","x":1338.5,"y":1436,"wires":[["f9bdc02cc3d0f121"]]},{"id":"c0d1433da002f3c6","type":"scene","name":"default","overlay":false},{"id":"6817754228a11c19","type":"material","name":"yello","diffuse":"#fd9b0e","specular":"#ffc519","alpha":"0.5"},{"id":"eb9738d1.722f68","type":"material","name":"greenmat","diffuse":"#50e254","specular":"#fb0006","alpha":"0.9"},{"id":"2f08998d.f33b96","type":"material","name":"purple","diffuse":"#d63eea","specular":"#f6f4f4","alpha":"0.9"},{"id":"172dda18eb963b81","type":"material","name":"c01","diffuse":"#00bfff","specular":"#cb3584","alpha":"0.9"},{"id":"f5aa18a169f8171a","type":"material","name":"c02","diffuse":"#00bfff","specular":"#f5e099","alpha":"0.9"},{"id":"5b6b1658cc79ac85","type":"material","name":"c03","diffuse":"#98fb98","specular":"#5dcecd","alpha":"0.9"},{"id":"0c05fb0206b653e9","type":"material","name":"c04","diffuse":"#98fb98","specular":"#d5f8e2","alpha":"0.9"},{"id":"16d6d5d01da69197","type":"material","name":"c05","diffuse":"#ed82ed","specular":"#94aa36","alpha":"0.9"},{"id":"170342a3d67dd6ee","type":"material","name":"c06","diffuse":"#ed82ed","specular":"#cf6845","alpha":"0.9"},{"id":"e77ed599a536bd62","type":"material","name":"c07","diffuse":"#fffff0","specular":"#c9ffce","alpha":"0.9"},{"id":"51cceec2bba85d58","type":"material","name":"c08","diffuse":"#fffff0","specular":"#fe9eaf","alpha":"0.9"},{"id":"c435dbef01b3786b","type":"material","name":"c09","diffuse":"#ff6347","specular":"#ffea0d","alpha":"0.9"},{"id":"c94e5c62f5dc8a48","type":"material","name":"c10","diffuse":"#ff6246","specular":"#0000ff","alpha":"0.9"},{"id":"bc0ee257eee647f2","type":"material","name":"c11","diffuse":"#ffff66","specular":"#ff6246","alpha":"0.9"},{"id":"416ad340651d6c50","type":"material","name":"c12","diffuse":"#ffff66","specular":"#fd9b0e","alpha":"0.9"},{"id":"b86e8a681363dc9e","type":"material","name":"c13","diffuse":"#00ffff","specular":"#982916","alpha":"0.9"},{"id":"86e66cc1f9b33093","type":"material","name":"c14","diffuse":"#00ffff","specular":"#ffff66","alpha":"0.9"},{"id":"1b4e96a06989bbaf","type":"material","name":"c15","diffuse":"#00bfff","specular":"#fffff0","alpha":"0.9"},{"id":"06bc34b84084f2fd","type":"material","name":"c16","diffuse":"#00beff","specular":"#0f7502","alpha":"0.9"}]