443628bcd5964a2c/flows.json
[{"id":"8aa25bbe07c4a820","type":"subflow","name":"LED","info":"","category":"","in":[{"x":164,"y":357.5,"wires":[{"id":"78408e15ed6406bb"}]}],"out":[{"x":1196,"y":383,"wires":[{"id":"33efd06a026a4a21","port":0}]}],"env":[],"meta":{},"color":"#FFF","icon":"node-red/light.svg","status":{"x":1196,"y":333,"wires":[{"id":"843c7d48f79675e8","port":0}]}},{"id":"78408e15ed6406bb","type":"ClientCode","z":"8aa25bbe07c4a820","name":"","clientcode":"\nif (msg.action == \"random\") {\n\n    setTimeout(() => {\n        var v = Math.round(Math.random() * 100);\n        node.send({ \n            payload: [{\n                ...msg,\n                status: {\n                    fill: v < 20 ? \"green\" : (v < 40 ? \"red\" : (v < 60 ? \"yellow\" : (v < 80 ? \"blue\" : \"grey\"))),\n                    shape: \"dot\",\n                    text: msg.verbose ? \"R: \" + msg.row + \", C: \" + msg.column : \"\"\n                }\n        }, undefined]})\n    }, 125);\n\n    if (!msg.freeze) {\n        setTimeout(() => { node.send({ payload: [{ ...msg, status: {}}, undefined]}) }, (750 * Math.random()) + 250);\n    }\n}\n\nif (msg.action == \"rolling\") {\n    var columns = [\n        [\"green\", \"yellow\", \"red\", \"blue\"] //,\"grey\"],\n    ];\n\n    var clr = columns[msg.row % columns.length][msg.column % columns[0].length];\n\n    setTimeout(() => {\n        node.send({\n            payload: [{\n                ...msg,\n                status: {\n                    fill: clr,\n                    shape: \"dot\",\n                    text: msg.verbose ? \"R: \" + msg.row + \", C: \" + msg.column : \"\"\n                }\n            }, undefined]\n        })\n    }, 250 * msg.column);\n\n    if (!msg.freeze) {\n        setTimeout(() => { node.send({ payload: [{ ...msg, status: {}}, undefined]}) }, 350 * (msg.column + 1));\n    }\n}\n\nif (msg.action == \"dotmatrix\") {\n    var uint_8 = /* 16px by 16px, column major, big endian. @ http://dotmatrixtool.com */\n        [\n            0xfe, 0xff, 0x40, 0x88, 0x20, 0x8c, 0xfe, 0x8a, 0x00, 0x71, 0x7c, 0x00, 0x82, 0xff, 0x7c, 0x99, 0x00, 0x99, 0xfe, 0x81, 0x82, 0x00, 0x7c, 0xff, 0x00, 0x81, 0xfe, 0x81, 0x92, 0x42, 0x82, 0x3c\n        ];\n    var b = uint_8.map((d) => { return (\"000000000\" + d.toString(2)).slice(-8) })\n\n    var cidx = ((msg.column % 16) * 2) + (msg.row > 7 ? 1 : 0);\n    var ridx = msg.row % 8;\n\n    setTimeout(() => {\n        node.send({\n            payload: [{\n                ...msg,\n                status: {\n                    fill: b[cidx][ridx] == \"1\" ? \"red\" : \"grey\",\n                    shape: \"dot\",\n                    text: msg.verbose ? \"R: \" + msg.row + \", C: \" + msg.column : \"\"\n                }\n            }, undefined]\n        })\n    }, 250 * msg.column);\n\n    if (!msg.freeze) {\n        setTimeout(() => { node.send({ payload: [{ ...msg, status: {}},undefined]}) }, 350 * (msg.column + 1));\n    }\n}\n\nmsg.column += 1;\nnode.send({\n    payload: [undefined,msg]\n})\n","format":"javascript","x":686,"y":357.5,"wires":[["7f5c0b8d01d60cc9","4f6ef62946ae6db2"]]},{"id":"4f6ef62946ae6db2","type":"switch","z":"8aa25bbe07c4a820","name":"status?","property":"payload[0]","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":889,"y":194,"wires":[["843c7d48f79675e8"]]},{"id":"7f5c0b8d01d60cc9","type":"switch","z":"8aa25bbe07c4a820","name":"output?","property":"payload[1]","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":889,"y":521,"wires":[["33efd06a026a4a21"]]},{"id":"33efd06a026a4a21","type":"change","z":"8aa25bbe07c4a820","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[1]","tot":"msg","dc":true}],"action":"","property":"","from":"","to":"","reg":false,"x":1070,"y":445,"wires":[[]]},{"id":"c185da4ebf0099c2","type":"debug","z":"8aa25bbe07c4a820","name":"debug 67","active":true,"tosidebar":false,"console":true,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1399,"y":199,"wires":[]},{"id":"843c7d48f79675e8","type":"change","z":"8aa25bbe07c4a820","name":"","rules":[{"t":"set","p":"status","pt":"msg","to":"payload[0].status","tot":"msg","dc":true}],"action":"","property":"","from":"","to":"","reg":false,"x":1053,"y":133,"wires":[["c185da4ebf0099c2"]]},{"id":"443628bcd5964a2c","type":"tab","label":"[Exp] Status Ticker - take 2 - Client Code","disabled":false,"info":"::: aim\n\nCreate a ticker wall using the status colours.\n\nThis is an experimental flow showing off the flexibility of Node-RED. The flows usage is limited to optics.\n\n:::\n\n### WARNING\n\nThis flow, once started does not stop!!! The only way to stop the flow is to use the \"Restart Flows\" menu point on the Deploy drop-down.\n\n![img](https://cdn.openmindmap.org/content/1691070147870_Screen_Shot_2023-08-03_at_15.41.00.png)\n\n### Flow Explanation\n\nThe flow consists of 16 by 16 instances of the LED subflow. The LED subflow contains the logic for setting the status colours.\n\nEach node in the flow becomes a message with a `column` and `row` value. The column number is incremented as the message is passed through the nodes while the row value is set at the beginning of each row.\n\nMessages are looped within a row by link-out and link-in pair at the beginning and end of each row.\n\nBecuause the flow uses no state information, it is difficult to assign each node a fixed column number (the node would need to store that).\n\n### Inputs \n\nThere are three actions:\n\n- <a class=\"ahl-link-node\" data-ids=\"1f42b4a643589cef,e9b3938dc45fb95f\">Random</a> button to make status blink randomly\n- <a class=\"ahl-link-node\" data-ids=\"b18ef8b8a5589884,e9b3938dc45fb95f\">Rolling</a> button that makes status colours roll through the colour ranges\n- <a class=\"ahl-link-node\" data-ids=\"b281abc6056567a8,e9b3938dc45fb95f\">DotMatrix</a> that will produce a dot matrix text\n\nThere are two other settings:\n\n- <a class='ahl-node-only' data-ids=\"e1154024e518e88d\">verbose</a> which will add a status text with the row and column number of the node. \n- <a class='ahl-node-only' data-ids='eac35d5f098e2198'>freeze</a> which will freeze the status after the initial display.\n\n### Tooling\n\n- [Dot Matrix Tool](http://dotmatrixtool.com) for generating the text matrix. The configuration to use is `16px by 16px, column major, big endian.` - the result needs to be placed in the subflows' function node.\n\n### Preview\n\n![img](https://cdn.openmindmap.org/content/1698426075545_status_ticker_2.gif)\n\n","env":[]},{"id":"fb0c052bb56180ae","type":"junction","z":"443628bcd5964a2c","x":880.4058779478073,"y":524.6326712369919,"wires":[["130b2d5bafeca6ec"]]},{"id":"d395a87bfaa8e1e2","type":"inject","z":"443628bcd5964a2c","name":"dotmatrix","props":[{"p":"action","v":"dotmatrix","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":599.9998779296875,"y":443.5556335449219,"wires":[["fb0c052bb56180ae"]]},{"id":"cb44bb75be87e0c5","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":1277.6665934244793,"y":762.666748046875,"wires":[["075f26d654a71f38"]]},{"id":"075f26d654a71f38","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":1391.3999267578126,"y":762.666748046875,"wires":[["dcb9947cac2619ba"]]},{"id":"dcb9947cac2619ba","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":1505.133260091146,"y":762.666748046875,"wires":[["afa218fba54c062e"]]},{"id":"afa218fba54c062e","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":1618.8665934244793,"y":762.666748046875,"wires":[["7849c3ac7f32c123"]]},{"id":"7849c3ac7f32c123","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":1732.5999267578127,"y":762.666748046875,"wires":[["45a2e00687cfe584"]]},{"id":"45a2e00687cfe584","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":1846.333260091146,"y":762.666748046875,"wires":[["58226b980c285f83"]]},{"id":"58226b980c285f83","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":1960.0665934244794,"y":762.666748046875,"wires":[["d0a099c45c621e2a"]]},{"id":"d0a099c45c621e2a","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":2073.7999267578125,"y":762.666748046875,"wires":[["04fd11dc44c3eaba"]]},{"id":"04fd11dc44c3eaba","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":2187.533260091146,"y":762.666748046875,"wires":[["a6ea09b1829b4cc1"]]},{"id":"a6ea09b1829b4cc1","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":2301.2665934244797,"y":762.666748046875,"wires":[["358b3679589aa75c"]]},{"id":"358b3679589aa75c","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":2414.999926757813,"y":762.666748046875,"wires":[["e7ac82664239e36c"]]},{"id":"e7ac82664239e36c","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":2528.733260091146,"y":762.666748046875,"wires":[["1093139d4564ff25"]]},{"id":"1093139d4564ff25","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":2642.4665934244795,"y":762.666748046875,"wires":[["67e6caa384329e33"]]},{"id":"67e6caa384329e33","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":2756.199926757813,"y":762.666748046875,"wires":[["bf2d9b5a976a7867"]]},{"id":"bf2d9b5a976a7867","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":2869.933260091146,"y":762.666748046875,"wires":[["193a04afbfd12d50"]]},{"id":"193a04afbfd12d50","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":2983.6665934244793,"y":762.666748046875,"wires":[["c59af0383faab75a"]]},{"id":"339dfc3627acc5e1","type":"link out","z":"443628bcd5964a2c","name":"link out 81","mode":"link","links":["2e52df0569327ae0"],"x":3532.0835856119793,"y":794.3333740234375,"wires":[]},{"id":"2e52df0569327ae0","type":"link in","z":"443628bcd5964a2c","name":"link in 2","links":["339dfc3627acc5e1"],"x":1151.666587575277,"y":689.6667900085449,"wires":[["cb44bb75be87e0c5"]]},{"id":"5d420cf9fd3b4be2","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":1277.6665934244793,"y":814.666748046875,"wires":[["338b1a8586277ee9"]]},{"id":"338b1a8586277ee9","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":1391.3999267578126,"y":814.666748046875,"wires":[["e16ee47b86c0baf4"]]},{"id":"e16ee47b86c0baf4","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":1505.133260091146,"y":814.666748046875,"wires":[["09ae5002cea4f523"]]},{"id":"09ae5002cea4f523","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":1618.8665934244793,"y":814.666748046875,"wires":[["da5c8331da91561e"]]},{"id":"da5c8331da91561e","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":1732.5999267578127,"y":814.666748046875,"wires":[["eb6a5389de90a521"]]},{"id":"eb6a5389de90a521","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":1846.333260091146,"y":814.666748046875,"wires":[["0955362074fef67b"]]},{"id":"0955362074fef67b","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":1960.0665934244794,"y":814.666748046875,"wires":[["51497a11bfb0b102"]]},{"id":"51497a11bfb0b102","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":2073.7999267578125,"y":814.666748046875,"wires":[["9bb0cdd5061c3f79"]]},{"id":"9bb0cdd5061c3f79","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":2187.533260091146,"y":814.666748046875,"wires":[["e759f2cc187934e0"]]},{"id":"e759f2cc187934e0","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":2301.2665934244797,"y":814.666748046875,"wires":[["65d99677ba68ea3c"]]},{"id":"65d99677ba68ea3c","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":2414.999926757813,"y":814.666748046875,"wires":[["11abdcc5cfcefb55"]]},{"id":"11abdcc5cfcefb55","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":2528.733260091146,"y":814.666748046875,"wires":[["646008c673b5d7cd"]]},{"id":"646008c673b5d7cd","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":2642.4665934244795,"y":814.666748046875,"wires":[["d3147831461dd43a"]]},{"id":"d3147831461dd43a","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":2756.199926757813,"y":814.666748046875,"wires":[["9fcd15e81aeb9b1c"]]},{"id":"9fcd15e81aeb9b1c","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":2869.933260091146,"y":814.666748046875,"wires":[["6e3b6fabfca72a87"]]},{"id":"6e3b6fabfca72a87","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":2983.6665934244793,"y":814.666748046875,"wires":[["4c7a500cd303d5cb"]]},{"id":"49007f7594726eae","type":"link out","z":"443628bcd5964a2c","name":"link out 82","mode":"link","links":["7797c47c6b09718e"],"x":3532.0835856119793,"y":846.3333740234375,"wires":[]},{"id":"7797c47c6b09718e","type":"link in","z":"443628bcd5964a2c","name":"link in 3","links":["49007f7594726eae"],"x":1151.666587575277,"y":741.6667900085449,"wires":[["5d420cf9fd3b4be2"]]},{"id":"8f29814c781461ee","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":1276.6665934244793,"y":867.666748046875,"wires":[["665456d8abea3da9"]]},{"id":"665456d8abea3da9","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":1390.3999267578129,"y":867.666748046875,"wires":[["d56da3c392e33093"]]},{"id":"d56da3c392e33093","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":1504.133260091146,"y":867.666748046875,"wires":[["2d036033c562f7e7"]]},{"id":"2d036033c562f7e7","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":1617.866593424479,"y":867.666748046875,"wires":[["91829fb5c9c7d583"]]},{"id":"91829fb5c9c7d583","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":1731.5999267578127,"y":867.666748046875,"wires":[["3fff2e168a9b3966"]]},{"id":"3fff2e168a9b3966","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":1845.3332600911463,"y":867.666748046875,"wires":[["45e67aa4a7bbfe76"]]},{"id":"45e67aa4a7bbfe76","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":1959.0665934244794,"y":867.666748046875,"wires":[["8c2bc3b048669854"]]},{"id":"8c2bc3b048669854","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":2072.7999267578125,"y":867.666748046875,"wires":[["8b87b92f157906ce"]]},{"id":"8b87b92f157906ce","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":2186.533260091146,"y":867.666748046875,"wires":[["91c6063195db5fa8"]]},{"id":"91c6063195db5fa8","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":2300.2665934244797,"y":867.666748046875,"wires":[["fc2a80bab3934f23"]]},{"id":"fc2a80bab3934f23","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":2413.999926757813,"y":867.666748046875,"wires":[["dc68b2c1933a7301"]]},{"id":"dc68b2c1933a7301","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":2527.733260091146,"y":867.666748046875,"wires":[["e7f61e5d65a915bc"]]},{"id":"e7f61e5d65a915bc","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":2641.4665934244795,"y":867.666748046875,"wires":[["17637d9415d3c49c"]]},{"id":"17637d9415d3c49c","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":2755.199926757813,"y":867.666748046875,"wires":[["957e6e89dce78a77"]]},{"id":"957e6e89dce78a77","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":2868.933260091146,"y":867.666748046875,"wires":[["b5a0ec332ba05995"]]},{"id":"b5a0ec332ba05995","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":2982.6665934244793,"y":867.666748046875,"wires":[["3f4879be634fe0ad"]]},{"id":"971743b102e39b49","type":"link out","z":"443628bcd5964a2c","name":"link out 83","mode":"link","links":["11e02ed0532f4252"],"x":3532.0835856119793,"y":899.3333740234375,"wires":[]},{"id":"11e02ed0532f4252","type":"link in","z":"443628bcd5964a2c","name":"link in 4","links":["971743b102e39b49"],"x":1151.666587575277,"y":794.6667900085449,"wires":[["8f29814c781461ee"]]},{"id":"f60d4f4c952c6657","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":1276.6665934244793,"y":919.666748046875,"wires":[["fcbb4a9c0c480a07"]]},{"id":"fcbb4a9c0c480a07","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":1390.3999267578129,"y":919.666748046875,"wires":[["e4e5e699d12b6ba3"]]},{"id":"e4e5e699d12b6ba3","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":1504.133260091146,"y":919.666748046875,"wires":[["2646bf781a6854a4"]]},{"id":"2646bf781a6854a4","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":1617.866593424479,"y":919.666748046875,"wires":[["faf38b2a98e9e0cf"]]},{"id":"faf38b2a98e9e0cf","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":1731.5999267578127,"y":919.666748046875,"wires":[["83da37f6c150144c"]]},{"id":"83da37f6c150144c","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":1845.3332600911463,"y":919.666748046875,"wires":[["147aed015acf0f07"]]},{"id":"147aed015acf0f07","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":1959.0665934244794,"y":919.666748046875,"wires":[["690b75417a26fda7"]]},{"id":"690b75417a26fda7","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":2072.7999267578125,"y":919.666748046875,"wires":[["e6ee1a98f7ab8b70"]]},{"id":"e6ee1a98f7ab8b70","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":2186.533260091146,"y":919.666748046875,"wires":[["1e579b9534d3bd44"]]},{"id":"1e579b9534d3bd44","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":2300.2665934244797,"y":919.666748046875,"wires":[["b85675147a3b19e1"]]},{"id":"b85675147a3b19e1","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":2413.999926757813,"y":919.666748046875,"wires":[["1f55415d02317e24"]]},{"id":"1f55415d02317e24","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":2527.733260091146,"y":919.666748046875,"wires":[["e13f810e3143a093"]]},{"id":"e13f810e3143a093","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":2641.4665934244795,"y":919.666748046875,"wires":[["519b15b46ad9e4b4"]]},{"id":"519b15b46ad9e4b4","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":2755.199926757813,"y":919.666748046875,"wires":[["49374fd4407a9a75"]]},{"id":"49374fd4407a9a75","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":2868.933260091146,"y":919.666748046875,"wires":[["9eedff7537b53e1d"]]},{"id":"9eedff7537b53e1d","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":2982.6665934244793,"y":919.666748046875,"wires":[["020c19aacef7a682"]]},{"id":"5188d99238da886e","type":"link out","z":"443628bcd5964a2c","name":"link out 84","mode":"link","links":["a6a848b9ca7b9ba5"],"x":3532.0835856119793,"y":951.3333740234375,"wires":[]},{"id":"a6a848b9ca7b9ba5","type":"link in","z":"443628bcd5964a2c","name":"link in 5","links":["5188d99238da886e"],"x":1151.666587575277,"y":846.6667900085449,"wires":[["f60d4f4c952c6657"]]},{"id":"13ca334ec0e63846","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":1276.6665934244793,"y":970.666748046875,"wires":[["e3d7f1894bcf5b33"]]},{"id":"e3d7f1894bcf5b33","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":1390.3999267578126,"y":970.666748046875,"wires":[["ee2a5079c81f3783"]]},{"id":"ee2a5079c81f3783","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":1504.133260091146,"y":970.666748046875,"wires":[["0cb2caff37c5b3c0"]]},{"id":"0cb2caff37c5b3c0","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":1617.866593424479,"y":970.666748046875,"wires":[["ba587e4e3ef5e78e"]]},{"id":"ba587e4e3ef5e78e","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":1731.5999267578127,"y":970.666748046875,"wires":[["d6c457f692768952"]]},{"id":"d6c457f692768952","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":1845.3332600911463,"y":970.666748046875,"wires":[["2ab9165f09c47306"]]},{"id":"2ab9165f09c47306","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":1959.0665934244794,"y":970.666748046875,"wires":[["24f447ddd9dbc78d"]]},{"id":"24f447ddd9dbc78d","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":2072.7999267578125,"y":970.666748046875,"wires":[["87c1332ca083db1b"]]},{"id":"87c1332ca083db1b","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":2186.533260091146,"y":970.666748046875,"wires":[["3d11bc313fdd705d"]]},{"id":"3d11bc313fdd705d","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":2300.2665934244797,"y":970.666748046875,"wires":[["eb727581cd9e3e5c"]]},{"id":"eb727581cd9e3e5c","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":2413.999926757813,"y":970.666748046875,"wires":[["431fa2019c92d40c"]]},{"id":"431fa2019c92d40c","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":2527.733260091146,"y":970.666748046875,"wires":[["495489a75d7b33f5"]]},{"id":"495489a75d7b33f5","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":2641.4665934244795,"y":970.666748046875,"wires":[["d1a44bbe67a91cb2"]]},{"id":"d1a44bbe67a91cb2","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":2755.199926757813,"y":970.666748046875,"wires":[["e651101f18a0809a"]]},{"id":"e651101f18a0809a","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":2868.933260091146,"y":970.666748046875,"wires":[["b880d82aa900d783"]]},{"id":"b880d82aa900d783","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":2982.6665934244793,"y":970.666748046875,"wires":[["3f34719c78582328"]]},{"id":"385dacf3b868a963","type":"link out","z":"443628bcd5964a2c","name":"link out 85","mode":"link","links":["54593793f308b326"],"x":3532.0835856119793,"y":1002.3333740234375,"wires":[]},{"id":"54593793f308b326","type":"link in","z":"443628bcd5964a2c","name":"link in 6","links":["385dacf3b868a963"],"x":1151.666587575277,"y":897.6667900085449,"wires":[["13ca334ec0e63846"]]},{"id":"79bebe6d6394fce2","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":1276.6665934244793,"y":1022.666748046875,"wires":[["27b1b370eede7bdb"]]},{"id":"27b1b370eede7bdb","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":1390.3999267578126,"y":1022.666748046875,"wires":[["86b4a96ffa13fc34"]]},{"id":"86b4a96ffa13fc34","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":1504.133260091146,"y":1022.666748046875,"wires":[["25f80496d80a1b46"]]},{"id":"25f80496d80a1b46","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":1617.866593424479,"y":1022.666748046875,"wires":[["3a7a74e78d280249"]]},{"id":"3a7a74e78d280249","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":1731.5999267578127,"y":1022.666748046875,"wires":[["738be90cb8b9f95d"]]},{"id":"738be90cb8b9f95d","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":1845.3332600911463,"y":1022.666748046875,"wires":[["a5835fd8a811cc1b"]]},{"id":"a5835fd8a811cc1b","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":1959.0665934244794,"y":1022.666748046875,"wires":[["8026a9792363d54c"]]},{"id":"8026a9792363d54c","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":2072.7999267578125,"y":1022.666748046875,"wires":[["d0adc9ae5e0ad1f0"]]},{"id":"d0adc9ae5e0ad1f0","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":2186.533260091146,"y":1022.666748046875,"wires":[["fef3e1c228bdecdd"]]},{"id":"fef3e1c228bdecdd","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":2300.2665934244797,"y":1022.666748046875,"wires":[["834a145be0295b6d"]]},{"id":"834a145be0295b6d","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":2413.999926757813,"y":1022.666748046875,"wires":[["ed071d84da193b9c"]]},{"id":"ed071d84da193b9c","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":2527.733260091146,"y":1022.666748046875,"wires":[["267010c63efb10bd"]]},{"id":"267010c63efb10bd","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":2641.4665934244795,"y":1022.666748046875,"wires":[["8c90b673bb7993c4"]]},{"id":"8c90b673bb7993c4","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":2755.199926757813,"y":1022.666748046875,"wires":[["0bb79c2fc2140e44"]]},{"id":"0bb79c2fc2140e44","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":2868.933260091146,"y":1022.666748046875,"wires":[["176478df8a1d6d85"]]},{"id":"176478df8a1d6d85","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":2982.6665934244793,"y":1022.666748046875,"wires":[["a2bcae8d1ce2e691"]]},{"id":"29cb0452d404aa28","type":"link out","z":"443628bcd5964a2c","name":"link out 86","mode":"link","links":["24561c2fd2b061c7"],"x":3532.0835856119793,"y":1054.3333740234375,"wires":[]},{"id":"24561c2fd2b061c7","type":"link in","z":"443628bcd5964a2c","name":"link in 7","links":["29cb0452d404aa28"],"x":1151.666587575277,"y":949.6667900085449,"wires":[["79bebe6d6394fce2"]]},{"id":"8bd3138be2cb05b8","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":1275.6665934244793,"y":1075.666748046875,"wires":[["0c34140aacf8d9cd"]]},{"id":"0c34140aacf8d9cd","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":1389.3999267578129,"y":1075.666748046875,"wires":[["d899971d9e9ab4ba"]]},{"id":"d899971d9e9ab4ba","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":1503.133260091146,"y":1075.666748046875,"wires":[["43a977990804a81e"]]},{"id":"43a977990804a81e","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":1616.866593424479,"y":1075.666748046875,"wires":[["2c0165d8953c9a43"]]},{"id":"2c0165d8953c9a43","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":1730.5999267578127,"y":1075.666748046875,"wires":[["4000c5714f72b7df"]]},{"id":"4000c5714f72b7df","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":1844.3332600911463,"y":1075.666748046875,"wires":[["adcb0df457e85741"]]},{"id":"adcb0df457e85741","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":1958.0665934244794,"y":1075.666748046875,"wires":[["e9d173fa732eb99b"]]},{"id":"e9d173fa732eb99b","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":2071.7999267578125,"y":1075.666748046875,"wires":[["2a6d6636e9d43948"]]},{"id":"2a6d6636e9d43948","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":2185.533260091146,"y":1075.666748046875,"wires":[["912731e0fd717181"]]},{"id":"912731e0fd717181","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":2299.2665934244797,"y":1075.666748046875,"wires":[["974fb046a0c84399"]]},{"id":"974fb046a0c84399","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":2412.999926757813,"y":1075.666748046875,"wires":[["7ceb4f515ccc5b16"]]},{"id":"7ceb4f515ccc5b16","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":2526.733260091146,"y":1075.666748046875,"wires":[["54a9736b77f9206f"]]},{"id":"54a9736b77f9206f","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":2640.4665934244795,"y":1075.666748046875,"wires":[["20bd1fd38888d825"]]},{"id":"20bd1fd38888d825","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":2754.199926757813,"y":1075.666748046875,"wires":[["35b33a81723ebab1"]]},{"id":"35b33a81723ebab1","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":2867.933260091146,"y":1075.666748046875,"wires":[["367b1508c5aedf10"]]},{"id":"367b1508c5aedf10","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":2981.6665934244793,"y":1075.666748046875,"wires":[["fbefeebb3bebbe7c"]]},{"id":"faf28d8eabe95e11","type":"link out","z":"443628bcd5964a2c","name":"link out 87","mode":"link","links":["37dc140a636909af"],"x":3532.0835856119793,"y":1107.3333740234375,"wires":[]},{"id":"37dc140a636909af","type":"link in","z":"443628bcd5964a2c","name":"link in 8","links":["faf28d8eabe95e11"],"x":1151.666587575277,"y":1002.6667900085449,"wires":[["8bd3138be2cb05b8"]]},{"id":"3d3e50e61530abea","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":1275.6665934244793,"y":1127.666748046875,"wires":[["bf0e99ef2b455d82"]]},{"id":"bf0e99ef2b455d82","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":1389.3999267578129,"y":1127.666748046875,"wires":[["078b29c6431f2dc0"]]},{"id":"078b29c6431f2dc0","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":1503.133260091146,"y":1127.666748046875,"wires":[["2dd48fd0556d7cd1"]]},{"id":"2dd48fd0556d7cd1","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":1616.866593424479,"y":1127.666748046875,"wires":[["852b7737605a62df"]]},{"id":"852b7737605a62df","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":1730.5999267578127,"y":1127.666748046875,"wires":[["d8f16ce02e8d1ed8"]]},{"id":"d8f16ce02e8d1ed8","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":1844.3332600911463,"y":1127.666748046875,"wires":[["e3d22d39cca0646d"]]},{"id":"e3d22d39cca0646d","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":1958.0665934244794,"y":1127.666748046875,"wires":[["7a9960eaf09d3d13"]]},{"id":"7a9960eaf09d3d13","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":2071.7999267578125,"y":1127.666748046875,"wires":[["94ae6ff59ca10f5e"]]},{"id":"94ae6ff59ca10f5e","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":2185.533260091146,"y":1127.666748046875,"wires":[["e531caf07fe37622"]]},{"id":"e531caf07fe37622","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":2299.2665934244797,"y":1127.666748046875,"wires":[["439abf9b3fe435ba"]]},{"id":"439abf9b3fe435ba","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":2412.999926757813,"y":1127.666748046875,"wires":[["18f3956a36d82f2b"]]},{"id":"18f3956a36d82f2b","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":2526.733260091146,"y":1127.666748046875,"wires":[["e1441f9a1b8ccebc"]]},{"id":"e1441f9a1b8ccebc","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":2640.4665934244795,"y":1127.666748046875,"wires":[["7b0a9da1c94a8e55"]]},{"id":"7b0a9da1c94a8e55","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":2754.199926757813,"y":1127.666748046875,"wires":[["759e4e7d3a7eaf50"]]},{"id":"759e4e7d3a7eaf50","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":2867.933260091146,"y":1127.666748046875,"wires":[["88291636d2cd7d0d"]]},{"id":"88291636d2cd7d0d","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":2981.6665934244793,"y":1127.666748046875,"wires":[["5896b3bc5d20f4b3"]]},{"id":"615958f9effd810b","type":"link out","z":"443628bcd5964a2c","name":"link out 88","mode":"link","links":["fa1ff3bf7aa2c90d"],"x":3532.0835856119793,"y":1159.3333740234375,"wires":[]},{"id":"fa1ff3bf7aa2c90d","type":"link in","z":"443628bcd5964a2c","name":"link in 9","links":["615958f9effd810b"],"x":1151.666587575277,"y":1054.666790008545,"wires":[["3d3e50e61530abea"]]},{"id":"8db33db0b759ecb6","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":1274.6665934244793,"y":1174.666748046875,"wires":[["bc3eb7bb063d9f61"]]},{"id":"bc3eb7bb063d9f61","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":1388.3999267578129,"y":1174.666748046875,"wires":[["a44f091aad6376a2"]]},{"id":"a44f091aad6376a2","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":1502.133260091146,"y":1174.666748046875,"wires":[["37c9b3c129450c12"]]},{"id":"37c9b3c129450c12","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":1615.866593424479,"y":1174.666748046875,"wires":[["50f27de47f8b9888"]]},{"id":"50f27de47f8b9888","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":1729.5999267578127,"y":1174.666748046875,"wires":[["7b59a4723ceb697a"]]},{"id":"7b59a4723ceb697a","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":1843.3332600911463,"y":1174.666748046875,"wires":[["5b729a36938dca14"]]},{"id":"5b729a36938dca14","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":1957.0665934244794,"y":1174.666748046875,"wires":[["5b59478f2fa7c3df"]]},{"id":"5b59478f2fa7c3df","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":2070.7999267578125,"y":1174.666748046875,"wires":[["5b360f2f4a64584f"]]},{"id":"5b360f2f4a64584f","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":2184.533260091146,"y":1174.666748046875,"wires":[["5d5958d9d0477db5"]]},{"id":"5d5958d9d0477db5","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":2298.2665934244797,"y":1174.666748046875,"wires":[["85529703dd51e674"]]},{"id":"85529703dd51e674","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":2411.999926757813,"y":1174.666748046875,"wires":[["760663198d118975"]]},{"id":"760663198d118975","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":2525.733260091146,"y":1174.666748046875,"wires":[["565f2317ca392e98"]]},{"id":"565f2317ca392e98","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":2639.4665934244795,"y":1174.666748046875,"wires":[["ec1e96693dedb112"]]},{"id":"ec1e96693dedb112","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":2753.199926757813,"y":1174.666748046875,"wires":[["1b3e348275328729"]]},{"id":"1b3e348275328729","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":2866.933260091146,"y":1174.666748046875,"wires":[["9c5d5065a01828ce"]]},{"id":"9c5d5065a01828ce","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":2980.6665934244793,"y":1174.666748046875,"wires":[["6ced406c76dac4cd"]]},{"id":"94d1f835d459fe38","type":"link out","z":"443628bcd5964a2c","name":"link out 89","mode":"link","links":["0e92168076594497"],"x":3532.0835856119793,"y":1206.3333740234375,"wires":[]},{"id":"0e92168076594497","type":"link in","z":"443628bcd5964a2c","name":"link in 10","links":["94d1f835d459fe38"],"x":1151.666587575277,"y":1101.666790008545,"wires":[["8db33db0b759ecb6"]]},{"id":"40a00d23c026dd94","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":1274.6665934244793,"y":1226.666748046875,"wires":[["696ed1ecf0497ebb"]]},{"id":"696ed1ecf0497ebb","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":1388.3999267578129,"y":1226.666748046875,"wires":[["20779c45d7e735e0"]]},{"id":"20779c45d7e735e0","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":1502.133260091146,"y":1226.666748046875,"wires":[["8a54fdad953b5ff9"]]},{"id":"8a54fdad953b5ff9","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":1615.866593424479,"y":1226.666748046875,"wires":[["095a50c8807f460f"]]},{"id":"095a50c8807f460f","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":1729.5999267578127,"y":1226.666748046875,"wires":[["1697a23c37c581a7"]]},{"id":"1697a23c37c581a7","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":1843.3332600911463,"y":1226.666748046875,"wires":[["f2c07c4c37105ae2"]]},{"id":"f2c07c4c37105ae2","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":1957.0665934244794,"y":1226.666748046875,"wires":[["78578ebd2196e580"]]},{"id":"78578ebd2196e580","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":2070.7999267578125,"y":1226.666748046875,"wires":[["abf9568cb3b51bba"]]},{"id":"abf9568cb3b51bba","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":2184.533260091146,"y":1226.666748046875,"wires":[["0cd01422564693f1"]]},{"id":"0cd01422564693f1","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":2298.2665934244797,"y":1226.666748046875,"wires":[["0a5cfe7898112ec6"]]},{"id":"0a5cfe7898112ec6","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":2411.999926757813,"y":1226.666748046875,"wires":[["9768f7bc27d037c5"]]},{"id":"9768f7bc27d037c5","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":2525.733260091146,"y":1226.666748046875,"wires":[["ac4b3ab85c7e5262"]]},{"id":"ac4b3ab85c7e5262","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":2639.4665934244795,"y":1226.666748046875,"wires":[["1d068b29f129e158"]]},{"id":"1d068b29f129e158","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":2753.199926757813,"y":1226.666748046875,"wires":[["b531e21af9887bbe"]]},{"id":"b531e21af9887bbe","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":2866.933260091146,"y":1226.666748046875,"wires":[["43e5b7185ead83c8"]]},{"id":"43e5b7185ead83c8","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":2980.6665934244793,"y":1226.666748046875,"wires":[["6a1f79bdbedd0515"]]},{"id":"0f2e6acf4dae29db","type":"link out","z":"443628bcd5964a2c","name":"link out 90","mode":"link","links":["ce83c1e925c8fcae"],"x":3532.0835856119793,"y":1258.3333740234375,"wires":[]},{"id":"ce83c1e925c8fcae","type":"link in","z":"443628bcd5964a2c","name":"link in 11","links":["0f2e6acf4dae29db"],"x":1151.666587575277,"y":1153.666790008545,"wires":[["40a00d23c026dd94"]]},{"id":"e21b887d64278c39","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":1273.6665934244793,"y":1279.666748046875,"wires":[["a6cb1301a95fb645"]]},{"id":"a6cb1301a95fb645","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":1387.3999267578129,"y":1279.666748046875,"wires":[["d433733b2f4adbc8"]]},{"id":"d433733b2f4adbc8","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":1501.133260091146,"y":1279.666748046875,"wires":[["60f7166e740d2031"]]},{"id":"60f7166e740d2031","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":1614.866593424479,"y":1279.666748046875,"wires":[["8f1afd6d52015e31"]]},{"id":"8f1afd6d52015e31","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":1728.5999267578127,"y":1279.666748046875,"wires":[["4ab80fcc3e4c6706"]]},{"id":"4ab80fcc3e4c6706","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":1842.3332600911463,"y":1279.666748046875,"wires":[["b958d7231665d6e9"]]},{"id":"b958d7231665d6e9","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":1956.0665934244794,"y":1279.666748046875,"wires":[["7295081e7c8f1330"]]},{"id":"7295081e7c8f1330","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":2069.7999267578125,"y":1279.666748046875,"wires":[["4586e14fdf55ebeb"]]},{"id":"4586e14fdf55ebeb","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":2183.533260091146,"y":1279.666748046875,"wires":[["316057bb7a109b36"]]},{"id":"316057bb7a109b36","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":2297.2665934244797,"y":1279.666748046875,"wires":[["5b09261383ce4409"]]},{"id":"5b09261383ce4409","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":2410.999926757813,"y":1279.666748046875,"wires":[["582b25d998dfce9f"]]},{"id":"582b25d998dfce9f","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":2524.733260091146,"y":1279.666748046875,"wires":[["146306a347cd4367"]]},{"id":"146306a347cd4367","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":2638.4665934244795,"y":1279.666748046875,"wires":[["4fda2c77e114659c"]]},{"id":"4fda2c77e114659c","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":2752.199926757813,"y":1279.666748046875,"wires":[["57355c2624a34f10"]]},{"id":"57355c2624a34f10","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":2865.933260091146,"y":1279.666748046875,"wires":[["12669d5090118146"]]},{"id":"12669d5090118146","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":2979.6665934244793,"y":1279.666748046875,"wires":[["fda0cc4dbba7eb0a"]]},{"id":"27099ed51e3ea916","type":"link out","z":"443628bcd5964a2c","name":"link out 91","mode":"link","links":["3eaac88b75ada72d"],"x":3532.0835856119793,"y":1311.3333740234375,"wires":[]},{"id":"3eaac88b75ada72d","type":"link in","z":"443628bcd5964a2c","name":"link in 12","links":["27099ed51e3ea916"],"x":1151.666587575277,"y":1206.666790008545,"wires":[["e21b887d64278c39"]]},{"id":"9ed2ac4bee733930","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":1273.6665934244793,"y":1331.666748046875,"wires":[["af1a51051b2b9d5a"]]},{"id":"af1a51051b2b9d5a","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":1387.3999267578129,"y":1331.666748046875,"wires":[["92738a7eae4e7617"]]},{"id":"92738a7eae4e7617","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":1501.133260091146,"y":1331.666748046875,"wires":[["25dd821adbf319c7"]]},{"id":"25dd821adbf319c7","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":1614.866593424479,"y":1331.666748046875,"wires":[["0fe77fbe0b0d7497"]]},{"id":"0fe77fbe0b0d7497","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":1728.5999267578127,"y":1331.666748046875,"wires":[["d151dae55d35a26b"]]},{"id":"d151dae55d35a26b","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":1842.3332600911463,"y":1331.666748046875,"wires":[["31b4ef068d6618e4"]]},{"id":"31b4ef068d6618e4","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":1956.0665934244794,"y":1331.666748046875,"wires":[["3ad5f49a47ac868b"]]},{"id":"3ad5f49a47ac868b","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":2069.7999267578125,"y":1331.666748046875,"wires":[["77994bcace6f7462"]]},{"id":"77994bcace6f7462","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":2183.533260091146,"y":1331.666748046875,"wires":[["2d03197565f098cf"]]},{"id":"2d03197565f098cf","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":2297.2665934244797,"y":1331.666748046875,"wires":[["771a0a4b8f5bb622"]]},{"id":"771a0a4b8f5bb622","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":2410.999926757813,"y":1331.666748046875,"wires":[["e2500758199c2c7c"]]},{"id":"e2500758199c2c7c","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":2524.733260091146,"y":1331.666748046875,"wires":[["f6fb3c2cd6ebfb14"]]},{"id":"f6fb3c2cd6ebfb14","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":2638.4665934244795,"y":1331.666748046875,"wires":[["4fe9ace5bc0fd46b"]]},{"id":"4fe9ace5bc0fd46b","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":2752.199926757813,"y":1331.666748046875,"wires":[["45936cd6659b4b0b"]]},{"id":"45936cd6659b4b0b","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":2865.933260091146,"y":1331.666748046875,"wires":[["2a80c12221bfed52"]]},{"id":"2a80c12221bfed52","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":2979.6665934244793,"y":1331.666748046875,"wires":[["ce56e7cf573ec2fd"]]},{"id":"4b4e05c95212c547","type":"link out","z":"443628bcd5964a2c","name":"link out 92","mode":"link","links":["5dd3f22d69be8e7c"],"x":3532.0835856119793,"y":1363.3333740234375,"wires":[]},{"id":"5dd3f22d69be8e7c","type":"link in","z":"443628bcd5964a2c","name":"link in 13","links":["4b4e05c95212c547"],"x":1151.666587575277,"y":1258.666790008545,"wires":[["9ed2ac4bee733930"]]},{"id":"6c5653a0f3bb649c","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":1273.6665934244793,"y":1382.666748046875,"wires":[["dd31a717fa699b8e"]]},{"id":"dd31a717fa699b8e","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":1387.3999267578129,"y":1382.666748046875,"wires":[["7804181a8c58c1f8"]]},{"id":"7804181a8c58c1f8","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":1501.133260091146,"y":1382.666748046875,"wires":[["5fb0ca89bdd0e605"]]},{"id":"5fb0ca89bdd0e605","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":1614.866593424479,"y":1382.666748046875,"wires":[["ca36ae0d61c81f6c"]]},{"id":"ca36ae0d61c81f6c","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":1728.5999267578127,"y":1382.666748046875,"wires":[["1504f6ab0bfa4ffc"]]},{"id":"1504f6ab0bfa4ffc","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":1842.3332600911463,"y":1382.666748046875,"wires":[["088fe7c4091783b4"]]},{"id":"088fe7c4091783b4","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":1956.0665934244794,"y":1382.666748046875,"wires":[["8378af03e57ec910"]]},{"id":"8378af03e57ec910","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":2069.7999267578125,"y":1382.666748046875,"wires":[["5f936ed1bc81b98c"]]},{"id":"5f936ed1bc81b98c","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":2183.533260091146,"y":1382.666748046875,"wires":[["20658344cca93629"]]},{"id":"20658344cca93629","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":2297.2665934244797,"y":1382.666748046875,"wires":[["758de566e95d5b1e"]]},{"id":"758de566e95d5b1e","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":2410.999926757813,"y":1382.666748046875,"wires":[["8e5ae1933e3a2333"]]},{"id":"8e5ae1933e3a2333","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":2524.733260091146,"y":1382.666748046875,"wires":[["7cb31c27ae4d2cb4"]]},{"id":"7cb31c27ae4d2cb4","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":2638.4665934244795,"y":1382.666748046875,"wires":[["a34999c29f169b6b"]]},{"id":"a34999c29f169b6b","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":2752.199926757813,"y":1382.666748046875,"wires":[["0c4c6281921430ca"]]},{"id":"0c4c6281921430ca","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":2865.933260091146,"y":1382.666748046875,"wires":[["e4d4ba5a08eb8208"]]},{"id":"e4d4ba5a08eb8208","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":2979.6665934244793,"y":1382.666748046875,"wires":[["092eea6c2845b1af"]]},{"id":"8337bf874e5abcf5","type":"link out","z":"443628bcd5964a2c","name":"link out 93","mode":"link","links":["b526f51d3064e303"],"x":3532.0835856119793,"y":1414.3333740234375,"wires":[]},{"id":"b526f51d3064e303","type":"link in","z":"443628bcd5964a2c","name":"link in 14","links":["8337bf874e5abcf5"],"x":1151.666587575277,"y":1309.666790008545,"wires":[["6c5653a0f3bb649c"]]},{"id":"9c4e6cec718aef2d","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":1273.6665934244793,"y":1434.666748046875,"wires":[["c96d56e2476c471f"]]},{"id":"c96d56e2476c471f","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":1387.3999267578129,"y":1434.666748046875,"wires":[["7be3b36ee94c8157"]]},{"id":"7be3b36ee94c8157","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":1501.133260091146,"y":1434.666748046875,"wires":[["92837ae9d7ed5433"]]},{"id":"92837ae9d7ed5433","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":1614.866593424479,"y":1434.666748046875,"wires":[["c8dd15f013a101fe"]]},{"id":"c8dd15f013a101fe","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":1728.5999267578127,"y":1434.666748046875,"wires":[["60d9f80fb4d23469"]]},{"id":"60d9f80fb4d23469","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":1842.3332600911463,"y":1434.666748046875,"wires":[["a27b95c8bf9ece58"]]},{"id":"a27b95c8bf9ece58","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":1956.0665934244794,"y":1434.666748046875,"wires":[["b3f901e0a5119047"]]},{"id":"b3f901e0a5119047","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":2069.7999267578125,"y":1434.666748046875,"wires":[["5036a602cd43425e"]]},{"id":"5036a602cd43425e","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":2183.533260091146,"y":1434.666748046875,"wires":[["c742f101b697d0da"]]},{"id":"c742f101b697d0da","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":2297.2665934244797,"y":1434.666748046875,"wires":[["56e509d0767387bd"]]},{"id":"56e509d0767387bd","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":2410.999926757813,"y":1434.666748046875,"wires":[["dbafe76184269e69"]]},{"id":"dbafe76184269e69","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":2524.733260091146,"y":1434.666748046875,"wires":[["4c0d6ab0b20a9dfa"]]},{"id":"4c0d6ab0b20a9dfa","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":2638.4665934244795,"y":1434.666748046875,"wires":[["695f870c7b6d8ced"]]},{"id":"695f870c7b6d8ced","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":2752.199926757813,"y":1434.666748046875,"wires":[["35eb6b71c480dd0b"]]},{"id":"35eb6b71c480dd0b","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":2865.933260091146,"y":1434.666748046875,"wires":[["71cd8bb3d73f16c5"]]},{"id":"71cd8bb3d73f16c5","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":2979.6665934244793,"y":1434.666748046875,"wires":[["d6815de1d19d90a5"]]},{"id":"62148b910326df5b","type":"link out","z":"443628bcd5964a2c","name":"link out 94","mode":"link","links":["99a723c8963c48f8"],"x":3532.0835856119793,"y":1466.3333740234375,"wires":[]},{"id":"99a723c8963c48f8","type":"link in","z":"443628bcd5964a2c","name":"link in 15","links":["62148b910326df5b","e4f4a1f88a9c3e04"],"x":1151.666587575277,"y":1361.666790008545,"wires":[["9c4e6cec718aef2d"]]},{"id":"b9948ac0be038bc1","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":1272.6665934244793,"y":1487.666748046875,"wires":[["8e5cf1326732326f"]]},{"id":"8e5cf1326732326f","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":1386.3999267578129,"y":1487.666748046875,"wires":[["75a189b7616061e9"]]},{"id":"75a189b7616061e9","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":1500.133260091146,"y":1487.666748046875,"wires":[["aad750d01046ecca"]]},{"id":"aad750d01046ecca","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":1613.866593424479,"y":1487.666748046875,"wires":[["d08be137aaea40da"]]},{"id":"d08be137aaea40da","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":1727.5999267578127,"y":1487.666748046875,"wires":[["e2b9aab3e5f82eb1"]]},{"id":"e2b9aab3e5f82eb1","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":1841.3332600911463,"y":1487.666748046875,"wires":[["f07cd5a3861d313c"]]},{"id":"f07cd5a3861d313c","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":1955.0665934244794,"y":1487.666748046875,"wires":[["7d7f31140d9ce2e2"]]},{"id":"7d7f31140d9ce2e2","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":2068.7999267578125,"y":1487.666748046875,"wires":[["4a8e6088adbce1b2"]]},{"id":"4a8e6088adbce1b2","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":2182.533260091146,"y":1487.666748046875,"wires":[["4bd9d80c56827fff"]]},{"id":"4bd9d80c56827fff","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":2296.2665934244797,"y":1487.666748046875,"wires":[["8390f8e7cb752c42"]]},{"id":"8390f8e7cb752c42","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":2409.999926757813,"y":1487.666748046875,"wires":[["5f8a5904d9742731"]]},{"id":"5f8a5904d9742731","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":2523.733260091146,"y":1487.666748046875,"wires":[["f7ee1262c09ef17e"]]},{"id":"f7ee1262c09ef17e","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":2637.4665934244795,"y":1487.666748046875,"wires":[["658e5c7f65d65f64"]]},{"id":"658e5c7f65d65f64","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":2751.199926757813,"y":1487.666748046875,"wires":[["350d87dca0c8871b"]]},{"id":"350d87dca0c8871b","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":2864.933260091146,"y":1487.666748046875,"wires":[["48a74dfa47a7197c"]]},{"id":"48a74dfa47a7197c","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":2978.6665934244793,"y":1487.666748046875,"wires":[["cd5c0a20cb178c25"]]},{"id":"afe52672dcdf9c86","type":"link in","z":"443628bcd5964a2c","name":"link in 16","links":["7d493c1475a2f55e","e10788245c72fba1"],"x":1151.666587575277,"y":1414.666790008545,"wires":[["b9948ac0be038bc1"]]},{"id":"45481d06b6bef59b","type":"change","z":"443628bcd5964a2c","name":"","rules":[{"t":"set","p":"row","pt":"msg","to":"msg.row + 1","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":873.6665570576988,"y":762.3333854675293,"wires":[["f27001420d84b014","cb44bb75be87e0c5"]]},{"id":"f27001420d84b014","type":"change","z":"443628bcd5964a2c","name":"","rules":[{"t":"set","p":"row","pt":"msg","to":"msg.row + 1","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":873.6665570576988,"y":814.1605433993869,"wires":[["2b4f24ddf960dba1","5d420cf9fd3b4be2"]]},{"id":"2b4f24ddf960dba1","type":"change","z":"443628bcd5964a2c","name":"","rules":[{"t":"set","p":"row","pt":"msg","to":"msg.row + 1","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":873.6665570576988,"y":865.9877013312446,"wires":[["e50b190f5a71d4cb","8f29814c781461ee"]]},{"id":"e50b190f5a71d4cb","type":"change","z":"443628bcd5964a2c","name":"","rules":[{"t":"set","p":"row","pt":"msg","to":"msg.row + 1","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":873.6665570576988,"y":917.8148592631022,"wires":[["907f465be2c46646","f60d4f4c952c6657"]]},{"id":"907f465be2c46646","type":"change","z":"443628bcd5964a2c","name":"","rules":[{"t":"set","p":"row","pt":"msg","to":"msg.row + 1","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":873.6665570576988,"y":969.6420171949599,"wires":[["0a48a1737452a0cf","13ca334ec0e63846"]]},{"id":"0a48a1737452a0cf","type":"change","z":"443628bcd5964a2c","name":"","rules":[{"t":"set","p":"row","pt":"msg","to":"msg.row + 1","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":873.6665570576988,"y":1021.4691751268175,"wires":[["01650646c7588da2","79bebe6d6394fce2"]]},{"id":"01650646c7588da2","type":"change","z":"443628bcd5964a2c","name":"","rules":[{"t":"set","p":"row","pt":"msg","to":"msg.row + 1","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":873.6665570576988,"y":1073.2963330586751,"wires":[["202dc20be0207f59","8bd3138be2cb05b8"]]},{"id":"202dc20be0207f59","type":"change","z":"443628bcd5964a2c","name":"","rules":[{"t":"set","p":"row","pt":"msg","to":"msg.row + 1","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":873.6665570576988,"y":1125.123490990533,"wires":[["1b0f6fb0d062ddbc","3d3e50e61530abea"]]},{"id":"1b0f6fb0d062ddbc","type":"change","z":"443628bcd5964a2c","name":"","rules":[{"t":"set","p":"row","pt":"msg","to":"msg.row + 1","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":873.6665570576988,"y":1176.9506489223904,"wires":[["81f87f59f47f62a4","8db33db0b759ecb6"]]},{"id":"81f87f59f47f62a4","type":"change","z":"443628bcd5964a2c","name":"","rules":[{"t":"set","p":"row","pt":"msg","to":"msg.row + 1","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":873.6665570576988,"y":1228.777806854248,"wires":[["40a00d23c026dd94","ef17616c94521d38"]]},{"id":"ef17616c94521d38","type":"change","z":"443628bcd5964a2c","name":"","rules":[{"t":"set","p":"row","pt":"msg","to":"msg.row + 1","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":873.6665570576988,"y":1280.6049647861057,"wires":[["9badd1bf3caf3bfe","e21b887d64278c39"]]},{"id":"9badd1bf3caf3bfe","type":"change","z":"443628bcd5964a2c","name":"","rules":[{"t":"set","p":"row","pt":"msg","to":"msg.row + 1","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":873.6665570576988,"y":1332.4321227179635,"wires":[["968069d8b58dfe14","9ed2ac4bee733930"]]},{"id":"968069d8b58dfe14","type":"change","z":"443628bcd5964a2c","name":"","rules":[{"t":"set","p":"row","pt":"msg","to":"msg.row + 1","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":873.6665570576988,"y":1384.259280649821,"wires":[["b22faa5975fecb33","6c5653a0f3bb649c"]]},{"id":"b22faa5975fecb33","type":"change","z":"443628bcd5964a2c","name":"","rules":[{"t":"set","p":"row","pt":"msg","to":"msg.row + 1","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":873.6665570576988,"y":1436.0864385816785,"wires":[["61a2e342ce3e52d8","9c4e6cec718aef2d"]]},{"id":"61a2e342ce3e52d8","type":"change","z":"443628bcd5964a2c","name":"","rules":[{"t":"set","p":"row","pt":"msg","to":"msg.row + 1","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":873.6665570576988,"y":1487.9135965135363,"wires":[["b9948ac0be038bc1","dfd4b6b629470cbb"]]},{"id":"e10788245c72fba1","type":"link out","z":"443628bcd5964a2c","name":"link out 95","mode":"link","links":["afe52672dcdf9c86"],"x":3530.7027262369793,"y":1513.09521484375,"wires":[]},{"id":"29704947ded80683","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":1270.5,"y":1535.5,"wires":[["bcc785d9a8cad7f5"]]},{"id":"bcc785d9a8cad7f5","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":1384.2333333333336,"y":1535.5,"wires":[["b9b2026b5bb7cb18"]]},{"id":"b9b2026b5bb7cb18","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":1497.9666666666667,"y":1535.5,"wires":[["3f64a8e6f2bae126"]]},{"id":"3f64a8e6f2bae126","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":1611.6999999999998,"y":1535.5,"wires":[["17a9304ab2ca4c05"]]},{"id":"17a9304ab2ca4c05","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":1725.4333333333334,"y":1535.5,"wires":[["b3e129de9d92df4c"]]},{"id":"b3e129de9d92df4c","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":1839.166666666667,"y":1535.5,"wires":[["c709b20410075ef1"]]},{"id":"c709b20410075ef1","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":1952.9,"y":1535.5,"wires":[["c39afe1903e2de17"]]},{"id":"c39afe1903e2de17","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":2066.633333333333,"y":1535.5,"wires":[["69c1f71af6b78e58"]]},{"id":"69c1f71af6b78e58","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":2180.366666666667,"y":1535.5,"wires":[["2456838b6161cdc8"]]},{"id":"2456838b6161cdc8","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":2294.1000000000004,"y":1535.5,"wires":[["7afec35ca9b77c84"]]},{"id":"7afec35ca9b77c84","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":2407.8333333333335,"y":1535.5,"wires":[["e522326f4ce3dd53"]]},{"id":"e522326f4ce3dd53","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":2521.5666666666666,"y":1535.5,"wires":[["d026da6636f2ad10"]]},{"id":"d026da6636f2ad10","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":2635.3,"y":1535.5,"wires":[["e2f2628f8b1824f8"]]},{"id":"e2f2628f8b1824f8","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":2749.0333333333338,"y":1535.5,"wires":[["375ac8b769663719"]]},{"id":"375ac8b769663719","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":2862.766666666667,"y":1535.5,"wires":[["87fbed18f76376f8"]]},{"id":"87fbed18f76376f8","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":2976.5,"y":1535.5,"wires":[["7996c650c82abd2e"]]},{"id":"dfd4b6b629470cbb","type":"change","z":"443628bcd5964a2c","name":"","rules":[{"t":"set","p":"row","pt":"msg","to":"msg.row + 1","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":871.4999636332195,"y":1533.7468484666613,"wires":[["29704947ded80683"]]},{"id":"9a4f6c89de209388","type":"link out","z":"443628bcd5964a2c","name":"link out 97","mode":"link","links":["98735a0c4f4f4f60"],"x":3528.5361328125,"y":1558.928466796875,"wires":[]},{"id":"98735a0c4f4f4f60","type":"link in","z":"443628bcd5964a2c","name":"link in 17","links":["7d493c1475a2f55e","9a4f6c89de209388"],"x":1151,"y":1467.5,"wires":[["29704947ded80683"]]},{"id":"130b2d5bafeca6ec","type":"change","z":"443628bcd5964a2c","name":"verbose?","rules":[{"t":"set","p":"verbose","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":869.4444580078125,"y":631,"wires":[["fac2ddba6c4f95b4"]]},{"id":"fac2ddba6c4f95b4","type":"change","z":"443628bcd5964a2c","name":"freeze?","rules":[{"t":"set","p":"freeze","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":872,"y":578.5,"wires":[["0b2606d349e72886"]]},{"id":"0b2606d349e72886","type":"change","z":"443628bcd5964a2c","name":"row & column","rules":[{"t":"set","p":"column","pt":"msg","to":"0","tot":"num"},{"t":"set","p":"row","pt":"msg","to":"-1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":869,"y":687,"wires":[["45481d06b6bef59b"]]},{"id":"630bc81ef5e0566d","type":"inject","z":"443628bcd5964a2c","name":"random","props":[{"p":"action","v":"random","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":593,"y":507.5,"wires":[["fb0c052bb56180ae"]]},{"id":"fdfe3c3390fb762c","type":"inject","z":"443628bcd5964a2c","name":"rolling","props":[{"p":"action","v":"rolling","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":589,"y":560.5,"wires":[["fb0c052bb56180ae"]]},{"id":"c59af0383faab75a","type":"change","z":"443628bcd5964a2c","name":"","rules":[{"t":"set","p":"column","pt":"msg","to":"msg.column - 1","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":3170,"y":763,"wires":[["510c8a91f86eb846"]]},{"id":"510c8a91f86eb846","type":"delay","z":"443628bcd5964a2c","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":3388,"y":763.3333435058594,"wires":[["339dfc3627acc5e1"]]},{"id":"4c7a500cd303d5cb","type":"change","z":"443628bcd5964a2c","name":"","rules":[{"t":"set","p":"column","pt":"msg","to":"msg.column - 1","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":3170,"y":814.4666666666667,"wires":[["f2d376354e11f925"]]},{"id":"3f4879be634fe0ad","type":"change","z":"443628bcd5964a2c","name":"","rules":[{"t":"set","p":"column","pt":"msg","to":"msg.column - 1","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":3170,"y":865.9333333333334,"wires":[["b40a3eb7610c220f"]]},{"id":"020c19aacef7a682","type":"change","z":"443628bcd5964a2c","name":"","rules":[{"t":"set","p":"column","pt":"msg","to":"msg.column - 1","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":3170,"y":917.4000000000001,"wires":[["37e0193c6942ee24"]]},{"id":"3f34719c78582328","type":"change","z":"443628bcd5964a2c","name":"","rules":[{"t":"set","p":"column","pt":"msg","to":"msg.column - 1","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":3170,"y":968.8666666666668,"wires":[["ea5ab7d12d462b77"]]},{"id":"a2bcae8d1ce2e691","type":"change","z":"443628bcd5964a2c","name":"","rules":[{"t":"set","p":"column","pt":"msg","to":"msg.column - 1","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":3170,"y":1020.3333333333335,"wires":[["07c9fab03e128723"]]},{"id":"fbefeebb3bebbe7c","type":"change","z":"443628bcd5964a2c","name":"","rules":[{"t":"set","p":"column","pt":"msg","to":"msg.column - 1","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":3170,"y":1071.8000000000002,"wires":[["9e3a33108eb3b2f2"]]},{"id":"5896b3bc5d20f4b3","type":"change","z":"443628bcd5964a2c","name":"","rules":[{"t":"set","p":"column","pt":"msg","to":"msg.column - 1","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":3170,"y":1123.2666666666669,"wires":[["aa676ded7e9c16c9"]]},{"id":"6ced406c76dac4cd","type":"change","z":"443628bcd5964a2c","name":"","rules":[{"t":"set","p":"column","pt":"msg","to":"msg.column - 1","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":3170,"y":1174.7333333333336,"wires":[["3bf0f9730734fe7f"]]},{"id":"6a1f79bdbedd0515","type":"change","z":"443628bcd5964a2c","name":"","rules":[{"t":"set","p":"column","pt":"msg","to":"msg.column - 1","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":3170,"y":1226.2000000000003,"wires":[["802109853ec75f54"]]},{"id":"fda0cc4dbba7eb0a","type":"change","z":"443628bcd5964a2c","name":"","rules":[{"t":"set","p":"column","pt":"msg","to":"msg.column - 1","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":3170,"y":1277.666666666667,"wires":[["bdaefe319f1072f6"]]},{"id":"ce56e7cf573ec2fd","type":"change","z":"443628bcd5964a2c","name":"","rules":[{"t":"set","p":"column","pt":"msg","to":"msg.column - 1","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":3170,"y":1329.1333333333337,"wires":[["eeab9a5ca796c6dd"]]},{"id":"092eea6c2845b1af","type":"change","z":"443628bcd5964a2c","name":"","rules":[{"t":"set","p":"column","pt":"msg","to":"msg.column - 1","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":3170,"y":1380.6000000000004,"wires":[["706385dcc2c8d81a"]]},{"id":"d6815de1d19d90a5","type":"change","z":"443628bcd5964a2c","name":"","rules":[{"t":"set","p":"column","pt":"msg","to":"msg.column - 1","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":3170,"y":1432.066666666667,"wires":[["9983e81338bae18b"]]},{"id":"cd5c0a20cb178c25","type":"change","z":"443628bcd5964a2c","name":"","rules":[{"t":"set","p":"column","pt":"msg","to":"msg.column - 1","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":3170,"y":1483.5333333333338,"wires":[["73b259a2a1d0794e"]]},{"id":"7996c650c82abd2e","type":"change","z":"443628bcd5964a2c","name":"","rules":[{"t":"set","p":"column","pt":"msg","to":"msg.column - 1","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":3170,"y":1535,"wires":[["694b5936e666c922"]]},{"id":"f2d376354e11f925","type":"delay","z":"443628bcd5964a2c","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":3388,"y":814.9111206054688,"wires":[["49007f7594726eae"]]},{"id":"b40a3eb7610c220f","type":"delay","z":"443628bcd5964a2c","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":3388,"y":866.4888977050782,"wires":[["971743b102e39b49"]]},{"id":"37e0193c6942ee24","type":"delay","z":"443628bcd5964a2c","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":3388,"y":918.0666748046876,"wires":[["5188d99238da886e"]]},{"id":"ea5ab7d12d462b77","type":"delay","z":"443628bcd5964a2c","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":3388,"y":969.6444519042971,"wires":[["385dacf3b868a963"]]},{"id":"07c9fab03e128723","type":"delay","z":"443628bcd5964a2c","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":3388,"y":1021.2222290039065,"wires":[["29cb0452d404aa28"]]},{"id":"9e3a33108eb3b2f2","type":"delay","z":"443628bcd5964a2c","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":3388,"y":1072.800006103516,"wires":[["faf28d8eabe95e11"]]},{"id":"aa676ded7e9c16c9","type":"delay","z":"443628bcd5964a2c","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":3388,"y":1124.3777832031253,"wires":[["615958f9effd810b"]]},{"id":"3bf0f9730734fe7f","type":"delay","z":"443628bcd5964a2c","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":3388,"y":1175.9555603027347,"wires":[["94d1f835d459fe38"]]},{"id":"802109853ec75f54","type":"delay","z":"443628bcd5964a2c","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":3388,"y":1227.5333374023442,"wires":[["0f2e6acf4dae29db"]]},{"id":"bdaefe319f1072f6","type":"delay","z":"443628bcd5964a2c","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":3388,"y":1279.1111145019536,"wires":[["27099ed51e3ea916"]]},{"id":"eeab9a5ca796c6dd","type":"delay","z":"443628bcd5964a2c","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":3388,"y":1330.688891601563,"wires":[["4b4e05c95212c547"]]},{"id":"706385dcc2c8d81a","type":"delay","z":"443628bcd5964a2c","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":3388,"y":1382.2666687011724,"wires":[["8337bf874e5abcf5"]]},{"id":"9983e81338bae18b","type":"delay","z":"443628bcd5964a2c","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":3388,"y":1433.8444458007818,"wires":[["62148b910326df5b"]]},{"id":"73b259a2a1d0794e","type":"delay","z":"443628bcd5964a2c","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":3388,"y":1485.4222229003913,"wires":[["e10788245c72fba1"]]},{"id":"694b5936e666c922","type":"delay","z":"443628bcd5964a2c","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":3388,"y":1537,"wires":[["9a4f6c89de209388"]]},{"id":"69fca78d57e2fc0e","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":1210,"y":394,"wires":[["9862615709443214","e245d5696f4e0b04"]]},{"id":"04f1b70bd2534a47","type":"inject","z":"443628bcd5964a2c","name":"","props":[{"p":"action","v":"rolling","vt":"str"},{"p":"row","v":"1","vt":"num"},{"p":"column","v":"1","vt":"num"},{"p":"freeze","v":"true","vt":"bool"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":1057,"y":234,"wires":[["69fca78d57e2fc0e"]]},{"id":"9862615709443214","type":"subflow:8aa25bbe07c4a820","z":"443628bcd5964a2c","name":" ","x":1466,"y":346,"wires":[["fc1eb2ded39889bc"]]},{"id":"e245d5696f4e0b04","type":"debug","z":"443628bcd5964a2c","name":"debug 57","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1381,"y":211,"wires":[]},{"id":"fc1eb2ded39889bc","type":"debug","z":"443628bcd5964a2c","name":"debug 58","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1787,"y":251,"wires":[]}]