3ebb65fdbecb182e/flows.json
[{"id":"3ebb65fdbecb182e","type":"tab","label":"[SVG] Testing SVG Graphics node","disabled":false,"info":"::: aim\n\nTesting the functionality of the SVG Graphics node.\n\n:::\n\n::: palette\n\n- [node-red-contrib-ui-svg](https://flows.nodered.org/node/node-red-contrib-ui-svg)\n\n:::\n\n### Explanation \n\nTODO.\n\n","env":[]},{"id":"5fd84eed125598b9","type":"ui_svg_graphics","z":"3ebb65fdbecb182e","d":true,"group":"501e09782a526635","order":3,"width":0,"height":0,"svgString":"<svg xmlns:dc=\"http://purl.org/dc/elements/1.1/\" xmlns:cc=\"http://creativecommons.org/ns#\"\n    xmlns:rdf=\"http://www.w3.org/1999/02/22-rdf-syntax-ns#\" xmlns=\"http://www.w3.org/2000/svg\"\n    viewBox=\"0 0 1931.9987 2181.5611\" id=\"svg155562\" version=\"1.1\" viewbox=\"0 0 193 258\" height=\"376.131\"\n    width=\"333.103\" xmlns:xlink=\"http://www.w3.org/1999/xlink\" preserveAspectRatio=\"xMinYMin meet\">\n    <rect id=\"svgEditorBackground\" x=\"0\" y=\"0\" width=\"1932\" height=\"2181.56\" style=\"fill:none;stroke:none\" />\n    <metadata id=\"metadata155568\">\n        <rdf:RDF>\n            <cc:Work rdf:about=\"\">\n                <dc:format>image/svg+xml</dc:format>\n                <dc:type rdf:resource=\"http://purl.org/dc/dcmitype/StillImage\" />\n                <dc:title />\n            </cc:Work>\n        </rdf:RDF>\n    </metadata>\n    <defs id=\"defs155566\" />\n    <path d=\"m 996.38796,1806.7105 c 0,0 0,0 0,0\" id=\"open-mind-center-point\" stroke-width=\"0\" stroke=\"none\" fill=\"none\"\n        __id__=\"_fcnone_scnone_sw0_nmopen-mind-center-point_\" />\n    <path d=\"m 1739.738,1821.7105 c 0,0 -1416.00004,-28 -1416.00004,-28 0,0 1416.00004,28 1416.00004,28 z\"\n        id=\"open-mind-path\" stroke-width=\"0\" stroke=\"none\" fill=\"none\" __id__=\"_fcnone_scnone_sw0_nmopen-mind-path_\" />\n    <path d=\"m 1175.738,949.71048 c 9,-7 122,-33 172,68.00002 0,0 -172,-68.00002 -172,-68.00002 z\"\n        id=\"draw-path-and-center-point\" stroke-width=\"0\" stroke=\"none\" fill=\"none\"\n        __id__=\"_fcnone_scnone_sw0_nmdraw-path-and-center-point_\" />\n    <path d=\"m 992.73796,1196.7105 c 0,0 0,0 0,0\" id=\"center-pt\" stroke-width=\"0\" stroke=\"none\" fill=\"none\"\n        __id__=\"_fcnone_scnone_sw0_nmcenter-pt_\" />\n    <path\n        d=\"m17.737959,2127.7105c-4,0,44,-744,44,-744c-15.2187,-34.67,435.122001,-293.43,552.500001,-320.5c0,-0.5,-13.5,-19.5,-16,-22.5c-240.5,17,-312.583,-298.99002,-194.505,-305.13002c-110,-233.996,-117.995,-529.87,96.005,-645.869996c209,-141,640.00004,-55,653.00004,85.999996c3.85,20.808,107,134,181,216c0,0,15,79.125,15,79c-0.12,-0.125,49.2,5.204,49.2,5.204c69.52,-14.823,95.6,-45.325,129.32,84.853c13,68,47.48,130.943,-24.52,166.943c0,0,-52,24,-52,24c0,0,-3,94,-3,94c1,2,27,2,29,1c126,-67,137.55,3.36,161,67c23,84,39,102.00002,-37,150.00002c60,20,245,102,273,142c0,0,40,958,40,958c0,0,-1892.000041,-36,-1896.000041,-36Z\"\n        id=\"background\" __id__=\"_fcblack_scwhite_sw35_nmbackground_\"\n        style=\"stroke:#40E0D0;stroke-width:35;fill:#000000\" />\n    <path\n        d=\"m1122.738,209.71048c-75,138,-193.00004,156,-331.00004,128c-36,-3,-172,-21,-224,8c-17,38,18,104,34,120c-58,92,-48,177,36,326c-29,1,-104.212,-7.55,-104.17,-7.57c0,0,-25.83,3.57,-25.83,3.57c-19.114,-6.88,-12.507,-7.66,-38.065,-13.28c-99.677,-7.67,-78.926,78.83,-19.935,149.28c30,51,127,113.00002,169,36c0,0,11,38,11,36c132,211.00002,149,232.00002,338,282.00002c134.00004,29,219.00004,28,292.00004,26c118,-35,102.88,-27.25,131.06,-155.12c0.05,0,-152.62,67.37,-234.44,88c-40.21,12.03,-45.42,-18.47,-49.84,-19.26c-52.94,-19.93,-82.16,-31.28,-125.12404,-48.81c-38.5,15.47,-48.812,4.81,-59.125,-7.56c-20.625,-21.66,-39.187,-55.34,-60.156,-101.75c-15.125,-37.12,0.344,-43.66,21.313,-61.88002c73.562,-34.37,404.25204,-150.56,465.09204,-172.21c18.56,-6.88,37.47,15.47,41.25,31.28c0,-0.35,18.22,1.72,17.97,1.31c-4,-4,0.31,-84.84,-0.44,-100.31c-98.3,36.97,-230.18,94.22,-378.81,136.12c-14.94,10.75,-37.43204,4.1,-49.70004,-12.26c-38.337,-22.49,-60.828,-27.09,-107.855,-53.67c-28.669,10.24,-43.448,0.51,-60.317,-22.49c-21.979,-35.27,-39.87,-74.117,-61.85,-123.699c-26.069,-49.072,-33.225,-88.942,43.96,-121.145c142.102,-50.605,255.58204,-79.741,414.00204,-123.52c55.83,-20.264,74.86,-10.339,86.02,47.971c0,-0.414,15.72,0,15.72,-0.414c-2.49,-24.399,-10.88,-46.298,-13.73,-57.583c-60,-69,-118,-130,-172,-217Z\"\n        id=\"face\" __id__=\"_fcwhite_scwhite_sw1_nmface_\" style=\"fill:#ffffff;stroke:#ffffff;stroke-width:1\" />\n    <path\n        d=\"m960.89796,724.33848c-17.891,-42.937,-11.757,-47.026,26.58,-62.361c49.56004,-21.262,202.42004,-77.697,315.90004,-112.967c50.6,-19.424,93.55,-34.698,114.5,-40.381c54.69,-15.335,51.62,-5.112,64.4,33.736c3.58,22.491,15.74,84.53,15.34,105.299c7.15,42.427,-5.11,37.826,-49.58,55.206c-19.81,8.228,-128.86,54.89,-164.09,72.58c-24.53,9.72,-166.12,66.46,-200.88,76.17c-36.81,11.24,-72.08,18.4,-86.90004,-15.34c-15.846,-33.73,-21.469,-79.23,-35.27,-111.942Zm-48.05,-12.268c-23.669,-9.144,-119.1,-45.493,-133.923,-44.982c6.133,16.869,46.004,102.742,60.316,122.682c13.291,7.66,87.409,44.98,114.5,53.16c-9.201,-32.72,-35.27,-118.592,-40.893,-130.86ZM1040.128,1101.0605c6.64,14.32,30.16,62.36,40.38,81.28c-27.6,-7.67,-120.12204,-46.52,-136.47904,-53.67c-16.101,-6.39,-20.446,-14.32,-23.002,-19.94c-6.389,-8.69,-20.702,-39.61,-24.536,-49.33c-9.967,-20.95,-9.967,-24.02,13.291,-11.5c29.136,15.34,95.32604,41.41,130.34604,53.16Zm44.47,10.23c-1.19,0.98,35.78,63.89,47.03,71.05c13.29,20.96,51.62,11.24,71.56,2.55c35.63,-8.83,144.49,-53.86,243.31,-98.14c65.43,-28.11,109.39,-47.54,133.41,-62.87c32.72,-17.38,27.1,-20.45,26.58,-54.70002c0,0,-16.86,-70.02,-17.89,-70.02c-9.71,-32.72,-20.44,-31.19,-55.71,-23.01c-155.39,47.54,-369.06,146.71002,-423.75,164.09002c-56.23,17.37,-40.39,47.02,-24.54,71.05Z\"\n        id=\"draw-faces\" __id__=\"_fcwhite_scwhite_sw1_nmdraw-faces_\"\n        style=\"fill:#ffffff;stroke:#ffffff;stroke-width:1\" />\n    <path\n        d=\"m520.53296,899.16048c0,0,33.481,61.08,33.481,61.08c0,0,-32.459,-0.77,-32.459,-0.77c0,0,-29.817,-49.76,-29.817,-49.76c-17,-7,-36,-22,-24,-50c5.768,-8.09,8.835,-9.88,22,-12c24.406,0.84,36.162,13.11,30.795,51.45Zm-9.795,-73.45c-22,-21,-53,-36,-78,-18c-19,30,-2,51,15,86c0,-17,-10,-45,9,-61c16,-17,34,-13,54,-7Z\"\n        id=\"face-ear-hole\" __id__=\"_fcblack_scblack_sw1_nmface-ear-hole_\"\n        style=\"fill:#000000;stroke:#000000;stroke-width:1\" />\n    <path\n        d=\"m1078.738,727.71048c7,44,53,59,93,38c13,-9,29,-34,22,-64c-6,-40,-81,-77,-109,-7c38,-35,59,-6,51,21c-6,30,-40,29,-57,12Zm217,-70c34,19,50,1,54,-21c0,-28,-31,-43,-51,-17c1,-50,87.44,-42.586,104,-4c8.49,31.443,2.87,46.267,-14.51,67.735c-26.07,22.492,-71.49,22.265,-92.49,-25.735Zm-100,436.00002c-8.75,-9.5,3,-33,7,-37c0,0,44,-26,44,-26c25.25,-9.25,41,-3.25,46,19c1,33,21,21,84,-4c64,-29,77,-26,59,-58.00002c-22.99,-35.06,10.75,-40,24.5,-44.5c31,-13,53.25,-16.75,52.75,-0.75c-1,14.5,1.25,23.25,-21.75,28.25c-23,6,-23.75,1.5,-14.5,29.75002c16.75,35.25,-23,57.25,-80,79.25c-54,22,-113,54,-126,10c-5,-20,-3,-30,-29,-17c-15.04,11.48,-25.26,19.15,-46,21Z\"\n        id=\"face-eyes-mouth\" __id__=\"_fcblack_scblack_sw1_nmface-eyes-mouth_\"\n        style=\"fill:#000000;stroke:#000000;stroke-width:1\" />\n    <path\n        d=\"m587.64996,1640.4105c0,-31.13,27.794,-67.82,96.724,-66.15c121.436,-5.94,464.20404,-2.91,635.93404,5c93.14,1.67,107.51,35.71,114.52,102.28c6.28,106.82,4.15,162.67,-1.12,273.5c-0.58,59.37,1.55,80.65,-84.49,86.72c-143.47,6.45,-585.72204,-3.41,-644.27604,-5.56c-83.383,-3.34,-114.513,-6.12,-121.739,-87.83c-7.783,-90.06,-2.78,-251.26,4.447,-307.96Z\"\n        id=\"border-open-mind\" __id__=\"_fcblack_scwhite_sw35_nmborder-open-mind_\"\n        style=\"fill:#000000;stroke:#ffffff;stroke-width:35\" />\n    <path\n        d=\"m634.82396,1800.5505c-0.46,-20.72,3.55,-106.96,5.769,-126.93c6.658,-32.84,16.421,-48.82,56.949,-51.74c0,0,233.305,-4.63,233.305,-4.63c0,0,370.91104,5.16,370.91104,5.16c64.03,1.5,83.55,11.71,87.99,61.86c0,0,3.49,120.58,3.49,120.58c0,0,-758.41404,-4.3,-758.41404,-4.3Zm627.55404,42.16c0,0,-3.55,53.59,-3.77,80.33c0.33,6.22,1.22,10.21,4.66,10.21c0,0,35.94,0.44,35.94,0.44c11.54,-1.77,12.19,-98.26,11.99,-98.08c-0.22,-9.1,-1.78,-15.98,-9.32,-15.98c0,0,-22.19,0,-22.19,0c-17.76,1.78,-15.54,11.1,-17.31,23.08Zm0.89,101.19c-5.33,1.33,-6,2.89,-6.88,7.99c0,0,-0.23,14.87,-0.23,14.87c1.11,3.88,1.67,3.77,6.22,3.99c0,0,31.29,0.67,31.29,0.67c4.88,-0.45,6.88,-0.22,7.54,-5.99c0,0,0.89,-13.32,1.11,-13.54c-0.44,-4.77,-0.44,-5.77,-7.1,-6.66c0,0,-31.95,-1.11,-31.95,-1.33Zm-156.63,28.91c-10.46,-0.58,-13.07,-0.29,-13.65,-12.78c-0.29,-31.09,4.65,-99.64,7.26,-125.79c1.45,-12.49,4.07,-15.39,17.72,-15.68c0,0,51.42,-0.29,51.42,-0.58c44.73,1.74,50.5,37.1,48.51,74.07c-2.1,39.01,-15.98,80.18,-62.75,80.76c0,0,-48.51,0,-48.51,0Zm-44.73,-156.58c13.94,2.04,16.26,4.07,16.55,16.85c0,0,-4.94,121.72,-4.94,121.72c-0.58,8.42,-2.9,20.04,-13.07,19.46c-0.29,0,-28.17,-0.29,-28.17,-0.29c0,0,-47.06404,-78.14,-47.06404,-78.14c0,0,-1.453,59.55,-1.162,59.55c-1.453,10.46,-2.034,18.88,-13.944,19.17c0,0,-23.239,-0.58,-23.239,-0.58c-7.553,0.29,-10.167,-6.68,-9.005,-14.23c-0.581,-23.24,4.357,-114.46,6.681,-130.73c1.453,-9,0,-12.78,11.62,-13.36c0.29,0,28.758,0.29,28.758,0.29c0,0,47.93504,68.56,47.93504,68.56c0,0,4.93,-59.84,4.93,-59.84c0.3,-5.81,1.17,-7.27,8.72,-8.43c0,0,15.4,0,15.4,0Zm-192.89004,21.21c0.871,-16.27,1.452,-22.08,18.882,-23.24c0,0,14.815,0,14.815,0c10.748,-0.58,13.943,4.36,12.2,15.98c-3.486,28.17,-6.391,97.02,-6.1,128.1c-0.581,7.56,0.29,15.11,-16.267,14.82c0,0,-19.173,0,-18.882,0c-8.425,-0.29,-9.586,-5.81,-11.329,-22.37c-0.872,-26.43,4.357,-93.83,6.681,-113.29Zm-134.933,119.24c0.214,1.07,0.994,-66.62,-0.145,-77.99c0,0,24.692,24.98,24.692,24.98c4.067,3.92,7.407,5.23,10.893,0.73c0,0,16.703,-17.29,16.703,-17.29c-1.016,15.83,-3.34,52,-2.324,66.52c0.291,11.91,2.034,14.82,10.167,15.98c0,0,24.983,1.16,24.983,1.16c8.86,-0.58,9.005,-2.32,11.764,-13.79c3.922,-24.55,5.665,-104.44,5.665,-122.45c0.29,-9.58,-2.033,-17.72,-11.91,-18.59c0,0,-19.172,-0.29,-19.172,-0.29c-5.229,-0.58,-7.553,1.16,-10.749,4.65c0,0,-29.339,40.09,-29.339,40.09c0,0,-38.345,-43,-38.345,-43c0,0,-32.244,-1.45,-31.954,-1.45c-10.748,1.75,-10.167,6.39,-10.167,12.49c-6.1,24.11,-6.391,98.19,-4.067,127.82c0,10.75,5.229,15.54,11.329,16.41c0.291,0,31.519,0.44,31.519,0.44c9.005,-0.73,10.021,-3.34,10.457,-16.42Z\"\n        id=\"text\" __id__=\"_fcwhite_scwhite_sw1_nmtext_\" style=\"stroke:#ffffff;stroke-width:1;fill:#ffffff\" />\n    <path\n        d=\"m1140.658,1847.8605c-1.04,0,-6.36,92.68,-6.36,92.68c44.39,1.34,43.16,-18.4,47.75,-46.87c-1.25,-19.38,2.86,-40.97,-41.39,-45.81Zm-425.05704,-209.7c-35.038,32.61,-32.445,45.06,-36.983,75.04c-0.359,60.32,26.57,70.74,58.886,76.84c40.932,-6.46,59.963,-35.55,64.347,-64.2c7.464,-59.67,-38.136,-111.38,-86.25,-87.68Zm114.54,13.64c0.001,-9.5,0.718,-19.39,12.113,-20.23c19.125,-2.39,30.974,-2.39,51.797,3.11c48.116,22.87,28.368,77.45,11.851,88.94c-8.258,6.1,-39.653,23.52,-39.822,19.83c0,0,-0.751,34.38,-0.751,34.38c0.359,6.47,-2.873,11.85,-12.716,11.21c0,0,-19.683,0,-19.683,0c-1.712,-28.8,-3.866,-110.67,-2.789,-137.24Zm125.671,-5.38c0.401,-11.35,9.207,-14.29,15.439,-14.36c0,0,66.06704,0.35,66.06704,0.35c2.87,4.67,2.15,21.55,-0.36,26.22c0,0,-43.45004,0,-43.45004,0c-2.868,3.59,-2.868,29.08,-1.07,32.67c11.51004,2.34,24.05004,-2.51,36.29004,-0.68c1.22,5.33,3.21,25.1,-2.18,31.2c0,0,-32.01004,-0.12,-32.01004,-0.12c-5.334,12.69,-5.693,21.3,-2.821,30.64c0,0,34.11104,0,34.11104,0c7.9,0.72,8.26,2.87,8.1,9.4c0.64,8.02,0.43,19,-4.53,23.87c-45.61304,2.5,-76.45904,5.87,-76.65704,-18.65c0,-0.79,-2.025,-83.65,3.071,-120.54Zm132.99604,-4.49c-4.45,35.73,-0.86,112.92,0,134.67c0.21,8.41,2.01,10.93,11.4,10.36c0,0,28.31,0.57,28.31,0.57c4.93,-15.04,-0.1,-67.78,3.23,-71.81c4.22,4.04,41.85,72.89,44.17,72.88c0,0,30.2,0,31.23,0c12.57,1.08,10.78,-14.72,10.12,-29.61c0.61,-12.12,1.37,-86.9,1.37,-112.21c0.09,-10.69,-0.89,-11.67,-5.74,-12.21c0,0,-20.11,-0.36,-20.11,-0.36c-9.67,-0.83,-14.72,0,-16.96,8.76c-1.65,-3.09,-1.53,65.33,-3.11,73.55c-5.1,-3.18,-30.87,-70.52,-45.64,-84.46c0,0,-24.41,-2.16,-24.41,-2.16c-10.34,2.56,-12.21,4.31,-13.86,12.03Zm179.99,26.94c-7.7,0.33,-7.36,0,-7.7,-9.04c0,0,-0.67,-14.05,-0.67,-14.05c0.67,-7.03,0.67,-9.37,12.38,-10.37c10.43,-0.62,33.8,-1.34,47.51,2.68c25.76,10.7,15.06,56.2,8.36,62.23c-23.08,16.72,-23.08,38.81,-22.75,54.86c0,0,-23.4,-0.33,-23.4,-0.33c-6.37,0.67,-6.71,-2.01,-6.21,-7.25c-1.84,-12.82,8.53,-41.6,13.47,-48.69c0,0,13.8,-13.98,13.8,-13.98c7.7,-11.38,2.68,-16.4,-6.02,-16.4c0,0,-28.77,0.34,-28.77,0.34Zm11.71,99.53c0,0,16.39,0.17,16.39,0.17c8.87,0,7.86,1.17,9.46,5.96c0,0,0.58,8.09,0.58,8.09c-1.34,8.03,-2.51,10.54,-10.38,10.71c0,0,-17.39,-0.67,-17.39,-0.67c-5.69,-0.84,-6.53,-0.67,-7.7,-7.7c0,0,0,-10.04,0,-10.04c1.68,-5.68,2.01,-6.02,9.04,-6.52Z\"\n        id=\"text2\" __id__=\"_fcblack_scwhite_sw1_nmtext2_\" style=\"fill:#000000;stroke:#ffffff;stroke-width:1\" />\n    <path\n        d=\"m736.42596,1673.7105c15.799,-0.18,30.88,15.26,36.984,33.75c0.718,22.98,-3.412,37.34,-21.724,43.8c-26.929,1.08,-32.674,-11.85,-36.803,-40.21c0.359,-15.08,2.872,-31.24,21.543,-37.34Zm128.723,-8.8c-1.173,4.66,-1.975,31.96,-0.718,45.96c1.795,2.33,4.309,1.79,6.822,0.72c0,0,21.903,-14.72,21.903,-14.72c1.256,-9.88,1.436,-9.7,-0.898,-18.86c0.311,0,-8.075,-13.32,-27.109,-13.1Z\"\n        id=\"text3\" __id__=\"_fcwhite_scwhite_sw1_nmtext3_\" style=\"fill:#ffffff;stroke:#ffffff;stroke-width:1\" />\n</svg>","clickableShapes":[{"targetId":"*","action":"dblclick","payload":"dblclick","payloadType":"str","topic":""}],"javascriptHandlers":[],"smilAnimations":[],"bindings":[],"showCoordinates":false,"autoFormatAfterEdit":false,"showBrowserErrors":true,"showBrowserEvents":true,"enableJsDebugging":false,"sendMsgWhenLoaded":false,"noClickWhenDblClick":false,"outputField":"payload","editorUrl":"//drawsvg.org/drawsvg.html","directory":"","panning":"disabled","zooming":"disabled","panOnlyWhenZoomed":false,"doubleClickZoomEnabled":false,"mouseWheelZoomEnabled":false,"dblClickZoomPercentage":150,"cssString":"div.ui-svg svg{\n    color: none;\n    fill: none !important;\n}\ndiv.ui-svg path {\n    fill: inherit;\n}\nui-card-panel {\n    border: 0px !important;\n}\n","name":"","x":848,"y":395,"wires":[["c1d97e4e91fcb69b"]]},{"id":"59418c3886d4b261","type":"function","z":"3ebb65fdbecb182e","name":"set text colour","func":"flow.set(\"textColor\",  ((flow.get(\"textColor\") || 0) + 1) % 4);\nvar clr = [\"green\", \"blue\", \"yellow\", \"orange\"][flow.get(\"textColor\")];\n\nmsg.payload = [ \n    {\n    \"command\": \"update_style\",\n    \"selector\": \"#text3\",\n        \"attributeName\": \"fill\",\n        \"attributeValue\": clr,\n    },\n    {\n        \"command\": \"update_style\",\n        \"selector\": \"#text\",\n        \"attributeName\": \"fill\",\n        \"attributeValue\": clr,\n    },\n    {\n        \"command\": \"update_style\",\n        \"selector\": \"#face-ear-hole\",\n        \"attributeName\": \"fill\",\n        \"attributeValue\": clr,\n    },\n]\n;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":594,"y":256.5,"wires":[["5fd84eed125598b9"]]},{"id":"afa0c8a8edd64665","type":"function","z":"3ebb65fdbecb182e","name":"set circle colour","func":"msg.payload = {\n    \"command\": \"update_style\",\n    \"selector\": \"#background\",\n        \"attributeName\": \"stroke\",\n    \"attributeValue\": '#' + (0x1000000 + Math.random() * 0xffffff).toString(16).substr(1, 6)\n    }\n;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":392,"wires":[["5fd84eed125598b9"]]},{"id":"2925bfe5b8c2dc86","type":"inject","z":"3ebb65fdbecb182e","d":true,"name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":true,"onceDelay":"5","topic":"","payload":"","payloadType":"date","x":256,"y":257,"wires":[["cbdbb2992910e850","afa0c8a8edd64665","59418c3886d4b261"]]},{"id":"bfb556a56c51b1c4","type":"comment","z":"3ebb65fdbecb182e","name":"Use https://drawsvg.org/drawsvg.html","info":"To remove the attributes `fill` and `stroke` and replace them with a single `style` that represents that css styling that SVG graphics node requires.\n\nhttps://drawsvg.org/drawsvg.html\n\n(In the properties window there is an option to inline the styles.)","x":195,"y":890,"wires":[]},{"id":"908a63671e6fca05","type":"inject","z":"3ebb65fdbecb182e","d":true,"name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"20","crontab":"","once":true,"onceDelay":"6","topic":"","payload":"","payloadType":"date","x":611,"y":731,"wires":[["7ff2e386.cacdac"]]},{"id":"7ff2e386.cacdac","type":"change","z":"3ebb65fdbecb182e","name":"get_svg","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"command\":\"get_svg\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":703,"y":652,"wires":[["5fd84eed125598b9"]]},{"id":"c1d97e4e91fcb69b","type":"switch","z":"3ebb65fdbecb182e","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"get_svg","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":976,"y":464,"wires":[["416cfccb23a72d51"],["055e5f4e7a93c8f5"]]},{"id":"3f7e7fba6c9f1011","type":"debug","z":"3ebb65fdbecb182e","name":"debug 6","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1611,"y":477,"wires":[]},{"id":"416cfccb23a72d51","type":"function","z":"3ebb65fdbecb182e","name":"set file name","func":"msg.filename = \"/data/output/dd.\" + Date.now() + \".svg\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1151,"y":388,"wires":[["1b7e24b3e514fb35"]]},{"id":"1b7e24b3e514fb35","type":"file","z":"3ebb65fdbecb182e","name":"write svg","filename":"filename","filenameType":"msg","appendNewline":false,"createDir":false,"overwriteFile":"true","encoding":"none","x":1272,"y":282,"wires":[[]]},{"id":"cbdbb2992910e850","type":"function","z":"3ebb65fdbecb182e","name":"set random head colours","func":"msg.payload = {\n    \"command\": \"update_style\",\n    \"selector\": \"#face-eyes-mouth\",\n        \"attributeName\": \"fill\",\n    \"attributeValue\": '#' + (0x1000000 + Math.random() * 0xffffff).toString(16).substr(1, 6)\n    }\n;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":518,"y":456,"wires":[["5fd84eed125598b9"]]},{"id":"0b894fb51ca2ec8d","type":"function","z":"3ebb65fdbecb182e","name":"add random spots","func":"msg.payload = {\n    \"command\": \"add_element\",\n    \"elementType\": \"circle\",\n    \"elementId\": \"extra_circle\",\n    \"elementAttributes\": {\n        \"cx\": \"\" + (Math.random() * 1932),\n        \"cy\": \"\" + (Math.random() * 2580),\n                \"r\": \"30\"\n    },\n   \"elementStyleAttributes\": {\n       \"fill\": '#' + (0x1000000 + Math.random() * 0xffffff).toString(16).substr(1, 6),\n       \"stroke\": '#' + (0x1000000 + Math.random() * 0xffffff).toString(16).substr(1, 6)\n   },\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":514,"y":539,"wires":[["5fd84eed125598b9"]]},{"id":"6878df2ee0e18451","type":"inject","z":"3ebb65fdbecb182e","d":true,"name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"4","crontab":"","once":true,"onceDelay":"4","topic":"","payload":"","payloadType":"date","x":378,"y":607,"wires":[["0b894fb51ca2ec8d"]]},{"id":"febdcb4a54c4b38d","type":"template","z":"3ebb65fdbecb182e","name":"original svg","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<svg xmlns:dc=\"http://purl.org/dc/elements/1.1/\" xmlns:cc=\"http://creativecommons.org/ns#\" xmlns:rdf=\"http://www.w3.org/1999/02/22-rdf-syntax-ns#\"  xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 1931.9987 2181.5611\" id=\"svg155562\" version=\"1.1\" viewbox=\"0 0 193 258\" height=\"376.131\" width=\"333.103\" xmlns:xlink=\"http://www.w3.org/1999/xlink\" preserveAspectRatio=\"xMinYMin meet\"><rect id=\"svgEditorBackground\" x=\"0\" y=\"0\" width=\"1932\" height=\"2181.56\" style=\"fill:none;stroke:none\"/>\n  <metadata id=\"metadata155568\">\n    <rdf:RDF>\n      <cc:Work rdf:about=\"\">\n        <dc:format>image/svg+xml</dc:format>\n        <dc:type rdf:resource=\"http://purl.org/dc/dcmitype/StillImage\"/>\n        <dc:title/>\n      </cc:Work>\n    </rdf:RDF>\n  </metadata>\n  <defs id=\"defs155566\"/>\n  <path d=\"m 996.38796,1806.7105 c 0,0 0,0 0,0\" id=\"open-mind-center-point\" stroke-width=\"0\" stroke=\"none\" fill=\"none\" __id__=\"_fcnone_scnone_sw0_nmopen-mind-center-point_\"/>\n  <path d=\"m 1739.738,1821.7105 c 0,0 -1416.00004,-28 -1416.00004,-28 0,0 1416.00004,28 1416.00004,28 z\" id=\"open-mind-path\" stroke-width=\"0\" stroke=\"none\" fill=\"none\" __id__=\"_fcnone_scnone_sw0_nmopen-mind-path_\"/>\n  <path d=\"m 1175.738,949.71048 c 9,-7 122,-33 172,68.00002 0,0 -172,-68.00002 -172,-68.00002 z\" id=\"draw-path-and-center-point\" stroke-width=\"0\" stroke=\"none\" fill=\"none\" __id__=\"_fcnone_scnone_sw0_nmdraw-path-and-center-point_\"/>\n  <path d=\"m 992.73796,1196.7105 c 0,0 0,0 0,0\" id=\"center-pt\" stroke-width=\"0\" stroke=\"none\" fill=\"none\" __id__=\"_fcnone_scnone_sw0_nmcenter-pt_\"/>\n  <path d=\"m17.737959,2127.7105c-4,0,44,-744,44,-744c-15.2187,-34.67,435.122001,-293.43,552.500001,-320.5c0,-0.5,-13.5,-19.5,-16,-22.5c-240.5,17,-312.583,-298.99002,-194.505,-305.13002c-110,-233.996,-117.995,-529.87,96.005,-645.869996c209,-141,640.00004,-55,653.00004,85.999996c3.85,20.808,107,134,181,216c0,0,15,79.125,15,79c-0.12,-0.125,49.2,5.204,49.2,5.204c69.52,-14.823,95.6,-45.325,129.32,84.853c13,68,47.48,130.943,-24.52,166.943c0,0,-52,24,-52,24c0,0,-3,94,-3,94c1,2,27,2,29,1c126,-67,137.55,3.36,161,67c23,84,39,102.00002,-37,150.00002c60,20,245,102,273,142c0,0,40,958,40,958c0,0,-1892.000041,-36,-1896.000041,-36Z\" id=\"background\" __id__=\"_fcblack_scwhite_sw35_nmbackground_\" style=\"stroke:#40E0D0;stroke-width:35;fill:#000000\"/>\n  <path d=\"m1122.738,209.71048c-75,138,-193.00004,156,-331.00004,128c-36,-3,-172,-21,-224,8c-17,38,18,104,34,120c-58,92,-48,177,36,326c-29,1,-104.212,-7.55,-104.17,-7.57c0,0,-25.83,3.57,-25.83,3.57c-19.114,-6.88,-12.507,-7.66,-38.065,-13.28c-99.677,-7.67,-78.926,78.83,-19.935,149.28c30,51,127,113.00002,169,36c0,0,11,38,11,36c132,211.00002,149,232.00002,338,282.00002c134.00004,29,219.00004,28,292.00004,26c118,-35,102.88,-27.25,131.06,-155.12c0.05,0,-152.62,67.37,-234.44,88c-40.21,12.03,-45.42,-18.47,-49.84,-19.26c-52.94,-19.93,-82.16,-31.28,-125.12404,-48.81c-38.5,15.47,-48.812,4.81,-59.125,-7.56c-20.625,-21.66,-39.187,-55.34,-60.156,-101.75c-15.125,-37.12,0.344,-43.66,21.313,-61.88002c73.562,-34.37,404.25204,-150.56,465.09204,-172.21c18.56,-6.88,37.47,15.47,41.25,31.28c0,-0.35,18.22,1.72,17.97,1.31c-4,-4,0.31,-84.84,-0.44,-100.31c-98.3,36.97,-230.18,94.22,-378.81,136.12c-14.94,10.75,-37.43204,4.1,-49.70004,-12.26c-38.337,-22.49,-60.828,-27.09,-107.855,-53.67c-28.669,10.24,-43.448,0.51,-60.317,-22.49c-21.979,-35.27,-39.87,-74.117,-61.85,-123.699c-26.069,-49.072,-33.225,-88.942,43.96,-121.145c142.102,-50.605,255.58204,-79.741,414.00204,-123.52c55.83,-20.264,74.86,-10.339,86.02,47.971c0,-0.414,15.72,0,15.72,-0.414c-2.49,-24.399,-10.88,-46.298,-13.73,-57.583c-60,-69,-118,-130,-172,-217Z\" id=\"face\" __id__=\"_fcwhite_scwhite_sw1_nmface_\" style=\"fill:#ffffff;stroke:#ffffff;stroke-width:1\"/>\n  <path d=\"m960.89796,724.33848c-17.891,-42.937,-11.757,-47.026,26.58,-62.361c49.56004,-21.262,202.42004,-77.697,315.90004,-112.967c50.6,-19.424,93.55,-34.698,114.5,-40.381c54.69,-15.335,51.62,-5.112,64.4,33.736c3.58,22.491,15.74,84.53,15.34,105.299c7.15,42.427,-5.11,37.826,-49.58,55.206c-19.81,8.228,-128.86,54.89,-164.09,72.58c-24.53,9.72,-166.12,66.46,-200.88,76.17c-36.81,11.24,-72.08,18.4,-86.90004,-15.34c-15.846,-33.73,-21.469,-79.23,-35.27,-111.942Zm-48.05,-12.268c-23.669,-9.144,-119.1,-45.493,-133.923,-44.982c6.133,16.869,46.004,102.742,60.316,122.682c13.291,7.66,87.409,44.98,114.5,53.16c-9.201,-32.72,-35.27,-118.592,-40.893,-130.86ZM1040.128,1101.0605c6.64,14.32,30.16,62.36,40.38,81.28c-27.6,-7.67,-120.12204,-46.52,-136.47904,-53.67c-16.101,-6.39,-20.446,-14.32,-23.002,-19.94c-6.389,-8.69,-20.702,-39.61,-24.536,-49.33c-9.967,-20.95,-9.967,-24.02,13.291,-11.5c29.136,15.34,95.32604,41.41,130.34604,53.16Zm44.47,10.23c-1.19,0.98,35.78,63.89,47.03,71.05c13.29,20.96,51.62,11.24,71.56,2.55c35.63,-8.83,144.49,-53.86,243.31,-98.14c65.43,-28.11,109.39,-47.54,133.41,-62.87c32.72,-17.38,27.1,-20.45,26.58,-54.70002c0,0,-16.86,-70.02,-17.89,-70.02c-9.71,-32.72,-20.44,-31.19,-55.71,-23.01c-155.39,47.54,-369.06,146.71002,-423.75,164.09002c-56.23,17.37,-40.39,47.02,-24.54,71.05Z\" id=\"draw-faces\" __id__=\"_fcwhite_scwhite_sw1_nmdraw-faces_\" style=\"fill:#ffffff;stroke:#ffffff;stroke-width:1\"/>\n  <path d=\"m520.53296,899.16048c0,0,33.481,61.08,33.481,61.08c0,0,-32.459,-0.77,-32.459,-0.77c0,0,-29.817,-49.76,-29.817,-49.76c-17,-7,-36,-22,-24,-50c5.768,-8.09,8.835,-9.88,22,-12c24.406,0.84,36.162,13.11,30.795,51.45Zm-9.795,-73.45c-22,-21,-53,-36,-78,-18c-19,30,-2,51,15,86c0,-17,-10,-45,9,-61c16,-17,34,-13,54,-7Z\" id=\"face-ear-hole\" __id__=\"_fcblack_scblack_sw1_nmface-ear-hole_\" style=\"fill:#000000;stroke:#000000;stroke-width:1\"/>\n  <path d=\"m1078.738,727.71048c7,44,53,59,93,38c13,-9,29,-34,22,-64c-6,-40,-81,-77,-109,-7c38,-35,59,-6,51,21c-6,30,-40,29,-57,12Zm217,-70c34,19,50,1,54,-21c0,-28,-31,-43,-51,-17c1,-50,87.44,-42.586,104,-4c8.49,31.443,2.87,46.267,-14.51,67.735c-26.07,22.492,-71.49,22.265,-92.49,-25.735Zm-100,436.00002c-8.75,-9.5,3,-33,7,-37c0,0,44,-26,44,-26c25.25,-9.25,41,-3.25,46,19c1,33,21,21,84,-4c64,-29,77,-26,59,-58.00002c-22.99,-35.06,10.75,-40,24.5,-44.5c31,-13,53.25,-16.75,52.75,-0.75c-1,14.5,1.25,23.25,-21.75,28.25c-23,6,-23.75,1.5,-14.5,29.75002c16.75,35.25,-23,57.25,-80,79.25c-54,22,-113,54,-126,10c-5,-20,-3,-30,-29,-17c-15.04,11.48,-25.26,19.15,-46,21Z\" id=\"face-eyes-mouth\" __id__=\"_fcblack_scblack_sw1_nmface-eyes-mouth_\" style=\"fill:#000000;stroke:#000000;stroke-width:1\"/>\n  <path d=\"m587.64996,1640.4105c0,-31.13,27.794,-67.82,96.724,-66.15c121.436,-5.94,464.20404,-2.91,635.93404,5c93.14,1.67,107.51,35.71,114.52,102.28c6.28,106.82,4.15,162.67,-1.12,273.5c-0.58,59.37,1.55,80.65,-84.49,86.72c-143.47,6.45,-585.72204,-3.41,-644.27604,-5.56c-83.383,-3.34,-114.513,-6.12,-121.739,-87.83c-7.783,-90.06,-2.78,-251.26,4.447,-307.96Z\" id=\"border-open-mind\" __id__=\"_fcblack_scwhite_sw35_nmborder-open-mind_\" style=\"fill:#000000;stroke:#ffffff;stroke-width:35\"/>\n  <path d=\"m634.82396,1800.5505c-0.46,-20.72,3.55,-106.96,5.769,-126.93c6.658,-32.84,16.421,-48.82,56.949,-51.74c0,0,233.305,-4.63,233.305,-4.63c0,0,370.91104,5.16,370.91104,5.16c64.03,1.5,83.55,11.71,87.99,61.86c0,0,3.49,120.58,3.49,120.58c0,0,-758.41404,-4.3,-758.41404,-4.3Zm627.55404,42.16c0,0,-3.55,53.59,-3.77,80.33c0.33,6.22,1.22,10.21,4.66,10.21c0,0,35.94,0.44,35.94,0.44c11.54,-1.77,12.19,-98.26,11.99,-98.08c-0.22,-9.1,-1.78,-15.98,-9.32,-15.98c0,0,-22.19,0,-22.19,0c-17.76,1.78,-15.54,11.1,-17.31,23.08Zm0.89,101.19c-5.33,1.33,-6,2.89,-6.88,7.99c0,0,-0.23,14.87,-0.23,14.87c1.11,3.88,1.67,3.77,6.22,3.99c0,0,31.29,0.67,31.29,0.67c4.88,-0.45,6.88,-0.22,7.54,-5.99c0,0,0.89,-13.32,1.11,-13.54c-0.44,-4.77,-0.44,-5.77,-7.1,-6.66c0,0,-31.95,-1.11,-31.95,-1.33Zm-156.63,28.91c-10.46,-0.58,-13.07,-0.29,-13.65,-12.78c-0.29,-31.09,4.65,-99.64,7.26,-125.79c1.45,-12.49,4.07,-15.39,17.72,-15.68c0,0,51.42,-0.29,51.42,-0.58c44.73,1.74,50.5,37.1,48.51,74.07c-2.1,39.01,-15.98,80.18,-62.75,80.76c0,0,-48.51,0,-48.51,0Zm-44.73,-156.58c13.94,2.04,16.26,4.07,16.55,16.85c0,0,-4.94,121.72,-4.94,121.72c-0.58,8.42,-2.9,20.04,-13.07,19.46c-0.29,0,-28.17,-0.29,-28.17,-0.29c0,0,-47.06404,-78.14,-47.06404,-78.14c0,0,-1.453,59.55,-1.162,59.55c-1.453,10.46,-2.034,18.88,-13.944,19.17c0,0,-23.239,-0.58,-23.239,-0.58c-7.553,0.29,-10.167,-6.68,-9.005,-14.23c-0.581,-23.24,4.357,-114.46,6.681,-130.73c1.453,-9,0,-12.78,11.62,-13.36c0.29,0,28.758,0.29,28.758,0.29c0,0,47.93504,68.56,47.93504,68.56c0,0,4.93,-59.84,4.93,-59.84c0.3,-5.81,1.17,-7.27,8.72,-8.43c0,0,15.4,0,15.4,0Zm-192.89004,21.21c0.871,-16.27,1.452,-22.08,18.882,-23.24c0,0,14.815,0,14.815,0c10.748,-0.58,13.943,4.36,12.2,15.98c-3.486,28.17,-6.391,97.02,-6.1,128.1c-0.581,7.56,0.29,15.11,-16.267,14.82c0,0,-19.173,0,-18.882,0c-8.425,-0.29,-9.586,-5.81,-11.329,-22.37c-0.872,-26.43,4.357,-93.83,6.681,-113.29Zm-134.933,119.24c0.214,1.07,0.994,-66.62,-0.145,-77.99c0,0,24.692,24.98,24.692,24.98c4.067,3.92,7.407,5.23,10.893,0.73c0,0,16.703,-17.29,16.703,-17.29c-1.016,15.83,-3.34,52,-2.324,66.52c0.291,11.91,2.034,14.82,10.167,15.98c0,0,24.983,1.16,24.983,1.16c8.86,-0.58,9.005,-2.32,11.764,-13.79c3.922,-24.55,5.665,-104.44,5.665,-122.45c0.29,-9.58,-2.033,-17.72,-11.91,-18.59c0,0,-19.172,-0.29,-19.172,-0.29c-5.229,-0.58,-7.553,1.16,-10.749,4.65c0,0,-29.339,40.09,-29.339,40.09c0,0,-38.345,-43,-38.345,-43c0,0,-32.244,-1.45,-31.954,-1.45c-10.748,1.75,-10.167,6.39,-10.167,12.49c-6.1,24.11,-6.391,98.19,-4.067,127.82c0,10.75,5.229,15.54,11.329,16.41c0.291,0,31.519,0.44,31.519,0.44c9.005,-0.73,10.021,-3.34,10.457,-16.42Z\" id=\"text\" __id__=\"_fcwhite_scwhite_sw1_nmtext_\" style=\"stroke:#ffffff;stroke-width:1;fill:#ffffff\"/>\n  <path d=\"m1140.658,1847.8605c-1.04,0,-6.36,92.68,-6.36,92.68c44.39,1.34,43.16,-18.4,47.75,-46.87c-1.25,-19.38,2.86,-40.97,-41.39,-45.81Zm-425.05704,-209.7c-35.038,32.61,-32.445,45.06,-36.983,75.04c-0.359,60.32,26.57,70.74,58.886,76.84c40.932,-6.46,59.963,-35.55,64.347,-64.2c7.464,-59.67,-38.136,-111.38,-86.25,-87.68Zm114.54,13.64c0.001,-9.5,0.718,-19.39,12.113,-20.23c19.125,-2.39,30.974,-2.39,51.797,3.11c48.116,22.87,28.368,77.45,11.851,88.94c-8.258,6.1,-39.653,23.52,-39.822,19.83c0,0,-0.751,34.38,-0.751,34.38c0.359,6.47,-2.873,11.85,-12.716,11.21c0,0,-19.683,0,-19.683,0c-1.712,-28.8,-3.866,-110.67,-2.789,-137.24Zm125.671,-5.38c0.401,-11.35,9.207,-14.29,15.439,-14.36c0,0,66.06704,0.35,66.06704,0.35c2.87,4.67,2.15,21.55,-0.36,26.22c0,0,-43.45004,0,-43.45004,0c-2.868,3.59,-2.868,29.08,-1.07,32.67c11.51004,2.34,24.05004,-2.51,36.29004,-0.68c1.22,5.33,3.21,25.1,-2.18,31.2c0,0,-32.01004,-0.12,-32.01004,-0.12c-5.334,12.69,-5.693,21.3,-2.821,30.64c0,0,34.11104,0,34.11104,0c7.9,0.72,8.26,2.87,8.1,9.4c0.64,8.02,0.43,19,-4.53,23.87c-45.61304,2.5,-76.45904,5.87,-76.65704,-18.65c0,-0.79,-2.025,-83.65,3.071,-120.54Zm132.99604,-4.49c-4.45,35.73,-0.86,112.92,0,134.67c0.21,8.41,2.01,10.93,11.4,10.36c0,0,28.31,0.57,28.31,0.57c4.93,-15.04,-0.1,-67.78,3.23,-71.81c4.22,4.04,41.85,72.89,44.17,72.88c0,0,30.2,0,31.23,0c12.57,1.08,10.78,-14.72,10.12,-29.61c0.61,-12.12,1.37,-86.9,1.37,-112.21c0.09,-10.69,-0.89,-11.67,-5.74,-12.21c0,0,-20.11,-0.36,-20.11,-0.36c-9.67,-0.83,-14.72,0,-16.96,8.76c-1.65,-3.09,-1.53,65.33,-3.11,73.55c-5.1,-3.18,-30.87,-70.52,-45.64,-84.46c0,0,-24.41,-2.16,-24.41,-2.16c-10.34,2.56,-12.21,4.31,-13.86,12.03Zm179.99,26.94c-7.7,0.33,-7.36,0,-7.7,-9.04c0,0,-0.67,-14.05,-0.67,-14.05c0.67,-7.03,0.67,-9.37,12.38,-10.37c10.43,-0.62,33.8,-1.34,47.51,2.68c25.76,10.7,15.06,56.2,8.36,62.23c-23.08,16.72,-23.08,38.81,-22.75,54.86c0,0,-23.4,-0.33,-23.4,-0.33c-6.37,0.67,-6.71,-2.01,-6.21,-7.25c-1.84,-12.82,8.53,-41.6,13.47,-48.69c0,0,13.8,-13.98,13.8,-13.98c7.7,-11.38,2.68,-16.4,-6.02,-16.4c0,0,-28.77,0.34,-28.77,0.34Zm11.71,99.53c0,0,16.39,0.17,16.39,0.17c8.87,0,7.86,1.17,9.46,5.96c0,0,0.58,8.09,0.58,8.09c-1.34,8.03,-2.51,10.54,-10.38,10.71c0,0,-17.39,-0.67,-17.39,-0.67c-5.69,-0.84,-6.53,-0.67,-7.7,-7.7c0,0,0,-10.04,0,-10.04c1.68,-5.68,2.01,-6.02,9.04,-6.52Z\" id=\"text2\" __id__=\"_fcblack_scwhite_sw1_nmtext2_\" style=\"fill:#000000;stroke:#ffffff;stroke-width:1\"/>\n  <path d=\"m736.42596,1673.7105c15.799,-0.18,30.88,15.26,36.984,33.75c0.718,22.98,-3.412,37.34,-21.724,43.8c-26.929,1.08,-32.674,-11.85,-36.803,-40.21c0.359,-15.08,2.872,-31.24,21.543,-37.34Zm128.723,-8.8c-1.173,4.66,-1.975,31.96,-0.718,45.96c1.795,2.33,4.309,1.79,6.822,0.72c0,0,21.903,-14.72,21.903,-14.72c1.256,-9.88,1.436,-9.7,-0.898,-18.86c0.311,0,-8.075,-13.32,-27.109,-13.1Z\" id=\"text3\" __id__=\"_fcwhite_scwhite_sw1_nmtext3_\" style=\"fill:#ffffff;stroke:#ffffff;stroke-width:1\"/>\n</svg>","output":"str","x":1557,"y":334.25,"wires":[["32c344b2a24535bb"]]},{"id":"055e5f4e7a93c8f5","type":"switch","z":"3ebb65fdbecb182e","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"dblclick","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":1415,"y":470,"wires":[["febdcb4a54c4b38d"],["3f7e7fba6c9f1011"]]},{"id":"32c344b2a24535bb","type":"function","z":"3ebb65fdbecb182e","name":"replace svg command","func":"msg.payload = {\n    \"svg\": msg.payload,\n    \"command\": \"replace_svg\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1244,"y":143,"wires":[["5fd84eed125598b9"]]},{"id":"9360ce174843c46b","type":"inject","z":"3ebb65fdbecb182e","name":"","props":[{"p":"fubar","v":"fubar","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"3","topic":"","x":1296,"y":412,"wires":[["febdcb4a54c4b38d"]]},{"id":"e3bb2dbaf766f5da","type":"Question","z":"3ebb65fdbecb182e","name":"Do you know the artist who made \"open? mind!\"","info":"The original is a piece of street art that I just happened to photograph in Berlin in sometime the late 1990s.\n\nI then converted it into one of my frst SVGs and it's been part of me ever since. Including my github profile image https://github.com/gorenje/ (which thankfully is the original image - I've of course lost original)\n\nIf you know the artist, please send email to [me](mailto:open.mind@spreads-the.love).\n\n![log](https://cdn.openmindmap.org/content/open_mind.svg)\n","sumPass":false,"sumPassPrio":"0","createdAt":"2023-07-03T08:19:58.989Z","updatedAt":"2023-07-17T18:34:21.081Z","x":218,"y":77,"wires":[[]]},{"id":"948c50d4afd3e626","type":"ui_spacer","z":"3ebb65fdbecb182e","name":"spacer","group":"501e09782a526635","order":1,"width":8,"height":1},{"id":"72e6912f0e4da2de","type":"ui_spacer","z":"3ebb65fdbecb182e","name":"spacer","group":"501e09782a526635","order":4,"width":8,"height":1},{"id":"0fbbd6c7974dd195","type":"ui_spacer","z":"3ebb65fdbecb182e","name":"spacer","group":"501e09782a526635","order":5,"width":"8","height":"4"},{"id":"30d77a5056d94f24","type":"ui_spacer","z":"3ebb65fdbecb182e","name":"spacer","group":"501e09782a526635","order":2,"width":1,"height":1},{"id":"501e09782a526635","type":"ui_group","name":"SVG","tab":"bad05d39a327da50","order":1,"disp":false,"width":"8","collapse":false,"className":""},{"id":"bad05d39a327da50","type":"ui_tab","name":"SVG","icon":"fa-image","order":8,"disabled":false,"hidden":false}]