a8c4b9b40ad11bb5/flows.json
[{"id":"a8c4b9b40ad11bb5","type":"tab","label":"[NodeDev] Node development in Node-RED","disabled":false,"info":"::: aim\n\nProvide an explanation of the requirements for developing nodes in Node-RED.\n\n:::\n\n::: background\n\nThis is flow is a meta-flow that retrieves various other flows required to do node development in node red. Each of these flows is retrieved by using the `FlowHubPull` node.\n\nEach flow will be similarly imported, using the import flow button inside the FlowHubPull property panel:\n\n![img](https://cdn.openmindmap.org/content/1695803946869_Screen_Shot_2023-09-27_at_10.33.33.png)\n\nAfter a moment or two, the Node-RED flow import window will open with the flow data of the requested flow:\n\n![img](https://cdn.openmindmap.org/content/1695803958856_Screen_Shot_2023-09-27_at_10.33.51.png)\n\nThe dialog should the tell you that the flow was imported:\n\n![img](https://cdn.openmindmap.org/content/1695804321413_Screen_Shot_2023-09-27_at_10.44.55.png)\n\nIf there are existing nodes with which the new flows conflict, then cancel and check whether the flows aren't already installed:\n\n![img](https://cdn.openmindmap.org/content/1695803952409_Screen_Shot_2023-09-27_at_10.34.05.png)\n\n:::\n\n","env":[]},{"id":"14420add9df659ab","type":"group","z":"a8c4b9b40ad11bb5","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["e605d30b8bb9f82b","741499bcfaaec4cb","6c3f4a64781ee9d5","67d6d2613fd6a495"],"x":717,"y":695.25,"w":704,"h":482.75},{"id":"e605d30b8bb9f82b","type":"group","z":"a8c4b9b40ad11bb5","g":"14420add9df659ab","name":"For publishing to NPM and Interfacing with GitHub","style":{"label":true},"nodes":["baeab44c78190e33"],"x":743,"y":721.25,"w":472,"h":82},{"id":"741499bcfaaec4cb","type":"group","z":"a8c4b9b40ad11bb5","g":"14420add9df659ab","name":"Can be used to install the nodedev node package","style":{"label":true},"nodes":["f43dabea76015297"],"x":743,"y":837.5,"w":652,"h":82},{"id":"6c3f4a64781ee9d5","type":"group","z":"a8c4b9b40ad11bb5","g":"14420add9df659ab","name":"Obtain an existing node package as starting point for development","style":{"label":true},"nodes":["942287032b7ffe50"],"x":743,"y":1070,"w":425,"h":82},{"id":"67d6d2613fd6a495","type":"group","z":"a8c4b9b40ad11bb5","g":"14420add9df659ab","name":"Setting up an hello world node package","style":{"label":true},"nodes":["b2da6c0b5d5998e3"],"x":743,"y":953.75,"w":472,"h":82},{"id":"942287032b7ffe50","type":"FlowHubPull","z":"a8c4b9b40ad11bb5","g":"6c3f4a64781ee9d5","name":"","notab":false,"flowid":"eef4037a6d25a1e0","flowname":"[NodeDev] Example import of existing package","x":949,"y":1111,"wires":[[]]},{"id":"baeab44c78190e33","type":"FlowHubPull","z":"a8c4b9b40ad11bb5","g":"e605d30b8bb9f82b","name":"","notab":false,"flowid":"d0506e991d512ace","flowname":"[Introspection] Develop Node-RED nodes in Node-RED","x":979,"y":762.25,"wires":[[]]},{"id":"f43dabea76015297","type":"FlowHubPull","z":"a8c4b9b40ad11bb5","g":"741499bcfaaec4cb","name":"","notab":false,"flowid":"b92be5062203ff69","flowname":"[NodeDev] Node-RED nodes for the development of Node-RED nodes in Node-RED","x":1069,"y":878.5,"wires":[[]]},{"id":"b2da6c0b5d5998e3","type":"FlowHubPull","z":"a8c4b9b40ad11bb5","g":"67d6d2613fd6a495","name":"","notab":false,"flowid":"7bece6814c033925","flowname":"[NodeDev] Example of basic setup for node development","x":979,"y":994.75,"wires":[[]]},{"id":"a972cdcd39366ffa","type":"NodeFactory","z":"a8c4b9b40ad11bb5","name":"","nodename":"","color":"#e5e4ef","hasbutton":false,"hasinput":true,"outputcount":1,"category":"","summary":"","description":"","icon":"font-awesome/fa-industry","x":1199,"y":1322,"wires":[[]]},{"id":"9131d3df790263aa","type":"inject","z":"a8c4b9b40ad11bb5","name":"inject package details","props":[{"p":"packagename","v":"@gregoriusrippenstein/node-red-contrib-flowhub","vt":"str"},{"p":"packageversion","v":"0.1.6","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":989.142822265625,"y":1356.7142333984375,"wires":[["40826452c8fda5d5"]]},{"id":"40826452c8fda5d5","type":"function","z":"a8c4b9b40ad11bb5","name":"retrieve tgz URL for package","func":"pacote.manifest(\n    msg.packagename + \"@\" + msg.packageversion\n).then(manifest => {\n    msg.payload = manifest._resolved\n    node.send(msg)\n}).catch( err => {\n    msg.error = err\n    node.error(\"failed to get url\", msg)\n})\n\n\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[{"var":"pacote","module":"pacote"}],"x":1056.142822265625,"y":1506.7142333984375,"wires":[["3c3aee903a870e18"]]},{"id":"3c3aee903a870e18","type":"change","z":"a8c4b9b40ad11bb5","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1183.142822265625,"y":1447.7142333984375,"wires":[["00102ce8ef6e4ab4"]]},{"id":"00102ce8ef6e4ab4","type":"http request","z":"a8c4b9b40ad11bb5","name":"","method":"GET","ret":"bin","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":1225.142822265625,"y":1385.7142333984375,"wires":[["a972cdcd39366ffa"]]}]