7f8714fa6e835a2a/flows.json
[{"id":"7f8714fa6e835a2a","type":"tab","label":"[NR] intro","disabled":false,"info":"::: aim\n\nThe Node-RED basics.\n\n:::\n\n### Steps\n\nThe following steps are explained here:\n\n<a class='rev-view-button' href='#' onclick='return sliderTo(400);'>Step 1</a>: Adding two to an input of two, `2 + 2 = 4`. An <a class=\"ahl-node-only\" data-ids=\"80f37ae872b2f29e\">inject node</a> prepares the payload of 2 which flows to a <a class=\"ahl-node-only\" data-ids=\"39c903d9ad714d5d\">function node</a> that adds 2 to the payload that enters the node. A <a class=\"ahl-node-only\" data-ids=\"965dbb28855d5d69\">debug node</a> displays the final result.\n\n<a class='rev-view-button' href='#' onclick='return sliderTo(300);'>Step 2</a>: Reusing data to compute `4 + 5 = 9`. A <a class=\"ahl-node-only\" data-ids=\"6ab5f9b915b5f52e\">function node adds 5</a> to the payload that enters it.\n\n<a class='rev-view-button' href='#' onclick='return sliderTo(200);'>Step 3</a>: Execute *some* time not at the *same* time, using join to combine data, to compute `9 * 4 = 36`.\n\n<a class='rev-view-button' href='#' onclick='return sliderTo(100);'>Step 4</a>: Reuse by copy and paste, `36 + 5 = 41`, the `+ 5` function was copied and pased\n\n<a class='rev-view-button' href='#' onclick='return sliderTo(0);'>Step 5</a>: Reuse by using link nodes, <a class=\"ahl-link-node\" data-ids=\"ba6fcd9ca7edb9f5,3740a092fc867dc8,9484f0c1c5ddcdf9\">`+ 5` node</a> is called via <a class=\"ahl-node-only\" data-ids=\"3fb5d5665435c419,425ecd876d73f406\">link call node</a>\n\n\n\n<script>\n$(function(){\n    setTimeout( () => {\n      $('#sha94251231f80642a975e99cfceda26cb6baf8d7f9').trigger('click');\n      $('#shaef0694d5e0af19d56496c24b345ad222e06af570').trigger('click');\n      $('#sha99b0bd4c7a68ceac0c357d93bbf9fd1ae841a1e1').trigger('click');\n      $('#shaa145e160fb3c8adb811e5c39a1c7e99d57e7e9e4').trigger('click');\n      $('#sha4d4d1d05c7263e5e664090155daa204c6d1a5382').trigger('click');\n      setTimeout( ()=> {\n        $('#comparebutton').trigger('click')\n      },400);\n    },500);\n})\n</script>\n","env":[]},{"id":"80f37ae872b2f29e","type":"inject","z":"7f8714fa6e835a2a","name":"2","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"2","payloadType":"num","x":313,"y":572,"wires":[["39c903d9ad714d5d"]]},{"id":"39c903d9ad714d5d","type":"function","z":"7f8714fa6e835a2a","name":"x + 2","func":"msg.payload += 2;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":526,"y":572,"wires":[["965dbb28855d5d69","f56141cacd74ad85","425ecd876d73f406"]]},{"id":"965dbb28855d5d69","type":"debug","z":"7f8714fa6e835a2a","name":"result","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":724,"y":426,"wires":[]},{"id":"4d442d86eda1fcc4","type":"debug","z":"7f8714fa6e835a2a","name":"result","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":1005,"y":697,"wires":[]},{"id":"f56141cacd74ad85","type":"join","z":"7f8714fa6e835a2a","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":932,"y":572,"wires":[["6daa9dbf2ff0fd0c"]]},{"id":"6daa9dbf2ff0fd0c","type":"function","z":"7f8714fa6e835a2a","name":"x * y","func":"msg.payload = msg.payload[0] * msg.payload[1];\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1123,"y":572,"wires":[["3fb5d5665435c419"]]},{"id":"c4cf2fd20f3cbd37","type":"debug","z":"7f8714fa6e835a2a","name":"result","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":1562,"y":572,"wires":[]},{"id":"3740a092fc867dc8","type":"function","z":"7f8714fa6e835a2a","name":"x + 5","func":"msg.payload += 5;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1127,"y":423,"wires":[["9484f0c1c5ddcdf9"]]},{"id":"ba6fcd9ca7edb9f5","type":"link in","z":"7f8714fa6e835a2a","name":"[intro] + 5 function","links":[],"x":930,"y":423,"wires":[["3740a092fc867dc8"]]},{"id":"9484f0c1c5ddcdf9","type":"link out","z":"7f8714fa6e835a2a","name":"link out 110","mode":"return","links":[],"x":1324,"y":423,"wires":[]},{"id":"3fb5d5665435c419","type":"link call","z":"7f8714fa6e835a2a","name":"","links":["ba6fcd9ca7edb9f5"],"linkType":"static","timeout":"30","x":1337,"y":572,"wires":[["c4cf2fd20f3cbd37"]]},{"id":"425ecd876d73f406","type":"link call","z":"7f8714fa6e835a2a","name":"","links":["ba6fcd9ca7edb9f5"],"linkType":"static","timeout":"30","x":734,"y":697,"wires":[["4d442d86eda1fcc4","f56141cacd74ad85"]]}]