7f8714fa6e835a2a/flows.json
[{"id":"7f8714fa6e835a2a","type":"tab","label":"[NR] intro","disabled":false,"info":"::: aim\n\nThe Node-RED basics.\n\n:::\n\n### Steps\n\nThe following steps are explained here:\n\n1. Adding two to an input of two, `2 + 2 = 4`.\n2. Reusing data to compute `4 + 5 = 9`\n3. Execute *some* time not at the *same* time, using join to combine data.\n\n","env":[]},{"id":"80f37ae872b2f29e","type":"inject","z":"7f8714fa6e835a2a","name":"2","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"2","payloadType":"num","x":313,"y":572,"wires":[["39c903d9ad714d5d"]]},{"id":"39c903d9ad714d5d","type":"function","z":"7f8714fa6e835a2a","name":"x + 2","func":"msg.payload += 2;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":526,"y":572,"wires":[["965dbb28855d5d69"]]},{"id":"965dbb28855d5d69","type":"debug","z":"7f8714fa6e835a2a","name":"result","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":763,"y":572,"wires":[]}]