7f8714fa6e835a2a/flows.json
[{"id":"7f8714fa6e835a2a","type":"tab","label":"[NR] intro","disabled":false,"info":"::: aim\n\nThe Node-RED basics.\n\n:::\n\n### Steps\n\nThe following steps are explained here:\n\n1. Adding two to an input of two, `2 + 2 = 4`. - <a class='rev-view-button' href='#' onclick='return sliderTo(200);'>step 1</a>\n2. Reusing data to compute `4 + 5 = 9` - <a class='rev-view-button' href='#' onclick='return sliderTo(100);'>step 2</a>\n3. Execute *some* time not at the *same* time, using join to combine data, to compute `9 * 4 = 36`. - <a class='rev-view-button' href='#' onclick='return sliderTo(0);'>step 3</a>\n\n<script>\n$(function(){\n    setTimeout( () => {\n      $('#sha99b0bd4c7a68ceac0c357d93bbf9fd1ae841a1e1').trigger('click');\n      $('#shaa145e160fb3c8adb811e5c39a1c7e99d57e7e9e4').trigger('click');\n      $('#sha4d4d1d05c7263e5e664090155daa204c6d1a5382').trigger('click');\n      setTimeout( ()=> {\n        $('#comparebutton').trigger('click')\n      },400);\n    },500);\n})\n</script>\n","env":[]},{"id":"80f37ae872b2f29e","type":"inject","z":"7f8714fa6e835a2a","name":"2","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"2","payloadType":"num","x":313,"y":572,"wires":[["39c903d9ad714d5d"]]},{"id":"39c903d9ad714d5d","type":"function","z":"7f8714fa6e835a2a","name":"x + 2","func":"msg.payload += 2;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":526,"y":572,"wires":[["965dbb28855d5d69","6ab5f9b915b5f52e","f56141cacd74ad85"]]},{"id":"965dbb28855d5d69","type":"debug","z":"7f8714fa6e835a2a","name":"result","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":724,"y":426,"wires":[]},{"id":"6ab5f9b915b5f52e","type":"function","z":"7f8714fa6e835a2a","name":"x + 5","func":"msg.payload += 5;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":764,"y":697,"wires":[["4d442d86eda1fcc4","f56141cacd74ad85"]]},{"id":"4d442d86eda1fcc4","type":"debug","z":"7f8714fa6e835a2a","name":"result","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":1005,"y":697,"wires":[]},{"id":"f56141cacd74ad85","type":"join","z":"7f8714fa6e835a2a","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1101,"y":572.5,"wires":[["6daa9dbf2ff0fd0c"]]},{"id":"6daa9dbf2ff0fd0c","type":"function","z":"7f8714fa6e835a2a","name":"x * y","func":"msg.payload = msg.payload[0] * msg.payload[1];\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1345,"y":572.5,"wires":[["c4cf2fd20f3cbd37"]]},{"id":"c4cf2fd20f3cbd37","type":"debug","z":"7f8714fa6e835a2a","name":"result","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":1562,"y":572.5,"wires":[]}]