e9825505105fbae9/flows.json
[{"id":"e9825505105fbae9","type":"tab","label":"Epigrams in Programming","disabled":false,"info":"Taken from [Yale](https://cpsc.yale.edu/epigrams-programming) and [Hacker News](https://news.ycombinator.com/item?id=38732223).\n\n","env":[]},{"id":"6ced696fd6c70368","type":"Inspiration","z":"e9825505105fbae9","name":"Epigrams in Programming","info":"https://cpsc.yale.edu/epigrams-programming\n\nhttp://www.cs.yale.edu/homes/perlis-alan/quotes.html\n\nhttps://en.wikipedia.org/wiki/Epigrams_on_Programming","sumPass":false,"sumPassPrio":0,"sumPassNodeId":"","createdAt":"2023-12-23T19:41:15.066Z","updatedAt":"2023-12-23T19:53:39.439Z","x":470,"y":168.6666669845581,"wires":[[]]},{"id":"350709742e7ec6ad","type":"Definition","z":"e9825505105fbae9","name":"epigram","info":"1\n: a concise poem dealing pointedly and often satirically with a single thought or event and often ending with an ingenious turn of thought\n\n2\n: a terse, sage, or witty and often paradoxical saying\n\nhttps://www.merriam-webster.com/dictionary/epigrams\n\n","sumPass":false,"sumPassPrio":0,"sumPassNodeId":"","createdAt":"2023-12-23T19:42:07.630Z","updatedAt":"2023-12-23T19:42:43.987Z","x":254.66661071777344,"y":100.66669273376465,"wires":[["6ced696fd6c70368"]]},{"id":"1212bedb53079c3b","type":"Inspiration","z":"e9825505105fbae9","name":"HN","info":"https://news.ycombinator.com/item?id=38732223","sumPass":false,"sumPassPrio":0,"sumPassNodeId":"","createdAt":"2023-12-23T19:43:01.769Z","updatedAt":"2023-12-23T19:43:13.589Z","x":225,"y":229.33330881595612,"wires":[["6ced696fd6c70368"]],"icon":"@gorenje/node-red-contrib-writermap-mindmap/hn.svg"},{"id":"d1448a1fb5971af5","type":"http request","z":"e9825505105fbae9","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://cpsc.yale.edu/epigrams-programming","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":194,"y":781.9999122619629,"wires":[["1456f31ec0b22dc9"]]},{"id":"1456f31ec0b22dc9","type":"html","z":"e9825505105fbae9","name":"","property":"payload","outproperty":"payload","tag":"p","ret":"html","as":"multi","x":212.3333282470703,"y":866.6665906906128,"wires":[["299b5ae6650e6abb"]]},{"id":"25e6472abb09933f","type":"inject","z":"e9825505105fbae9","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":190.66666412353516,"y":640.3332576751709,"wires":[["d1448a1fb5971af5"]]},{"id":"299b5ae6650e6abb","type":"function","z":"e9825505105fbae9","name":"function 16","func":"msg.payload = msg.payload.replaceAll(\n    \"&#x2019;\",\"'\"\n).replaceAll(\n    \"&#x2018;\",\"'\"\n).replaceAll(\n    \"&#x201C;\",'\"'\n).replaceAll(\n    \"&#x201D;\",'\"'\n).replaceAll(\n    \"&#39;\", \"'\"\n).replaceAll(\n    \"&quot;\", \"'\"\n).replaceAll(\n    \"&#8217;\", \"'\"\n)\n\nmsg.payload = {\n        \"id\": RED.util.generateId(),\n        \"type\": \"Text\",\n        \"name\": \"\",\n        \"info\": msg.payload,\n        \"sumPass\": false,\n        \"sumPassPrio\": 0,\n        \"sumPassNodeId\": \"\",\n        \"createdAt\": \"2023-12-23T19:54:12.623Z\",\n        \"updatedAt\": \"2023-12-23T19:54:25.964Z\",\n        \"x\": Math.floor(700 * Math.random()),\n        \"y\": Math.floor(800 * Math.random()),\n        \"wires\": [\n            []\n        ]\n    }\n\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":225.33320999145508,"y":949.3332595825195,"wires":[["a70e09cf7e28b422"]]},{"id":"a70e09cf7e28b422","type":"join","z":"e9825505105fbae9","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":229.33320999145508,"y":1021.6666164398193,"wires":[["e5c26f4de509112f"]]},{"id":"08d361891857f389","type":"ClientCode","z":"e9825505105fbae9","name":"pop up import dialog","clientcode":"setTimeout(() => {\n            RED.clipboard.import();\n        \n            setTimeout(() => {\n                $('#red-ui-clipboard-dialog-import-text').val(\n                   data.payload\n                ).trigger(\"paste\");\n            }, 300);\n        },400)","format":"javascript","x":412.66656494140625,"y":1183.6666164398193,"wires":[[]]},{"id":"e5c26f4de509112f","type":"json","z":"e9825505105fbae9","name":"","property":"payload","action":"str","pretty":false,"x":198.95208740234375,"y":1182.5237941741943,"wires":[["08d361891857f389"]]},{"id":"ee1126681d60fad3","type":"Text","z":"e9825505105fbae9","name":"","info":"1. One man's constant is another man's variable.","sumPass":false,"sumPassPrio":0,"sumPassNodeId":"","createdAt":"2023-12-23T19:54:12.623Z","updatedAt":"2023-12-23T19:54:25.964Z","x":1295.8331146240234,"y":349.58337688446045,"wires":[[]]},{"id":"ec292cc5fd2af8b6","type":"Text","z":"e9825505105fbae9","name":"","info":"2. Functions delay binding; data structures induce binding. Moral: Structure data late in the programming process.","sumPass":false,"sumPassPrio":0,"sumPassNodeId":"","createdAt":"2023-12-23T19:54:12.623Z","updatedAt":"2023-12-23T19:54:25.964Z","x":1325.8331146240234,"y":416.3982095718384,"wires":[[]]},{"id":"e3e692bb60f0f5ac","type":"Text","z":"e9825505105fbae9","name":"","info":"3. Syntactic sugar causes cancer of the semicolon.","sumPass":false,"sumPassPrio":0,"sumPassNodeId":"","createdAt":"2023-12-23T19:54:12.623Z","updatedAt":"2023-12-23T19:54:25.964Z","x":1295.8331146240234,"y":483.2130422592163,"wires":[[]]},{"id":"3e390adb216c8584","type":"Text","z":"e9825505105fbae9","name":"","info":"4. Every program is a part of some other program and rarely fits.","sumPass":false,"sumPassPrio":0,"sumPassNodeId":"","createdAt":"2023-12-23T19:54:12.623Z","updatedAt":"2023-12-23T19:54:25.964Z","x":1325.8331146240234,"y":538.0278749465942,"wires":[[]]},{"id":"3cfec4dd69de558c","type":"Text","z":"e9825505105fbae9","name":"","info":"5. If a program manipulates a large amount of data, it does so in a small number of ways.","sumPass":false,"sumPassPrio":0,"sumPassNodeId":"","createdAt":"2023-12-23T19:54:12.623Z","updatedAt":"2023-12-23T19:54:25.964Z","x":1325.8331146240234,"y":604.8427076339722,"wires":[[]]},{"id":"3b120be57e6a4a7c","type":"Text","z":"e9825505105fbae9","name":"","info":"6. Symmetry is a complexity-reducing concept (co-routines include subroutines); seek it everywhere.","sumPass":false,"sumPassPrio":0,"sumPassNodeId":"","createdAt":"2023-12-23T19:54:12.623Z","updatedAt":"2023-12-23T19:54:25.964Z","x":1325.8331146240234,"y":671.6575403213501,"wires":[[]]},{"id":"351c04e95b10731b","type":"Text","z":"e9825505105fbae9","name":"","info":"7. It is easier to write an incorrect program than understand a correct one.","sumPass":false,"sumPassPrio":0,"sumPassNodeId":"","createdAt":"2023-12-23T19:54:12.623Z","updatedAt":"2023-12-23T19:54:25.964Z","x":1285.8331146240234,"y":738.472373008728,"wires":[[]]},{"id":"79d92fdf1d045965","type":"Text","z":"e9825505105fbae9","name":"","info":"8. A programming language is low level when its programs require attention to the irrelevant.","sumPass":false,"sumPassPrio":0,"sumPassNodeId":"","createdAt":"2023-12-23T19:54:12.623Z","updatedAt":"2023-12-23T19:54:25.964Z","x":1325.8331146240234,"y":805.287205696106,"wires":[[]]},{"id":"7620e406eb644a32","type":"Text","z":"e9825505105fbae9","name":"","info":"9. It is better to have 100 functions operate on one data structure than 10 functions on 10 data structures.","sumPass":false,"sumPassPrio":0,"sumPassNodeId":"","createdAt":"2023-12-23T19:54:12.623Z","updatedAt":"2023-12-23T19:54:25.964Z","x":1315.8331146240234,"y":872.1020383834839,"wires":[[]]},{"id":"3654162064d8b804","type":"Text","z":"e9825505105fbae9","name":"","info":"10. Get into a rut early: Do the same process the same way. Accumulate idioms. Standardize. The only difference(!) between Shakespeare and you was the size of his idiom list - not the size of his vocabulary.","sumPass":false,"sumPassPrio":0,"sumPassNodeId":"","createdAt":"2023-12-23T19:54:12.623Z","updatedAt":"2023-12-23T19:54:25.964Z","x":1849.8331298828125,"y":296.9168701171875,"wires":[[]]},{"id":"f5f78f1fc7fedc52","type":"Text","z":"e9825505105fbae9","name":"","info":"11. If you have a procedure with ten parameters, you probably missed some.","sumPass":false,"sumPassPrio":0,"sumPassNodeId":"","createdAt":"2023-12-23T19:54:12.623Z","updatedAt":"2023-12-23T19:54:25.964Z","x":1835.4998779296875,"y":389.2501525878906,"wires":[[]]},{"id":"486055475fc7a9d7","type":"Text","z":"e9825505105fbae9","name":"","info":"12. Recursion is the root of computation since it trades description for time.","sumPass":false,"sumPassPrio":0,"sumPassNodeId":"","createdAt":"2023-12-23T19:54:12.623Z","updatedAt":"2023-12-23T19:54:25.964Z","x":1838.4998474121094,"y":456.1668095588684,"wires":[[]]},{"id":"a88dc4ab47b16ea0","type":"Text","z":"e9825505105fbae9","name":"","info":"13. If two people write exactly the same program, each should be put into microcode and then they certainly won't be the same.","sumPass":false,"sumPassPrio":0,"sumPassNodeId":"","createdAt":"2023-12-23T19:54:12.623Z","updatedAt":"2023-12-23T19:54:25.964Z","x":1858.4998474121094,"y":536.0834543704987,"wires":[[]]},{"id":"17c4edab65e069d8","type":"Text","z":"e9825505105fbae9","name":"","info":"14. In the long run every program becomes rococo - then rubble.","sumPass":false,"sumPassPrio":0,"sumPassNodeId":"","createdAt":"2023-12-23T19:54:12.623Z","updatedAt":"2023-12-23T19:54:25.964Z","x":1848.4998474121094,"y":616.0000991821289,"wires":[[]]},{"id":"f338ca2cc34ca855","type":"Text","z":"e9825505105fbae9","name":"","info":"15. Everything should be built top-down, except the first time.","sumPass":false,"sumPassPrio":0,"sumPassNodeId":"","createdAt":"2023-12-23T19:54:12.623Z","updatedAt":"2023-12-23T19:54:25.964Z","x":1848.4998474121094,"y":683.9167439937592,"wires":[[]]},{"id":"7113f77245568908","type":"Text","z":"e9825505105fbae9","name":"","info":"16. Every program has (at least) two purposes: the one for which it was written, and another for which it wasn't.","sumPass":false,"sumPassPrio":0,"sumPassNodeId":"","createdAt":"2023-12-23T19:54:12.623Z","updatedAt":"2023-12-23T19:54:25.964Z","x":1848.4998474121094,"y":763.8333888053894,"wires":[[]]},{"id":"88278007705d6c3b","type":"Text","z":"e9825505105fbae9","name":"","info":"17. If a listener nods his head when you're explaining your program, wake him up.","sumPass":false,"sumPassPrio":0,"sumPassNodeId":"","createdAt":"2023-12-23T19:54:12.623Z","updatedAt":"2023-12-23T19:54:25.964Z","x":1848.4998474121094,"y":843.7500336170197,"wires":[[]]},{"id":"37b41ec771570e0e","type":"Text","z":"e9825505105fbae9","name":"","info":"18. A program without a loop and a structured variable isn't worth writing.","sumPass":false,"sumPassPrio":0,"sumPassNodeId":"","createdAt":"2023-12-23T19:54:12.623Z","updatedAt":"2023-12-23T19:54:25.964Z","x":1858.4998474121094,"y":911.6666784286499,"wires":[[]]},{"id":"db79a228e75b0c4a","type":"Text","z":"e9825505105fbae9","name":"","info":"19. A language that doesn't affect the way you think about programming, is not worth knowing.","sumPass":false,"sumPassPrio":0,"sumPassNodeId":"","createdAt":"2023-12-23T19:54:12.623Z","updatedAt":"2023-12-23T19:54:25.964Z","x":1858.4998474121094,"y":979.5833232402802,"wires":[[]]},{"id":"538ed1fb752e231b","type":"Text","z":"e9825505105fbae9","name":"","info":"20. Wherever there is modularity there is the potential for misunderstanding: Hiding information implies a need to check communication.","sumPass":false,"sumPassPrio":0,"sumPassNodeId":"","createdAt":"2023-12-23T19:54:12.623Z","updatedAt":"2023-12-23T19:54:25.964Z","x":2467.99951171875,"y":326.2499198913574,"wires":[[]]},{"id":"bbca13c04133c1f1","type":"Text","z":"e9825505105fbae9","name":"","info":"21. Optimization hinders evolution.","sumPass":false,"sumPassPrio":0,"sumPassNodeId":"","createdAt":"2023-12-23T19:54:12.623Z","updatedAt":"2023-12-23T19:54:25.964Z","x":2377.99951171875,"y":397.32399664984814,"wires":[[]]},{"id":"9d0994ef6c76676c","type":"Text","z":"e9825505105fbae9","name":"","info":"22. A good system can't have a weak command language.","sumPass":false,"sumPassPrio":0,"sumPassNodeId":"","createdAt":"2023-12-23T19:54:12.623Z","updatedAt":"2023-12-23T19:54:25.964Z","x":2417.99951171875,"y":456.39807340833875,"wires":[[]]},{"id":"674a93b615543b86","type":"Text","z":"e9825505105fbae9","name":"","info":"23. To understand a program you must become both the machine and the program.","sumPass":false,"sumPassPrio":0,"sumPassNodeId":"","createdAt":"2023-12-23T19:54:12.623Z","updatedAt":"2023-12-23T19:54:25.964Z","x":2477.99951171875,"y":527.4721501668294,"wires":[[]]},{"id":"77e3a2b812eb42df","type":"Text","z":"e9825505105fbae9","name":"","info":"24. Perhaps if we wrote programs from childhood on, as adults we'd be able to read them.","sumPass":false,"sumPassPrio":0,"sumPassNodeId":"","createdAt":"2023-12-23T19:54:12.623Z","updatedAt":"2023-12-23T19:54:25.964Z","x":2447.99951171875,"y":598.5462269253201,"wires":[[]]},{"id":"c2a27abe65b0f6b3","type":"Text","z":"e9825505105fbae9","name":"","info":"25. One can only display complex information in the mind. Like seeing, movement or flow or alteration of view is more important than the static picture, no matter how lovely.","sumPass":false,"sumPassPrio":0,"sumPassNodeId":"","createdAt":"2023-12-23T19:54:12.623Z","updatedAt":"2023-12-23T19:54:25.964Z","x":2457.99951171875,"y":693.6203036838108,"wires":[[]]},{"id":"eecdfc3a67283a3a","type":"Text","z":"e9825505105fbae9","name":"","info":"26. There will always be things we wish to say in our programs that in all known languages can only be said poorly.","sumPass":false,"sumPassPrio":0,"sumPassNodeId":"","createdAt":"2023-12-23T19:54:12.623Z","updatedAt":"2023-12-23T19:54:25.964Z","x":2437.99951171875,"y":800.6943804423015,"wires":[[]]},{"id":"2af7de1e70200766","type":"Text","z":"e9825505105fbae9","name":"","info":"27. Once you understand how to write a program get someone else to write it.","sumPass":false,"sumPassPrio":0,"sumPassNodeId":"","createdAt":"2023-12-23T19:54:12.623Z","updatedAt":"2023-12-23T19:54:25.964Z","x":2467.99951171875,"y":883.7684572007922,"wires":[[]]},{"id":"21438b0ce22eb8ba","type":"Text","z":"e9825505105fbae9","name":"","info":"28. Around computers it is difficult to find the correct unit of time to measure progress. Some cathedrals took a century to complete. Can you imagine the grandeur and scope of a program that would take as long?","sumPass":false,"sumPassPrio":0,"sumPassNodeId":"","createdAt":"2023-12-23T19:54:12.623Z","updatedAt":"2023-12-23T19:54:25.964Z","x":2467.99951171875,"y":978.842533959283,"wires":[[]]},{"id":"3c1139d40f6794f7","type":"Text","z":"e9825505105fbae9","name":"","info":"29. For systems, the analogue of a face-lift is to add to the control graph an edge that creates a cycle, not just an additional node.","sumPass":false,"sumPassPrio":0,"sumPassNodeId":"","createdAt":"2023-12-23T19:54:12.623Z","updatedAt":"2023-12-23T19:54:25.964Z","x":2447.99951171875,"y":1085.9166107177734,"wires":[[]]},{"id":"3cc9436e396b9e9c","type":"Text","z":"e9825505105fbae9","name":"","info":"30. In programming, everything we do is a special case of something more general &#x2013; and often we know it too quickly.","sumPass":false,"sumPassPrio":0,"sumPassNodeId":"","createdAt":"2023-12-23T19:54:12.623Z","updatedAt":"2023-12-23T19:54:25.964Z","x":3045.4998474121094,"y":269.58284187316895,"wires":[[]]},{"id":"3bbbd8762df8fc60","type":"Text","z":"e9825505105fbae9","name":"","info":"31. Simplicity does not precede complexity, but follows it.","sumPass":false,"sumPassPrio":0,"sumPassNodeId":"","createdAt":"2023-12-23T19:54:12.623Z","updatedAt":"2023-12-23T19:54:25.964Z","x":3035.4998474121094,"y":356.84214528401696,"wires":[[]]},{"id":"5c4f3ff8f1853bfb","type":"Text","z":"e9825505105fbae9","name":"","info":"32. Programmers are not to be measured by their ingenuity and their logic but by the completeness of their case analysis.","sumPass":false,"sumPassPrio":0,"sumPassNodeId":"","createdAt":"2023-12-23T19:54:12.623Z","updatedAt":"2023-12-23T19:54:25.964Z","x":3045.4998474121094,"y":444.101448694865,"wires":[[]]},{"id":"1c02678cb8948519","type":"Text","z":"e9825505105fbae9","name":"","info":"33. The eleventh commandment was \"Thou Shalt Compute\" or \"Thou Shalt Not Compute\" - I forget which.","sumPass":false,"sumPassPrio":0,"sumPassNodeId":"","createdAt":"2023-12-23T19:54:12.623Z","updatedAt":"2023-12-23T19:54:25.964Z","x":3055.4998474121094,"y":531.3607521057129,"wires":[[]]},{"id":"50306554554b3c2b","type":"Text","z":"e9825505105fbae9","name":"","info":"34. The string is a stark data structure and everywhere it is passed there is much duplication of process. It is a perfect vehicle for hiding information.","sumPass":false,"sumPassPrio":0,"sumPassNodeId":"","createdAt":"2023-12-23T19:54:12.623Z","updatedAt":"2023-12-23T19:54:25.964Z","x":3035.4998474121094,"y":618.6200555165608,"wires":[[]]},{"id":"84787ff2d74f0296","type":"Text","z":"e9825505105fbae9","name":"","info":"35. Everyone can be taught to sculpt: Michelangelo would have had to be taught not to. So it is with great programmers.","sumPass":false,"sumPassPrio":0,"sumPassNodeId":"","createdAt":"2023-12-23T19:54:12.623Z","updatedAt":"2023-12-23T19:54:25.964Z","x":3035.4998474121094,"y":717.8793589274088,"wires":[[]]},{"id":"344d0ba21dc0c7e4","type":"Text","z":"e9825505105fbae9","name":"","info":"36. The use of a program to prove the 4-color theorem will not change mathematics - it merely demonstrates that the theorem, a challenge for a century, is probably not important to mathematics.","sumPass":false,"sumPassPrio":0,"sumPassNodeId":"","createdAt":"2023-12-23T19:54:12.623Z","updatedAt":"2023-12-23T19:54:25.964Z","x":3045.4998474121094,"y":829.1386623382568,"wires":[[]]},{"id":"07d3cd048ef76e72","type":"Text","z":"e9825505105fbae9","name":"","info":"37. The most important computer is the one that rages in our skulls and ever seeks that satisfactory external emulator. The standarization of real computers would be a disaster - and so it probably won't happen.","sumPass":false,"sumPassPrio":0,"sumPassNodeId":"","createdAt":"2023-12-23T19:54:12.623Z","updatedAt":"2023-12-23T19:54:25.964Z","x":3045.4998474121094,"y":952.3979657491049,"wires":[[]]},{"id":"fa0bbd83b111157a","type":"Text","z":"e9825505105fbae9","name":"","info":"38. Structured Programming supports the law of the excluded middle.","sumPass":false,"sumPassPrio":0,"sumPassNodeId":"","createdAt":"2023-12-23T19:54:12.623Z","updatedAt":"2023-12-23T19:54:25.964Z","x":3055.4998474121094,"y":1051.6572691599529,"wires":[[]]},{"id":"09dc159c1a98e874","type":"Text","z":"e9825505105fbae9","name":"","info":"39. Re graphics: A picture is worth 10K words - but only those to describe the picture. Hardly any sets of 10K words can be adequately described with pictures.","sumPass":false,"sumPassPrio":0,"sumPassNodeId":"","createdAt":"2023-12-23T19:54:12.623Z","updatedAt":"2023-12-23T19:54:25.964Z","x":3045.4998474121094,"y":1138.9165725708008,"wires":[[]]},{"id":"5250c3313a9a0d85","type":"Text","z":"e9825505105fbae9","name":"","info":"40. There are two ways to write error-free programs; only the third one works.","sumPass":false,"sumPassPrio":0,"sumPassNodeId":"","createdAt":"2023-12-23T19:54:12.623Z","updatedAt":"2023-12-23T19:54:25.964Z","x":3676.833984375,"y":411.5831489562988,"wires":[[]]},{"id":"235dad27133f9845","type":"Text","z":"e9825505105fbae9","name":"","info":"41. Some programming languages manage to absorb change, but withstand progress.","sumPass":false,"sumPassPrio":0,"sumPassNodeId":"","createdAt":"2023-12-23T19:54:12.623Z","updatedAt":"2023-12-23T19:54:25.964Z","x":3708.8328857421875,"y":480.2502098083496,"wires":[[]]},{"id":"db576ab2e5e66763","type":"Text","z":"e9825505105fbae9","name":"","info":"42. You can measure a programmer's perspective by noting his attitude on the continuing vitality of FORTRAN.","sumPass":false,"sumPassPrio":0,"sumPassNodeId":"","createdAt":"2023-12-23T19:54:12.623Z","updatedAt":"2023-12-23T19:54:25.964Z","x":3698.8328857421875,"y":550.8692139216832,"wires":[[]]},{"id":"303bf916955d6512","type":"Text","z":"e9825505105fbae9","name":"","info":"43. In software systems, it is often the early bird that makes the worm.","sumPass":false,"sumPassPrio":0,"sumPassNodeId":"","createdAt":"2023-12-23T19:54:12.623Z","updatedAt":"2023-12-23T19:54:25.964Z","x":3668.8328857421875,"y":621.4882180350169,"wires":[[]]},{"id":"5cc3097e61e56ee2","type":"Text","z":"e9825505105fbae9","name":"","info":"44.Sometimes I think the only universal in the computing field is the fetch-execute cycle.","sumPass":false,"sumPassPrio":0,"sumPassNodeId":"","createdAt":"2023-12-23T19:54:12.623Z","updatedAt":"2023-12-23T19:54:25.964Z","x":3678.8328857421875,"y":692.1072221483505,"wires":[[]]},{"id":"a1a2b984ba2bc562","type":"Text","z":"e9825505105fbae9","name":"","info":"45. The goal of computation is the emulation of our synthetic abilities, not the understanding of our analytic ones.","sumPass":false,"sumPassPrio":0,"sumPassNodeId":"","createdAt":"2023-12-23T19:54:12.623Z","updatedAt":"2023-12-23T19:54:25.964Z","x":3678.8328857421875,"y":774.7262262616841,"wires":[[]]},{"id":"b8f1a59d6a84410d","type":"Text","z":"e9825505105fbae9","name":"","info":"46. Like punning, programming is a play on words.","sumPass":false,"sumPassPrio":0,"sumPassNodeId":"","createdAt":"2023-12-23T19:54:12.623Z","updatedAt":"2023-12-23T19:54:25.964Z","x":3638.8328857421875,"y":857.3452303750178,"wires":[[]]},{"id":"13ddf1af9fe2ea50","type":"Text","z":"e9825505105fbae9","name":"","info":"47. As Will Rogers would have said, \"There is no such thing as a free variable.\"","sumPass":false,"sumPassPrio":0,"sumPassNodeId":"","createdAt":"2023-12-23T19:54:12.623Z","updatedAt":"2023-12-23T19:54:25.964Z","x":3688.8328857421875,"y":927.9642344883514,"wires":[[]]},{"id":"cfbcab529b4d8b99","type":"Text","z":"e9825505105fbae9","name":"","info":"48. The best book on programming for the layman is \"Alice in Wonderland\"; but that's because it's the best book on anything for the layman.","sumPass":false,"sumPassPrio":0,"sumPassNodeId":"","createdAt":"2023-12-23T19:54:12.623Z","updatedAt":"2023-12-23T19:54:25.964Z","x":3688.8328857421875,"y":1010.5832386016846,"wires":[[]]},{"id":"a160699693d37919","type":"Text","z":"e9825505105fbae9","name":"","info":"49. Giving up on assembly language was the apple in our Garden of Eden: Languages whose use squanders machine cycles are sinful. The LISP machine now permits LISP programmers to abandon bra and fig-leaf.","sumPass":false,"sumPassPrio":0,"sumPassNodeId":"","createdAt":"2023-12-23T19:54:12.623Z","updatedAt":"2023-12-23T19:54:25.964Z","x":3705.166778564453,"y":1124.9169578552246,"wires":[[]]},{"id":"4a2f8af27c74f7a2","type":"Text","z":"e9825505105fbae9","name":"","info":"50. When we understand knowledge-based systems, it will be as before &#x2013; except our fingertips will have been singed.","sumPass":false,"sumPassPrio":0,"sumPassNodeId":"","createdAt":"2023-12-23T19:54:12.623Z","updatedAt":"2023-12-23T19:54:25.964Z","x":4429.8331298828125,"y":362.250696182251,"wires":[[]]},{"id":"a738c9df8d9425dc","type":"Text","z":"e9825505105fbae9","name":"","info":"51. Bringing computers into the home won't change either one, but may revitalize the corner saloon.","sumPass":false,"sumPassPrio":0,"sumPassNodeId":"","createdAt":"2023-12-23T19:54:12.623Z","updatedAt":"2023-12-23T19:54:25.964Z","x":4419.8331298828125,"y":451.7923376560211,"wires":[[]]},{"id":"9971e0f3cf997568","type":"Text","z":"e9825505105fbae9","name":"","info":"52. Systems have sub-systems and sub-systems have sub- systems and so on ad infinitum - which is why we're always starting over.","sumPass":false,"sumPassPrio":0,"sumPassNodeId":"","createdAt":"2023-12-23T19:54:12.623Z","updatedAt":"2023-12-23T19:54:25.964Z","x":4419.8331298828125,"y":541.3339791297913,"wires":[[]]},{"id":"f631a981ecdaf06c","type":"Text","z":"e9825505105fbae9","name":"","info":"53. So many good ideas are never heard from again once they embark in a voyage on the semantic gulf.","sumPass":false,"sumPassPrio":0,"sumPassNodeId":"","createdAt":"2023-12-23T19:54:12.623Z","updatedAt":"2023-12-23T19:54:25.964Z","x":4429.8331298828125,"y":630.8756206035614,"wires":[[]]},{"id":"e6ac189787de690e","type":"Text","z":"e9825505105fbae9","name":"","info":"54. Beware of the Turing tar-pit in which everything is possible but nothing of interest is easy.","sumPass":false,"sumPassPrio":0,"sumPassNodeId":"","createdAt":"2023-12-23T19:54:12.623Z","updatedAt":"2023-12-23T19:54:25.964Z","x":4399.8331298828125,"y":708.4172620773315,"wires":[[]]},{"id":"cf73fdf05b693ba5","type":"Text","z":"e9825505105fbae9","name":"","info":"55. A LISP programmer knows the value of everything, but the cost of nothing.","sumPass":false,"sumPassPrio":0,"sumPassNodeId":"","createdAt":"2023-12-23T19:54:12.623Z","updatedAt":"2023-12-23T19:54:25.964Z","x":4429.8331298828125,"y":785.9589035511017,"wires":[[]]},{"id":"6dd92268f925b06d","type":"Text","z":"e9825505105fbae9","name":"","info":"56. Software is under a constant tension. Being symbolic it is arbitrarily perfectible; but also it is arbitrarily changeable.","sumPass":false,"sumPassPrio":0,"sumPassNodeId":"","createdAt":"2023-12-23T19:54:12.623Z","updatedAt":"2023-12-23T19:54:25.964Z","x":4419.8331298828125,"y":875.5005450248718,"wires":[[]]},{"id":"c025ae9209965b38","type":"Text","z":"e9825505105fbae9","name":"","info":"57. It is easier to change the specification to fit the program than vice versa.","sumPass":false,"sumPassPrio":0,"sumPassNodeId":"","createdAt":"2023-12-23T19:54:12.623Z","updatedAt":"2023-12-23T19:54:25.964Z","x":4389.8331298828125,"y":965.042186498642,"wires":[[]]},{"id":"3a8f54057df918a2","type":"Text","z":"e9825505105fbae9","name":"","info":"58. Fools ignore complexity. Pragmatists suffer it. Some can avoid it. Geniuses remove it.","sumPass":false,"sumPassPrio":0,"sumPassNodeId":"","createdAt":"2023-12-23T19:54:12.623Z","updatedAt":"2023-12-23T19:54:25.964Z","x":4419.8331298828125,"y":1042.583827972412,"wires":[[]]},{"id":"c9f944bd3c1593de","type":"Text","z":"e9825505105fbae9","name":"","info":"59. In English every word can be verbed. Would that it were so in our programming languages.","sumPass":false,"sumPassPrio":0,"sumPassNodeId":"","createdAt":"2023-12-23T19:54:12.623Z","updatedAt":"2023-12-23T19:54:25.964Z","x":4422.7496337890625,"y":1133.7500267028809,"wires":[[]]},{"id":"80cfa7ad4959129e","type":"Text","z":"e9825505105fbae9","name":"","info":"60. In seeking the unattainable, simplicity only gets in the way.","sumPass":false,"sumPassPrio":0,"sumPassNodeId":"","createdAt":"2023-12-23T19:54:12.623Z","updatedAt":"2023-12-23T19:54:25.964Z","x":1270.8343658447266,"y":1344.9167039659296,"wires":[[]]},{"id":"6fd5b908f003e149","type":"Text","z":"e9825505105fbae9","name":"","info":"61. In programming, as in everything else, to be in error is to be reborn.","sumPass":false,"sumPassPrio":0,"sumPassNodeId":"","createdAt":"2023-12-23T19:54:12.623Z","updatedAt":"2023-12-23T19:54:25.964Z","x":1270.8343658447266,"y":1415.9907403522075,"wires":[[]]},{"id":"1f38c99d3b9fc737","type":"Text","z":"e9825505105fbae9","name":"","info":"62. In computing, invariants are ephemeral.","sumPass":false,"sumPassPrio":0,"sumPassNodeId":"","createdAt":"2023-12-23T19:54:12.623Z","updatedAt":"2023-12-23T19:54:25.964Z","x":1230.8343658447266,"y":1475.0647767384853,"wires":[[]]},{"id":"2e9e3c421ed8d9a5","type":"Text","z":"e9825505105fbae9","name":"","info":"63. When we write programs that \"learn\", it turns out that we do and they don't.","sumPass":false,"sumPassPrio":0,"sumPassNodeId":"","createdAt":"2023-12-23T19:54:12.623Z","updatedAt":"2023-12-23T19:54:25.964Z","x":1270.8343658447266,"y":1534.1388131247631,"wires":[[]]},{"id":"c8370376cf7b6902","type":"Text","z":"e9825505105fbae9","name":"","info":"64. Often it is the means that justify the ends: Goals advance technique and technique survives even when goal structures crumble.","sumPass":false,"sumPassPrio":0,"sumPassNodeId":"","createdAt":"2023-12-23T19:54:12.623Z","updatedAt":"2023-12-23T19:54:25.964Z","x":1280.8343658447266,"y":1617.212849511041,"wires":[[]]},{"id":"a1bbe943792cca8b","type":"Text","z":"e9825505105fbae9","name":"","info":"65. Make no mistake about it: Computers process numbers - not symbols. We measure our understanding (and control) by the extent to which we can arithmetize an activity.","sumPass":false,"sumPassPrio":0,"sumPassNodeId":"","createdAt":"2023-12-23T19:54:12.623Z","updatedAt":"2023-12-23T19:54:25.964Z","x":1280.8343658447266,"y":1724.2868858973188,"wires":[[]]},{"id":"d5e3465257d2abd1","type":"Text","z":"e9825505105fbae9","name":"","info":"66. Making something variable is easy. Controlling duration of constancy is the trick.","sumPass":false,"sumPassPrio":0,"sumPassNodeId":"","createdAt":"2023-12-23T19:54:12.623Z","updatedAt":"2023-12-23T19:54:25.964Z","x":1280.8343658447266,"y":1819.3609222835967,"wires":[[]]},{"id":"03630b6c1f3bee41","type":"Text","z":"e9825505105fbae9","name":"","info":"67. Think of all the psychic energy expended in seeking a fundamental distinction between \"algorithm\" and \"program\".","sumPass":false,"sumPassPrio":0,"sumPassNodeId":"","createdAt":"2023-12-23T19:54:12.623Z","updatedAt":"2023-12-23T19:54:25.964Z","x":1270.8343658447266,"y":1902.4349586698745,"wires":[[]]},{"id":"0520549d4480106d","type":"Text","z":"e9825505105fbae9","name":"","info":"68. If we believe in data structures, we must believe in independent (hence simultaneous) processing. For why else would we collect items within a structure? Why do we tolerate languages that give us the one without the other?","sumPass":false,"sumPassPrio":0,"sumPassNodeId":"","createdAt":"2023-12-23T19:54:12.623Z","updatedAt":"2023-12-23T19:54:25.964Z","x":1280.8343658447266,"y":2021.5089950561523,"wires":[[]]},{"id":"a4944953dd00ad20","type":"Text","z":"e9825505105fbae9","name":"","info":"69. In a 5 year period we get one superb programming language. Only we can't control when the 5 year period will be.","sumPass":false,"sumPassPrio":0,"sumPassNodeId":"","createdAt":"2023-12-23T19:54:12.623Z","updatedAt":"2023-12-23T19:54:25.964Z","x":1280.8343658447266,"y":2140.583031442431,"wires":[[]]},{"id":"fbbf8b7853360c4e","type":"Text","z":"e9825505105fbae9","name":"","info":"70. Over the centuries the Indians developed sign language for communicating phenomena of interest. Programmers from different tribes (FORTRAN, LISP, ALGOL, SNOBOL, etc.) could use one that doesn't require them to carry a blackboard on their ponies.","sumPass":false,"sumPassPrio":0,"sumPassNodeId":"","createdAt":"2023-12-23T19:54:12.623Z","updatedAt":"2023-12-23T19:54:25.964Z","x":1974.2503204345703,"y":1375.7494488822076,"wires":[[]]},{"id":"ebeb4d0eeba9613a","type":"Text","z":"e9825505105fbae9","name":"","info":"71. Documentation is like term insurance: It satisfies because almost no one who subscribes to it depends on its benefits.","sumPass":false,"sumPassPrio":0,"sumPassNodeId":"","createdAt":"2023-12-23T19:54:12.623Z","updatedAt":"2023-12-23T19:54:25.964Z","x":1964.2503204345703,"y":1495.842079904343,"wires":[[]]},{"id":"0002e9d07ca7a93f","type":"Text","z":"e9825505105fbae9","name":"","info":"72. An adequate bootstrap is a contradiction in terms.","sumPass":false,"sumPassPrio":0,"sumPassNodeId":"","createdAt":"2023-12-23T19:54:12.623Z","updatedAt":"2023-12-23T19:54:25.964Z","x":1924.2503204345703,"y":1579.9347109264786,"wires":[[]]},{"id":"57368191b0770158","type":"Text","z":"e9825505105fbae9","name":"","info":"73. It is not a language's weakness but its strengths that control the gradient of its change: Alas, a language never escapes its embryonic sac.","sumPass":false,"sumPassPrio":0,"sumPassNodeId":"","createdAt":"2023-12-23T19:54:12.623Z","updatedAt":"2023-12-23T19:54:25.964Z","x":1954.2503204345703,"y":1664.027341948614,"wires":[[]]},{"id":"c4d93a2dc3083457","type":"Text","z":"e9825505105fbae9","name":"","info":"74. Is it possible that software is not like anything else, that it is meant to be discarded: that the whole point is to see it as a soap bubble?","sumPass":false,"sumPassPrio":0,"sumPassNodeId":"","createdAt":"2023-12-23T19:54:12.623Z","updatedAt":"2023-12-23T19:54:25.964Z","x":1954.2503204345703,"y":1760.1199729707496,"wires":[[]]},{"id":"a2e1b07e606988de","type":"Text","z":"e9825505105fbae9","name":"","info":"75. Because of its vitality, the computing field is always in desperate need of new cliches: Banality soothes our nerves.","sumPass":false,"sumPassPrio":0,"sumPassNodeId":"","createdAt":"2023-12-23T19:54:12.623Z","updatedAt":"2023-12-23T19:54:25.964Z","x":1954.2503204345703,"y":1856.212603992885,"wires":[[]]},{"id":"c44930e81820105c","type":"Text","z":"e9825505105fbae9","name":"","info":"76. It is the user who should parameterize procedures, not their creators.","sumPass":false,"sumPassPrio":0,"sumPassNodeId":"","createdAt":"2023-12-23T19:54:12.623Z","updatedAt":"2023-12-23T19:54:25.964Z","x":1964.2503204345703,"y":1940.3052350150206,"wires":[[]]},{"id":"a9f9c7009d3d00ab","type":"Text","z":"e9825505105fbae9","name":"","info":"77. The cybernetic exchange between man, computer and algorithm is like a game of musical chairs: The frantic search for balance always leaves one of the three standing ill at ease.","sumPass":false,"sumPassPrio":0,"sumPassNodeId":"","createdAt":"2023-12-23T19:54:12.623Z","updatedAt":"2023-12-23T19:54:25.964Z","x":1964.2503204345703,"y":2036.397866037156,"wires":[[]]},{"id":"387060766ee12104","type":"Text","z":"e9825505105fbae9","name":"","info":"78. If your computer speaks English, it was probably made in Japan.","sumPass":false,"sumPassPrio":0,"sumPassNodeId":"","createdAt":"2023-12-23T19:54:12.623Z","updatedAt":"2023-12-23T19:54:25.964Z","x":1964.2503204345703,"y":2132.490497059291,"wires":[[]]},{"id":"506e90ba4693f971","type":"Text","z":"e9825505105fbae9","name":"","info":"79. A year spent in artificial intelligence is enough to make one believe in God.","sumPass":false,"sumPassPrio":0,"sumPassNodeId":"","createdAt":"2023-12-23T19:54:12.623Z","updatedAt":"2023-12-23T19:54:25.964Z","x":1944.2503204345703,"y":2204.5831280814264,"wires":[[]]},{"id":"e43230d73b94b092","type":"Text","z":"e9825505105fbae9","name":"","info":"80. Prolonged contact with the computer turns mathematicians into clerks and vice versa.","sumPass":false,"sumPassPrio":0,"sumPassNodeId":"","createdAt":"2023-12-23T19:54:12.623Z","updatedAt":"2023-12-23T19:54:25.964Z","x":2542.1668701171875,"y":1323.9166648652808,"wires":[[]]},{"id":"e5f103eb02f0243d","type":"Text","z":"e9825505105fbae9","name":"","info":"81. In computing, turning the obvious into the useful is a living definition of the word \"frustration\".","sumPass":false,"sumPassPrio":0,"sumPassNodeId":"","createdAt":"2023-12-23T19:54:12.623Z","updatedAt":"2023-12-23T19:54:25.964Z","x":2522.1668701171875,"y":1411.6203883488963,"wires":[[]]},{"id":"804c7b84b5e8cff2","type":"Text","z":"e9825505105fbae9","name":"","info":"82. We are on the verge: Today our program proved Fermat's next-to-last theorem.","sumPass":false,"sumPassPrio":0,"sumPassNodeId":"","createdAt":"2023-12-23T19:54:12.623Z","updatedAt":"2023-12-23T19:54:25.964Z","x":2532.1668701171875,"y":1499.3241118325118,"wires":[[]]},{"id":"463f7424da68a351","type":"Text","z":"e9825505105fbae9","name":"","info":"83. What is the difference between a Turing machine and the modern computer? It's the same as that between Hillary's ascent of Everest and the establishment of a Hilton hotel on its peak.","sumPass":false,"sumPassPrio":0,"sumPassNodeId":"","createdAt":"2023-12-23T19:54:12.623Z","updatedAt":"2023-12-23T19:54:25.964Z","x":2532.1668701171875,"y":1611.0278353161273,"wires":[[]]},{"id":"2da4524f9ba97775","type":"Text","z":"e9825505105fbae9","name":"","info":"84. Motto for a research laboratory: What we work on today, others will first think of tomorrow.","sumPass":false,"sumPassPrio":0,"sumPassNodeId":"","createdAt":"2023-12-23T19:54:12.623Z","updatedAt":"2023-12-23T19:54:25.964Z","x":2532.1668701171875,"y":1722.7315587997427,"wires":[[]]},{"id":"1daa6850350c4ca0","type":"Text","z":"e9825505105fbae9","name":"","info":"85. Though the Chinese should adore APL, it's FORTRAN they put their money on.","sumPass":false,"sumPassPrio":0,"sumPassNodeId":"","createdAt":"2023-12-23T19:54:12.623Z","updatedAt":"2023-12-23T19:54:25.964Z","x":2542.1668701171875,"y":1810.4352822833582,"wires":[[]]},{"id":"d46c244839d3b904","type":"Text","z":"e9825505105fbae9","name":"","info":"86. We kid ourselves if we think that the ratio of procedure to data in an active data-base system can be made arbitrarily small or even kept small.","sumPass":false,"sumPassPrio":0,"sumPassNodeId":"","createdAt":"2023-12-23T19:54:12.623Z","updatedAt":"2023-12-23T19:54:25.964Z","x":2532.1668701171875,"y":1910.1390057669737,"wires":[[]]},{"id":"0c87a557ef27070b","type":"Text","z":"e9825505105fbae9","name":"","info":"87. We have the mini and the micro computer. In what semantic niche would the pico computer fall?","sumPass":false,"sumPassPrio":0,"sumPassNodeId":"","createdAt":"2023-12-23T19:54:12.623Z","updatedAt":"2023-12-23T19:54:25.964Z","x":2512.1668701171875,"y":2009.8427292505892,"wires":[[]]},{"id":"700d716604a04f05","type":"Text","z":"e9825505105fbae9","name":"","info":"88. It is not the computer's fault that Maxwell's equations are not adequate to design the electric motor.","sumPass":false,"sumPassPrio":0,"sumPassNodeId":"","createdAt":"2023-12-23T19:54:12.623Z","updatedAt":"2023-12-23T19:54:25.964Z","x":2522.1668701171875,"y":2097.5464527342046,"wires":[[]]},{"id":"f920fa9c8eea8ac2","type":"Text","z":"e9825505105fbae9","name":"","info":"89. One does not learn computing by using a hand calculator, but one can forget arithmetic.","sumPass":false,"sumPassPrio":0,"sumPassNodeId":"","createdAt":"2023-12-23T19:54:12.623Z","updatedAt":"2023-12-23T19:54:25.964Z","x":2542.1668701171875,"y":2185.25017621782,"wires":[[]]},{"id":"f09719bd7dc02c1c","type":"Text","z":"e9825505105fbae9","name":"","info":"90. Computation has made the tree flower.","sumPass":false,"sumPassPrio":0,"sumPassNodeId":"","createdAt":"2023-12-23T19:54:12.623Z","updatedAt":"2023-12-23T19:54:25.964Z","x":3162.1668395996094,"y":1395.9163644313812,"wires":[[]]},{"id":"3e3f302466b7f5e9","type":"Text","z":"e9825505105fbae9","name":"","info":"91. The computer reminds one of Lon Chaney – it is the machine of a thousand faces.","sumPass":false,"sumPassPrio":0,"sumPassNodeId":"","createdAt":"2023-12-23T19:54:12.623Z","updatedAt":"2023-12-23T21:34:36.382Z","x":3202.1668395996094,"y":1459.1570994059246,"wires":[[]]},{"id":"500f4ea192c55ca1","type":"Text","z":"e9825505105fbae9","name":"","info":"92. The computer is the ultimate polluter: its feces are indistinguish- able from the food it produces.","sumPass":false,"sumPassPrio":0,"sumPassNodeId":"","createdAt":"2023-12-23T19:54:12.623Z","updatedAt":"2023-12-23T19:54:25.964Z","x":3192.1668395996094,"y":1534.3978343804679,"wires":[[]]},{"id":"a06c722d7d2bb1e5","type":"Text","z":"e9825505105fbae9","name":"","info":"93. When someone says \"I want a programming language in which I need only say what I wish done,\" give him a lollipop.","sumPass":false,"sumPassPrio":0,"sumPassNodeId":"","createdAt":"2023-12-23T19:54:12.623Z","updatedAt":"2023-12-23T19:54:25.964Z","x":3212.1668395996094,"y":1621.6385693550112,"wires":[[]]},{"id":"e51ef1c16e294938","type":"Text","z":"e9825505105fbae9","name":"","info":"94. Interfaces keep things tidy, but don't accelerate growth: Functions do.","sumPass":false,"sumPassPrio":0,"sumPassNodeId":"","createdAt":"2023-12-23T19:54:12.623Z","updatedAt":"2023-12-23T19:54:25.964Z","x":3182.1668395996094,"y":1708.8793043295545,"wires":[[]]},{"id":"9d2675aab4551795","type":"Text","z":"e9825505105fbae9","name":"","info":"95. Don't have good ideas if you aren't willing to be responsible for them.","sumPass":false,"sumPassPrio":0,"sumPassNodeId":"","createdAt":"2023-12-23T19:54:12.623Z","updatedAt":"2023-12-23T19:54:25.964Z","x":3182.1668395996094,"y":1784.1200393040979,"wires":[[]]},{"id":"303e23be96d8d188","type":"Text","z":"e9825505105fbae9","name":"","info":"96. Computers don't introduce order anywhere as much as they expose opportunities.","sumPass":false,"sumPassPrio":0,"sumPassNodeId":"","createdAt":"2023-12-23T19:54:12.623Z","updatedAt":"2023-12-23T19:54:25.964Z","x":3222.1668395996094,"y":1859.3607742786412,"wires":[[]]},{"id":"ca6d0f64baa8a406","type":"Text","z":"e9825505105fbae9","name":"","info":"97. When a professor insists computer science is X but not Y, have compassion for his graduate students.","sumPass":false,"sumPassPrio":0,"sumPassNodeId":"","createdAt":"2023-12-23T19:54:12.623Z","updatedAt":"2023-12-23T19:54:25.964Z","x":3212.1668395996094,"y":1934.6015092531845,"wires":[[]]},{"id":"1a3f1e3aafd568bd","type":"Text","z":"e9825505105fbae9","name":"","info":"98. In computing, the mean time to failure keeps getting shorter.","sumPass":false,"sumPassPrio":0,"sumPassNodeId":"","createdAt":"2023-12-23T19:54:12.623Z","updatedAt":"2023-12-23T19:54:25.964Z","x":3202.1668395996094,"y":2009.8422442277279,"wires":[[]]},{"id":"b53dcf901294e386","type":"Text","z":"e9825505105fbae9","name":"","info":"99. In man-machine symbiosis, it is man who must adjust: The machines can't.","sumPass":false,"sumPassPrio":0,"sumPassNodeId":"","createdAt":"2023-12-23T19:54:12.623Z","updatedAt":"2023-12-23T19:54:25.964Z","x":3222.1668395996094,"y":2085.0829792022705,"wires":[[]]},{"id":"986fb1fc6e1cc29c","type":"Text","z":"e9825505105fbae9","name":"","info":"100. We will never run out of things to program as long as there is a single program around.","sumPass":false,"sumPassPrio":0,"sumPassNodeId":"","createdAt":"2023-12-23T19:54:12.623Z","updatedAt":"2023-12-23T19:54:25.964Z","x":3874.3333435058594,"y":1363.582893371582,"wires":[[]]},{"id":"01733305427b6cab","type":"Text","z":"e9825505105fbae9","name":"","info":"101. Dealing with failure is easy: Work hard to improve. Success is also easy to handle: You've solved the wrong problem. Work hard to improve.","sumPass":false,"sumPassPrio":0,"sumPassNodeId":"","createdAt":"2023-12-23T19:54:12.623Z","updatedAt":"2023-12-23T19:54:25.964Z","x":3874.3333435058594,"y":1442.2162590026855,"wires":[[]]},{"id":"c2656c48a0aefdaa","type":"Text","z":"e9825505105fbae9","name":"","info":"102. One can't proceed from the informal to the formal by formal means.","sumPass":false,"sumPassPrio":0,"sumPassNodeId":"","createdAt":"2023-12-23T19:54:12.623Z","updatedAt":"2023-12-23T19:54:25.964Z","x":3874.3333435058594,"y":1520.849624633789,"wires":[[]]},{"id":"cb6a6dd4226ed3c2","type":"Text","z":"e9825505105fbae9","name":"","info":"103. Purely applicative languages are poorly applicable.","sumPass":false,"sumPassPrio":0,"sumPassNodeId":"","createdAt":"2023-12-23T19:54:12.623Z","updatedAt":"2023-12-23T19:54:25.964Z","x":3834.3333435058594,"y":1587.4829902648926,"wires":[[]]},{"id":"74d54223d6d9e959","type":"Text","z":"e9825505105fbae9","name":"","info":"104. The proof of a system's value is its existence.","sumPass":false,"sumPassPrio":0,"sumPassNodeId":"","createdAt":"2023-12-23T19:54:12.623Z","updatedAt":"2023-12-23T19:54:25.964Z","x":3824.3333435058594,"y":1654.116355895996,"wires":[[]]},{"id":"84fad457985bb939","type":"Text","z":"e9825505105fbae9","name":"","info":"105. You can't communicate complexity, only an awareness of it.","sumPass":false,"sumPassPrio":0,"sumPassNodeId":"","createdAt":"2023-12-23T19:54:12.623Z","updatedAt":"2023-12-23T19:54:25.964Z","x":3894.3333435058594,"y":1720.7497215270996,"wires":[[]]},{"id":"0eb948eeeeab7219","type":"Text","z":"e9825505105fbae9","name":"","info":"106. It's difficult to extract sense from strings, but they're the only communication coin we can count on.","sumPass":false,"sumPassPrio":0,"sumPassNodeId":"","createdAt":"2023-12-23T19:54:12.623Z","updatedAt":"2023-12-23T19:54:25.964Z","x":3854.3333435058594,"y":1799.3830871582031,"wires":[[]]},{"id":"7b8ca319a22db0f9","type":"Text","z":"e9825505105fbae9","name":"","info":"107. The debate rages on: is PL/I Bachtrian or Dromedary?","sumPass":false,"sumPassPrio":0,"sumPassNodeId":"","createdAt":"2023-12-23T19:54:12.623Z","updatedAt":"2023-12-23T19:54:25.964Z","x":3844.3333435058594,"y":1878.0164527893066,"wires":[[]]},{"id":"3398ab6a67f2720c","type":"Text","z":"e9825505105fbae9","name":"","info":"108. Whenever two programmers meet to criticize their programs, both are silent.","sumPass":false,"sumPassPrio":0,"sumPassNodeId":"","createdAt":"2023-12-23T19:54:12.623Z","updatedAt":"2023-12-23T19:54:25.964Z","x":3864.3333435058594,"y":1944.6498184204102,"wires":[[]]},{"id":"92916eae7193e351","type":"Text","z":"e9825505105fbae9","name":"","info":"109. Think of it! With VLSI we can pack 100 ENIACS in 1 sq. cm.","sumPass":false,"sumPassPrio":0,"sumPassNodeId":"","createdAt":"2023-12-23T19:54:12.623Z","updatedAt":"2023-12-23T19:54:25.964Z","x":3884.3333435058594,"y":2011.2831840515137,"wires":[[]]},{"id":"2862c7309070dae8","type":"Text","z":"e9825505105fbae9","name":"","info":"110. Editing is a rewording activity.","sumPass":false,"sumPassPrio":0,"sumPassNodeId":"","createdAt":"2023-12-23T19:54:12.623Z","updatedAt":"2023-12-23T19:54:25.964Z","x":3804.3333435058594,"y":2065.916549682617,"wires":[[]]},{"id":"11d9e1266554e957","type":"Text","z":"e9825505105fbae9","name":"","info":"111. Why did the Roman Empire collapse? What is Latin for office automation?","sumPass":false,"sumPassPrio":0,"sumPassNodeId":"","createdAt":"2023-12-23T19:54:12.623Z","updatedAt":"2023-12-23T19:54:25.964Z","x":4504.166885375977,"y":1339.0001011010663,"wires":[[]]},{"id":"36105b08132e2f04","type":"Text","z":"e9825505105fbae9","name":"","info":"112. Computer Science is embarrassed by the computer.","sumPass":false,"sumPassPrio":0,"sumPassNodeId":"","createdAt":"2023-12-23T19:54:12.623Z","updatedAt":"2023-12-23T19:54:25.964Z","x":4462.083511352539,"y":1410.0002794977681,"wires":[[]]},{"id":"6876bea9068accf1","type":"Text","z":"e9825505105fbae9","name":"","info":"113. The only constructive theory connecting neuroscience and psychology will arise from the study of software.","sumPass":false,"sumPassPrio":0,"sumPassNodeId":"","createdAt":"2023-12-23T19:54:12.623Z","updatedAt":"2023-12-23T19:54:25.964Z","x":4502.083511352539,"y":1490.5419524278896,"wires":[[]]},{"id":"ab43396b07f3df32","type":"Text","z":"e9825505105fbae9","name":"","info":"114. Within a computer natural language is unnatural.","sumPass":false,"sumPassPrio":0,"sumPassNodeId":"","createdAt":"2023-12-23T19:54:12.623Z","updatedAt":"2023-12-23T19:54:25.964Z","x":4452.083511352539,"y":1571.083625358011,"wires":[[]]},{"id":"6a0c3b8af954b115","type":"Text","z":"e9825505105fbae9","name":"","info":"115. Most people find the concept of programming obvious, but the doing impossible.","sumPass":false,"sumPassPrio":0,"sumPassNodeId":"","createdAt":"2023-12-23T19:54:12.623Z","updatedAt":"2023-12-23T19:54:25.964Z","x":4502.083511352539,"y":1639.6252982881324,"wires":[[]]},{"id":"5f3f8a931b89280d","type":"Text","z":"e9825505105fbae9","name":"","info":"116. You think you know when you can learn, are more sure when you can write, even more when you can teach, but certain when you can program.","sumPass":false,"sumPassPrio":0,"sumPassNodeId":"","createdAt":"2023-12-23T19:54:12.623Z","updatedAt":"2023-12-23T19:54:25.964Z","x":4502.083511352539,"y":1720.1669712182538,"wires":[[]]},{"id":"4fe8d3874e1820d9","type":"Text","z":"e9825505105fbae9","name":"","info":"117. It goes against the grain of modern education to teach children to program. What fun is there in making plans, acquiring discipline in organizing thoughts, devoting attention to detail and learning to be self-critical?","sumPass":false,"sumPassPrio":0,"sumPassNodeId":"","createdAt":"2023-12-23T19:54:12.623Z","updatedAt":"2023-12-23T19:54:25.964Z","x":4502.083511352539,"y":1824.7086441483752,"wires":[[]]},{"id":"3074a8896989d771","type":"Text","z":"e9825505105fbae9","name":"","info":"118. If you can imagine a society in which the computer- robot is the only menial, you can imagine anything.","sumPass":false,"sumPassPrio":0,"sumPassNodeId":"","createdAt":"2023-12-23T19:54:12.623Z","updatedAt":"2023-12-23T19:54:25.964Z","x":4492.083511352539,"y":1929.2503170784967,"wires":[[]]},{"id":"ab8cf1910866c105","type":"Text","z":"e9825505105fbae9","name":"","info":"119. Programming is an unnatural act.","sumPass":false,"sumPassPrio":0,"sumPassNodeId":"","createdAt":"2023-12-23T19:54:12.623Z","updatedAt":"2023-12-23T19:54:25.964Z","x":4432.083511352539,"y":1997.791990008618,"wires":[[]]},{"id":"999152cda9bc4f54","type":"Text","z":"e9825505105fbae9","name":"","info":"120. Adapting old programs to fit new machines usually means adapting new machines to behave like old ones.","sumPass":false,"sumPassPrio":0,"sumPassNodeId":"","createdAt":"2023-12-23T19:54:12.623Z","updatedAt":"2023-12-23T19:54:25.964Z","x":4512.083511352539,"y":2066.3336629387395,"wires":[[]]}]